/* ============================================
 Members Page
============================================ */

/* Reset */
body{
	margin:0;
	padding:0;
	color: #000;
	width: 100%;
	line-height: 1.5;
}

ul,li{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
 
img{
	border: none;
}

p{
	margin: 0;
	padding: 0;
}

/* Common */
.fLeft{
	float: left;
}

.fRight{
	float: right;
}

.center{
	text-align: center !important;
}
.right{
	text-align: right;
}
.f-small{
	font-size: 77%;
}

.mb10{
	margin-bottom: 10px;
}
.mb15{
	margin-bottom: 15px;
}
.mb30{
	margin-bottom: 30px;
}
.mt20{
	margin-top: 20px;
}

.clearfix:after{  
	visibility: hidden;
	display: block;
	font-size:0;
	content: " ";
	clear: both;
	height: 0;
}

.hide {
	display:none;
}

img.hover:hover {
	opacity: 0.7;
	filter: alpha(opacity=80);
	-ms-filter: "alpha(opacity=80)";
}

.pageTop {
	width:900px;
	margin:0 auto;
	_padding-top:0px;
	clear:both;
}

/* Page Layout */
#body{
	width: 100%;
	margin:0;
	padding: 0;
	text-align: center;
}

/* Header */
#header-e{
	width: 100%;
	color: #000;
	/*padding-bottom:25px;*/
}
#header-e:after{  
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

h1{
	background: none !important;
	border: none !important;
}

#header {
	margin-bottom: 0px;
}





.content {
	width:900px;
	margin:0 auto;
	background-color:#FFFFFF;
	padding-bottom:50px;
}

.title {
	width:100%;
	background-color:#008576;
}

/* Main Area */
.main {
	width: 900px;
	margin:0 auto;
	clear: both;
	font-size:18px;
	text-align:justify;
	text-justify:distribute;
}

.main:after {  
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


.main_bg {
	color:#444444;
	margin-bottom:55px;
}

.oubo {
	margin-bottom:40px;
}

.oubo th {
	background-color:#f7f7f7;
	font-size:16px;
	padding:15px 30px;
	border-bottom:#dfdfdf solid 1px;
	border-left:#dfdfdf solid 1px;
	white-space:nowrap;
	font-weight:bold;
}

.oubo td {
	font-size:16px;
	padding:15px 30px 15px 15px;
	border-bottom:#dfdfdf solid 1px;
	border-right:#dfdfdf solid 1px;
}

.otoku {
	border:#ffcc00 solid 1px;
	border-radius:10px;
	padding:30px;
	background-color:#ffcc00;
	margin-bottom:50px;
}

.otoku_bottom {
	background:url(../img/otoku_bottom.gif) no-repeat center bottom;
	width:840px;
	height:42px;
	position:relative;
	margin-bottom:18px;
}

.otoku_bottom .link {
	position:absolute;
	left:572px;
	top:18px;
}

a.btn1 {
	width:420px;
	height:64px;
	display:block;
	margin:0 auto;
	cursor:pointer;
}