/*==========================================

business_solution

==========================================*/

#business_solution .ContentsArea-2col h2{
background:url(../image/ttl_h2_2clm_biz.png) no-repeat left top;
}

#business_solution .ContentsArea-2col h2 a{
background:url(../image/icon_01.gif) no-repeat left 0.2em;
line-height:1.3;
}

#business_solution .ContentsArea-2col .articleTypeB{
border-top:#D4CBB7 solid 3px;
width:330px;
margin-left:3px;
padding:10px 10px 5px 10px;
zoom:1;
}

.sendTtlBold{
line-height:1.3;
}

h2.secnoLink_bu{
padding:14px 20px 10px 20px !important;
}

.c_bu{
color:#666;
}

/*------------------------------------------
@ index
------------------------------------------*/
.ContentsArea.subLink{
position:relative;
}

.ContentsArea p.ttlSubLink,
.tabArea p.ttlSubLink{
position:absolute;
top:12px;
right:15px;
}

#business_solution .boxSection .boxTypeB dt {
color: #333;
}
#business_solution .boxSection .boxTypeB dt p {
color: #008576;
font-size: 90% !important;
font-weight:normal;
}

.subClmSltLink{
margin-top:12px;
padding:12px 0 8px;
background-color:#D7EFEC;
text-align:center;
clear:both;
}

/*------------------------------------------
@ detail
------------------------------------------*/
.ttlImg04 h2{
color:#333;
padding:0;
background:none;
}

.ttlImg04 .bodTopIn710{
border-top:#D8D3C7 solid 3px;
}

/*------------------------------------------
@ problemBox
------------------------------------------*/
#problemBox ul{
float:left;
width:540px;
}

#problemBox #problemImg{
float:right;
width:130px;
padding-top:5px;
}

#problemBox .btnTxtBox a{
width:540px;
background:url(../image/bg_btnBoxT07.gif) no-repeat left top;
}

#problemBox .btnTxtInNoIcon{
width:515px;
background:url(../image/bg_btnBoxB07.gif) no-repeat left bottom;
}

/*------------------------------------------
@ problemSubBox
------------------------------------------*/
.problemSubBox{
width:670px;
margin:0 auto;
padding:14px 0 0;
background:url(../image/bg_problem_sub_top.gif) no-repeat left top;
text-align:left;
}

.problemSubBoxBottom{
padding:0 0 14px;
background:url(../image/bg_problem_sub_bottom.gif) no-repeat left bottom;
zoom:1;
}

.problemSubBoxBottom:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

.problemSubBoxInner{
padding:0 17px;
background:url(../image/bg_problem_sub.gif) repeat-y 0 0;
}
/*
.problemSubBoxInner ol{
margin:0;
padding:0 0 0 20px;
}
*/
.problemSubBoxInner ol li{
padding-bottom:5px;
}

.problemSubBoxInner ul li{
float:left;
width:295px;
margin-bottom:5px !important;
padding:0 0 0 12px;
background:url(../image/icon_list.gif) no-repeat left 0.5em;
font-weight:bold;
}

/*------------------------------------------
@ solutionBox
------------------------------------------*/
.solutionBox{
width:672px;
margin:5px auto;
padding:18px 0 0;
background:url(../image/bg_solution_top.gif) no-repeat left top;
text-align:left;
}

.solutionBoxBottom{
padding:0 0 18px;
background:url(../image/bg_solution_bottom.gif) no-repeat left bottom;
}

.solutionBoxInner{
padding:0 17px;
background:url(../image/bg_solution.gif) repeat-y 0 0;
}

.solutionImg{
float:left;
width:167px;
}

.solutionText{
float:right;
width:451px;
}

.solutionText h3{
border-left:none;
padding:0;
}

.solutionText h4{
font-weight:bold;
}

.solutionText ol{
margin-top:12px;
/*margin:12px 0 0;
padding:0 0 0 20px;*/
}

.solutionText ol li{
padding-bottom:5px;
}

*html .solutionText ol{
padding:0 0 0 25px;
}

*:first-child+html .solutionText ol{
padding:0 0 0 25px;
}

#main .sectionCont .solutionText li{
list-style:decimal;
margin-bottom:5px;
zoom:normal
}

p.featureBox{
margin-top:5px;
padding:5px 8px;
border:1px solid #999;
}

.prForIe6_20{_padding-left:20px !important;}

/*------------------------------------------
@ serviceList
------------------------------------------*/
.serviceList{
margin:20px auto 0;
text-align:center;
}

.serviceList li{
display:inline;
}

/*------------------------------------------
@ solutionLinkBox
------------------------------------------*/
.solutionLinkBox{
width:670px;
margin:20px auto;
padding:14px 0 0;
background:url(../image/bg_link_box_top.gif) no-repeat left top;
text-align:left;
}

.solutionLinkBoxBottom{
padding:0 0 14px;
background:url(../image/bg_link_box_bottom.gif) no-repeat left bottom;
}

.solutionLinkBoxInner{
padding:0 14px;
background:url(../image/bg_link_box.gif) repeat-y 0 0;
}

.solutionLinkBox02{
width:710px;
margin:20px auto 0;
padding:14px 0 0;
background:url(../image/bg_link_box02_top.gif) no-repeat left top;
text-align:left;
}

.solutionLinkBox02Bottom{
padding:0 0 14px;
background:url(../image/bg_link_box02_bottom.gif) no-repeat left bottom;
}

.solutionLinkBox02Inner{
padding:0 14px;
background:url(../image/bg_link_box02.gif) repeat-y 0 0;
}

.solutionLinkBoxInner dl{
background:url(../image/bg_link_box_dotline.gif) repeat-y 0 0;
}

.solutionLinkBoxInner dt{
float:left;
width:170px;
}

.solutionLinkBoxInner dd{
float:right;
width:452px;
}

.solutionLinkBoxInner dd a{
font-weight:bold;
}

/*------------------------------------------
@ contactBox
------------------------------------------*/
#business_solution #contactBox .ContentsBtm {
background:url(../image/bg_contact_bottom.gif) no-repeat left bottom;
}

#business_solution #contactBox .ContentsInner {
padding:10px 20px;
background:url(../image/bg_contact.gif) repeat-y 0 0;
}

#business_solution #main #contactBox .ContentsInner p{
margin-bottom:10px;
}
#business_solution #main .ContentsInner .solutionLinkBox{
margin:0 auto;
}

#contactBox ul{
width:670px;
margin-left:3px;
}

#business_solution #main #contactBox .ContentsInner li{
float:left;
margin-right:34px;
}

.contactText{
float:left;
width:404px;
}

.contactText h3{
border-left:none;
margin-bottom:6px;
padding:0;
}

.contactText p{
margin-bottom:0;
}

#business_solution #main #contactBox .ContentsInner .contactText p{
margin-bottom:0;
}

.contactBtn{
float:right;
width:218px;
}

/* #aside
----------------------------------*/
#aside .bgBtnBoxT_as{
padding-bottom:16px;
margin-bottom:15px;
/*_padding-bottom:15px;*/
background:url(../../common/image/shared/aside/bg_btnBoxB_aside.png) no-repeat bottom left;
}

#aside .bgBtnBoxB_as{
padding:15px 14px 0 14px;
text-align:left;
background:url(../../common/image/shared/aside/bg_btnBoxT_aside.png) no-repeat top left;
}

/*ナンバリング*/
.decimalKakkoAttn_bu{
padding-top:5px;
}

.decimalKakkoAttn_bu dt{
float:left;	
}

.decimalKakkoAttn_bu dd{
line-height:1.3em;
float:right;
width:97%;	
}

/* btnTxtBoxS(move from base_layout.css) */
.btnTxtBoxS,
.btnTxtBoxSsum{
margin-bottom:5px;
position:relative;
}

.btnTxtBoxS a{
display:block;
width:326px;
padding:13px 0 0 0;
background:url(../../common/image/shared/bg_btnBox2ColT.gif) no-repeat top left;
cursor:pointer;
}
.btnTxtBoxSsum a{
display:block;
width:326px;
padding:25px 0 0 0;
background:url(../../common/image/shared/bg_btnBox2ColT.gif) no-repeat top left;
cursor:pointer;
}

.btnTxtBoxS p{
position:absolute;
top:7px;
left:10px;
z-index:1000;
}
.btnTxtBoxSsum p{
position:absolute;
top:9px;
left:10px;
z-index:1000;
}

.btnTxtBoxS p a,
.btnTxtBoxSsum p a{
display:block;
width: auto;
padding:0;
background: none;
position: static;
cursor:pointer;
}

.btnTxtInS{
display:block;
padding:0 15px 18px 70px;
width:245px;
background:url(../../common/image/shared/bg_btnBox2ColB.gif) no-repeat bottom left;
}
.btnTxtInSsum{
display:block;
padding:0 15px 25px 80px;
width:233px;
background:url(../../common/image/shared/bg_btnBox2ColB.gif) no-repeat bottom left;
}

.btnTxtInS span,
.btnTxtInSsum span{
display:block;
background:url(../../common/image/shared/parts/arrow_link.gif) no-repeat 8px 0.5em;
padding:0 0 0 20px;
color:#003399 !important;
}

.btnTxtInNoIconS{
display:block;
padding:0 15px 13px 10px;
width:300px;
background:url(../../common/image/shared/bg_btnBox2ColB.gif) no-repeat bottom left;
}
.btnTxtInNoIconSsum{
display:block;
padding:0 15px 20px 10px;
width:300px;
background:url(../../common/image/shared/bg_btnBox2ColB.gif) no-repeat bottom left;
}

.btnTxtInNoIconS span,
.btnTxtInNoIconSsum span{
display:block;
background:url(../../common/image/shared/parts/arrow_link.gif) no-repeat 8px 0.5em;
padding:0 0 0 18px;
color:#003399 !important;
}

.btnTxtInS span.btnTxtBlank,
.btnTxtInSsum span.btnTxtBlank{
background:url(../../common/image/shared/parts/blank_link.gif) no-repeat 5px 0.6em !important;
}

.btnTxtInNoIconS span.btnpageLink,
.btnTxtInNoIconSsum span.btnpageLink{
background:url(../../common/image/shared/ico/icon_04.gif) no-repeat 2px 0.3em !important;
}

/*-------------------------------------*/



