/* dmbin*/
.about_size{
	position: relative;
	background: url(../image/img_box.gif) no-repeat;
	height: 314px;
	width: 680px;
}
.about_size p{
	position: absolute;
	height: auto;
	width: auto;
	left: 1px;
	top: 15px;
}



