/* ============================================
 Members Page
============================================ */

/* Reset */
body{
margin:0;
padding:0;
color: #000;
width: 100%;
line-height: 1.5;
}

ul,li{
list-style-type: none;
margin: 0;
padding: 0;
}
 
img{
border: none;
}

p{
margin: 0;
padding: 0;
}

/* Common */
.fLeft{
float: left;
}

.fRight{
float: right;
}

.center{
text-align: center !important;
}
.right{
text-align: right;
}
.f-small{
font-size: 77%;
}

.mb10{
margin-bottom: 10px;
}
.mb15{
margin-bottom: 15px;
}
.mb30{
margin-bottom: 30px;
}
.mt20{
margin-top: 20px;
}

.clearfix:after{  
visibility: hidden;
display: block;
font-size:0;
content: " ";
clear: both;
height: 0;
}

.hide {
	display:none;
}

img.hover:hover {
  opacity: 0.7;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

.pageTop {
	width:950px;
	margin:0 auto;
	_padding-top:0px;
	clear:both;
}

/* Page Layout */
#body{
	width:100%;
	margin:0;
	padding: 0;
	text-align: center;
	background-color:#fccf00;
}

/* Header */
#header-e{
	width: 100%;
	color: #000;
	padding-bottom:25px;
}
#header-e:after{  
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

h1{
	background: none !important;
	border: none !important;
}

#header {
	margin-bottom: 0px;
}

.content {
	width:950px;
	border-right:#000000 solid 13px;
	border-bottom:#000000 solid 13px;
	border-left:#000000 solid 13px;
	margin:0 auto;
	background-color:#FFFFFF;
	padding-bottom:50px;
}


/* Main Area */
.main {
	width: 950px;
	margin:0 auto;
	clear: both;
	font-size:18px;
	text-align:justify;
	text-justify:distribute;
}

.main:after {  
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.main a { color: #003399; text-decoration: underline; }
.main a:link { color: #003399; text-decoration: underline; }
.main a:active { color: #003399; text-decoration: underline; }
.main a:visited { color: #003399; text-decoration: underline; }
.main a:hover{ color: #003399; text-decoration: none; }

.main_visual {
	width: 976px;
	margin:0 auto;
}

.bg-color {
	background-color:#fccf00;
}

.main h1 {
	margin:0;
	padding:0;
}

.main .navi {
	height:94px;
	padding-left:25px;
}

.main .navi:after {  
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.main .navi li {
	float:left;
	margin-left:8px;
	width:220px;
	height:94px;
	overflow:hidden;
}

.main .navi li a {
	display:block;
	width:220px;
	height:94px;
	overflow:hidden;
}

.main .navi li.first {
	margin-left:0px;
}

.main .inner_contents {
}

.main .inner_contents:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.main .inner_contents h2 {
	margin:0 0 25px 0;
}

.main .inner_contents p {
	padding-right:25px;
	padding-left:25px;
}

.main .inner_contents h3 {
	margin:0 0 20px 0;
}

.kojin {
	background-color:#fffdeb;
	padding:25px;
	width:800px;
	margin:0 auto;
}

.kojin td {
	font-size:20px !important;
}

.kojin2 {
	background-color:#fffdeb;
	padding:25px;
}

.link03 {
	font-size:20px;
	font-weight:bold;
	text-align:center;
	padding:30px 0 80px;
}