@charset "utf-8";


/* ----------
 * movie
 */
#hft_movie {
	padding: 8px;
	text-align: center;
}
	#BCLcontainingBlock {
		width: 100%;
		margin-left: 10px;
		float: right;
	}
	.BCLvideoWrapper {
		position: relative;
		padding-top: 1px;
		padding-bottom: 56.25%;
		height: 0;
	}
	* html .BCLvideoWrapper {
		margin-bottom: 45px;
		margin-top: 0;
		width: 100%;
		height: 100%;
	}
	.BCLvideoWrapper div,
	.BCLvideoWrapper embed,
	.BCLvideoWrapper object,
	.BrightcoveExperience {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}


/* ----------
 * banner
 */
#hft_banner {
	padding: 8px;
	padding-top: 0;
}
	#hft_banner_inner {
		padding: 3px;
		border: 2px solid #008576;
	}
		#hft_banner h2 {
			display: block;
			text-align:  center;
		}
		#hft_banner ul {

		}
			#hft_banner li {
				display: block;
				padding-left: 9px;
				background-color: #008576;
				background-image: url(../images/banner_btn.png);
				background-repeat: no-repeat;
				background-position: right bottom;
				background-size: 131px auto;
				margin-top: 2px;
			}
				#hft_banner li a {
					display: block;
				}


/* ----------
 * index
 */
#hft_index {
	padding: 0 8px;
	padding-top: 36px;
}
	#hft_index h2 {
		display: block;
		font-size: 20px;
		font-weight: bold;
		color: #008576;
		text-align: center;
	}


	/* -----
	 * MAP
	 */
	#hft_map {
		padding-top: 16px;
	}
		#hft_map h3 {
			display: table;
			width: 100%;
			border-top: 2px solid #008576;
		}
			#hft_map h3 span {
				display: table-cell;
				height: 40px;
				vertical-align: middle;
			}
				#hft_map h3 span b {
					font-size: 14px;
					font-weight: bold;
					color: #008576;
				}
				#hft_map h3 span i {
					padding-left: 12px;
					font-size: 10px;
					font-weight: normal;
					font-style: normal;
					color: #333;
				}
		/* content */
		#hft_map_content {
			width: 100%;
			background: url(../images/map_bg.png) repeat-x;
			background-size: 60px auto;
		}
			.hft_map_wrap {
				width: 100%;
				background: url(../images/map_img.png) no-repeat center 50px;
				background-size: 410px auto;
			}
				.hft_map_container {
					position: relative;
					width: 305px;
					height: 360px;
					margin: 0 auto;
				}
					/*
					.hft_map_are_icon {
						position: absolute;
					}
						.hft_map_are_icon a {
							display: block;
							width: 24px;
							height: 24px;
						}
					#hft_map_area_kanto {
						left: 520px;
						top: 394px;
					}
					#hft_map_area_chubu {
						left: 440px;
						top: 382px;
					}
					#hft_map_area_kinki {
						left: 363px;
						top: 411px;
					}
					#hft_map_area_chugoku {
						left: 256px;
						top: 381px;
					}
					*/

					/* list */
					.hft_map_link {
						position: absolute;
						display: block;
						width: 90px;
						background: #c0a138;
						border: 1px solid #fff;
						border-radius: 4px;
						-moz-border-radius: 4px;
						-webkit-border-radius: 4px;
					}
					#hft_map_kanto {
						left: 205px;
						top: 245px;
					}
					#hft_map_chubu {
						left: 110px;
						top: 10px;
					}
					#hft_map_kinki {
						left: 10px;
						top: 85px;
					}
					#hft_map_chugoku {
						left: 10px;
						top: 290px;
					}
						.hft_map_link dt {
							display: table;
							width: 100%;
							height: 25px;
						}
							.hft_map_link dt a {
								display: table-cell;
								padding-left: 8px;
								font-size: 10px;
								color: #fff;
								vertical-align: middle;
							}
						.hft_map_link dd {

						}
							.hft_map_link dd ul {

							}
								.hft_map_link dd li {
									display: table;
									width: 100%;
									border-top: 1px solid #fff;
								}
									.hft_map_link dd li a {
										display: table-cell;
										height: 30px;
										padding-left: 8px;
										background: url(../images/arrow_white.png) no-repeat right;
										background-size: 30px auto;
										font-size: 12px;
										vertical-align: middle;
										color: #fff;
									}


	/* -----
	 * STATE
	 */
	#hft_state {
		padding-top: 40px;
	}
		#hft_state h3 {
			display: table;
			width: 100%;
			border-top: 2px solid #008576;
		}
			#hft_state h3 span {
				display: table-cell;
				height: 40px;
				vertical-align: middle;
			}
				#hft_state h3 span b {
					font-size: 14px;
					font-weight: bold;
					color: #008576;
				}
		#hft_state_content {
			border-bottom: 1px solid #f0e8c8;
		}
			#hft_state_content dl {

			}
				#hft_state_content dt {
					display: table;
					width: 100%;
				}
					#hft_state_content dt span {
						display: table-cell;
						height: 30px;
						padding: 0 10px;
						background: #f0e8c8;
						font-size: 11px;
						vertical-align: middle;
					}
				#hft_state_content dd {
					border-left: 1px solid #f0e8c8;
					border-right: 1px solid #f0e8c8;
				}
					#hft_state_content dd ul {

					}
						#hft_state_content dd li {
							border-top: 1px solid #f0e8c8;
						}
						#hft_state_content dd li:first-child {
							border-top: none;
						}
							#hft_state_content dd li a {
								display: table;
								width: 100%;
							}
								#hft_state_content dd li a span {
									display: table-cell;
									height: 35px;
									padding: 0 10px;
									background: #fff;
									background-image: url(../images/arrow_gold.png);
									background-repeat: no-repeat;
									background-position: right;
									background-size: 30px auto;
									font-size: 13px;
									vertical-align: middle;
								}


/* ----------
 * inquiry en
 */
#hft_inquiry_en {
	padding: 0 8px;
	padding-top: 30px;
}
	.hft_inquiry_wrap {
		padding: 15px;
		background: #fff;
		border: 1px solid #bfd9d6;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
	}
		#hft_inquiry_en h2 {
			font-size: 13px;
			font-weight: bold;
		}
		#hft_inquiry_en p {
			padding-top: 3px;
		}
		#hft_inquiry_en span {
			display: block;
			padding-top: 8px;
			font-size: 10px;
			line-height: 13px;
		}
			#hft_inquiry_en span a {
				display: inline;
				font-weight: bold;
			}


/* ----------
 * inquiry cn
 */
#hft_inquiry_cn {
	padding: 0 8px;
	padding-top: 10px;
	padding-bottom: 52px;
}
	#hft_inquiry_cn h2 {
		padding-bottom: 5px;
		padding-left: 15px;
		font-size: 13px;
		font-weight: normal;
	}
	.hft_inquiry_wrap {
		padding: 15px;
		padding-top: 10px;
		background: #fff;
		border: 1px solid #bfd9d6;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
	}
		#hft_inquiry_cn dl{
			font-size: 10px;
			line-height: 16px;
		}
			#hft_inquiry_cn dt{
				font-weight: bold;
			}
			#hft_inquiry_cn dd{

			}
		#hft_inquiry_cn p {
			padding-top: 3px;
		}












