@charset "utf-8";


/* ----------
 * title
 */
h1 {
	display: block;
	height: 100px;
	background-color: #008576;
	text-align: center;
}
	h1 .ttl {
		display: block;
		padding-top: 20px;
		font-size: 20px;
		font-weight: bold;
		color: #fff;
	}
	h1 .area {
		display: block;
		padding-top: 8px;
		font-size: 16px;
		font-weight: normal;
		color: #fff;
	}



/* ----------
 * service
 */
#hft_service {
	padding-top: 36px;
	padding-bottom: 0;
	border-bottom: none;
}



/* ----------
 * relation
 */
#hft_relation {
	margin-top: 30px;
	padding: 0 8px;
}
	#hft_relation_wrap {
		padding: 15px;
		background: #fff;
		border: 1px solid #e2d9bb;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
	}
		#hft_relation dl {
			font-size: 12px;
			line-height: 20px;
		}
			#hft_relation dt {

			}
			#hft_relation dd {

			}
				#hft_relation dd .lead {
					font-weight: bold;
				}
				#hft_relation dd .txt {

				}
		#hft_relation dl#relation_jhft {
			padding-bottom: 20px;
			border-bottom: 1px solid #e2d9bb;
		}
			#hft_relation dl#relation_jhft dd {
				padding-top: 8px;
			}
		#hft_relation dl#relation_jnto {
			display: table;
			width: 100%;
			padding: 20px 0;
			border-bottom: 1px solid #e2d9bb;
		}
			#hft_relation #relation_jnto dt {
				display: table-cell;
				width: 64px;
				vertical-align: top;
			}
			#hft_relation #relation_jnto dd {
				display: table-cell;
				vertical-align: top;
			}
		#hft_relation dl#relation_wifi {
			display: table;
			width: 100%;
			padding-top: 20px;
		}
			#hft_relation #relation_wifi dt {
				display: table-cell;
				width: 64px;
				vertical-align: top;
			}
			#hft_relation #relation_wifi dd {
				display: table-cell;
				vertical-align: top;
			}




/* ----------
 * region
 */
#hft_region {
	padding: 0 8px;
}


/* ----------
 * item
 */
.hft_item {
	clear: both;
	margin-top: 30px;
}
	/* header */
	.hft_header {

	}
		/* title */
		.hft_header h2 {
			display: block;
			padding: 8px 10px;
			background: #ffe475;
		}
			.hft_header h2 .name {
				display: block;
				font-size: 14px;
				font-weight: bold;
				line-height: 21px;
			}
			.hft_header h2 .station {
				display: block;
				font-size: 11px;
				line-height: 17px;
				margin-left: -3px;
			}
			.hft_header h2 .location {
				display: block;
				font-size: 11px;
				line-height: 17px;
				font-weight: normal;
			}

	/* container */
	.hft_container {
		padding: 10px;
		background: #fff;
		border-bottom: 1px solid #ffe475;
		border-left: 1px solid #ffe475;
		border-right: 1px solid #ffe475;
	}

		/* image */
		.hft_image {

		}

		/* info */
		.hft_info {

		}
			.hft_overview {
				padding-bottom: 20px;
				border-bottom: 1px solid #e6e6e8;
			}
				.hft_overview dl {
					padding-top: 12px;
				}
					.hft_overview dt {
						font-size: 12px;
					}
					.hft_overview dd {
						padding-top: 2px;
						font-size: 12px;
						line-height: 20px;
					}
						.hft_overview dd span {
							margin-right: 4px;
							padding: 1px 6px;
							background: #ffe475;
							border-radius: 1px;
							-moz-border-radius: 1px;
							-webkit-border-radius: 1px;
						}
				.hft_overview .map {
					display: block;
					width: 50%;
					padding-top: 4px;
				}
					.hft_overview .map a {
						display: table;
						width: 100%;
						background: #ffe475 url(../images/arrow_black.png) no-repeat right;
						background-size: 30px auto;
					}
						.hft_overview .map a span {
							display: table-cell;
							height: 30px;
							padding-left: 12px;
							border-bottom: 1px solid #e2c653;
							border-radius: 3px;
							-moz-border-radius: 3px;
							-webkit-border-radius: 3px;
							font-size: 13px;
							vertical-align: middle;
						}
							.hft_overview .map a span b {
								padding-right: 16px;
								background-image: url(../images/icon_pc.png);
								background-repeat: no-repeat;
								background-position: right;
								background-size: 11px auto;
								font-weight: normal;
							}

			/* detail */
			.hft_detail {
				margin-top: 20px;
				padding-bottom: 20px;
				border-bottom: 1px solid #e6e6e8;
			}
				.hft_detail h3 {
					font-weight: bold;
					color: #008576;
				}
				.hft_detail dl {
					margin-top: 8px;
				}
					.hft_detail dt {
						font-size: 12px;
						font-weight: bold;
						line-height: 20px;
					}
					.hft_detail dd {
						font-size: 13px;
						line-height: 20px;
					}

		/* aside */
		.hft_aside {
			padding-top: 18px;
		}
			.hft_aside_service {
				display: table;
				width: 100%;
				padding-top: 2px;
			}
				.hft_aside_service li {
					display: table-cell;
					width: 50%;
					vertical-align: middle;
				}
				.hft_aside_service li:first-child {
					padding-right: 1px;
				}
				.hft_aside_service li:last-child {
					padding-left: 1px;
				}
					.hft_aside_service li span {
						display: table;
						width: 100%;
					}
						.hft_aside_service li span b {
							display: table-cell;
							height: 30px;
							padding-left: 30px;
							color: #fff;
							vertical-align: middle;
							background-repeat: no-repeat;
							background-position: 3px 3px;
							background-size: 24px auto;
							border-radius: 3px;
							-moz-border-radius: 3px;
							-webkit-border-radius: 3px;
							font-size: 10px;
							font-weight: normal;
							line-height: 12px;
						}
						.hft_aside_service li.hft_aside_item01 span b {
							background-color: #e46a89;
							background-image: url(../images/service_icon01.png);
						}
						.hft_aside_service li.hft_aside_item02 span b {
							background-color: #6179cf;
							background-image: url(../images/service_icon02.png);
						}
						.hft_aside_service li.hft_aside_item03 span b {
							background-color: #4eb887;
							background-image: url(../images/service_icon03.png);
						}
						.hft_aside_service li.hft_aside_item04 span b {
							background-color: #adb445;
							background-image: url(../images/service_icon04.png);
						}
			.hft_aside_logo {
				padding-top: 16px;
			}
				.hft_aside_logo ul {
					display: table;
					float: right;
				}
					.hft_aside_logo li {
						display: table-cell;
						padding-left: 15px;
						font-size: 1px;
					}
				.hft_aside_logo ul.second {
					width: 100%;
					margin-top: 10px;
				}
					.hft_aside_logo li.wifi {
						text-align: right;
					}

.prefectures {
	background: #FDA129;
	margin: 40px 0 -20px 0;
	font-size: 14px;
	font-weight: bold;
	padding: 0 10px;
	line-height: 30px;
}





