@charset "utf-8";


#wrapper {
	background-color: #fff;
}


/* ----------
 * title
 */
h1 {
	display: block;
	padding: 10px;
	padding-bottom: 5px;
	font-size: 15px;
	font-weight: bold;
	line-height: 20px;
}
p.route {
	padding: 10px;
	padding-top: 0;
	font-size: 13px;
	line-height: 18px;
}


/* ----------
 * map
 */
#hft_map {

}


/* ----------
 * close
 */
#hft_close {
	padding: 20px 0 10px 0;
}
	#hft_close a {
		display: table;
		width: auto;
		margin: 0 auto;
	}
		#hft_close a span {
			display: table-cell;
			padding: 3px 15px;
			background-color: #eee;
			border: 1px solid #ccc;
			border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			font-size: 12px;
		}






