/*==========================================

anzen

==========================================*/
table {
width:auto !important;
}
.manageTable .tbl,th {
border: 1px solid #999999;
border-collapse: collapse;
}
.manageTable .tbl th {
padding: 3px;
border-right-width: 1px;
border-bottom-width: 1px;
border-right-style: solid;
border-bottom-style: solid;
border-right-color: #999999;
border-bottom-color: #999999;
font-size: 12px;
line-height: 1.3em;
color: #003399;
background-color: #E7E7E7;
vertical-align: top;
font-weight: normal;
}
.manageTable .tbl .tbl .th2 {
vertical-align: middle;
}
.manageTable .tbl .tbl .th3 {
text-align: left;
}
.manageTable .tbl td {
border-right-width: 1px;
border-bottom-width: 1px;
border-right-style: solid;
border-bottom-style: solid;
border-right-color: #999999;
border-bottom-color: #999999;
padding: 3px;
font-size: 12px;
line-height: 1.3em;
text-align: left;
vertical-align: top;
}
.manageTable .tbl .tbl .td2 {
text-align: center;
vertical-align: middle;
}
.manageTable .t12 .safety {
float: right;
width: 120px;
clear: both;
}
.manageTable .tbl .tbl2 {
border-top-style: none;
border-right-style: none;
border-bottom-style: none;
border-left-style: none;
}
.manageTable .tbl .tbl2 td {
border-top-style: none;
border-right-style: none;
border-bottom-style: none;
border-left-style: none;
padding: 1px;
}

.manageTable{
width:750px;
margin:0 auto;
}
