/*==========================================

redirect

==========================================*/

#wrapper #container{
background-position:left bottom;
}
.redirectPage{
padding-top:20px;
padding-bottom:150px;
}