@charset "utf-8";
/*
 *	-- Layout Style --
 *
 *	01.	#wrapperMiddle Style
 *
 * - - - - - - - - - - - - - - - */
/*
 *	01.	#wrapperMiddle Style
 */
#wrapperMiddle #wrapInner .inner {
  padding-bottom: 0;
  margin-bottom: 55px;
}
#wrapperMiddle #wrapInner .inner #contentsArea ul.localNav {
  width: 477px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsHead {
  height: 54px;
  border: none;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody {
  padding: 28px 0 0;
  overflow: hidden;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody header {
  margin-bottom: 35px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody header h2 {
  margin: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea p {
  line-height: 1.8;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsTop {
  background: url(../../../shared/img/common_bgHeader_dotLine.png) repeat-x left bottom;
  width: 940px;
  padding-bottom: 25px;
  margin-bottom: 45px;
  overflow: hidden;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsTop .contents01 {
  float: left;
  width: 550px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsTop .contents01 h3 {
  margin: 0 0 25px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsTop .contents01 section {
  margin-bottom: 20px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsTop .contents02 {
  float: right;
  width: 320px;
  padding-left: 40px;
  border-left: 1px solid #ccc;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsTop .contents02 h3 {
  margin: 0 0 10px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsTop .contents02 .engine .engine__list {
  background-color: #F7F7F7;
  padding: 1px;
  margin-bottom: 10px;
  border: 1px solid #CCCCCC;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsTop .contents02 .engine .engine__list.list__state__last {
  margin-bottom: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsTop .contents02 .engine h4 {
  background: url(../../../shared/img/common_bgContents_dot.png) repeat left top;
  padding: 12px 10px 10px 11px;
  margin: 0;
  border-bottom: 1px solid #E1E1E1;
  line-height: 1.2;
  font-size: 0.92em;
  font-weight: normal;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsTop .contents02 .engine h4 img {
  margin-right: 10px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsTop .contents02 .engine h4 span {
  display: inline;
  display: table-cell;
  vertical-align: middle;
  zoom: 1;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsTop .contents02 .engine h4 .list__txt {
  width: 200px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsTop .contents02 .engine dl {
  padding: 10px 10px 8px;
  margin: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsTop .contents02 .engine dt {
  padding: 5px 0 3px;
  margin-bottom: 5px;
  font-size: 0.92em;
  font-weight: bold;
  line-height: 1.3;
  color: #4CACAC;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsTop .contents02 .engine dd {
  margin: 0;
  line-height: 1.4;
  font-size: 0.85em;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsBottom {
  width: 940px;
  margin-bottom: 50px;
  overflow: hidden;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsBottom .contents01 {
  background: url(../../../shared/img/common_bgContents_noiseWhite.png) repeat left top;
  float: left;
  width: 400px;
  min-height: 435px;
  padding: 25px 30px;
  border: 1px solid #DCDCDC;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsBottom .contents02 {
  background: url(../../../shared/img/common_bgContents_noiseWhite.png) repeat left top;
  float: right;
  width: 400px;
  min-height: 435px;
  padding: 25px 30px;
  border: 1px solid #DCDCDC;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsBottom .photoRight {
  float: right;
  margin: 0 0 20px 20px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsBottom section header {
  margin: 0 0 20px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsBottom section header h3 {
  height: 22px;
  margin: 0 0 20px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsBottom section header p {
  margin: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsBottom section section h4 {
  margin: 0 0 20px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #bnrPower {
  padding: 0;
  margin: 0;
  text-align: center;
  letter-spacing: -0.4em;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #bnrPower li {
  display: inline;
  margin: 0 9px;
  list-style: none;
  letter-spacing: normal;
}
