/*==========================================

Sitemap

==========================================*/
.siteMap01{
margin-right:15px;
}

.siteMap01 li{
width:193px;
margin-left:15px;
padding-bottom:10px;
float:left;
display:inline;
}

.siteMap02 li{
width:311px;
margin-left:16px;
padding-bottom:10px;
float:left;
}

.siteMap02 li.blankLink{
margin-top:5px;
} 	
*html .siteMap01 li.blankLink{
margin-top:0px;
} 	

.line01{
background:url(/global_common/image/temp_bg_dot02.gif) repeat-x left bottom ;
padding-bottom:1px;
}

*html #mainArea .tabArea .tabAct{
font-size:inherit!important;
}
#mainArea .tabArea .tabAct{
font-size:100%;
}
#mainArea .tabArea .tabAct h2{
font-size:1.2em;
text-align:center!important;
margin:0;
padding:0;
}
*html #mainArea .tabArea .tabAct h2{
font-size:1.25em;
}