@charset "utf-8";

/*==================================================
 * 01.共通設定
 *==================================================*/
article, aside, footer, header, hgroup, nav, section {
    display: block;
}

html, body {
    height: 100%;
}

html {
    font-family: sans-serif;
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

p, dt, dd, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    list-style-image: none;
}

a {
    text-decoration: none;
}

a:active {
    outline: 0;
}

img {
    max-width: 100%;
    border: 0;
}

h2 img, h3 img, h4 img, p img, li img {
    display: block;
    margin: 0 auto;
}

.wrap {
    max-width: 100%;
    margin: 0 auto;
}

/*==================================================
 * 02.コンテンツ
 *==================================================*/
.contents {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem 2rem;
}

.contents a {
    display: block;
}

.contents .layout {
    margin-bottom: 2rem;
}

.contents .layout h2 {
    margin: 0 auto 1rem;
}

.contents .layout h3 {
    margin: 0 auto 0.4rem;
}

.contents .layout h4 {
    margin: 0 auto 0.8rem;
}

.contents .layout h2, .contents .layout h3, .contents .layout h4 {
    text-align: center;
}

.contents h2.closer {
    margin-bottom: 0;
}

.contents .spacer {
    margin-bottom: 1rem;
}

.contents .arrow {
    margin-bottom: 0.2rem;
}

/*==================================================
 * 03.ヘッダ
 *==================================================*/
.header {
    max-width: 100%;
    margin: 0 auto 1.6rem;
    padding: 0 1rem;
}

.header.layout {
    padding: 0;
}

.header h1 {
    margin: 0.4rem 0 0.8rem;
    padding: 0;
}

.header.layout h1 {
    padding: 0 1rem;
}

.header h1 img {
    display: block;
    width: 30%;
}

.header h2 {
    margin: 0;
    text-align: center;
}
.footer{
	margin-top:20px;
	background-color:rgb(102,102,102);
	height:80px;
	width:100%;
}

.footer p.copyright{
	padding-top:20px;
}
