a:link{
	color:#003388;
	text-decoration:none;
}
a:visited{
	color:#003388;
	text-decoration:none;
}
a:hover{
	color:#3399FF;
	text-decoration:underline;
}
body{
	color:#333333;
	font-family: "Arial", "Helvetica", "sans-serif";
}
