@charset "UTF-8";
.parts-2 .phrase {
  margin: 1.2em 0;
  font-weight: bold;
  font-size: 2.7rem;
}
.parts-2 .lead {
  font-size: 2.2rem;
  text-align: center;
  font-weight: bold;
}
.parts-2 h1 img {
  max-width: 170px;
}
.parts-2 h3 {
  margin-bottom: 1em;
}
.parts-2 p + h3 {
  margin-top: 2em;
}
.parts-2 .notes {
  margin-bottom: 2em;
}
.parts-2 .bg_gray p, 
.parts-2 .bg_gray2 p{
  font-size: 12px;
  font-size: 1.2rem;
}
.box-1third.flt_rgt img {
  max-width: 276px;
  margin: 0 auto;
}
.parts-tbl {
  margin-bottom: 3em;
  border-top: solid 1px #ccc;
  border-left: solid 1px #ccc;
  border-collapse: collapse;
  border-spacing: 0;
}
.parts-tbl .cell {
  border-right: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}
.parts-tbl .row:first-child .cell:first-child div,
.parts-tbl .row:first-child .cell:first-child a {
  background-image: url(../images/01.png);
  background-repeat: no-repeat;
  background-position: 96% 88%;
}
.parts-tbl .row:first-child .cell:first-child + * div,
.parts-tbl .row:first-child .cell:first-child + * a {
  background-image: url(../images/02.png);
  background-repeat: no-repeat;
  background-position: 96% 88%;
}
.parts-tbl .row:first-child .cell:nth-child(2) div,
.parts-tbl .row:first-child .cell:nth-child(2) a {
  background-image: url(../images/02.png);
  background-repeat: no-repeat;
  background-position: 96% 88%;
}
.parts-tbl .row:first-child + * .cell:first-child div,
.parts-tbl .row:first-child + * .cell:first-child a {
  background-image: url(../images/03.png);
  background-repeat: no-repeat;
  background-position: 96% 88%;
}
.parts-tbl .row:nth-child(2) .cell:first-child div,
.parts-tbl .row:nth-child(2) .cell:first-child a {
  background-image: url(../images/03.png);
  background-repeat: no-repeat;
  background-position: 96% 88%;
}
.parts-tbl .row:first-child + * .cell:first-child + * div,
.parts-tbl .row:first-child + * .cell:first-child + * a {
  background-image: url(../images/04.png);
  background-repeat: no-repeat;
  background-position: 96% 88%;
}
.parts-tbl .row:nth-child(2) .cell:nth-child(2) div,
.parts-tbl .row:nth-child(2) .cell:nth-child(2) a {
  background-image: url(../images/04.png);
  background-repeat: no-repeat;
  background-position: 96% 88%;
}
.parts-tbl .cell > div {
  background-color: #ebf7f5;
  padding: 20px;
}
.parts-tbl .cell img {
  width: 100%;
}
.parts-tbl .cell a,
.parts-tbl .cell span,
.parts-tbl .cell strong {
  display: block;
}
.parts-tbl .cell a {
  padding: 20px;
  color: #333;
}
.parts-tbl .cell span {
  margin-bottom: 0.4em;
  font-size: 12px;
  font-size: 1.2rem;
}
.parts-tbl .cell strong {
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: normal;
  line-height: 1.2;
}
.parts-tbl .cell strong span {
  color: #fdd000;
  font-size: 10px;
  font-size: 1rem;
  font-weight: normal;
}
.parts-2 {
  width: 900px;
}
.parts-2 .box.people {
  width: 448px;
  border-bottom: none;
  position: relative;
  padding-bottom: 3em;
  margin-top: 0;
  margin-bottom: 4em;
}
.parts-2 .interview_info {
  position: absolute;
  bottom: 0;
  left:1em;
  right: 1em;
}
.parts-2 .interview_no {
  position: absolute;
  bottom: 0;
  left: 0;
  vertical-align: baseline;
}

.parts-2 .personal_info.btn_bk {
  float: right;
  margin-bottom: .5em;
}
.parts-2 .personal_info.btn_bk a {
  background-position: 94% 78%;
}
.parts-2 .personal_info a {
  width: 200px;
  padding: 1em;
}
.contents .btn_bk  .name {
  color : #fff;
}

/* 0220update */
.fontSmall01{
	font-size: 80%;
}

/* 160318update */
.name_box {
  padding-bottom: 3em;
  margin-bottom: 3em;
  border-bottom: solid 1px #ccc;
}
.name_box h2.name {
  margin-top: 1em;
}
.bg_gray2{
	background-color: #e5f3f3;
}
.bg_gray.mt2,
.bg_gray2.mt2 {
  margin-top: 2em;
}
h1.ttl {
  display: inline-block;
  color: #009481;
  border-bottom: solid 1px #009481;
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 1;
}
.q1:before {
  content: "Q.1";
  display: inline-block;
  padding: 1px 5px;
  margin-right: 10px;
  vertical-align: top;
  font-size: 14px;
  font-size: 1.4rem;
  color: #009481;
  border: solid 1px #009481;
}
.q2:before {
  content: "Q.2";
  display: inline-block;
  padding: 1px 5px;
  margin-right: 10px;
  vertical-align: top;
  font-size: 14px;
  font-size: 1.4rem;
  color: #009481;
  border: solid 1px #009481;
}
.q3:before {
  content: "Q.3";
  display: inline-block;
  padding: 1px 5px;
  margin-right: 10px;
  vertical-align: top;
  font-size: 14px;
  font-size: 1.4rem;
  color: #009481;
  border: solid 1px #009481;
}
.q4:before {
  content: "Q.4";
  display: inline-block;
  padding: 1px 5px;
  margin-right: 10px;
  vertical-align: top;
  font-size: 14px;
  font-size: 1.4rem;
  color: #009481;
  border: solid 1px #009481;
}
h4{
  padding: 0 0 10px 0;
  vertical-align: top;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  border-bottom: dotted 1px #009481;
}
div.peopleList01 ul{
	overflow: hidden;
	margin-top: 15px;
	clear: both;
	float: none;
}
div.peopleList01 li{
	width: 150px;
	float: left;
	margin: 0 37px 40px 0;
}
div.peopleList01 li a{
	color: #000;
}
div.peopleList01 li.last{
	margin-right: 0;
}
div.peopleList01 li span.department{
	display: block;
  font-size: 12px;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
div.peopleList01 li span.name{
	display: block;	
  font-size: 16px;
  font-size: 1.6rem;
}
.smallText{
  font-size: 12px;
  font-size: 1.2rem;
}
/* --- smartphone
----------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 640px) {
  .parts-tbl .row:first-child .cell:first-child div,
  .parts-tbl .row:first-child .cell:first-child a,
  .parts-tbl .row:first-child .cell:nth-child(2) div,
  .parts-tbl .row:first-child .cell:nth-child(2) a,
  .parts-tbl .row:nth-child(2) .cell:first-child div,
  .parts-tbl .row:nth-child(2) .cell:first-child a,
  .parts-tbl .row:nth-child(2) .cell:nth-child(2) div,
  .parts-tbl .row:nth-child(2) .cell:nth-child(2) a {
    background-size: 16% auto;
  }
  .parts-2 {
    width: 100%;
  }
  .parts-2 .box.people {
    margin: 0 auto 4em;
    width: 100%;
  }
  .parts-2 .interview_info {
    left: 0;
  }
  .parts-2 .interview_no img {
    width: 46%;
  }
  .parts-2 .personal_info a {
    width: 100%;
    padding: 1em 0.5em;
  }
  .parts-2 .personal_info.btn_bk {
    max-width: 80%;
  }
  /* 0221update */
  .parts-2 .lead {
    font-size: 1.4rem;
    text-align: left;
    font-weight: normal;
  }
  /* 160318update */
  .box-1third.flt_rgt img {
    display: block;
    margin-bottom: 1em;
  }
div.peopleList01 ul{
	overflow: hidden;
	margin-top: 15px;
}
div.peopleList01 li{
	width: 46%;
	float: left;
	margin: 0 0 20px 0;
}
div.peopleList01 li img{
	width: 100%;
	height: auto;
}
div.peopleList01 li:nth-child(1),
div.peopleList01 li:nth-child(3),
div.peopleList01 li:nth-child(5),
div.peopleList01 li:nth-child(7),
div.peopleList01 li:nth-child(9),
div.peopleList01 li:nth-child(11),
div.peopleList01 li:nth-child(13),
div.peopleList01 li:nth-child(15){
	margin-right: 20px;
}
div.peopleList01 li span.department{
	display: block;
  font-size: 12px;
  font-size: 1.2rem;
  margin-bottom: 5px;
}
div.peopleList01 li span.name{
	display: block;	
  font-size: 16px;
  font-size: 1.6rem;
}

}
