/*==========================================

keitai

==========================================*/
.career{
width:22.5%;
}

.career ul li{
text-align:center;
margin-bottom:5px !important;
}

.i_mode,
.i_mode_last,
.ezweb,
.ezweb_last,
.yahoo,
.yahoo_last,
.disney,
.disney_last{
text-align:center;
vertical-align:middle;
padding:5px;
}

.i_mode_img,
.ezweb_img,
.yahoo_img,
.disney_img{
text-align:center;
margin-bottom:10px;	
}


.i_mode_img{
background-color:#FFCC00;
border:solid 2px #FFF4CA;
}

.i_mode,
.i_mode_last
{
border:solid 1.5px #F7C600;
}


.ezweb_img{
background-color:#FD8848;
border:solid 2px #FED3BC;
}

.ezweb,
.ezweb_last{
border:solid 1.5px #FD5F09;
}


.yahoo_img{
background-color:#FD718C;
border:solid 2px #FFC4CF;
}

.yahoo,
.yahoo_last{
border:solid 1.5px #FF0B3C;
}

.disney_img{
background-color:#FA8DC7;
border:solid 2px #FFDDF0;
}

.disney,
.disney_last{
border:solid 1.5px #FF3CA3;
}

.h2ptn_mobile{
font-size:116% !important;
background:url(../../common/image/shared/bg_h2ptn01.gif) repeat-x bottom left !important;
color:#008576 !important;
margin:0 0 15px 0 !important;
padding:13px 0 9px 10px !important;
}
