/* ============================================
 Members Page
============================================ */

/* Reset */
body{
margin: 0;
padding: 0;
color: #333333;
width: 100%;
line-height: 1.5;
background:none;
}

ul,li{
list-style-type: none;
margin: 0;
padding: 0;
}
 
img{
border: none;
}

p{
margin: 0;
padding: 0;
}

/* Common */
.fLeft{
float: left;
}
.fRight{
float: right;
}

.mb10{
margin-bottom: 10px;
}
.mb15{
margin-bottom: 15px;
}
.mb30{
margin-bottom: 30px;
}
.mt20{
margin-top: 20px;
}

.center{
text-align: center;
}
.right{
text-align: right;
}
.f-small{
font-size: 77%;
}

.clearfix:after{  
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}

/* Page Layout */
#body{
width: 100%;
margin:0;
padding: 0;
text-align: center;
}

#main a,#headerArea a { color: #449ac0; text-decoration: none; font-weight: bold; }
#main a:link,#headerArea a:link { color: #449ac0; text-decoration: none; }
#main a:active,#headerArea a:active { color: #449ac0; text-decoration: none; }
#main a:visited,#headerArea a:visited { color: #449ac0; text-decoration: none; }
#main a:hover,#headerArea  a:hover{ color: #449ac0; text-decoration: underline; }

/* Header */
#headerArea{
width: 100%;
color: #000;
margin-bottom: 6px;
background:url(../image/bg_catch.gif) left bottom repeat-x;
}

/* Header
------------------------------------------*/
* html #header{
width: 100% !important;
}
#header{
height:83px;
margin:0;
background: url(../../../common/image/shared/bg_header.gif) repeat-x left top;
text-align:center;
min-width: 958px;
width: auto !important;
width: 958px;
}

#headerIn{
width:958px;
padding:0 0 10px 0;
margin:0 auto;
text-align:left;
position:relative;
}
#headerIn p.logo{
padding:30px 0 0 10px;
}

#headerIn p.home{
position:absolute;
background:url(../../../common/image/shared/btn_header_home_on.gif) no-repeat left top;
top:42px;
left:275px;
width:53px;
height:12px;
}

#headerIn p.home a,
#headerIn p.home_co a{
display:block;
width:53px;
height:12px;
overflow:hidden;
}

#headerIn p.home a:hover,
#headerIn p.home_co a:hover{
text-indent:-9999px;
}

#headerIn p.home_co{
position:absolute;
background:url(../../../common/image/shared/btn_header_home_on.gif) no-repeat left top;
top:44px;
left:202px;
width:53px;
height:12px;
}

#headerIn p.home a:hover{
text-indent:-9999px;
}

#headerIn p.yamato{
position:absolute;
top:30px;
right:0;
}


/* Main Area */
#main{
width: 750px;
margin:0 auto;
text-align: left;
clear: both;
}



/* Footer Area */
#footer{
height:80px;
margin:45px 0 0 0;
min-width: 958px;
background-color:#666666;
}
#footer #footerIn{
padding:20px 0 0 0;
margin:0 auto;
text-align:left;
width:958px;
}
*html #footer #footerIn{
min-width: 958px;
width: auto;
width: 958px;
}

#footerIn .footerNavi{
width:450px;
float:left;
}

#footerIn .footerNavi li{
float:left;
margin:0 20px 0 0;
padding:0 0 0 10px;
background:url(../../../common/image/shared/arrow_footer_link.gif) no-repeat left center;
}

#footerIn .footerNavi li a{
color:#FFF;
}

#footerIn .copyright{
float:right;
top:20px;
right:0;
color:#FFF;
width:400px;
text-align:right;
}

.table1 {
margin-top:18px;
padding:13px 29px 19px;
border:3px solid #ccc;
}
.table1Inner {
width:685px;
}

.table2 {
margin-top:25px;
margin-bottom:25px;
}

.table3 {
width:640px;
margin-bottom:35px;
border:1px solid #999;
}
.table3Inner {
padding:10px;
}