@charset "utf-8";
/* CSS Document */

.posiAb {
	top:50%;
	margin:-26px 0 0;
}
*html .alert{
	float: left;
}
#importantArea {
	background:url(../../kokusaitakkyubin/image/important_repeat.gif) repeat-y left top;
	width:718px;
	font-size:110%;
}
.importantTopInner {
	background:url(../../kokusaitakkyubin/image/important_top.gif) no-repeat left top;
	padding-top:10px;
}
.importantBottomInner {
	background:url(../../kokusaitakkyubin/image/important_bottom.gif) no-repeat left bottom;
	padding-bottom:10px;
}
.err {
    color: #FF0000;
    padding: 0 10px;
    text-align: left;
}