@charset "UTF-8";

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #323232;
}
a {
  text-decoration: none;
}
ul, ol {
  list-style: none;
}
ul, ol, li, p, h1, h2, h3, h4, h5, h6, header, nav, section, footer {
  margin: 0;
  padding: 0;
}
.wrapper {
  position: relative;
  min-width: 900px;
}

/* ---global navi--------------------------------------------------------------------------------------------------------- */
#glb_nav {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 1110px;
  width: 100%;
  height: 79px;
  z-index: 10000;
  background: #fff;
}
#glb_nav .logo,
#glb_nav ul,
#glb_entry {
  display: block;
}
#glb_nav .logo {
  position: relative;
  max-width: 242px;
  line-height: 0;
  width: 26%;
  height: 79px;
  float: left;
}
#glb_nav .logo img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 20px;
}
#glb_nav ul {
  display: table;
  width: 54.5%;
  height: 79px;
  float: right;
  white-space: nowrap;
}
#glb_nav li {
  display: table-cell;
  vertical-align: middle;
  padding: 25px 0;
}
#glb_nav li:nth-child(2) img,
#glb_nav li:nth-child(3) img,
#glb_nav li:nth-child(4) img {
  max-width: 119px;
}
#glb_nav li:nth-child(5) img,
#glb_nav li:nth-child(6) img {
  max-width: 88px;
}
#glb_nav li:nth-child(2),
#glb_nav li:nth-child(3),
#glb_nav li:nth-child(4) {
  width: 22%;
}
#glb_nav li:nth-child(5),
#glb_nav li:nth-child(6) {
  width: 15%;
}
#glb_nav li:nth-child(2) a,
#glb_nav li:nth-child(3) a,
#glb_nav li:nth-child(4) a,
#glb_nav li:nth-child(5) a,
#glb_nav li:nth-child(6) a {
  width: 100%;
}
/*#glb_nav li:first-child + * img,
#glb_nav li:first-child + * + * img,
#glb_nav li:first-child + * + * + * img {
  max-width: 119px;
}
#glb_nav li:first-child + * + * + * + * img,
#glb_nav li:first-child + * + * + * + * + * img {
  max-width: 88px;
}
#glb_nav li:first-child + *,
#glb_nav li:first-child + * + *,
#glb_nav li:first-child + * + * + * {
  width: 22%;
}
#glb_nav li:first-child + * + * + * + *,
#glb_nav li:first-child + * + * + * + * + * {
  width: 15%;
}
#glb_nav li:first-child + * a,
#glb_nav li:first-child + * + * a,
#glb_nav li:first-child + * + * + * a,
#glb_nav li:first-child + * + * + * + * a,
#glb_nav li:first-child + * + * + * + * + * a {
  width: 100%;
}*/
#glb_nav img {
  width: 100%;
  margin: 0;
}
#glb_nav li a {
  display: block;
  line-height: 0;
}
#glb_nav li:first-child,
#glb_nav li a span {
  display: none;
}
#glb_entry {
  display: block;
  width: 15%;
  max-width: 160px;
  vertical-align: middle;
  float: right;
}
#glb_entry a {
  display: block;
  padding: 26px 0 26px 20px;
  vertical-align: middle;
  background: url(../images/arrow_bk.png) no-repeat 84% 46% #fdd000;
  color: #000;
  font-size: 17px;
  font-size: 1.7rem;
  font-weight: bold;
  min-width: 140px;
}
#glb_nav .nav:after {
  content: "";
  display: block;
  clear: both;
}
#toggle {
  display: none;
}

/* ---footer--------------------------------------------------------------------------------------------------------- */
footer {
  background: #000;
}
#pagetop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 1000;
  display: none;
}
#pagetop a {
  display: block;
}
#footer_entry {
  padding: 5% 0;
  border-top: solid 3px #009481;
  background: #fdd000;
  text-align: center;
  color: #010101;
}
#footer_entry p {
  padding: 0 0 10px;
  font-size: 17px;
  font-size: 1.7rem;
}
#footer_entry .btn_entry_footer + p {
  margin: 16px 0 0;
  font-size: 12.5px;
  font-size: 1.25rem;
}
#footer_ttl,
#copyright {
  padding: 2% 0;
}
#footer_ttl {
  border-bottom: solid 1px #333;
  color: #fff;
}
#footer_ttl ul,
#footer_menu1,
#footer_menu2 {
  position: relative;
  width: 900px;
  margin: 0 auto;
}
#footer_ttl li,
#footer_menu1 li,
#footer_menu2 li {
}
#footer_ttl a,
#footer_menu1 a,
#footer_menu2 a {
  padding: 0 0 0 20px;
  background: url(../images/arrow_wht_s.png) no-repeat left 48%;
  color: #fff;
  font-size: 11px;
  font-size: 1.1rem;
}
#footer_ttl li {
  display: inline-block;
}
#footer_ttl li:first-child a {
  padding-left: 0;
  background: none;
  font-size: 100%;
}
#footer_ttl li:first-child + * {
  position: absolute;
  right: 0;
}
#footer_ttl li:first-child + * a {
  padding: 5px 8px 5px 20px;
  border: solid 1px #333;
}
#footer_menu1 li {
  margin: 5px 0;
}
#footer_menu1 li:first-child {
  margin: 0 0 10px;
}
#footer_menu1 li:first-child a {
  padding: 2px 8px;
  background-image: none;
  background-color: #fdd000;
  color: #000;
  font-weight: bold;
}
#footer_menu1 ul {
  display: block;
  float: left;
  width: 179px;
  height: 140px;
  border-right: solid 1px #333;
}
#footer_menu1 ul:first-child {
  border-left: solid 1px #333;
}
#footer_menu1 ul:last-child {
  width: 178px;
}
#footer_menu1 ul:first-child + * + * + * + * {
  width: 178px;
}
#footer_menu1:after {
  content: "";
  display: block;
  clear: both;
}
#footer_menu2 ul {
  border-top: solid 1px #333;
  border-left: solid 1px #333;
  border-right: solid 1px #333;
}
#footer_menu2 li {
  display: inline-block;
  padding: 20px 50px 30px 0;
  vertical-align: top;
}
#footer_menu2 li a {
  display: block;
  margin: 0 0 10px;
}
#copyright {
  text-align: center;
  font-size: 11px;
  font-size: 1.1rem;
  color: #000;
  background: #fff;
}
.bdr_wh {
  border: solid 8px #fff;
  box-sizing: border-box;
}

/* --- 共通 --------------------------------------------------------------------------------------------------------- */
.smp {
  display: block;
}
.pc {
  display: none;
}
.btn_entry a {
  display: inline-block;
  width: 300px;
  padding: 8px 20px 6px;
  background: url(../images/arrow_wht_l.png) no-repeat 90% center #fdd000;
  font-weight: bold;
  font-size: 20px;
  font-size: 2rem;
  color: #000;
}
.btn_entry_footer a {
  display: inline-block;
  width: 300px;
  padding: 8px 20px 6px;
  background: url(../images/arrow_wht_l.png) no-repeat 94% center;
  background-color: rgba(0,148,129,1);
  filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#88000000,EndColorStr=#88000000);
  font-weight: bold;
  font-size: 20px;
  font-size: 2rem;
  color: #fff;
  text-align: left;
}
.btn_bk a {
  display: inline-block;
  min-width: 220px;
  padding: 8px 20px 6px;
  background: url(../images/arrow_wht.png) no-repeat 94% center;
  background-color: rgba(0,0,0,0.8);
  filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#88000000,EndColorStr=#88000000);
  color: #fff;
}
.btn_wh a {
  display: inline-block;
  min-width: 220px;
  padding: 8px 20px 6px;
  background: url(../images/arrow_bk.png) no-repeat 94% center;
  background-color: rgba(255,255,255,0.8);
  filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#99ffffff,EndColorStr=#99ffffff);
  color: #000;
}
.bg_gray {
  background: #f3f3f3;
  padding: 1.5em;
}
.bg_gray2 {
  padding: 1.5em;
}
.bg_gray.pd2,
.bg_gray2.pd2 {
  padding: 2.5em;
}
.bg_gray:after,
.bg_gray2:after {
  content: "";
  display: block;
  clear: both;
}
.bg_gray em,
.bg_gray2 em {
  display: block;
  margin-bottom: 1em;
  color: #009481;
  font-weight: bold;
  font-style: normal;
}
.bg_gray .flt_lft, 
.bg_gray2 .flt_lft{
  width: 620px;
}
.bg_gray .flt_rgt,
.bg_gray2 .flt_rgt {
  width: 170px;
}
.bg_gray .flt_lft em,
.bg_gray2 .flt_lft em {
  font-size: 18px;
  font-size: 1.8rem;
}
.bg_gray2 .flt_lft ul,
.bg_gray .flt_lft ul {
  margin-top: 2em;
}
.bg_gray2 .flt_lft li,
.bg_gray .flt_lft li {
  display: block;
  width: 276px;
  float: left;
  margin-right: 20px;
}
.bg_gray .flt_lft p,
.bg_gray2 .flt_lft p {
  margin-bottom: 0.5em;
}
.notes {
  font-size: 12px;
  font-size: 1.2rem;
}
.notes.rgt {
  text-align: right;
}
.position {
  margin: 0.5em 0;
  font-size: 12px;
  font-size: 1.2rem;
}
.top_contents {
  position: relative;
}
#vision.top_contents {
  background: url(../images/bg_header_vision.gif) center center;
  background-size: cover;
}
#message.top_contents {
  background: url(../images/bg_header_message.jpg) center -40px;
  background-size: cover;
}
#people.top_contents {
  background: url(../images/bg_header_people.jpg) center -40px;
  background-size: cover;
}
#workstyle.top_contents {
  background: url(../images/bg_header_workstyle.jpg) center -40px;
  background-size: cover;
}
#recruit.top_contents {
  background: url(../images/bg_header_recruit.jpg) center -40px;
  background-size: cover;
}
#company.top_contents {
  background: url(../images/bg_header_company.jpg) center -40px;
  background-size: cover;
}
.wrapper_inner {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
.wrapper_inner:after {
  content: "";
  display: block;
  clear: both;
}
.top_contents .wrapper_inner {
  padding-top: 90px;
  height: 162px;
}
.top_contents .category {
  margin: 1em 0;
  font-weight: bold;
}
.top_contents .category span {
  display: inline-block;
  padding: 0.3em 0.7em 0.2em;
  background: #fdd000;
  color: #000;
}
.top_contents .category:before {
  content: "";
  display: block;
  color: #fdd000;
  font-size: 80%;
}
#vision.top_contents .category:before {
  content: "VISION";
}
#message.top_contents .category:before {
  content: "MESSAGE";
}
#people.top_contents .category:before {
  content: "PEOPLE";
}
#workstyle.top_contents .category:before {
  content: "WORK STYLE";
}
#recruit.top_contents .category:before {
  content: "RECRUIT";
}
#company.top_contents .category:before {
  content: "COMPANY";
}
.top_contents h1.category {
  font-size: 20px;
  font-size: 2rem;
}
.top_contents h1.category:before {
  font-size: 14px;
  font-size: 1.4rem;
}
.top_contents .ttl:before {
  content: "";
  display: block;
  clear: both;
}
.top_contents .ttl {
  margin: 0 0 1em;
  font-size: 32px;
  font-size: 3.2rem;
  color: #fff;
}
.top_contents h1.ttl {
  font-weight: normal;
}
.top_contents .submenu {
  float: right;
}
.top_contents .submenu .btn_bk {
  margin-bottom: 8px;
}
.top_contents .submenu .btn_bk a {
  min-width: 210px;
  padding: 9px 10px;
  background-image: url(../images/arrow_wht_contents.png);
  background-position: 94% 46%;
}
.contents .btn_bk a {
  background-image: url(../images/arrow_wht_contents.png);
  background-position: 94% 46%;
}
.breadcrumb {
  background: #ededed;
  padding: 14px 0;
  font-size: 12px;
  font-size: 1.2rem;
}
.breadcrumb ul {
  width: 900px;
  margin: 0 auto;
}
.breadcrumb li {
  display: inline-block;
}
.breadcrumb a {
  display: block;
  background: url(../images/arrow_breadcrumb.png) no-repeat right 46%;
  padding-right: 20px;
  margin-right: 4px;
  color: #323232;
}
.contents {
  margin-top: 4em;
  margin-bottom: 4em;
}
.contents h2 {
  margin: 2em 0;
  color: #009481;
  border-bottom: solid 1px #ccc;
}
.contents .name {
  margin-bottom: 0.5em;
  line-height: 1.2;
  font-size: 28px;
  font-size: 2.8rem;
  font-weight: normal;
  border: none;
  color: #333
}
.contents .name span {
  display: block;
  font-size: 30%;
  color: #fdd000;
}
.contents b {
  display: block;
  margin: 2em 0 1em;
  font-weight: bold;
}
.mb2 {
  margin-bottom: 2em;
}
.container {
  width: 100%;
}
.container:after {
  content: "";
  display: block;
  clear: both;
}
.box .btn_bk a {
  width: 98%;
  padding: 0.8em 0 0.8em 2%;
}
.parts-2 .box .btn_bk {
  max-width: 432px;
  margin: 0 0 1em;
}
.parts-2 .box {
  width: 432px;
  display: block;
  padding: 0 0 2em;
  margin: 4em 0 0;
  /*border-bottom: solid 1px #ccc;*/
}
.parts-2 .box:first-child,
.parts-2 .box:first-child + * + *,
.parts-2 .box:first-child + * + * + * + * {
  float: left;
}
.parts-2 .box:first-child + *,
.parts-2 .box:first-child + * + * + *,
.parts-2 .box:first-child + * + * + * + * + * {
  float: right;
}
.parts-2 .box:nth-child(2n+1) {
  float: left;
}
.parts-2 .box:nth-child(2n) {
  float: right;
}
.parts-2 .box-1third {
  width: 276px;
  display: block;
}
.parts-2 .box-2third {
  width: 588px;
  display: block;
}
.parts-2 .box-2third p {
  margin-bottom: 0.5em;
}
.parts-2 .box img,
.parts-2 .box-1third img,
.parts-2 .box-2third img {
  width: 100%;
}
.flt_lft {
  float: left;
}
.flt_rgt {
  float: right;
}
.bdr_gray {
  border-bottom: solid 1px #ccc;
  padding-bottom: 4em;
}
.linklist.mm {
  margin-top: -2em;
}
.linklist .btn_bk.reverse a {
  background-image: url(../images/arrow_wht_back.png);
  background-repeat: no-repeat;
  background-position: 4% 46%;
  padding-left: 40px;
  padding-right: 0;
}
.linklist .btn_bk {
  display: inline-block;
}
.linklist .btn_bk a {
  min-width: 200px;
  margin-right: 2em;
}
.parts-tbl {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 2px;
}
.parts-tbl .row {
  display: table-row;
}
.parts-tbl .cell,
.parts-tbl .cel_ttl,
.parts-tbl .cel_dtl {
  display: table-cell;
}
.parts-tbl .cel_ttl {
  width: 15%;
  padding: 2%;
  background: #e0ecea;
  color: #009481;
}
.parts-tbl .cel_dtl {
  padding: 2%;
  background: #f3f3f3;
}
.parts-tbl .cel_dtl2 {
  width: 100%;
  padding: 2%;
  background: #f3f3f3;
}
.parts-tbl .cel_dtl ul li {
  text-indent: -3em;
  margin-left: 2.5em;
}
.parts-tbl .cel_dtl p {
  margin-bottom: 0.5em;
}
.parts-tbl .cel_dtl a {
  text-decoration: underline;
  color: inherit;
}
.turn {
  display: table;
  width: 100.9%;
  border-collapse: separate;
  border-spacing: 4px;
  margin-left: -4px;
}
.turn .row {
  display: table-row;
}
.turn .box_gray {
  display: table-cell;
  width: 50%;
}
.box_gray {
  padding: 2.3em;
  background: #f3f3f3;
}
.box_gray > span {
  display: inline-block;
  padding: 0.2em 0.5em;
  background: #029382;
  color: #fff;
  font-weight: bold;
  font-size: 10px;
  font-size: 1rem;
}
.box_gray strong {
  display: block;
  margin: 0.5em 0 1em;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: bold;
}
.box_gray strong span {
  font-size: 80%;
}
.box_gray .img_list {
  margin: 1em 0;
}
.box_gray .img_list li {
  position: relative;
  display: inline-block;
}
.box_gray .img_list.num li:after  {
  content: "";
  position: absolute;
  bottom: 7px;
  right: 0;
  display: inline-block;
  padding: 1px 7px 1px 5px;
  background: #333;
  color: #fdd000;
  font-size: 11px;
  font-size: 1.1rem;
}
.box_gray .img_list.num li:first-child:after  {
  content: "1";
}
.box_gray .img_list.num li:first-child + *:after  {
  content: "2";
}
.box_gray .img_list.num li:first-child + * + *:after  {
  content: "3";
}
.box_gray .img_list.num li:nth-child(2):after  {
  content: "2";
}
.box_gray .img_list.num li:nth-child(3):after  {
  content: "3";
}
.box_gray ol li {
  text-indent: -1.7em;
  margin-left: 1.7em;
  margin-bottom: 0.5em;
}
.box_gray ol li:before {
  content: "";
  display: inline-block;
  padding: 1px 6px 1px 4px;
  text-indent: 0.1em;
  margin-right: 0.5em;
  background: #333;
  color: #fdd000;
  font-size: 11px;
  font-size: 1.1rem;
}
.box_gray ol li:first-child:before {
  content: "1";
}
.box_gray ol li:first-child + *:before {
  content: "2";
}
.box_gray ol li:first-child + * + *:before {
  content: "3";
}
.box_gray ol li:nth-child(2):before {
  content: "2";
}
.box_gray ol li:nth-child(3):before {
  content: "3";
}
/* --- smartphone
----------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 640px) {
  body {
    /*font-size: 16px;
    font-size: 1.6rem;*/
  }
  .wrapper {
    min-width: 320px;
    max-width: 640px;
  }
  /* ---global navi--------------------------------------------------------------------------------------------------------- */
  #glb_nav {
    position: fixed;
    height: 50px;
  }
  #glb_nav li a  {
    line-height: inherit;
  }
  #glb_nav li a span,
  #glb_nav li:first-child {
    display: block;
  }
  #glb_nav li a img {
    display: none;
  }
  #glb_nav .logo {
    max-width: 394px;
    max-height: 50px;
    width: 100%;
    height: 50px;
    padding: 0;
  }
  #glb_nav .logo img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0.5em;
    max-width: 394px;
    max-height: 45px;
    width: 55%;
    margin: auto;
  }
  #toggle {
    position: fixed;
    right: 0;
    top: 0;
    display: block;
    width: 50px;
    height: 50px;
  }
  #toggle a {
    position: fixed;
    right: 0;
    top: 0;
    display: block;
    width: 50px;
    height: 50px;
    background: url(../images/toggle.gif) no-repeat top right;
    background-size: 100% auto;
    z-index: 10000;
  }
  #glb_nav .nav {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 50px auto 0;
    background-color: rgba(0,148,129,0.8);
  }
  #glb_nav li {
    display: block;
    width: 100% !important;
    height: auto;
    padding: 0;
    border-bottom: solid 1px #323333;
  }
  #glb_nav ul {
    width: 88%;
    margin-bottom: 3em;
    background-color: rgba(0,0,0,0.8);
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#88000000,EndColorStr=#88000000);
  }
  #glb_nav li:first-child {
    border-top: solid 1px #323333;
  }
  #glb_nav li a {
    display: block;
    padding: 0.6em 0.2em 0.6em 1.5em;
    background: url(../images/arrow_wht.png) no-repeat 94% center;
    color: #fff;
  }
  #glb_nav li:first-child + * a,
  #glb_nav li:first-child + * + * a,
  #glb_nav li:first-child + * + * + * a,
  #glb_nav li:first-child + * + * + * + * a,
  #glb_nav li:first-child + * + * + * + * + * a {
    width: auto;
  }
  #glb_nav li:nth-child(2) a,
  #glb_nav li:nth-child(3) a,
  #glb_nav li:nth-child(4) a,
  #glb_nav li:nth-child(5) a,
  #glb_nav li:nth-child(6) a {
    width: auto;
  }
  #glb_nav li a:after {
    content: "";
    display: block;
    color: #fdd000;
    font-size: 80%;
  }
  #glb_nav li:first-child a:after {    content: "TOP";  }
  #glb_nav li:first-child + * a:after {    content: "VISION";  }
  #glb_nav li:first-child + * + * a:after {    content: "MESSAGE";  }
  #glb_nav li:first-child + * + * + * a:after {    content: "PEOPLE";  }
  #glb_nav li:first-child + * + * + * + * a:after {    content: "WORK STYLE";  }
  #glb_nav li:first-child + * + * + * + * + * a:after {    content: "RECRUIT";  }
  #glb_nav li:nth-child(2) a:after {    content: "VISION";  }
  #glb_nav li:nth-child(3) a:after {    content: "MESSAGE";  }
  #glb_nav li:nth-child(4) a:after {    content: "PEOPLE";  }
  #glb_nav li:nth-child(5) a:after {    content: "WORK STYLE";  }
  #glb_nav li:nth-child(6) a:after {    content: "RECRUIT";  }
  #glb_entry {
    display: table;
    width: 88%;
    max-width: 88%;
    height: auto;
    padding: 0;
    border-collapse: separate;
    border-spacing: 20px 10px;
    background: #000;
  }
  #glb_entry a {
    display: table-cell;
    padding: 0.2em 0 0.2em 0.8em;
    background-position: 96% 46%;
    font-size: 25px;
    font-size: 2.5rem;
  }
  /* ---footer--------------------------------------------------------------------------------------------------------- */
  #footer_entry {
    padding: 3% 0 2%;
  }
  #footer_entry p {
    display: inline-block;
    width: 90%;
    margin: 20px auto 0;
    font-size: 100%;
  }
  .btn_entry_footer a {
    width: 60%;
  }
  #footer_ttl ul, #footer_menu1, #footer_menu2 {
    width: 100%;
  }
  #footer_ttl ul {
    position: inherit;
  }
  #footer_menu1 li {
    display: none;
  }
  .footer_menu {
    position: relative;
    padding-bottom: 60px;
  }
  #footer_ttl {
    border-bottom: solid 5px #fdd000;
  }
  #footer_ttl a,
  #footer_menu1 a,
  #footer_menu2 a {
    font-size: 100%;
  }
  #footer_ttl ul li:first-child {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
  }
  #footer_ttl ul li:first-child + * {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  #footer_ttl ul li:nth-child(2) {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  #footer_ttl li {
    position: relative;
    display: table;
    width: 100%;
  }
  #footer_ttl li:first-child + * a {
    display: table-cell;
    height: 58px;
    padding: 0 0 0 10px;
    vertical-align: middle;
    border: none;
    border-top: solid 1px #333 ;
    background: url(../images/arrow_wht_l.png) no-repeat 94% center;
  }
  #footer_ttl li:nth-child(2) a {
    display: table-cell;
    height: 58px;
    padding: 0 0 0 10px;
    vertical-align: middle;
    border: none;
    border-top: solid 1px #333 ;
    background: url(../images/arrow_wht_l.png) no-repeat 94% center;
  }
  #footer_menu1 ul {
    width: 100% !important;
    height: auto;
    border-right: none;
  }
  #footer_menu1 ul:first-child {
    border-left: 0;
  }
  #footer_menu1 ul li a:after {
    content: "";
    display: block;
    color: #fdd000;
    font-size: 70%;
  }
  #footer_menu1 ul:first-child li a:after {
    content: "VISION";
  }
  #footer_menu1 ul:first-child + * li a:after {
    content: "MESSAGE";
  }
  #footer_menu1 ul:first-child + * + * li a:after {
    content: "PEOPLE";
  }
  #footer_menu1 ul:first-child + * + * + * li a:after {
    content: "WORK STYLE";
  }
  #footer_menu1 ul:first-child + * + * + * + * li a:after {
    content: "RECRUIT";
  }
  #footer_menu1 ul:nth-child(2) li a:after {    content: "MESSAGE";  }
  #footer_menu1 ul:nth-child(3) li a:after {    content: "PEOPLE";  }
  #footer_menu1 ul:nth-child(4) li a:after {    content: "WORK STYLE";  }
  #footer_menu1 ul:nth-child(5) li a:after {    content: "RECRUIT";  }
  #footer_menu1 li:first-child {
    display: block;
    margin-bottom: 0;
    border-bottom: solid 1px #333;
  }
  #footer_menu1 li:first-child a {
    display: block;
    padding: 0.9em;
    background: #000;
    color: #fff;
    font-weight: normal;
  }
  #footer_menu2 ul {
    border-right: none;
    border-left: none;
    border-top: none;
  }
  #footer_menu2 li {
    display: block;
    padding: 0;
  }
  #footer_menu1 li:first-child a,
  #footer_menu2 li a {
    background: url(../images/arrow_wht_l.png) no-repeat 94% center;
  }
  #footer_menu2 li:first-child a:first-child {
    border-top: solid 3px #00977f;
  }
  #footer_menu2 li a {
    margin: 0;
    padding: 18px 0 18px 10px;
    border-top: solid 1px #333;
  }



  /* --- 共通 --------------------------------------------------------------------------------------------------------- */
  .smp {
    display: none;
  }
  .pc {
    display: block;
  }
  .pc img {
    width: 100%;
  }
  .btn_entry a {
    width: 95%;
    margin: auto;
    padding: 10px 0% 8px 5%;
  }
  .bdr_wh {
    border: none;
  }
  .wrapper_inner {
    width: 90%;
  }
  .top_contents {
    background-position: center center !important;
    background-size: auto 100% !important;
  }
  .top_contents .wrapper_inner {
    padding-top: 3.5em;
    height: 100%;
  }
  .top_contents .category {
    float: none;
  }
  .top_contents .submenu {
    float: none;
    margin: 2em 0;
  }
  .top_contents .submenu .btn_bk a {
    width: 95%;
    padding: 9px 0 9px 5%
  }
  .breadcrumb {
    display: none;
  }
  .contents {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .contents .img_box img,
  .bg_gray img,
  .box_gray img {
    width: 100%;
  }
  .flt_lft,
  .flt_rgt {
    float: none;
  }
  .bg_gray .flt_lft,
  .bg_gray .flt_rgt {
    width: 100%;
  }
  .bg_gray .flt_lft li {
    float: none;
    width: 100%;
  }
  .bg_gray.pd2 {
    padding: 1em;
  }
  .parts-2 .box:nth-child(2n+1),
  .parts-2 .box:nth-child(2n) {
    float: none;
  }
  .parts-2 .box {
    width: 100%;
    margin-top: 2em;
  }
  .parts-2 .box-1third,
  .parts-2 .box-2third  {
    width: 100%;
    margin-top: 2em;
  }
  .parts-2 .box .btn_bk {
    max-width: 100%;
  }
  .linklist.mm {
    margin-top: 0;
  }
  .linklist .btn_bk {
    display: block;
    margin-bottom: 0.5em;
  }
  .linklist .btn_bk.reverse a {
    width: 88%;
    padding: 9px 0 9px 12%;
  }
  .linklist .btn_bk a {
    width: 96%;
    padding: 9px 0 9px 4%;
    margin-right: 0;
  }
  .parts-tbl.smp_blk,
  .parts-tbl.smp_blk .row,
  .parts-tbl.smp_blk .cell {
    display: block;
  }
  .turn,
  .turn .row {
    display: block;
    width: 100%;
  }
  .turn {
    margin-left: 0;
    margin-top: 0.5em;
    border-spacing: 0;
  }
  .turn .box_gray {
    display: block;
    width: initial;
    margin-bottom: 0.5em;
  }
  .box_gray .img_list li {
    width: 48%;
  }
}
