@charset "UTF-8";
/*==========================================

prinacy

==========================================*/
.first {
border:solid 1px #D3CEC2;
width:630px;
padding:20px;
margin-bottom:20px;
}
.date {
text-align:right;
}
.privacy {
margin:1.5em 0 1em 20px;
}
.privacy li {
margin-left:20px !important;
margin-bottom:5px !important;
}
.privacy dt {
margin-bottom:0.8em;
}
.privacy dd {
margin-bottom:1.5em !important;
}
.privacy ol {
margin:0.5em 0 0 20px;
padding:0em;
}
.privacy ol li {
	/* [disabled]text-indent:-1.5em; */
	margin:0.5em 0;
}
.torikumi dd {
margin-bottom:20px;
}
.kojin_jouhou {
font-size:100%;
padding-bottom:20px;
}
.privacy_purpose {
margin:0;
padding:0;
}
.privacy_purpose dt {
float:left;
margin-left:10px;
}
.privacy_purpose dd {
float:right;
width:605px;
}
.group {
width:335px;
}

.zoomNormal{
zoom:normal;
}
.first p {
	margin-bottom: 1.5em;
}

.joubun dl dd .list-decimal li {
	margin-left: 40px;
}
.joubun dl dd ol {
	margin-left: 40px;
}
