
/* Company/About
------------------------------------------*/

#h1TagCH .secCont2clm h2 p.noLink{
	color:#FFFFFF;
	background:url(../../common/image/shared/ico/icon_03.gif) no-repeat 20px 1.2em;
	padding:15px 20px 9px 39px;
	margin:0 5px 0 3px;
}