@charset "UTF-8";

/* About This CSS File -----------------------------------------------
name: base.css
information: 全ページ共通部分のスタイル
date: 2010.05/16
--------------------------------------------------------------------*/

/* Index -------------------------------------------------------------
01: COMMON
02: HEADER
03: FOOTER
04: HUCK
--------------------------------------------------------------------*/


/*====================================================================
01: COMMON
====================================================================*/
#FullScreen{
width: 100%;
height: 100%;
position: absolute;
margin: 0 auto;
top: 0;
left: 0;
z-index: 10;
}
#DefaultScreen{
width: 900px;
margin: 0 auto 50px auto;
}
#Contents .mainImg{
margin-bottom: 40px;
}
.mb15{
margin-bottom: 15px;
}
.mb20{
margin-bottom: 20px;
}
.mb25{
margin-bottom: 25px;
}
.mb30{
margin-bottom: 30px;
}
.mb50{
margin-bottom: 50px;
}
img.fl-r{
float: right;
}
img.fl-l{
float: left;
}
.txt415{
width: 415px;
float: left;
}
.txt425{
width: 425px;
float: left;
}
a:link {
color: #2453b3;
text-decoration: underline;
}
a:visited {
color: #2453b3;
text-decoration: underline;
}
a:active {
color: #2453b3;
text-decoration: underline;
}
a:hover {
color: #b32483;
text-decoration: underline;
}


/*====================================================================
02: HEADER
====================================================================*/
#HeaderBg{
width:940px;
height:90px;
background: url(../images/bg_header_01.png) no-repeat left top;
margin: 0 auto;
}
#Header{
width: 900px;
margin: 0 auto 30px auto;
padding-top: 30px;
}
#Header h1{
padding-top: 6px;
float: left;
margin-right: 30px;
}
#Header ul#gNavi{
float: left;
padding-top: 11px;
margin-right: 27px;
position: relative;
}
#Header ul#gNavi li{
float: left;
padding: 0 18px 0 17px;
background: url(../images/mnu_global_00.gif) no-repeat right 4px;
}
#Header ul#gNavi li.end{
background: none;
padding: 0 0 0 17px;
}
#Header ul#gNavi li.fuki{
background: none;
}
#Header p#entryBtn{
float: left;
padding: 0;
}
#Layer1 {position:absolute; left:-53px; top:-21px; width:210px; height:31px; z-index:11; visibility:hidden;}
#Layer2 {position:absolute; left:71px; top:-21px; width:220px; height:31px; z-index:12; visibility:hidden;}
#Layer3 {position:absolute; left:95px; top:-21px; width:190px; height:31px; z-index:13; visibility:hidden;}

#NewsBg{
position: absolute;
top: 105px;
left: 50%;
background: url(../images/bg_news_01.png) no-repeat left top;
width: 900px;
height: 32px;
margin-left: -450px;
z-index: 20;
}
#News{
position: absolute;
top: 105px;
left: 50%;
width: 900px;
height: 32px;
margin-left: -450px;
line-height: 2em;
color: #fff;
z-index: 30;
}
#News ul li{
display: none;
}
#News span{
padding-left: 90px;
font-size: 80%;
}
#News span a{
color:#4dc7d2;
text-decoration: none;
}
#News span a:hover{
color:#4dc7d2;
text-decoration: underline;
}



/*====================================================================
03: FOOTER
====================================================================*/

#FooterFull{
width: 100%;
margin: auto;
position: absolute;
bottom: 0;
z-index: 10;
text-align: center;
padding-bottom: 25px;
}
#FooterFull p#copyRight img{
font-size:0!important;
}
/*------------------------------------------------------------------*/
#Footer{
width: 900px;
margin: 0 auto;
text-align: center;
padding-bottom: 25px;
background:url(../images/bg_footer_01.gif) no-repeat left top;
}
#Footer p#fNavi{
font-size: 85%;
line-height: 32px;
margin: 0 auto 25px auto;
}
#Footer p#fNavi a{
background:url(../images/bg_footer_02.gif) no-repeat right center;
padding:0 11px 0 10px;
color:#000;
text-decoration:none;
}
#Footer p#fNavi a.end{
background: none;
padding:0 11px 0 10px;
}
#Footer p#fNavi a:hover{
color:#2e9099;
text-decoration:none;
}
#Footer p#copyRight{
font-size: 70%;
}


/*====================================================================
04: HUCK
====================================================================*/

/* Creer Fix -------------------------------------------------------*/
.clf:after{
content:url("../images/blank.gif");
display:block;
clear:both;
height:0;
}
.clf { display: inline-block; }
/* Hides from IE-mac \*/
.clf { display: block; }
/* End hide from IE-mac */
