
/* everything is constructed with a single background image */

/* root element for tabs */
#flowtabs {
	
	/* dimensions */
	height:31px !important;
	margin:0 !important; 
	padding:0;	
	
	/* IE6 specific branch (prefixed with "_") */
	_margin-bottom:-2px;
}

/* single tab */
#flowtabs li { 
	float:left; 
}

/* a- tag inside single tab */
#flowtabs li a {
	display: block;
	height: 31px;   
	width: 31px; 	
	padding:0px;
	margin-right: 4px;
}

.naviArea{
position: relative;
padding-left: 39px;
width: auto;
}

.naviArea p#btnPrev a{
background: url(../images/btn_slider_off.gif) no-repeat left top;
width: 31px;
height: 31px;
display: block;
position: absolute;
top: 0;
_top: -29px;
left: 0;
_left: -39px;
}
.naviArea p#btnNext a{
background: url(../images/btn_slider_off.gif) no-repeat left top;
width: 31px;
height: 31px;
display: block;
position: absolute;
top: 0;
_top: -60px;
left: 324px;
_left: 284px;
}
.naviArea p#btnNext6 a{
background: url(../images/btn_slider_off.gif) no-repeat left top;
width: 31px;
height: 31px;
display: block;
position: absolute;
top: 0;
_top: -60px;
left: 254px;
_left: 214px;
}
.naviArea p#btnNext7 a{
background: url(../images/btn_slider_off.gif) no-repeat left top;
width: 31px;
height: 31px;
display: block;
position: absolute;
top: 0;
_top: -60px;
left: 289px;
_left: 249px;
}
.naviArea p#btnNext9 a{
background: url(../images/btn_slider_off.gif) no-repeat left top;
width: 31px;
height: 31px;
display: block;
position: absolute;
top: 0;
_top: -60px;
left: 359px;
_left: 319px;
}

.naviArea p#btnPrev a:hover,
.naviArea p#btnNext a:hover,
.naviArea p#btnNext6 a:hover,
.naviArea p#btnNext7 a:hover,
.naviArea p#btnNext9 a:hover{
background: url(../images/btn_slider_on.gif) no-repeat left top;
}



/* adjust the background image position on each tab */
#flowtabs #t1, #flowtabs #t2, #flowtabs #t3,#flowtabs #t4, #flowtabs #t5, #flowtabs #t6,#flowtabs #t7, #flowtabs #t8, #flowtabs #t9{
background: url(../images/btn_slider_off.gif) no-repeat left top;
}
 
/* mouseover state */
#flowtabs #t1:hover, #flowtabs #t2:hover, #flowtabs #t3:hover, #flowtabs #t4:hover, #flowtabs #t5:hover, #flowtabs #t6:hover, #flowtabs #t7:hover, #flowtabs #t8:hover, #flowtabs #t9:hover{
background: url(../images/btn_slider_on.gif) no-repeat left top;
}

/* currently selected tabs */
#flowtabs a.current	{cursor:default;}
#flowtabs #t1.current, #flowtabs #t2.current, #flowtabs #t3.current, #flowtabs #t4.current, #flowtabs #t5.current, #flowtabs #t6.current, #flowtabs #t7.current, #flowtabs #t8.current, #flowtabs #t9.current{
background: url(../images/btn_slider_on.gif) no-repeat left top;
}


/* panes */
#flowpanes {
	width: 425px;
	height: 400px;
	float: left;
	font-size: 115%;
	line-height: 1.7em;
}


/* single pane */
#flowpanes div {
	display:none;	
	color:#000;	
	margin:0;
	float:left;
	display:block;
}
/* override the root element to enable scrolling */
	#flowpanes {
	position:relative;
	overflow:hidden;
	clear:both;
}
/* override single pane */
	#flowpanes div {
	float:left;
	display:block;
	width:425px;
}
/* our additional wrapper element for the items */
	#flowpanes .items {
	width:20000em;
	position:absolute;
	clear:both;
	margin:0;
	padding:0;
}


#flowpanes .items a{
color:#2e9099;
text-decoration:underline;
}

#flowpanes .items a:hover{
color:#2e9099;
text-decoration:none;
}