@charset "UTF-8";

/* About This CSS File -----------------------------------------------
name: style.css
information: コンテンツのメイン部分のスタイル
date: 2010.05/16
--------------------------------------------------------------------*/

/* Index -------------------------------------------------------------
01: HOME SUPERSIZED
02: TITLE
--------------------------------------------------------------------*/


/*====================================================================
00: SUPERSIZED
====================================================================*/
#supersize{
position:fixed;
}
#supersize img,
#supersize a{
height:100%;
width:100%;
position:absolute;
z-index: 0;
}
#supersize .prevslide,
#supersize .prevslide img{
z-index: 1;
}
#supersize .activeslide,
#supersize .activeslide img{
z-index: 2;
}

#FullContH{
width: 836px;
height: 49px;
margin: -25px 0 0 -418px;
position: absolute;
top: 50%;
left: 50%;
z-index: 10;
}

/*====================================================================
01: MESSAGE 採用メッセージ
====================================================================*/
#FullContM{
width: 880px;
height: 350px;
margin: -175px 0 0 -440px;
position: absolute;
top: 50%;
left: 50%;
z-index: 10;
}
#FullContM h2{
padding-top: 12px;
margin-bottom: 45px;
}
#FullContM p.txt1{
float: left;
}
#FullContM p.txt2{
float: right;
}
#FullContM p.btn{
float: right;
}
/*------------------------------------------------------------------*/
#lNavi-M{
background: url(../../message/images/lmn_message_bg.gif) no-repeat left top;
width: 900px;
height: 55px;
float: left;
}
#lNavi-M li{
float: left;
margin: 0;
padding-top: 23px;
}
/*------------------------------------------------------------------*/
#PresidentMessage{
background: url(../images/ico_pmessage_01.gif) no-repeat left 25px;
float:left;
width: 580px;
padding-top: 75px;
line-height: 1.7em;
}
#PresidentMessage h2{
margin-bottom: 55px;
}
#PresidentProfile{
float: right;
width: 230px;
}
.profileTxt{
margin-top: 50px;
background: url(../images/ico_profile_01.gif) no-repeat left top;
padding-top: 35px;
line-height: 1.7em;
}


/*====================================================================
02: NEW SERVICE 新規サービス戦略
====================================================================*/
#FullContS{
width: 790px;
height: 400px;
margin: -180px 0 0 -395px;
position: absolute;
top: 50%;
left: 50%;
z-index: 10;
}
#FullContS h2{
margin-bottom: 35px;
}
#FullContS p{
float: left;
padding-top: 0px;
}
#FullContS ul{
float: right;

}
#FullContS ul li{
margin-bottom: 20px;
}
/*------------------------------------------------------------------*/
#lNavi-S{
background: url(../../newservice/images/lmn_newservice_bg.gif) no-repeat left top;
width: 900px;
height: 55px;
float: left;
}
#lNavi-S li{
float: left;
margin: 0;
padding-top: 23px;
}
/*------------------------------------------------------------------*/
#Contents h2#newservice{
margin-bottom: 0;
}


/*====================================================================
03: GLOBAL グローバル戦略
====================================================================*/
#FullContG{
width: 790px;
height: 425px;
margin: -190px 0 0 -395px;
position: absolute;
top: 50%;
left: 50%;
z-index: 10;
}
#FullContG h2{
margin-bottom: 45px;
}
#FullContG p{
float: left;
}
#FullContG ul{
float: right;
}
#FullContG ul li{
margin-bottom: 20px;
}
/*------------------------------------------------------------------*/
#lNavi-G{
background: url(../../global/images/lmn_global_bg.gif) no-repeat left top;
width: 900px;
height: 55px;
float: left;
}
#lNavi-G li{
float: left;
margin: 0;
padding-top: 23px;
}
/*------------------------------------------------------------------*/
#Contents h2#global{
margin-bottom: 17px;
}
/*-----「新規サービス戦略」とスタイル共有-----*/
#ProjectStory{
background: url(../images/dot_y_01.gif) repeat-y right top;
width: 635px;
float: left;
margin-bottom: 50px;
}
#ProjectStory .Inner{
padding: 45px 35px 0 0;
background: url(../images/ico_projectstory_01.gif) no-repeat left top;
line-height: 1.7em;
}
#ProjectStory h3{
margin-bottom: 35px;
}
.imgArea{
width: 160px;
float: right;
margin-bottom: 50px;
}
.imgArea img{
margin-bottom: 10px;
}
#Column{
float: right;
width: 230px;
margin-bottom: 50px;
}
#Column .Inner{
padding: 45px 0 0 0;
background: url(../images/ico_column_01.gif) no-repeat left top;
line-height: 1.6em;
}
#Column h4{
margin-bottom: 13px;
}
#Message{
background: url(../images/dot_x_01.gif) repeat-x left top;
width: 900px;
float: left;
padding: 40px 0 0 0;
}
#Message .Inner{
background: url(../images/ico_message_01.gif) no-repeat 190px 3px;
line-height: 1.7em;
}
#Message .imgCut{
float: left;
margin-right: 20px;
}
#Message h4{
width: 170px;
float: left;
padding-top: 36px;
}
#Message p.history{
width: 340px;
float: left;
padding-top: 45px;
}
#Message .txt{
width: 500px;
float: right;
text-align: left;
}
#Message .txt p{
margin-bottom: 30px;
}
#Message .txt a{
color:#2e9099;
text-decoration:underline;
}
#Message .txt a:hover{
color:#2e9099;
text-decoration:none;
}


/*====================================================================
04: MEMBER 社員紹介
====================================================================*/
#MemberLead{
line-height: 1.7em;
}
#MemberLead span{
font-size: 120%;
}
#Member{
padding:30px 0 0 0;
}
#Member dt{
margin-bottom: 30px;
clear:both;
}
#Member dd{
margin-left: 10px;
margin-bottom: 10px;
_margin: 0 0 10px 5px;
float: left;
}
#Member dd.categoryTtl{
width: 890px;
}
#Member dd.end1{
margin-bottom: 30px!important;
}
#Member dd.end2{
margin-bottom: 50px!important;
}
/*------------------------------------------------------------------*/
#lNavi-Mem{
background: url(../../member/images/lmn_member_bg.gif) no-repeat left top;
width: 900px;
height: 55px;
float: left;
}
#lNavi-Mem li{
margin: 0;
padding-top: 23px;
}
#lNavi-Mem li#topBtn{
float: left;
}
#lNavi-Mem li#prevBtn,
#lNavi-Mem li#nextBtn{
float: right;
}
/*------------------------------------------------------------------*/
#MemberSbtn{
width: 240px;
float: left;
margin-right: 60px;
}
#MemberSbtn dt{
margin-bottom: 14px;
}
#MemberSbtn dd.Btn1{
margin-bottom:10px;
}
#MemberSbtn dd.Btn2{
margin-bottom:30px;
}
#MemberContents{
width: 600px;
float: left;
line-height: 1.7em;
}
#MemberContents h2{
margin-bottom: 25px;
}
#MemberContents h3{
margin-bottom: 30px;
}
#MemberContents #MemberProf{
margin-bottom: 30px;
}
#MemberContents #Column1{
background: url(../../member/images/bg_prostory_01.gif) no-repeat left top;
padding-top: 65px;
margin-bottom: 30px;
font-size: 110%;
line-height: 1.8em;
}
#MemberContents #Column1 h4{
margin-bottom: 40px;
}
#MemberContents #Column1 img.fl-r{
float: right;
margin: 0 0 15px 15px;
}
#MemberContents #Column1 img.fl-l{
float: left;
margin: 0 15px 15px 0;
}
#MemberContents #Column2{
background: url(../../member/images/bg_column_02.gif) repeat-y left top;
width: 600px;
font-size: 110%;
line-height: 1.8em;
}
#MemberContents #Column2 h4{
background: url(../../member/images/bg_column_01.gif) no-repeat 1px top;
padding-top: 60px;
padding-left: 30px;
margin-bottom: 30px;
}
#MemberContents #Column2 #InTxt{
background: url(../images/dot_x_01.gif) repeat-x left bottom;
padding: 0 30px 25px 30px;
}
#MemberContents #Column2 #InTxt img{
float: left;
margin: 0 30px 20px 0;
}


/*====================================================================
05: RECRUIT 採用情報
====================================================================*/
#Contents h2#recruit{
margin-bottom: 50px;
}
#Contents .lead{
line-height: 1.7em;
}
/*------------------------------------------------------------------*/
#lNavi-R{
background: url(../../recruit/images/lmn_recruit_bg.gif) no-repeat left top;
width: 900px;
height: 55px;
float: left;
}
#lNavi-R li{
float: left;
margin: 0;
padding-top: 23px;
}
/*------------------------------------------------------------------*/
#Request{
background: url(../../recruit/images/img_request_01.gif) no-repeat right top;
width: 900px;
padding-bottom: 30px;
}
#Request h3{
margin-bottom: 50px;
}
#Request p{
width: 420px;
font-size: 110%;
line-height: 1.8em;
}
/*------------------------------------------------------------------*/
#Recruiting1{
float: left;
width: 425px;
background: url(../images/dot_x_01.gif) repeat-x left top;
line-height: 1.7em;
}
#Recruiting2{
float: right;
width: 425px;
background: url(../images/dot_x_01.gif) repeat-x left top;
line-height: 1.7em;
}
#Recruiting1 dt,
#Recruiting2 dt{
background: url(../images/ico_list_01.gif) no-repeat left 7px;
padding-left: 15px;
margin-top: 10px;
clear: left;
float: left;
width: 90px;
}
#Recruiting1 dd,
#Recruiting2 dd{
padding-left: 105px;
padding-bottom: 10px;
margin-top: 10px;
background: url(../images/dot_x_01.gif) repeat-x left bottom;
}
/*------------------------------------------------------------------*/
#Future{
padding-top: 50px;
}
#Future p{
margin: 0;
padding: 0;
line-height: 100%;
}
/*------------------------------------------------------------------*/
#Career{
}
#Career p{
margin: 0;
padding: 0;
line-height: 100%;
}
#CareerUp{
background: url(../../recruit/images/bg_career_02.gif) repeat-y left top;
width: 700px;
margin: 50px auto 0 auto;
}
#CareerUp h3{
margin-bottom: 30px;
}
#CareerUp dl{
background: url(../../recruit/images/bg_career_03.gif) no-repeat left bottom;
padding: 0 40px 1px 40px;
line-height: 1.7em;
}
#CareerUp dt{
font-weight: bold;
margin-bottom: 5px;
}
#CareerUp dd{
margin-bottom: 30px;
}
/*------------------------------------------------------------------*/
#Faq p{
line-height: 1.7em;
}
#Faq h3{
margin-bottom: 30px;
}
#Faq .question{
padding-left: 20px;
padding-bottom: 40px;
line-height: 1.7em;
}
#Faq .question dt{
background: url(../images/ico_faq_01.gif) no-repeat left 5px;
padding-left: 18px;
color: #0a5e67;
font-weight: bold;
margin-bottom: 7px;
}
#Faq .question dd{
background: url(../images/ico_faq_02.gif) no-repeat 1px 6px;
padding-left: 18px;
margin-bottom: 30px;
}


/*====================================================================
06: EPISODE ヤマトで働くこと
====================================================================*/
#lNavi-E{
width: 900px;
height: 55px;
float: left;
}
#Episode{
background: url(../images/dot_y_01.gif) repeat-y right top;
width: 635px;
float: left;
margin-bottom: 50px;
}
#Episode .Inner{
padding: 0 35px 0 0;
line-height: 1.7em;
}
#Episode h3{
margin-bottom: 35px;
}
#episodeProfile{
float: right;
width: 230px;
line-height: 2em;
}
#episodeProfile h4{
float:left;
margin-right: 14px;
}
