/*==========================================

IE6

==========================================*/

.tabArea ul.type03 li a{
background-image:url(../../common/image/shared/parts/tabBtnBg.gif) !important;
}
.tabArea ul.type03 li a:hover{
background-image:url(../../common/image/shared/parts/tabBtnBg.gif) !important;
}
.tabArea ul.type03 li.tabAct{
background-image:url(../../common/image/shared/parts/tabBtnBg.gif) !important;
