@charset "UTF-8";

/*----------コンテンツ----------*/

#contents {
	width:900px;
	margin:0 0 0 37px;
}

img.readtext {
	margin:40px 0 30px 0;
}

img.towa {
	margin:0 0 10px 0;
}

p.read {
	font-size:13pt;
	line-height:22pt;
	color:#000;
}

/*----------事業目的とFCの仕事----------*/

h3 {
	font-size:14pt;
	border-left: 10px solid #F8B500;
	border-bottom:solid 1px #F8B500;
	width:900px;
	line-height: 35px;
	padding-left: 5px;
	color:#000;
}

p.worktext {
	font-size:11pt;
	line-height:18pt;
	color:#000;
}

#youkou {
	float:left;
	width:860px;
	background-color:#FFF5E0;
	border: 5px solid #F8B500;
	padding:20px;
	margin-bottom:20px;
}

#youkou_naiyou {
	float:left;
	width:840px;
	padding:10px;
	border-bottom:dotted 1px #000;
}

#youkou_naiyou_last {
	float:left;
	width:840px;
	margin:0;
	padding:10px;
}

#youkou_koumoku {
	float:left;
	width:130px;
	font-size:11pt;
	line-height:18px;
	font-weight:bold;
}

#youkou_dot{
	float:left;
	width:20px;
	font-size:11pt;
	line-height:18px;
}

#youkou_text {
	float:left;
	width:690px;
	font-size:11pt;
	line-height:18px;
}


/*----------感動体験エピソード----------*/

#episode_top {
	float:left;
	width:900px;
	margin:0;
	padding:20px 0 30px 0;
	border-bottom:dotted 1px #000;
}

#episode_middle {
	float:left;
	width:900px;
	margin:0;
	padding:30px 0 30px 0;
	border-bottom:dotted 1px #000;
}

#episode_last {
	float:left;
	width:900px;
	margin:0;
	padding:30px 0 60px 0;
}

#episode_photo {
	float:left;
	width:170px;
	margin:0;
	padding:0;
}

#episode_text {
	float:left;
	width:730px;
	font-size:11pt;
	line-height:20px;
	color:#000;
}

.episode_name {
	font-size:16pt;
	line-height:20px;
	color:#000;
}

img.episode_title {
	margin:10px 0 10px 0;
}