@charset: "utf-8";

/* reset */
body {
  margin: 0 auto;
  color: #555;
  background: #fff4c4;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
h1,h2,h3,h4,h5,h6 { margin: 0; font-size: 1em;}
p { font-size: 14px;}

img { vertical-align: top; border:none;}

/* utility */
.lp-mt--0 { margin-top: 0px;}
.lp-mt--9 { margin-top: 9px;}
.lp-mt--10 { margin-top: 10px;}
.lp-mt--15 { margin-top: 15px;}
.lp-mt--20 { margin-top: 20px;}
.lp-mt--30 { margin-top: 30px;}
.lp-mt--35 { margin-top: 35px;}
.lp-mt--40 { margin-top: 40px;}
.lp-mt--50 { margin-top: 50px;}
.lp-mt--60 { margin-top: 60px;}
.lp-mt--80 { margin-top: 80px;}
.lp-mt--110 { margin-top: 110px;}
.lp-mt--150 { margin-top: 150px;}
.lp-mb--0  { margin-bottom: 0px;}
.lp-mb--10 { margin-bottom: 10px;}
.lp-mb--20 { margin-bottom: 20px;}
.lp-mb--30 { margin-bottom: 30px;}
.lp-mb--40 { margin-bottom: 40px;}
.lp-mb--50 { margin-bottom: 50px;}
.lp-mb--60 { margin-bottom: 60px;}
.lp-mv--0  { margin-top: 0px; margin-bottom: 0px;}
.lp-mv--10 { margin-top: 10px; margin-bottom: 10px;}
.lp-mv--20 { margin-top: 20px; margin-bottom: 20px;}
.lp-mv--30 { margin-top: 30px; margin-bottom: 30px;}
.lp-mv--40 { margin-top: 40px; margin-bottom: 40px;}
.lp-mv--50 { margin-top: 50px; margin-bottom: 50px;}
.lp-mv--60 { margin-top: 60px; margin-bottom: 60px;}

.lp-txt--center { text-align: center;}
.lp-txt--right { text-align: right;}
.lp-txt--small { font-size: 11px;}



/* column */
.lp-wrap { *zoom:1;}
.lp-wrap:before,.lp-wrap:after{
  content: "";
  display: table;
}
.lp-wrap:after{ clear:both; }

.lp-row {
  width: 100%;
  margin-top: -10px;
}
.lp-row:before, .lp-row:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}
.lp-row:after {
  clear: both;
}
.lp-row .lp-col1, .lp-row .lp-col2, .lp-row .lp-col3, .lp-row .lp-col4, .lp-row .lp-col5, .lp-row .lp-col6,
.lp-row .lp-col7, .lp-row .lp-col8, .lp-row .lp-col9, .lp-row .lp-col10, .lp-row .lp-col11, .lp-row .lp-col12 {
  float: left;
}
.lp-row .lp-col1:first-child, .lp-row .lp-col2:first-child, .lp-row .lp-col3:first-child, .lp-row .lp-col4:first-child, .lp-row .lp-col5:first-child, .lp-row .lp-col6:first-child,
.lp-row .lp-col7:first-child, .lp-row .lp-col8:first-child, .lp-row .lp-col9:first-child, .lp-row .lp-col10:first-child, .lp-row .lp-col11:first-child, .lp-row .lp-col12:first-child {
  margin-left: 0;
}
.lp-row .lp-col1 {
  width: 6.5%;
  margin: 10px 0 0 2%;
}
.lp-row .lp-col2 {
  width: 15%;
  margin: 10px 0 0 2%;
}
.lp-row .lp-col3 {
  width: 23.5%;
  margin: 10px 0 0 2%;
}
.lp-row .lp-col4 {
  width: 32%;
  margin: 10px 0 0 2%;
}
.lp-row .lp-col5 {
  width: 40.5%;
  margin: 10px 0 0 2%;
}
.lp-row .lp-col6 {
  width: 49%;
  margin: 10px 0 0 2%;
}
.lp-row .lp-col7 {
  width: 57.5%;
  margin: 10px 0 0 2%;
}
.lp-row .lp-col8 {
  width: 66%;
  margin: 10px 0 0 2%;
}
.lp-row .lp-col9 {
  width: 74.5%;
  margin: 10px 0 0 2%;
}
.lp-row .lp-col10 {
  width: 83%;
  margin: 10px 0 0 2%;
}
.lp-row .lp-col11 {
  width: 91.5%;
  margin: 10px 0 0 2%;
}
.lp-row .lp-col12 {
  width: 100%;
  margin: 10px 0 0 2%;
}


/* two column */
.lp-twoCol {
  overflow: hidden;
}
.lp-twoColFluid {
  overflow: hidden;
  margin-left: 0;
}
.lp-twoColFluid p:first-child {
  margin-top: 0;
}
.lp-twoColFixed {
  float: left;
  margin-right: 10px;
}
.lp-twoColFixed--fit {
  margin: 0 !important;
}
.lp-twoColFixed--right {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
.lp-twoColFixed--moreMargin-left {
  margin-left: 20px;
}

.lp-content {
  padding: 20px 0;
}
.lp-header {
  background: #000;
}
.lp-container {
  width: 950px;
  margin: auto;
}


.lp-mv {
  background: url("http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/line/pc/bg_mv01_01.png") no-repeat bottom center;
  height: 500px;
}

.lp-mv__content {
  width: 316px;
  padding: 279px 0 0 541px;
  text-align: center;
}

.lp-mv__btn{
  display: block;
  overflow: hidden;
  width: 300px;
  margin: auto;
  height: 0;
  padding-top: 50px;
  background: url("http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/line/pc/btn_mv01_01.png") no-repeat left top;
}
a.lp-mv__btn:hover{
  background-position: left -50px;
}
.lp-mv__bnr {
padding-top:16px;
  margin-bottom: 20px;
}

.lp-mv__logos {
  margin-bottom: 10px;
}

.lp-mv__txt {
  margin-bottom: 10px;
}
.lp-mv__link {
}

.lp-lead {
  text-align: center;
}
.lp-lead__arrow {
  position: relative;
  height: 40px;
  padding: 47px 0 44px;
}
.lp-lead__down{
  position: absolute;
  top: 47px;
  left: 50%;
  margin-left: -21px;
}

.lp-lead {
}

.lp-ct01 .lp-container,
.lp-ct02 .lp-container,
.lp-ct03 .lp-container {
  text-align: center;
  background: #fff;
}
.lp-ct01 {
  margin-top: 30px;
}
.lp-ct01 .lp-container{
  padding: 50px 0 55px;
}
.lp-ct02{
  margin-top: 67px;
}

.lp-btns {
  padding: 35px 0 30px;
  line-height: 1.5;
}
.lp-btns--ver2 {
  padding-bottom: 50px;
}
.lp-btns a,
.lp-btns a:visited{
  color: #3494ff;
}

.lp-notice {
  padding-top: 70px;
}
.lp-notice__txt {
  text-align: center;
  font-size: 12px;
}

.lp-footer{
  margin-top: 10px;
  padding: 30px 0 20px;
  background: #000;
}

.lp-footer__sns{
  margin-bottom: 15px;
  text-align: right;
}
.lp-footer__sns a{
  margin-left: 40px;
}

.lp-footer__links{
  float: left;
  width: 480px;
  line-height: 1em;
}
.lp-footer__links a {
  font-size: 13px;
  color: #fff;
}
.lp-footer__link--border {
  margin: 0 10px;
  padding: 0 10px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.lp-footer__copyright{
  float: right;
  width: 430px;
  color: #fff;
  text-align: right;
  font-size: 12px;
}

