@charset "UTF-8";
/* flow.html */
.contents h2 + p {
  margin-top: -1em;
}
.steps {
  display: table;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 30px 0;
  margin: 4em 0 2em -30px;
}
.steps li {
  position: relative;
  display: table-cell;
  width: 148px;
  padding: 1em;
  border: solid 2px #009481;
  vertical-align: middle;
  text-align: center;
  color: #009481;
  font-weight: bold;
}
.steps div {
  position:relative;
  display: table-cell;
  width: 152px;
  padding: 1em;
}
.steps li:after {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 6px;
  top: 0;
  bottom: 0;
  right: -25px;
  margin: auto;
  background: url(../images/arrow_grn.png) no-repeat center right;
}
.steps li:last-child:after {
  content: none;
}
.steps li.end:after {
  content: none;
}
.steps li span {
  position: absolute;
  display: block;
  top: -30px;
  left: 0;
  padding: 0 0.6em;
  background-color: #fdd000;
  color: #fff;
  font-size: 10px;
  font-size: 1rem;
}
.steps li span:after {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  right: 10px;
  background: url(../images/pt.png) no-repeat center right;
}
/* faq.html */
.btn_bk.vertical {
  display: inline-block;
}
.btn_bk.vertical a {
  min-width: 160px;
  margin-right: 1em;
  background-image: url(../images/arrow_wht_vertical.png);
}
.btn_bk.m {
  margin: -2em 0 3em;
}
.q {
  text-indent: -1.7em;
  margin-left: 1.7em;
  margin-bottom: 0.5em;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: bold;
}
.q:before {
  content: "Q";
  display: inline-block;
  padding: 3px 9px 0 6px;
  text-indent: 0.1em;
  margin-right: 0.5em;
  background: #009481;
  color: #fff;
  font-size: 15px;
  font-size: 1.5rem;
}
.a {
  position: relative;
  background: #f3f3f3;
  padding: 1.5em 7em 1.5em 1.5em;
  margin-bottom: 3em;
}
.a:after {
  content: "A";
  position: absolute;
  bottom: 0px;
  right: 0.5em;
  display: block;
  height: 50px;
  padding: 0;
  line-height: 1;
  font-size: 60px;
  font-size: 6rem;
  font-weight: normal;
  color: #009481;
}
/* --- smartphone
----------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 640px) {
/* flow.html */
  .steps,
  .steps li {
    display: block;
  }
  .steps {
    margin-left: 0;
  }
  .steps li {
    width: inherit;
    margin: 0 auto 30px;
  }
  .steps li:after {
    right: 0;
    width: 6px;
    height: 25px;
    left: 0;
    right: 0;
    top: auto;
    bottom: -25px;
    background: url(../images/arrow_grn_vertical.png) no-repeat bottom center;
  }
  .steps li span {
    top: -25px;
  }
/* faq.html */
  .btn_bk.vertical {
    display: block;
    margin-bottom: 0.5em;
  }
  .btn_bk.vertical a {
    width: 96%;
    padding: 9px 0 9px 4%;
    margin-right: 0;
  }
  
.parts-tbl .cel_ttl {
  width: 24% !important;
}

}
