@charset "UTF-8";
/* CSS Document */

/*------------------------------------------
　@ text Style 
------------------------------------------*/
p.numlist {
	text-indent: -1.6em;
	padding-left:2em;
}
ul.numlist {
	list-style-type:none;
}
ul.numlist li{
	text-indent: -1.6em;
	padding-left:2em;
	margin: 0 0 10px 0 !important;
}

body:nth-of-type(1) p.numlist,
body:nth-of-type(1) ul.numlist li{
	text-indent: -2.5em;
	padding-left:3em;
}  
body:first-of-type  p.numlist,
body:first-of-type  ul.numlist li{
	text-indent:  -2.5em;
	padding-left:3em;
}