/*==========================================

links

==========================================*/

/* header
------------------------------------------*/
ul.linkBtnArea{
width:320px;
float:left;
margin-left:20px;
}

ul.linkBtnArea li{
float:left;
margin-right:2px;
}

ul.linkBtnArea li.last{
margin-right:0;
}

/* link-selection
------------------------------------------*/
div.link-section{
background:url(/global_common/image/temp_bg_dot02.gif) repeat-x left bottom;
padding-top:20px;
padding-bottom:15px;
}
div.link-section.first-item{
padding-top:5px;
}
div.link-section .typeC{
margin-top:0;
}
div.link-section.last-child{
background:none;
}
