/*==========================================

information

==========================================*/

/* page layout
------------------------------------------*/
.newsTtl{
font-size:135%;
line-height:1.45;
font-weight:bold;
text-align:center;
margin-top:30px;
}

.indentText{
padding:-1em;
text-indent:1em;
margin-top:5px;
}
.firstText{
margin-top:30px;
}
.markText{
text-align:center;
margin-top:30px;
}
.articleNews{
margin-top:30px;
}

/* parts */
.underline{
text-decoration: underline;
}

.tableDetail{
margin-bottom:12px;
margin-top:3px;
border-collapse:collapse;
border:solid 1px #d3cec2;
line-height:1.4em;
}
.tableDetail th{
background-color: #e9e6e0;
text-align:center;
}
.tableDetail th,.tableDetail td{
padding:12px 12px 12px 12px;
border:solid 1px #d3cec2;
vertical-align:middle;
}

.wid8em{
width:8em;
margin-right:1em;
}