/* ============================================
 Members Page
============================================ */

/* Reset */
body{
	margin:0;
	padding:0;
	color: #000;
	width: 100%;
	line-height: 1.5;
}

ul,li{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
 
img{
	border: none;
}

p{
	margin: 0;
	padding: 0;
}

/* Common */
.fLeft{
	float: left;
}

.fRight{
	float: right;
}

.center{
	text-align: center !important;
}
.right{
	text-align: right;
}
.f-small{
	font-size: 77%;
}

.mb10{
	margin-bottom: 10px;
}
.mb15{
	margin-bottom: 15px;
}
.mb30{
	margin-bottom: 30px;
}
.mt20{
	margin-top: 20px;
}

.clearfix:after{  
	visibility: hidden;
	display: block;
	font-size:0;
	content: " ";
	clear: both;
	height: 0;
}

.hide {
	display:none;
}

img.hover:hover {
	opacity: 0.7;
	filter: alpha(opacity=80);
	-ms-filter: "alpha(opacity=80)";
}

/*--  Header
----------------------------*/
header{
height:48px;
overflow:hidden;
border-bottom: 1px solid #ccc;
}
header .ci{
float:left;
padding:10px 0 0 6px;
}
header .btn{
float:right;
}
header .btn ul{
overflow:hidden;
}
header .btn ul li{
float:left;
}


/*--  Footer
----------------------------*/
footer {
    color: #fff;
    padding-top: 20px;
    text-align: center;
    background-color: #999;
}
footer ul {
    margin-bottom: 20px;
}
footer ul li a {
    font-size: 11px;
    color: #fff;
    text-decoration: none;
    line-height: 2;
}
footer .copyright {
    font-size: 10px;
    color: #fff;
    text-decoration: none;
    line-height: 1.2;
    padding-bottom: 10px;
}


/*--  PageTop Btn
----------------------------*/
.pageTop{
text-align:right;
padding:20px 10px;
}
.pageTop p{
overflow:hidden;
}
.pageTop a{
display:inline;
font-size:0.923em;
color:#393d3c;
width:auto;
float:right;
}
.pageTop a span{
background:url(../img/bg_pageTop_01.png) no-repeat right 50%;
-webkit-background-size:29px 29px;
background-size:29px 29px;
padding-right:30px;
height:29px;
display:-moz-box;
display:-webkit-box;
display:-o-box;
display:-ms-box;
-moz-box-align:center;
-webkit-box-align:center;
-o-box-align:center;
-ms-box-align:center;
}

/* Page Layout */
#body{
	width: 100%;
	margin:0;
	padding: 0;
	text-align: center;
}



.content {
	width:100%;
	margin:0 auto;
	background-color:#FFFFFF;
	padding-bottom:20px;
}

.title {
	width:100%;
	background-color:#008576;
}

/* Main Area */
.main {
	width:100%;
	margin:0 auto;
	clear: both;
	font-size:18px;
}

.main_bg {
	color:#444444;
	margin-bottom:20px;
	font-size:medium;
}

.oubo {
	width:300px;
	margin:0 auto 20px;
	border:#dfdfdf solid 1px !important;
	border-collapse: separate;
    border-radius: 10px 10px 0px 0px / 10px 10px 0px 0px;
	overflow: hidden;
}

.oubo th {
	background-color:#f7f7f7;
	font-size:14px;
	padding:5px 10px;
	white-space:nowrap;
	font-weight:bold;
	border-top:#dfdfdf solid 1px;
}

.oubo td {
	font-size:14px;
	padding:5px 10px 5px 5px;
	border-top:#dfdfdf solid 1px;
	text-justify:distribute;
	text-align:justify;
}

.oubo td.midashi {
	font-size:18px;
	font-weight:bold;
	letter-spacing:0.1em;
	background-color:#e3f2be;
	padding:15px 30px 15px 15px;
	text-align:center;
	border-top:#dfdfdf solid 0px;
}

.otoku {
	width:100%;
	padding-top:10px;
	padding-bottom:15px;
	background-color:#ffcc00;
	margin-bottom:15px;
}

.otoku_bottom {
	margin:0 auto 18px;
	width:300px;
    border-radius: 0px 0px 10px 10px / 0px 0px 10px 10px;
	background-color:#ffffff;
	padding:6px 0;
	text-align:right;
}

.otoku_bottom a {
	background: url(../img/icon.gif) no-repeat center left;
	padding-right:15px;
	padding-left:8px;
	background-size:5px 7px;
}


.img {
	width:100%;
}

.otoku .img {
	width:300px;
}

.btn {
	width:240px;
	height:32px;
}

a {
	color:#008576;
}