@charset "utf-8";
/*
 *	-- Layout Style --
 *
 *	01.	#wrapperMiddle Style
 *
 * - - - - - - - - - - - - - - - */
/*
 *	01.	#wrapperMiddle Style
 */
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody {
  background: url(../../../shared/img/common_bgHeader_dotLine.png) repeat-x left bottom;
  padding: 28px 0 35px;
  margin-bottom: 23px;
  overflow: hidden;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody h2 {
  margin: 0 0 25px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #companyArea {
  float: none;
  background: url(../../../shared/img/common_bgContents_material.png) repeat left top;
  width: 100%;
  border: 1px solid #D7D7D7;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #companyArea dl {
  margin: 0;
  border-bottom: 1px dotted #999;
  overflow: hidden;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #companyArea dl:last-child {
  border: none;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #companyArea dl dt {
  float: left;
  width: 115px;
  padding: 20px;
  color: #1FA1A3;
  font-weight: bold;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #companyArea dl dd {
  padding: 20px 20px 20px 155px;
  margin: 0;
  border-bottom: 1px dotted #ccc;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #companyArea dl dd:nth-child(4n+2) {
  background: url(../../shared/img/common_bgContents_noiseWhite.png) repeat left top;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #companyArea dl dd:nth-child(4n+4) {
  background: url(../../shared/img/common_bgContents_noiseGray.png) repeat left top;
}
