/*==========================================

corect.css

==========================================*/
p.ServiceDescriptionHead {
	font-size: 100%;
	font-weight: bold;
	color: #414141;
}

#mt10{
	margin-top:10px;
}


.ServiceText {
    margin: 18px 0px 14px 12px;
}

.corect_img01 {
	position: relative;
}

.corect_img01_text {
	position: absolute;
	top: 130px;
	left: 84px;
	width: 84px;
	font-size: 12px;
	font-weight: bold;
}

.corect_img01_01_btn {
	position: absolute;
	top: 67px;
	left: 272px;
	width: 84px;
}

.corect_img01_02_btn {
	position: absolute;
	top: 67px;
	left: 361px;
	width: 84px;
}

.corect_img01_03_btn {
	position: absolute;
	top: 67px;
	left: 450px;
	width: 84px;
}

.corect_img01_04_btn {
	position: absolute;
	top: 67px;
	left: 539px;
	width: 84px;
}

.corect_img01_05_btn {
	position: absolute;
	top: 192px;
	left: 272px;
	width: 84px;
}

.corect_img01_06_btn {
	position: absolute;
	top: 192px;
	left: 361px;
	width: 84px;
}

.corect_img01_07_btn {
	position: absolute;
	top: 192px;
	left: 450px;
	width: 84px;
}

.corect_img01_08_btn {
	position: absolute;
	top: 320px;
	left: 272px;
	width: 84px;
}

.corect_img01_09_btn {
	position: absolute;
	top: 320px;
	left: 361px;
	width: 84px;
}


ul.banner_text {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul.banner_text li {
	font-size: 95%;
	font-weight: bold;
	float: left;
	width: 220px;
	margin-left: 3px;
	padding-top: 10px;
	text-align: center;
}

.clearLeft { 
	clear: left; 
}

.banner_img img {
	border:none;
}

.banner_img a {
	text-decoration:none;
}

.banner_img a:hover{
	text-decoration:none;
}
