/* ============================================
 Members Page
============================================ */

/* Reset */
body{
color: #000;
background-color:#000;
width: 100%;
line-height: 1.8;
}

/* IE6, 7 centering */

html* body{
	text-align:center;
}




/* clearfix
------------------------------------------*/
.clearFix:after {
content: ".";
display: block;
clear: both;
height: 0;
visibility: hidden;
}
.clearFix { display: inline-block; zoom:1; overflow:hidden;}
/* exlude MacIE5 \*/
* html .clearFix { height: 1%; _height: 0; }
.clearFix {display:block;}
/* end MacIE5 */

/* Common */

.bgYellow{background-color:#fdd000;position:relative;}

.bodyWrap{
	width: 100%;
	box-sizing: border-box;
	border-left: 20px solid #000;
	border-right: 20px solid #000;
	border-bottom: 20px solid #000;
	border-top: 0px solid #000;
}

html*.bodyWrap{width:96%; margin:0 auto; border:none; text-align:center;}

/*ie7*/
*+html .bodyWrap{margin-top:20px;}
/*ie6*/
* html .bodyWrap{border-top:20px #000 solid;}


.bodyWrap a{
	color:#000;
	text-decoration:underline;
}
.bodyWrap a:hover{}


.inner{
	width:910px;
	padding:0 20px;
	background-color:#000;
	margin:0 auto;
}
/*IE6,7*/
html*.inner{text-align:left;}

.imgReplace{
	text-indent:-9999px;
	overflow:hidden;
	display:block;
	background-repeat:no-repeat;
}


/*----------------------------------------main visual*/
#mainV{
	position:relative;
	width:910px;
	height:480px;
}


/*----------------------------------------------------Footer*/

#footer{
height:80px;
}
#footer #footerIn{
padding:20px 0 0 0;
margin:0 auto;
text-align:left;
width:910px;
}

#footerIn .footerNavi{
float:left;
}

#footerIn .footerNavi li{
float:left;
margin:0 ;
padding:0;
font-size:12px;
}

#footerIn .footerNavi li a,
#footerIn .footerNavi li .pipe{
color:#FFF;
}
#footerIn .footerNavi li .pipe{
margin:0 12px;
}
#footerIn .copyright{
float:right;
top:20px;
right:0;
color:#FFF;
font-size:10px;
letter-spacing:0.08em;
width:400px;
text-align:right;
}



/*-------New Nav---------------*/
#newNav{
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #000;
	z-index: 2000;
}
#headerWrapper{
	height: inherit;
	width: 830px;
	display: block;
	margin: 0 auto;
	position: relative;
}

#nNav{
	position: absolute;
	height: inherit;
	right:0;
	top:0;
	z-index: 2000;
}
#nNav li{
	height: 50px;
	float: left;
}
#nNav a{
	height: 50px;
	display: block;
	text-indent: -9999px;
}

#nNav .nLogo {
	position:absolute;
	left:0;
	top:0;
}

#nNav .na0{
	background:url(../img/nav_top.png);
	width: 85px;
}
#nNav .na1{
	background: url(../img/nav_message.png);
	width: 162px;
}
#nNav .na2{
	background: url(../img/nav_ayumi.png);
	width: 136px;
}

#nNav .active,
#nNav .na0:hover,
#nNav .na1:hover,
#nNav .na2:hover {
	background-position: 0 -50px;
}


/*-------New MainArea---------------*/
#mainArea{
	width: 100%;
	padding-top:120px;
	position: relative;
	overflow: hidden;
}

h1 {
	width:360px;
	height:293px;
	margin:0 auto 117px;
}

.contents {
	width:684px;
	margin:0 auto;
	padding-bottom:57px;
	clear:both;
}

.contents_message {
	width:830px;
	margin:0 auto;
	clear:both;
	background-color:#FFFFFF;
	padding-top:75px;
	padding-bottom:75px;
}

.contents_message h1 {
	width:428px;
	height:37px;
	margin:0 auto 75px;
}

.box {
	width:690px;
	margin:0 auto;
}

.floatL {
	width:426px;
}

.floatR {
	width:210px;
}

p {
	font-size:14px;
	text-justify:distribute;
	text-align:justify;
	letter-spacing:0.05em;
}