@charset "utf-8";
/*
 *	-- Layout Style --
 *
 *	01.	#wrapperMiddle Style
 *
 * - - - - - - - - - - - - - - - */
/*
 *	01.	#wrapperMiddle Style
 */
#wrapperMiddle #wrapInner .inner #contentsArea ul.localNav {
  width: 690px;
  /*					li:nth-child(n+6) {

						a {
							cursor: default;

							&:hover {
								background-image: url(../../../shared/img/common_icoContents_bulletOff.png);
								color: #A9A9A9;
							}
						}

						&:hover {
							background: none;
						}
					}
*/
}
#wrapperMiddle #wrapInner .inner #contentsArea ul#questionNav {
  padding: 30px 0 0;
  margin: 0 0 30px;
  border-top: 1px dotted #999999;
  text-align: center;
}
#wrapperMiddle #wrapInner .inner #contentsArea ul#questionNav li {
  display: inline;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #C6C6C6;
}
#wrapperMiddle #wrapInner .inner #contentsArea ul#questionNav li:last-child {
  padding: 0;
  margin: 0;
  border: none;
}
#wrapperMiddle #wrapInner .inner #contentsArea ul#questionNav li a {
  text-decoration: underline;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody {
  background: url(../../../shared/img/common_bgHeader_dotLine.png) repeat-x left bottom;
  padding: 28px 0 35px;
  margin-bottom: 23px;
  overflow: hidden;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody h2 {
  margin: 0 0 25px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody p {
  margin-bottom: 30px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #faqArea {
  background: url(../../../shared/img/common_bgContents_noiseGray.png) repeat left top;
  padding: 39px 69px 0;
  border: 1px solid #D9D9D9;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #faqArea section {
  margin: 0 0 35px;
  border-bottom: 1px solid #CCCCCC;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #faqArea section h4 {
  margin: 0 0 25px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #faqArea section dl dt {
  background: url(../../img/faq_icoContents_question.gif) no-repeat left 2px;
  padding-left: 30px;
  margin-bottom: 13px;
  color: #26BBBC;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #faqArea section dl dd {
  background: url(../../img/faq_icoContents_answer.gif) no-repeat left 2px;
  padding-left: 30px;
  margin: 0 0 35px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #faqArea section dl dd:last-child {
  margin: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #faqArea section:last-child {
  margin: 0;
  border: none;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #faqArea section p.pageTop {
  height: 9px;
  margin: 0 0 15px;
  text-align: right;
}
