@charset "UTF-8";

/*----------トップbody----------*/

body {
	font-family:"ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
	background-color: #FFF;
	margin: 0px;
	padding: 0px;
}

a:focus {
	outline:none;
}

#all {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

img {
	border-style:none;
}

#clear {
	clear:both;
}

/*----------ヘッダー----------*/

#header {
	width:100%;
	height:25px;
	background-image:url(../common/images/img_header_line.png);
	background-repeat:repeat-x;
}

#headeer_contents {
	width:1000px;
	margin-right: auto;
	margin-left: auto;
}

#headeer_contents_logo {
	float:left;
	width:520px;
	margin:15px 0 0 0;
}

#headeer_contents_btn {
	float:left;
	width:480px;
	margin:15px 0 0 0;
}

#headeer_contents_btn ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#headeer_contents_btn li {
	float: left;
	display: inline;
	padding: 0 0 0 2px;
	margin: 0;
}

/*----------トップコンテンツ----------*/

#top_contents {
	width:1000px;
	position: absolute;
	z-index: -5;
	text-align:center;
	background-image:url(../images/img_bg.png);
	background-repeat:no-repeat;
	margin:-25px 0 0 0;
	padding:-25 0 0 0;
}

img.title {
	margin:90px 0 30px 0;
}

#top_contents ul {
	margin: 0 0 0 90px;
	padding: 0;
	list-style: none;
}

#top_contents li {
	float: left;
	display: inline;
	padding: 0;
	margin: 0;
}

img.btn_work {
	margin:80px 0 0 0;
}

img.btn_meth {
	margin:0 0 60px 0;
}

/*----------トップページフッター----------*/

#footer {
	position: absolute;
	z-index: -10;
	width:100%;
	height:35px;
	background-color:#007733;
	margin: 1025px 0 0 0;
}

.copyright {
	font-size:8pt;
	color:#FFF;
	text-align:center;
	padding: 10px 0 0 0;
}