/*==========================================

 Bottom Navigation

==========================================*/

#lowerNav .leftArea ul li,
#lowerNav .middleArea ul li {
min-height:13px;
_height:13px;
line-height:1.5;
}

#lowerNav .leftArea {
width:240px;
float:left;
}
#lowerNav .leftArea dt{
margin-bottom:9px;
clear:both;
}

#lowerNav .leftArea ul.btn01,
#lowerNav .middleArea ul.btn01{
width:200px;
height:51px;
position:relative;
background:url(../image/aside_bg_search.gif) no-repeat left top;
}
#lowerNav .leftArea ul.btn01 li,
#lowerNav .middleArea ul.btn01 li{
height:35px;
top:8px;
left:9px;
font-size:1px;
line-height:1;
position: absolute;
}

#lowerNav .middleArea {
padding-right:10px;
width:230px;
float:left;
}
#lowerNav .middleArea dt,
#lowerNav .rightArea dt{
margin-bottom:9px;
clear:both;
}

#lowerNav .leftArea ul li.defaultLink02,
#lowerNav .middleArea ul li.defaultLink02{
padding:0 0 0 20px;
background:url(/global_common/image/icon_arrow_05.gif) no-repeat 0 0.4em;
}
#lowerNav .rightArea ul li {
padding:0 0 10px 20px;
background:url(/global_common/image/icon_arrow_05.gif) no-repeat 0 0.2em;
}

#lowerNav .leftArea ul li.blankLink,
#lowerNav .middleArea ul li.blankLink,
#lowerNav .rightArea ul li.blankLink {
background-image:none;
position:relative;
padding-left:20px;
text-indent:0px;
}

#lowerNav .leftArea ul li.blankLink img,
#lowerNav .middleArea ul li.blankLink img,
#lowerNav .rightArea ul li.blankLink img {
position:absolute;
left:2px;
top:0.45em;
}

#lowerNav .rightArea {
width:304px;
padding-left:30px;
padding-bottom:1.5em;
float:left;
background:url(/global_common/image/lowerNav_bg_line.gif) left top repeat-y;
}

#lowerNav .rightArea ul.listType01 li.blankLink {
background-image:none;
}
