/*==========================================

Aside Area

==========================================*/

/* SearchArea
------------------------------------------*/
#asideArea .asideBox dt{
padding:5px 0 7px 3px;
}

#asideArea .asideBox dl dd ul.btn01{
width:200px;
height:51px;
position:relative;
background:url(../image/aside_bg_search.gif) no-repeat left top;
}
#asideArea .asideBox dl dd ul.btn01 li{
height:35px;
top:9px;
left:9px;
font-size:1px;
line-height:1;
position: absolute;
}
#asideArea .asideBox li.defaultLink02{
line-height:1.4;
background:url(/global_common/image/icon_arrow_05.gif) no-repeat 0 0.2em;
padding:0 0 0 20px;
}
#asideArea .asideBox .searchInner li.blankLink {
margin-left:5px;
text-indent:-20px;
}
#asideArea .asideBox .searchInner li.blankLink img{
margin:0 5px 0 3px;
}
/* Local Navigation Headings
------------------------------------------*/
#asideArea .personal,
#asideArea .business{
text-align:left;
margin-bottom:15px;
zoom:1;
}

#asideArea .lNavTtl{
font-size:1%;
line-height:1%;
}

#asideArea .personal .lNavTtl,
#asideArea .personal .lNavTtl a,
#asideArea .business .lNavTtl,
#asideArea .business .lNavTtl a{
display:block;
height:35px;
margin-left:1px;
text-indent:-9999px;
}

/* personal */
#asideArea .personal .lNavTtl a{
background:url(../image/aside_ttl_personal_off.png) no-repeat top left;
}
#asideArea .personal .lNavTtl a:hover{
background:url(../image/aside_ttl_personal_on.png) no-repeat top left;
}

/* business */
#asideArea .business .lNavTtl a{
background:url(../image/aside_ttl_business_off.png) no-repeat top left;
}
#asideArea .business .lNavTtl a:hover{
background:url(../image/aside_ttl_business_on.png) no-repeat top left;
}

/* IE6
------------------------------------------*/
/* personal */
*html #asideArea .personal .lNavTtl a{
background:url(../image/aside_ttl_personal_off.gif) no-repeat top left;
}
*html #asideArea .personal .lNavTtl a:hover{
background:url(../image/aside_ttl_personal_on.gif) no-repeat top left;
}

/* business */
*html #asideArea .business .lNavTtl a{
background:url(../image/aside_ttl_business_off.gif) no-repeat top left;
}
*html #asideArea .business .lNavTtl a:hover{
background:url(../image/aside_ttl_business_on.gif) no-repeat top left;
}
