/*==========================================

Header Type Normal

==========================================*/
#header{
width: 100%;
text-align:center;
background:url(/global_common/image/header_bg_top.gif) repeat-x left top #ffffff;
}

#header #headerIn{
width:958px;
padding:0 0 16px 0;
margin:0 auto;
position:relative;
text-align:left;
z-index:10000;
}

#header #headerIn p.logo{
padding:32px 0 0 10px;
}

#header #headerIn p.home{
position:absolute;
top:49px;
left:395px;
width:53px;
height:12px;
}

#header ul#headerNavi {
position:absolute;
top:18px;
right:0;
}
#header ul#headerNavi:after {visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;}
#header ul#headerNavi li{
float:left;
padding-top:4px;
margin-left:20px;
line-height:0;
font-size:0px;
}
#header ul#headerNavi li.langnav{
padding-top:0px;
}


/* Font Size
------------------------------------------*/
#header #fontSize {
position:absolute;
/*top:49px;
right:280px;*/
top:16px;
right:310px;
width:73px;
height:24px;
padding:3px 0 0 76px;
background:url(../image/header_bg_naviFont.gif) no-repeat left top;
}
#header #fontSize li {
float:left;
margin:0 2px 0 0;
}
#header #fontSize li img {
cursor:pointer
}

/* Site Search
------------------------------------------*/
#header .searchSiteBox{
/*width:423px;*/
position:absolute;
top:49px;
right:0px;
z-index:1;
}
#header .searchSiteBox:after {visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;}

#header .searchSiteBox ul{
margin:0 10px 0 0;
}

/* #header .searchSiteBox form */
#header .searchSiteBox ul{
float:left;
}


#header #searchbox{
margin-top:0;
background:url(/global_common/image/header_bg_serach01.gif) no-repeat left top;
width:410px;
height:30px;
position:relative;
}

#searchSiteTxt {
position: absolute;
top: 4px;
_top: 2px;
*top: 2px;
left: 36px;
height: 15px;
width: 160px;
color: #666;
border:none;
background:none;
}
#searchSiteTxt input{
width: 170px;
min-height: 18px;
_height: 18px;
line-height: 1.5;
border:none;
*border:1px solid #fff!important;
_border:1px solid #fff!important;
}

#searchbox .button {
position: absolute;
top: 0px;
left: 216px;
height: 28px;
width: 49px;
color: #666;
}
#searchbox .SS_group {
float:right;
display: inline;
margin-top:4px;
}

/*
#contSearchBlock #searchbox02 {
margin-top:0;
background:url(../image/header_bg_serach02.gif) no-repeat left top;
width:410px;
position:relative;
}
#contSearchBlock #searchContTxt {
background:none;
border:none;
margin:4px 0 0 34px;
width:300px;
color:#666;
}
*/

/*#searchbox p,
#searchbox02 p,
#searchSite p {
float:left;
margin:0 !important;
}
#searchbox .popTermArea:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

#searchbox p.button,
#searchbox02 p.button,
#searchSite p.button {
padding:0 0 0 20px !important;
}*/

/*
table#searchboxpopTermSelection{
zoom:100%;
z-index:1000 !important;
}
*/