@charset "utf-8";
/*
 *	-- Layout Style --
 *
 *	01.	#wrapperMiddle Style
 *
 * - - - - - - - - - - - - - - - */
/*
 *	01.	#wrapperMiddle Style
 */
#wrapperMiddle #wrapInner .inner #contentsArea ul.localNav {
  width: 253px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody {
  background: url(../../shared/img/common_bgHeader_dotLine.png) repeat-x left bottom;
  padding: 28px 0 40px;
  margin-bottom: 20px;
  overflow: hidden;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #indexTitle {
  margin: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #indexTitle h2 {
  margin: 0 0 25px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody ul {
  margin: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody ul#staffList {
  padding: 0;
  overflow: hidden;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody ul#staffList li {
  float: left;
  margin-bottom: 30px;
  list-style: none;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody ul#staffList li:nth-child(2n+1) {
  margin-right: 20px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #headTitle {
  margin-bottom: 40px;
  overflow: hidden;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #headTitle p {
  float: right;
  width: 644px;
  margin: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #headTitle #titleBox {
  float: left;
  width: 296px;
  height: 310px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #headTitle #titleBox h2 {
  margin: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #headTitle #titleBox h2 img {
  vertical-align: top;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #headTitle #titleBox p {
  float: none;
  width: auto;
  margin: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents {
  float: left;
  width: 540px;
  padding: 0 39px 0 0;
  border-right: 1px solid #C9C9C9;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents section {
  margin-bottom: 3em;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents section:last-child {
  margin-bottom: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents section h4 {
  margin: 0 0 25px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents section p {
  margin: 0 0 2em;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents section p.photoLeft {
  float: left;
  margin: 0 25px 25px 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents section p.photoRight {
  float: right;
  margin: 0 0 25px 25px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents section p.photo {
  border: 1px solid #ccc;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents section p:last-child {
  margin-bottom: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents {
  float: right;
  width: 320px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents #scheduleArea h4 {
  margin: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents #scheduleArea dl {
  font-size: 0.85em;
  border: 1px solid #DBDBDB;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents #scheduleArea dl dt {
  float: left;
  background: url(../img/ico_dot_01.png) no-repeat right center;
  width: 34px;
  padding: 13px 14px 11px 15px;
  text-align: right;
  color: #1FA3A4;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents #scheduleArea dl dd {
  padding: 13px 13px 11px 72px;
  margin: 0;
  border-bottom: 1px solid #DBDBDB;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents #scheduleArea dl dd:nth-child(4n + 2) {
  background: url(../img/bg_material_02.png) repeat left top;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents #scheduleArea dl dd:nth-child(4n + 4) {
  background: url(../img/bg_material_01.png) repeat left top;
}
