/* dmbin*/
.dmbin_available{
	position: relative;
	background: url(../image/bg_img_available.png) no-repeat;
	height: 233px;
	width: 676px;
}
.dmbin_available p{
	position: absolute;
	height:auto;
	width:auto
}
.dmbin_available p span{
	font-weight:bold;
	font-size:1.2em
}

.dmbin_available p.size{
	left: 13px;
	top: 50px;
	width: 423px;
}

.dmbin_available p.contents{
	right: 10px;
	bottom: 30px;
	width: 427px;
}


.dmbin_nonavailable{
	position: relative;
	height: 208px;
	width: 676px;
	background-image: url(../image/bg_img_nonavailable.png);
	background-repeat: no-repeat;
}
.dmbin_nonavailable ul{
	position:absolute;
	height:auto;
	width:700px;
	top:120px;
	left:20px
}
.dmbin_nonavailable ul li{
	width:90px;
	display:block;
	float:left;
	padding-right:22px
}



.boxSection .boxTypeC {
width:335px;
margin-right:10px;
float:left;
}

.boxSection .boxTypeC.last-child {
margin-right:0px;
}



/* Box Style TypeC
------------------------------------------*/

.boxSection .boxTypeC dt {
	width: 325px;
	margin: 0 0 10px;
	padding: 10px 0 10px 10px;
	color: #003399;
	font-size: 116%;
	font-weight: bold;
	clear: both;
	background-image: url(../../common/image/shared/parts/bg_subClmTtl.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}

.boxSection .boxTypeC dd.img {
width:80px;
margin:0 10px 0;
float:right;
}
* html .boxSection .boxTypeC dd.img {
margin:0 5px 0;
}
.boxSection .boxTypeC dd {
float:left;
width:325px;
margin-left:10px;
}
* html .boxSection .boxTypeC dd {
margin-left:5px;
}
.charge_wrap {
	padding: 10px;
	width: 640px;
	height: 60px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: auto;
	margin-left: 10px;
}
.charge_inner {
	width:300px;
	margin-right:10px;
	text-align:center;
}

.select-box {
	/*background: #FFFDF4;*/
  border: 2px solid #C2E7D5;
	border-radius: 5px;
	color: #231F20;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	text-align: left;
	text-indent: 5px;
	vertical-align: middle;
	width: 200px;
}
.select-box_result {
	/*background: #FFFDF4;*/
  border: 3px solid #0AAD8A;
	border-radius: 5px;
	font-size: 20px;
	height: 40px;
	line-height: 40px;
	text-align: left;
	text-indent: 5px;
	vertical-align: middle;
	width: 250px;
}
.charge_search {
	padding: 15px;
	background-color: #FEF3BF;
	border-radius: 10px;
}
.charge_search .charge_step {
	display:block;
	margin: 0 auto;
	height: 0px;
	width: 0px;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 40px solid #0AAD8A;
}
