/* ============================================
 Members Page
============================================ */

/* Reset */
body{
margin:0;
padding:0;
color: #333333;
width: 100%;
line-height: 1.5;
}

ul,li{
list-style-type: none;
margin: 0;
padding: 0;
}
 
img{
border: none;
}

strong {
	font-weight:bold;
}

p{
margin: 0;
padding: 0;
}

sup {
	vertical-align:super;
}

/* Common */
.fLeft{
float: left;
}

.fRight{
float: right;
}

.center{
text-align: center !important;
}
.right{
text-align: right;
}
.f-small{
font-size: 77%;
}

.mb10{
margin-bottom: 10px;
}
.mb15{
margin-bottom: 15px;
}
.mb30{
margin-bottom: 30px;
}
.mt20{
margin-top: 20px;
}

.clearfix:after{  
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}

.hide {
	display:none;
}

img.hover:hover {
  opacity: 0.7;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

.pageTop {
	width:950px;
	margin:0 auto;
	_padding-top:0px;
	clear:both;
}

/* Page Layout */
#body{
width: 100%;
margin:0;
padding: 0;
text-align: center;
}

/* Header */
#header-e{
width: 100%;
color: #000;
padding-bottom:25px;
}
#header-e:after{  
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}

h1{
background: none !important;
border: none !important;
}

#header {
margin-bottom: 0px;
}




/* Main Area */
.main {
	width: 950px;
	margin:0 auto;
	clear: both;
	font-size:18px;
	text-align:justify;
	text-justify:distribute;
}

.main:after {  
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.main a { color: #003399; text-decoration: underline; }
.main a:link { color: #003399; text-decoration: underline; }
.main a:active { color: #003399; text-decoration: underline; }
.main a:visited { color: #003399; text-decoration: underline; }
.main a:hover{ color: #003399; text-decoration: none; }


.main h1 {
	margin:0;
	padding:0;
}

.main p.txt01 {
	padding:0 10px;
	margin-bottom:30px;
}

.main .inner_contents {
}

.main .inner_contents:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.main .inner_contents h2 {
	margin:0 0 25px 0;
	padding-top:20px;
}

.main .inner_contents p {
	padding-right:25px;
	padding-left:25px;
}

.main .inner_contents h3 {
	margin:0 0 25px 0;
}

h2.iken {
	font-size:24px;
	text-align:center;
	padding:50px 0;
}

p.iken {
	text-align:center;
	font-weight:bold;
}

.iken_btn {
	width:502px;
	height:93px;
	margin:0 auto;
}

.img {
	text-align:center;
}

.news {
	width:900px;
	font-size:16px;
	border:#008576 solid 2px;
	padding:25px;
}

.news h3 {
	font-size:20px;
	margin-bottom:10px !important;
}

.news li {
	line-height:2em;
	clear:both;
}

.news span.day {
	display:block;
	width:130px;
	float:left;
}

.news span.newstxt {
	float:left;
	width:770px;
}

.cap {
}

.cap td {
	font-size:14px;
	vertical-align:top;
	line-height:1.5em;
}

.cap th {
	font-size:14px;
	vertical-align:top;
	line-height:1.5em;
	padding-right:10px;
	padding-left:70px;
	white-space:nowrap;
}

ul.report {
	padding-right:25px;
	padding-left:25px;
}
ul.report li {
	padding-left:1em;
	text-indent:-1em;
}

.pageTop {
	font-size:13px;
}



.new {
	width:900px;
	font-size:16px;
	border:#000000 solid 1px;
	padding:25px;
}

.new h3 {
	font-size:20px;
	margin-bottom:10px !important;
}

.new li {
	line-height:2em;
	clear:both;
}

.new span.day {
	display:block;
	width:130px;
	float:left;
}

.new span.newstxt {
	float:left;
	width:770px;
}


.navi:after {  
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.navi li {
	width:465px;
	height:70px;
	overflow:hidden;
	float:left;
	margin-bottom:10px;
}


h5 {
	text-align:center;
	font-size:24px;
	font-weight:bold;
	margin-bottom:50px;
}