/*==========================================

Tokusen

==========================================*/
.serviceBox01 .serviceBox01Left{
float:left;
width:340px;
}
.serviceBox01 .serviceBox01Right{
display:block;
float:right;
}

.lineUpLeft{
float:left;
width:240px;
}
.lineUpRight{
float:right;
width:430px;
}

#main dl.serviceDl01 dt{
display:block;
clear: left;
float:left;
width:58px;
padding: 0;
margin: 0;
vertical-align: top;
}
#main dl.serviceDl01 dd{
padding-left:0;
display:block;
float:left;
width:360px;
}

#main table.table01{
margin:25px 0 0 0;
border-top:1px solid #cccccc;
border-right:1px solid #cccccc;
}
#main table.table01 th{
padding:10px;
background-color:#f9f6f2;
width:298px;
border-bottom:1px solid #cccccc;
border-left:1px solid #cccccc;
}
#main table.table01 td{
letter-spacing:100%;
padding:10px;
width:85px;
border-bottom:1px solid #cccccc;
border-left:1px solid #cccccc;
}

.serviceCheckLeft{
width:215px;
float:left;
}
.serviceCheckRight{
width:430px;
float:right;
}