/*　中カテゴリー　*/

/*　緑見出し　*/
.g1 {
	color: #00836A;
/*　	font-weight:bold;　*/
}
/*　オレンジ　*/
.or1 {
	color: #FF6600;
/*　	font-weight:bold;　*/
}
/*　白　*/
.white{
	color: #FFFFFF;
	}
	
	
/*　プルダウンボックス　*/
li{
	list-style: none;
	margin-left: 0;
	padding-left: 0;	
	}
