@charset "UTF-8";

/* -------------------------------------------------------------------

    Content

-------------------------------------------------------------------- */

/* Container
--------------------------------------- */
#container{
    position:relative;
}

body{
    &.fixed{
        overflow:hidden;
    }
}

/* Content
--------------------------------------- */
#content{
    padding-bottom:48px;

    @media screen and ( max-width: $w-760 ){
        padding-bottom:35px;
    }

    .content-inner{
        margin:0 auto;
        padding:0 30px;
        max-width:1122px;
        @extend .clearfix;

        @media screen and ( max-width: $w-760 ){
            box-sizing:border-box;
            padding:0 15px;
            width:100%;
        }

        &.w-940{
            max-width:940px;
        }

        #main{
            float:right;
            width:74.33155080213904%;

            @media screen and ( max-width: $w-1064 ){
                float:none;
                width:100%;
            }
        }

        #sub{
            float:left;
            width:21.21212121212121%;

            @media screen and ( max-width: $w-1064 ){
                float:none;
                width:100%;
            }
        }
    }
}
