@charset "UTF-8";

/* -------------------------------------------------------------------

    Footer

-------------------------------------------------------------------- */
#footer{
    @media screen and ( max-width: $w-1064 ){
        padding-bottom:66px;
    }

    *{
        transition:width,height,font-size,margin,padding,background-color,text-decoration,color,border, 0.2s ease 0s;
    }

    #footer-block-01{
        background-color:#f5f6f8;

        #footer-block-01-inner{
            margin:0 auto;
            padding:40px 30px 43px; 
            position:relative;
            box-sizing:border-box;
            max-width:1182px;
            @extend .clearfix;

            @media screen and ( max-width: $w-1064 ){
                padding-bottom:0;
            }

            @media screen and ( max-width: $w-760 ){
                padding:20px 15px 15px;
            }
        }
    }

    #footer-block-02{
        position:relative;
        padding:26px 30px 20px;
        @extend .clearfix;

        @media screen and ( max-width: $w-1064 ){
            padding:20px 30px 20px;
            background-color:#f5f6f8;
        }

        @media screen and ( max-width: $w-760 ){
            padding:0;
        }
    }

    #site-search-footer{
        margin-left:-177px;
        position:absolute;
        top:40px;
        left:50%;

        @media screen and ( max-width: $w-760 ){
            margin-left:0;
            position:static;
        }

        p{
            position:relative;

            .input-text{
                padding:0 40px 0 15px;
                border:1px solid #c6c9d3;
                border-radius:25px;
                box-sizing:border-box;
                width:354px;
                height:50px;
                background-color:#fff;
                font-size:fz(14);
                transition:none;

                @media screen and ( max-width: $w-760 ){
                    width:100%;
                    height:35px;
                    font-size:fz(12);
                }
            }

            .search-img{
                position:absolute;
                top:17px;
                right:17px;
                width:17px;
                height:17px;
                transition:none;

                @media screen and ( max-width: $w-760 ){
                    top:10px;
                    right:15px;
                    width:15px;
                    height:15px;
                }
            }
        }
    }

    .btn-menbers-sp-title{
        margin:80px 0 10px;
        display:none;

        @media screen and ( max-width: $w-1064 ){
            display:block;
            text-align:center;
        }

        @media screen and ( max-width: $w-760 ){
            margin:14px 0 10px;
            font-size:fz(12);
        }
    }

    .btn-menbers-sp{
        display:none;

        @media screen and ( max-width: $w-1064 ){
            margin:0 auto 32px;
            display:block;
            width:354px;
        }

        @media screen and ( max-width: $w-760 ){
            margin:0 auto 19px;
            width:100%;
        }

        a{
            padding:12px 10px;
            position:relative;
            box-sizing:border-box;
            border-radius:10px;
            display:block;
            vertical-align:middle;
            color:#333;
            text-align:center;
            font-weight:bold;
            transition:all 0.2s ease 0s;

            @media screen and ( max-width: $w-760 ){
                padding:12px 10px;
            }
        }

        &.type-01{
            a{
                box-shadow:0 2px 0 0 #c7c900;
                background-color:#fcff00;

                span{
                    &:before{
                        margin-right:6px;
                        color:#231815;
                        vertical-align:middle;
                        @extend .icon-kuroneko-01;
                        font-size:18px;
                    }
                }

                &:active{
                    box-shadow:0 3px 0 0 rgba(0, 0, 0, 0.15) inset!important;

                    @media screen and ( max-width: $w-760 ){
                        box-shadow:0 2px 0 0 #c7c900!important;
                    }
                }

                &:hover,
                &:focus{
                    box-shadow:none;
                    background-color:#ffda00;
                    text-decoration:none;

                    @media screen and ( max-width: $w-760 ){
                        box-shadow:0 2px 0 0 #c7c900;
                        background-color:#fcff00;
                    }
                }
            }
        }

        &.type-02{
            a{
                box-shadow:0 2px 0 0 #00343c;
                color:#fff;
                background-color:#006f80;

                span{
                    &:before{
                        margin-right:10px;
                        position:relative;
                        top:-1px;
                        color:#fff;
                        vertical-align:middle;
                        @extend .icon-business-01;
                        font-size:17px;
                    }
                }

                &:active{
                    box-shadow:0 3px 0 0 rgba(0, 0, 0, 0.15) inset!important;

                    @media screen and ( max-width: $w-760 ){
                        box-shadow:0 2px 0 0 #006f80!important;
                    }
                }

                &:hover,
                &:focus{
                    box-shadow:none;
                    background-color:#008a9f;
                    text-decoration:none;

                    @media screen and ( max-width: $w-760 ){
                        box-shadow:0 2px 0 0 #00343c;
                        background-color:#006f80;
                    }
                }
            }
        }
    }

    #btn-fs-switch-footer{
        margin-top:20px;
        float:right;

        @media screen and ( max-width: $w-1064 ){
            display:none;
        }

        a{
            padding:7px 0 8px;
            border-radius:8px;
            border:1px solid #c6c9d3;
            display:block;
            width:112px;
            color:#333;
            background-color:#fff;
            line-height:1.1;
            font-size:fz(12);
            text-align:center;

            &:active,
            &:hover,
            &:focus{
                border:1px solid $yamato-green-01;
                color:#fff;
                background-color:$yamato-green-01;
                text-decoration:none;
            }
        }
    }

    #btn-lang-switch-footer{
        margin:20px 0 0 10px;
        float:right;

        @media screen and ( max-width: $w-1064 ){
            display:none;
        }

        a{
            display:block;
            line-height:1.1;
            font-size:fz(12);

            &:active,
            &:hover,
            &:focus{
                text-decoration:none;
            }

            span{
                padding:7px 0 8px;
                border-radius:8px;
                border:1px solid #c6c9d3;
                background-color:#fff;
                display:block;
                width:112px;
                color:#333;
                text-align:center;

                @media screen and ( max-width: $w-1064 ){
                    display:none;
                }

                &:active,
                &:hover,
                &:focus{
                    border:1px solid $yamato-green-01;
                    color:#fff;
                    background-color:$yamato-green-01;
                    text-decoration:none;
                }
            }
        }
    }

    #nav-footer-01{
        margin:80px 0 55px;

        @media screen and ( max-width: $w-1064 ){
            margin:0;
        }

        ul{
            @extend .clearfix;

            li{
                margin-right:2.67379679144385%;
                border-radius:10px;
                float:left;
                width:14.43850267379679%;

                @media screen and ( max-width: $w-1064 ){
                    margin-right:2.222222222222222%;
                    margin-bottom:15px;
                    width:48.88888888888889%;

                    &:nth-child(2n){
                        margin-right:0;
                    }
                }

                @media screen and ( max-width: $w-760 ){
                    margin-right:0;
                    margin-bottom:5px;
                    float:none;
                    width:100%;
                }

                &:last-child{
                    margin-right:0;
                }

                a{
                    border:1px solid #cfd2db;
                    border-radius:10px;
                    box-sizing:border-box;
                    position:relative;
                    display:block;
                    width:100%;
                    height:153px;
                    line-height:1.3;
                    color:#333;
                    background-color:#fff;
                    transition:all 0.2s ease 0s;

                    @media screen and ( max-width: $w-1064 ){
                        height:58px;
                    }

                    @media screen and ( max-width: $w-760 ){
                        height:50px;
                        font-size:fz(13);
                    }

                    &:before{
                        margin-left:-31px;
                        position:absolute;
                        top:30px;
                        left:50%;
                        width:62px;
                        height:60px;
                        background-size:62px 60px;
                        content:'';
                        background-position:0 0;
                        background-repeat:no-repeat;
                        transition:all 0.2s ease 0s;

                        @media screen and ( max-width: $w-1064 ){
                            margin-left:0;
                            top:17px;
                            left:17px;
                            height:auto;
                            width:30px;
                            height:28px;
                            background-size:30px 28px;
                        }

                        @media screen and ( max-width: $w-760 ){
                            top:13px;
                            left:10px;
                            width:25px;
                            height:23px;
                            background-size:25px 23px;
                        }
                    }
                    &.nav-01:before{ background-image:url('/assets/img/icon/icon_footer-nav_01.png'); }
                    &.nav-02:before{ background-image:url('/assets/img/icon/icon_footer-nav_02.png'); }
                    &.nav-03:before{ background-image:url('/assets/img/icon/icon_footer-nav_03.png'); }
                    &.nav-04:before{ background-image:url('/assets/img/icon/icon_footer-nav_04.png'); }
                    &.nav-05:before{ background-image:url('/assets/img/icon/icon_footer-nav_05.png'); }
                    &.nav-06:before{ background-image:url('/assets/img/icon/icon_footer-nav_06.png'); }

                    &:active,
                    &:hover,
                    &:focus{
                        border:1px solid transparent;
                        background-color:$yamato-green-01;
                        text-decoration:none;

                        &.nav-01:before{ background-image:url('/assets/img/icon/icon_footer-nav_01_o.png'); }
                        &.nav-02:before{ background-image:url('/assets/img/icon/icon_footer-nav_02_o.png'); }
                        &.nav-03:before{ background-image:url('/assets/img/icon/icon_footer-nav_03_o.png'); }
                        &.nav-04:before{ background-image:url('/assets/img/icon/icon_footer-nav_04_o.png'); }
                        &.nav-05:before{ background-image:url('/assets/img/icon/icon_footer-nav_05_o.png'); }
                        &.nav-06:before{ background-image:url('/assets/img/icon/icon_footer-nav_06_o.png'); }

                        @media screen and ( max-width: $w-760 ){
                            &.nav-01:before{ background-image:url('/assets/img/icon/icon_footer-nav_01.png'); }
                            &.nav-02:before{ background-image:url('/assets/img/icon/icon_footer-nav_02.png'); }
                            &.nav-03:before{ background-image:url('/assets/img/icon/icon_footer-nav_03.png'); }
                            &.nav-04:before{ background-image:url('/assets/img/icon/icon_footer-nav_04.png'); }
                            &.nav-05:before{ background-image:url('/assets/img/icon/icon_footer-nav_05.png'); }
                            &.nav-06:before{ background-image:url('/assets/img/icon/icon_footer-nav_06.png'); }
                        }

                        .text{
                            color:#fff;

                            @media screen and ( max-width: $w-760 ){
                                color:#333;
                            }
                        }

                        @media screen and ( max-width: $w-760 ){
                            border:1px solid #cfd2db;
                            background-color:#fff;
                        }
                    }

                    .text{
                        box-sizing:border-box;
                        display:block;
                        vertical-align:middle;
                        text-align:center;
                        transition:all 0.2s ease 0s;

                        @media screen and ( max-width: $w-1064 ){
                            padding:20px 0 0 59px!important;
                            text-align:left;
                        }

                        @media screen and ( max-width: $w-760 ){
                            padding:16px 0 0 50px!important;
                        }
                    }
                    &.nav-01 .text{ padding-top:110px; }
                    &.nav-02 .text{ padding-top:110px; }
                    &.nav-03 .text{ padding-top:110px; }
                    &.nav-04 .text{ padding-top:100px; }
                    &.nav-05 .text{ padding-top:100px; }
                    &.nav-06 .text{ padding-top:110px; }
                }
            }
        }
    }

    #nav-footer-02{
        @extend .clearfix;

        @media screen and ( max-width: $w-1064 ){
            display:none;
        }

        .column{
            margin-right:2.67379679144385%;
            float:left;
            width:22.99465240641711%;

            &:last-child{
                margin-right:0;
            }
        }

        .title-01{
            margin-bottom:7px;
            border-bottom:1px solid #cfd2db;

            a{
                padding-bottom:12px;
                display:block;
                color:#333;
                transition:all 0.2s ease 0s;

                &:active,
                &:hover,
                &:focus{
                    color:$active-color;
                }
            }
        }

        .title-02{
            margin-bottom:10px;
            text-align:center;
        }

        .list-01{
            li{
                margin-bottom:2px;

                a{
                    color:#333;
                    font-size:fz(12);
                    transition:all 0.2s ease 0s;

                    &:active,
                    &:hover,
                    &:focus{
                        color:$active-color;
                    }
                }

                ul{
                    margin:3px 12px;
                }
            }
        }

        .list-02{
            margin-bottom:17px;

            li{
                margin-bottom:9px;
                border-bottom:1px solid #c6c9d3;

                a{
                    padding-bottom:9px;
                    display:block;
                    color:#333;
                    transition:all 0.2s ease 0s;

                    &:active,
                    &:hover,
                    &:focus{
                        color:$active-color;
                    }
                }

                &.border-none{
                    border-bottom:none;
                }

                &.external{
                    a{
                        padding-left:18px;
                        position:relative;

                        &:before{
                            position:absolute;
                            top:8px;
                            left:0;
                            color:#20a898;
                            vertical-align:middle;
                            @extend .icon-window-01;
                            font-size:12px;
                            transition:all 0.2s ease 0s;
                        }

                        &:active,
                        &:hover,
                        &:focus{
                            &:before{
                                color:$active-color;
                            }
                        }
                    }
                }
            }
        }

        .btn-menbers{
            text-align:center;

            a{
                padding:7px 10px;
                position:relative;
                box-sizing:border-box;
                border-radius:10px;
                display:block;
                vertical-align:middle;
                text-align:center;
                font-weight:bold;
                transition:all 0.2s ease 0s;
            }

            &.type-01{
                a{
                    box-shadow:0 2px 0 0 #c7c900;
                    color:#333;
                    background-color:#fcff00;

                    span{
                        &:before{
                            margin-right:6px;
                            color:#231815;
                            vertical-align:middle;
                            @extend .icon-kuroneko-01;
                            font-size:18px;
                        }
                    }

                    &:active{
                        box-shadow:0 3px 0 0 rgba(0, 0, 0, 0.15) inset!important;
                    }

                    &:hover,
                    &:focus{
                        box-shadow:none;
                        background-color:#ffda00;
                        text-decoration:none;
                    }
                }
            }

            &.type-02{
                a{
                    box-shadow:0 2px 0 0 #00343c;
                    color:#fff;
                    background-color:#006f80;

                    span{
                        &:before{
                            margin-right:10px;
                            position:relative;
                            top:-1px;
                            color:#fff;
                            vertical-align:middle;
                            @extend .icon-business-01;
                            font-size:17px;
                        }
                    }

                    &:active,
                    &:hover,
                    &:focus{
                        box-shadow:none;
                        background-color:#008a9f;
                        text-decoration:none;
                    }
                }
            }
        }
    }

    #nav-footer-03{
        background-color:#ebedf1;

        @media screen and ( max-width: $w-1064 ){
            display:none;
        }

        ul{
            @extend .clearfix;

            li{
                box-sizing:border-box;
                float:left;
                width:25%;
                text-align:center;

                a{
                    padding:13px 0 12px;
                    display:block;

                    &:active,
                    &:hover,
                    &:focus{
                        color:#fff;
                        background-color:$yamato-green-01;
                        text-decoration:none;
                    }
                }

                &.current{
                    a{
                        position:relative;
                        color:#fff;
                        background-color:$yamato-green-01;

                        &:before{
                            margin-left:-7px;
                            position:absolute;
                            top:-7px;
                            left:50%;
                            display:block;
                            content:"";
                            width:14px!important;
                            height:7px!important;
                            background:url('/assets/img/bg/bg_nav-footer-03_current.png') no-repeat 0 0;
                        }

                        &:active,
                        &:hover,
                        &:focus{
                            text-decoration:none;
                        }
                    }
                }
            }
        }
    }

    #site-logo-footer{
        margin-right:20px;
        float:left;
        width:134px;

        img{
            width:100%;
        }

        @media screen and ( max-width: $w-1064 ){
            margin:0 auto 6px;
            float:none;
            width:180px;
        }

        @media screen and ( max-width: $w-760 ){
            width:135px;
        }
    }

    #copyright{
        padding-top:3px;
        overflow:hidden;
        color:#999;
        font-size:fz(12);

        @media screen and ( max-width: $w-1064 ){
            overflow:inherit;
            text-align:center;
        }

        @media screen and ( max-width: $w-760 ){
            padding-bottom:10px;
        }
    }

    #nav-footer-04{
        position:absolute;
        top:25px;
        right:30px;

        @media screen and ( max-width: $w-1064 ){
            margin-bottom:30px;
            position:static;
        }

        @media screen and ( max-width: $w-1064 ){
            margin-bottom:20px;
        }

        ul{
            @extend .clearfix;

            @media screen and ( max-width: $w-1064 ){
                text-align:center;
            }

            @media screen and ( max-width: $w-760 ){
                border-top:1px solid #c6c9d3;
            }

            li{
                margin-left:10px;
                padding-left:10px;
                background:url('/assets/img/bg/bg_border_03.gif') no-repeat 0 0.5em;
                display:inline-block;
                overflow:hidden;
                font-size:fz(12);

                @media screen and ( max-width: $w-760 ){
                    margin-left:0;
                    padding-left:0;
                    border-right:1px solid #c6c9d3;
                    border-bottom:1px solid #c6c9d3;
                    box-sizing:border-box;
                    float:left;
                    width:50%;
                    background:none;

                    &:nth-child(2n){
                        border-right:none;
                    }
                }

                &:first-child{
                    margin-left:0;
                    padding-left:0;
                    background:none;
                }

                a{
                    color:#666;

                    @media screen and ( max-width: $w-760 ){
                        display:table-cell;
                        width:300px;
                        height:45px;
                        line-height:1.3;
                        vertical-align:middle;
                        font-size:fz(12);

                        &:active,
                        &:hover,
                        &:focus{
                            text-decoration:none;
                        }
                    }
                }
            }
        }
    }
}

/* footer-top
--------------------------------------- */
#footer-top{
    color:#b5b5c8;
    padding:20px 0;
    @media screen and ( max-width: $w-1064 ){
        background-color:#575a5f;
        color:#FFF;
    }
}
