@charset "UTF-8";

/* -------------------------------------------------------------------

    Header

-------------------------------------------------------------------- */
#header{
    *{
        transition:width,height,font-size,margin,padding,background-color,text-decoration,color,border, 0.2s ease 0s;
    }

    #header-block-01{
        border-bottom:1px solid #c6c9d3;

        @media screen and ( max-width: $w-760 ){
            display:none;
        }

        #header-block-01-inner{
            margin:0 auto;
            @extend .clearfix;

            #nav-category{
                float:left;

                ul{
                    @extend .clearfix;

                    li{
                        float:left;
                        width:112px;

                        a{
                            padding:9px 0;
                            display:block;
                            color:#333;
                            text-align:center;
                            font-size:fz(12);

                            &:active,
                            &:hover,
                            &:focus{
                                color:$yamato-green-01;
                                text-decoration:none;
                            }
                        }

                        &.current{
                            a{
                                background-color:$yamato-green-01;
                                color:#fff;

                                &:active,
                                &:hover,
                                &:focus{
                                    color:#fff;
                                }
                            }
                        }
                    }
                }
            }

            #nav-utility{
                padding-top:5px;
                float:right;

                ul{
                    @extend .clearfix;

                    li{
                        margin-right:24px;
                        float:left;

                        @media screen and ( max-width: $w-1064 ){
                            margin-right:12px;
                        }

                        &.current{
                            a{
                                color:$yamato-green-01;
                            }
                        }

                        a{
                            color:#333;
                            font-size:fz(12);

                            &:active,
                            &:focus,
                            &:hover{
                                color:$yamato-green-01;
                                text-decoration:none;
                            }
                        }
                    }
                }
            }

            #btn-fs-switch{
                margin-top:8px;
                float:right;

                a{
                    padding:4px 12px 5px;
                    border-radius:8px;
                    border:1px solid #c6c9d3;
                    display:block;
                    color:#333;
                    line-height:1.1;
                    font-size:fz(12);

                    @media screen and ( max-width: $w-1064 ){
                        padding:4px 10px 5px;
                    }

                    &:active,
                    &:hover,
                    &:focus{
                        border:1px solid $yamato-green-01;
                        color:#fff;
                        background-color:$yamato-green-01;
                        text-decoration:none;
                    }
                }
            }

            #btn-lang-switch{
                margin:8px 10px 0 8px;
                float:right;

                a{
                    display:block;
                    line-height:1.1;
                    font-size:fz(12);

                    &:active,
                    &:hover,
                    &:focus{
                        text-decoration:none;
                    }

                    span{
                        padding:4px 12px 5px;
                        border-radius:8px;
                        border:1px solid #c6c9d3;
                        display:block;
                        color:#333;

                        @media screen and ( max-width: $w-1064 ){
                            padding:4px 10px 5px;
                        }

                        &:active,
                        &:hover,
                        &:focus{
                            border:1px solid $yamato-green-01;
                            color:#fff;
                            background-color:$yamato-green-01;
                            text-decoration:none;
                        }
                    }

                    .lang-02{
                        display:none;
                    }

                    @media screen and ( max-width: $w-1064 ){
                        .lang-01{
                            display:none;
                        }

                        .lang-02{
                            display:block;
                        }
                    }
                }
            }
        }
    }

    #header-block-02{
        #header-block-02-inner{
            margin:0 auto;
            position:relative;
            @extend .clearfix;

            @media screen and ( max-width: $w-760 ){
                height:60px;
            }

            #btn-hamburger{
                margin:15px 0 0 10px;
                display:none;
                float:left;
                line-height:1.1;
                text-align:center;
                cursor:pointer;

                @media screen and ( max-width: $w-760 ){
                    display:block;
                }

                @extend .icon-hamburger-02;

                &:before{
                    display:block;
                    color:$yamato-green-01;
                    vertical-align:middle;
                    font-size:20px;
                }

                .text{
                    margin-top:4px;
                    display:block;
                    color:$yamato-green-01;
                    font-size:fz(9);
                }
            }

            #site-logo{
                margin:20px 40px 0 0;
                padding:12px 35px 11px 30px;
                border-right:1px solid #e9e9ed;
                box-sizing:border-box;
                float:left;

                @media screen and ( max-width: $w-1064 ){
                    margin:27px 30px 0 15px;
                    padding:0;
                    border-right:none;
                }

                @media screen and ( max-width: $w-760 ){
                    margin:0 0 0 -83px;
                    position:absolute;
                    float:none;
                    top:20px;
                    left:50%;
                }

                img{
                    width:160px;

                    @media screen and ( max-width: $w-1064 ){
                        width:140px;
                    }

                    @media screen and ( max-width: $w-760 ){
                        width:120px;
                    }
                }
            }

            #nav-global{
                box-sizing:border-box;
                padding-top:30px;
                height:90px;
                overflow:hidden;

                @media screen and ( max-width: $w-1064 ){
                    padding-top:23px;
                    height:80px;
                }

                @media screen and ( max-width: $w-760 ){
                    display:none;
                }

                ul{
                    @extend .clearfix;

                    li{
                        margin-right:22px;
                        padding-right:23px;
                        float:left;
                        background:url('/assets/img/bg/bg_border_01.png') no-repeat 100% 8px;

                        @media screen and ( max-width: $w-1280 ){
                            margin-right:14px;
                            padding-right:15px;
                            background-position:100% 8px;
                        }

                        &:last-child{
                            margin-right:0;
                            padding-right:0;
                            background:none;
                        }

                        &.current{
                            a{
                                color:$yamato-green-01;
                            }
                        }

                        a{
                            display:block;
                            color:#333;
                            font-size:fz(18);

                            @media screen and ( max-width: $w-1280 ){
                                font-size:fz(15);
                            }

                            &:active,
                            &:focus,
                            &:hover{
                                color:$yamato-green-01;
                                text-decoration:none;
                            }
                        }
                    }
                }
            }

            #site-search{
                position:absolute;
                top:25px;
                right:120px;

                @media screen and ( max-width: $w-1064 ){
                    padding:25px 30px 0;
                    display:none;
                    box-sizing:border-box;
                    top:80px;
                    right:inherit;
                    left:0;
                    z-index:9999;
                    width:100%;
                    height:100px;
                    background-color:$yamato-green-01;
                    transition:none;
                }

                @media screen and ( max-width: $w-760 ){
                    padding:19px 15px 0;
                    top:60px;
                    height:72px;
                }

                p{
                    position:relative;

                    .input-text{
                        padding:0 40px 0 15px;
                        border:1px solid #eaeaf0;
                        border-radius:20px;
                        box-sizing:border-box;
                        width:200px;
                        height:40px;
                        background-color:#eaeaf0;
                        font-size:fz(12);
                        transition:none;

                        @media screen and ( max-width: $w-1064 ){
                            padding:0 70px 0 30px;
                            border:1px solid #fff;
                            border-radius:40px;
                            width:100%;
                            height:50px;
                            background-color:#fff;
                            font-size:fz(16);
                        }

                        @media screen and ( max-width: $w-760 ){
                            padding:0 40px 0 14px;
                            border-radius:20px;
                            height:35px;
                            font-size:fz(12);
                        }
                    }

                    .search-img-pc{
                        position:absolute;
                        top:12px;
                        right:15px;
                        width:17px;
                        height:17px;
                        transition:none;

                        @media screen and ( max-width: $w-1064 ){
                            display:none;
                        }
                    }

                    .search-img-sp{
                        position:absolute;
                        top:12px;
                        right:30px;
                        display:none;
                        width:25px;
                        transition:none;

                        @media screen and ( max-width: $w-1064 ){
                            display:block;
                        }

                        @media screen and ( max-width: $w-760 ){
                            top:10px;
                            right:12px;
                            width:15px;
                            height:15px;
                        }
                    }
                }
            }

            #btn-site-search{
                display:none;

                @media screen and ( max-width: $w-1064 ){
                    position:absolute;
                    top:14px;
                    right:106px;
                    display:block;
                    line-height:1.1;
                    text-align:center;
                    cursor:pointer;

                    .site-search-btn{
                        .image{
                            width:28px;
                        }

                        .text{
                            margin-top:8px;
                            display:block;
                            color:$yamato-green-01;
                            font-size:fz(13);
                        }
                    }
                }

                @media screen and ( max-width: $w-760 ){
                    top:14px;
                    right:76px;

                    .site-search-btn{
                        .image{
                            width:20px;
                        }

                        .text{
                            margin-top:4px;
                            display:block;
                            color:$yamato-green-01;
                            font-size:fz(9);
                        }
                    }
                }
            }

            #btn-site-search-close{
                display:none;

                span{
                    @extend .icon-close-03;
                }

                @media screen and ( max-width: $w-1064 ){
                    position:absolute;
                    top:0;
                    right:80px;
                    z-index:9999;
                    width:80px;
                    height:80px;
                    background-color:$yamato-green-01;
                    cursor:pointer;

                    span{
                        padding:26px 0 0 29px;
                        display:block;

                        &:before{
                            color:#fff;
                            vertical-align:middle;
                            font-size:22px;
                        }
                    }
                }

                @media screen and ( max-width: $w-760 ){
                    top:0;
                    right:60px;
                    width:60px;
                    height:60px;

                    span{
                        padding:17px 0 0 19px;
                    }
                }
            }

            #btn-login{
                position:absolute;
                top:0;
                right:0;
                box-sizing:border-box;
                font-size:fz(11);
                text-align:center;

                @media screen and ( max-width: $w-1064 ){
                    font-size:fz(10);
                }

                @media screen and ( max-width: $w-760 ){
                    line-height:1.2;
                    font-size:fz(9);
                }

                &.type-01{
                    a{
                        padding-top:15px;
                        color:#333;
                        background-color:#fcff00;

                        @media screen and ( max-width: $w-760 ){
                            padding-top:10px;
                        }

                        &:active,
                        &:focus,
                        &:hover{
                            background-color:#ffd600;
                            text-decoration:none;

                            @media screen and ( max-width: $w-760 ){
                                background-color:#fcff00;
                            }

                            .img{
                                animation:sprite-login-01 1s steps(10) forwards;

                                @keyframes sprite-login-01{
                                    0% { background-position: 0 0; }
                                    100% { background-position: 0 -280px; }
                                }

                                @media screen and ( max-width: $w-760 ){
                                    animation:none;
                                }
                            }
                        }
                    }

                    .img{
                        width:31px;
                        height:28px;
                        background:url('/assets/img/icon/icon_members_01.png') no-repeat 0 0;
                        background-size:31px 308px;

                        @media screen and ( max-width: $w-760 ){
                            width:20px;
                            height:18px;
                            background-size:20px 198px;
                        }
                    }

                    .text{
                        padding-top:4px;

                        @media screen and ( max-width: $w-1064 ){
                            padding-top:3px;
                        }

                        @media screen and ( max-width: $w-760 ){
                            padding-top:4px;
                        }
                    }
                }

                &.type-02{
                    a{
                        padding-top:9px;
                        color:#fff;
                        background-color:#006f80;

                        @media screen and ( max-width: $w-760 ){
                            padding-top:5px;
                        }

                        &:active,
                        &:focus,
                        &:hover{
                            background-color:#008a9f;
                            text-decoration:none;

                            @media screen and ( max-width: $w-760 ){
                                background-color:#006f80;
                            }

                            .img{
                                animation:sprite-login-02 1s steps(12) forwards;

                                @keyframes sprite-login-02{
                                    0% { background-position: 0 0; }
                                    100% { background-position: 0 -444px; }
                                }

                                @media screen and ( max-width: $w-760 ){
                                    animation:none;
                                }
                            }
                        }

                        .img{
                            width:37px;
                            height:37px;
                            background:url('/assets/img/icon/icon_members_02.png') no-repeat 0 0;
                            background-size:37px 481px;

                            @media screen and ( max-width: $w-760 ){
                                width:25px;
                                height:25px;
                                background-size:25px 325px;
                            }
                        }
                    }

                    .text{
                        padding-top:2px;

                        @media screen and ( max-width: $w-1064 ){
                            padding-top:1px;
                        }

                        @media screen and ( max-width: $w-760 ){
                            padding-top:2px;
                        }
                    }
                }

                a{
                    box-sizing:border-box;
                    display:block;
                    width:100px;
                    height:90px;

                    @media screen and ( max-width: $w-1064 ){
                        width:80px;
                        height:80px;
                    }

                    @media screen and ( max-width: $w-760 ){
                        width:60px;
                        height:60px;
                    }

                    .img{
                        margin:0 auto;
                        display:block;
                        overflow:hidden;
                        transition-property:none;
                    }
                }

                .text{
                    display:block;
                    line-height:1.4;

                    @media screen and ( max-width: $w-1064 ){
                        line-height:1.2;
                    }
                }
            }
        }
    }
}

// SP Global Navigation
#nav-global-sp{
    position:relative;
    display:none;

    #nav-global-sp-inner{
        &.scroll{
            overflow-y:scroll;
        }
    }

    @media screen and ( max-width: $w-760 ){
        position:fixed;
        top:0;
        left:-100%;
        z-index:99999;
        display:block;
        width:85.9375%;
        background-color:#fff;
    }

    .title-01{
        padding:6px 15px 9px;
        color:#fff;
        background-color:#098377;
        font-weight:bold;
        font-size:fz(14);
    }

    ul{
        li{
            border-bottom:1px solid $yamato-green-01;

            a{
                padding:12px 19px 12px 52px;
                position:relative;
                display:block;
                color:#333;
                font-weight:bold;

                &:active,
                &:focus,
                &:hover{
                    text-decoration:none;
                }

                .image{
                    position:absolute;
                    top:11px;
                    left:9px;
                    width:32px;
                }

                span{
                    padding-right:20px;
                    position:relative;
                    display:block;
                    font-size:fz(14);
                    @extend .icon-arrow-right-01;

                    &:before{
                        position:absolute;
                        top:2px;
                        right:-6px;
                        color:$yamato-green-01;
                        vertical-align:middle;
                        font-size:24px;
                    }
                }
            }

            ul{
                border-top:1px solid $yamato-green-01;

                li{
                    border-bottom:1px solid #e1e3e9;

                    a{
                        padding:12px 19px 12px 15px;

                        span{
                            font-size:fz(13);

                            &:before{
                                top:4px;
                                right:-4px;
                                font-size:18px;
                            }
                        }
                    }

                    &:last-child{
                        border-bottom:none;
                    }
                }
            }

            &.type-02{
                a{
                    padding-left:15px;
                }
            }

            &.type-03{
                border-bottom:1px solid #e1e3e9;
                background-color:#f5f6f8;

                a{
                    padding:6px 19px 7px 15px;
                    font-size:fz(11);

                    span{
                        &:before{
                            top:2px;
                            right:-4px;
                            font-size:18px;
                        }
                    }
                }
            }

            &.type-04{
                border-bottom:1px solid #e1e3e9;
                background-color:#f5f6f8;

                &.active{
                    .lang-container{
                        span{
                            @extend .icon-arrow-top-02;
                        }
                    }

                    ul{
                        border-top:1px solid #e1e3e9;
                        max-height:100em;
                    }
                }

                .lang-container{
                    padding:6px 19px 7px 45px;
                    position:relative;
                    display:block;
                    color:#333;
                    font-weight:bold;
                    cursor:pointer;

                    @extend .icon-lang-01;

                    &:before{
                        position:absolute;
                        top:7px;
                        left:15px;
                        color:$yamato-green-01;
                        vertical-align:middle;
                        font-size:20px;
                    }

                    span{
                        padding-right:20px;
                        position:relative;
                        display:block;
                        font-size:fz(11);
                        @extend .icon-arrow-btm-02;

                        &:before{
                            position:absolute;
                            top:2px;
                            right:-4px;
                            color:$yamato-green-01;
                            vertical-align:middle;
                            font-size:18px;
                        }
                    }
                }

                ul{
                    border-top:none;
                    overflow:hidden;
                    max-height:0;

                    li{
                        background-color:#fff;

                        a{
                            span{
                                font-size:fz(11);
                            }
                        }
                    }
                }
            }
        }
    }

    .hand{
        position:absolute;
        top:100px;
        right:-38px;
        width:50px;
        height:42px;
        overflow:hidden;
        background:url('/assets/img/img/img_hand_01.png') no-repeat 0 0;
        background-size:50px 504px;
        transition-property:none;

        &.moving{
            animation:sprite-hand 0.3s steps(11) forwards;
        }

        @keyframes sprite-hand{
            0% { background-position: 0 0; }
            100% { background-position: 0 -462px; }
        }
    }
}

// SP Global Navigation Close Button
#nav-global-sp-close{
    position:absolute;
    right:-9999px;
    display:none;
    @extend .icon-close-03;

    @media screen and ( max-width: $w-760 ){
        position:fixed;
        top:8px;
        right:4.21875%;
        z-index:99999;
        cursor:pointer;

        &:before{
            color:#fff;
            vertical-align:middle;
            font-size:20px;
        }
    }
}

// SP Global Navigation Overlay
#nav-global-sp-overlay{
    display:none;

    @media screen and ( max-width: $w-760 ){
        position:fixed;
        top:0;
        left:0;
        z-index:99998;
        width:100%;
        height:120%;
        background-color:#1ea697;
        opacity:0.85;
    }
}

// Switch Modal Window
.switch-modal{
    margin-left:-369px;
    position:fixed;
    left:50%;
    z-index:99998;
    width:738px;
    display:none;
    opacity:0;
    transition:all 0.2s ease 0s;
    transform:scale(0.9);
    transform-origin:50% 50%;

    &.open{
        opacity:1;
        transform:scale(1);
    }

    .switch-modal-inner{
        position:relative;
    }

    .title{
        margin-bottom:30px;
        font-size:fz(32);
        text-align:center;
    }

    .btn-close{
        position:absolute;
        top:-60px;
        right:0;
        cursor:pointer;
        @extend .icon-close-01;

        &:before{
            color:$yamato-green-01;
            vertical-align:middle;
            font-size:39px;
        }
    }

    .btn-list{
        margin:0 auto;
        @extend .clearfix;

        &.btn-3{
            width:546px;
        }

        &.btn-4{
            width:738px;
            font-size:fz(20);
        }

        li{
            margin-left:30px;
            position:relative;
            float:left;
            text-align:center;

            &:first-child{
                margin-left:0;
            }

            &.current{
                .inner{
                    border:1px solid $yamato-green-01;
                    box-shadow:0 2px 0 0 $yamato-green-01;
                    color:#fff;
                    background-color:$yamato-green-01;
                    cursor:default!important;
                }
            }

            .inner.current{
                border:1px solid $yamato-green-01;
                box-shadow:0 2px 0 0 $yamato-green-01;
                color:#fff;
                background-color:$yamato-green-01;
                cursor:default!important;
            }

            .inner{
                border-radius:5px;
                border:1px solid #c6c9d3;
                box-shadow:0 2px 0 0 #c6c9d3;
                display:table-cell;
                width:160px;
                height:136px;
                line-height:1.1;
                vertical-align:middle;
                background-color:#fff;
                color:$yamato-green-01;
                cursor:pointer;
                transition:all 0.2s ease 0s;

                &:active,
                &:hover,
                &:focus{
                    border:1px solid $yamato-green-01;
                    box-shadow:0 2px 0 0 $yamato-green-01;
                    color:#fff;
                    background-color:$yamato-green-01;
                    text-decoration:none;
                }
            }

            &#font-S{ .text-01{ font-size:fz(29); }}
            &#font-M{ .text-01{ font-size:fz(42); }}
            &#font-L{ .text-01{ font-size:fz(56); }}

            .text-02{
                margin-top:10px;
                display:block;
                width:100%;
                text-align:center;
            }
        }
    }

    .btn-submit{
        margin:30px auto 0;
        padding:6px 0 9px;
        border-radius:5px;
        border:1px solid #c6c9d3;
        box-shadow:0 2px 0 0 #c6c9d3;
        box-sizing:border-box;
        width:162px;
        color:$yamato-green-01;
        background-color:#fff;
        text-align:center;
        cursor:pointer;
        transition:all 0.2s ease 0s;

        &:active,
        &:hover,
        &:focus{
            border:1px solid $yamato-green-01;
            box-shadow:0 2px 0 0 $yamato-green-01;
            color:#fff;
            background-color:$yamato-green-01;
            text-decoration:none;
        }
    }
}

// Switch Modal Window Overlay
#switch-overlay{
	position:fixed;
	top:0;
	left:0;
	z-index:10001;
	display:none;
	width:100%;
	height:100%;
    background-color:#fff;
    opacity:0.8;
	cursor:pointer;
}

/* header-top
--------------------------------------- */
#header-top{
    height:105px;
    padding:13px 30px 18px;
    box-sizing:border-box;

    .nav-btn-02{
        margin-bottom:0;
    }

    @media screen and ( max-width: $w-1064 ){
        height:100px;
        padding:10px 2% 8px;
        box-sizing:border-box;
    }

    *{
        transition:width,height,font-size,margin,padding,background-color,text-decoration,color,border, 0.2s ease 0s;
    }
    #header-block-01{

        @media screen and ( max-width: $w-1064 ){
            position:absolute;
            left:20px;
            top:18px;
            width:70px;
            text-align:center;
            z-index:9999;
        }

        #header-block-01-inner{
            @extend .clearfix;

            #btn-lang-switch{
                margin:0 10px 0 8px;
                float:right;

                @media screen and ( max-width: $w-1064 ){
                    float:left;
                    margin:0;
                }

                a{
                    display:block;
                    line-height:1.1;
                    font-size:fz(12);

                    &:active,
                    &:hover,
                    &:focus{
                        text-decoration:none;
                    }

                    span{
                        padding:4px 12px 5px;
                        border-radius:8px;
                        border:1px solid #c6c9d3;
                        display:block;
                        color:#333;

                        @media screen and ( max-width: $w-1064 ){
                            display:inline-block;
                            border:none;
                            width:100%;
                            color:$yamato-green-01;
                            padding:4px 0 5px;
                        }

                        &:active,
                        &:hover,
                        &:focus{
                            border:1px solid #5ac3b7;
                            color:#fff;
                            background-color:#5ac3b7;
                            text-decoration:none;

                            @media screen and ( max-width: $w-1064 ){
                                border:none;
                                background-color:#FFF;
                                color:$yamato-green-01;
                            }
                        }
                    }

                    .img01{
                        display:none;
                    }

                    .lang-02{
                        display:none;
                    }

                    @media screen and ( max-width: $w-1064 ){
                        .img01{
                            display:block;
                        }
                    }
                }
            }
        }
    }

    #header-block-02{
        #header-block-02-inner{
            margin:0 auto;
            position:relative;
            @extend .clearfix;

            #site-logo{
                position:relative;
                top:-2px;
                float:left;

                @media screen and ( max-width: $w-1064 ){
                    position:absolute;
                    float:none;
                    top:20px;
                    left:50%;
                    margin:0 0 0 -83px;
                    padding:0;
                    border-right:none;
                    img{
                        width:100%;
                    }
                }

                img{
                    width:220px;

                    @media screen and ( max-width: $w-1064 ){
                        width:200px;
                    }

                    @media screen and ( max-width: $w-760 ){
                        width:120px;
                    }
                }
            }

            #header-nav{
                float:right;
                padding:10px 0 0;

                li{
                    &#btn-login a{
                        background-color:#fcff00;
                        color:#000;
                        box-shadow: 0 2px 0 0 #c7c900;

                        &:active,
                        &:focus,
                        &:hover{
                            background-color:#ffd600;
                            text-decoration:none;
                            box-shadow: none;

                            .img{
                                animation:sprite-login-top 1s steps(10) forwards;

                                @keyframes sprite-login-top{
                                    0% { background-position: 0 0; }
                                    100% { background-position: 0 -200px; }
                                }

                                @media screen and ( max-width: $w-760 ){
                                    animation:none;
                                }
                            }
                        }

                        .img{
                            position:relative;
                            top:1px;
                            vertical-align:middle;
                            display:inline-block;
                            overflow:hidden;
                            width:22px;
                            height:20px;
                            margin:0 5px 0 0;
                            -webkit-transition-property:none;
                            transition-property:none;
                            background:url('/assets/img/icon/icon_members_01.png') no-repeat 0 0;
                            background-size:100% 220px;
                        }
                    }

                    &#btn-members a{
                        background-color:#006f80;
                        box-shadow:0 2px 0 0 #00343c;

                        &:active,
                        &:focus,
                        &:hover{
                            background-color:#ffd600;
                            text-decoration:none;
                            box-shadow: none;

                        }
                        .img{
                            position:relative;
                            top:1px;
                            vertical-align:middle;
                            display:inline-block;
                            overflow:hidden;
                            width:18px;
                            height:20px;
                            margin:0 5px 0 0;
                            -webkit-transition-property:none;
                            transition-property:none;
                            background:url('/assets/img/icon/icon_members_02.png') no-repeat 0 0;
                            background-size:100% 372px;
                        }
                    }

                    a{
                        width:210px;
                        font-size:fz(12);

                        &:active,
                        &:focus,
                        &:hover{
                            background-color:#ffd600;
                            text-decoration:none;

                            // .img{
                            //     animation:sprite-login 1s steps(10) forwards;

                            //     @keyframes sprite-login{
                            //         0% { background-position: 0 0; }
                            //         100% { background-position: 0 -200px; }
                            //     }

                            //     @media screen and ( max-width: $w-760 ){
                            //         animation:none;
                            //     }
                            // }
                        }
                    }
                }
                @media screen and ( max-width: $w-1064 ){
                    width:140px;
                    li{
                        display:inline-block;
                        font-size:fz(10);
                        width:70px;
                        margin:0;
                        text-align:center;
                        a{
                            background-color:transparent;
                        }
                        &#btn-login a,
                        &#btn-members a{
                            background-color:transparent;
                            box-shadow:none;
                            color:$yamato-green-01;
                            width:100%;
                            padding:0;

                            &:active,
                            &:focus,
                            &:hover{
                                background-color:transparent;
                            }
                        }

                        .img{
                            animation:none;
                        }

                        &#btn-login a{
                            .img{
                                background-image:url('/assets/img/icon/icon_members_03.png');
                                background-size:contain;
                                display:block;
                                margin:0 auto;
                            }
                        }
                        &#btn-members a{
                            .img{
                                background-image:url('/assets/img/icon/icon_members_04.png');
                                background-size:contain;
                                display:block;
                                margin:0 auto;
                            }
                        }
                    }
                }
            }
        }
    }
}


#container.sp-fixed-header{
    padding-top:60px;
}
#header{
    @media screen and ( max-width: $w-760 ){
        &.fixed{
            width:100%;
            position:fixed;
            top: -60px;
            background-color:#FFF;
            z-index:9999;
            border-bottom:1px solid #c6c9d3;
        }
    }
}
