@charset "shift_jis";

/* ----------------------------------------------------------------
Base Coding Modules
----------------------------------------------------------------- */

/*  Heading
--------------------------------------- */
.hdg-module-01-container{
    margin-bottom:30px;
    padding:10px 20px 10px;
    border-bottom:1px solid #ddd;
    position:relative;
    background-color:#f4f4f4;
}

.hdg-module-01-container .hdg-module-01{
    margin-bottom:0;
    font-size:200%;
}

.hdg-module-01-container .module-id{
    padding:2px 7px;
    position:absolute;
    top:18px;
    right:20px;
    color:#fff;
    background-color:#009a8b;
    font-size:86%;
}

@media screen and ( max-width: 760px ){
    .hdg-module-01-container{
        padding:7px 10px 7px;
    }

    .hdg-module-01-container .hdg-module-01{
        margin-bottom:0;
        font-size:120%;
    }

    .hdg-module-01-container .module-id{
        display:none;
    }
}

/*  Code
--------------------------------------- */
.module-sample-code{
    margin:0 0 10px;
    padding:20px;
    display:block;
    width:100%;
    height:20em;
    overflow-y:scroll;
    line-height:1.5;
    color:#fff;
    background-color:#111;
    font-size:12px;
    box-sizing:border-box;
}

.module-sample-code code{
    font-family:Consolas,'Andale Mono',Monaco,monospace;
}

.inline-code{
    margin:0 0.5em;
    padding:0.2em 10px;
    border-radius:3px;
    background-color:#f5f5f5;
    font-family:Consolas,'Andale Mono',Monaco,monospace;
    font-size:85%;
}

.box-code-01{
    margin-bottom:30px;
    padding:20px;
    background-color:#f5f5f5;
}
.box-code-01 pre{
    font-family:Consolas,'Andale Mono',Monaco,monospace;
}

/*  Comment
--------------------------------------- */
.module-comment{
    margin-bottom:80px;
    padding:10px 7px 3px;
    border:1px solid #4d4d4d;
    color:#fff;
    background-color:#111;
    font-size:86%;
}

.module-comment li:before{
    top:7px;
    color:#fff;
}

.module-comment em{
    margin:0 5px;
    color:#009a8b;
}

@media screen and ( max-width: 760px ){
    .module-comment{
        margin-bottom:40px;
    }
}

/*  Dislay Button
--------------------------------------- */
#btn-module{
    position:fixed;
    top:10px;
    right:10px;
    width:160px;
    z-index:99999;
    opacity:0.8;
}

#btn-module p{
    padding:8px 15px;
    background-color:#000;
    color:#fff;
    background:#009a8b;
}

#btn-module ul{
    padding:10px 10px 1px;
    background-color:#333;
    background:rgba(0,0,0,0.7);
}

#btn-module li{
    margin-bottom:10px;
    padding-left:20px;
    position:relative;
}

#btn-module a{
    color:#fff;
    font-weight:bold;
    cursor:pointer;
}

#btn-module li:before{
    position:absolute;
    top:7px;
    left:-1px;
    color:#fff;
    vertical-align:middle;
    font-family:'iconfont'!important;
    speak:none;
    font-style:normal;
    font-weight:normal;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    content: "\e906";
}

@media screen and ( max-width: 760px ){
    #btn-module{
        display:none;
    }
}

/*  Module Block
--------------------------------------- */
.module-block{
    margin:0 auto;
    padding:50px 30px 11px;
    width:1170px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

@media screen and ( max-width: 1190px ){
    .module-block{
        width:100%;
    }
}

@media screen and ( max-width: 760px ){
    .module-block{
        padding:25px 15px 6px;
    }
}


/* ----------------------------------------------------------------
    Prism CSS Styles
----------------------------------------------------------------- */
/* http://prismjs.com/download.html?themes=prism-dark&languages=markup+css+clike+javascript */
/**
 * prism.js Dark theme for JavaScript, CSS and HTML
 * Based on the slides of the talk “/Reg(exp){2}lained/”
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: white;
	background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

pre[class*="language-"],
:not(pre) > code[class*="language-"] {
	background-color:#111;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .15em .2em .05em;
	border-radius: .3em;
	border: .13em solid hsl(30, 20%, 40%);
	box-shadow: 1px 1px .3em -.1em black inset;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color:#888;
}

.token.punctuation {
	opacity:1;
}

.namespace {
	opacity:1;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
	color:#96cbfe;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color:#c6c5fe;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color:#fff;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color:#a8ff60;
}

.token.regex,
.token.important {
	color:#fff;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.deleted {
	color: red;
}
