/* ============================================
 Members Page
============================================ */

/* Reset */
body{
margin:0;
padding:0;
color: #333333;
width: 100%;
line-height: 1.5;
}

ul,li{
list-style-type: none;
margin: 0;
padding: 0;
}
 
img{
border: none;
}

p{
margin: 0;
padding: 0;
}

/* Common */
.fLeft{
float: left;
}

.fRight{
float: right;
}

.center{
text-align: center !important;
}
.right{
text-align: right;
}
.f-small{
font-size: 77%;
}

.mb10{
margin-bottom: 10px;
}
.mb15{
margin-bottom: 15px;
}
.mb30{
margin-bottom: 30px;
}
.mt20{
margin-top: 20px;
}

.clearfix:after{  
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}

.hide {
	display:none;
}

img.hover:hover {
  opacity: 0.7;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

.pageTop {
	width:950px;
	margin:0 auto;
	_padding-top:0px;
	clear:both;
}

/* Page Layout */
#body{
width: 100%;
margin:0;
padding: 0;
text-align: center;
}

/* Header */
#header-e{
width: 100%;
color: #000;
padding-bottom:25px;
}
#header-e:after{  
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}

h1{
background: none !important;
border: none !important;
}

#header {
margin-bottom: 0px;
}




/* Main Area */
.main {
	width: 950px;
	margin:0 auto;
	text-align: left;
	clear: both;
	font-size:18px;
}

.main:after {  
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.main a { color: #003399; text-decoration: underline; }
.main a:link { color: #003399; text-decoration: underline; }
.main a:active { color: #003399; text-decoration: underline; }
.main a:visited { color: #003399; text-decoration: underline; }
.main a:hover{ color: #003399; text-decoration: none; }


.main h1 {
	margin:0;
	padding:0;
}

.main p.txt01 {
	padding:0 10px;
	margin-bottom:30px;
}

.main .navi {
	height:92px;
}

.main .navi:after {  
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.main .navi li {
	float:left;
	margin-left:10px;
	width:230px;
	height:92px;
	overflow:hidden;
}

.main .navi li.first {
	margin-left:0px;
}

.main .inner_contents {
	padding-top:20px;
}

.main .inner_contents:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.main .inner_contents h2 {
	margin:0 0 20px 0;
}

.main .inner_contents .fLeft {
	width:290px;
	padding-left:10px;
}

.main .inner_contents .fRight {
	width:600px;
	padding-right:10px;
	text-align:justify;
	text-justify:distribute;
	line-height:1.7em;
}

.main .inner_contents .fRight .images_01 {
	width:600px;
	height:75px;
	position:relative;
	margin:32px 0;
}

.main .inner_contents .fRight .images_01 .item01 {
	width:228px;
	height:75px;
	position:absolute;
	left:36px;
}

.main .inner_contents .fRight .images_01 .item02 {
	width:228px;
	height:75px;
	position:absolute;
	left:329px;
}

.main .inner_contents .fRight .explanat {
	background-color:#ebebeb;
	text-align:center;
	padding:22px 0;
	margin-top:32px;
}

.main .inner_contents .fRight .explanat img {
	padding:10px 0 0;
}

.main .inner_contents .fRight .explanat p {
	text-align:left;
	padding:0 22px 0.5em;
}

.main .inner_contents .fRight .explanat table {
	width:556px;
	margin:0 auto;
}

.main .inner_contents .fRight .explanat th,
.main .inner_contents .fRight .explanat td {
	vertical-align:top;
	font-weight:normal;
	font-size:14px;
	color:#333333;
	line-height:1.6em;
}

.main .inner_contents .fRight .explanat th {
	padding-right:8px;
	text-align:left;
	white-space:nowrap;
}

.main .inner_contents .fRight .explanat td {
	text-align:justify;
	text-justify:distribute;
	padding-bottom:0.6em;
	text-align:left;
}





.main .inner_contents .fRight .accordion {
	width:600px;
	_margin-bottom:30px;
}

.main .inner_contents .fRight .accordion h3 {
	width:600px;
	height:50px;
	background-color:#333333;
	border-top:#FFFFFF solid 1px;
	border-bottom:#FFFFFF solid 1px;
	text-indent:-9999px;
	overflow:hidden;
}

.main .inner_contents .fRight .accordion .a_contents {
	width:556px;
	_width:600px !important;
	background-color:#fffbe9;
	padding:30px 22px 30px;
	clear:both;
}

.main .inner_contents .fLeft:after,
.main .inner_contents .fRight:after,
.main .inner_contents .fRight .a_contents:after {  
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.main .inner_contents .fRight .accordion .a_contents h4 {
	font-weight:bold;
	line-height:1;
	margin-bottom:1.5em;
	font-size:20px;
}

.main .inner_contents .fRight .accordion .a_contents table {
	margin-bottom:1em;
}

.main .inner_contents .fRight .accordion .a_contents th,
.main .inner_contents .fRight .accordion .a_contents td {
	vertical-align:top;
	font-weight:normal;
	font-size:18px;
	color:#333333;
	line-height:1.6em;
}

.main .inner_contents .fRight .accordion .a_contents th {
	padding-right:8px;
	text-align:left;
	white-space:nowrap;
}

.main .inner_contents .fRight .accordion .a_contents td {
	text-align:justify;
	text-justify:distribute;
	padding-bottom:1.3em;
	text-align:left;
}

.main .inner_contents .fRight .accordion .a_contents span {
	color:#ff0000;
	text-decoration:underline;
}

.main .inner_contents .fRight .accordion .a_contents .close {
	width:110px;
	height:34px;
	margin:0 auto;
	_margin:0 0 0 223px;
	clear:both;
}

.main #anchor01 h3 {	background:url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekomail/contents_01_att.gif) no-repeat 0 0;}
.main #anchor02 h3 {	background:url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekomail/contents_02_att.gif) no-repeat 0 0;}
.main #anchor03 h3 {	background:url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekomail/contents_03_att.gif) no-repeat 0 0;}
/*.main #anchor04 h3 {	background:url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekomail/contents_04_att.gif) no-repeat 0 0;}*/

.main #anchor01 h3.active {background:url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekomail/contents_01_att_on.gif) no-repeat 0 0;}
.main #anchor02 h3.active {background:url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekomail/contents_02_att_on.gif) no-repeat 0 0;}
.main #anchor03 h3.active {background:url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekomail/contents_03_att_on.gif) no-repeat 0 0;}
/*.main #anchor04 h3.active {background:url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekomail/contents_04_att_on.gif) no-repeat 0 0;}*/



.main #anchor02 .a_contents h4 {
	color:#008576;
	margin-bottom:1em;
}

.main #anchor02 .a_contents p.cap {
	font-size:16px;
	line-height:1.5em;
}

.main #anchor02 .a_contents p.link {
	font-size:16px;
}



.main #anchor03 .a_contents h4 {
	margin-bottom:0.2em;
}

.main #anchor03 .a_contents h5 {
	color:#008576;
	font-weight:bold;
	margin-bottom:0.7em;
}

.main #anchor03 .a_contents h5:after {  
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.main #anchor03 .a_contents h5 a {
	color:#008576;
	/*background:url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekomail/link_in.gif) no-repeat left 0.5em;
	padding-left:20px;
	float:left;*/
}

.main #anchor03 .a_contents p {
	font-size:16px;
	margin-bottom:1em;
	line-height:1.6em;
}

.main #anchor03 .a_contents th,
.main #anchor03 .a_contents td {
	font-size:16px;
	padding:0;
}

.main #anchor04 .fRight {
	padding-bottom:50px;
}

.main #anchor04 .tel {
}

.main #anchor04 .tel th,
.main #anchor04 .tel td {
	vertical-align:top;
	white-space:nowrap;
}

.main #anchor04 .tel th {
	padding-top:6px;
}

.main #anchor04 .tel td {
	line-height:0.5em;
}

.main #anchor04 .service {
	background-color:#fffbe9;
	clear:both;
	padding:10px 10px 10px;
	margin-bottom:25px;
}

.main #anchor04 .service h4 {
	font-weight:bold;
	font-size:20px;
	padding-bottom:10px;
}

.main #anchor04 .service h5 {
	background-color:#333333;
	padding:8px 10px 5px;
	margin-bottom:0;
	border-top: #000000 solid 2px;
	border-right: #000000 solid 2px;
	border-left: #000000 solid 2px;
	color:#FFFFFF;
}

.main #anchor04 .service .a_contents {
	padding:10px;
}

.main #anchor04 .service_info {
	border:#000000 solid 1px;
}

.main #anchor04 .service table {
	background-color:#FFFFFF;
}

.main #anchor04 .service th,
.main #anchor04 .service td {
	vertical-align:top;
	font-weight:normal;
	font-size:14px;
	color:#000000;
	line-height:1.6em;
	border-collapse:collapse;
	border:#000000 solid 1px;
}

.main #anchor04 .service th {
	padding:15px;
	text-align:center;
	white-space:nowrap;
	vertical-align:middle;
	text-align:left;
}

.main #anchor04 .service td {
	text-align:justify;
	text-justify:distribute;
	padding-bottom:0.6em;
	text-align:left;
	padding:15px;
	vertical-align:middle;
}

.main #anchor04 .service td.midashi {
	padding:5px 15px;
}

.main #anchor04 .service td.title {
	width:50%;
	text-align:center;
	font-weight:bold;
	font-size:20px;
	vertical-align:top;
}

.main #anchor04 .service td.waku {
	padding:0;
}

.main #anchor04 .service td.eee,
.main #anchor04 .service th.eee {
	background-color:#eeeeee;
}

.main #anchor04 .service td.grey {
	background-color:#cccccc;
}

.main #anchor04 .service td.title2 {
	width:30%;
	text-align:center;
}

.main #anchor04 .service td.title b {
	display:block;
	margin-bottom:10px;
	font-size:16px;
}

.main #anchor04 .service table.inner {
	border:none;
}

.main #anchor04 .service table.inner td {
	border:none;
	width:50%;
	vertical-align:top;
}

.main #anchor04 .service table.inner td.left {
	border-right:#000000 solid 1px;
}

.main #anchor04 .pdf_area {
	width:630px;
	margin:0 auto;
}

.main #anchor04 .pdf_area .pdf01 {
	width:300px;
	float:left;
	margin-right:30px;
}

.main #anchor04 .pdf_area .pdf02 {
	width:300px;
	float:left;
}

.main #anchor04 .pdf_area div {
	text-align:center;
}

.main #anchor04 .pdf_area p {
	margin-bottom:5px;
}

.main #anchor04 .pdf_area .pdf_btn {
	width:170px;
	height:34px;
	clear:both;
	margin:10px auto 0;
}
