/*==========================================

okurijyo

==========================================*/
.serviceFlow {
padding:0 0 0 70px;
}
.serviceFlow1 {
float:left;
padding:0 50px 0 0;
width:150px;
}
.serviceFlow2 {
float:left;
width:150px;
}


h2 span.f12{
font-size:12px;
}