@charset "UTF-8";

.parts-tbl .cel_ttl {
  width: 20% !important;
}


/* --- smartphone
----------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 640px) {
  
.parts-tbl .cel_ttl {
  width: 30% !important;
}
}
