@charset "UTF-8";
/* CSS Document */


	
/* ============== テキスト色 ================= */

.txt_green {
	color: #006633;
	}
	
.txt_red {
	color: #FF0000;
	}
	

.txt_blu {
	color: #0033FF;
	}

.txt_ppl {
	color: #660066;
	}
	

.txt_red_L {
	color: #FF0000;
	font-size: 24px;
	}


/* ============== テーブル背景色 ================= */

.td_pad_blu {
	padding: 15px;
	background-color: #E3F4F1;
	}
	
.td_pad_yel {
	padding: 15px;
	background-color: #FFFFDF;
	}

.td_pad_org {
	padding: 15px;
	background-color: #FFF0C4;
	}

	
.td_bg_yel {
	background-color: #FFFFDF;
	}
	

	
.td_bg_blu {
	background-color: #E3F4F1;
	}
	

.td_bg_org {
	background-color: #FFF0C4;
	}
	
.td_border_green {
	border-bottom: 2px dotted #006633;
	}


.td_title {
	padding: 5px;
	font-size: 18px;
	font-weight: bold;
	color: #666;
	}
	
.td_org {
	font-size: 18px;
	font-weight: bold;
	background-color:#EEA840;
	color: #FFF;
	padding: 5px;
	}
	
.td_grn {
	font-size: 18px;
	font-weight: bold;
	background-color:#69BF40;
	color: #FFF;
	padding: 5px;
	}
	
	
.txt_12 {
	font-size: 12px;
	font-weight: normal;
	}

	

.td_border_bottom {
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	border-left: 1px solid #666;
	}
	

.td_border_bottom_right {
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	}

.td_border_left {
	border-top: 1px solid #666;
	border-left: 1px solid #666;
	}
	

.td_border_right{
	border-top: 1px solid #666;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	}


.td_border_red_bottom {
	border-top: 2px solid #FF0000;
	border-bottom: 2px solid #FF0000;
	border-left: 2px solid #FF0000;
	}
	

.td_border_red_bottom_right {
	border-top: 2px solid #FF0000;
	border-bottom: 2px solid #FF0000;
	border-left: 1px solid #FF0000;
	border-right: 2px solid #FF0000;
	}

.td_border_red_left {
	border-top: 1px solid #FF0000;
	border-left: 1px solid #FF0000;
	}
	

.td_border_red_right{
	border-top: 1px solid #FF0000;
	border-left: 1px solid #FF0000;
	border-right: 1px solid #FF0000;
	}
	

	
