@charset "utf-8";
/*
 *	-- Layout Style --
 *
 *	01.	#wrapperMiddle Style
 *
 * - - - - - - - - - - - - - - - */
/*
 *	01.	#wrapperMiddle Style
 */
#wrapperMiddle #wrapInner .inner {
  padding-bottom: 0;
  margin-bottom: 55px;
}
#wrapperMiddle #wrapInner .inner #contentsArea ul.localNav {
  width: 380px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsHead {
  height: 54px;
  margin: 0 0 25px;
  border: none;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody {
  padding: 0;
  overflow: hidden;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody header {
  margin-bottom: 37px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody header h2 {
  margin: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #existenceArea p {
  line-height: 2.3;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #existenceArea section h3 {
  margin: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #existenceArea section table {
  background: url(../../../shared/img/common_bgContents_noiseWhite.png) repeat left top;
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid #ccc;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #existenceArea section table tr th {
  width: 130px;
  padding: 15px;
  border-bottom: 1px dotted #CCCCCC;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #existenceArea section table tr td {
  padding: 15px 30px 15px 0;
  border-bottom: 1px dotted #CCCCCC;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #existenceArea section table tr td dl {
  padding: 20px 0 20px 35px;
  border-left: 1px solid #D7D7D7;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #existenceArea section table tr td dl dt {
  color: #1FA0A3;
  font-weight: bold;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #existenceArea section table tr td dl dd {
  margin: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #existenceArea section table tr:nth-child(even) th,
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #existenceArea section table tr:nth-child(even) td {
  background: url(../../../shared/img/common_bgContents_noiseGray.png) repeat left top;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody ul#bannerArea {
  background: url(../../../shared/img/common_bgHeader_dotLine.png) repeat-x left top;
  padding-top: 45px;
  margin: 0;
  text-align: center;
  clear: both;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody ul#bannerArea li {
  display: inline;
  list-style: none;
  margin: 0 5px;
}
