@charset "utf-8";
/*
 *	-- Layout Style --
 *
 *	01.	#wrapperMiddle Style
 *
 * - - - - - - - - - - - - - - - */
/*
 *	01.	#wrapperMiddle Style
 */
#wrapperMiddle #wrapInner .inner #contentsArea ul.localNav {
  width: 690px;
  /*					li:nth-child(n+6) {

						a {
							cursor: default;

							&:hover {
								background-image: url(../../../shared/img/common_icoContents_bulletOff.png);
								color: #A9A9A9;
							}
						}

						&:hover {
							background: none;
						}
					}
*/
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody {
  background: url(../../../shared/img/common_bgHeader_dotLine.png) repeat-x left bottom;
  padding: 28px 0 35px;
  margin-bottom: 23px;
  overflow: hidden;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody h2 {
  margin: 0 0 25px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody p {
  margin-bottom: 30px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #flowArea {
  width: 940px;
  overflow: hidden;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #flowArea table {
  background-color: #fff;
  width: 940px;
  border: 1px solid #D7D7D7;
  text-align: center;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #flowArea table tr {
  zoom: 1;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #flowArea table tr:nth-child(odd) th,
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #flowArea table tr:nth-child(odd) td {
  background: url(../../img/flow_bgContents_noiseWhite.png) repeat left top;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #flowArea table tr:nth-child(even) th,
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #flowArea table tr:nth-child(even) td {
  background: url(../../img/flow_bgContents_noiseBlue.png) repeat left top;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #flowArea table tr:nth-child(2) td {
  width: 280px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #flowArea table tr:nth-child(3) td div.tableOuter div.tableInner,
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #flowArea table tr:nth-child(5) td div.tableOuter div.tableInner {
  background: url(../../img/flow_bgContents_underArrowBlue.png) no-repeat center top;
  margin-top: -1px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #flowArea table tr:nth-child(4) td div.tableOuter div.tableInner,
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #flowArea table tr:nth-child(6) td div.tableOuter div.tableInner {
  background: url(../../img/flow_bgContents_underArrowWhite.png) no-repeat center top;
  margin-top: -1px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #flowArea table tr:last-child td:last-child div.tableInner {
  background: none;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #flowArea table tr th div.tableOuter {
  background: url(../../img/flow_bgContents_dotLine.png) repeat-y left top;
  height: 110px;
  padding-left: 3px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #flowArea table tr th div.tableOuter div.tableInner {
  padding: 23px 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #flowArea table tr th:first-child div.tableOuter {
  background: none;
  height: 20px;
  padding: 45px 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #flowArea table tr th:first-child div.tableOuter div.tableInner {
  padding: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #flowArea table tr td div.tableOuter {
  background: url(../../img/flow_bgContents_dotLine.png) repeat-y left top;
  padding-left: 3px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #flowArea table tr td div.tableOuter div.tableInner {
  height: 64px;
  padding: 23px 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #flowArea table tr td div.tableOuter div.tableInner small {
  display: block;
  line-height: 1.2;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #flowArea table tr td.rowType1 div.tableOuter div.tableInner {
  height: 20px;
  padding: 45px 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #flowArea table tr td.rowType2 div.tableOuter div.tableInner {
  height: 40px;
  padding: 35px 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #flowArea table tr:first-child th {
  height: 80px;
  padding: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #flowArea table tr:first-child th div.tableOuter {
  height: 80px;
  padding: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #flowArea table tr:first-child th div.tableOuter div.tableInner {
  padding: 24px 0;
}
