@charset "euc-jp";

/* =========================================================================== */
/* 画像の置き場所にあわせて、内容を修正してください */
div.gnav-201105 ul           { background-image: url(../images/gnav-bg-201105.gif); }
div.gnav-201105 ul li a span { background-image: url(../images/gnav-btn-201105.gif); }

/* グローバルナビの横幅 */
div.gnav-201105 ul { width: 1000px; }

/* グローバルナビを印刷させたい場合は、下の一行を削除してください */
@media print { div.gnav-201105 { display: none; } }
/* =========================================================================== */

div.gnav-201105 { clear: both; padding: 0; margin: 0; }
div.gnav-201105 ul { height: 32px; overflow: hidden; background-repeat: repeat-x; padding: 0; margin: 0; }
div.gnav-201105 ul li { display: block; float: left; list-style: none; height: 100%; padding: 0; margin: 0; }

div.gnav-201105 ul li.www { width: 72px; }
div.gnav-201105 ul li.business { width: 69px; }
div.gnav-201105 ul li.pc { width: 42px; }
div.gnav-201105 ul li.itpro { width: 35px; }
div.gnav-201105 ul li.techon { width: 89px; }
div.gnav-201105 ul li.medical { width: 44px; }
div.gnav-201105 ul li.kenplatz { width: 90px; }
div.gnav-201105 ul li.eco { width: 45px; }
div.gnav-201105 ul li.trendy { width: 77px; }
div.gnav-201105 ul li.wol { width: 76px; }
div.gnav-201105 ul li.rebuild { width: 115px; }
div.gnav-201105 ul li.career { width: 57px; }
div.gnav-201105 ul li.nng { width: 99px; }
div.gnav-201105 ul li.nikkei { width: 90px; }

div.gnav-201105 ul li a { display: block; height: 100%; overflow: hidden; padding: 0; margin: 0; position: relative; z-index: 1; font: 13px/32px sans-serif; text-align: center; cursor: pointer; }
div.gnav-201105 ul li a:hover { background-color: transparent; }
div.gnav-201105 ul li a span { display: block; width: 100%; height: 100%; background-repeat: no-repeat; padding: 0; margin: 0; position: absolute; z-index: 10; left: 0; top: 0; }

div.gnav-201105 ul li.www a span { background-position: 0 0; }
div.gnav-201105 ul li.www a:hover span { background-position: 0 -32px; }
div.gnav-201105 ul.www li.www a span,
div.gnav-201105 ul.www li.www a:hover span { background-position: 0 -64px; }

div.gnav-201105 ul li.business a span { background-position: -72px 0; }
div.gnav-201105 ul li.business a:hover span { background-position: -72px -32px; }
div.gnav-201105 ul.business li.business a span,
div.gnav-201105 ul.business li.business a:hover span { background-position: -72px -64px; }

div.gnav-201105 ul li.pc a span { background-position: -141px 0; }
div.gnav-201105 ul li.pc a:hover span { background-position: -141px -32px; }
div.gnav-201105 ul.pc li.pc a span,
div.gnav-201105 ul.pc li.pc a:hover span { background-position: -141px -64px; }

div.gnav-201105 ul li.itpro a span { background-position: -183px 0; }
div.gnav-201105 ul li.itpro a:hover span { background-position: -183px -32px; }
div.gnav-201105 ul.itpro li.itpro a span,
div.gnav-201105 ul.itpro li.itpro a:hover span { background-position: -183px -64px; }

div.gnav-201105 ul li.techon a span { background-position: -218px 0; }
div.gnav-201105 ul li.techon a:hover span { background-position: -218px -32px; }
div.gnav-201105 ul.techon li.techon a span,
div.gnav-201105 ul.techon li.techon a:hover span { background-position: -218px -64px; }

div.gnav-201105 ul li.medical a span { background-position: -307px 0; }
div.gnav-201105 ul li.medical a:hover span { background-position: -307px -32px; }
div.gnav-201105 ul.medical li.medical a span,
div.gnav-201105 ul.medical li.medical a:hover span { background-position: -307px -64px; }

div.gnav-201105 ul li.kenplatz a span { background-position: -351px 0; }
div.gnav-201105 ul li.kenplatz a:hover span { background-position: -351px -32px; }
div.gnav-201105 ul.kenplatz li.kenplatz a span,
div.gnav-201105 ul.kenplatz li.kenplatz a:hover span { background-position: -351px -64px; }

div.gnav-201105 ul li.eco a span { background-position: -441px 0; }
div.gnav-201105 ul li.eco a:hover span { background-position: -441px -32px; }
div.gnav-201105 ul.eco li.eco a span,
div.gnav-201105 ul.eco li.eco a:hover span { background-position: -441px -64px; }

div.gnav-201105 ul li.trendy a span { background-position: -486px 0; }
div.gnav-201105 ul li.trendy a:hover span { background-position: -486px -32px; }
div.gnav-201105 ul.trendy li.trendy a span,
div.gnav-201105 ul.trendy li.trendy a:hover span { background-position: -486px -64px; }

div.gnav-201105 ul li.wol a span { background-position: -563px 0; }
div.gnav-201105 ul li.wol a:hover span { background-position: -563px -32px; }
div.gnav-201105 ul.wol li.wol a span,
div.gnav-201105 ul.wol li.wol a:hover span { background-position: -563px -64px; }

div.gnav-201105 ul li.rebuild a span { background-position: -639px 0; }
div.gnav-201105 ul li.rebuild a:hover span { background-position: -639px -32px; }
div.gnav-201105 ul.rebuild li.rebuild a span,
div.gnav-201105 ul.rebuild li.rebuild a:hover span { background-position: -639px -64px; }

div.gnav-201105 ul li.career a span { background-position: -754px 0; }
div.gnav-201105 ul li.career a:hover span { background-position: -754px -32px; }
div.gnav-201105 ul.career li.career a span,
div.gnav-201105 ul.career li.career a:hover span { background-position: -754px -64px; }

div.gnav-201105 ul li.nng a span { background-position: -811px 0; }
div.gnav-201105 ul li.nng a:hover span { background-position: -811px -32px; }
div.gnav-201105 ul.nng li.nng a span,
div.gnav-201105 ul.nng li.nng a:hover span { background-position: -811px -64px; }

div.gnav-201105 ul li.nikkei a span { background-position: -910px 0; }
div.gnav-201105 ul li.nikkei a:hover span { background-position: -910px -32px; }
div.gnav-201105 ul.nikkei li.career a span,
div.gnav-201105 ul.nikkei li.career a:hover span { background-position: -910px -64px; }
