ul#language_menu a {
        color: #ffffff;
        text-decoration: none;
}
ul#language_menu a:link,
ul#language_menu a:visited {
        background:#0d2206;
}
ul#language_menu a:hover,
ul#language_menu a:active {
        background:#366;
}

ul#language_menu li {
        float: left;
        position: relative;
        margin: 0 0.5em;
        width: 7em;
        height: 2em;
        font-weight: bold;
        line-height: 2em;
}
ul#language_menu li a {
        display: block;
        width: 7em;
        height: 2em;
        text-align: center;
}

/* 下層のメニューを不可視に */
ul#language_menu li ul {
        display: none;
}

/* 疑似要素 :hover で下層のメニューを可視に */
ul#language_menu li:hover ul {
        display: block;
        position: absolute;
        z-index: 100;
}

ul#language_menu li ul li {
        float: none;
        margin: 0;
        font-weight: normal;
}

.t_white {color:#FFF;}
