/*==========================================

oversea

==========================================*/

/*------------------------------------------
@ section02
------------------------------------------*/

#sec02 .infoTable tr th{
vertical-align:top;
}
#sec02 .addressList01 dt,
#sec02 .addressList02 dt{
float:left;
font-weight:bold;
}
#sec02 .addressList01 dd{
float:right;
width:92%;
}
#sec02 .addressList02 dd{
float:right;
width:86%;
}

/*------------------------------------------
@ section03
------------------------------------------*/

#sec03 tr td strong{
color:#333;
}
#sec03 tr td{
vertical-align:top;
text-align:left;
}
#sec03 dl dt{
font-weight:bold;	
}
#sec03 dl dd{
margin:0 0 1em;
}
#sec03 dl dd.last-child{
margin:0;
}

/*------------------------------------------
@ section04
------------------------------------------*/

#sec04 .exBoxWrap01{
background:url(../image/img_oversea_bg02.gif) 0 bottom repeat-x;
margin:0 0 15px;
}
#sec04 .exBoxWrap01.last-child{
background:none;
}
#sec04 .exBoxWrap01.last-child .exBoxWrap02{
width:680px;
padding:0;
}
#sec04 .exBoxWrap02{
width:680px;
padding:0 0 15px;
background:url(../image/img_oversea_bg01.gif) 50% 0 no-repeat;	
}
#sec04 .exBox{
width:320px;
}
#sec04 .exBox dl.exList dt{
width:70px;
float:left;
}
#sec04 .exBox dl.exList dd{
width:240px;
float:right;
}


/*------------------------------------------
@ solutionLinkBox (copy from 'business_solution.css')
------------------------------------------*/

.solutionLinkBox02{
width:710px;
margin:20px auto 0;
padding:14px 0 0;
background:url(../image/bg_link_box02_top.gif) no-repeat left top;
text-align:left;
}
.solutionLinkBox02Bottom{
padding:0 0 14px;
background:url(../image/bg_link_box02_bottom.gif) no-repeat left bottom;
}
.solutionLinkBox02Inner{
padding:0 14px;
background:url(../image/bg_link_box02.gif) repeat-y 0 0;
}
.contactText{
float:left;
width:404px;
}
.contactText h3{
border-left:none;
margin-bottom:6px;
padding:0;
}
.contactText p{
margin-bottom:0;
}
.contactBtn{
float:right;
width:218px;
}

