@charset "utf-8";
/*
 *	-- Layout Style --
 *
 *	01.	Overwrite Reset Style
 *	02.	Shared Style
 *	03.	Layout Style
 *	04.	#wrapperTop Style
 *	05.	#wrapperMiddle Style
 *	06.	#wrapperBottom Style
 *
 * - - - - - - - - - - - - - - - */
/*
 *	01.	Overwrite Reset Style
 */
body {
  background: url(../img/common_bgPage_material.png) repeat left top;
  min-width: 1200px;
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 13px;
  line-height: 1.8;
  color: #333333;
}
a {
  color: #333333;
  text-decoration: none;
}
img {
  vertical-align: top;
}
/*
 *	02.	Shared Style
 */
/*
 *	03.	Layout Style
 */
#wrapperTop {
  background: url("../img/common_bgHeader_bar.png") repeat-x left top;
  width: 100%;
  min-width: 1020px;
  height: 135px;
}
#wrapperMiddle {
  background: url("../img/common_bgHeader_dotLine.png") repeat-x left top;
  width: 100%;
  min-width: 1020px;
}
#wrapperBottom {
  background: #000;
  min-width: 1020px;
  width: 100%;
  padding-top: 30px;
}
/*
 *	04.	#wrapperTop Style
 */
#wrapperTop .inner {
  width: 1200px;
  height: 135px;
  margin: 0 auto;
  position: relative;
}
#wrapperTop .inner #header {
  height: 70px;
  position: relative;
}
#wrapperTop .inner #header #siteID {
  float: left;
  margin: 0;
}
#wrapperTop .inner #header #globalNav {
  height: 70px;
  overflow: hidden;
}
#wrapperTop .inner #header #globalNav ul {
  float: left;
  width: 771px;
  height: 70px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#wrapperTop .inner #header #globalNav ul li {
  background: url(../img/common_bgHeader_navLine.png) no-repeat left center;
  float: left;
  height: 70px;
  text-align: center;
}
#wrapperTop .inner #header #globalNav ul li:nth-child(1) {
  width: 29%;
}
#wrapperTop .inner #header #globalNav ul li:nth-child(2) {
  width: 27%;
}
#wrapperTop .inner #header #globalNav ul li:nth-child(3) {
  width: 25%;
}
#wrapperTop .inner #header #globalNav ul li:nth-child(4) {
  width: 18%;
}
#wrapperTop .inner #header #globalNav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#wrapperTop .inner #header #globalNav p#entryBtn {
  padding-right: 14px;
  margin: 0;
  position: absolute;
  top: 15px;
  right: 0;
}
#wrapperTop .inner p#catchCopy {
  margin: 0;
  position: absolute;
  right: 0;
  bottom: 14px;
}
#wrapperTop .inner ol#topicPath {
  position: absolute;
  bottom: 0;
  left: 0;
}
#wrapperTop .inner ol#topicPath li {
  background: url(../img/common_icoHeader_topicPath.png) no-repeat left center;
  display: table-cell;
  *display: inline;
  *zoom: 1;
  padding: 0 15px 0 17px;
}
#wrapperTop .inner ol#topicPath li a {
  text-decoration: none;
}
#wrapperTop .inner ol#topicPath li:nth-child(1) {
  background: none;
  padding-left: 0;
}
/*
 *	05.	#wrapperMiddle Style
 */
#wrapperMiddle #wrapInner {
  background: url(../img/common_bgContents_shadow.png) repeat-x left top;
  width: 100%;
}
#wrapperMiddle #wrapInner .inner {
  width: 1020px;
  padding: 0 90px 45px;
  margin: 0 auto;
}
#wrapperMiddle #wrapInner .inner #contentsArea {
  padding: 0 40px;
}
#wrapperMiddle #wrapInner .inner #contentsArea ul.localNav {
  height: 32px;
  padding: 22px 0 0;
  margin: 0 auto;
  overflow: hidden;
}
#wrapperMiddle #wrapInner .inner #contentsArea ul.localNav li {
  float: left;
  height: 32px;
  list-style: none;
}
#wrapperMiddle #wrapInner .inner #contentsArea ul.localNav li a {
  background-image: url(../img/common_icoContents_bulletOn.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  display: block;
  padding: 6px 10px 5px 32px;
  color: #000;
  font-size: 0.92em;
}
#wrapperMiddle #wrapInner .inner #contentsArea ul.localNav li a:hover {
  background-image: url(../img/common_icoContents_bulletOff.png);
  color: #A9A9A9;
}
#wrapperMiddle #wrapInner .inner #contentsArea ul.localNav li:hover {
  color: #A9A9A9;
}
#wrapperMiddle #wrapInner .inner #contentsArea ul.localNav li.current {
  background: url(../img/common_bgContents_localNav.gif) repeat left top;
}
#wrapperMiddle #wrapInner .inner #contentsArea ul.localNav li.current a {
  color: #000;
}
#wrapperMiddle #wrapInner .inner #contentsArea ul.localNav li.current a:hover {
  color: #a9a9a9;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsHead {
  height: 79px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsHead h1 {
  float: left;
  padding-top: 29px;
  margin: 0;
  line-height: 1;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsHead h1 img {
  vertical-align: top;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsHead ul.localNav {
  float: right;
}
/*
 *	06.	#wrapperBottom Style
 */
#wrapperBottom {
  position: relative;
  z-index: 10000;
}
#wrapperBottom .inner {
  width: 940px;
  padding: 0 20px 23px 20px;
  margin: 0 auto;
  overflow: hidden;
}
#wrapperBottom .inner .footerNav {
  float: left;
  width: 187px;
  height: 212px;
  padding-top: 2px;
  border-left: 1px solid #333333;
  line-height: 1;
}
#wrapperBottom .inner .footerNav:last-child {
  width: 186px;
  border-right: 1px solid #333333;
}
#wrapperBottom .inner .footerNav:nth-child(1) p a {
  color: #fff;
}
#wrapperBottom .inner .footerNav:nth-child(2) dl:nth-child(1) {
  margin-bottom: 20px;
  border-bottom: 1px solid #333333;
}
#wrapperBottom .inner .footerNav:nth-child(2) dl:nth-child(1) dd:last-child {
  margin-bottom: 20px;
}
#wrapperBottom .inner .footerNav:nth-child(3) dt:first-child {
  color: #fff;
}
#wrapperBottom .inner .footerNav:nth-child(4) dl {
  border-bottom: 1px solid #333333;
}
#wrapperBottom .inner .footerNav:nth-child(4) dl dd:last-child {
  margin-bottom: 20px;
}
#wrapperBottom .inner .footerNav:nth-child(4) p {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
  border-bottom: 1px solid #333333;
  font-size: 0.92em;
}
#wrapperBottom .inner .footerNav:nth-child(4) p:last-child {
  padding-top: 20px;
  border-bottom: none;
}
#wrapperBottom .inner .footerNav:nth-child(4) p a {
  color: #fff;
}
#wrapperBottom .inner .footerNav dl {
  padding-left: 10px;
  margin: 0;
}
#wrapperBottom .inner .footerNav dl dt {
  margin: 0 0 10px;
  color: #fff;
  font-size: 0.92em;
}
#wrapperBottom .inner .footerNav dl dt:nth-child(2) {
  font-size: 0.77em;
  color: #cccccc;
}
#wrapperBottom .inner .footerNav dl dt a:hover {
  cursor: default;
}
#wrapperBottom .inner .footerNav dl dd {
  margin: 0 0 10px;
  font-size: 0.77em;
}
#wrapperBottom .inner .footerNav dl dd a {
  color: #7f7f7f;
}
#wrapperBottom .inner .footerNav dl dd a.noLink {
  color: #444444;
}
#wrapperBottom .inner .footerNav dl dd a.comingSoon:hover {
  cursor: default;
  color: #444444;
}
#wrapperBottom .inner .footerNav dl dd.externalLink a {
  background: url(../img/common_icoPage_external.png) no-repeat right center;
  padding-right: 15px;
}
#wrapperBottom .inner .footerNav:nth-child(5) p {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #333333;
}
#wrapperBottom .inner .footerNav:nth-child(5) p a {
  color: #fff;
}
#wrapperBottom .inner .footerNav dl#navStaff dd a {
  background-image: url(../img/common_icoFooter_linkOn.png);
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 9px;
}
#wrapperBottom .inner .footerNav dl#navStaff dd a.noLink {
  background-image: url(../img/common_icoFooter_linkOff.png);
}
#wrapperBottom .inner .footerNav dl#navStaff dd:last-child a {
  background-image: none;
  padding-left: 0;
}
#wrapperBottom .inner .footerNav ul {
  padding: 0;
  padding-left: 10px;
  margin: 0;
}
#wrapperBottom .inner .footerNav ul li {
  margin: 0 0 10px;
  list-style: none;
  font-size: 0.77em;
}
#wrapperBottom .inner .footerNav ul li a {
  color: #7f7f7f;
}
#wrapperBottom .inner .footerNav ul li a.noLink {
  color: #444444;
}
#wrapperBottom .inner .footerNav ul li a.comingSoon:hover {
  cursor: default;
  color: #f00;
}
#wrapperBottom .inner .footerNav p {
  padding-left: 10px;
  margin: 0 0 10px;
}
#wrapperBottom .inner .footerNav p a {
  color: #7F7F7F;
}
#wrapperBottom .inner .footerNav p.externalLink a {
  background: url(../img/common_icoPage_external.png) no-repeat right center;
  padding-right: 15px;
}
#wrapperBottom .inner .footerNav a:hover {
  color: #fff;
}
#wrapperBottom .inner a {
  color: #fff;
}
#wrapperCopy {
  background: #fff;
  width: 100%;
  min-width: 1020px;
  height: 60px;
}
#wrapperCopy p {
  width: 1020px;
  margin: 0 auto;
  text-align: center;
}
#wrapperCopy p small img {
  padding-top: 26px;
  vertical-align: middle;
}
