@charset "UTF-8";
/* index.html */
#playBtn {
  display: block;
  width: 588px;
  margin: 3em 0;
  color: #fff;
}
#playBtn span {
  display: block;
  width: 98%;
  padding: 0.8em 0 0.8em 2%;
  background: url(../../common/images/arrow_wht.png) no-repeat 94% center;
  background-color: rgba(0,0,0,0.8);
}
iframe {
  width: 100%;
  height: 100%;
}
/* shacho.html */
.img_box {
  position: relative;
}
.contents h2.name {
  position: absolute;
  height: 130px;
  top: 0;
  bottom: 0;
  right: 4em;
  margin: auto;
  color: #fff;
  font-size: 46px;
  font-size: 4.6rem;
  line-height: 1.4;
}
.contents .name span {
  font-size: 26%;
}
.contents h2.name em {
  display: block;
  margin-bottom: 0.5em;
  font-style: normal;
  font-size: 16px;
  font-size: 1.6rem;
}
.contents .phrase {
  position: absolute;
  height: 200px;
  top: 2em;
  right: 0;
  color: #009481;
  font-size: 30px;
  font-size: 3.0rem;
  font-weight: bold;
}
.box-2third.flt_lft .btn_bk {
  margin: 2em  0 1em;
}
.box-2third.flt_lft .btn_bk a {
  display: block;
  padding: 10px 0 10px 2%;
  width: 73%;
}
.box-1third.flt_rgt em {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}
.box-1third.flt_rgt img + .notes {
  margin: 0.2em 0 1em;
}
/* portrait.html */
.contents h3.uline {
  display: inline-block;
  margin: 2em 0 1em;
  background: url(../images/portrait_pt.png) repeat-x left 80%;
  font-size: 18px;
  font-size: 1.8rem;
}
.contents h3.indent {
  text-indent: -2em;
  margin-left: 2em;
  margin-bottom: 1em;
}

/* --- smartphone
----------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 640px) {
  #playBtn {
    width: 100%;
  }
  #playBtn img {
    width: 100%;
  }
  .contents h2.name {
    right: 6px;
  }
  .contents .phrase {
    position: relative;
    height: auto;
    top: 0;
    font-size: 18px;
    font-size: 1.8rem;
  }
}
