/*==========================================

Business/Solution

==========================================*/


/*==========================================

Business/Solution/global_logistic/

==========================================*/

.problemSubBox{
width:670px;
margin:0 auto;
padding:14px 0 0;
background:url(../image/bg_problem_sub_top.gif) no-repeat left top;
text-align:left;
}

.problemSubBoxBottom{
padding:0 0 14px;
background:url(../image/bg_problem_sub_bottom.gif) no-repeat left bottom;
zoom:1;
}
.problemSubBoxBottom:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.problemSubBoxInner{
padding:0 17px;
background:url(../image/bg_problem_sub.gif) repeat-y 0 0;
}

.problemSubBoxInner ol li{
padding-bottom:5px;
}

.problemSubBoxInner ol li{
padding-bottom:5px;
}
.problemSubBoxInner ul li{
float:left;
width:290px;
margin-bottom:5px !important;
padding:0 5px 0 12px;
background:url(../image/icon_list.gif) no-repeat left 0.5em;
font-weight:bold;
}
