/* ============================================
 Members Page
============================================ */

/* Reset */
body{
margin:0;
padding:0;
color: #333333;
width: 100%;
line-height: 1.5;
}

ul,li{
list-style-type: none;
margin: 0;
padding: 0;
}
 
img{
border: none;
}

p{
margin: 0;
padding: 0;
}

/* Common */
.fLeft{
float: left;
}

.fRight{
float: right;
}

.center{
text-align: center !important;
}
.right{
text-align: right;
}
.f-small{
font-size: 77%;
}

.mb10{
margin-bottom: 10px;
}
.mb15{
margin-bottom: 15px;
}
.mb30{
margin-bottom: 30px;
}
.mt20{
margin-top: 20px;
}

.clearfix:after{  
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}

.hide {
	display:none;
}

img.hover:hover {
  opacity: 0.7;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

.pageTop {
	width:950px;
	margin:0 auto;
	_padding-top:0px;
	clear:both;
}

/* Page Layout */
#body{
width: 100%;
margin:0;
padding: 0;
text-align: center;
}

/* Header */
#header-e{
width: 100%;
color: #000;
padding-bottom:25px;
}
#header-e:after{  
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}

h1{
background: none !important;
border: none !important;
}

#header {
margin-bottom: 0px;
}




/* Main Area */
.main {
	width: 950px;
	margin:0 auto;
	clear: both;
	font-size:18px;
	text-align:justify;
	text-justify:distribute;
}

.main:after {  
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.main a { color: #003399; text-decoration: underline; }
.main a:link { color: #003399; text-decoration: underline; }
.main a:active { color: #003399; text-decoration: underline; }
.main a:visited { color: #003399; text-decoration: underline; }
.main a:hover{ color: #003399; text-decoration: none; }


.main h1 {
	margin:0;
	padding:0;
}

.main p.txt01 {
	padding:0 10px;
	margin-bottom:30px;
}

.main .navi {
	height:92px;
}

.main .navi:after {  
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.main .navi li {
	float:left;
	margin-left:10px;
	width:230px;
	height:92px;
	overflow:hidden;
}

.main .navi li.first {
	margin-left:0px;
}

.main .inner_contents {
}

.main .inner_contents:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.main .inner_contents h2 {
	margin:0 0 25px 0;
}

.main .inner_contents p {
	padding-right:10px;
	padding-left:10px;
}

.main .inner_contents h3 {
	margin:0 0 25px 0;
}

.main .pdf_area {
	margin:0 auto 35px;
	height:360px;
	width:290px;
}

.main .link01 {
	width:840px;
	height:50px;
	background-color:#5e5e5e;
	position:relative;
	margin:0 auto 20px;
}

.main .link01 .img01 {
	position:absolute;
	left:0;
	top:0;
}

.main .link01 .img02 {
	position:absolute;
	left:672px;
	top:8px;
}

.main .link02 {
	width:840px;
	height:70px;
	background-color:#5e5e5e;
	position:relative;
	margin:0 auto 35px;
}

.main .link02 .img01 {
	position:absolute;
	left:0;
	top:0;
	margin:0 auto;
}

.main .link02 .img02 {
	position:absolute;
	left:672px;
	top:18px;
}

.link03 {
	font-size:20px;
	font-weight:bold;
	text-align:center;
	padding:30px 0 80px;
}