/* ============================================
 Members Page
============================================ */

/* Reset */
body{
margin: 0;
padding: 0;
color: #333333;
width: 100%;
line-height: 1.5;
}

ul,li{
list-style-type: none;
margin: 0;
padding: 0;
}
 
img{
border: none;
}

p{
margin: 0;
padding: 0;
}

/* Common */
.fLeft{
float: left;
}

.fRight{
float: right;
}

.center{
text-align: center;
}
.right{
text-align: right;
}
.f-small{
font-size: 77%;
}

.mb10{
margin-bottom: 10px;
}
.mb15{
margin-bottom: 15px;
}
.mb30{
margin-bottom: 30px;
}
.mt20{
margin-top: 20px;
}

.clearfix:after{  
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}

/* Page Layout */
#body{
width: 100%;
margin:0;
padding: 0;
text-align: center;
}

#header-e a { color: #449ac0; text-decoration: none; font-weight: bold; }
#header-e a:link { color: #449ac0; text-decoration: none; }
#header-e a:active { color: #449ac0; text-decoration: none; }
#header-e a:visited { color: #449ac0; text-decoration: none; }
#header-e  a:hover{ color: #449ac0; text-decoration: underline; }

/* Header */
#header-e{
width: 100%;
color: #000;
padding-bottom: 15px;
background:url(../image/bg_header_01.gif) left bottom repeat-x;
}
#header-e:after{  
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
#header-e-common{
width: 950px;
height: 50px;
margin:0 auto;
padding: 0;
text-align: left;
background:url(../image/bg_header.gif) left top no-repeat;
}
#header-e-common p.logo{
width: 142px;
height: 37px;
padding: 6px 0 7px 7px;
}

#header-e .header-inner{
width: 958px;
margin: 0 auto;
text-align: center;
}
#header-e h1{
margin: 21px auto 18px;
text-align: center;
}

#header-e div.box-top{
width: 958px;
padding-bottom: 15px;
background:url(../image/bg_header_02.gif) left bottom no-repeat;
}
#header-e div.box-top:after{  
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
#header-e ul.box{
width: 958px;
height: 9px;
text-align: left;
background:url(../image/bg_header_02_top.gif) left top no-repeat;
}
#header-e ul.box li{
width: 290px;
margin: 17px 20px 0 0;
float: left;
}
#header-e ul.box li.first{
padding-left: 20px;
}
#header-e ul.box li.last{
width: 270px;
}
#header-e ul.box li a{
padding-left: 8px;
background:transparent url(../image/arrow_index_01.gif) left center no-repeat;
}

h1{
background: none !important;
border: none !important;
}

#header {
margin-bottom: 0px;
}

/* Main Area */
#main{
width: 958px;
margin:0 auto;
text-align: left;
clear: both;
}

#main .txtbox{
width: 950px;
font-size: 116%;
margin:20px auto;
clear: both;
}
#main .txtbox p.read{
color: #e60012;
}

#main .box-top{
width: 958px;
padding-bottom: 15px;
background: url(../image/bg_h2.gif) left top no-repeat;
clear: both;
}
#main .box-top:after,
#main .box-btm:after{  
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}

#main .box-top h2{
padding: 30px 46px 0 24px;
float: left;
}
#main .box-top .btn_login{
width: 334px;
margin: 22px 24px 0 0;
text-align:left;
float: right;
background: url(../image/bg_login.gif) left top no-repeat;
}
#main .box-top .btn_login_btm{
width: 312px;
padding: 0 8px 10px 14px;
float: right;
background: url(../image/bg_login_btm.gif) left bottom no-repeat;
}
*html #main .box-top .btn_login_btm{
width: 334px;
}
#main .box-top .btn_txt{
margin: 18px 10px 0 0;
vertical-align: top;
}
#main .box-top .btn{
padding: 8px 0 5px 0;
}
#main .box-top .btn_login p.link{
clear: both;
}
#main .box-top .btn_login p.link a{
padding-left: 8px;
font-weight: normal;
color: #000000;
text-decoration: underline;
background:transparent url(../image/arrow_index_01.gif) left center no-repeat;
}

#main .box-btm{
width: 958px;
margin-bottom: 10px;
background:transparent url(../image/bg_box.gif) left top no-repeat;
clear: both;
}
#main .box-btm02{
width: 958px;
margin-bottom: 10px;
background:transparent url(../image/bg_box02.gif) left top no-repeat;
clear: both;
}
#main .box-btm .txt{
font-size: 116%;
padding-top: 16px;
text-align: center;
}
#main .box-btm .txt_02 {
font-size: 116%;
padding-top: 16px;
text-align: left;
}
#main .box-btm .img{
padding: 14px 13px 25px 24px;
}
#main .box-btm .img2{
padding: 14px 13px 25px 24px;
float: left;
}

#main .box-btm .img3 {
	padding-right: 13px; padding-left:40px; float:left; padding-top:14px;
}

#main .box-btm2{
width: 958px;
background:transparent url(../image/bg_box_btm.gif) left bottom no-repeat;
}

#main .guideArea{
width: 958px;
padding: 0;
margin-bottom: 25px;
background:url(../image/bg_guideArea_btm_yellow.gif) left top no-repeat;
clear: both;
}

#main .guideArea2{
width: 958px;
background:transparent url(../image/bg_main_bt_1column.gif) left bottom no-repeat;
}

#main .guideArea .guideAreaInner{
width: 890px;
margin: 0 30px;
padding: 20px 0 25px;
font-size: 108%;
clear: both;
}

#main .attention{
width: 958px;
background: url(../image/ttl_h2.gif) left top no-repeat;
clear: both;
color:#FFFFFF;
font-weight:bold;
padding:13px 0 9px 20px;
text-align: center;
font-size: 150%;
}

#main .attention.txt  {
	font-size:70%;
}


#main .text{
width: 380px;
float: left;
line-height: 1.5;
font-size: 115%;
margin-left:20px;
padding-top:10px;
}

#main .text2{
width: 870px;
margin-bottom:15px;
margin-left:15px;
}

#main .attention2_ime{
width: 527px;
float: right;
margin: 10 10 10 0;
}

#main .box-btm .info2{
width: 480px;
margin: 0 15 20 0;
line-height:17px;
float: right;
}

#main .ml5{
margin-left:5px;
}

/* cornerContent01 */
#cont { padding-left:15px; }

#cont h3 { padding:15px 20px 9px 0px; font-size:116%; color:#ffffff; font-weight:bold; background:url(../image/ttl_h2_02.gif) no-repeat left top; text-align:left !important;}
#cont h3 .cornerName { text-align:center;}
#cont .sectionCont { background:url(../image/bg_box_btm_02.gif) no-repeat left bottom; padding-bottom:13px;}
#cont .sectionCont .inner {
text-align:left; background:url(../image/bg_main_md2clm.gif) repeat-y left bottom; overflow:hidden;}
#cont .sectionCont .bodTop{
solid: 3px; width:290px; margin-left:3px; padding:10px 10px 5px 10px;}

/* cornerContent01 */
.sectionCont01 { float:left; width:315px; margin-top:20px; margin-bottom:20px;}

/* cornerContent02 */
.sectionCont02 { float:left; width:300px; margin-top:20px; margin-bottom:20px;}

/* height */
.height160 { height:160px;}


/* ↓/common/css/shared/base_layout.cssより転記 */
/*------------------------------------------
 Bottom Navigation
------------------------------------------*/
#lowerNav {
width:956px;
margin:15px auto 0;
line-height:1.4;
text-align:left;
position:relative
}
#lowerNav .lowerNavTop {
padding-top:8px;
background:url(../../../common/image/shared/bg_lowerNav_top.gif) no-repeat left top;
}
#lowerNav .lowerNavBtm {
padding-bottom:30px;
background:url(../../../common/image/shared/bg_lowerNav_btm.gif) no-repeat left bottom;
zoom:1;
}
#lowerNav .lowerNavInner {
background:url(../../../common/image/shared/bg_lowerNav_mid01.gif) repeat-y left top;
}
#lowerNav .lowerNavInner02 {
padding:22px 24px 0 26px;
background:url(../../../common/image/shared/bg_lowerNav_mid02.gif) 4px top no-repeat;
zoom:1;
}
#lowerNav .lowerNavInner02:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

#lowerNav dl dd {
clear:both;
zoom:1;
}

#lowerNav .leftArea {
width:300px;
float:left;
}
#lowerNav .leftArea dt{
margin-bottom:9px;
clear:both;
}
#lowerNav .leftArea ul {
margin:6px 0 0 10px;
}
#lowerNav .leftArea ul li {
padding-bottom:3px;
width:280px
}
#lowerNav .leftArea #searchNum {
width:298px;
height:43px;
background:url(../../../common/image/shared/portal/bg_contact_input.gif) no-repeat left top;
position:relative; 
}
#lowerNav .leftArea #searchNumTxt {
width:144px;
margin:14px 0 8px 34px;
color:#666;
background:none;
border:none;
}
* html #lowerNav .leftArea #searchNumTxt {
margin-top:13px;
}
#lowerNav .leftArea #searchNum .button {
position:absolute;
left:194px;
width:99px;
top:5px;
}

#lowerNav .middleArea {
width:210px;
margin-left:42px;
float:left;
}
#lowerNav .middleArea dt,
#lowerNav .rightArea dt{
margin-bottom:18px;
clear:both;
}
#lowerNav .middleArea ul li,
#lowerNav .rightArea ul li {
padding:0 0 10px 20px;
background:url(../../../common/image/shared/portal/icon_01.gif) no-repeat 0  0.1em;
}
#lowerNav .middleArea ul li.blankLink,
#lowerNav .rightArea ul li.blankLink {
background-image:none;
}
#lowerNav .rightArea {
width:304px;
padding-left:30px;
float:left;
background:url(../../../common/image/shared/bg_lowerNav_line.gif) left top repeat-y;
}

#lowerNav .rightArea li {
float:left;
width:117px;
margin-right:15px;
}

/* /webservice_guide/css/webservice_guide.cssより転記 */
#lowerNav .rightArea {
width: 295px!important;
}
#lowerNav .rightArea ul.listType02 li {
width:100%;
_width:270px;
padding:0 0 10px 20px;
background:url(../../../common/image/shared/portal/icon_01.gif) no-repeat 0  0.1em;
}
#lowerNav .rightArea ul.listType02 li.blankLink {
background-image:none;
}

/* 2013/01/18追記　chrome用ハック*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
#cont .sectionCont .bodTop{ width: 270px;}
#main .text2{ padding-bottom: 15px;}
#main .attention2_ime{ float: left; margin: 10 0 10 20;}
}
/* 2013/01/18追記　Firefox用ハック*/
@-moz-document url-prefix() {
#cont .sectionCont .bodTop{ width: 270px;}
#main .text2{ padding-bottom: 15px;}
#main .attention2_ime{ float: left; margin: 10 0 10 20;}
}