/*==========================================

tv cm

==========================================*/
/* Box Style TypeB
------------------------------------------*/
#tvcm .boxSection .boxTypeB dt {
color: #333333;
}
.boxSection .boxTypeB dd.img {
width:130px;
margin:0 0 0 10px;
float:left;
}
* html .boxSection .boxTypeB dd.img {
margin:0 0 0 5px;
}
.boxSection .boxTypeB dd {
width:190px;
margin:0;
float:right;
}