@charset "utf-8";
/* Reset
--------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

body {
	line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display:block;
}

nav ul {
	list-style:none;
}

blockquote, q {
	quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}

a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

/* change colours to suit your needs */
ins {
	background-color:#ff9;
	color:#000;
	text-decoration:none;
}

/* change colours to suit your needs */
mark {
	background-color:#ff9;
	color:#000;
	font-style:italic;
	font-weight:bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom:1px dotted;
	cursor:help;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

/* change border colour to suit your needs */
hr {
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #cccccc;
	margin:1em 0;
	padding:0;
}

input, select {
	vertical-align:middle;
}

ul li {
	list-style-type:none;
}

/* Link
--------------------------*/
a:link {
	color:#1946A0;
	text-decoration:none;
}
a:visited {
	color:#655B99;
	text-decoration:none;
}
a:hover {
	color:#1946A0;
	text-decoration:underline;
}
a:active {
	color:#1946A0;
	text-decoration:underline;
}

a.iconLink {
	display:block;
	padding:3px 0;
}

a.iconLink:before {
	content:"";
	height:12px;
	width:8px;
	display:inline-block;
	background:url(../../image/shared/icon_link_05.png) no-repeat left 2px;
	-webkit-background-size:6px 8px;
	-moz-background-size:6px 8px;
	-o-background-size:6px 8px;
	-ms-background-size:6px 8px;
	background-size:6px 8px;
}

div.links p {
	font-size:12px;
	display:block;
	line-height:1.7em;
}


/* Layout
--------------------------*/
body {
	min-width:320px;
	font-family:"HiraKakuProN-W3","Helvetica",Meiryo,Arial,sans-serif;
	/* 20131028 フォントにMeiryoを追加 */
	font-size:14px;
	line-height:1.4em;
	background-color:#F3EDDF;
	color:#444;
	word-wrap:break-word;
	-webkit-text-size-adjust:none;
	-moz-text-size-adjust:none;
	-o-text-size-adjust:none;
	-ms-text-size-adjust:none;
	text-size-adjust:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0.3);
	-moz-tap-highlight-color:rgba(0,0,0,0.3);
	-o-tap-highlight-color:rgba(0,0,0,0.3);
	-ms-tap-highlight-color:rgba(0,0,0,0.3);
	tap-highlight-color:rgba(0,0,0,0.3);
}

/* Header
--------------------------*/
header {
	background-color:#FFFFFF;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(21.9%,#008576), color-stop(21.9%,#F9CD00), color-stop(36.5%,#F9CD00), color-stop(36.5%,#FFFFFF), to(#FFFFFF));
	background-image:-webkit-linear-gradient(top, #008576, #008576 21.9%, #F9CD00 21.9%, #F9CD00 36.5%,#FFFFFF 36.5% );
	background-image:-moz-linear-gradient(top, #008576, #008576 21.9%, #F9CD00 21.9%, #F9CD00 36.5%,#FFFFFF 36.5% );
	background-image:-o-linear-gradient(top, #008576, #008576 21.9%, #F9CD00 21.9%, #F9CD00 36.5%,#FFFFFF 36.5% );
	background-image:-ms-linear-gradient(top, #008576, #008576 21.9%, #F9CD00 21.9%, #F9CD00 36.5%,#FFFFFF 36.5% );
	background-image:linear-gradient(top, #008576, #008576 21.9%, #F9CD00 21.9%, #F9CD00 36.5%,#FFFFFF 36.5% );
	height:41px;
	margin-bottom:12px;
}
header div.logo {
	padding:18px 0 0 8px;
}

header div.logo_members {
	padding:21px 0 0 8px;
}

/* Footer
--------------------------*/
footer {
	background-color:#666;
	-webkit-box-shadow:0 3px 5px rgba(0, 0, 0, 0.4) inset;
	-moz-box-shadow:0 3px 5px rgba(0, 0, 0, 0.4) inset;
	-o-box-shadow:0 3px 5px rgba(0, 0, 0, 0.4) inset;
	-ms-box-shadow:0 3px 5px rgba(0, 0, 0, 0.4) inset;
	box-shadow:0 3px 5px rgba(0, 0, 0, 0.4) inset;
	display:none; /* スマートフォン対応 */
}
footer p.copyright {
	font-family:Arial,sans-serif;
	font-size:83%;
	letter-spacing:0.05em;
	color:#FFF;
	text-align:center;
	padding:20px 0;
	line-height: 1.2em;
}

/* Contents Section
--------------------------*/
section#mainContents {
	margin:8px 8px;
}

section#mainContents>h1 {
	background-color:#008576;
	color:#FAFAFA;
	padding:8px 0 8px 16px;
	border-radius:4px 4px 0 0;
	background:-webkit-gradient(linear, 0 100%, 0 0, color-stop(8.5%,#F9CD00), color-stop(8.5%,#1EAA99), to(#008576));
	background:-webkit-linear-gradient(bottom, #F9CD00 8.5%, #1EAA99 8.5%, #008576);
	background:-moz-linear-gradient(bottom, #F9CD00 8.5%, #1EAA99 8.5%, #008576);
	background:-o-linear-gradient(bottom, #F9CD00 8.5%, #1EAA99 8.5%, #008576);
	background:-ms-linear-gradient(bottom, #F9CD00 8.5%, #1EAA99 8.5%, #008576);
	background:linear-gradient(bottom, #F9CD00 8.5%, #1EAA99 8.5%, #008576);
	-webkit-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.5);
	-o-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.5);
	-ms-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow:1px 1px 3px rgba(0, 0, 0, 0.5);
	font-size:110%;
	font-weight:bold;
	-webkit-text-shadow:-1px -1px 1px rgba(0, 0, 0, 0.7),1px 1px 1px rgba(255, 255, 255, 0.2) ;
	-moz-text-shadow:-1px -1px 1px rgba(0, 0, 0, 0.7),1px 1px 1px rgba(255, 255, 255, 0.2) ;
	-o-text-shadow:-1px -1px 1px rgba(0, 0, 0, 0.7),1px 1px 1px rgba(255, 255, 255, 0.2) ;
	-ms-text-shadow:-1px -1px 1px rgba(0, 0, 0, 0.7),1px 1px 1px rgba(255, 255, 255, 0.2) ;
	text-shadow:-1px -1px 1px rgba(0, 0, 0, 0.7),1px 1px 1px rgba(255, 255, 255, 0.2) ;
	font-weight:bold;
}

section#mainContents>div {
	background-color:#FFF;
	border:1px solid #CCC;
	border-top:none;
	padding:12px;
	-webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.5);
	-o-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.5);
	-ms-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow:1px 1px 2px rgba(0, 0, 0, 0.5);
	border-radius:4px;
	margin:16px 0;
}
section#mainContents>div>*:first-child {
	margin-top: 0;
}

section#mainContents>h1+div {
	border-radius:0 0 5px 5px;
	margin-top:0;
}

section#mainContents>div>h2 {
	padding:8px 0 8px 16px;
	background-color:#EDE7DB;
	background:-webkit-gradient(linear, 0 100%, 0 0, color-stop(11.7%, transparent), color-stop(11.7%, #F8F5F0), to(#EDE7DB)), -webkit-gradient(linear, 0 0, 100% 0, color-stop(30%, #F9CD00), color-stop(30%, #008576));
	background:-webkit-linear-gradient(bottom, transparent 11.7%, #F8F5F0 11.7%, #EDE7DB), -webkit-linear-gradient(left, #F9CD00 30%, #008576 30%);
	background:-moz-linear-gradient(bottom, transparent 11.7%, #F8F5F0 11.7%, #EDE7DB), -moz-linear-gradient(left, #F9CD00 30%, #008576 30%);
	background:-o-linear-gradient(bottom, transparent 11.7%, #F8F5F0 11.7%, #EDE7DB), -o-linear-gradient(left, #F9CD00 30%, #008576 30%);
	background:-ms-linear-gradient(bottom, transparent 11.7%, #F8F5F0 11.7%, #EDE7DB), -ms-linear-gradient(left, #F9CD00 30%, #008576 30%);
	background:linear-gradient(bottom, transparent 11.7%, #F8F5F0 11.7%, #EDE7DB), linear-gradient(left, #F9CD00 30%, #008576 30%);
	font-weight:bold;
	margin:24px 0 16px;
}
section#mainContents>div>h2:first-of-type {
	margin-top:0px;
}

/* FootNavi Section
--------------------------*/
#footNavi nav>ul>li {
	background-color:#FFF;
	border-bottom:1px solid #CCC;
}
#footNavi nav>ul>li:last-child {
	border-bottom:none;
}
#footNavi nav>ul>li a{
	padding:8px 0 8px 8px;
	font-size:85%;
	color:#636766;
}

/* Title
--------------------------*/
h3 {
	background-color:#FFF;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,0.3)), color-stop(5%, rgba(255,255,255,0.1)), color-stop(9%, rgba(255,255,255,0.1)),color-stop(15%, rgba(0,0,0,0.03)), color-stop(30%, transparent), color-stop(93%, transparent), to(rgba(0,0,0,0.6))),
	-webkit-gradient(linear, 0 0, 100% 0, color-stop(2.81%, #008576), color-stop(2.81%, #F9CD00), color-stop(4.68%, #F9CD00), color-stop(4.68%, #FFFDF9), to(#FFFDF9));
	background:-webkit-linear-gradient(top, rgba(0,0,0,0.3), rgba(255,255,255,0.1) 5%, rgba(255,255,255,0.1) 9%,rgba(0,0,0,0.03) 15%, transparent 30%,transparent 93%,rgba(0,0,0,0.6)),
	-webkit-linear-gradient(left, #008576 9px, #F9CD00 9px, #F9CD00 15px, #FFFDF9 15px, #FFFDF9);
	background:-moz-linear-gradient(top, rgba(0,0,0,0.3), rgba(255,255,255,0.1) 5%, rgba(255,255,255,0.1) 9%,rgba(0,0,0,0.03) 15%, transparent 30%,transparent 93%,rgba(0,0,0,0.6)),
	-moz-linear-gradient(left, #008576 9px, #F9CD00 9px, #F9CD00 15px, #FFFDF9 15px, #FFFDF9);
	background:-o-linear-gradient(top, rgba(0,0,0,0.4), rgba(255,255,255,0.1) 5%, rgba(255,255,255,0.1) 9%,rgba(0,0,0,0.03) 15%, transparent 30%,transparent 93%,rgba(0,0,0,0.6)),
	-o-linear-gradient(left, #008576 9px, #F9CD00 9px, #F9CD00 15px, #FFFDF9 15px, #FFFDF9);
	background:-ms-linear-gradient(top, rgba(0,0,0,0.3), rgba(255,255,255,0.1) 5%, rgba(255,255,255,0.1) 9%,rgba(0,0,0,0.03) 15%, transparent 30%,transparent 93%,rgba(0,0,0,0.6)),
	-ms-linear-gradient(left, #008576 9px, #F9CD00 9px, #F9CD00 15px, #FFFDF9 15px, #FFFDF9);
	background:linear-gradient(top, rgba(0,0,0,0.3), rgba(255,255,255,0.1) 5%, rgba(255,255,255,0.1) 9%,rgba(0,0,0,0.03) 15%, transparent 30%,transparent 93%,rgba(0,0,0,0.6)),
	linear-gradient(left, #008576 9px, #F9CD00 9px, #F9CD00 15px, #FFFDF9 15px, #FFFDF9);
	padding:4px 0 4px 24px;
	margin-top:0px;
}
h4 {
	font-weight: normal;
	margin-bottom:4px;
}

.headingGolf {
	font-size:13px;
}
/* Text
--------------------------*/
.messages p, .message {
	font-size:12px;
	display:block;
	line-height:1.7em;
}

.messages p {
	padding-bottom:4px;
}

/* 20131028 アスタリスク、中黒のCSS化対応 */
.messages p.asterisk, .message.asterisk {
	position:relative;
	padding-left:13px; /* アスタリスクのサイズで微調整 */
}
.messages p.asterisk:before, .message.asterisk:before {
	content:"※";
	position:absolute;
	left:0;
}

.messages p.interpunct, .message.interpunct {
	position:relative;
	padding-left:13px; /* 中黒のサイズで微調整 */
}
.messages p.interpunct:before, .message.interpunct:before {
	content:"・";
	position:absolute;
	left:0;
}

.messages p.no1, .message.no1,
.messages p.no2, .message.no2,
.messages p.no3, .message.no3,
.messages p.no4, .message.no4,
.messages p.no5, .message.no5,
.messages p.no6, .message.no6,
.messages p.no7, .message.no7,
.messages p.no8, .message.no8,
.messages p.no9, .message.no9 {
	position:relative;
	padding-left:20px;
}
.messages p.no1:before, .message.no1:before {
	content:"(1)";
	position:absolute;
	left:0;
}
.messages p.no2:before, .message.no2:before {
	content:"(2)";
	position:absolute;
	left:0;
}
.messages p.no3:before, .message.no3:before {
	content:"(3)";
	position:absolute;
	left:0;
}
.messages p.no4:before, .message.no4:before {
	content:"(4)";
	position:absolute;
	left:0;
}
.messages p.no5:before, .message.no5:before {
	content:"(5)";
	position:absolute;
	left:0;
}
.messages p.no6:before, .message.no6:before {
	content:"(6)";
	position:absolute;
	left:0;
}
.messages p.no7:before, .message.no7:before {
	content:"(7)";
	position:absolute;
	left:0;
}
.messages p.no8:before, .message.no8:before {
	content:"(8)";
	position:absolute;
	left:0;
}
.messages p.no9:before, .message.no9:before {
	content:"(9)";
	position:absolute;
	left:0;
}

div.messages,
ol.messages,
ul.messages {
	margin-top: 8px;
	margin-bottom: 8px;
}
ol.messages li ,
ul.messages li {
	padding-left:0px;
	margin-bottom:4px;
}
ol.messages li:last-child,
ul.messages li:last-child {
	margin-bottom:0;
}

dl.inputForms dd>.messages+*,
dl.inputForms dd>.message+* {
	margin-bottom:8px;
}
dl.inputForms dd>*+.messages,
dl.inputForms dd>*+.message {
	margin-top:8px;
}
section#mainContents>div>.message:first-child,
section#mainContents>div>.messages:first-child {
	margin-top:0;
}
/* Caution (Input Errors)
--------------------------*/
div.errors {
	margin:16px 0;
	color:#CC0000;
	padding: 8px;
	background-color:rgba(255,0,0,0.15);
	border-radius:4px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	font-size:12px;
}
div.errors li {
	color: inherit;
	font-size: inherit;
}
div.errors li {
	margin-bottom: 4px;
}
div.errors li:last-child {
	margin-bottom: 0;
}
/* System Maintenance
--------------------------*/
div.maintenance {
	font-size:12px;
	margin:16px 0;
	font-weight:bold;
	border: 3px solid #333;
	border-radius:4px;
	background-color:#F9CD00;
	background-image:url(../../image/shared/icon_cautionMente.gif);
	background-position: 8px center;
	background-repeat:no-repeat;
	padding: 16px 16px 16px 64px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
div.maintenance * {
	font-weight:inherit;
}

/* Search Condition
--------------------------*/
dl.searchCondition {
	display:-webkit-box;
	display:-moz-box;
	display:-o-box;
	display:-ms-box;
	margin:12px 0;
	display:box;
}
dl.searchCondition dt {
	display:inherit;
	-webkit-box-align:center;
	-moz-box-align:center;
	-o-box-align:center;
	-ms-box-align:center;
	box-align:center;
}
dl.searchCondition dt>span {
	color:#FFF;
	padding:2px 10px;
	background-color:#008576;
	border-radius:10px;
	margin-right:8px;
	-webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.5) inset;
	-moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.5) inset;
	-o-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.5) inset;
	-ms-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.5) inset;
	box-shadow:1px 1px 1px rgba(0, 0, 0, 0.5) inset;
	-webkit-text-shadow:0 -1px 1px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
	-moz-text-shadow:0 -1px 1px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
	-o-text-shadow:0 -1px 1px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
	-ms-text-shadow:0 -1px 1px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
	text-shadow:0 -1px 1px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
	font-size:75%;
}
dl.searchCondition dd {
	color:#008576;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-o-box-flex:1;
	-ms-box-flex:1;
	box-flex:1;
	padding-top:2px;
}

/* Vertical Selections
--------------------------*/
ul.verticalSelections {
	border:1px solid #CCC;
	border-bottom:none;
	font-size:95%;
	margin-top:16px;
}
ul.verticalSelections>li {
	padding:8px 0 8px 8px;
	border-bottom:1px solid #CCC;
	padding-left:8px;
	cursor:pointer;
	position:relative;
}
ul.verticalSelections>li:after {
	content:"";
	position:absolute;
	background-image:url(../../image/shared/icon_link_05.png);
	background-repeat:no-repeat;
	-webkit-background-size:100%;
	-moz-background-size:100%;
	-o-background-size:100%;
	-ms-background-size:100%;
	background-size:100%;
	right:16px;
	top:50%;
	width:6px;
	height:9px;
	margin-top:-4px;/* アイコンの縦位置微調整 */
}

/* Button
--------------------------*/
a.whiteButton, a.greenButton, a.greenButton_b, a.greenBorderButton_b,
a.whiteButton_s, a.greenButton_s {
	-webkit-touch-callout: none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
a.whiteButton, a.greenButton, a.greenBorderButton_b,
input[type="button"].whiteButton, input[type="button"].greenButton, input[type="button"].greenBorderButton_b,
input[type="submit"].whiteButton, input[type="submit"].greenButton, input[type="submit"].greenBorderButton_b,
input[type="submit"].greenButton_b, input[type="submit"].greenBorderButton_b {
	display:block;
	text-decoration:none;
	font-weight:bold;
	border-radius:5px;
	text-align:center;
	padding:8px 0;
	margin:8px 0;
	width:100%;
	font-size:14px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
a.whiteButton_s, a.greenButton_s,
input[type="button"].whiteButton_s, input[type="button"].greenButton_s,
input[type="submit"].whiteButton_s, input[type="submit"].greenButton_s {
	display:inline-block;
	text-decoration:none;
	border-radius:4px;
	text-align:center;
	padding:0 4px;
	margin:0 4px;
	font-size:80%;
}
input[type="button"].whiteButton_s, input[type="button"].greenButton_s,
input[type="submit"].whiteButton_s, input[type="submit"].greenButton_s {
	padding-top:2px;
	padding-bottom:2px;
}
a.whiteButton,
input[type="button"].whiteButton,
input[type="submit"].whiteButton,
a.whiteButton_s,
input[type="button"].whiteButton_s,
input[type="submit"].whiteButton_s {
	color:#444;
	-webkit-text-shadow:-1px -1px 1px rgba(0, 0, 0, 0.2),1px 1px 1px rgba(255, 255, 255, 0.2) ;
	-moz-text-shadow:-1px -1px 1px rgba(0, 0, 0, 0.2),1px 1px 1px rgba(255, 255, 255, 0.2) ;
	-o-text-shadow:-1px -1px 1px rgba(0, 0, 0, 0.2),1px 1px 1px rgba(255, 255, 255, 0.2) ;
	-ms-text-shadow:-1px -1px 1px rgba(0, 0, 0, 0.2),1px 1px 1px rgba(255, 255, 255, 0.2) ;
	text-shadow:-1px -1px 1px rgba(0, 0, 0, 0.2),1px 1px 1px rgba(255, 255, 255, 0.2) ;
	background-color:#FFF;
	border:1px solid #919191;
	box-shadow:0 -1px 1px rgba(0, 0, 0, 0.2) inset, 1px 1px 2px rgba(0, 0, 0, 0.3) ;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#DDDDDD));
	background:-webkit-linear-gradient(top, #FFFFFF, #DDDDDD);
	background:-moz-linear-gradient(top, #FFFFFF, #DDDDDD);
	background:-o-linear-gradient(top, #FFFFFF, #DDDDDD);
	background:-ms-linear-gradient(top, #FFFFFF, #DDDDDD);
	background:linear-gradient(top, #FFFFFF, #DDDDDD);
}
a.greenButton,
input[type="button"].greenButton,
input[type="submit"].greenButton,
input[type="submit"].greenButton_b,
a.greenButton_s,
input[type="button"].greenButton_s,
input[type="submit"].greenButton_s {
	color:#EEE;
	-webkit-text-shadow:-1px -1px 1px rgba(0, 0, 0, 0.7),1px 1px 1px rgba(255, 255, 255, 0.2) ;
	-moz-text-shadow:-1px -1px 1px rgba(0, 0, 0, 0.7),1px 1px 1px rgba(255, 255, 255, 0.2) ;
	-o-text-shadow:-1px -1px 1px rgba(0, 0, 0, 0.7),1px 1px 1px rgba(255, 255, 255, 0.2) ;
	-ms-text-shadow:-1px -1px 1px rgba(0, 0, 0, 0.7),1px 1px 1px rgba(255, 255, 255, 0.2) ;
	text-shadow:-1px -1px 1px rgba(0, 0, 0, 0.7),1px 1px 1px rgba(255, 255, 255, 0.2) ;
	background-color:#038277;
	border:1px solid #035E54;
	box-shadow:0 -1px 1px rgba(0, 0, 0, 0.3) inset, 1px 1px 2px rgba(0, 0, 0, 0.4) ;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#17A18D), to(#008576));
	background:-webkit-linear-gradient(top, #17A18D, #008576);
	background:-moz-linear-gradient(top, #17A18D, #008576);
	background:-o-linear-gradient(top, #17A18D, #008576);
	background:-ms-linear-gradient(top, #17A18D, #008576);
	background:linear-gradient(top, #17A18D, #008576);
}

a.greenBorderButton_b,
input[type="button"].greenBorderButton_b,
input[type="submit"].greenBorderButton_b {
	color:#078677;
	background-color:#FFF;
	border:2px solid #078677;
	box-shadow:0 -1px 1px rgba(0, 0, 0, 0.2) inset, 1px 1px 2px rgba(0, 0, 0, 0.3) ;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#E7E7E7));
	background:-webkit-linear-gradient(top, #FFFFFF, #E7E7E7);
	background:-moz-linear-gradient(top, #FFFFFF, #E7E7E7);
	background:-o-linear-gradient(top, #FFFFFF, #E7E7E7);
	background:-ms-linear-gradient(top, #FFFFFF, #E7E7E7);
	background:linear-gradient(top, #FFFFFF, #E7E7E7);
}

input[type="submit"].greenButton_b, input[type="submit"].greenBorderButton_b {
	line-height:19.6px;
	height:58px;
}

/* Horizontal Buttons
--------------------------*/
ul.horizontalButtons {
	display:-webkit-box;
	display:-moz-box;
	display:-o-box;
	display:-ms-box;
	display:box;
	width:100%;
	margin:16px 0;
}
ul.horizontalButtons>li {
	display:inherit;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-o-box-flex:1;
	-ms-box-flex:1;
	box-flex:1;
	-webkit-box-pack:center;
	-moz-box-pack:center;
	-o-box-pack:center;
	-ms-box-pack:center;
	box-pack:center;
}
ul.horizontalButtons>li>a.whiteButton,
ul.horizontalButtons>li>a.greenButton,
ul.horizontalButtons>li>input[type="button"].whiteButton,
ul.horizontalButtons>li>input[type="button"].greenButton,
ul.horizontalButtons>li>input[type="submit"].whiteButton,
ul.horizontalButtons>li>input[type="submit"].greenButton {
	width:112px;
	margin:0;
}

/* Vertical Buttons
--------------------------*/
ul.verticalButtons {
	margin:16px 0;
}
ul.verticalButtons2 {
	margin:16px;
}
ul.verticalButtons>li {
	margin-bottom:24px;
}

ul.verticalButtons2>li {
	margin-bottom:24px;
	width:100%;
}

ul.verticalButtons>li:last-child {
	margin-bottom:12px;

}

/* Input
--------------------------*/
dl.inputForms {
	margin-top:12px;
	margin-bottom:16px;
}
dl.inputForms>dt {
	color:#008576;
	font-weight:bold;
	margin-bottom:4px;
	margin-top:16px;
}
dl.inputForms>dt:first-child {
	margin-top:0;
}
dl.inputForms>dt * {
	font-weight:inherit;
}
dl.inputForms>dt *.require:after {
	content:"必須";
	color:#FFF;
	padding:2px 10px 2px;
	background-color:#008576;
	border-radius:10px;
	margin-left:10px;
	font-size:75%;
	font-weight:normal;
	vertical-align:2px;
	-webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.5) inset;
	-moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.5) inset;
	-o-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.5) inset;
	-ms-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.5) inset;
	box-shadow:1px 1px 1px rgba(0, 0, 0, 0.5) inset;
	-webkit-text-shadow:0 -1px 1px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
	-moz-text-shadow:0 -1px 1px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
	-o-text-shadow:0 -1px 1px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
	-ms-text-shadow:0 -1px 1px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
	text-shadow:0 -1px 1px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
}

dl.inputForms>dt *.seach:before {
	content:"検索条件";
	color:#FFF;
	padding:2px 10px 2px;
	background-color:#008576;
	border-radius:10px;
	margin-left:10px;
	font-size:75%;
	font-weight:normal;
	vertical-align:2px;
	-webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.5) inset;
	-moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.5) inset;
	-o-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.5) inset;
	-ms-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.5) inset;
	box-shadow:1px 1px 1px rgba(0, 0, 0, 0.5) inset;
	-webkit-text-shadow:0 -1px 1px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
	-moz-text-shadow:0 -1px 1px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
	-o-text-shadow:0 -1px 1px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
	-ms-text-shadow:0 -1px 1px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
	text-shadow:0 -1px 1px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
}

dl.inputForms>dd {
	margin:8px 0;
}
dl.inputForms>dt+dd {
	margin-top:0;
}

dl.inputForms dd input[type="tel"],
dl.inputForms dd input[type="text"],
dl.inputForms dd input[type="password"] {
	font-size:120%;
	padding:4px;
	border-radius:5px;
	border:1px solid #BBB;
	display:block;
	-webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.4) inset;
	-moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.4) inset;
	-o-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.4) inset;
	-ms-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.4) inset;
	box-shadow:1px 1px 1px rgba(0, 0, 0, 0.4) inset;
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	margin:4px 0;
}
dl.inputForms dd select {
	font-size:120%;
}

dl.inputForms dd input[type="checkbox"],
dl.inputForms dd input[type="radio"] {
	margin:4px 8px 4px 0;
}

dl.inputForms dd div.horizontalInputs>span.guideText,
dl.inputForms dd div.horizontalInputs>input {
	margin-top:0;
	display:inline-block;
}
dl.inputForms dd>input[type="checkbox"]+span.guideText,
dl.inputForms dd>input[type="radio"]+span.guideText {
	vertical-align:middle;
}
dl.inputForms dd div.horizontalInputs>input[type="button"],
dl.inputForms dd div.horizontalInputs>input[type="submit"]
 {
	height:37px;
	width:100px;
	margin-left:8px;
	font-size:90%;
	margin-top:4px;
}

dl.inputForms dd select {
	display:block;
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
dl.inputForms dd textarea {
	font-size:120%;
	display:block;
	width:100%;
	padding:8px;
	border:1px solid #BBB;
	border-radius:5px;
	-webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.4) inset;
	-moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.4) inset;
	-o-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.4) inset;
	-ms-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.4) inset;
	box-shadow:1px 1px 1px rgba(0, 0, 0, 0.4) inset;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
dl.inputForms>dd div.horizontalInputs>span.guideText {
	padding:0 8px;
}
dl.inputForms>dd div.horizontalInputs>input[type="checkbox"]+span.guideText,
dl.inputForms>dd div.horizontalInputs>input[type="radio"]+span.guideText {
	padding-left:0;
}
dl.inputForms>dd div.horizontalInputs>span.guideText:nth-child(1)  {
	padding-left:0;
}
dl.inputForms dd input[type="tel"].zip {
	width:100px;
}
dl.inputForms dd input[type="tel"].zip1,
dl.inputForms dd input[type="text"].zip1 {
	width:48px;
}
dl.inputForms dd input[type="tel"].zip2,
dl.inputForms dd input[type="text"].zip2 {
	width:56px;
}
dl.inputForms dd input[type="tel"].banchi,
dl.inputForms dd input[type="tel"].go,
dl.inputForms dd input[type="text"].banchi,
dl.inputForms dd input[type="text"].go {
	width:64px;
}
dl.inputForms dd input[type="tel"].tel1,
dl.inputForms dd input[type="tel"].tel2,
dl.inputForms dd input[type="tel"].tel3,
dl.inputForms dd input[type="text"].tel1,
dl.inputForms dd input[type="text"].tel2,
dl.inputForms dd input[type="text"].tel3 {
	width:64px;
}
dl.inputForms dd input[type="text"].sei,
dl.inputForms dd input[type="text"].mei,
dl.inputForms dd input[type="text"].seiKana,
dl.inputForms dd input[type="text"].meiKana {
	width:100px;
}
dl.inputForms dd input[type="text"].year ,
dl.inputForms dd input[type="tel"].year {
		width:60px;
}
dl.inputForms dd input[type="text"].month,
dl.inputForms dd input[type="tel"].month,
dl.inputForms dd input[type="text"].day,
dl.inputForms dd input[type="tel"].day {
	width:50px;
}
dl.inputForms>dd div.horizontalInputs>span.guideText.nameGuide {
	padding:0 4px;
	width:28px;
	text-align:right;
}
dl.inputForms>dd div.horizontalInputs>span.guideText.mailGuide {
	margin-right:16px;
}
dl.inputForms>dd div.horizontalInputs>span.guideText.yearGuide {
}
dl.inputForms>dd div.horizontalInputs>span.guideText.monthGuide {
}
dl.inputForms>dd div.horizontalInputs>span.guideText.dayGuide {
}


dl.inputForms>dd div.withButton {
	display:-webkit-box;
	display:-moz-box;
	display:-o-box;
	display:-ms-box;
	display:box;
}
dl.inputForms>dd div.withButton div.submitInputs {
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-o-box-flex:1;
	-ms-box-flex:1;
	box-flex:1;
	display:-webkit-box;
	display:-moz-box;
	display:-o-box;
	display:-ms-box;
	display:box;
	-webkit-box-align:center;
	-moz-box-align:center;
	-o-box-align:center;
	-ms-box-align:center;
	box-align:center;
	padding-right: 16px;
}

dl.inputForms>dd div.withButton a.searchButton {
	width:80px;
	margin-top:0;
	margin-bottom:0;
	padding:6px 0;
}
dl.inputForms>dd span.fixedLabel {
	padding-left:8px;
}
/* Confirm Inputs
--------------------------*/
dl.confirmInputs {
	margin-top:12px;
	margin-bottom:16px;
}
dl.confirmInputs>dt {
	font-weight:bold;
	color:#008576;
	min-width:96px;
	padding-top:12px;
	padding-bottom:4px;
}
dl.confirmInputs>dt:first-child {
	padding-top:0;
}
dl.confirmInputs>dd {
	border-bottom:1px solid #CCC;
	padding-bottom:8px;
	padding-left:12px;
}
/* 一行タイプ */
dl.confirmInputs>dt.oneLine {
	float:left;
	clear:both;
}
dl.confirmInputs>dt.oneLine+dd {
	padding-top:12px;
}
dl.confirmInputs>dt.oneLine:first-child+dd {
	padding-top:0;
}

dl.confirmInputs dd.slipNo {
	font-size: 135%;
}

/* Openable, Closable
--------------------------*/
div.openable>*:not(.ignore) {
	margin:0;
	display:none;
}
div.closable>*:not(.ignore) {
}
/* Block Opener
--------------------------*/
div.openable.block, div.closable.block {
	border-bottom:1px solid #CCC;
	margin-top:16px;
	margin-bottom:16px;
}
div.openable.block>span.opener, div.closable.block>span.opener {
	position:relative;
	cursor:pointer;
	display:block;
	color:#008576;
	font-weight:bold;
	margin-bottom:8px;
}
div.openable.block>span.opener:after, div.closable.block>span.opener:after {
	content:"";
	position:absolute;
	background-image:url(../../image/shared/icon_toggle_02.png);
	background-repeat:no-repeat;
	-webkit-background-size:100%;
	-moz-background-size:100%;
	-o-background-size:100%;
	-ms-background-size:100%;
	background-size:100%;
	right:10px;
	top:50%;
	width:18px;
	height:12px;
	margin-top:-4px;/* アイコンの縦位置微調整 */
}
div.closable.block>span.opener:after {
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	transform:rotate(180deg);
}

/* List Opener
--------------------------*/
div.openable.list, div.closable.list {
	border:1px solid #CCC;
}
div.openable.list>span.opener, div.closable.list>span.opener {
	position:relative;
	cursor:pointer;
	display:block;
	color:#333;
	margin-bottom:0;
	background-color:#E9E6E0;
	padding:8px 0 8px 8px;
	border-bottom:1px solid #CCC;
}
div.closable.list>span.opener {
	border-bottom-width:1px;
}
div.openable.list>span.opener {
	border-bottom-width:0px;
}
div.openable.list>span.opener:after, div.closable.list>span.opener:after {
	content:"";
	position:absolute;
	background-image:url(../../image/shared/icon_toggle_02.png);
	background-repeat:no-repeat;
	-webkit-background-size:100%;
	-moz-background-size:100%;
	-o-background-size:100%;
	-ms-background-size:100%;
	background-size:100%;
	right:10px;
	top:50%;
	width:18px;
	height:12px;
	margin-top:-6px; /* アイコンの縦位置微調整 */
}
div.closable.list>span.opener:after {
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	transform:rotate(180deg);
}
div.openable.list>ul.verticalSelections,
div.closable.list>ul.verticalSelections {
	margin-top:0;
	border:none;
}
div.openable.list>ul.verticalSelections>li:last-child,
div.closable.list>ul.verticalSelections>li:last-child {
	border-bottom:none;
}
ul>li:not(:last-child)>div.openable.list, ul>li:not(:last-child)>div.closable.list {
	border-bottom:none;
}

div.openable.list>span.opener:last-child {
	color:#666;
}
div.openable.list>span.opener:last-child:after {
	display:none;
}

/* Spiner
--------------------------*/

/* Other
--------------------------*/
.hidden {
	display:none;
}

div.verticalSpacer {
	padding-top:10px;
}

p.buttonParagraph {
	text-align:center;
}

img.appBanner {
	width:278px;
}

p.txtParagraph {
	text-align:right;
}

/* Margins
--------------------------*/
.mt0  { margin-top:    0px !important; }
.mt4  { margin-top:    4px !important; }
.mt6  { margin-top:    6px !important; }
.mt8  { margin-top:    8px !important; }
.mt12 { margin-top:   12px !important; }
.mt16 { margin-top:   16px !important; }
.mt32 { margin-top:   32px !important; }
.mt64 { margin-top:   64px !important; }
.mr0  { margin-right:  0px !important; }
.mr4  { margin-right:  4px !important; }
.mr6  { margin-right:  6px !important; }
.mr8  { margin-right:  8px !important; }
.mr12 { margin-right: 12px !important; }
.mr16 { margin-right: 16px !important; }
.mr32 { margin-right: 32px !important; }
.mr64 { margin-right: 64px !important; }
.mb0  { margin-bottom: 0px !important; }
.mb4  { margin-bottom: 4px !important; }
.mb6  { margin-bottom: 6px !important; }
.mb8  { margin-bottom: 8px !important; }
.mb12 { margin-bottom:12px !important; }
.mb16 { margin-bottom:16px !important; }
.mb32 { margin-bottom:32px !important; }
.mb64 { margin-bottom:64px !important; }
.ml0  { margin-left:   0px !important; }
.ml4  { margin-left:   4px !important; }
.ml6  { margin-left:   6px !important; }
.ml8  { margin-left:   8px !important; }
.ml12 { margin-left:  12px !important; }
.ml16 { margin-left:  16px !important; }
.ml32 { margin-left:  32px !important; }
.ml64 { margin-left:  64px !important; }

/* Paddings
--------------------------*/
.pt0   { padding-top:    0px !important; }
.pt4   { padding-top:    4px !important; }
.pt6   { padding-top:    6px !important; }
.pt8   { padding-top:    8px !important; }
.pt12  { padding-top:   12px !important; }
.pt16  { padding-top:   16px !important; }
.pr0   { padding-right:  0px !important; }
.pr4   { padding-right:  4px !important; }
.pr6   { padding-right:  6px !important; }
.pr8   { padding-right:  8px !important; }
.pr12  { padding-right: 12px !important; }
.pr16  { padding-right: 16px !important; }
.pb0   { padding-bottom: 0px !important; }
.pb4   { padding-bottom: 4px !important; }
.pb6   { padding-bottom: 6px !important; }
.pb8   { padding-bottom: 8px !important; }
.pb12  { padding-bottom:12px !important; }
.pb16  { padding-bottom:16px !important; }
.pl0   { padding-left:   0px !important; }
.pl4   { padding-left:   4px !important; }
.pl6   { padding-left:   6px !important; }
.pl8   { padding-left:   8px !important; }
.pl12  { padding-left:  12px !important; }
.pl16  { padding-left:  16px !important; }

/* Align
--------------------------*/
.center {
	text-align:center !important;
}
.left {
	text-align:left   !important;
}
.right {
	text-align:right  !important;
}

/* Fonts
--------------------------*/
.xsfont  { font-size:  65% !important; line-height: 1.15em;}
.ssfont  { font-size:  75% !important; line-height: 1.15em;}
.sfont   { font-size:  85% !important; line-height: 1.15em;}
.mfont   { font-size: 100% !important; line-height: 1.15em;}
.lfont   { font-size: 115% !important; line-height: 1.15em;}
.llfont  { font-size: 120% !important; line-height: 1.15em;}
.xlfont  { font-size: 130% !important; line-height: 1.15em;}
.xsfontb { font-weight: bold !important; font-size:  65% !important; line-height: 1.15em;}
.ssfontb { font-weight: bold !important; font-size:  75% !important; line-height: 1.15em;}
.sfontb  { font-weight: bold !important; font-size:  85% !important; line-height: 1.15em;}
.mfontb  { font-weight: bold !important; font-size: 100% !important; line-height: 1.15em;}
.lfontb  { font-weight: bold !important; font-size: 115% !important; line-height: 1.15em;}
.llfontb { font-weight: bold !important; font-size: 120% !important; line-height: 1.15em;}
.xlfontb { font-weight: bold !important; font-size: 130% !important; line-height: 1.15em;}
.xsfontn { font-weight: normal !important; font-size:  65% !important; line-height: 1.15em;}
.ssfontn { font-weight: normal !important; font-size:  75% !important; line-height: 1.15em;}
.sfontn  { font-weight: normal !important; font-size:  85% !important; line-height: 1.15em;}
.mfontn  { font-weight: normal !important; font-size: 100% !important; line-height: 1.15em;}
.lfontn  { font-weight: normal !important; font-size: 115% !important; line-height: 1.15em;}
.llfontn { font-weight: normal !important; font-size: 120% !important; line-height: 1.15em;}
.xlfontn { font-weight: normal !important; font-size: 130% !important; line-height: 1.15em;}
.fontb   { font-weight: bold !important; }

/* Colors
--------------------------*/
.green {
	color:#008576;
	font-weight: inherit;
}
.yellow {
	color:#F9CD00;
	font-weight: inherit;
}
.warning {
	color:#F00;
	font-weight: inherit;
}

/* Tables
--------------------------*/
table.defaultTable {
	width:100%;
	margin-bottom:16px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	font-size:12px;
}

table.defaultTable>thead>tr>th,
table.defaultTable>tbody>tr>th,
table.defaultTable>thead>tr>td,
table.defaultTable>tbody>tr>td {
	border:1px solid #D3CEC2;
	vertical-align: middle;
	padding: 4px 8px;
}
table.defaultTable>thead>tr,
table.defaultTable>tbody>tr {
}
table.defaultTable>thead>tr>th,
table.defaultTable>tbody>tr>th {
	background-color: #E9E6E0;
	color:#666666;
	text-align:center;
}
table.defaultTable>thead>tr>td,
table.defaultTable>tbody>tr>td {
}

/* Menu
--------------------------*/
.link-list02 li{
	border:1px solid #7a7a7a;
	border-bottom:0;
	background:-webkit-gradient(linear, left top, left bottom,
		color-stop(1, rgb(235,233,227)),
		color-stop(0, rgb(255,255,255))
	);
}

.link-list02 li:first-child{
	-webkit-border-radius:10px 10px 0 0;
	border-radius:10px 10px 0 0;
}
.link-list02 li:last-child{
border-bottom:1px solid #7a7a7a;
	-webkit-border-radius:0 0 10px 10px;
	border-radius:0 0 10px 10px;
}
.link-list02 li.only{
	-webkit-border-radius:10px 10px 10px 10px;
	border-radius:10px 10px 10px 10px;
}

.link-list02 a{
	font-size:1em;
	line-height:1.2;
	padding:12px 10px;
	background:url(../../image/shared/ttl_after_icon.png) no-repeat right 50%;
	-webkit-background-size:9px 14px;
	background-size:9px 15px;
	-webkit-background-origin:content;
	background-origin:content-box;
	display:-webkit-box;
	-webkit-box-align:center;
	vertical-align:middle;
	text-decoration:none;
}

/* Customize Style
--------------------------*/
#selectService {
}

#selectService td {
	vertical-align:middle;
	padding: 5px 3px;
}
#selectService td.image img{
	display: block;
}
#selectService td.text {
	padding-left: 5px;
	font-size: 94%;
}

#toRegion {
	margin-bottom: 32px;
}

.iconLink {
	background: url(../../image/shared/icon_link_05.png) no-repeat 1px;
	padding: 5px 0 5px 11px;
	-webkit-background-size:6px 8px;
	-moz-background-size:6px 8px;
	-o-background-size:6px 8px;
	-ms-background-size:6px 8px;
	background-size:6px 8px;
}
.ryokinSize, .yoteibi {
	width: 50%;
}

.ryokin {
	font-weight:bold;
	text-align:right;
}
.mailRyokin {
	font-weight:bold;
	text-align:right;
}
.ryokinImpossible {
	text-align:right;
}
.ryokinUnit {
	font-weight: normal;
	font-size: 65%;
	vertical-align: baseline;
}

.kanzeiSakibarai,
.kanzeiGojitsu {
	width: 50%;
}

.saitanHassobi,
.saitanYoteibi,
.saitanNissu {
	text-align:center;
	width:33%;
}
.counterName {
	text-align:center;
}

.counterMap {
	padding:4px !important;
}
.counterMap img {
	width:100%;
	vertical-align:bottom;
	text-align:center;
}

dl.confirmInputs>dt {
	padding-left: 8px;
	padding-right: 8px;
}
dl.confirmInputs>dd {
	padding-left: 20px;
	padding-right: 8px;
}

.gskLink {
	text-align:left;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left:auto;
	margin-right:0;
}
#serviceList {
	text-align:center;
	margin-left: 0px !important;
	margin-right: 0px !important;
}

#serviceList ul{
	overflow:hidden;
	padding-top:2px;
	width: 278px;
	margin: 0 auto;
}
#serviceList ul li.serviceButton {
	float:left;
	width:90px;
	height:50px;
	margin-right:4px;
	margin-bottom:6px;
	overflow:hidden;
	border:1px solid #7a7a7a;
	background:-moz-linear-gradient(bottom, rgb(211,206,192), rgb(255,255,255));
	background:-webkit-gradient(linear, left top, left bottom,
	color-stop(1, rgb(211,206,192)),
	color-stop(0, rgb(255,255,255))
	);
	-webkit-border-radius:5px;
	border-radius:5px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-shadow: 0px -1px 1px rgba(0,0,0,0.3);
	box-shadow: 0px -1px 1px rgba(0,0,0,0.3);
}
#serviceList ul li.serviceButton:nth-child(3n) {
	margin-right:0px;
}
#serviceList ul li.serviceButton:nth-child(3n+1) {
	clear: both;
}

#serviceList ul li.serviceButton a {
	height:48px;
	line-height:1;
	display:-moz-box;
	display: -webkit-box;
	-webkit-box-align: center;
	-moz-box-align:center;
}
#serviceList ul li.serviceButton a span {
	display:block;
	width:100%;
	text-align:center;
}

dl.inputForms dd input[type="tel"].zipLong {
	width:140px;
	height:37px;
}

dl.inputForms dd input[type="tel"].zipLongErr {
	width:140px;
	height:37px;
	border:2px solid #E16767;
}
dl.inputForms dd input[type="text"].yearErr ,
dl.inputForms dd input[type="tel"].yearErr {
		width:60px;
		border:2px solid #E16767;
}
dl.inputForms dd input[type="text"].monthErr,
dl.inputForms dd input[type="tel"].monthErr,
dl.inputForms dd input[type="text"].dayErr,
dl.inputForms dd input[type="tel"].dayErr {
	width:50px;
	border:2px solid #E16767;
}
.imgMap {
	text-align:center;
}
.imgMap .worldMap {
	position:relative;
	width: 270px;
	height: 162px;
	margin: 0 auto;
	background:url(../../image/shared/img_map_02.gif) no-repeat left center;
	-webkit-background-size:270px 162px;
}
.imgMap .europe {
	top:0px;
	left:0px;
	position:absolute;
}
.imgMap .asia {
	top:36px;
	left:52px;
	position:absolute;
}
.imgMap .america01 {
	top:32px;
	left:179px;
	position:absolute;
}
.imgMap .arab {
	top:75px;
	left:33px;
	position:absolute;
}
.imgMap .africa {
	top:121px;
	left:0px;
	position:absolute;
}
.imgMap .oceania {
	top:121px;
	left:105px;
	position:absolute;
}
.imgMap .america02 {
	top:83px;
	left:179px;
	position:absolute;
}

ul.acList>li {
  margin: 0;
  padding: 8px 30px 8px 8px;
}
ul.acList>li>a {
  text-decoration: none;
  font-color: #000000;
}
ul.acList>li>a {
  display: block;
}

ul.acList>li>a:link {
 color: #000000;
}
ul.acList>li>a:visited {
 color: #000000;
}

p.utizei {
	text-align: right;
	padding-top: 0px;
	margin-right: 4px;
	margin-bottom: 10px;
	font-size: 80%;
}

.defaultTable.withUtizei {
	margin-bottom: 4px;
}

div.errors li.interpunct:before {
	content:"・";
	position:absolute;
	left:0;
}

div.errors li.interpunct {
	position:relative;
	padding-left:13px; /* 中黒のサイズで微調整 */
}

#from, #to  {
	font-size:115%;
}
