/*==========================================

Business/Solution

==========================================*/

/*==========================================

oversea

==========================================*/

/*------------------------------------------
@ section02
------------------------------------------*/

#sec02 .infoTable tr th{
vertical-align:top;
}
#sec02 dl.addressList01{
width:515px:
clear:both;
}
#sec02 .addressList01 dt,
#sec02 .addressList02 dt{
float:left;
font-weight:bold;
display:block;
}
#sec02 .addressList01 dt{
width:7em;	
}
#sec02 .addressList02 dt{
width:12em;	
}

#sec02 .addressList01 dd{
padding-left:5px;
margin-left:7.5em;
display:block;
}

* html #sec02 .addressList01 dt{
width:110px;
word-break:break-all;
white-space:normal!important;
}
* html #sec02 .addressList01 dd{
margin-left:100px;
width:390px;
}
#sec02 .addressList02 dd{
padding-left:5px;
margin-left:12em;
display:block;
}

/*------------------------------------------
@ section03
------------------------------------------*/

#sec03 tr td strong{
color:#333;
}
#sec03 tr td{
vertical-align:top;
text-align:left;
}
#sec03 dl dt{
font-weight:bold;	
}
#sec03 dl dd{
margin:0 0 1em;
}
#sec03 dl dd.last-child{
margin:0;
}

/*------------------------------------------
@ section04
------------------------------------------*/

#sec04 .exBoxWrap01{
width:680px;
background:url(../image/index_img_bg_02.gif) 0 bottom repeat-x;
margin:0 0 15px;
}
#sec04 .exBoxWrap01.bgnone{
background:none;
margin:0;
}
#sec04 .exBoxWrap01.last-child .exBoxWrap02{
width:680px;
padding:0;
}
#sec04 .exBoxWrap02{
width:680px;
padding:0 0 15px;
background:url(../image/index_img_bg_01.gif) 50% 0 no-repeat;	
}
#sec04 .exBox{
width:320px;
}
#sec04 .exBox dl.exList dt{
width:70px;
float:left;
}
#sec04 .exBox dl.exList dd{
width:240px;
float:right;
}


/* Top IMG
------------------------------------------*/
#mainArea .contBox{
position:relative;
height:256px;
}

#mainArea .contBox .titleBg{
position:absolute;
left:0px;
width:720px;
height:256px;
background:url(../image/index_imgBg_01.jpg) no-repeat top left;
}
.contBox p{
padding:2px 4px 5px 5px;
}

/* Layout
------------------------------------------*/
/* for IE6 */
*html #mainArea .contBox .titleBg{
background:url(../image/index_imgBg_02.jpg) no-repeat top left;
}
