body {
	text-align:center;
}



.app_lp {
	text-align:center;
	margin:0 auto;
	width:958px;
	clear:both
}
#titleArea {
	background:url(../image/mainIMG.png);
	height:387px;
	width:958px;
	position:relative;
	margin-bottom:20px
}
#titleArea h1,h2,p.lead{
	display:none
}
#titleArea img{
	position: absolute;
}
#titleArea img.ios{
	top: 196px;
	left: 105px
}
#titleArea img.google{
	top: 191px;
	left: 380px
}


.app_lp h3{
	margin-bottom:20px;
}
div.searchApp{
	position:relative
}
div.searchApp img.ios{
	position: absolute;
	top: 4px;
	right: 6px
}
div.searchApp dl{
	margin-bottom:20px
}



ul.aboutApp{
	margin:0;
	padding:0;
	width:958px;
}

ul.aboutApp li{
	background-color: #FFFFFF;
	border: 1px solid #0C8C7B;
	list-style-type: none;
	height: 420px;
	width: 458px;
	float:left;
	margin-right:38px;
	margin-bottom:30px;
	padding:0;
	text-align:left;
	position:relative
	
}
ul.aboutApp li.R{
	margin-right:0px !important;
}

ul.aboutApp li h4{
	margin-bottom:15px;
	clear:both;
}


ul.aboutApp li h5{
	font-size:1.5em;
	font-weight:bold;
	margin-bottom:0.5em;
	margin-right:10px
}

ul.aboutApp li img.sp{
	float:left;
	padding:0px 20px 10px 10px;
	display:block;
	width:170px
}
ul.aboutApp li p.detail{
	font-size:1.25em;
	margin-right:10px
}
ul.aboutApp li p.icon{
	position: absolute;
	left: 203px;
	top: 250px;
	width: 238px;
}
ul.aboutApp li p.icon img{
	margin-right:15px
}


ul.others{
	font-size:1.3em;
	text-align:left
}

ul.others li{
	border-bottom: 1px dotted #000000;
	margin-bottom:10px;
	padding-bottom:10px;
	padding-top:10px;
	width:958px
}

ul.others li span{
	font-weight:bold;
	color:#008979
}

div#app_info{
	border: 2px solid #008979;
	width:958px;
	margin-top:30px
	}


div#app_info ul li{
	background-color: #FFFFBF;
	border-radius: 10px;        /* CSS3草案 */  
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 10px;   /* Firefox用 */
	padding: 5px;
	width:440px;
	float:left;
	margin-left:18px;
	margin-top:20px;
	position:relative;
	height:175px
	}

div#app_info ul li img.appbtn{
	position: absolute;
	left: 20px;
	top: 25px;
	}

div#app_info ul li img.qrcode{
	position: absolute;
	left: 293px;
	top: 26px;
	}

div#app_info ul li p{
	position: absolute;
	font-size: 1.2em;
	font-weight: bold;
	left: 25px;
	top: 114px;
	text-align: left
	}
div#app_info ul li p span{
	font-size: 1.5em;
	}

	
p.caution{
	text-align:left;
	margin-top:1em
}
