body	{ margin:0px;} 
.non	{line-height:normal}
#non	{line-height:normal}

a:link    {color:#0033CC;  text-decoration:underline}
a:visited {color:#0033CC;  text-decoration:underline}
a:hover   {color:#FF0000;  text-decoration:underline}

a.p:link    {color:#7436FD;  text-decoration:underline}
a.p:visited {color:#7436FD;  text-decoration:underline}
a.p:hover   {color:#FF0000;  text-decoration:underline}

a.w:link    {color:#0000FF;  text-decoration:underline}
a.w:visited {color:#0000FF;  text-decoration:underline}
a.w:hover   {color:#FF0000;  text-decoration:underline}

a.t:link    {color:#FFF000;  text-decoration:underline}
a.t:visited {color:#FFF000;  text-decoration:underline}
a.t:hover   {color:#FF3333;  text-decoration:underline}

.t10	{
	font-size:11px;
	line-height:130%;
}
.t12	{font-size:13px; line-height:130%}
.t14	{font-size:15px; line-height:130%}
.t14h18 {
font-size:15px; line-height:18px}
.t12h18 {
font-size:13px; line-height:18px}
.mgL10B5 {
	margin-bottom: 5px;
	margin-left: 10px;
}
.t16 {
font-size:17px; line-height:130%
}
.alighR {text-align: right;}
