@charset "UTF-8";

body {
font-family: "メイリオ", Meiryo, "trebuchet ms", arial, "hirakakupro-w3", osaka, "ms pgothic", sans-serif;  
margin: 0; 
padding: 0;
text-align: center;
color: #000000;
}

h1{
font-size:21px;
margin:0;
padding:0;
line-height:30px;
letter-spacing:1px;
}

h2{
font-size:18px;
line-height:24px;
margin:0;
padding:0;
margin-bottom:10px;
}

h3{
font-size:14px;
margin:0;
padding:0;
margin-bottom:10px;
}

.t10{
font-size:10px;
line-height:14px;
}

.t11{
font-size:11px;
}

.t12{
font-size:12px;
line-height:18px;
}

.t12b{
font-size:12px;
line-height:18px;
font-weight:bold;
}

.t14{
font-size:14px;
line-height:21px;
}

.t14b{
font-size:14px;
line-height:21px;
font-weight:bold;
}

.t18b{
font-size:18px;
line-height:24px;
font-weight:bold;
}

.cap{
font-size:11px;
line-height:14px;
margin:10px 0 0 0;
}

p{
margin:0;
padding:0;
}

ul{
padding:0;
margin:0;
}

li{
padding:0;
margin:0;
}

img{
border:none;
}

.clear{
clear:both;
}

a:link {
color: #339999;
font-weight: bold;
text-decoration: none;
}

a:visited {
color: #339999;
font-weight: bold;
text-decoration: none;
}

a:hover {
color: #339999;
font-weight: bold;
text-decoration: underline;
}

a:active {
color: #339999;
font-weight: bold;
text-decoration: none;
}

#container {
width: 820px;  
margin: 0 auto; 
text-align: left; 
font-size:12px;
line-height:18px;
}

#mainContent {
padding: 0; 
}

/* Header */

#header{
margin:0 0 0 0;
padding:0 0 0 0;
}

/* Footer */

#footer{
width:960px;
margin: 0 auto 0; 
padding:15px 0 30px 0;
border-top:solid 2px #008576;
font-size:10px;
line-height:1.6;
}

.footerLeft{
float:left;
width:600px;
text-align:left;
font-size:10px;
line-height:1.6;
}

.footerLeft ul{
padding:0;
margin:0;
}

.footerLeft li{
background:url(../image/bottom_arrow.gif) no-repeat left;
display:inline;
padding:0 10px 0 8px;
margin:0;
}

.footerLeft li a:link{
color:#000000;
text-decoration:none;
font-weight: normal;
}

.footerLeft li a:hover,
.footerLeft li a:visited{
color:#000000;
font-weight: normal;
}

.footerRight{
text-align:right;
float:right;
width:355px;
padding:0;
margin:0;
font-size:10px;
line-height:1.6;
}

.f-link{
font-size:10px;
line-height:1.6;
}

/* Prize */

.prizeLeft{
float:left;
width:120px;
margin:0 10px 0 0;
}

.prizeRight{
float:left;
width:690px;
margin:0 0 30px 0;
}

.prizeTitle{
font-size:18px;
line-height:1.3;
color:#008576;
}

.prize-box{
float:left;
width:668px;
margin:0 0 10px 0;
border:solid 1px #008576
;padding:10px;
}

.prize-table{
width:690px;
margin:0 0 0 0;
border-collapse:collapse;
border:none;
}

.td-left{
width:110px;
padding:0 0 5px 0;
}

.td-right{
width:580px;
padding:0 0 5px 0;
}
