@charset "utf-8";
/*
 *	-- Layout Style --
 *
 *	01.	#wrapperMiddle Style
 *
 * - - - - - - - - - - - - - - - */
/*
 *	01.	#wrapperMiddle Style
 */
#wrapperMiddle #wrapInner .inner #contentsArea ul.localNav {
  width: 253px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody {
  padding: 28px 0 15px;
  overflow: hidden;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #indexTitle {
  margin: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #indexTitle h2 {
  margin: 0 0 25px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody ul {
  margin: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody ul#staffList {
  padding: 0;
  overflow: hidden;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody ul#staffList li {
  float: left;
  margin-bottom: 30px;
  list-style: none;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody ul#staffList li:nth-child(2n+1) {
  margin-right: 20px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #headTitle {
  margin-bottom: 40px;
  overflow: hidden;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #headTitle #titleBox {
  float: left;
  width: 296px;
  height: 410px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #headTitle #titleBox h2 {
  margin: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #headTitle #titleBox h2 img {
  vertical-align: top;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #headTitle #titleBox h3 {
  margin: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #headTitle p {
  float: right;
  width: 644px;
  margin: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents {
  float: left;
  width: 540px;
  padding: 0 39px 0 0;
  border-right: 1px solid #C9C9C9;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents section {
  margin-bottom: 3em;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents section:last-child {
  margin-bottom: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents section h4 {
  margin: 0 0 33px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents section p {
  margin: 0 0 2em;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents section p.photoLeft {
  float: left;
  margin: 0 25px 25px 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents section p.photoRight {
  float: right;
  margin: 0 0 25px 25px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents section p.photo {
  border: 1px solid #ccc;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents section#columnPrivate {
  background: url(../../shared/img/common_bgContents_material.png) repeat left top;
  padding: 25px;
  border: 1px solid #DCDCDC;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents section#columnPrivate h4 {
  margin-bottom: 15px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents section#columnPrivate p {
  width: 100%;
  margin: 0;
  overflow: hidden;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents section#columnPrivate p img {
  float: right;
  margin-left: 15px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents {
  background: url(../../shared/img/common_bgHeader_dotLine.png) repeat-x left top;
  float: right;
  width: 320px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents nav {
  margin-bottom: 32px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents nav ul {
  background: url(../../shared/img/common_bgHeader_dotLine.png) repeat-x left bottom;
  padding: 3px 0;
  margin: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents nav ul li {
  border-bottom: 1px dotted #AAAAAA;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents nav ul li:last-child {
  border-bottom: none;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents nav ul li a {
  display: block;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents nav ul li a:hover {
  background: url(../../shared/img/common_bgContents_materialHover.png) repeat left top;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents nav ul li a.current {
  background: url(../../shared/img/common_bgContents_materialHover.png) repeat left top;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents nav ul li a.comingSoon:hover {
  background: none;
  cursor: default;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents #careerArea {
  padding-bottom: 40px;
  margin-bottom: 27px;
  border-bottom: 1px dotted #999;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents #careerArea h4 {
  margin: 0 0 15px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents #careerArea dl {
  background: url(../../shared/img/common_bgContents_materialBlue.png) repeat left top;
  padding: 18px 14px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents #careerArea dl dt {
  margin-bottom: 10px;
  font-size: 1.15em;
  line-height: 1;
  color: #fff;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents #careerArea dl dd {
  margin: 0;
  font-size: 0.85em;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents #scheduleArea h4 {
  margin: 0 0 20px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents #scheduleArea p {
  margin: 0 0 15px;
  font-size: 0.85em;
}
