@charset "utf-8";

@import "reset.css";

*{box-sizing:border-box;}
.right{
	float: right;
}
/* Layout
--------------------------*/

body {
font-family:"HiraKakuProN-W3","Helvetica",Arial,sans-serif;
font-size:12px;
line-height:1.4;
background:#fff;
color:#000;
letter-spacing:-0.001em;
word-wrap:break-word;
-webkit-text-size-adjust:none;
-webkit-tap-highlight-color:rgba(0,0,0, 0.5);
}
a{
text-decoration:none;
/*color:#014CBB;*/
color:rgb(0,0,0);
width:100%;
height:100%;
display:block;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}
ul li{
list-style-type:none;
}
img{
vertical-align:bottom;
}
a img{
pointer-events:none;
}
a.inline{
display:inline;
}

a.linkColor01{
color:#2a2fff;
text-decoration:underline;
}

/*----------------------------
Common Template
----------------------------*/

/*--  Header
----------------------------*/
header{
height:48px;
overflow:hidden;
border-bottom: 1px solid #ccc;
}
header .ci{
float:left;
padding:10px 0 0 6px;
}
header .btn{
float:right;
}
header .btn ul{
overflow:hidden;
}
header .btn ul li{
float:left;
}

/*--  Footer
----------------------------*/
footer {
    color: #fff;
    padding-top: 20px;
    text-align: center;
    background-color: #999;
}
footer ul {
    margin-bottom: 20px;
}
footer ul li a {
    font-size: 11px;
    color: #fff;
    text-decoration: none;
    line-height: 2;
}
footer .copyright {
    font-size: 10px;
    color: #fff;
    text-decoration: none;
    line-height: 1.2;
    padding-bottom: 10px;
}
/*--  Head-Menu
----------------------------*/
.head-menu ul{
display:table;
width:100%;
}

.head-menu li{
display:table-cell;
width:50%;
}
.head-menu li:first-child{
padding-right:1px;
}
.head-menu li:nth-of-type(2){
padding-left:1px;
}


.head-menu li a{
border-top: 1px solid #f2e6c7;
background:-moz-linear-gradient(top, rgb(238,221,179), rgb(238,221,179), rgb(213,199,163));
background:-webkit-gradient(linear, left top, left bottom,
color-stop(0, rgb(238,221,179)),
color-stop(0.15, rgb(238,221,179)),
color-stop(1, rgb(213,199,163))
);
color:#413415;
/* text-shadow: 0px -1px 3px #dacba6; */
font-size:1.077em;
}
.head-menu li a span{
display:block;
padding:1px 0 2px;
width:100%;
text-align:center;
}

/*--  PageTop Btn
----------------------------*/
.pageTop{
text-align:right;
padding:20px 10px;
}
.pageTop p{
overflow:hidden;
}
.pageTop a{
display:inline;
font-size:0.923em;
color:#393d3c;
width:auto;
float:right;
}
.pageTop a span{
background:url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/ad/20151112/smp/bg_pageTop_01.png) no-repeat right 50%;
-webkit-background-size:29px 29px;
background-size:29px 29px;
padding-right:30px;
height:29px;
display:-moz-box;
display:-webkit-box;
display:-o-box;
display:-ms-box;
-moz-box-align:center;
-webkit-box-align:center;
-o-box-align:center;
-ms-box-align:center;
}

/*---TOP---*/

.green-frame{
	width: 300px;
	margin: 10px auto;
	border: 4px solid #009380;
	text-align: center;
	padding: 10px;
}
.green-frame p{
	text-align: left;
}
.title1{
	margin-top: 10px;
}
.p1{
	font-size: 11px;
	line-height: 1.5;
	margin-top: 10px;
	margin-bottom: 25px;
}
.p2{
	font-size: 16px;
	font-weight: bolder;
	line-height: 1.5;
	margin-bottom: 30px;
}

.content-block{
	margin: 10px auto;
	width: 320px;
}
.content-block h2{
	display: block;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
.border-top{
	width: 300px;
	margin: 0 auto;
	overflow: hidden;
	height: 55px;
}
.border-top.open{
	height: 53px;
}
.border-top.open img{
	margin-top: -55px;
}
.border-bottom{
	height: 38px;
	padding-top: -2px;
	width: 300px;
	overflow: hidden;
	margin:0 auto;
	text-align: center;
}
.content-middle{
	width: 300px;
	overflow: hidden;
	padding: 15px;
	height: auto;
	margin: 0 auto;
	border-left:1px solid #fecb2f;
	border-right:1px solid #fecb2f;
}
.content-middle p{
	font-size: 12px;
	text-align: justify;
}
.content-middle h3{
	margin-top: 30px;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}
.content-middle strong{
	font-weight: bold;
}
.content-middle .small{
	font-size: 10px;
}
.closed{
	display: none;
}

.grey-frame{
	margin:35px auto 30px auto;
	width: 290px;
	border-radius:15px;
	border: 5px solid #DDD;
	text-align: center;
	padding: 0 10px 30px 10px;
}

.content-middle h3.grey-title{
	font-size: 14px;
	text-align: center;
	background-color: #DDD;
	margin-top: -50px;
	display: inline-block;
	padding: 5px 20px;
	border-radius: 28px;
}

.content-middle h4.yellow-title{
	font-size: 16px;
	font-weight: bold;
	background-color: #FFFBCA;
	margin:10px auto 10px auto;
	padding: 10px 0;
}
.content-middle h4.deep-title{
	background-color: #53585F;
	font-size: 18px;
	color: #fff;
	padding: 8px 0;
	text-align: center;
	border-radius: 25px;
}

.content-middle .grey-well{
	background-color: #EBEBEB;
	border-radius: 15px;
	padding: 10px;
}

.content-middle h4.yellow-border-title{
	background-color: #FFF;
	border:2px solid #FDD000;
	border-radius: 15px;
	padding: 10px 0;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
.txt6{
	padding: 10px 5px;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.6;
}
.example6{
	padding: 0 10px;
}
.example6 p{
	font-size: 14px;
	text-indent: -28px;
	padding-left: 30px;
}

.link{
	color:#0A5D19;
	text-decoration:underline;
	display: inline;
}

.tail{
	margin-top: 20px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.news{
	text-align: justify;
	margin-top: 60px;
}
.news h3{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 20px;
}
.news li{
	margin-bottom: 15px;
}
.day{
	font-weight: bold;
}
.newstxt{
	font-size: 14px;
}
.newstxt a{
	text-decoration: underline;
	color: #009380;
}

#iken{
	width: 320px;
	margin: 30px auto 10px auto;
	text-align: center;
}









/*---Form---*/
.main{
	text-align: center;
	padding: 10px;
}
h1{
	margin-top: 20px;
	text-align: left;
	display: inline-block;
	color: #009380;
	font-size: 36px;
	margin: 20px auto;
	font-family: "ヒラギノ明朝 ProN","Hiragino Mincho ProN";
	font-weight: bold;
}
h2{
	text-align: left;
	display: inline-block;
	margin: 20px auto 40px auto;
	font-size: 17px;
	font-weight: bold;
}
.red{
	font-size: 16px;
	color: red;
}
.form-list{
	font-size: 16px;
	padding: 10px;
	text-align: left;
}
.form-list ul{

}
.form-list li{
	padding: 15px 10px;
	vertical-align: top;
}
.form-list li:nth-child(odd){
	background-color: #eee;
}

.left-part{
	width: 100px;
}
.right-part{
	font-weight: bolder;
}
#select-part{
	margin-left: 60px;
	margin-top: 10px;
	font-size: 16px;
	width: 200px;
	height: 40px;
	line-height: 30px;
	background-color: #fff;
	font-weight: bold;
	border: 1px solid #ccc;

}
.radio-group{
	margin-bottom: 5px;
}
.txtbox1{
	box-sizing:border-box;
	width: 100%;
	border-radius: 5px;
	border:1px solid #ccc;
	padding: 10px;
	margin:10px 0;
	font-size: 16px;
	line-height: 24px;
}
.txtbox2{
	box-sizing:border-box;
	width: 100%;
	border-radius: 5px;
	border:1px solid #ccc;
	padding: 10px;
	margin:10px 0;
	font-size: 16px;
	line-height: 32px;
}
.txt1{
	margin-top: 20px;
}
.txt2{
	display: block;
	text-align: center;
	margin: 40px 0;
}
.check{
	display: block;
	text-align: center;
}
.smallp{
	text-indent: -10px;
	padding-left: 10px;
	margin-top: 30px;
	font-size: 10px;
}


