@charset "shift_jis";
/* CSS Document */

#container {
	background: none;
}

/* wrapper */
#hands_free_travel {
	padding: 0 4px;
	font-family:"Arial", "Helvetica", sans-serif;
	color: #333;
	text-align: left;
}
.bgimg {
	text-indent: 200%;
	white-space: nowrap;
	overflow: hidden;
}

/* font */
.fs12 {
	font-size: 0.95em;
}
.fs13 {
	font-size: 1.05em;
}
.fs14 {
	font-size: 1.10em;
}
.fs18 {
	font-size: 1.40em;
}
/*
@-moz-document url-prefix() {
	.fs12 {
		font-size: 1.30em;
	}
	.fs13 {
		font-size: 1.40em;
	}
	.fs14 {
		font-size: 1.50em;
	}
	.fs18 {
		font-size: 1.75em;
	}
}
*/


/* ----------
 * service
 */
#hft_service {
	padding-top: 70px;
}
	#hft_service h2 {
		display: block;
		height: 36px;
		background: url(../images/service_ttl.gif) no-repeat;
	}
	#hft_service .cap {
		padding-top: 8px;
		text-align: center;
	}
	#hft_service .hft_content {
		margin-left: -22px;
		padding-top: 24px;
	}
		.hft_service_item {
			display: block;
			width: 221px;
			margin-left: 22px;
			float: left;
		}
			.hft_service_item dt {
				display: table;
				width: 221px;
				height: 50px;
				background-repeat: no-repeat;
				background-position: top;
			}
			#hft_service_item01 dt { background-image: url(../images/service_bg_01.gif); }
			#hft_service_item02 dt { background-image: url(../images/service_bg_02.gif); }
			#hft_service_item03 dt { background-image: url(../images/service_bg_03.gif); }
			#hft_service_item04 dt { background-image: url(../images/service_bg_04.gif); }
				.hft_service_item dt span {
					display: table-cell;
					padding-left: 60px;
					font-weight: bold;
					color: #fff;
					vertical-align: middle;
				}
			.hft_service_item dd {
				padding: 12px 2px 0 2px;
				line-height: 1.83;
			}
				.hft_service_item dd a {
					font-weight: bold;
					color: #008576;
					text-decoration: underline;
				}
				.hft_service_item dd a:hover {
					text-decoration: none;
				}



/* ----------
 * pagetop
 */
#btn_pagetop {
	position: fixed;
	right: 0;
	bottom: 60px;
	display: none;
}








