@charset "shift_jis";
/* CSS Document */


/* ----------
 * title
 */
h1 {
	display: block;
	width: 950px;
	height: 310px;
	padding: 0;
	background: url(../images/ttl.jpg) no-repeat;
}

#banner {
	padding-top: 20px;
}

.box {
	padding-top: 20px;
}
	.box .mov {
		width: 480px;
		float: left;
	}
	.box .content {
		width: 450px;
		height: 270px;
		background: url(../images/banner_bg.png) no-repeat;
		float: right;
	}
		.box .content ul {
			display: block;
			padding: 44px 10px 0 10px;
		}
			.box .content ul li {
				display: block;
				margin-top: 4px;
			}

#title_caption {
	clear: both;
}
	#title_caption .txt {
		display: block;
		padding-top: 20px;
		padding-bottom: 10px;
	}
	#title_caption a {
		padding-left: 13px;
		background: url(../images/arrow_blk.png) no-repeat left;
		font-weight: bold;
		color: #333;
	}



/* ----------
 * index
 */
#hft_index {
	padding-top: 70px;
}
	#hft_index h2 {
		display: block;
		height: 36px;
		background: url(../images/index_ttl.gif) no-repeat;
	}
	
	
	/* -----
	 * MAP
	 */
	#hft_map {
		padding-top: 30px;
	}
		#hft_map h3 {
			display: table;
			width: 100%;
			border-top: 2px solid #008576;
		}
			#hft_map h3 span {
				display: table-cell;
				height: 50px;
				vertical-align: middle;
			}
				#hft_map h3 span b {
					font-weight: bold;
					color: #008576;
				}
				#hft_map h3 span i {
					padding-left: 12px;
					font-weight: normal;
					font-style: normal;
					color: #333;
				}
		#hft_map_content {
			position: relative;
			width: 950px;
			height: 540px;
			background: url(../images/map.gif) no-repeat;
		}
			.hft_map_are_icon {
				position: absolute;
			}
				.hft_map_are_icon a {
					display: block;
					width: 24px;
					height: 24px;
				}
			#hft_map_area_kanto {
				left: 520px;
				top: 394px;
			}
			#hft_map_area_chubu {
				left: 440px;
				top: 382px;
			}
			#hft_map_area_kinki {
				left: 363px;
				top: 411px;
			}
			#hft_map_area_chugoku {
				left: 256px;
				top: 381px;
			}
			/* list */
			.hft_map_link {
				position: absolute;
				display: block;
				width: 150px;
			}
			#hft_map_kanto {
				left: 690px;
				top: 330px;
			}
			#hft_map_chubu {
				left: 400px;
				top: 80px;
			}
			#hft_map_kinki {
				left: 220px;
				top: 180px;
			}
			#hft_map_chugoku {
				left: 40px;
				top: 280px;
			}
				.hft_map_link dt {
					display: table;
					width: 100%;
					height: 34px;
					background-image: url(../images/map_bg_top.png);
					background-repeat: no-repeat;
				}
					.hft_map_link dt a {
						display: table-cell;
						padding-left: 24px;
						font-weight: bold;
						color: #fff;
						vertical-align: middle;
					}
				.hft_map_link dd {
					
				}
					.hft_map_link dd ul {
						
					}
						.hft_map_link dd li {
							display: table;
							width: 100%;
							height: 33px;
							background-image: url(../images/map_bg.png);
							background-repeat: no-repeat;
						}
						.hft_map_link dd li.last {
							background-image: url(../images/map_bg_bottom.png);
						}
							.hft_map_link dd li a {
								display: table-cell;
								padding-left: 24px;
								padding-right: 8px;
								background: url(../images/map_arrow.png) no-repeat 10px;
								vertical-align: middle;
								color: #fff;
							}
	
	
	/* -----
	 * STATE
	 */
	#hft_state {
		padding-top: 40px;
	}
		#hft_state h3 {
			display: table;
			width: 100%;
			border-top: 2px solid #008576;
		}
			#hft_state h3 span {
				display: table-cell;
				height: 50px;
				vertical-align: middle;
			}
				#hft_state h3 span b {
					font-weight: bold;
					color: #008576;
				}
		#hft_state_content {
			padding: 1px 1px 2px 1px;
			background: #cbb777;
		}
			#hft_state_content table {
				border-collapse: separate;
				border: none;
			}
				#hft_state_content table tr {
					
				}
					#hft_state_content table td {
						border-top: 1px solid #cbb777;
						vertical-align: middle;
					}
					#hft_state_content table td.state {
						width: 110px;
						padding: 9px 0;
						background: #f6f0d6;
						border-left: 1px solid #cbb777;
						text-align: center;
					}
					#hft_state_content table td.station {
						width: 338px;
						padding: 9px 12px;
						background: #fff;
						border-right: 1px solid #cbb777;
					}
						#hft_state_content table td.station a {
							font-weight: bold;
							color: #333;
							text-decoration: underline;
						}
						#hft_state_content table td.station a:hover {
							text-decoration: none;
						}


	/* -----
	 * CALL
	 */
	#hft_index .call {
		display: block;
		height: 120px;
		margin-top: 40px;
		background: url(../images/freecall.gif) no-repeat center;
		text-align: center;
	}
	#hft_index .call_zh {
		display: block;
		height: 128px;
		margin-top: 20px;
		background: url(../images/freecall_zh.gif) no-repeat center;
		text-align: center;
	}



/* MOVIE */
#movie {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999990;
	display: none;
	width: 100%;
}
	#movie_container {
		position: absolute;
		z-index: 999999;
		width: 640px;
		height: 360px;
	}
	#movie_bg {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 999991;
		width: 100%;
		background: url(../images/movie_bg.png);
	}
	#movie_close {
		position: absolute;
		z-index: 999991;
		width: 35px;
		height: 35px;
		margin: 0 auto;
		background: url(../images/movie_close.png) no-repeat right;
	}


