@charset "shift_jis";
/* CSS Document */


/* ----------
 * title
 */
h1 {
	padding: 18px 0 22px 0;
	border-top: 2px solid #008576;
	border-bottom: 1px solid #e2d9bb;
	font-size: 165%;
}
/*
@-moz-document url-prefix() {
	h1 {
		font-size: 215%;
	}
}
*/
	h1 .ttl {
		display: block;
		width: 100%;
		height: 32px;
		background: url(../images/list_ttl.gif) no-repeat;
	}
	h1 .area {
		display: block;
		padding-top: 4px;
	}



/* ----------
 * service
 */
#hft_service {
	padding-top: 50px;
}



/* ----------
 * relation
 */
#hft_relation {
	width: 866px;
	margin-top: 50px;
	padding: 0 40px;
	background: #fff;
	border: 2px solid #e2d9bb;
}
	#hft_relation dl {
		display: table;
		width: 100%;
	}
	#hft_relation dl.first {
		border-bottom: 1px solid #e2d9bb;
	}
		#hft_relation dt {
			display: table-cell;
			width: 240px;
		}
		#hft_relation dd {
			display: table-cell;
			padding-left: 30px;
			vertical-align: middle;
			line-height: 1.43;
			text-align: left;
		}
			#hft_relation dd .lead {
				font-weight: bold;
			}
			#hft_relation dd .txt {

			}



/* ----------
 * item
 */
.hft_item {
	clear: both;
	margin-top: 20px;
	padding: 0 2px 2px 2px;
	background: #ffe475;
}
	/* header */
	.hft_header {

	}
		/* title */
		.hft_header h2 {
			display: block;
			width: 745px;
			padding: 8px 0;
			float: left;
		}
			.hft_header h2 .name {
				display: block;
				padding-left: 18px;
				font-weight: bold;
			}
			.hft_header h2 .station {
				display: block;
				padding-left: 18px;
			}
			.hft_header h2 .location {
				display: block;
				padding-left: 15px;
				line-height: 1.4;
			}
		/* button : map */
		.hft_header p {
			display: table;
			width: 190px;
			padding: 10px 0;
			float: right;
			height: 32px;
		}
			.hft_header p a {
				display: table-cell;
				height: 24px;
				border-left: 2px solid #d1bb60;
				color: #333;
				text-align: center;
				vertical-align: middle;
			}
				.hft_header p a span {
					padding-left: 12px;
					background: url(../images/arrow_blk.png) no-repeat left;
					font-weight: bold;
				}

	/* container */
	.hft_container {
		clear: both;
		background: #fff;
	}

		/* image */
		.hft_image {
			width: 240px;
			padding: 16px;
			float: left;
		}

		/* info */
		.hft_info {
			width: 468px;
			padding-left: 8px;
			padding-bottom: 16px;
			float: left;
		}
			.hft_overview {
				padding-top: 12px;
			}
				/*
				.hft_overview dl {
					clear: both;
					margin-top: 4px;
				}
					.hft_overview dt {
						width: 68px;
						float: left;
					}
					.hft_overview dd {
						width: 400px;
						float: left;
					}
				*/
				.hft_overview dl {
					display: table;
					margin-top: 4px;
				}
					.hft_overview dt {
						display: table-cell;
						padding-right: 12px;
						background: url(../images/colon.gif) no-repeat right top;
						white-space: nowrap;
						vertical-align: top;
					}
					.hft_overview dd {
						vertical-align: top;
					}
						.hft_overview dd span {
							margin-right: 4px;
							padding: 1px 6px;
							background: #ffe475;
							border-radius: 1px;
							-moz-border-radius: 1px;
							-webkit-border-radius: 1px;
							font-weight: bold;
						}
			.hft_detail {
				clear: both;
				margin-top: 20px;
			}
				.hft_detail h3 {
					font-weight: bold;
					color: #008576;
				}
				.hft_detail dl {
					margin-top: 8px;
				}
					.hft_detail dt {
						font-weight: bold;
					}
					.hft_detail dd {
						padding-top: 3px;
						line-height: 1.46;
					}

		/* aside */
		.hft_aside {
			width: 190px;
			padding-bottom: 16px;
			float: right;
		}
			.hft_aside_service {
				padding-top: 8px;
			}
				.hft_aside_service li {
					display: table;
					width: 174px;
					height: 40px;
					margin-top: 8px;
					background-repeat: no-repeat;
				}
				.hft_aside_item01 { background-image: url(../images/service_bg_s_01.gif); }
				.hft_aside_item02 { background-image: url(../images/service_bg_s_02.gif); }
				.hft_aside_item03 { background-image: url(../images/service_bg_s_03.gif); }
				.hft_aside_item04 { background-image: url(../images/service_bg_s_04.gif); }
					.hft_aside_service li span {
						display: table-cell;
						padding-left: 42px;
						font-weight: bold;
						color: #fff;
						vertical-align: middle;
					}
			.hft_aside_logo {
				padding-top: 16px;
			}
				.hft_aside_logo ul {

				}
					.hft_aside_logo li {
						padding-right: 15px;
						font-size: 1px;
						float: right;
					}

					.hft_aside_logo li.wifi {
						width: 170px;
						text-align: right;
					}


/* ----------
 * index
 */
#hft_index {
	padding-top: 70px;
}




#btn_back2map {
	width: 950px;
	margin: 0 auto;
	padding-top: 40px;
}

.prefectures {
	background: #FDA129;
	margin: 40px 0 -10px 0;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0 18px;
	line-height: 2.4em;
}






