@charset "utf-8";
/* CSS Document */
.bgColor {
	background:#ffdd10;
}

#appArea {
	background:url(../image/app_repeat.gif) repeat-y left top;
	width:718px;
}
.appTopInner {
	background:url(../image/app_top.gif) no-repeat left top;
	padding-top:10px;
}
.appBottomInner {
	background:url(../image/app_bottom.gif) no-repeat left bottom;
	padding-bottom:10px;
}
.bkImgArea {
	background:url(../image/takkyubin_21.gif) no-repeat left top;
	width:336px;
	height:68px;
	padding-top:12px;
}