/* ============================================
Members Page
============================================ */

/* Reset */
body{
margin: 0;
padding: 0;
color: #333333;
width: 100%;
line-height: 1.5;
}

ul,li{
list-style-type: none;
margin: 0;
padding: 0;
}

img{
border: none;
}

p{
margin: 0;
padding: 0;
}

/* Common */
.fLeft{
float: left;
}
.fRight{
float: right;
}

.mb10{
margin-bottom: 10px;
}
.mb15{
margin-bottom: 15px;
}
.mb30{
margin-bottom: 30px;
}
.mt20{
margin-top: 20px;
}

.center{
text-align: center;
}

.clearfix:after{  
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}

/* Page Layout */
#body{
width: 100%;
margin:0;
padding: 0;
text-align: center;
}

#main a,#headerArea a { color: #449ac0; text-decoration: none; font-weight: bold; }
#main a:link,#headerArea a:link { color: #449ac0; text-decoration: none; }
#main a:active,#headerArea a:active { color: #449ac0; text-decoration: none; }
#main a:visited,#headerArea a:visited { color: #449ac0; text-decoration: none; }
#main a:hover,#headerArea  a:hover{ color: #449ac0; text-decoration: underline; }

/* Header */
#headerArea{
width: 100%;
color: #000;
margin-bottom: 6px;
background:url(../image/bg_catch.gif) left bottom repeat-x;
}

/* Catch */
#catchArea{
width: 950px;
margin:0 auto;
padding: 20px 0 15px;
text-align: left;
clear: both;
}
#catchArea:after{  
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
#catchArea .catchArea-inner{
margin: 6px 0 0;
clear: both;
}
#catchArea .catch-txt{
width: 631px;
font-size: 108%;
margin-right: 28px;
float: left;
}
#catchArea .catch-txt p.image,
#catchArea .catch-txt02 p.image{
width: 182px;
margin: 19px 18px 0 0;
float: left;
}
#catchArea .catch-txt p.txt,
#catchArea .catch-txt02 p.txt{
width: 418px;
margin-top: 30px;
float: left;
}
#catchArea .catch-txt02{
width: 631px;
font-size: 108%;
margin-left: 150px;
}
/*#catchArea .catch-txt p.note{
font-size: 93%;
}*/

#catchArea .login{
width: 291px;
padding-bottom: 33px;
background:url(../image/bg_login_btm.gif) left bottom no-repeat;
float: left;
}
#catchArea .login ul{
width: 291px;
padding-top: 35px;
background:url(../image/bg_login_top.gif) left top no-repeat;
}
#catchArea .login ul li{
margin: 0 20px 0 35px;
}
#catchArea h1{
margin: 0 !important;
padding: 0 !important;
background: none !important;
border: none !important;
}


/* Main Area */
#main{
width: 950px;
margin:0 auto;
text-align: left;
clear: both;
}
#mainArea{
width: 100%;
}
#mainAreaInner{
width: 100%;
background:url(../image/bg_main.gif) center 53px no-repeat;
}
#mainAreaInner:after{  
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}

.leftSection{
width: 465px;
margin-right: 20px;
float: left;
clear: both;
}
.rightSection{
width: 465px;
float: right;
}

#mainArea .ttl-h2{
height: 52px;
padding-top: 10px;
background:url(../image/bg_h2.gif) left top no-repeat;
clear: both;
}
*html #mainArea .ttl-h2{
height: 62px;
}
.ttl-h2 h2{
height: 40px;
padding-left: 77px;
background:url(../image/icon_box.gif) 17px 6px no-repeat;
}
.ttl-h2 h2 img.h2_txt01{
margin-bottom: 7px;
}
.ttl-h2 h2 img.h2_txt02{
margin-top: 14px;
}

.sectionInner{
width: 425px;
margin: -10px 20px 0;
}
.sectionInner h3{
margin: 30px 0 10px;
clear: both;
}
.sectionInner .sectionBox{
width: 387px;
padding: 20px 18px 20px 20px;
background:transparent url(../image/bg_sectionBox_top.gif) left top no-repeat;
clear: both;
}
.sectionInner .sectionBox_02{
width: 387px;
padding: 20px 18px 20px 20px;
background:transparent url(../image/bg_sectionBox_top_02.gif) left top no-repeat;
clear: both;
}
.sectionInner .sectionBox:after,
.sectionInner .sectionBox_02:after {  
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
*html .sectionInner .sectionBox,
*html .sectionInner .sectionBox_02 {
width: 425px;
}
.sectionInner .sectionBox_btm{
width: 425px;
margin-bottom: 10px;
background:transparent url(../image/bg_sectionBox_btm.gif) left bottom no-repeat;
clear: both;
}
.sectionInner h4{
margin-bottom: 20px;
}
.sectionInner .txt{
width: 267px;
float: left;
clear: left;
}
.sectionInner ul{
margin-top: 15px;
}
.sectionInner .image{
text-align: right;
}

/* Other Service?Area */
#otherArea{
width: 950px;
margin: 50px 0;
background:url(../image/bg_otherArea_btm.gif) center bottom no-repeat;
text-align: left;
clear: both;
}
#otherArea:after{  
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
#otherArea .ttl-h2{
height: 53px;
background:url(../image/bg_h2_02.gif) left bottom no-repeat !important;
clear: both;
}
#otherArea_btm{
width: 950px;
background:url(../image/bg_otherArea_top.gif) left top no-repeat;
}
#otherArea_btm:after{  
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
#otherArea .leftSection .sectionInner{
margin: 0 10px 0 30px;
}
#otherArea .rightSection .sectionInner{
margin: 0 30px 0 10px;
}
#otherArea .leftSection .sectionInner h3,
#otherArea .rightSection .sectionInner h3{
margin: 19px 0 12px 0;
}
*html #otherArea .leftSection .sectionInner,
*html #otherArea .rightSection .sectionInner{
margin-top: 0;
}
#otherArea .leftSection .sectionInner .sectionBox,
#otherArea .rightSection .sectionInner .sectionBox{
width: 385px;
padding: 20px;
clear: both;
background-image: none;
}
*html #otherArea .leftSection .sectionInner .sectionBox,
*html #otherArea .rightSection .sectionInner .sectionBox{
width: 425px;
}

/* Information Area */
#infoArea{
width: 900px;
padding: 25px 25px 25px;
background:url(../image/bg_infoArea_top.gif) left top no-repeat;
clear: both;
}
#infoArea:after{  
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
*html #infoArea{
width: 950px;
}
#infoArea_btm{
width: 950px;
margin-bottom: 25px;
background:url(../image/bg_infoArea_btm.gif) left bottom no-repeat;
clear: both;
}
#infoArea h2{
margin-bottom: 16px;
}
/*#infoArea h3{
font-size: 116%;
font-weight: bold;
margin-bottom: 5px;
}*/
#infoArea .entry_info{
width: 625px;
background:url(../image/bg_info_entry_top.gif) left top no-repeat;
}
#infoArea .entry_info-btm{
width: 625px;
margin-right: 11px;
background:url(../image/bg_info_entry_btm.gif) left bottom no-repeat;
}
#infoArea .entry_info div{
min-height: 151px;
padding-left: 20px;
background:url(../image/img_info_01.gif) right bottom no-repeat;
}
*html #infoArea .entry_info div{
min-height: 151px;
height: auto !important;  
height: 151px;
}
#infoArea .entry_info div p{
width: 365px;
padding-top: 20px;
float: left;
}
#infoArea .login_info{
width: 227px;
padding: 20px 16px 20px 21px;
background:url(../image/bg_info_login_top.gif) left top no-repeat;
}
#infoArea .login_info-btm{
width: 264px;
background:url(../image/bg_info_login_btm.gif) left bottom no-repeat;
}
*html #infoArea ul.login_info li{
width: 227px;
}

/* User Guide Area */
.guideArea{
width: 950px;
padding: 0;
margin-bottom: 25px;
background:url(../image/bg_guideArea_btm.gif) left bottom no-repeat;
clear: both;
}
.guideArea:after{  
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.guideArea .ttl-h2_guide{
width: 950px;
height: 42px;
padding: 0;
margin: 0;
font-size: 138.5%;
background:url(../image/bg_guideArea_top.gif) left top no-repeat;
clear: both;
}
.guideArea .ttl-h2_guide h2{
padding: 10px 0 0 20px;
}
.guideArea .guideAreaInner{
width: 890px;
margin: 0 30px;
padding: 20px 0 25px;
font-size: 108%;
clear: both;
}
.guideArea .guideAreaInner:after{  
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.guideArea .guideAreaInner ul{
clear: both;
}
.guideArea .guideAreaInner ul li{
margin-bottom: 3px;
}
.guideArea .guideAreaInner ul li p{
margin-left: 2em;
}
.guideArea .guideAreaInner ul li ul.inner{
margin-bottom: 3px;
clear: both;
}
.guideArea .guideAreaInner ul li ul.inner li{
text-indent: 0;
margin-left: 0;
margin-bottom: 0;
}
.guideArea .guideAreaInner .left{
width: 600px;
float: left;
}
.guideArea .guideAreaInner .right{
width: 260px;
float: right;
}
.guideArea .guideAreaInner .last{
margin-bottom: 0;
}
.guideArea .guideAreaInner span{
margin-right: 10px;
}

/* Message Area */
#messageArea{
width: 950px;
padding-bottom: 14px;
margin-bottom: 8px;
background:url(../image/bg_messageArea_btm.gif) left bottom no-repeat;
}
#messageArea ul{
width: 950px;
padding-top: 16px;
background:url(../image/bg_messageArea_top.gif) left top no-repeat;
clear: both;
}
#messageArea ul li.txt{
padding: 3px 21px 0 18px;
float: left;
}

/* table */
.table{
border-top: 1px solid #b6b6b6;
border-left: 1px solid #b6b6b6;
margin: 5px 0;
}
.table th{
border-right: 1px solid #b6b6b6;
border-bottom: 1px solid #b6b6b6;
background-color: #dedeff;
padding:6px;
}
.table td{
border-right: 1px solid #b6b6b6;
border-bottom: 1px solid #b6b6b6;
padding:6px;
}
