@charset "utf-8";
/*
 *	-- Layout Style --
 *
 *	01.	#wrapperTop Style
 *	02.	#wrapperMiddle Style
 *
 * - - - - - - - - - - - - - - - */
/*
 *	01.	#wrapperTop Style
 */
#wrapperTop {
  background-color: #000;
  background-image: none;
  height: 600px;
}
#wrapperTop .inner {
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  position: relative;
}
#wrapperTop .inner #header {
  height: 600px;
  position: relative;
}
#wrapperTop .inner #header img#mainVisual {
  position: absolute;
}
#wrapperTop .inner #header #navWrap {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
}
#wrapperTop .inner #header #navWrap #globalNav {
  background: url(../shared/img/common_bgHeader_globalNav.png) repeat-x left bottom;
  width: 911px;
  position: absolute;
  bottom: 0;
  left: 289px;
}
/*
 *	02.	#wrapperMiddle Style
 */
#wrapperMiddle {
  background-image: none;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody {
  padding: 28px 0 15px;
  overflow: hidden;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents {
  float: left;
  width: 460px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents .contentsBox {
  float: left;
  width: 220px;
  margin: 0 20px 30px 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents .contentsBox:nth-child(2n+2) {
  margin-right: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents .contentsBox h2 {
  margin: 0 0 14px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents .contentsBox p {
  margin: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents .contentsBox ul {
  width: 220px;
  padding: 10px 0 0;
  margin: 0;
  line-height: 2;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents .contentsBox ul li {
  width: 220px;
  border-bottom: 1px dotted #AAAAAA;
  list-style: none;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents .contentsBox ul li a {
  background-image: url(../shared/img/common_icoContents_bulletOn.png);
  background-repeat: no-repeat;
  background-position: 3px center;
  display: block;
  padding: 13px 0 10px 25px;
  color: #000;
  line-height: 1.3;
  font-size: 0.92em;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents .contentsBox ul li a span {
  margin-left: 10px;
  font-size: 0.62em;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents .contentsBox ul li a:hover {
  background-image: url(../shared/img/common_icoContents_bulletOff.png);
  color: #A9A9A9;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents .contentsBox ul li a.comingSoon {
  color: #A9A9A9;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents .contentsBox ul li a.comingSoon:hover {
  background-image: url(../shared/img/common_icoContents_bulletOff.png);
  cursor: default;
  color: #A9A9A9;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents #staffContents ul#staffNav li {
  width: 219px;
  overflow: hidden;
  /*
									&:nth-child(1) {
										background-image: url(../img/top_btnContents_staff01_on.png);

										a:hover {
											background-image: url(../img/top_btnContents_staff01_off.png);
											// cursor: default;
										}
									}

									&:nth-child(2) {
										background-image: url(../img/top_btnContents_staff02_on.png);

										a:hover {
											background-image: url(../img/top_btnContents_staff02_off.png);
										}
									}

									&:nth-child(3) {
										background-image: url(../img/top_btnContents_staff03_on.png);

										a:hover {
											background-image: url(../img/top_btnContents_staff03_off.png);
										}
									}

									&:nth-child(4) {
										background-image: url(../img/top_btnContents_staff04_on.png);

										a:hover {
											background-image: url(../img/top_btnContents_staff04_off.png);
											// cursor: default;
										}
									}

									&:nth-child(5) {
										background-image: url(../img/top_btnContents_staff05_on.png);

										a:hover {
											background-image: url(../img/top_btnContents_staff05_off.png);
										}
									}

									&:nth-child(6) {
										background-image: url(../img/top_btnContents_staff06_on.png);

										a:hover {
											background-image: url(../img/top_btnContents_staff06_off.png);
											// cursor: default;
										}
									}

									&:nth-child(7) {
										background-image: url(../img/top_btnContents_staff07_on.png);

										a:hover {
											background-image: url(../img/top_btnContents_staff07_off.png);
										}
									}
*/

}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents #staffContents ul#staffNav li a {
  background-image: url(../shared/img/common_icoContents_bulletOn.png);
  background-repeat: no-repeat;
  background-position: left center;
  display: block;
  padding: 10px 0 10px 25px;
  zoom: 1;
  overflow: hidden;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents #staffContents ul#staffNav li a:hover {
  background-image: url(../shared/img/common_icoContents_bulletOff.png);
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #firstContents #staffContents ul#staffNav li a span {
  display: block;
  margin: 0 0 0 0;
  font-size: 0.62em;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents {
  float: right;
  width: 460px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents #introductionMovieArea {
  margin-bottom: 20px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents #introductionMovieArea a {
  display: block;
  width: 460px;
  height: 266px;
  overflow: hidden;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents #introductionMovieArea a dl {
  width: 460px;
  height: 266px;
  margin: 0;
  position: relative;
  overflow: hidden;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents #introductionMovieArea a dl dt {
  background: url(../shared/img/common_icoContents_bulletOn.png) no-repeat 10px center #f1f1f1;
  width: 460px;
  padding: 13px 0 10px 31px;
  position: absolute;
  bottom: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents #introductionMovieArea a dl dd {
  margin: 0;
  position: absolute;
  top: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents #introductionMovieArea a dl dd #movieArea {
  width: 460px;
  height: 220px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents #introductionMovieArea a:hover dl dt {
  background: url(../shared/img/common_icoContents_bulletOff.png) no-repeat 10px center #f1f1f1;
  color: #A9A9A9;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents #aboutArea {
  margin-bottom: 20px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents #aboutArea a {
  display: block;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents #aboutArea a dl {
  margin: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents #aboutArea a dl dt {
  margin: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents #aboutArea a dl dd {
  background: url(../shared/img/common_icoContents_bulletOn.png) no-repeat 10px center #f1f1f1;
  padding: 13px 0 10px 31px;
  margin: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents #aboutArea a:hover dl dd {
  background: url(../shared/img/common_icoContents_bulletOff.png) no-repeat 10px center #f1f1f1;
  color: #A9A9A9;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents #informationArea {
  border: 1px solid #ddd;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents #informationArea h2 {
  background: url(../img/top_bgContents_information.png) repeat-x left top;
  padding: 16px 0 0 18px;
  margin: 0;
  line-height: 1;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents #informationArea dl {
  background-color: #fff;
  padding: 10px 0;
  margin: 0;
  color: #666;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents #informationArea dl dt {
  background: url(../shared/img/common_icoContents_bulletOn.png) no-repeat 15px 8px;
  float: left;
  width: 87px;
  padding: 6px 0 6px 38px;
  margin: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #secondContents #informationArea dl dd {
  padding: 6px 0;
  margin: 0 0 0 125px;
}
