.border1 {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #B6B6B6;
	border-left-color: #B6B6B6;
}
.border2 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #B6B6B6;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #B6B6B6;
}
