.border1 {
	border-top: 1px solid #666666;
	border-left: 1px solid #666666;
}
.border2 {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #666666;
	border-bottom-color: #666666;
}

