/*==========================================

top

==========================================*/

/* header
------------------------------------------*/
#headerIn h1{
padding:32px 0 0 10px;
}
#headerIn h1 img{
margin:0;
}
/* topList */

.topArea{
width:718px;
height:257px;
position:relative;
zoom:1;
}
.launcheArea{
width:720px;
height:257px;
position:absolute;
top:3px;
left:-2px;
}
.launcheArea{
background:url(../image/launcheArea_bg_01.png) no-repeat left top;
}

*html #sitetop .launcheArea{
_background:url(../image/launcheArea_bg_02.gif) no-repeat left top;
}

.launcheAreainner{
padding:2px 0 0 6px;
_padding:3px 0 0 6px;
}

.topListMain{
float:left;
width:210px;
}
.launcheArea ul.topList{
float:left;
width:498px;
display:inline;
}
.launcheArea ul.topList li{
margin:0;
float:left;
display:inline;
zoom:1;
}
#sitetop .launcheArea:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
#sitetop .launcheAreainner:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

/* Layout
------------------------------------------*/
#sitetop #contentsWrapper{
margin-top:12px;
}
#sitetop #mainArea{
margin-top:3px;
}
#sitetop .colBox{
margin:15px 0 15px 0;
text-align:left;
background:url(../image/index_bg_top.png) no-repeat left top;
zoom:100%;
}

#sitetop .colBox-flameInner{
padding:0 0 20px;
background:url(../image/index_bg_btm.png) no-repeat left bottom;
zoom:100%;
}

/* for IE6 */
*html #sitetop .colBox-flameInner{
background:url(../image/index_bg_btm.gif) no-repeat left bottom;
}
*html #sitetop .colBox{
background:url(../image/index_bg_top.gif) no-repeat left top;
}

#sitetop .colBox-flameInner:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

#sitetop .colBox-left{
float:left;
width:530px;
}
#sitetop .colBox-right{
float:left;
width:188px;
}

#sitetop .colBox-Inner{
zoom:1;
}
#sitetop .colBox-Inner:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

#sitetop .colBox-left .colBox-Inner{
padding-left:3px;
zoom:100%;
}
#sitetop .colBox-right .colBox-Inner{
padding-left:6px;
}
#sitetop .colBox-left:after,
#sitetop .colBox-right:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

#sitetop .colBox-left .colBox-Inner  dl{
margin-left:2px;
float:left;
display:inline;
}
#sitetop .colBox-rightInner .colBox-Inner  dl{
margin-left:3px;
}
#sitetop .colBox-Inner dl{
width:172px;
zoom:100%;
}
#sitetop .colBox-Inner dl dt{
height:38px;
text-align:center;
padding:14px 10px 0;
}
#sitetop .colBox-Inner dl dd{
padding:15px 10px 0;
zoom:1;
}

#sitetop .colBox-Inner .subttl{
font-weight:bold;
color:#17544A;
line-height:1.2;
padding:0 0 15px 2px;
}
#sitetop .colBox-Inner li{
padding-bottom:7px;
}
#sitetop .colBox-Inner ul:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

#sitetop .colBox-Inner .links a{
display:block;
font-weight:bold;
background:url(/global_common/image/icon_arrow_05.gif) no-repeat 0 0.3em;
padding-left:22px;
zoom:1;
}
#sitetop .colBox-Inner .list01 {
text-align:right;
margin-top:5px;
_margin-top:-5px;
padding:0 5px;
}
#sitetop .colBox-Inner .list01 a{
font-weight:normal;
padding-left:13px;
background:url(/global_common/image/icon_arrow_01.gif) no-repeat 3px 5px;
}

#sitetop .colBox-rightInner dl dd ul li{
font-weight:bold;
background:url(/global_common/image/icon_arrow_05.gif) no-repeat 0 0.3em;
padding:0 0 10px 20px;
}

#sitetop .colBox-rightInner dl dd.banner a{
margin:0 0 0 2px;
padding:0;
background-image:none;
text-align:center;
}
#sitetop .colBox-leftInner dl dd ul li.blankLink,
#sitetop .colBox-rightInner dl dd ul li.blankLink{
background-image:none !important;
padding-left: 16px;
}


/* News
------------------------------------------*/
#sitetop .newsBox{
margin-top:15px;
padding:15px 0 0 0;
text-align:left;
zoom:100%;
clear:both;
}
#sitetop .newsTtl{
background:url(../image/index_line_01.png) no-repeat bottom left;
padding:0 25px 18px 10px;
margin:0 0 15px 0;
zoom:1;
}
#sitetop .newsTtl{
_background:url(../image/index_line_01.gif) no-repeat bottom left;
}

#sitetop .newsTtl:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
#sitetop .newsTtl p{
float:left;
}
#sitetop .newsTtl .link01{
float:right;
}

/* Information For English
------------------------------------------*/
#sitetop .infoArea dl{
clear:both;
zoom:1;
}
#sitetop .infoArea dl dt{
width:10em;
float:left;
clear:left;
padding-left:5px;
padding-bottom:10px;
}
#sitetop .infoArea dl dd{
margin-left:10.5em;
padding-bottom:10px;
}

.boxTop01 {
width:335px;
margin-right:10px;
float:left;
display:inline;
}
.boxTop01 dt {
width:325px;
margin-top:0;
margin-bottom: 15px;
clear:both;
}
.boxTop01 dd.img {
width:80px;
margin:0 10px 0;
float:left;
}
* html .boxTop01 dd.img {
margin:0 5px 0;
}
.boxTop01 dd {
width:225px;
margin-right:10px;
float:left;
}
* html .boxTop01 dd {
margin-right:5px;
}
.boxTop01.last-child {
margin-right:0px;
}
