.font {  font-size: 12px}
.bluefont {  font-size: 15px; font-weight: bold; color: #111987}
a:link    {font-size: 15px; font-weight: bold; color: #111987; text-decoration: none}
a:visited {font-size: 15px; font-weight: bold; color: #111987; text-decoration: none}
a:hover   {font-size: 15px; font-weight: bold; color: #F72E0E; text-decoration: none}
a:active  {font-size: 15px; font-weight: bold; color: #F72E0E; text-decoration: none}
.whifont {  font-size: 12px; color: #FFFFFF; line-height: 15px}
.whifontb {  font-size: 15px; line-height: 16px; color: #FFFFFF}
