/*==========================================

ryoukin

==========================================*/
div.btn_BOX {
width:670px;
margin:0 auto;
height:auto;
}
div.btn_ITEM {
float:left;
width:215px;
height:60px;
margin:0 0 15px 7px;
_margin:0 0 15px 5px;
}

.baggageType {
border:none !important
}

.baggageType td{
text-align:left !important;
border:none !important;
padding:0;
vertical-align:top;
}

.baggageIcon{
text-align:left !important;
width:45px;
}

.baggageRadio p{
text-align:left !important;
padding-top:7px;
}

.baggageRadio p.t01{
width:140px !important;
}

.baggageRadio p.t02{
width:120px !important;
}

.baggageRadio p.t03{
width:197px !important;
/*/width:227px !important;*/
}
/*
:root *> .baggageRadio p.t03 {
text-indent:-1.6em;
padding-left:1.6em; 
}

.baggageRadio input{
margin:5px 1px 0;
/margin:0 1px 0;
/vertical-align:top;
}

*/
.baggageRadio input {
width:2em;
height:1.2em;
vertical-align:top;
display:block;
}
.baggageRadio label {
display:block;
margin-top:-1.2em;
/margin-top:-1.4em;
margin-top:-1.4em\9;
margin-left:2em;
vertical-align:top;
}

/* form
------------------------------------------*/
input.txt01{
height:23px;
line-height:23px;
border:1px solid #d3cec2;
}

.searchBtnArea{
width:680px;
height:48px;
margin-top:15px;
background:url(../../common/image/shared/bg_search.gif) no-repeat left bottom;
}
.searchBtnArea p{
padding-top:8px;
text-align:center;
}
