/*==========================================

ups wwe pop

==========================================*/
#USPtableBox .articleTypeA{
width:920px !important;
margin-left:3px;
padding:10px 15px 5px !important;
}

/* Table style
------------------------------------------*/
.infoTable2{
width:60%;
margin:3px 0 12px;
border:solid 1px #d3cec2;
line-height:1.6em;
}

.infoTable2 th{
background:#e9e6e0;
}

.infoTable2 td,th{
padding:12px 12px 12px 12px;
border:solid 1px #d3cec2;
text-align:left;
vertical-align:middle;
}

#main dl {  
padding:0;
margin:0;
clear:both;
}  
#main dt {  
float:left;
padding:0 0 0 30px;
clear:both;
}  
#main dd {  
margin:0 0 0 20px;
padding:0 5px 0 10px;
}

/* ratechart
------------------------------------------*/
.upsRateChart{
margin-top:0 !important;
}

.upsRateChart th,
.upsRateChart td{
text-align:center;
word-break:break-all;
word-wrap: break-word;
}

.zone{
font-weight:bold;
}

ul.tabHead{
padding:0;
background:none;
border-bottom:3px solid #d4cbb7;
}

ul.tabHead li{
width:65px;
padding:10px 19px 4px 18px;
background:url(../image/tabBtnBg3.gif) no-repeat 10px top;
font-size:13px;
line-height:1.2;
float:left;
text-align:center;
font-weight:bold;
}

ul.tabHead li span{
padding:0 15px;
}

ul.tabHead li.tabCurrent{
background: url(../image/tabBtnBg3.gif) no-repeat right top;
}

.tabBody {
padding:0;
background:none;
}

.tabBody div#tab2Body,
.tabBody div#tab3Body,
.tabBody div#tab4Body,
.tabBody div#tab5Body,
.tabBody div#tab6Body,
.tabBody div#tab7Body,
.tabBody div#tab8Body,
.tabBody div#tab9Body{
display:none;
}

.bodTopInConv{
border-top: none !important;
width:680px;
margin-left:3px;
padding:10px 15px 5px 15px;
}

/* #USPtableBox(move from parts.css) */
#USPtableBox .infoTable td,th{
padding:3px 12px !important;
border:solid 1px #d3cec2;
vertical-align:middle;
}

#USPtableBox .infoTable th{
background:#e9e6e0;
}

#USPtableBox .infoTable td,th{
padding:3px 12px !important;
border:solid 1px #d3cec2;
vertical-align:middle;
}

#USPtableBox .zone{
text-align:center !important;
font-weight:bold;
}

#USPtableBox .infoTable2 td,th{
padding:3px 12px !important;
border:solid 1px #d3cec2;
vertical-align:middle;
}

table.upsTdR th{
text-align:center;
}
table.upsTdR td{
text-align: right;
}

/* Conversion Area
------------------------------------------*/
#ups .ConversionTop {
margin:20px 0;
padding-top:10px;
background:url(../../common/image/shared/bg_orange_top_1com.png) no-repeat left top;
}
#ups .ConversionBtm {
background:url(../../common/image/shared/bg_orange_btm_1com.png) no-repeat left bottom;
padding-bottom:11px;
}
#ups .ConversionInner:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

#ups .ConversionInner {
padding:10px 18px;
text-align:left;
background:url(../../common/image/shared/bg_orange_mid_1com.png) repeat-y left top;
zoom:1;
}

#ups .ConversionTop .ConversionTtl {
margin-bottom:10px;
}

#ups .ConversionTop .btnArea {
height:101px;
margin:0 0 10px;
background:url(../../common/image/shared/bg_asetBox_1clmL.gif) no-repeat;
clear:both;
}
#ups .ConversionTop .btnArea:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
#ups .ConversionTop .phoneNumArea {
padding:13px 0 0 120px;
float:left;
}
#ups .ConversionTop .btn {
margin:26px 0 0 43px;
float:left;
}

