/*==========================================

ups wwe

==========================================*/
.ups.ConversionTop .btnArea {
height:101px;
margin:0;
background:url(../image/bg_asetBox.gif) no-repeat left top;
clear:both;
}
.ups.ConversionTop .btnArea:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.ups.ConversionTop .phoneNumArea {
padding:13px 0 0 23px;
float:left;
}
.ups.ConversionTop .btn {
margin:26px 0 0 12px;
float:left;
}