body {
-webkit-text-size-adjust: auto;
}

@media screen and (min-width: 340px) {

.heading1 h2 {
font-size:130% !important;
}

.heading2 h2 {
font-size:160% !important;
}

.schem-r p {
font-size: 130% !important;
}

.scheme-case {
font-size: 200% !important;
}

.text-c {
font-size: 130% !important;
}

.cta-wrap h3 {
font-size: 200% !important;
}

}


.mt5 { margin-top:5px; }
.mt10 { margin-top:10px; }
.mt20 { margin-top:20px; }
.mb10 { margin-bottom:10px; }
.mb20 { margin-bottom:20px; }


h3 {
font-size:120%;
}

p {
text-align:left;
}

.br-sp {
display:none;
}

.cap {
font-size:80%;
}

.text-c {
text-align:center;
font-size: 90%
}

.green3 {
color:#8fc726;
}

.main-copy {
text-align:left;
width:90%;
margin:20px auto 20px;
line-height:1.6;
}

.clearfix {
clear: both;
}

.smp {
width: 90%;
height: auto;
}

.smp2 {
width: 100%;
height: auto;
}

.smp3 {
width: 80%;
height: auto;
}

.smp4 {
width: 60%;
height: auto;
}

.top-menu {
list-style:none;
}

.top-menu li {
margin:5px;
font-size:120%;
}

.btn-01 a:link,
.btn-01 a:visited,
.btn-01 a:hover {
width:100%;
padding:5px;
color:#fff;
background:#009d46;
}

.btn-02 a:link,
.btn-02 a:visited,
.btn-02 a:hover {
width:100%;
padding:5px;
color:#fff;
background:#2ab069;
}

.btn-03 a:link,
.btn-03 a:visited,
.btn-03 a:hover {
width:100%;
padding:5px;
color:#fff;
background:#8fc726;
}

.btn-04 a:link,
.btn-04 a:visited,
.btn-04 a:hover {
width:100%;
padding:5px;
color:#fff;
background:#98bf7c;
}

.heading1 {
border-top:solid 10px #01826e;
margin: 20px auto 0;
padding:10px;
/*font-size:120%;*/
text-align:left;
}

.heading2 {
border-top:solid 10px #01826e;
border-bottom:solid 10px #01826e;
margin: 20px auto 20px;
padding:10px;
text-align:center;
}

.mov1-wrap{
margin: 0 0 10px 0;
}

.mov2-wrap{
margin: 0 0 0 0;
}

.scheme-wrap {
border: solid 5px #ccc;
margin:0 0 10px 0;
}

.schem-contents {
padding:10px;
}

.schem-l {
float:left;
width:25%;
margin-top:10px;
}

.schem-r {
float:left;
width:75%;
margin-top:10px;
}


.cta-wrap {
/*width:80%;*/
border: solid 5px #ccc;
padding:10px;
margin:0 auto 20px;
}

/**/
.displayNone {
    display: none;
}

.accordion {
}

.switch {
margin-top:5px;
    font-weight: bold;
}

.open {
    text-decoration: underline;
}
