/*==========================================

base layout

==========================================*/

#container {
width:100%;
padding-top:17px;
background:url(../../image/shared/bg_body_02.gif) repeat-x left top;
}

#contentsContainer {
width:958px;
margin:0 auto;
}

#container1column #main {
float:none;
width:100%;
}

#main {
width:718px;
line-height:1.4;
float:left;
}


/*------------------------------------------
@ Aside
------------------------------------------*/
#aside {
width:228px;
margin:3px 0 0 12px;
line-height:1.4;
float:left;
}
#aside .asideBox{
margin-bottom:15px;
}

/* SearchArea
------------------------------------------*/
#searchNumAside {
background:url(../../image/shared/aside/bg_contactaside_input.gif) no-repeat left top;
width:200px;
height:81px;
position:relative; 
}
#searchNumAside .button {
position:absolute;
left:50px;
width:99px;
top:42px;
}

#aside .asideBox .searchTop_ybm{
padding-top:9px;
text-align:left;
background:url(../../image/shared/aside/bg_asideT_syuka.png) left top no-repeat;
}
#aside .asideBox .searchTop_ybm2{
padding-top:9px;
text-align:left;
background:url(../../image/shared/aside/bg_asideT_syuka2.png) left top no-repeat;
}
#aside .asideBox .searchTop{
padding-top:9px;
text-align:left;
background:url(../../image/shared/aside/bg_asideT.png) left top no-repeat;
}
#aside .asideBox .searchBtm{
padding-bottom: 15px;
_padding-bottom: 14px;
margin-bottom:15px;
background:url(../../image/shared/aside/bg_asideB.png) left bottom no-repeat;
}
#aside .asideBox .searchBtm_ybm{
padding-bottom: 15px;
_padding-bottom: 14px;
margin-bottom:15px;
background:url(../../image/shared/aside/bg_asideB_syuka.png) left bottom no-repeat;
}
#aside .asideBox .searchBtm_ybm2{
padding-bottom: 15px;
_padding-bottom: 14px;
margin-bottom:15px;
background:url(../../image/shared/aside/bg_asideB_syuka2.png) left bottom no-repeat;
}

#aside .asideBox .searchInner{
background:url(../../image/shared/aside/bg_asideM.png) left top repeat-y;
zoom:1;
}
#aside .asideBox .searchInner02{
padding: 6px 9px 0 14px;
background:url(../../image/shared/aside/bg_asideM02.gif) 4px top no-repeat;
zoom:1;
}
#aside .asideBox .searchInner_ybm{
background:url(../../image/shared/aside/bg_aside_syuka.png) left top repeat-y;
zoom:1;
}
#aside .asideBox .searchInner_ybm2{
background:url(../../image/shared/aside/bg_aside_syuka2.png) left top repeat-y;
zoom:1;
}
#aside .asideBox .searchInner02_ybm{
padding: 6px 9px 0 14px;
background:url(../../image/shared/aside/bg_aside_syuka02.gif) 4px top no-repeat;
zoom:1;
}
#aside .asideBox .searchInner03_ybm{
padding: 6px 9px 0 14px;
background:url(../../image/shared/aside/bg_aside_syuka03.gif) 4px top no-repeat;
zoom:1;
}

#aside .asideBox .searchTop ul{
margin-top:10px;
clear:both;
}
#aside .asideBox .searchTtl{
margin-bottom:9px;
padding:5px 0 0 3px;
}

#aside .asideBox .searchList{
padding-bottom:5px;
clear:both;
}
#aside .asideBox .searchList-ttl{
margin:15px 0 5px 0;
border-bottom:#D3CEC2 solid 3px;
zoom:1;
}
#aside .asideBox .searchList-ttl02{
margin:5px 0 5px 0;
border-bottom:#D3CEC2 solid 3px;
zoom:1;
}
#aside .asideBox .searchList-ttl img,
#aside .asideBox .searchList-ttl02 img{
padding:0 0 5px 7px;
}
#aside .asideBox .searchList ul{
margin-top:5px;
}
#aside .asideBox .searchList ul li{
margin:0 0 4px 0;
padding:8px 8px 10px;
background:url(../../image/shared/aside/bg_bdsearchList.gif) repeat-x bottom !important;
zoom:1;
}
#aside .asideBox .searchList ul li.defaultLink02{
padding:8px 8px 10px 24px;
text-indent:-19px;
}
*html #aside .asideBox .searchList ul li.defaultLink02{
padding:8px 8px 10px 0px;
}
*:first-child+html #aside .asideBox .searchList ul li.defaultLink02{
padding:8px 8px 10px 0px;
}
#aside .asideBox .searchList ul li.defaultLink02 a{
padding-left:19px;
padding-bottom:2px;
background:url(../../image/shared/portal/icon_01.gif) no-repeat 0 0.1em;
zoom:1;
}
*html #aside .asideBox .searchList ul li.defaultLink02 a{
text-indent:0;
}
*:first-child+html #aside .asideBox .searchList ul li.defaultLink02 a{
text-indent:0;
}
#aside .asideBox .searchList ul li.blankLink{
padding-left:20px;
}
#aside .asideBox .searchList ul li.last{
margin:0;
padding-bottom:0;
background:none !important;
}
#aside .asideBox .searchList ul li ul{
margin:10px 0 0 0;
}
*html #aside .asideBox .searchList ul li ul{
margin-left:5px;
}
#aside .asideBox .searchList ul li ul li{
margin:0 0 8px 0;
padding:0;
background:none !important;
zoom:1;
}

#aside .asideBox .searchList ul li ul li.blankLink {
padding:0;
position:relative;
text-indent:-19px;
}
#aside .asideBox .searchList ul li ul li.blankLink a{
background:none !important;
}
*html #aside .asideBox .searchList ul li ul li.blankLink a{
padding-left:17px
}
#aside .asideBox .searchList ul li ul li.blankLink img{
position:absolute;
top:5px;
left:-16px;
}
*html #aside .asideBox .searchList ul li ul li.blankLink img{
top:5px;
left:3px;
}
*:first-child+html #aside .asideBox .searchList ul li ul li.blankLink img{
top:5px;
left:3px;
}
/*
#aside .asideBox .searchList ul li ul li.blankLink {
padding-left:0;
text-indent:-16px;
}
#aside .asideBox .searchList ul li ul li.blankLink a{
padding-left:2px;
background:none !important;
}
#aside .asideBox .searchList ul li ul li.last {
margin:0;
padding-bottom:0;
background:none !important;
}
*/

/*------------------------------------------*/

#aside .asideBoxT{
text-align:left;
background:url(../../image/shared/aside/bg_asideT.png) no-repeat top left;
padding:15px 13px 5px 13px;
zoom:100%;
}
#aside .asideBoxT p{
margin:0 0 10px 0;
}
#aside .asideBoxB{
background:url(../../image/shared/aside/bg_asideB.png) no-repeat top left;
padding-bottom:15px;
margin-bottom:15px;
vertical-align:top;
zoom:100%;
}
* html #aside .asideBoxB{
margin-bottom:0;
}

.asidePsearch,
.asidePsearchList{
padding-top:5px;
}

/*.asidePsearch a,
.asidePsearchList a{
display:block;
}*/

.asidePsearch p,
.asidePsearchList p{
padding-top:5px;
margin:0 !important;
}

.asidePsearchList ul{
padding:3px 0 0 0;
zoom:100%;
}

.asidePsearchList ul li{
margin:0 0 4px 0;
padding:8px 0 10px 8px;
background:url(../../image/shared/aside/bg_bdsearchList.gif) repeat-x bottom;
zoom:100%;
}
.asidePsearchList ul li ul li{
margin:0;
padding:8px 0 0 2px !important;
background: none !important;
zoom:100%;
}

.asidePsearchList ul li a{
background:url(../../image/shared/portal/icon_01.gif) no-repeat 0 0.2em;
_background:url(../../image/shared/portal/icon_01.gif) no-repeat 0 0.1em;
padding:0 0 0 20px !important;
display:block;
min-height: 16px;
height: auto !important;
height: 16px;
zoom:100%;
}

.asidePsearchList ul li ul li a{
background:url(../../image/shared/parts/arrow_link.gif) no-repeat 0 0.2em;
_background:url(../../image/shared/parts/arrow_link.gif) no-repeat 0 0.1em;
padding:0 0 0 15px;
display:block;
zoom:100%;
}

.asidePsearchList ul li.noBP{
background:none !important;
padding-bottom:0 !important;
}

.asidePsearchList ul li ul.asidePsearchListSub{
margin-top:5px;
}

.asidePsearchList ul li ul.asidePsearchListSub li{
background:none;
padding:0px 0 3px 8px;
}

.asidePsearchList ul li ul.asidePsearchListSub li a{
background:transparent url(../../image/shared/parts/arrow_link.gif) no-repeat 3px 5px;
padding:0 0 0 13px;
}

.asideBoxsearch img{
padding:5px 0 0 3px;
}

.asideBoxsearchList,
.asideBoxsearchTxt{
border-bottom:#D3CEC2 solid 3px;
margin:0 0 5px 0;
}
.asideBoxsearchList img{
padding:15px 0 5px 7px;
}
.asideBoxsearchTxt img{
padding:0 0 5px 7px;
}

#searchNumTxtAside {
background:none;
border:none;
margin:13px 0 0 34px;
width:150px;
color:#666;
}

/* LoginBox
------------------------------------------*/

/***************** 20120724 IE9 INS  ************************/
/* トップページのみ対応させるため、別名で新規作成　田中 */
/***************** 20120724 IE9 INS  ************************/
#aside .loginBox02{
/*padding-bottom:10px;*/
margin-bottom:5px;
}

* html #aside .loginBox02,
* html #aside .asideBox02{
zoom:100%;
}
*:first-child+html #aside .loginBox02,
*:first-child+html #aside .asideBox02{
margin-bottom:0 !important;
zoom:100%;
}
#aside .loginBoxIn02{
background:url(../../image/shared/aside/bg_aside_login2.png) no-repeat;
height:95px;
padding:22px 0 48px 0;
_padding:22px 0 15px 0;
zoom:100%;
}

#aside .loginBoxBizIn02{
background:url(../../image/shared/aside/bg_aside_loginBiz2.png) no-repeat;
height:42px;
padding:22px 0 41px 0;
_padding:22px 0 8px 0;
margin-bottom:8px;
zoom:100%;
}

#aside .loginBoxIn02 .loginLogo02{
margin-bottom:10px;
margin-top:-5px;
zoom:100%;
}


#aside .loginBoxBizIn02 .loginLogoBiz02{
margin-bottom:6px;
margin-top:-10px;
zoom:100%;
}

#aside .loginBoxIn02 ul li.btLogin02{
margin-top:-8px;
zoom:100%;
}

#aside .loginBoxBizIn02 ul li.btLoginBiz02{
margin-top:-3px;
zoom:100%;
}

#aside .loginBoxIn02 ul li.btMem02{
margin-top:4px;
zoom:100%;
}

#aside .loginBoxBizIn02 ul li.btMemBiz02{
margin-top:-1px;
zoom:100%;
}
#aside .loginBoxIn02 ul li.btMem03,
#aside .loginBoxBizIn02 ul li.btMem03{
margin-top:-1px;
zoom:100%;
}
/***** 20120720 INS TANAKA IE9 END *****/

#aside .loginBox{
zoom:100%;
margin-bottom:15px;
}
#aside .loginBox{
padding-bottom:10px;
margin-bottom:5px;
}

* html #aside .loginBox,
* html #aside .asideBox{
/*margin-bottom:0 !important;*/
zoom:100%;
}
*:first-child+html #aside .loginBox,
*:first-child+html #aside .asideBox{
margin-bottom:0 !important;
zoom:100%;
}

#aside .loginBoxIn{
background:url(../../image/shared/aside/bg_aside_login.png) no-repeat;
height:117px;
padding:22px 0 44px 0;
_padding:22px 0 11px 0;
zoom:100%;
}

#aside .loginBoxIn .loginLogo{
margin-bottom:10px;
}
#aside .loginBoxBizIn .loginLogo{
margin-bottom:6px;
}

#aside .loginBoxBizIn{
background:url(../../image/shared/aside/bg_aside_loginBiz.png) no-repeat;
height:73px;
padding:22px 0 44px 0;
_padding:22px 0 11px 0;
zoom:100%;
}

#aside .loginBoxIn ul li,
#aside .loginBoxBizIn ul li{
font-size:0;
line-height:0;
}

#aside .loginBoxIn ul li.btLogin,
#aside .loginBoxBizIn ul li.btLogin{
margin-bottom:14px;
zoom:100%;
}

#aside .loginBoxIn ul li.btMem,
#aside .loginBoxBizIn ul li.btMem{
margin-bottom:3px;
zoom:100%;
}

/* My Page Button */
#aside .myPageBtn a{
display:block;
width:228px;
height:54px;
background:url(../../image/shared/aside/btn_asideMemb_off.png) no-repeat;
text-indent:-9999px;
overflow:hidden;
}
#aside .myPageBtn a:hover{
background:url(../../image/shared/aside/btn_asideMemb_on.png) no-repeat;
}

#aside .myPageBizBtn a{
display:block;
width:228px;
height:54px;
background:url(../../image/shared/aside/btn_asideMembBiz_off.png) no-repeat;
text-indent:-9999px;
overflow:hidden;
}
#aside .myPageBizBtn a:hover{
background:url(../../image/shared/aside/btn_asideMembBiz_on.png) no-repeat;
}

/* Aside Headings
------------------------------------------*/
#aside .ttlNavTg img{
padding:5px 0 5px 10px;
}

#aside .lNavTgBoxT{
background:url(../../image/shared/aside/bg_lNavTgBoxT.png) no-repeat top left;
padding:10px 0 0 0;
text-align:left;
zoom:1;
}
#aside .lNavTgBoxM{
background:url(../../image/shared/aside/bg_lNavTgBoxM.png) repeat-y;
padding:0 5px 0 5px;
zoom:1;
}
#aside .lNavTgBoxB{
background:url(../../image/shared/aside/bg_lNavTgBoxB.png) no-repeat bottom left;
padding:0 0 11px 0;
zoom:1;
}

#aside .lNavTgBoxM ul li{
border-bottom:#CCC solid 1px;
zoom:1;
}
.lNavTgBoxM ul li.blankLink{
padding-bottom:0;
}

/*.lNavTgBoxM ul li a.blankLink{
background:url(../../image/shared/parts/blank_link.gif) no-repeat 10px 0.9em !important;
padding:7px 5px 5px 25px !important;
display:block;
}*/

.lNavTgBoxM ul li a{
width:188px;
background:url(../../image/shared/parts/arrow_link.gif) no-repeat 15px 1em;
padding:7px 5px 5px 25px !important;
display:block;
zoom:100%;
}
.lNavTgBoxM ul li.blankLink{
margin-bottom:0;
padding-left:0;
text-indent:0;
background:none !important;
}
.lNavTgBoxM ul li.blankLink a{
width:188px;
padding-left:25px !important;
text-indent:-13px;
background:none !important;
}
.lNavTgBoxM ul li.blankLink a:hover{
background-color:#E9E6E0 !important;
}
.lNavTgBoxM ul li a:hover{
background:#E9E6E0 url(../../image/shared/parts/arrow_link.gif) no-repeat 15px 1em;
zoom:100%;
text-decoration:none !important;
}

#aside .lNavTgBoxM .blankLink02 {
background:url(../../image/shared/aside/bg_lNavTg.gif) repeat-x bottom !important;
position:relative;
text-indent:0;
}
#aside .lNavTgBoxM .blankLink02 a {
padding:12px 10px 12px 26px;
background:none;
position:relative;
}
#aside .lNavTgBoxM .blankLink02 img {
position:absolute;
top:17px;
left:10px;
}

.lNavTgBoxM .downloadLink {
position:relative;
text-indent:0;
padding-left:0;
}
/*.lNavTgBoxM .downloadLink a {
padding:12px 10px 12px 26px;
background-image:none;
}
.lNavTgBoxM .downloadLink a:hover{
background-image:none;
zoom:100%;
text-decoration:none !important;
}*/

.lNavTgBoxM .downloadLink img {
position:absolute;
top:8px;
left:7px;
}

/* 見出し */
#aside .lNavTgBoxTBz01,
#aside .lNavTgBoxTKr01,
#aside .lNavTgBoxTRe01,
#aside .lNavTgBoxTCt01,
#aside .lNavTgBoxTSe01,
#aside .lNavTgBoxTSeK01,
#aside .lNavTgBoxTSeH01,
#aside .lNavTgBoxTCo01,
#aside .lNavTgBoxTPr01,
#aside .lNavTgBoxTYa01,
#aside .lNavTgBoxTNe01,
#aside .lNavTgBoxTInf01,
#aside .lNavTgBoxTPre01{
text-align:left;
margin-bottom:15px;
zoom:1;
}

#aside .lNavTtl{
font-size:1%;
line-height:1%;
}

#aside .lNavTgBoxTCo01 .lNavTtl a{
display:block;
height:36px;
/*padding:36px 0 0 0;*/
text-indent:-9999px;
}

#aside .lNavTgBoxTYa01 .lNavTtl,
#aside .lNavTgBoxTBz01 .lNavTtl a,
#aside .lNavTgBoxTPr01 .lNavTtl a,
#aside .lNavTgBoxTKr01 .lNavTtl a,
#aside .lNavTgBoxTSe01 .lNavTtl a,
#aside .lNavTgBoxTSeK01 .lNavTtl a,
#aside .lNavTgBoxTRe01 .lNavTtl a,
#aside .lNavTgBoxTNe01 .lNavTtl a,
#aside .lNavTgBoxTCt01 .lNavTtl a,
#aside .lNavTgBoxTInf01 .lNavTtl a,
#aside .lNavTgBoxTPre01 .lNavTtl a{
display:block;
height:37px;
/*padding:37px 0 0 0;*/
text-indent:-9999px;
}

#aside .lNavTgBoxTSeH01 .lNavTtl a{
display:block;
height:55px;
/*padding:55px 0 0 0;*/
text-indent:-9999px;
}

/* 商品・サービス（個人のお客様） */
#aside .lNavTgBoxTSeK01 .lNavTtl a{
background:url(../../image/shared/aside/bg_lNavTgBoxTSeK01.png) no-repeat top left;
}
#aside .lNavTgBoxTSeK01 .lNavTtl a:hover{
background:url(../../image/shared/aside/bg_lNavTgBoxTSeK01_on.png) no-repeat top left;
}

/* 商品・サービス（法人・個人事業主のお客様） */
#aside .lNavTgBoxTSeH01 .lNavTtl a{
background:url(../../image/shared/aside/bg_lNavTgBoxTSeH01.png) no-repeat top left;
}
#aside .lNavTgBoxTSeH01 .lNavTtl a:hover{
background:url(../../image/shared/aside/bg_lNavTgBoxTSeH01_on.png) no-repeat top left;
}

/* 送る */
#aside .lNavTgBoxTSe01 .lNavTtl a{
background:url(../../image/shared/aside/bg_lNavTgBoxTSe01.png) no-repeat top left;
}
#aside .lNavTgBoxTSe01 .lNavTtl a:hover{
background:url(../../image/shared/aside/bg_lNavTgBoxTSe01_on.png) no-repeat top left;
}

/* 受け取る */
#aside .lNavTgBoxTRe01 .lNavTtl a{
background:url(../../image/shared/aside/bg_lNavTgBoxTRe01.png) no-repeat top left;
}
#aside .lNavTgBoxTRe01 .lNavTtl a:hover{
background:url(../../image/shared/aside/bg_lNavTgBoxTRe01_on.png) no-repeat top left;
}

/* ビジネスソリューション */
#aside .lNavTgBoxTBz01 .lNavTtl a{
background:url(../../image/shared/aside/bg_lNavTgBoxTBz01.png) no-repeat top left;
}
#aside .lNavTgBoxTBz01 .lNavTtl a:hover{
background:url(../../image/shared/aside/bg_lNavTgBoxTBz01_on.png) no-repeat top left;
}

/* 企業情報 */
#aside .lNavTgBoxTCo01 .lNavTtl a{
background:url(../../image/shared/aside/bg_lNavTgBoxTCo01.png) no-repeat top left;
}
#aside .lNavTgBoxTCo01 .lNavTtl a:hover{
background:url(../../image/shared/aside/bg_lNavTgBoxTCo01_on.png) no-repeat top left;
}

/* 個人情報のお取り扱いについて */
#aside .lNavTgBoxTPr01 .lNavTtl a{
background:url(../../image/shared/aside/bg_lNavTgBoxTPr01.png) no-repeat top left;
}
#aside .lNavTgBoxTPr01 .lNavTtl a:hover{
background:url(../../image/shared/aside/bg_lNavTgBoxTPr01_on.png) no-repeat top left;
}

/* 各種約款 */
#aside .lNavTgBoxTYa01 .lNavTtl{
background:url(../../image/shared/aside/bg_lNavTgBoxTYa01.png) no-repeat top left;
}

/* ニュースリリース */
#aside .lNavTgBoxTNe01 .lNavTtl a{
background:url(../../image/shared/aside/bg_lNavTgBoxTNe01.png) no-repeat top left;
}
#aside .lNavTgBoxTNe01 .lNavTtl a:hover{
background:url(../../image/shared/aside/bg_lNavTgBoxTNe01_on.png) no-repeat top left;
}

/* お問い合わせ */
#aside .lNavTgBoxTCt01 .lNavTtl a{
background:url(../../image/shared/aside/bg_lNavTgBoxTCt01.png) no-repeat top left;
}
#aside .lNavTgBoxTCt01 .lNavTtl a:hover{
background:url(../../image/shared/aside/bg_lNavTgBoxTCt01_on.png) no-repeat top left;
}

/* クロネコメンバーズ */
#aside .lNavTgBoxTKr01 .lNavTtl a{
background:url(../../image/shared/aside/bg_lNavTgBoxTKr01.png) no-repeat top left;
}
#aside .lNavTgBoxTKr01 .lNavTtl a:hover{
background:url(../../image/shared/aside/bg_lNavTgBoxTKr01_on.png) no-repeat top left;
}

/* お知らせ */
#aside .lNavTgBoxTInf01 .lNavTtl a{
background:url(../../image/shared/aside/bg_lNavTgBoxTIn02.png) no-repeat top left;
}
#aside .lNavTgBoxTInf01 .lNavTtl a:hover{
background:url(../../image/shared/aside/bg_lNavTgBoxTIn02_on.png) no-repeat top left;
}

/* プレス用画像ダウンロード */
#aside .lNavTgBoxTPre01 .lNavTtl a{
background:url(../../image/shared/aside/bg_lNavTgBoxTPre01.png) no-repeat top left;
}
#aside .lNavTgBoxTPre01 .lNavTtl a:hover{
background:url(../../image/shared/aside/bg_lNavTgBoxTPre01_on.png) no-repeat top left;
}

/*
.lNavTgBoxM ul li a.downloadLink{
width:188px;
background:url(../../image/old_ico_reader.gif) no-repeat 7px 0.6em !important;
padding:7px 5px 5px 25px !important;
display:block;
zoom:100%;
}

.lNavTgBoxM ul li a.downloadLink:hover{
background:#E9E6E0 url(../../image/old_ico_reader.gif) no-repeat 7px 0.6em !important;
zoom:100%;
}
*/

#aside .lNavTg{
border-top:#D3CEC2 solid 3px;
background:url(../../image/shared/aside/bg_lNavTg.gif) repeat-x bottom;
padding:8px 10px 5px 10px;
zoom:1;
}

#aside .lNavCap{
border-top:#D3CEC2 solid 3px;
background:url(../../image/shared/aside/bg_lNavTg.gif) repeat-x bottom;
padding:0;
zoom:100%;
}
#aside .lNavCap a{
background:url(../../image/shared/ico/icon_05.gif) no-repeat 8px 1.2em;
padding:12px 10px 12px 26px;
display:block;
font-weight:bold;
zoom:100%;
}
/*.lNavCap.blankLink img{
position:absolute;
}
.lNavCap.blankLink a{
position:absolute;
}*/
#aside .lNavCap a.blankLink{
background:url(../../image/shared/parts/blank_link.gif) no-repeat 8px 1.2em !important;
padding:12px 10px 12px 26px !important;
display:block;
font-weight:bold;
text-indent:0;
zoom:100%;
}

#aside .lNavTgBoxM ul#lNaviCtr li a.blankLink{
background:url(../../image/shared/parts/blank_link.gif) no-repeat 10px 0.9em !important;
padding:7px 5px 5px 25px !important;
display:block;
}
#aside .lNavTgBoxM ul#lNaviCtr li a.blankLink:hover{
background:#E9E6E0 url(../../image/shared/parts/blank_link.gif) no-repeat 10px 0.9em !important;
}

/* Open / Close */
#aside .lNavTg .icoClose{
font-weight:bold;
}
#aside .lNavTg .icoOpen,
#aside .lNavTg .icoClose{
font-weight:bold;
color:#003399;
}

.icoClose{
background:url(../../image/shared/ico/ico_close.gif) no-repeat 0 0.3em;
padding:0 0 0 17px;
margin-bottom:5px;
display:block;
zoom:100%;
}

.icoOpen{
background:url(../../image/shared/ico/ico_open.gif) no-repeat 0 0.3em;
padding:0 0 0 17px;
margin-bottom:5px;
display:block;
zoom:100%;
}

/* FAQ / Pickup  */
#aside .asideBox p.asideTTl{
text-align:left;
padding:0 0 7px 7px;
margin:0 0 15px 0;
border-bottom:#D3CEC2 solid 3px;
zoom:100%;
}

#aside .asideListLink{
padding:15px 0 0 0;
}
#aside .asideListLink dl{
margin:0 0 10px 7px;
}
#aside .asideListLink dl dt a img{
display:block;
width:62px;
height:62px;
}
#aside .asideListLink dl dt a img.qr{
display:block;
width:89px;
height:89px;
}
#aside .asideListLink dl dt{
float:left;
}
#aside .asideListLink dl dt a img{
border:#DAD5C9 solid 1px;
padding:1px;
}
#aside .asideListLink dl dt a:hover img{
border:#008576 solid 1px;
}
#aside .asideListLink dl dd{
width:137px;
margin-left:5px; 
text-align:left;
float:left;
}
#aside .asideListLink dl dd.qr{
width:120px;
padding:0 0 0 5px;
text-align:left;
float:left;
}
#aside .asideListLink dl dd a{
background:url(../../image/shared/parts/arrow_link.gif) no-repeat 3px 5px;
padding:0 0 0 13px;
margin:0 0 0 5px;
}
#aside .asideListLink dl dd.blankLink a{
padding-left:0;
margin-left:0;
background:none;
}

#aside .asideListLink ul li{
text-align:left;
margin:0 0 10px 7px;
padding:0 0 0 13px;
background:url(../../image/shared/parts/arrow_link.gif) no-repeat 3px 5px;
}
#aside .asideListLink ul li.blankLink{
background-image:none !important;
padding-left:16px;
}
#aside .asideListLink ul li.blankLink a{
padding-left:0;
}
span.listSpan{
display:block;
margin-left:13px;
}

/* Other  */
#aside .buturyuuBox{
display:block;
background:url(../../image/shared/aside/bg_aside_buturyuu.gif) no-repeat 3px 5px;
padding:93px 0 25px 0;
padding-left:5px;
}

/*------------------------------------------
Contents Area
------------------------------------------*/
#main .ContentsArea{
margin-top:20px;
text-align:left;
clear:both;
}
#main .ContentsArea:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

/* 1column 
------------------------------------------*/
#container1column .typeA{
font-size:116%;
color:#FFFFFF;
font-weight:bold;
padding:13px 0 9px 20px;
line-height:1.2;
background:url(../../image/shared/parts/ttl_h2_1column.png) no-repeat left top;
text-align:left;
}
#container1column #main .ContentsTop{
background:url(../../image/shared/parts/bg_main_top_1column.png) no-repeat top left;
padding:14px 0 0 0;
}

#container1column #main .ContentsBtm {
background:url(../../image/shared/parts/bg_main_bt_1column.png) no-repeat left bottom;
padding-bottom:14px;
}

#container1column #main .ContentsArea .ContentsInner {
background:url(../../image/shared/parts/bg_main_md_1column.png) repeat-y scroll left top transparent;
overflow:hidden;
text-align:left;
}
#container1column #main .ContentsArea .articleTypeA{
border-top:#FDD000 solid 3px;
width:910px;
margin-left:3px;
padding:10px 20px 5px;
}
#container1column #main .ContentsArea .articleTypeB{
width:910px;
margin-left:3px;
padding:10px 20px 5px;
zoom:1;
}

/* 2column 
------------------------------------------*/
#main .ContentsArea .ContentsTop{
background:url(../../image/shared/parts/bg_main_top_2column.png) no-repeat top left;
padding:14px 0 0 0;
zoom:1;
}
#main .ContentsArea .ContentsTop:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

#main .ContentsArea .ContentsBtm {
background:url(../../image/shared/parts/bg_main_bt.png) no-repeat left bottom;
padding-bottom:15px;
zoom:1;
}

#main .ContentsArea .ContentsInner {
padding-bottom:5px;
background:url(../../image/shared/parts/bg_main_md.png) repeat-y scroll left top transparent;
zoom:1;
}
#main .ContentsArea .ContentsInner:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

#main .ContentsArea .articleTypeA{
width:680px;
margin-left:3px;
padding:10px 15px 0;
text-align:left;
border-top:#FDD000 solid 3px;
}
#main .ContentsArea .articleTypeA:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

#main .ContentsArea .articleTypeB{
width:680px;
margin-left:3px;
padding:10px 15px 0;
zoom:1;
overflow:hidden;
}
#main .ContentsArea .articleTypeB:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

#main .ContentsArea .articleTypeC{
width:680px;
margin-left:3px;
padding:10px 15px 0;
border-top:3px solid #D8D3C7;
}
#main .ContentsArea .articleTypeC:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

/* Business solution */
#main .ContentsArea .articleTypeD{
border-top:3px solid #D4CBB7;
width:680px;
margin-left:3px;
padding:10px 15px 0;
text-align:left;
}
#main .ContentsArea .articleTypeD:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

/* ContentsArea 2column 
------------------------------------------*/
#main .ContentsArea-2col{
width:358px;
float:left;
margin-right:2px;
}
#main .ContentsArea-2col.last-child{
margin-right:0px;
}
/*#main .ContentsArea-2col .ContentsTop{
background:url(../../image/shared/parts/bg_main_top_2column.png) no-repeat top left;
padding:14px 0 0 0;
}
#main .ContentsArea-2col .ContentsTop:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}*/
#main .ContentsArea-2col .ContentsBtm {
background:url(../../image/shared/parts/bg_main_bt2clm.png) no-repeat left bottom;
padding-bottom:15px;
zoom:1;
}
#main .ContentsArea-2col .ContentsInner {
text-align:left;
padding-bottom:5px;
background:url(../../image/shared/parts/bg_main_md2clm.png) repeat-y left top;
}
#main .ContentsArea-2col .ContentsInner:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
#main .ContentsArea-2col .article{
width:320px;
margin-left:3px;
padding:10px 15px 5px;
text-align:left;
border-top:#FDD000 solid 3px;
}
#main .ContentsArea-2col .article:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

#main .ContentsArea-2col h2{
font-size:116%;
color:#FFFFFF;
font-weight:bold;
padding:15px 20px 10px 20px;
background:url(../../image/shared/parts/ttl_h2_2clm.png) no-repeat left top;
}
#main .ContentsArea-2col h2 a,
#main .ContentsArea-2col h2 span {
padding:1px 0 1px 20px;
color:#FFFFFF;
display:block;
background:url(../../image/shared/ico/icon_03.gif) no-repeat 0 0.1em;
zoom:1;
}
#main .ContentsArea-2col h2.blankLink{
position:relative;
}
#main .ContentsArea-2col h2.blankLink a {
padding-left:18px;
text-indent:0;
background:none;
position:relative;
line-height:1.2;
}
#main .ContentsArea-2col h2.blankLink img {
top:19px;
left:20px;
position:absolute;
}
*html #main .ContentsArea-2col h2.blankLink img {
left:15px;
}

/*------------------------------------------
 Heading Styles
------------------------------------------*/
h1{
font-size:170%;
color:#494844;
font-weight:bold;
padding:5px 0 9px 10px;
background:none;
border-bottom:none;
text-align:left;
}
h1 img{
margin-left:-7px;
}

/* H1,H2,H3,H4,H5 style TypeA*/
.typeA{
font-size:116%;
color:#FFFFFF;
font-weight:bold;
padding:13px 0 9px 20px;
background:url(../../image/shared/parts/ttl_h2.png) no-repeat left top;
text-align:left;
line-height:1.2;
zoom:1;
}
.typeA a{
background: url(../../image/shared/ico/icon_03.gif) no-repeat 0 0.2em;
color: #FFFFFF !important;
display: block;
margin: 0 5px 0 3px;
padding-left: 20px;
}

/* H1,H2,H3,H4,H5 style TypeB*/
.typeB,
.tabArea .typeB{
font-size:116%;
font-weight:bold;
background:url(../../image/shared/bg_h2ptn01.gif) repeat-x bottom left!important;
color:#333!important;
margin:20px 0 15px 0;
padding:13px 0 9px 10px;
zoom:1;
}

/* H1,H2,H3,H4,H5 style TypeC*/
.typeC{
font-size:116%;
font-weight:bold;
border-left:#008574 solid 4px;
margin:20px 0 15px 0;
padding:3px 0 1px 5px;
line-height:1.4;
}

/* H1,H2,H3,H4,H5 style TypeD*/
.typeD{
font-size:116%;
font-weight:bold;
padding:5px 0 10px 0;
margin:15px 0 5px 0;
border-left:none;
}

/* H1,H2,H3,H4,H5 style TypeE*/
.typeE{
font-size:116%;
color:#333;
font-weight:bold;
padding:13px 0 9px 20px;
background:url(../../image/shared/parts/ttl_h2_img03.png) no-repeat left top;
text-align:left;
}

/* H1,H2,H3,H4,H5 style TypeF (for Business solution)*/
.typeF{
font-size:116%;
color:#FFFFFF;
font-weight:bold;
padding:14px 15px 10px 20px;
background:url(../../image/shared/parts/ttl_h2_img02.png) no-repeat left top;
text-align:left;
}

/*------------------------------------------
 button
------------------------------------------*/
.bgBtnBoxT{
width:339px;
background:url(../../image/shared/bg_btnBoxT.gif) no-repeat top left;
}
.tabArea .bgBtnBoxT{
width:329px !important;
background:url(../../image/shared/bg_btnBoxT_tab.gif) no-repeat top left !important;
}

.bgBtnBoxB{
padding:18px 15px 10px 15px;
width:339px;
_width:309px;
background:url(../../image/shared/bg_btnBoxB.gif) no-repeat bottom left;
}
.tabArea .bgBtnBoxB{
padding:18px 15px 10px 15px;
width:329px !important;
_width:299px !important;
background:url(../../image/shared/bg_btnBoxB_tab.gif) no-repeat bottom left !important;
}

.bgBtnBoxT02{
width:224px;
margin:0 2px 0 0;
background:url(../../image/shared/bg_btnBoxT02.gif) no-repeat top left;
}
* html .bgBtnBoxT02{
margin:0 -4px 0 0;
}
.tabArea .bgBtnBoxT02{
width:221px !important;
margin:0 2px 0 0;
background:url(../../image/shared/bg_btnBoxT02_tab.gif) no-repeat top left !important;
}
* html .tabArea .bgBtnBoxT02{
margin:0 -7px 0 0 !important;
}

.bgBtnBoxB02{
_width:199px !important;
padding:15px 15px 13px 16px;
background:url(../../image/shared/bg_btnBoxB02.gif) no-repeat bottom left;
zoom:100%;
}
*:first-child+html .bgBtnBoxB02{
padding:15px 15px 13px 16px;
zoom:100%;
}

.tabArea .bgBtnBoxB02{
width:190px;
padding:15px 15px 0 16px;
background:url(../../image/shared/bg_btnBoxB02_tab.gif) no-repeat bottom left !important;
}

.bgBtnBoxB02 img,
.bgBtnBoxT03 img{
margin:0 5px 0 0;
}

.bgBtnBox2ColT{
width:326px;
background:url(../../image/shared/bg_btnBox2ColT.gif) no-repeat top left;
}

.bgBtnBox2ColB{
padding:12px 15px 6px 15px;
width:326px;
_width:296px;
background:url(../../image/shared/bg_btnBox2ColB.gif) no-repeat bottom left;
}
.bgBtnBox2ColT02{
width:326px;
margin:0 2px 0 0;
background:url(../../image/shared/bg_btnBox2ColT.gif) no-repeat top left;
}

.bgBtnBox2ColB02{
padding:8px 16px 8px 10px;
width:326px;
_width:306px;
background:url(../../image/shared/bg_btnBox2ColB.gif) no-repeat bottom left;
}

.bgBtnBox2ColB02 img{
margin:0 10px 0 0;
}

div.bgBtnBoxT02 div,
div.bgBtnBox2ColT div,
div.bgBtnBox2ColT02 div,
div.bgBtnBlockIn03 div,
div.bgBtnBlockIn03 div.bgBtnBoxT03 div{
display:inline-block;
vertical-align:middle;
}

/* IE 6 */
* html div.bgBtnBoxT02 div,
* html div.bgBtnBox2ColT div,
* html div.bgBtnBox2ColT02 div,
* html div.bgBtnBlockIn03 div,
* html div.bgBtnBlockIn03 div.bgBtnBoxT03 div{
display:inline;
zoom:1;
}

/* IE 7 */
*:first-child+html div.bgBtnBoxT02 div,
*:first-child+html div.bgBtnBox2ColT div,
*:first-child+html div.bgBtnBox2ColT02 div,
*:first-child+html div.bgBtnBlockIn03 div,
*:first-child+html div.bgBtnBlockIn03 div.bgBtnBoxT03 div{
display:inline;
zoom:1;
}

/*\*//*/
* html div.bgBtnBoxT02 div,
* html div.bgBtnBlockIn03 div,
* html div.bgBtnBlockIn03 div.bgBtnBoxT03 div{
display:inline-block;
}
/**/

.bgBtnBoxB02 a.defaultLink,
.bgBtnBoxT03 a.defaultLink{
width:110px;
display:block;
}
*:first-child+html .bgBtnBoxB02 a.defaultLink,
*:first-child+html .bgBtnBoxT03 a.defaultLink{
width:115px;
}
.tabArea .bgBtnBoxB02 a.defaultLink,
.tabArea .bgBtnBoxT03 a.defaultLink{
width:108px !important;
_width:100px !important;
display:block;
}
*:first-child+html .tabArea .bgBtnBoxB02 a.defaultLink,
*:first-child+html .tabArea .bgBtnBoxT03 a.defaultLink{
width:110px !important;
}


div.bgBtnBox2ColB02 a.defaultLink {
width:220px;
_width:215px;
display:block;
}

.bgBtnBlock03{
background:url(../../image/shared/bg_btnBoxT03.gif) no-repeat left top;
}
.tabArea .bgBtnBlock03{
background:url(../../image/shared/bg_btnBoxT03_tab.gif) no-repeat left top !important;
}

.bgBtnBlockIn03{
background:url(../../image/shared/bg_btnBoxB03.gif) no-repeat left bottom;
padding:0 0 13px 0;
}
.tabArea .bgBtnBlockIn03{
background:url(../../image/shared/bg_btnBoxB03_tab.gif) no-repeat left bottom !important;
padding:0 0 13px 0;
}

.bgBtnBoxT03{
width:192px;
margin:0 2px 0 0;
padding:15px 10px 0 15px;
_padding:15px 14px 0 15px;
}


/* btnTxtBox */
.btnTxtBox{
position:relative;
_width:335px;
}

.btnTxtBox a{
display:block;
width:335px;
padding:20px 0 0 0;
background:url(../../image/shared/bg_btnBoxT.gif) no-repeat top left;
cursor:pointer;
}
.btnTxtBox p{
position:absolute;
top:7px;
left:10px;
z-index:1000;
}
.btnTxtBox p a{
display:block;
width:auto;
padding:0;
background:none;
position:static;
cursor:pointer;
}

.btnTxtIn{
display:block;
padding:0 15px 18px 70px;
width:255px;
background:url(../../image/shared/bg_btnBoxB.gif) no-repeat bottom left;
}

.btnTxtIn span{
display:block;
background:url(../../image/shared/parts/arrow_link.gif) no-repeat 8px 0.5em;
padding:0 0 0 20px;
color:#003399 !important;
}

.btnTxtInNoIcon{
display:block;
padding:0 15px 18px 10px;
width:310px;
background:url(../../image/shared/bg_btnBoxB.gif) no-repeat bottom left;
}

.btnTxtInNoIcon span{
display:block;
background:url(../../image/shared/parts/arrow_link.gif) no-repeat 8px 0.5em;
padding:0 0 0 18px;
color:#003399 !important;
}

.btnTxtIn span.btnTxtBlank{
background:url(../../image/shared/parts/blank_link.gif) no-repeat 5px 0.6em !important;
}

.btnTxtInNoIcon span.btnpageLink{
background:url(../../image/shared/ico/icon_04.gif) no-repeat 2px 0.3em !important;
}

/* pageLink */
ul.pageLink{
width:680px;
overflow:hidden;
zoom:1;
}

ul.pageLink li{
float:left;
text-align:left;
margin-bottom:7px;
background:url(../../image/shared/ico/icon_04.gif) no-repeat 0 0.2em;
padding:0 0 0 17px;
white-space:nowrap;
}
ul.pageLink li.longText{
clear:both;
}
*html ul.pageLink li.longText{
width:650px;
white-space:normal;
}

/* company link  */
ul.anasLink{
text-align:left;
padding:0 15px 10px 15px;
margin:0 0 5px 0;
}

ul.anasLink li{
margin-bottom:5px;
}

/*------------------------------------------
 Sub Column
------------------------------------------*/
/* 4column(services/send.html) */
#main .secCont4clm{
width:178px;
margin-right:1px;
}
#main .secCont4clm h2{
font-size:116%;
color:#ffffff;
font-weight:bold;
padding:0;
background:url(../../image/shared/parts/ttl_h2_4clm.png) no-repeat left top;
text-align:left !important;
}
#main .secCont4clm h2 a{
color:#ffffff;
background:url(../../image/shared/ico/icon_03.gif) no-repeat 11px 1.1em;
display:block;
padding:15px 20px 9px 30px;
margin:0 5px 0 3px;
}
#main .secCont4clm .sectionCont {
background:url(../../image/shared/parts/bg_main_bt4clm.png) no-repeat left bottom;
padding-bottom:14px;
}
#main .secCont4clm .sectionCont .inner {
text-align:left;
background:url(../../image/shared/parts/bg_main_md4clm.png) repeat-y left top;
overflow:hidden;
}
#main .secCont4clm .bodTopIn4clm{
border-top:#FDD000 solid 3px;
width:150px;
margin-left:3px;
padding:10px 10px 5px 10px;
}

/* 2cloumn */
.imgLink2clm a img{
margin:0 0 0.3em 0;
}
.imgLink2clm a img,
.subClmBox dl.subClmLink dt a img{
border:#DAD5C9 solid 1px;
padding:1px;
}
.imgLink2clm a:hover img,
.subClmBox dl.subClmLink dt a:hover img{
border:#008576 solid 1px;
}
.subClmBox{
width:335px;
}
.tabArea .subClmBox{
width:325px !important;
}

/* Box Style TypeA
------------------------------------------*/
.boxSection {
margin-top:20px;
clear:both;
}
.boxSection:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

.boxSection .boxTypeA,
.boxSection .boxTypeB {
width:335px;
margin-right:10px;
float:left;
}
.boxSection .boxTypeA.last-child,
.boxSection .boxTypeB.last-child {
margin-right:0px;
}

.boxSection .boxTypeA dt {
width:325px;
margin:0 0 10px;
padding:0 0 10px 10px;
background:url(../../image/shared/parts/bg_subClmTtl.gif) no-repeat left bottom;
clear:both;
}
.boxSection .boxTypeA dt span {
color:#008576;
margin:0 0 0.5em;
display:block;
}
.boxSection .boxTypeA dt a {
padding:0 0 0 20px;
font-size:116%;
font-weight:bold;
background:url(../../image/shared/portal/icon_01.gif) no-repeat 0 0.3em;
/*display:block;*/
}
.boxSection .boxTypeA dt p.blankLink {
/*position:relative;*/
margin-bottom:0;
}
.boxSection .boxTypeA dt p.blankLink a {
padding:0;
background:none !important;
}
/*.boxSection .boxTypeA dt p.blankLink img {
position:absolute;
top:5px;
left:0;
}*/
.boxSection .boxTypeA dd {
float:right;
width:235px;
}
.boxSection .boxTypeA dd.text,
.boxSection .boxTypeB dd.text {
float:none;
width:auto;
}
.boxSection .boxTypeA dd.img {
float:left;
margin:0 10px 0;
width:80px;
}
* html .boxSection .boxTypeA dd.img {
margin:0 5px 0;
}
.boxSection .boxTypeA dd.img a img,
.boxSection .boxTypeB dd.img a img {
padding:1px;
border:1px solid #DAD5C9;
}
.boxSection .boxTypeA dd.img a:hover img,
.boxSection .boxTypeB dd.img a:hover img {
border:1px solid #008576;
}

/* Box Style TypeB
------------------------------------------*/
.boxSection .boxTypeB dt {
width:325px;
margin-bottom: 15px;
padding:0 0 6px 10px;
color: #008576;
font-size: 116%;
font-weight: bold;
background:url(../../image/shared/parts/bg_subClmTtl2.gif) no-repeat left bottom;
clear:both;
}
.boxSection .boxTypeB dd.img {
width:80px;
margin:0 10px 0;
float:right;
}
* html .boxSection .boxTypeB dd.img {
margin:0 5px 0;
}
.boxSection .boxTypeB dd {
float:left;
width:225px;
margin-left:10px;
}
* html .boxSection .boxTypeB dd {
margin-left:5px;
}

/* receive.css */
dl.memberLogin{
background-color: #FFF6CC;
margin: 10px 0 0;
padding: 10px 140px;
text-align: center;
zoom:1;
clear:both;
}
dl.memberLogin:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
dl.memberLogin dt{
margin-bottom:10px;
clear:both;
}
dl.memberLogin dd{
float:left;
}

/* Link Box Style
------------------------------------------*/
/* linkBoxSection */
.linkBoxSection {
padding-bottom:15px;
clear:both;
zoom:1;
}
.linkBoxSection:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.linkBoxSection.last-child{
padding-bottom:0px;
}

.linkBox{
width:335px;
position:relative;
background:url(../../image/shared/bg_btnBoxT.gif) no-repeat top left;
}

.linkBoxBtm{
background:url(../../image/shared/bg_btnBoxB.gif) no-repeat bottom left;
}
.linkBoxBtm:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

.linkBox a{
display:block;
padding:20px 15px 18px 13px;
cursor:pointer;
}

.linkBox span.anchorLink{
display:block;
background:url(../../image/shared/ico/icon_04.gif) no-repeat left 0.2em;
padding-left:16px;
zoom:1;
}
.linkBox span.defaultLink{
display:block;
background:url(../../image/shared/parts/arrow_link.gif) no-repeat 5px 0.4em;
padding-left:16px;
zoom:1;
}
.linkBox span.blankLink{
display:block;
zoom:1;
}
.linkBox span.blankLink a {
padding-left:16px;
text-indent:0;
}
.linkBox span.blankLink img {
top:25px;
left:13px;
position:absolute;
}

/* caption text */
.linkBoxSection .caption{
width:335px;
color:#008576;
clear:both;
}
*html .linkBoxSection .caption{
padding-bottom:2px;
}

/* icon */
.linkBoxSection .linkBox p {
position:absolute;
top:7px;
left:10px;
z-index:1000;
}
.linkBoxSection .linkBox p a{
padding:0;
}
.linkBoxSection .linkBox span.linkText{
width:255px;
position:relative;
left:60px;
display:block;
}

/* other parts */
.linkBoxSection.last-child{
padding-bottom:0px;
}
.linkBoxSection02 .linkBoxSection{
padding-bottom:0px;
}

/* contactFormBtnBox
------------------------------------------*/
.contactFormBtnBox{
background: url(../../image/shared/bg_contactFormBtnBox.gif) no-repeat top left;
/*background: url(../../image/shared/bg_contact_y.gif) no-repeat bottom left;*/
text-align:center;
padding:0 0 12px 0;
width:326px;
}
.contactFormBtnBox dt,
.consultFormBtnBox dt{
text-align:center;
padding:11px 0 5px 0;
margin:0 !important;
}
.consultFormBtnBox{
background: url(../../image/shared/bg_consult_y.gif) no-repeat bottom left;
text-align:center;
padding:0 0 12px 0;
width:326px;
}

/*------------------------------------------
 Bottom Navigation
------------------------------------------*/
#lowerNav {
width:956px;
margin:15px auto 0;
line-height:1.4;
text-align:left;
position:relative
}
#lowerNav .lowerNavTop {
padding-top:8px;
background:url(../../image/shared/bg_lowerNav_top.gif) no-repeat left top;
}
#lowerNav .lowerNavBtm {
padding-bottom:30px;
background:url(../../image/shared/bg_lowerNav_btm.gif) no-repeat left bottom;
zoom:1;
}
#lowerNav .lowerNavInner {
background:url(../../image/shared/bg_lowerNav_mid01.gif) repeat-y left top;
}
#lowerNav .lowerNavInner02 {
padding:22px 24px 0 26px;
background:url(../../image/shared/bg_lowerNav_mid02.gif) 4px top no-repeat;
zoom:1;
}
#lowerNav .lowerNavInner02:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

#lowerNav dl dd {
clear:both;
zoom:1;
}

#lowerNav .leftArea {
width:300px;
float:left;
}
#lowerNav .leftArea dt{
margin-bottom:9px;
clear:both;
}
#lowerNav .leftArea ul {
margin:6px 0 0 10px;
}
#lowerNav .leftArea ul li {
padding-bottom:3px;
width:280px
}
#lowerNav .leftArea #searchNum {
width:298px;
height:43px;
background:url(../../image/shared/portal/bg_contact_input.gif) no-repeat left top;
position:relative; 
}
#lowerNav .leftArea #searchNumTxt {
width:144px;
margin:14px 0 8px 34px;
color:#666;
background:none;
border:none;
}
* html #lowerNav .leftArea #searchNumTxt {
margin-top:13px;
}
#lowerNav .leftArea #searchNum .button {
position:absolute;
left:194px;
width:99px;
top:5px;
}

#lowerNav .middleArea {
width:210px;
margin-left:42px;
float:left;
}
#lowerNav .middleArea dt,
#lowerNav .rightArea dt{
margin-bottom:18px;
clear:both;
}
#lowerNav .middleArea ul li,
#lowerNav .rightArea ul li {
padding:0 0 10px 20px;
background:url(../../image/shared/portal/icon_01.gif) no-repeat 0  0.1em;
}
#lowerNav .middleArea ul li.blankLink,
#lowerNav .rightArea ul li.blankLink {
background-image:none;
}
#lowerNav .rightArea {
width:304px;
padding-left:30px;
float:left;
background:url(../../image/shared/bg_lowerNav_line.gif) left top repeat-y;
}

#lowerNav .rightArea li {
float:left;
width:117px;
margin-right:15px;
}

/*------------------------------------------
 Redirect
------------------------------------------*/
#redirect .articleTypeB p{
margin-top:5px;
}
#redirect .articleTypeB .fontL{
margin-top:0;
}