/*==========================================

csr style

==========================================*/
.csr-content table {
width:auto !important;
}
.sectionContBox a strong {
color:#0033CC;
cursor:pointer;
}
.csr-content {
margin:0 auto;
padding:0 auto;
text-align:center;
width:750px;
}
.border1 {
border:1px #204040 solid;
}
.border2 {
border:1px #909790 solid;
}
.border3 {
border-left:1px #999999 solid;
}
.border4 {
border-top:1px #999999 solid;
}
.border-top {
border-bottom:1px #242424 solid;
}
.border-bot {
border-bottom:1px #204040 solid;
}
.align-cen {
width:750px;
margin:0 auto;
padding:o auto;
}
.color1 {
color: #003399 !important;
}
.color-01 {
color:#9C3000!important;
}
.text-01 {
color:#0030CE;
font-weight: bold;
text-align:center;
font-size: 13px;
line-height: 130%;
}
.link-01 {
color:#0030CE !important;
text-decoration:underline!important;
text-align:center;
font-weight: bold;
}
.link-01:hover {
color:#F00 !important;
text-decoration:underline!important;
}
/*--
style of CYT Wesbite
--*/
.flash {
padding-top: 15px;
padding-bottom: 15px;
}
.tbl {
border: 1px solid #999999;
border-collapse: collapse;
}
.tbl th {
padding: 3px;
border-right-width: 1px;
border-bottom-width: 1px;
border-right-style: solid;
border-bottom-style: solid;
border-right-color: #999999;
border-bottom-color: #999999;
font-size: 12px;
line-height: 1.3em;
color: #003399;
background-color: #E7E7E7;
vertical-align: top;
font-weight: normal;
}
.tbl .tbl .th2 {
vertical-align: middle;
}
.tbl .tbl .th3 {
text-align: left;
}
.tbl td {
border-right-width: 1px;
border-bottom-width: 1px;
border-right-style: solid;
border-bottom-style: solid;
border-right-color: #999999;
border-bottom-color: #999999;
padding: 3px;
font-size: 12px;
line-height: 1.3em;
text-align: left;
vertical-align: top;
}
.tbl .tbl .td2 {
text-align: center;
vertical-align: middle;
}
.tbl .tbl2 {
border-top-style: none;
border-right-style: none;
border-bottom-style: none;
border-left-style: none;
}
.tbl .tbl2 td {
border-top-style: none;
border-right-style: none;
border-bottom-style: none;
border-left-style: none;
padding: 1px;
}
.t12 {
font-size: 13px;
line-height: 130%;
}
.t12 .safety {
float: right;
width: 120px;
clear: both;
}
.t14 {
font-size: 15px;
line-height: 130%;
}
.tab-1 {
width:516px;
border:1px #909790 solid;
padding:10px;
text-align:left;
}
.background-line {
background:url(../../../anzen/secure/img/line.gif)repeat-y;
}
/*--
style of kankyou/preserve/flow.html
--*/
.KList01 {
font-size: 11px;
margin: 0px 5px 10px 0px;
padding-left: 10px;
padding-top: 10px;
}
.KList01 li {
background: url(img/icon01.gif) no-repeat left 3px;
padding-left: 12px;
list-style: none;
margin-bottom: 5px;
line-height: 1.3em;
}
.map01 {
background: url(img/tbl_bg.gif) no-repeat left top;
height: 155px;
width: 125px;
}
.top_img {
	margin-left: 60px;
	margin-top: 30px;
	margin-bottom: 20px;
	width: 528px;
}
