/*==========================================

404 error
==========================================*/


.title01{
padding:0;
margin:0;
border:none;
}

/* line*/
.messageBox01{
line-height:1.5;
padding:20px 0 5px;
width:900px;
clear:both;
zoom:1;
}
.txtBox01{
padding-right:110px;
width:630px;
}

.divline01{
clear:both;
width:640px;
background: url(../../image/shared/img_404error_line.gif) no-repeat bottom left;
padding:10px 0 20px;
margin-bottom:20px;
zoom:1:
}


.searchBox ul{
margin:10px auto 0;
width:490px;
text-align:center;
}
.searchBox li{
float:left;
display:inline;
}



/*
.subClm404Box{
width:291px;
}
.tabBlock .sub404ClmBox{
width:316px !important;
}

.subClm404Box dl.subClm404Ttl{
background: url(../../image/shared/parts/bg_subClmTtl.gif) no-repeat bottom left;
width:316px;
padding:0 0 10px 10px;
margin:0 0 10px 10px;
}

.subClm404Box dl.subClmTtl404Bld{
background: url(../../image/shared/parts/bg_subClmTtl2.gif) no-repeat bottom left;
width:316px;
padding:0 0 6px 10px;
margin:0 0 10px 0;
}

.subClm404Box dl.subClmTtl404Bld{
background: url(../../image/shared/bg_h2ptn01.gif) repeat-x bottom left;
width:291px;
padding:0 0 10px 0;
margin:0 0 10px 0;
}

.subClm404Box dl.subClmTtl404Bld dd{
font-size:116%;
font-weight:bold;
display:block;
width:271px;
margin:0 0 0 10px;
line-height:1.2;
}
.subClm404Box dl.subClmTtl404Bld dd a{
background:url(../../image/shared/portal/icon_01.gif) no-repeat 0  0.3em;
padding:0 0 0 20px;
display:block;
}

.tabBlock .subClm404Box dl.subClmTtl404Bld {
width:291px !important;
}

.subClm404Box dl.subClmTtl404Bld dt{
color:#008576;
margin:0;
}

.tabBlock .subClm404Box dl.subClm404Ttl{
width:291px !important;
}

.subClm404Box dl.subClm404Ttl dt{
color:#008576;
margin:0 0 0.5em 0;
}

.searchBox ul{
float:left;
}

.searchBox ul li{
display:block;
float:left;
background:url(../../image/shared/bg_404bt.gif) no-repeat;
width:223px;
height:62px;
padding:8px 0 0 8px;
}

#contSearchBlock{
float:right;
background:url(../../image/shared/bg_404serch.gif) no-repeat;
width:425px;
height:47px;
padding:23px 0 0 15px;
}

*/