/*==========================================

Footer

==========================================*/
#footer{
height:80px;
margin:0;
min-width: 958px;
line-height:1.4;
}

#footImg{
background:url(../../image/shared/bg_footerImg.png) repeat-x top;
padding-top:122px;
min-width: 980px;
}

* html #footerIn{
min-width: 958px;
width: auto !important;
width: 958px;
}
#footerIn,
#footerIn600,
#footerIn800,
#footerIn950{
padding:20px 0 0 0;
margin:0 auto;
text-align:left;
}
#footerIn {
width:958px;
clear:both;
}
#footerIn600{
width:600px;
}
#footerIn800{
width:800px;
}
#footerIn950{
width:950px;
}
#footerIn .footerNavi{
width:550px;
float:left;
zoom:normal;
}

#footerIn .footerNavi li{
float:left;
margin:0;
padding:0px 0 0 10px;
background:url(../../image/shared/arrow_footer_link.gif) no-repeat left center;
font-size:86.66%;
line-height:1.3;
white-space:pre;
}

#footerIn .footerNavi li a{
color:#FFF;
}

#footerIn .copyright,
#footerIn600 .copyright,
#footerIn800 .copyright,
#footerIn950 .copyright{
float:right;
top:20px;
right:0;
color:#FFF;
font-size:0.86em;
letter-spacing:0.08em;
width:400px;
text-align:right;
}