/*==========================================

Header Type Normal

==========================================*/
#header{
width: 100%;
text-align:center;
background:url(../../image/shared/bg_header_top.gif) repeat-x left top #ffffff;
}

#headerIn{
width:958px;
padding:0 0 19px 0;
margin:0 auto;
position:relative;
text-align:left;
z-index:10000;
}

#headerIn p.logo{
padding:32px 0 0 10px;
}

#headerIn p.home_co{
position:absolute;
background:url(../../image/shared/btn_header_home_on.gif) no-repeat left top;
top:49px;
left:202px;
width:53px;
height:12px;
}

#headerNavi {
position:absolute;
/* top:21px; */
top:18px;
right:0;
}
#headerInfoNavi {
_width:618px;
height:20px;
zoom:100%;
}
#headerInfoNavi:after {visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;}

/*
#headerInfoNavi li{
float:left;
margin-left:20px;
line-height:1px !important;
font-size:1px !important;
}*/


#headerInfoNavi li{
float:left;
margin-left:20px;
display:inline;
line-height:1;
}
#headerInfoNavi li.infoNavilist{
margin-top:5px;
line-height:1px !important;
font-size:1px !important;
}

/* Font Size */
#fontSize {
padding:3px 0 0 101px;
background:url(../../image/shared/portal/bg_navi_font.gif) no-repeat left top;
width:73px;
height:24px;
}
#fontSize li {
float:left;
margin-right:2px;
}
#fontSize li img {
cursor:pointer
}


/* Search Box */
.searchSiteBox{
/*width:455px;*/
width:620px;
position:absolute;
top:31px;
right:-2px;
z-index:1;
}

.searchSiteBox:after {visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;}

.searchSiteBox ul{
margin:0 10px 0 0;
}

.searchSiteBox ul,
.searchSiteBox form{
float:left;
}

#searchbox,
#searchSite {
margin-top:0;
background:url(../../image/shared/bg_serachisite_input.gif) no-repeat left top;
width:435px;
position:relative;
float: right;
}

#contSearchBlock #searchbox02 {
margin-top:0;
background:url(../../image/shared/bg_serachisite_input02.gif) no-repeat left top;
width:410px;
position:relative;
}
#contSearchBlock #searchContTxt {
background:none;
border:none;
margin:4px 0 0 34px;
width:300px;
color:#666;
}


#searchbox div,
#searchbox02 div,
#searchSite div {
float:left;
margin:0 !important;
}
#searchbox .popTermArea:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

#searchbox p.button,
#searchbox02 p.button,
#searchSite p.button {
padding:0 0 0 20px !important;
}

#searchSiteTxt{
min-height:1.3em;
_height:2em;
padding:4px 0 0 30px;
width:184px;
}

#searchSiteTxt input{
background:none;
border:none;
color:#666;
line-height: 1.3;
min-width:15em;
}
#searchbox select{
margin-top:3px;
}

table#searchboxpopTermSelection{
zoom:100%;
z-index:1000 !important;
}
