/*==========================================

Header Type Popup

==========================================*/
#header{
height:63px;
background:url(../../image/shared/bg_header_p.gif) repeat-x left top;
}

#headerIn{
width:958px;
padding:0;
margin:0 auto;
text-align:left;
}

#headerIn .logo{
padding:23px 0 0 10px;
}

#headerIn p.home{
top:31px;
left:140px;
} 
/*
#headerNavi {
position:absolute;
top:18px;
right:0;
}

#headerInfoNavi {
width:50px;
position:absolute;
top:12px;
right:195px;
margin:0 0 0 0;
zoom:100%;
}

#headerInfoNavi li{
margin:0;
padding:0;
font-size:0;
line-height:0;
}
*/