/*==========================================

Header Type Popup (Members Page)

==========================================*/
#header{
height:83px;
width: 100%;
text-align:center;
background: url(../../image/shared/bg_header.gif) repeat-x left top;
}

#headerIn{
width:958px;
padding:0 0 10px 0;
margin:0 auto;
text-align:left;
position:relative;
}
#headerIn p.logo{
padding:30px 0 0 10px;
}

#headerIn p.home{
position:absolute;
background:url(../../image/shared/btn_header_home_on.gif) no-repeat left top;
top:42px;
left:275px;
width:53px;
height:12px;
}

#headerIn p.home_co{
position:absolute;
background:url(../../image/shared/btn_header_home_on.gif) no-repeat left top;
top:44px;
left:202px;
width:53px;
height:12px;
}

#headerIn p.yamato{
position:absolute;
top:30px;
right:0;
}