/*==========================================

Header Type Popup (Large logo+home)

==========================================*/
#header{
height:83px;
width: 100%;
text-align:center;
background: url(../../image/shared/bg_header.gif) repeat-x left top;
}

#headerIn{
width:958px;
height:73px;
margin:0 auto;
padding:0 0 10px 0;
text-align:left;
position:relative;
}

#headerIn .logo{
padding:30px 0 0 10px;
}

#headerIn p.home_co a{
position:absolute;
background:url(../image/shared/btn_header_home_on.gif) no-repeat left top;
top:44px;
left:202px;
width:53px;
height:12px;
}


/*
#headerNavi {
position:absolute;
top:18px;
right:0;
}

#headerInfoNavi {
width:50px;
position:absolute;
top:12px;
right:195px;
margin:0 0 0 0;
zoom:100%;
}

#headerInfoNavi li{
margin:0;
padding:0;
font-size:0;
line-height:0;
}
*/