/*==========================================

IE6

==========================================*/
#container {
background-image:none!important;
background-color:#fff!important;
}

#footImg{
background:url(../../image/shared/bg_footerImg.gif) repeat-x top;
}

#main .sectionNavi {
background:url(../../image/shared/portal/bg_main_md.gif) repeat-y left top;
}

/* TOP
------------------------------------------*/
#top .topCon2colutBox{
background:url(../../image/top/bg_top_3clm_btm.gif) no-repeat left bottom !important;
}
#top .topLeftInner{
background: url(../../image/top/bg_top_3clm_top.gif) no-repeat left top !important;
}

#top .topRightSectionCont{
background:url(../../image/top/bg_top_1clm_btm.gif) no-repeat left bottom !important;
}
#top .topRightInner{
background:url(../../image/top/bg_top_1clm_top.gif) no-repeat left top !important;
}

#top .newsTtlBold{
background:url(../../image/shared/bg_newsttl.gif) no-repeat bottom left !important;
}
#top .newsTtl{
background:url(../../image/shared/bg_newsttl.gif) no-repeat bottom left !important;
}

/* H1,H2,H3,H4,H5 style
------------------------------------------*/
/* TypeA*/
.typeA{
background:url(../../image/shared/parts/ttl_h2.gif) no-repeat left top;
}

/* TypeE*/
.typeE{
background:url(../../image/shared/parts/ttl_h2_img03.gif) no-repeat left top;
}

/* Aside
------------------------------------------*/
#aside .loginBoxIn{
background:url(../../image/shared/aside/bg_aside_login.gif) no-repeat;
}

#aside .loginBoxBizIn{
background:url(../../image/shared/aside/bg_aside_loginBiz.gif) no-repeat;
}

/* 20120723 INSERT START TANAKA */
#aside .loginBoxIn02{
background:url(../../image/shared/aside/bg_aside_login2.gif) no-repeat;
}

#aside .loginBoxBizIn02{
background:url(../../image/shared/aside/bg_aside_loginBiz2.gif) no-repeat;
}
/* 20120723 INSERT END TANAKA */

.lNavTgBoxT{
background:url(../../image/shared/aside/bg_lNavTgBoxT.gif) no-repeat top left !important;
}
.lNavTgBoxM{
background:url(../../image/shared/aside/bg_lNavTgBoxM.gif) repeat-y !important;
}
.lNavTgBoxB{
background:url(../../image/shared/aside/bg_lNavTgBoxB.gif) no-repeat bottom left !important;
}

#aside .asideBox .searchTop{
background:url(../../image/shared/aside/bg_asideT.gif) left top no-repeat;
}

#aside .asideBox .searchBtm{
background:url(../../image/shared/aside/bg_asideB.gif) left bottom no-repeat;
}

#aside .asideBox .searchInner{
background:url(../../image/shared/aside/bg_asideM.gif) left top repeat-y;
}

#aside .asideBoxT{
background:url(../../image/shared/aside/bg_asideT.gif) no-repeat top left;
}
#aside .asideBoxB{
background:url(../../image/shared/aside/bg_asideB.gif) no-repeat top left;
}

/* My Page Button */
#aside .myPageBtn a{
background:url(../../image/shared/aside/btn_asideMemb_off.gif) no-repeat;
}
#aside .myPageBtn a:hover{
background:url(../../image/shared/aside/btn_asideMemb_on.gif) no-repeat;
}

#aside .myPageBizBtn a{
background:url(../../image/shared/aside/btn_asideMembBiz_off.gif) no-repeat;
}
#aside .myPageBizBtn a:hover{
background:url(../../image/shared/aside/btn_asideMembBiz_on.gif) no-repeat;
}


/* 商品・サービス（個人のお客様） */
.lNavTgBoxTSeK01 .lNavTtl a{
background:url(../../image/shared/aside/bg_lNavTgBoxTSeK01.gif) no-repeat top left !important;
}
.lNavTgBoxTSeK01 .lNavTtl a:hover{
background:url(../../image/shared/aside/bg_lNavTgBoxTSeK01_on.gif) no-repeat top left !important;
}

/* 商品・サービス（法人・個人事業主のお客様） */
.lNavTgBoxTSeH01 .lNavTtl a{
background:url(../../image/shared/aside/bg_lNavTgBoxTSeH01.gif) no-repeat top left !important;
}
.lNavTgBoxTSeH01 .lNavTtl a:hover{
background:url(../../image/shared/aside/bg_lNavTgBoxTSeH01_on.gif) no-repeat top left !important;
}

/* 送る */
.lNavTgBoxTSe01 .lNavTtl a{
background:url(../../image/shared/aside/bg_lNavTgBoxTSe01.gif) no-repeat top left !important;
}
.lNavTgBoxTSe01 .lNavTtl a:hover{
background:url(../../image/shared/aside/bg_lNavTgBoxTSe01_on.gif) no-repeat top left !important;
}

/* 受け取る */
.lNavTgBoxTRe01 .lNavTtl a{
background:url(../../image/shared/aside/bg_lNavTgBoxTRe01.gif) no-repeat top left !important;
}
.lNavTgBoxTRe01 .lNavTtl a:hover{
background:url(../../image/shared/aside/bg_lNavTgBoxTRe01_on.gif) no-repeat top left !important;
}

/* ビジネスソリューション */
.lNavTgBoxTBz01 .lNavTtl a{
background:url(../../image/shared/aside/bg_lNavTgBoxTBz01.gif) no-repeat top left !important;
}
.lNavTgBoxTBz01 .lNavTtl a:hover{
background:url(../../image/shared/aside/bg_lNavTgBoxTBz01_on.gif) no-repeat top left !important;
}

/* 企業情報 */
.lNavTgBoxTCo01 .lNavTtl a{
background:url(../../image/shared/aside/bg_lNavTgBoxTCo01.gif) no-repeat top left !important;
}
.lNavTgBoxTCo01 .lNavTtl a:hover{
background:url(../../image/shared/aside/bg_lNavTgBoxTCo01_on.gif) no-repeat top left !important;
}

/* 個人情報のお取り扱いについて */
.lNavTgBoxTPr01 .lNavTtl a{
background:url(../../image/shared/aside/bg_lNavTgBoxTPr01.gif) no-repeat top left !important;
}
.lNavTgBoxTPr01 .lNavTtl a:hover{
background:url(../../image/shared/aside/bg_lNavTgBoxTPr01_on.gif) no-repeat top left !important;
}

/* 各種約款 */
.lNavTgBoxTYa01 .lNavTtl{
background:url(../../image/shared/aside/bg_lNavTgBoxTYa01.gif) no-repeat top left !important;
}

/* ニュースリリース */
.lNavTgBoxTNe01 .lNavTtl a{
background:url(../../image/shared/aside/bg_lNavTgBoxTNe01.gif) no-repeat top left !important;
}
.lNavTgBoxTNe01 .lNavTtl a:hover{
background:url(../../image/shared/aside/bg_lNavTgBoxTNe01_on.gif) no-repeat top left !important;
}

/* お問い合わせ */
.lNavTgBoxTCt01 .lNavTtl a{
background:url(../../image/shared/aside/bg_lNavTgBoxTCt01.gif) no-repeat top left !important;
}
.lNavTgBoxTCt01 .lNavTtl a:hover{
background:url(../../image/shared/aside/bg_lNavTgBoxTCt01_on.gif) no-repeat top left !important;
}

/* クロネコメンバーズ */
.lNavTgBoxTKr01 .lNavTtl a{
background:url(../../image/shared/aside/bg_lNavTgBoxTKr01.gif) no-repeat top left !important;
}
.lNavTgBoxTKr01 .lNavTtl a:hover{
background:url(../../image/shared/aside/bg_lNavTgBoxTKr01_on.gif) no-repeat top left !important;
}

/* お知らせ */
.lNavTgBoxTInf01 .lNavTtl a{
background:url(../../image/shared/aside/bg_lNavTgBoxTIn02.gif) no-repeat top left !important;
}
.lNavTgBoxTInf01 .lNavTtl a:hover{
background:url(../../image/shared/aside/bg_lNavTgBoxTIn02_on.gif) no-repeat top left !important;
}

/* プレス用画像ダウンロード */
.lNavTgBoxTPre01 .lNavTtl a{
background:url(../../image/shared/aside/bg_lNavTgBoxTPre01.gif) no-repeat top left !important;
}
.lNavTgBoxTPre01 .lNavTtl a:hover{
background:url(../../image/shared/aside/bg_lNavTgBoxTPre01_on.gif) no-repeat top left !important;
}

/*------------------------------------------
@ Contents Area
------------------------------------------*/
/* Popup 
------------------------------------------*/
#container1column .typeA{
background:url(../../image/shared/parts/ttl_h2_1column.gif) no-repeat left top;
}
#container1column #main .ContentsTop{
background:url(../../image/shared/parts/bg_main_top_1column.gif) no-repeat top left;
}
#container1column #main .ContentsBtm {
background:url(../../image/shared/parts/bg_main_bt_1column.gif) no-repeat left bottom;
}
#container1column #main .ContentsArea .ContentsInner {
background:url(../../image/shared/parts/bg_main_md_1column.gif) repeat-y left top;
}

/* 1column 
------------------------------------------*/
#main .ContentsArea .ContentsTop{
background:url(../../image/shared/parts/bg_main_top_2column.gif) no-repeat top left;
}
#main .ContentsArea .ContentsBtm {
background:url(../../image/shared/parts/bg_main_bt.gif) no-repeat left bottom;
}
#main .ContentsArea .ContentsInner {
background:url(../../image/shared/parts/bg_main_md.gif) repeat-y left top;
}

/* 2column 
------------------------------------------*/
#main .ContentsArea-2col .ContentsBtm {
background:url(../../image/shared/parts/bg_main_bt2clm.gif) no-repeat left bottom;
}
#main .ContentsArea-2col .ContentsInner {
background:url(../../image/shared/parts/bg_main_md2clm.gif) repeat-y left top;
}
#main .ContentsArea-2col h2{
background:url(../../image/shared/parts/ttl_h2_2clm.gif) no-repeat left top;
}

/* tab 
------------------------------------------*/
.tabArea .tabBtm {
background:url(../../image/shared/parts/bg_main_bt.gif) no-repeat left bottom;
}
.tabArea .tabInner,
.tabArea .tabInner02 {
background:url(../../image/shared/parts/bg_main_md.gif) repeat-y left top;
zoom:1;
}
.tabArea ul.tabHead li{
background: url(../../image/shared/parts/tabBtnBg.gif) no-repeat left top;
}
.tabArea ul.tabHead li.tabCurrent,
.tabArea ul.tabHead2col li.tabCurrent{
background: url(../../image/shared/parts/tabBtnBg.gif) no-repeat right top;
}
.tabArea ul.tabHead,
.tabArea ul.tabHead2col{
background: url(../../image/shared/parts/tabLine.gif) no-repeat left bottom !important;
}

.tabArea ul.type02 li a{
background-image:url(../../image/shared/parts/tabBtnBg_sevof02.jpg) !important;
}
.tabArea ul.type02 li a:hover{
background-image:url(../../image/shared/parts/tabBtnBg_sevon02.jpg) !important;
}
.tabArea ul.type02 li.tabAct{
background-image:url(../../image/shared/parts/tabBtnBg_sevon02.jpg) !important;
}

.tabArea ul.type01 li {
background-image:url(../../image/shared/parts/tabBtnBg2.gif) !important;
}

/* serviceType
-------------------------------------------------- */
#main .ContentsLeft h2{
background:url(../../image/shared/parts/ttl_h2_2clm_3Q.gif) no-repeat left top !important;
}
#main .ContentsLeft .ContentsBtm {
background:url(../../image/shared/portal/bg_main_bt_3q.gif) no-repeat left bottom !important;
}
#main .ContentsLeft .ContentsInner {
background:url(../../image/shared/portal/bg_main_md_3q.gif) repeat-y left top !important;
}
#main .ContentsRight h2{
background:url(../../image/shared/parts/ttl_h2_2clm_1Q.gif) no-repeat left top !important;
}
#main .ContentsRight .ContentsBtm {
background:url(../../image/shared/portal/bg_main_bt_1q.gif) no-repeat left bottom !important;
}
#main .ContentsRight .ContentsInner {
background:url(../../image/shared/portal/bg_main_md_1q.gif) repeat-y left top !important;
}

/* copyArea
-------------------------------------------------- */
div#copyArea {
background:url(../../image/shared/parts/back_repeat02.gif) repeat-y left top !important;
}
div#copyArea div.copyTopInner {
background:url(../../image/shared/parts/back_top02.gif) no-repeat left top !important;
}
div#copyArea div.copyBottomInner {
background:url(../../image/shared/parts/back_bottom02.gif) no-repeat left bottom !important;
}

/* Services Page
------------------------------------------*/
/* callCenter */
.bg_callCenter{
background: url(../../../services/image/call_ceneter/bg_freeCall.gif) no-repeat 0 bottom !important;
}

/* redelivery */
.bg_redelivery{
background:url(../../../services/image/redelivery/img_redelivery_bg.gif) no-repeat 0 bottom !important;
}

/* Send Page
------------------------------------------*/
#send .tabBtm {
background:url(../../../services/image/send/bg_send_tab.gif) no-repeat left bottom !important;
}
#send .secCont4clm h2{
background:url(../../image/shared/parts/ttl_h2_4clm.gif) no-repeat left top !important;
}
.secCont4clm .sectionCont {
background: url(../../image/shared/parts/bg_main_bt4clm.gif) no-repeat left bottom !important;
}
.secCont4clm .sectionCont .inner {
background: url(../../image/shared/parts/bg_main_md4clm.gif) repeat-y left top !important;
}

/* Business Solution
------------------------------------------*/
#aside .bgBtnBoxT_as{
background:url(../../image/shared/aside/bg_btnBoxB_aside.gif) no-repeat bottom left;
}
#aside .bgBtnBoxB_as{
background:url(../../image/shared/aside/bg_btnBoxT_aside.gif) no-repeat top left;
}
#business_solution .ContentsArea-2col h2{
background:url(../../../business_solution/image/ttl_h2_2clm_biz.gif) no-repeat left top !important;
}
#aside .buturyuuBox{
background:url(../../image/shared/aside/bg_aside_buturyuu02.gif) no-repeat 3px 5px !important;
}
.typeF{
background:url(../../image/shared/parts/ttl_h2_img02.gif) no-repeat left top !important;
}

/* UPS Conversion Area
------------------------------------------*/
#ups .ConversionTop {
background:url(../../image/shared/bg_orange_top_1com.gif) no-repeat left top !important;
}
#ups .ConversionBtm {
background:url(../../image/shared/bg_orange_btm_1com.gif) no-repeat left bottom !important;
}
#ups .ConversionInner {
background:url(../../image/shared/bg_orange_mid_1com.gif) repeat-y left top !important;
}

/* SHOP Conversion Area
------------------------------------------*/
#pointshop{
background:url(../../../webservice_guide/image/shop_bg_main_img_ie6.jpg) no-repeat left top;
width:718px;
heihgt:306px;
}

/* point Conversion Area
------------------------------------------*/
#point_bg_main{
background:url(../../../webservice_guide/image/point_bg_main_img_ie6.jpg) no-repeat left top;
width:716px;
heihgt:198px;
}
#point_bg_second{
background:url(../../../webservice_guide/image/point_bg_second_img_ie6.jpg) no-repeat left top;
width:716px;
heihgt:166px;
}