/*==========================================

news

==========================================*/
.newsBox{
padding:15px 0 0 0;
text-align:left;
zoom:100%;
}

.newsBox dl{
margin:0 0 10px 5px;
padding:0 0 0 10px;
zoom:100%;
}
/*
.newsBox dl dt{
width:8em;
}

.newsBox dl dt,
.newsBox dl dd{
float:left;
margin:0 10px 0 0;
}

.newsBox dl dt{
width:125px;
_width:120px;
}

.newsBox dl dd{
width:80px;
}

.tabBlock .newsBox .newsLink{
width:423px !important;
_width:418px !important;
}
*/
.newsBox .newsLink{
line-height:1.2em;
}

.infoArea dl{
clear:both;
zoom:1;
}
.infoArea dl dt{
width:9em;
float:left;
clear:left;
}
.infoArea dl dd{
margin-left:9em;
padding-bottom:10px;
}
.infoArea dl dd.blankLink{
zoom:1;
}
