/*==========================================

Parts

==========================================*/

/* tabArea
-------------------------------------------------- */
#service .tabArea {
text-align: left;
}
.tabArea {
/*padding-top: 50px;*/
margin: 20px auto;
text-align: left;
}
.tabArea:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

.tabArea .tabBtm {
background:url(../../image/shared/parts/bg_main_bt.png) no-repeat left bottom;
padding-bottom:15px;
zoom:1;
}
.tabArea .tabBtm:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

.tabArea .tabInner,
.tabArea .tabInner02 {
padding: 20px 20px 0 18px;
background:url(../../image/shared/parts/bg_main_md.png) repeat-y left top;
position:relative;
zoom:1;
}
.tabArea .tabInner:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.tabArea .tabInner02:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

.tabArea .tabInner div#tab2Body,
.tabArea .tabInner div#tab3Body,
.tabArea .tabInner div#tab4Body,
.tabArea .tabInner div#tab5Body,
.tabArea .tabInner div#tab7Body,
.tabArea .tabInner div#tab8Body,
.tabArea .tabInner div#tab9Body,
.tabArea .tabInner02 div#tab2Body{
display:none;
}

.tabArea h2{
font-size:116%;
color:#FFFFFF;
font-weight:bold;
padding:13px 0 9px 20px;
background:url(../../image/shared/parts/ttl_h2Tab.jpg) no-repeat left top !important;
text-align:left !important;
zoom:100%;
}
/*
#service .tabBlock {
text-align: left;
}

.tabBlock {
padding-top: 50px;
margin: 20px auto;
text-align: left;
}
.tabBlock:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

.tabsectionCont {
background:url(../../image/shared/parts/bg_main_bt.png) no-repeat left bottom;
padding-bottom:15px;
}
.tabsectionCont:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

.tabBody,
.tabBodySev {
padding: 20px 20px 0 18px;
background:url(../../image/shared/parts/bg_main_md.png) repeat-y left top;
position:relative;
}
.tabBody:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.tabBodySev:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

.tabBody div#tab2Body,
.tabBody div#tab3Body,
.tabBody div#tab4Body,
.tabBody div#tab5Body,
.tabBody div#tab7Body,
.tabBody div#tab8Body,
.tabBody div#tab9Body{
display:none;
}
*/

/* tab
-------------------------------------------------- */
.tabArea ul.tabHead,
.tabArea ul.tabHead2col{
padding: 0 0 11px 3px;
background: url(../../image/shared/parts/tabLine.jpg) no-repeat left bottom;
zoom:1;
}
.tabArea ul.tabHead:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.tabArea ul.tabHead2col:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
/*
tabHeadServ--b/index.html,c/index.html

*/
.tabArea ul.tabHead li{
float: left;
width: 143px;
margin-right: 0px;
padding: 10px 18px 0 15px;
font-size: 1.2em;
font-weight: bold;
text-align: center;
color: #333;
}
.tabArea ul.tabHead2col li{
float: left;
width: 351px;
margin-right: 0px;
font-size: 1.2em;
font-weight: bold;
text-align: center;
}

.tabArea ul.tabHead li{
background: url(../../image/shared/parts/tabBtnBg.png) no-repeat left top;
cursor:pointer;
}

.tabArea ul.type01 li {
width: 320px !important;
padding: 10px 18px 0px 15px;
background-image:url(../../image/shared/parts/tabBtnBg2.png) !important;
}

.tabArea ul.type01 li a{
color:#333333;
text-decoration:none;
display:block;
}

.tabArea ul.type02 li a{
width: 320px !important;
padding: 15px 18px 8px 15px;
background-image:url(../../image/shared/parts/tabBtnBg_sevof.jpg) !important;
color:#333333;
text-decoration:none;
display:block;
}
.tabArea ul.type02 li a:hover{
background-image:url(../../image/shared/parts/tabBtnBg_sevon.jpg) !important;
color:#fff;
}

.tabArea ul.type02 li.tabAct{
width: 320px !important;
padding: 15px 18px 8px 15px;
background-image:url(../../image/shared/parts/tabBtnBg_sevon.jpg) !important;
color:#fff;
}

.tabArea ul.tabHead li span,
.tabArea ul.tabHeadServ li span{
padding:0 15px;
}

.tabArea ul.tabHead li.tabCurrent span,
ul.tabHead2col li.tabCurrent span{
color:#fff;
}

.tabArea ul.tabHead li.tabCurrent,
.tabArea ul.tabHead2col li.tabCurrent{
color:#fff;
background: url(../../image/shared/parts/tabBtnBg.png) no-repeat right top;
}

/*
ul.tabHead,
ul.tabHeadServ{
padding: 0 0 11px 3px;
background: url(../../image/shared/parts/tabLine.jpg) no-repeat left bottom;
zoom:1;
}
ul.tabHead:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
ul.tabHeadServ:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

tabHeadServ--b/index.html,c/index.html

ul.tabHead li{
float: left;
width: 143px;
margin-right: 0px;
padding: 10px 18px 5px 15px;
font-size: 1.2em;
font-weight: bold;
text-align: center;
color: #333;
}
ul.tabHeadServ li{
float: left;
width: 351px;
margin-right: 0px;
font-size: 1.2em;
font-weight: bold;
text-align: center;
}

ul.tabHead li{
background: url(../../image/shared/parts/tabBtnBg.png) no-repeat left top;
cursor:pointer;
}

ul.typeHarf li {
width: 320px !important;
padding: 10px 18px 0px 15px;
background-image:url(../../image/shared/parts/tabBtnBg2.gif) !important;
}

ul.typeHarf li a{
color:#333333;
text-decoration:none;
display:block;
}

ul.typeHarfServ li a{
width: 320px !important;
padding: 15px 18px 8px 15px;
background-image:url(../../image/shared/parts/tabBtnBg_sevof.jpg) !important;
color:#333333;
text-decoration:none;
display:block;
}
ul.typeHarfServ li a:hover{
background-image:url(../../image/shared/parts/tabBtnBg_sevon.jpg) !important;
color:#FFF;
}

ul.typeHarfServ li.tabAct{
width: 320px !important;
padding: 15px 18px 8px 15px;
background-image:url(../../image/shared/parts/tabBtnBg_sevon.jpg) !important;
color:#FFF;
}

ul.tabHead li span,
ul.tabHeadServ li span{
padding:0 15px;
}

ul.tabHead li.tabCurrent span,
ul.tabHeadServ li.tabCurrent span{
color: #fff;
}

ul.tabHead li.tabCurrent,
ul.tabHeadServ li.tabCurrent{
color: #fff;
background: url(../../image/shared/parts/tabBtnBg.png) no-repeat right top;
}
*/

/*#document h2 {
padding: 5px;
margin-bottom: 20px;
border-left: 4px #999 solid;
background: #dedede;
font-size: 1.2em;
}

#document dl {
margin-bottom: 20px;
}

#document dt {
float:left;
width:412px;
margin-right: 20px;
padding: 8px;
border: 2px #ccc solid;
}

#document dt p {
color: #f00;
}

#document dd {
float:left;
width:408px;
}

#document dd span {
display: block;
padding: 10px;
}*/



/* bijutsu box */
/*.containerContBox{
margin:0 0 10px 0;
width:681px;
height:163px;
background:url(../../image/shared/img_tel_container.gif) no-repeat;
position:relative;
}

.containerContBox p{
position:absolute;
top:96px;
left:236px;
}*/

/* PDF download
------------------------------------------*/
/*.downloadInfo{
margin-bottom:5px;
}
*/
.downloadImage{
float:left;
padding:3px 20px 0 10px;
}

.downloadText{
text-align:left;
font-size:90%;
margin-right:10px;
padding:2px 0 5px 0;
}
/*
.corporateInfo{
text-align:center;
background:#FFF;
width:715px;
height:540px;
}

.corporateInfo p{
padding-top:15px;
}
*/

/* Corporate Text
------------------------------------------*/
.yakkan dt{
width:100px;
height:auto;
margin:0 1em 0 0;
font-size:105%;
font-weight:bold;
float:left;
text-align:right;
}
.yakkan dd{
width:530px;
float:left;
}

.yakkan_decimal ol{
width:530px;
margin-left:12px;
}
.yakkan_decimal li{
list-style-type:decimal;
}

.yakkan_ja ol{
width:530px;
margin-left:12px;
}
.yakkan_ja li{
list-style-type:cjk-ideographic;
}

.yakkan_none li{
list-style-type:none;
padding-left:2em;
}
.yakkan_none p{
padding-left:2em;
}

.joubun{
margin-bottom:15px;
line-height:1.8em;
}
.joubun dd{
margin-bottom:10px;
}
.date{
text-align:right;
}

/* kojin jouhou */
/*.torikumi{
font-size:90%;
margin-bottom:20px;
}
*/

.torikumi dd {
margin-bottom:20px;
}
.kojin_jouhou{
font-size:100%;
padding-bottom:20px;
}
.kojin_toiawase dt{
float:left;
margin-left:10px;
margin-right:10px;
}
.kojin_toiawase dd{
padding-top:2px;
}

/* group_list追記20140812 */
.group_list .ContentsArea .ContentsArea-2col h2{
font-size: 110% !important;
line-height: 1.3 !important;
letter-spacing: -0.3px;
}

.group_list .ContentsArea .ContentsArea-2col h2.nowrap{
letter-spacing: -0.5px;
/letter-spacing: -1px !important;
}

@-moz-document url-prefix() {
	.group_list .ContentsArea .ContentsArea-2col h2{
		letter-spacing: -1.8px !important;
	}
	.group_list .ContentsArea .ContentsArea-2col h2.nowrap {
		letter-spacing: -1.8px !important;
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.group_list .ContentsArea .ContentsArea-2col h2 {
		letter-spacing: -1.8px !important;
	}
	.group_list .ContentsArea .ContentsArea-2col h2.nowrap {
		letter-spacing: -1.8px !important;
	}
}