/*==========================================

	Popup

==========================================*/

/* Close Button
-----------------------------*/
.closeBTN{
margin-top:20px;
text-align:center;
margin-bottom:15px;
}

.normalBtn{
overflow:visible;
padding:0 5px;
background-color:#DDDDDD;
}

/* Copyright
-----------------------------*/
.copyright{
padding:30px 0 0 0;
color:#333;
font-size:88%;
}

/* Parts(banner/index2.html)
-----------------------------*/
ul.checkboxLi{
line-height:1.8;
}



