@charset "shift_jis";

@import "common.css";
@import "base_layout.css";
@import "parts.css";
@import "table.css";

/*==========================================

print

==========================================*/

* html body{
zoom:80%;
}
* html body#top{
zoom:67% !important;
}

#aside,
#globalNav,
#headerIn .home_co,
#headerIn .reader,
#headerNavi,
#headerInfoNavi,
#lowerNav,
.footerNavi,
.breadcrumb,
.pageTop,
.mapPrint{
display:none !important;
}

#header{
background:none;
}

#footImg{
padding-top:0;
background:none;
}
#footerIn .copyright{
color:#000000;
float:none;
}

body#top #aside{ display: block !important;}
/*body#top .topCon2colutBox{ _position:relative;}
body#top .topLeftSectionCont{ _position:absolute; _top:0; _left:0;}
body#top .topRightSectionCont{ _position:absolute; _top:0; _left:530px;}
body#top .list1,body#top{ _position:absolute; _bottom:10px; _right:20px;}*/

body {
background: none !important;
overflow: visible !important;
}

#container,
#contentsContainer{
background: none !important;
overflow: visible !important;
}

.ContentsArea .ContentsInner,
.ContentsArea .ContentsArea-2col .ContentsInner,
.ContentsArea .secCont4clm .sectionCont .inner {
overflow: visible !important;
}

.noP{
display:none;
}

/*----*/
* html #main .ContentsArea .articleTypeA{
border-top:#FDD000 solid 3px;
width:690px;
margin-left:3px;
padding:10px 10px 5px;
}

table.serviceType{
border:none;
}
table.serviceType td{
border:2px #333 solid;
}
table.serviceType td.active{
border:none;
}



