/*==========================================

reset

==========================================*/
ul,li,dl,dt,dd,ol{
margin:0;
padding:0;
}

li{
list-style-type:none;
}

img{
border:0;
}

p{
margin:0;
padding:0;
}

h1,h2,h3,h4,h5{
margin:0;
padding:0;
font-size:100%;
line-height:100%;
font-weight:normal;
}

th{
font-weight:normal;
text-align:left;
}

td{
text-align:left;
}

form{
margin-top:0;
margin-bottom:0;
}