/*==========================================

services

==========================================*/

/* --------------------------------------------------
 h1LogoArea
-------------------------------------------------- */
div#h1LogoArea {
margin-top:8px;
}
div#h1LogoArea:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
div#h1LogoArea h1 {
padding-top:0 !important;
float:left;
}


/* kojinlink
----------------------------------*/
div#h1LogoArea p.kojinlink {
margin-right:3px;
float:right;
}
div#h1LogoArea p.kojinlink a {
background:url(../../image/shared/icon_kojin.gif) no-repeat left center;
padding:2px 0 0 20px;
}
*html div#h1LogoArea p.kojinlink a {
padding:3px 0 4px 20px;
zoom:1;
}


/* hojinlink
----------------------------------*/
div#h1LogoArea p.hojinlink {
margin-right:3px;
float:right;
}
div#h1LogoArea p.hojinlink a {
background:url(../../image/shared/icon_houjin.gif) no-repeat left center;
padding:2px 0 0 20px;
}
*html div#h1LogoArea p.hojinlink a {
padding:3px 0 4px 20px;
zoom:1;
}



/* --------------------------------------------------
 copyArea
-------------------------------------------------- */
div#copyArea {
width:718px;
text-align:left;
background:url(../../image/shared/parts/back_repeat.gif) repeat-y left top;
}
div#copyArea div.copyTopInner {
padding-top:20px;
background:url(../../image/shared/parts/back_top.gif) no-repeat left top;
}
* html div#copyArea div.copyBottomInner {
padding-bottom:25px;
}
div#copyArea div.copyBottomInner {
padding-bottom:20px;
background:url(../../image/shared/parts/back_bottom.gif) no-repeat left bottom;
}
* html div#copyArea div.copyTopInner {
padding-top:25px;
}
div#copyArea div.copyBottomInner:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

div#copyArea div.copyBox {
display:table;
height:auto;
width:100%;
}
* html div#copyArea div.copyBox {
position:relative;
}
*+html div#copyArea div.copyBox {
position:relative;
}

/* text
----------------------------------*/
div#copyArea div.text {
width:480px;
margin:0 15px;
}
div#copyArea div.text p.mainCopy {
font-size:138.5%;/* renders 18px */
font-weight:bold;
color:#008576;
}
div#copyArea div.text p.subCopy {
margin-top:5px;
}

/* btn
----------------------------------*/
div#copyArea div.btn {
display:table-cell;
vertical-align:middle;
}
* html div#copyArea div.btn {
position:absolute;
top:50%;
}
*+html div#copyArea div.btn {
position:absolute;
top:50%;
}
div#copyArea div.btn p.btnInner {
margin-right:21px;
}
* html div#copyArea div.btn p.btnInner {
position: relative;
top:-50%;
float:right;
margin-right:12px;
}
*+html div#copyArea div.btn p.btnInner {
position:relative;
top:-50%;
float:right;
margin-right:12px;
}


/* --------------------------------------------------
 boxsize
-------------------------------------------------- */
.boxsize{
clear: both;
margin-bottom: 20px;
}
.boxsize .box-image{
float: left;
margin-right: 10px;
}
.boxsize .box-text{
width: 550px;
float: left;
}
.boxsize .box-text p{
margin-bottom:5px;
}


/* --------------------------------------------------
 serviceType
-------------------------------------------------- */
#main .ContentsLeft {
width:508px;
float:left;
}
#main .ContentsLeft h2{
font-size:116%;
color:#FFFFFF;
font-weight:bold;
background:url(../../image/shared/parts/ttl_h2_2clm_3Q.png) no-repeat left top;
text-align:left;
padding:15px 0 7px 20px;
margin-bottom:0;
}
#main .ContentsLeft .ContentsBtm {
background:url(../../image/shared/portal/bg_main_bt_3q.png) no-repeat left bottom;
padding-bottom:14px;
zoom:1;
}
#main .ContentsLeft .ContentsInner {
text-align:left;
padding-bottom:0;
background:url(../../image/shared/portal/bg_main_md_3q.png) repeat-y left top;
}
#main .ContentsLeft .ContentsInner:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
#main .ContentsLeft .article{
border-top: 3px solid #FDD000;
margin-left: 3px;
padding: 10px 15px 5px;
width: 471px;
}
#main .ContentsLeft .article:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

#main .ContentsRight {
width:198px;
float:right;
}
#main .ContentsRight h2{
font-size:116%;
color:#FFFFFF;
font-weight:bold;
background:url(../../image/shared/parts/ttl_h2_2clm_1Q.png) no-repeat left top;
text-align:left;
padding:15px 10px 7px 20px;
margin-bottom:0;
}
#main .ContentsRight .ContentsBtm {
background:url(../../image/shared/portal/bg_main_bt_1q.png) no-repeat left bottom;
padding-bottom:14px;
zoom:1;
}
#main .ContentsRight .ContentsInner {
text-align:left;
padding-bottom:0;
background:url(../../image/shared/portal/bg_main_md_1q.png) repeat-y left top;
}
#main .ContentsRight .ContentsInner:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
#main .ContentsRight .article{
border-top: 3px solid #FDD000;
margin-left: 3px;
padding: 10px 15px 5px;
width: 161px;
}
#main .ContentsRight .article:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

/* table
----------------------------------*/
table.serviceType{
border-top:#BFB6A2 1px solid;
border-left:#BFB6A2 1px solid;
margin-top:5px;
}
table.serviceType td {
background:url(../../image/shared/parts/bg_serviceType_off.gif) repeat-x left bottom #fff;
text-align:center;
padding:3px;
width:78px;
border-bottom:#BFB6A2 1px solid;
border-right:#BFB6A2 1px solid;	
}

/* inactive */
table.serviceType td.inactive {
background:url(../../image/shared/parts/bg_serviceType_on.gif) repeat-x left bottom #c6bdb0;
color:#594A40;
}
table.serviceType td.inactive a:link {color:#594A40; text-decoration:none;}
table.serviceType td.inactive a:visited {color:#594A40; text-decoration:none;}
table.serviceType td.inactive a:hover {color:#594A40; text-decoration:underline;}
table.serviceType td.inactive a:active {color:#594A40; text-decoration:underline;}

/* blank */
table.serviceType td.blank {
background:none;
border-bottom:none;
border-right:none;	
}


/* move from base_layout.css
----------------------------------*/
#main .secCont3Qclm .sectionCont {
background:url(../../image/shared/portal/bg_main_bt_3q.png) no-repeat left bottom;
}

#main .secCont3Qclm .sectionCont .inner {
background:url(../../image/shared/portal/bg_main_md_3q.png) repeat-y left top;
}

#main .secCont1Qclm .sectionCont {
background:url(../../image/shared/portal/bg_main_bt_1q.png) no-repeat left bottom;
}

#main .secCont1Qclm .sectionCont .inner {
background:url(../../image/shared/portal/bg_main_md_1q.png) repeat-y left top;
zoom:100%;
}


/*------------------------------------------
@ convers
------------------------------------------*/
* html #convers .caption a{
padding-left:1em;
}


/*------------------------------------------
@ Conversion Area
------------------------------------------*/
.ConversionTop {
margin-top:20px;
padding-top:10px;
background:url(../../image/shared/bg_orange_top.gif) no-repeat left top;
clear:both;
zoom:1;
}

.ConversionBtm {
background:url(../../image/shared/bg_orange_btm.gif) no-repeat left bottom;
padding-bottom:11px;
}

.ConversionInner {
padding:10px 18px;
text-align:left;
background:url(../../image/shared/bg_orange_mid.gif) repeat-y left top;
zoom:1;
}
.ConversionInner:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

.ConversionTop .ConversionTtl {
margin-bottom:10px;
}
.ConversionTop p.bold {
font-size:120%;
}

.ConversionTop .btnArea {
margin:0 0 20px;
text-align:center;
clear:both;
}
.ConversionTop .btnArea:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.ConversionTop .phoneNumArea {
margin-bottom:10px;
clear:both;
}

.ConversionTop .asetBox {
width:336px;
padding:13px 0 10px 0;
text-align:center;
background:url(../../image/shared/bg_asetBox.gif) no-repeat;
}

.ConversionTop .asetBox1com {
width:681px;
height:81px;
padding-top:13px;
background:url(../../image/shared/bg_asetBox1com.gif) no-repeat;
}

.ConversionTop .asetBox2com {
width:336px;
height:81px;
padding-top:13px;
margin-right:10px;
background:url(../../image/shared/bg_asetBox2com.gif) no-repeat;
float:left;
}

.ConversionTop .asetBox3com {
width:221px;
height:81px;
padding-top:13px;
margin-right:9px;
background:url(../../image/shared/bg_asetBox3com.gif) no-repeat;
float:left;
}

.ConversionTop .asetBox4com {
width:336px;
height:97px;
padding-top:13px;
margin-right:10px;
background:url(../../image/shared/bg_asetBox4com.gif) no-repeat;
float:left;
}

.ConversionTop .asetBox1com dt,
.ConversionTop .asetBox2com dt,
.ConversionTop .asetBox3com dt,
.ConversionTop .asetBox4com dt {
line-height:0;
margin-bottom:5px;
}
/* IE7 */
*:first-child+html .ConversionTop .asetBox1com dt,
*:first-child+html .ConversionTop .asetBox2com dt,
*:first-child+html .ConversionTop .asetBox3com dt,
*:first-child+html .ConversionTop .asetBox4com dt {
margin-bottom:0;
}
.ConversionTop .last-child {
margin-right:0;
}

.ConversionTop .singleBtn.btnArea{
margin:0 0 10px;
text-align:center;
clear:both;
}
.ConversionTop .singleBtn.btnArea:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

.ConversionTop .singleBtn .asetBox1com,
.ConversionTop .singleBtn .asetBox2com,
.ConversionTop .singleBtn .asetBox3com,
.ConversionTop .singleBtn .asetBox4com {
height:102px;
padding-top:22px;
}

.ConversionTop ul.textLink{
margin-top:10px;
}
.ConversionTop ul.textLink:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.ConversionTop ul.textLink li.blankLink {
width:214px;
margin-bottom: 15px!important;
/*margin: 0 67px 15px 0 !important;*/
float:left;
}
.ConversionTop ul.textLink li.blankLink.last {
margin: 0 !important;
clear:both;
}
.ConversionTop p.blankLink,
.ConversionTop ul.list-notice {
clear:both;
}

/*------------------------------------------------------------------------------------------------------*/
.bg_orange .sectionContBox{
margin-bottom:15px;
background:url(../../image/shared/bg_orange_top.png) no-repeat left top !important;
padding-top:10px;
}

.bg_orange .sectionCont {
background:url(../../image/shared/bg_orange_btm.png) no-repeat left bottom !important;
padding-bottom:11px;
}

.bg_orange .sectionCont .inner {
background:url(../../image/shared/bg_orange_mid.png) repeat-y left top;
overflow:hidden
}

.bg_orange .bodTopIn710{
border-top: none !important;
}

.bg_orange .bodTopIn710 p.bold{
font-size:120%;
}


/* move from parts.css
----------------------------------*/
/* USP box */
.uspBox{
margin:0 0 10px 0;
width:681px;
height:101px;
position:relative;
}

.uspBox p{
position:absolute;
top:36px;
right:20px;
}

/* bijutsu box */
.bijutsuContBox{
margin:0 0 10px 0;
width:681px;
height:101px;
background:url(../../image/shared/img_tel_bijutsu.gif) no-repeat;
position:relative;
}

.bijutsuContBox p{
position:absolute;
top:25px;
right:35px;
}