/*==========================================

table

==========================================*/

/* Common
----------------------------------*/
table {
width:100%;
border-collapse:collapse;	
border-spacing:0;
}

td {
text-align:left;
background:#FFFFFF;
}

/* defaultTable
----------------------------------*/
.defaultTable {
border:1px solid #CCCCCC;
}

.defaultTable th {
background:#e9e6e0;
border:1px solid #CCCCCC;
font-weight:bold;
color:#444;
padding:10px 10px 10px 15px;
}

.defaultTable td {
background:#FFFFFF;
padding:10px 10px 10px 15px;
border:1px solid #CCCCCC;
vertical-align:middle;
}

/* infoTable
----------------------------------*/
.infoTable {
margin-top:3px;
/*margin:3px 0 20px;
line-height:1.4em;*/
border:solid 1px #d3cec2;
}

.infoTable th {
text-align:left;
font-weight:bold;
color:#666666;
background:#e9e6e0;
}

.infoTable td,.infoTable th {
padding:9px 12px;
border:solid 1px #d3cec2;
vertical-align:middle;
}

#corporate .infoTable td,
#corporate .infoTable th {
padding:12px;
}


/* verticalTable
----------------------------------*/
.verticalTable{
border-top:1px solid #CCCCCC;
border-left:1px solid #CCCCCC;
}

.verticalTable th{
background:#E9E6E0;
font-weight:bold;
color:#666666;
text-align:center;
padding:10px 10px 10px 10px;
border-right:1px solid #CCCCCC;
border-bottom:1px solid #CCCCCC;
}

.verticalTable td{
background:#FFFFFF;
text-align:center;
padding:10px 10px 10px 10px;
border-right:1px solid #CCCCCC;
border-bottom:1px solid #CCCCCC;
vertical-align:middle;
}

.verticalTable td.sub{
background:#F6F5F3;
text-align:center;
font-weight:bold;
color:#666666;
}

.tableAlignC th,
.tableAlignC td{
text-align:center;
}

.thSubColor{
background-color:#F2F1EE !important;
}

/* download page (use:/company/keireki.html) */
.download {
width:100%;
border:none;
}
.download th {
width:85%;
border:none;
font-weight:normal;
text-align:left;
padding:3px 12px 7px;
}
.download td {
text-align:right;
padding:3px 12px 7px;
}