/*==========================================

top

==========================================*/
#headerIn h1{
padding:32px 0 0 10px;
}
#headerIn h1 img{
margin:0;
}

#top #contentsContainer{
margin-top:12px;
}
#top #main{
margin-top:3px;
}

.topCon2colutBox{
margin:0 0 15px 0;
text-align:left;
position:relative;
background:url(../../image/top/bg_top_3clm_btm.png) no-repeat left bottom;
zoom:100%;
}
.topCon2colutBox:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

.topLeftSectionCont{
float:left;
width:530px;
padding:0 0 10px 0;
zoom:100%;
}
.topLeftSectionCont:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

.topLeftInner{
padding:0 0 0 3px;
background: url(../../image/top/bg_top_3clm_top.jpg) no-repeat left top;
zoom:100%;
}
.topLeftInner:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

.topLeftInner dl{
float:left;
width:155px;
margin:8px 10px 0 10px;
_margin:8px 0 0 0;
_padding:0 10px;
zoom:100%;
}

.topLeftInner dl dt{
margin:0 0 15px 0;
zoom:100%;
}

.topLeftInner dl dd{
margin:0 0 10px 0;
}

.topLeftInner dl dd ul{
margin:0;
padding:0;

}
.topLeftInner dl dd ul li{
font-weight:bold;
background:url(../../image/shared/portal/icon_01.gif) no-repeat 3px 0.3em;
padding:0 0 10px 22px;
zoom:1;
}

.topLeftInner dl dd.banner a{
padding:0;
background-image:none;
text-align:center;
}

.topLeftInner dl dd ul li.list1,
.topLeftInner dl dd ul li.list2,
.topLeftInner dl dd ul li.list3{
position:absolute;
bottom:0;
_bottom:10px;
_width:5.5em;
font-size:92%;
_font-size:85%;
zoom:100%;
text-align:right;
background-image: none;
}

.topLeftInner dl dd ul li.list1{
right:549px;
}

.topLeftInner dl dd ul li.list2{
right:375px;
}

.topLeftInner dl dd ul li.list3{
right:205px;
}

.topLeftInner dl dd ul li.list1 a,
.topLeftInner dl dd ul li.list2 a,
.topLeftInner dl dd ul li.list3 a{
background:url(../../image/shared/parts/arrow_link.gif) no-repeat 3px 5px;
padding:0 0 0 13px;
text-align:right;
font-weight:normal;
}

.topRightSectionCont{
float:left;
width:188px;
padding:0 0 10px 0;
background:url(../../image/top/bg_top_1clm_btm.png) no-repeat left bottom;
}
.topRightSectionCont:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

.topRightInner{
padding:0 0 5px 6px;
background:url(../../image/top/bg_top_1clm_top.png) no-repeat left top;
zoom:100%;
}
.topRightInner:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

.topRightInner dl{
width:155px;
margin:0px 10px 0;
_margin:8px 0 0 0;
padding:8px 0 0 0;
_padding:0px 10px 0 9px;
}

.topRightInner dl dt{
margin:0 0 15px 0;
}

.topRightInner dl dd{
margin:0 0 10px 0;
}

.topRightInner dl dd ul li{
font-weight:bold;
background:url(../../image/shared/portal/icon_01.gif) no-repeat 0 0.3em;
padding:0 0 10px 20px;
}

.topRightInner dl dd.banner a{
margin:0 0 0 2px;
padding:0;
background-image:none;
text-align:center;
}

.topRightInner .subttl{
font-weight:bold;
color:#17544A;
}

.topLeftInner dl dd ul li.blankLink,
.topRightInner dl dd ul li.blankLink{
background-image:none !important;
padding-left: 16px;
}

/*------------------------------------------
@ News(move from base_layout.css)
------------------------------------------*/

.newsBox{
padding:15px 0 0 0;
text-align:left;
zoom:100%;
}

.newsBox dl{
margin:0 0 10px 5px;
padding:0 0 0 10px;
zoom:100%;
}

.newsBox dl dt{
width:9em;
/*width:18%;*/
float:left;
clear:left;
}

.newsBox dl dd{
margin-left:9em;
}

/*.newsBox dl dt{
width:125px;
_width:120px;
}

.newsBox dl dd{
width:80px;
}
*/
.newsBox .newsLink{
line-height:1.2em;
}

.tabBlock .newsBox .newsLink{
width:423px !important;
_width:418px !important;
}
* html .newsBox .newsLink a{
padding-top:0.1em !important;
padding-bottom:0.1em !important;
}
* html .newsBox .newsLink.defaultLink a{
padding-top:0.1em !important;
padding-bottom:0.1em !important;
zoom:1;
}

.newsIndBox dl dd{
width:500px !important;
_width:480px !important;
}

.newsTtlBold{
font-weight:bold;
background:url(../../image/shared/bg_newsttl.png) no-repeat bottom left;
padding:0 25px 15px 10px;
margin:0 0 15px 0;
border: none !important;
zoom:1;
}

.newsTtl{
background:url(../../image/shared/bg_newsttl.png) no-repeat bottom left;
padding:0 25px 18px 10px;
margin:0 0 15px 0;
zoom:1;
}
.newsTtl:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

.newsTtl p{
float:left;
}

.newsTtl ul{
float:right;
}

.newsTtl ul li{
display:inline;
margin:0 0 0 10px;
}

.infoBox dl dd a{
display:block;
}