@charset "shift_jis";

/*==========================================

layout_ybm

==========================================*/
/* receive.css */
dl.memberLogin_ybm{
background-color:#D7EFEC;
margin: 10px 0 0;
padding: 10px 28px;
zoom:1;
clear:both;
}

dl.memberLogin_ybm:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
dl.memberLogin_ybm dt{
margin-bottom:5px;
clear:both;
}
dl.memberLogin_ybm dd{
float:left;
}

/*widthは並べたい枚数にあわせて調整*/
#howto{
    width:682px;
}

dl.hdl{
    margin:0px;
    padding:0px;
    margin-bottom:1em;
    float:left;
    width:336px;
	height:110px;
	background-repeat:no-repeat;
	background-image:url(../../../common/image/shared/bg_asetBox4com.gif)
}

dl.hdl2{
    margin:0px;
    padding:0px;
    float:left;
    width:336px;
	height:110px;
	background-repeat:no-repeat;
	background-image:url(../../../common/image/shared/bg_asetBox4com.gif)
}

dl.hdl3{
    margin:0px;
    padding:0px;
    margin-bottom:1em;
    float:left;
    width:336px;
	height:180px;
	background-repeat:no-repeat;
	background-image:url(../../../common/image/shared/bg_asetBox5com.gif)
}

dl.hdl4{
    margin:0px;
    padding:0px;
    float:left;
    width:336px;
	height:180px;
	background-repeat:no-repeat;
	background-image:url(../../../common/image/shared/bg_asetBox5com.gif)
}

dt.hdt{
    margin:0px;
    padding:0px;
}

dd.hdd{
    margin:0px;
    padding:4px;
}

dd.hdd2{
    margin:0px;
    padding:4px 15px;
}

#ybm table {
width:100%;
border-collapse:collapse;
border-spacing:0;
}

#ybm td {
text-align:left;
background:#D7EFEC;
}
