/*==========================================

receive

==========================================*/
.buttonArea{
margin-top:20px;
}
.buttonArea .button{
width:225px;
margin:0 2px 0 0;
}
.buttonArea .button2{
width:338px;
margin:0 2px 0 0;
}
.buttonArea dl dt{
color:#008576;
}

/* top
------------------------------------------*/
.howToReceiveBox p a.defaultLink,
.receiveConv p a.defaultLink{
display:block;
}
* html .howToReceiveBox p a,
* html .receiveConv p a{
padding-left: 13px !important;
}
/*mac safari hack*/
body:first-of-type .howToReceiveBox a.blankLink,
body:first-of-type .receiveConv a.blankLink{
background-position:2px 0.2em !important;
}

.howToReceiveBox .leftBox{
float:left;
width:325px;
}
.howToReceiveBox .rightBox{
float:right;
width:335px;
padding:0 10px 0 0;
}

.convenientBox dt{
float:right !important;
margin:0 10px 0  0 !important ;
_margin:0 5px 0 0 !important;
}

.convenientBox dd{
float:left !important;
margin:0 0 0 10px !important;
_margin:0 0 0 5px !important;
}

.bottomLoginBox{
background-color:#FFF6CC;
margin:10px 0 0 0;
padding:10px 140px;
text-align:center;
}

.bgBtnBoxT06{
float:left;
width:235px;
margin:0 auto;
background:url(../../common/image/shared/bg_btnBoxT06.gif) no-repeat top left;
text-align:left;
}

.bgBtnBoxB06{
padding:14px 15px;
width:235px;
_width:205px;
background:url(../../common/image/shared/bg_btnBoxB06.gif) no-repeat bottom left;
}

#main .bgBtnBoxB06 p.btn{
font-size:125%;
margin:0 0 0 -20px;
_margin:0 0 0 -10px;
text-align:center;
}

/* callCenter 
------------------------------------------*/
.callNumber{
padding:0px 5px　0 5px;
margin:0 0 10px 0;
}

.bg_callCenter{
background: url(../image/call_ceneter/bg_freeCall.png) no-repeat 0 bottom;
padding:0px 0 0px 0;
zoom:100%;
}

.bg_callCenter .inner,
.bg_callCenter .sectionCont{
background: none !important;
}

/* redelivery
------------------------------------------*/
.howToRedelivery dl{
margin-bottom:5px;
}

.bg_redelivery{
background:url(../image/redelivery/img_redelivery_bg.png) no-repeat 0 bottom;
padding:0px 0 0 0;
zoom:100%;
}

.bg_redelivery .inner,
.bg_redelivery .sectionCont{
background: none !important;
}

ul.redeliveryTime {
margin:0 !important;
text-indent:0 !important;
}
.redeliveryTime li {
width:110px;
float:left;
padding:0 5px 5px 0;
margin:0 !important;
text-indent:0 !important;
color:#008576;
}