/*==========================================

Send

==========================================*/
#send .ContentsArea{
position:relative;
}

#send .ContentsArea p.ttlSubLink,
#send .tabArea p.ttlSubLink{
position:absolute;
top:12px;
right:15px;
}

#send .tabArea {
margin-top:0;
/*padding:0 0 14px;*/
position:relative;
zoom:100%;
}

#send .tabBtm {
background:url(../image/send/bg_send_tab.png) no-repeat left bottom;
padding-bottom:14px;
zoom:100%;
}

#send .tabInner {
padding:10px 20px 0;
_padding:10px 10px 0 15px;
background:none !important;
zoom:100%;
}

#send div.bgBtnBlockSendType div,
#send div.bgBtnBlockSendType div.bgBtnBoxT03 div{
display: table-cell;
/*display:inline;
zoom:1;*/
vertical-align: middle;
}

#send .bgBtnBlockSendTypeIn{
width:225px;
background:url(../image/send/bg_btnBoxSendTypeT.gif) no-repeat left top;
padding:15px 0 0;
float:left;
}

#send .bgBtnBoxT03{
background:url(../image/send/bg_btnBoxSendTypeB.gif) no-repeat left bottom;
width:208px;
margin:0 2px 0 0;
padding:0 10px 13px;
}

#send .bgBtnBoxT03 a.defaultLink{
width:105px;
_width:95px;
display:block;
}
*:first-child+html #send .bgBtnBoxT03 a.defaultLink{
width:105px;
}

#send .bgBtnBoxSendPurposeT{
width:339px;
background:url(../image/send/bg_btnBoxSendPurposeT.gif) no-repeat top left;
}

#send .bgBtnBoxSendPurposeB{
background:url(../image/send/bg_btnBoxSendPurposeB.gif) no-repeat bottom left;
}

#send .bgBtnBoxSendPurposeB .inner{
padding:18px 15px 10px 15px;
background:url(../image/send/icon_send_purpose.gif) no-repeat 10px 14px;
}

#send .bgBtnBoxSendPurposeB p{
padding-left:26px;
}

#send .bgBtnBoxSendPurposeB a.defaultLink{
width:270px;
display:block;
}

#send .subClmSltLink{
margin-top:12px;
padding:12px 0 8px;
background-color:#D7EFEC;
text-align:center;
}

/* IE 6 */
* html div.bgBtnBoxT03 div,
* html div.bgBtnBlockSendType div,
* html div.bgBtnBlockSendType div.bgBtnBoxT03 div{
display: inline;
zoom: 1;
}

/* IE 7 */
*:first-child+html div.bgBtnBoxT03 div,
*:first-child+html div.bgBtnBlockSendType div,
*:first-child+html div.bgBtnBlockSendType div.bgBtnBoxT03 div{
display: inline;
zoom: 1;
}

/*\*//*/
* html div.bgBtnBoxT03 div,
* html div.bgBtnBlockSendType div,
* html div.bgBtnBlockSendType div.bgBtnBoxT03 div{
	display: inline-block;
}
/**/

.typeNavi{
vertical-align:top;
}
.typeNavi .illust{
float:left;
width:65px;
}
.typeNavi .detial{
float:right;
width:125px;
}

.packageNavi{
width:224px;
}
.packageNavi .illust{
float:left;
width:61px;
}
.packageNavi .detial{
float:right;
width:150px;
_width:100px;
}

/* preparation
------------------------------------------*/
.preparationLeftBox{
float:left;
width:520px;
}
.preparationRightBox{
float:right;
width:150px;
}

/* Button
------------------------------------------*/
.btnmemIntBox {
width: 235px;
}
.btnmemIntBox a {
background: url("../../common/image/shared/bg_btnBoxT06.gif") no-repeat scroll left top transparent;
cursor: pointer;
display: block;
padding: 20px 0 0;
width: 235px;
}
.btnmemyw {
margin: 0 auto !important;
}
.btnmemyw a {
background: url("../../common/image/shared/bg_btnBoxT04.gif") no-repeat scroll left top transparent !important;
cursor: pointer;
display: block;
padding: 20px 0 0;
text-align: left;
width: 235px;
}
.btnmemIntIn {
background: url("../../common/image/shared/bg_btnBoxB06.gif") no-repeat scroll left bottom transparent;
display: block;
padding: 0 15px 18px 24px;
width: 195px;
}
.btnmemIntyw {
background: url("../../common/image/shared/bg_btnBoxB04.gif") no-repeat scroll left bottom transparent !important;
display: block;
padding: 0 15px 18px 24px;
width: 195px;
}
.btnmemIntIn span {
background: url("../../common/image/shared/parts/arrow_link.gif") no-repeat scroll 70px 0.5em transparent;
color: #003399 !important;
display: block;
padding: 0 0 0 20px;
}
.btnmemIntIn span.sendInd {
background: url("../../common/image/shared/parts/arrow_link.gif") no-repeat scroll 5px 0.5em transparent;
color: #003399 !important;
display: block;
padding: 0 0 0 20px;
}
.btnmemIntIn span.btnTxtBlankLog {
background: url("../../common/image/shared/parts/blank_link.gif") no-repeat scroll 60px 0.4em transparent !important;
}
.btnmemIntIn span.btnTxtBlank {
background: url("../../common/image/shared/parts/blank_link.gif") no-repeat scroll 40px 0.4em transparent !important;
}
.btnmemIntyw span.btnTxtBlank {
background: url("../../common/image/shared/parts/blank_link.gif") no-repeat scroll 0 0.4em transparent !important;
}



