body {
	background: #666666;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #000000;
	background-color: #e1e1e1;
}
#container {
	width: 960px;
	background: none;
	margin: 0 auto;
	text-align: left;
}
img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#mainContent {
}
#main-visual  {
	margin: 0 0 15px 0;
	height: 300px;
	width: 960px;
	position: relative;
}
#main-cover {
	position: absolute;
}
#movie-area  {
	margin: 0 0 15px 0;
	height: 540px;
	width: 960px;
	position: relative;
}
#movie-window {
	height: 280px;
	width: 498px;
	position: absolute;
	left: 35px;
	top: 154px;
}
#item-area {
	margin: 0 0 30px 0;
	width: 960px;
}
.item1 {
	margin: 0 15px 15px 0;
	float: left;
	height: 310px;
	width: 310px;
}
.item2 {
	margin: 0 0 15px 0;
	float: left;
	height: 310px;
	width: 310px;
}
.clear {
	clear: both;
}

.pageTop{
margin-bottom:20px;
}
