@charset "UTF-8";

.work-read {
	font-size:16rem;
	line-height:140%;
	font-weight:bold;
	margin:10px;
}


#towa {
	margin:10px;
	padding:0;
}

.towa-field-towa {
	background-image:url(../images/field_bg.png);
	background-repeat:repeat-x;
	padding:5px;
	font-size:14rem;
	color:#FFF;
}

.towa-field-text {
	background-color:#FBDBC0;
	padding:5px;
	font-size:14rem;
	color:#000;
}

.towa-cast-towa {
	background-image:url(../images/cast_bg.png);
	background-repeat:repeat-x;
	padding:5px;
	font-size:14rem;
	color:#FFF;
}

.towa-cast-text {
	background-color:#FDE4C4;
	padding:5px;
	font-size:14rem;
	color:#000;
}

h3 {
	font-size:16rem;
	border-left: 10px solid #F8B500;
	border-bottom:solid 1px #F8B500;
	line-height: 140%;
	padding-left: 5px;
	color:#000;
}

#youkou {
	background-color:#FFF5E0;
	border: 5px solid #F8B500;
	padding:10px 10px 20px 10px;
	margin:10px;
}

h3.youkou {
	font-size:14rem;
	border-left: 10px solid #F8B500;
	border-bottom:solid 1px #F8B500;
	line-height: 140%;
	padding-left: 5px;
	color:#000;
}

.youkou_text {
	font-size:14rem;
	line-height: 140%;
	padding-left: 15px;
	color:#000;
}

.youkou_text2 {
	font-size:12rem;
	line-height: 140%;
}

.yarigai {  
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	background-color:#208040;
	padding:5px;
	margin:10px 0 10px 0;
	font-size:14rem;
	line-height: 140%;
	color:#FFF;
} 

.yarigai_text {
	font-size:14rem;
	line-height: 140%;
	margin:5px 10px 10px 10px;
	color:#000;
}

.epsode {  
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	background-color:#005D9A;
	padding:5px;
	margin:10px 0 10px 0;
	font-size:14rem;
	line-height: 140%;
	color:#FFF;
}

.episode_text {
	font-size:14rem;
	line-height: 140%;
	margin:10px 10px 20px 10px;
	color:#000;
}

.episode_text_last {
	font-size:14rem;
	line-height: 140%;
	margin:10px 10px 40px 10px;
	color:#000;
}