html{
    font-size: 6.25%;
}

body{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	-webkit-text-size-adjust: none;
	}

#wrap{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
	
div.text {
	font-size:14rem;
	line-height:140%;
	margin:10px;
}

div.text-last {
	font-size:14rem;
	line-height:140%;
	margin:10px 10px 40px 10px;
}

div.small {
	font-size:12rem;
	line-height:120%;
	margin:0 20px 20px 20px;
}

.clear{
	clear:both;
}


/*---------ヘッダー---------*/

img.logo {
	margin:15px 0 0 10px;
}

/*----------メイン----------*/

#title-image {
	margin: 10px;
}

#title-image2 {
	margin: 5px 10px 0 10px;
}

/*----------フッター----------*/

#footer{
	text-align:center;
	font-size:10px;
	height:30px;
	padding:20px 0px 0px 0px;
	background-color:#007733;
	color:#ffffff;
}

/*----------矢印つきリスト　シングル----------*/
.list ul{
 	list-style: none;
	margin: 10px;
	padding: 0px;
 }
 
 .list ul li{
 	overflow: hidden;
 	margin: 0;
 	width: 100%;
 	text-align: left;
 	padding: 0;
	border-radius: 8px 8px 8px 8px;
 	border: 1px #ccc solid;
 	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0));
 	background: linear-gradient(#fff, #f0f0f0);
 	display:block;
 	-webkit-box-shadow:0px 3px 3px rgba(000,000,000,0.1);
 	box-shadow:0px 3px 3px rgba(000,000,000,0.1);
 }
 
 .list ul li a{
 	color: #333;
 	display: block;
 	height: 44px;
 	margin: 0;
 	padding: 0 0 0 10px;
 	overflow: hidden;
 	white-space: nowrap;
 	line-height: 44px;
 	text-overflow: ellipsis;
 	text-decoration: none;
	font-size:14rem;
 }
 
 .list ul li a::after{
 	content: url(../images/list_mark1.png);
 	float: right;
	margin:13px 10px 0 0;
 }
 
 /*----------矢印つきリスト　2つ以上----------*/
 
 .list2 ul{
 	list-style: none;
	margin: 10px;
	padding: 0px;
 }
 
 .list2 ul li{
 	overflow: hidden;
 	margin: 0;
 	width: 100%;
 	text-align: left;
 	padding: 0;
 	border: 1px #ccc solid;
 	border-bottom: 0;
 	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0));
 	background: linear-gradient(#fff, #f0f0f0);
 	display:block;
 	-webkit-box-shadow:0px 3px 3px rgba(000,000,000,0.1);
 	box-shadow:0px 3px 3px rgba(000,000,000,0.1);
 }
 
 .list2 ul li:first-child{
 	border-radius: 8px 8px 0 0;
 }
 
 .list2 ul li:last-child{
 	border-radius: 0 0 8px 8px;
 	border-bottom:1px #ccc solid;
 }
 
 .list2 ul li a{
 	color: #333;
 	display: block;
 	height: 44px;
 	margin: 0;
 	padding: 0 0 0 10px;
 	overflow: hidden;
 	white-space: nowrap;
 	line-height: 44px;
 	text-overflow: ellipsis;
 	text-decoration: none;
	font-size:14rem;
 }
 
 .list2 ul li a::after{
 	content: url(../images/list_mark1.png);
 	float: right;
	margin:13px 10px 0 0;
 }
