@charset "UTF-8";
.contents h2 {
  margin: 0 0 1em;
  color: inherit;
  border: none;
  font-size: 28px;
  font-size: 2.8rem;
}
.contents h3 {
  margin: 2em 0;
  color: #009481;
  border-bottom: solid 1px #ccc;
  font-size: 21px;
  font-size: 2.1rem;
}
.contents h4 {
  margin: 0 0 1em;
  font-size: 18px;
  font-size: 1.8rem;
}
.contents p + h4 {
  margin-top: 2em;
}
.contents em {
  display: block;
  margin: 0 0 1em;
  font-weight: bold;
  font-style: normal;
}
.contents h5 {
  padding: 0 0.5em;
  display: inline-block;
  background: #009481;
  color: #fff;
  font-weight: bold;
  font-size: inherit;
}
.contents dt {
  font-weight: bold;
  color: #009481;
}
.contents dd {
  margin: 0 0 1em 0;
}
.comment {
  position: relative;
  padding: 1em 1.5em;
  margin-bottom: 2em;
  background: #009481;
  color: #fff;
  font-size: 120%;
}
.comment:after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 50px;
  display: block;
  width: 19px;
  height: 21px;
  background: url(../images/career_pt.png) no-repeat bottom right;
}
.row:first-child .pd_lft {
  margin-bottom: 2em;
}
.cell {
  vertical-align: top;
}
#childcare {
  padding: 2em 2em 2em 11em;
  background: url(../images/career_img03.png) no-repeat 2em center #f3f3f3;
}
.pd_lft {
  padding-left: 1em;
}
.pd_rgt {
  padding-right: 1em;
}
table {
  width: 100%;
  font-size: 15px;
  font-size: 1.5rem;
}
th {
  width: 50%;
  padding-bottom: 1em;
  vertical-align: top;
  text-align: left;
}
td {
  width: 50%;
  padding-bottom: 1em;
  vertical-align: top;
  font-weight: bold;
}
td span {
  color: #009481;
  font-size: 125%;
}

p.column {
  border: 1px solid #ccc;
  padding: 2.3em;
  margin-top: 2em;
}
p.column em {
  color: #009481;
}

.bg_gray em {
  font-size: 1.7rem;
  margin-bottom: .5em;
}

#rotation {
  display: table;
  border-collapse: separate;
  table-layout: fixed;
  width : 100%;
  border-spacing: 35px 0;
  margin-left: -35px;
  margin-top: 5em;
  margin-bottom: 4em;

}

#rotation .box-1fifth {
  display: table-cell;
  width: 150px;
  box-sizing: border-box;
  position: relative;
  vertical-align: top;
}
#rotation .box-2fifth {
  display: table-cell;
  width: 339px;
  box-sizing: border-box;
  position: relative;
  vertical-align: top;
}
#rotation .box-2fifth:after {
  background: url(../images/support_pt2.png) no-repeat;
  width: 20px;
  height: 40px;
  display: block;
  content: "";
  right: -20px;
  top: 200px;
  position: absolute;
}
.years {
  top: -2.47em;
  left: 0;
  height: 2em;
  position: absolute;
  display: inline-block;
  background: #009481;
  padding: .45em 1em 0;
  font-weight: bold;
  color: #fff;
  font-size: 1.5rem;
}
ol.place {
  width :100%;
}
ol.place li{
  display: inline-block;
  background: #fff;
  border: 1px solid #333;
  padding:6px 20px;
  min-width: 55px;
  text-align: center;
  margin-right: .6em;
  font-weight: bold;
}
ol.checked li{
  margin-left: 2em;
  list-style-image: url(../images/support_pt.png);
  font-weight: bold;
  margin-top: 1em;
}
ol.checked li:first-child{
  margin-top: 0;
}
.bg_gray em:not(:first-child) {
  margin-top: 2em;
}
.flow-img {
  margin-top: 2em;
}
.support_txt {
  text-align: center;
}
.message_container:after {
  clear:both;
  display: block;
  content: "";
}
.message_img {
  float: right;
}
.message_txt,
.message_txt2 {
  width: 710px;
  float:left;
}

.support_txt_sp {
    display: none;
  }
.support_txt_pc {
  display: block;
}
.mb40{
	margin-bottom: 40px;
}
/* --- smartphone
----------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 640px) {
  .pd_lft {
    padding-left: 0;
  }
  .pd_rgt {
    padding-right: 0;
  }
  #rotation {
    display: block;
    margin-left: 0;
  }
  #rotation .box-1fifth,
  #rotation .box-2fifth {
    width: 100%;
    display: block;
    margin-bottom: 4em;
  }
  #rotation .box-2fifth:after {
    display: none;
  }

  .support_txt_sp {
    display: block;
  }
  .support_txt_pc {
    display: none;
  }
  .message_img {
    width: 40%;
    text-align: center;
	margin-left: auto;
  }
  .message_txt {
    width: 56%;
	float: left;
  }
  .message_txt2 {
    width: 100%;
	margin-top: 15px;
  }
  ul.img_list li{
    width: 100%;
  }

  .flt_rgt{
	 overflow: hidden;
  }
  .flt_rgt.box-1third img {
    float: left;
	width: 48%;
	height: auto;
  }
  .flt_rgt .position,
  .flt_rgt .name{
	  width: 48%;
	  margin-left: auto;
}
body#support .bdr_gray{
	width: 100%;
}
body#support .bdr_gray .box_gray{
	padding: 1.2em;
}

body#support p.column {
  padding: 1.2em;
}
.contents h2 {
  font-size: 24px;
  font-size: 2.4rem;
}

}
