/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

	name : class.css
 : :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

/* ********************************************************************************
 * Browser Style Reset
 * ******************************************************************************** */

* {
	zoom: 1;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}

html {
	overflow-y:scroll;
}

img {
	border: none;
}

a img {
	border:none;
	text-decoration:none;
	outline:0;
}

h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}

ul,ol {
	list-style-type:none;
}


/* ********************************************************************************
 * Default Style
 * ******************************************************************************** */
 
hr {
	display: none;
}

object,
param {
	border: 0;
	vertical-align: bottom;
}

table {
	border-collapse: collapse;
}

input{
	vertical-align: middle;
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}

strong {
	font-weight: bold;
	text-decoration: none;
}	

form label {
	cursor: pointer;
}

select option {
	padding: 0 3px;
}

	
/* ********************************************************************************
 * Link
 * ******************************************************************************** */
 
a {
	text-decoration: underline;
	color: #004293;
}

/* Hides from IE-mac \*/
a {
	overflow: hidden;
}
/* End Hides from IE-mac */
	
/*a:visited {
	text-decoration: none;
	color: #165689;
}*/
	
a:hover {
	text-decoration: none;
	color: #236BC4;
}

/*
a:active {
}*/




/* ********************************************************************************
 * COMMON
 * ******************************************************************************** */

hr.separator {
	display: block;
	height: 0;
	margin: 15px 0;
	padding: 0;
	background: none;
	border: none;
	border-top: 1px solid #E2E1DC;
}

hr.separator02 {
	display: block;
	height: 0;
	margin: 25px 0;
	padding: 0;
	background: none;
	border: none;
	border-top: 2px solid #E0DFD7;
}

.hidden {
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	overflow: hidden;
}

.hover {
}

.iepngfix {
}

/* .clearBoth */
.clearBoth{
	clear: both;
}

/* Float Right */
.alignRight {
	float: right;
}
	
/* Float Left */
.alignLeft {
	float: left;
}


/* Text Center */
.alignCenter {
	text-align: center;
}

/* Text Right */
.textRight {
	text-align: right;
}

/* Text Left */
.textLeft {
	text-align: left;
}

.valignTop {
	vertical-align: top;
}
.valignMiddle {
	vertical-align: middle;
}
.valignBottom {
	vertical-align: bottom;
}

/* div.swfLeft */
.swfLeft {
	float: left;
	margin-right: 20px;
}

/* ********************************************************************************
 * IMAGE
 * ******************************************************************************** */
img.imgRight {
	float: right;
	margin-left: 20px;
}

img.imgLeft {
	float: left;
	margin-right: 20px;
}

a.imgLeft {
	float: left;
	margin-right: 20px;
}


/* ********************************************************************************
 * RESET
 * ******************************************************************************** */

/* Margin Reset
------------------------------------------------------------*/
.mgnTop0 {	margin-top: 0 !important;}
.mgnRit0 {	margin-right: 0 !important;}
.mgnBtm0 {	margin-bottom: 0 !important;}
.mgnLft0 {	margin-left: 0 !important;}


/* Padding Reset
------------------------------------------------------------*/
.pdgTop0 {	padding-top: 0 !important;}
.pdgRit0 {	padding-right: 0 !important;}
.pdgBtm0 {	padding-bottom: 0 !important;}
.pdgBtm10 {	padding-bottom: 10 !important;}
.pdgBtm20 {	padding-bottom: 20 !important;}
.pdgLft0 {	padding-left: 0 !important;}
.pdgLft10 {	padding-left: 10px !important;}


/* ********************************************************************************
 * SPACER
 * ******************************************************************************** */

/* Top Margin */
.mgnTop05 {	margin-top: 5px !important;}
.mgnTop10 {	margin-top: 10px !important;}
.mgnTop15 {	margin-top: 15px !important;}
.mgnTop20 {	margin-top: 20px !important;}
.mgnTop25 {	margin-top: 25px !important;}
.mgnTop30 {	margin-top: 30px !important;}
.mgnTop35 {	margin-top: 35px !important;}
.mgnTop40 {	margin-top: 40px !important;}
.mgnTop50 {	margin-top: 50px !important;}
.mgnTop100 {	margin-top: 100px !important;}
.mgnTop150 {	margin-top: 150px !important;}
.mgnTop180 {	margin-top: 180px !important;}
.mgnTop200 {	margin-top: 200px !important;}
.mgnTop225 {	margin-top: 225px !important;}
.mgnTop250 {	margin-top: 250px !important;}
.mgnTop300 {	margin-top: 300px !important;}
.mgnTop350 {	margin-top: 350px !important;}
.mgnTop400 {	margin-top: 400px !important;}
.mgnTop450 {	margin-top: 450px !important;}
.mgnTop500 {	margin-top: 500px !important;}
.mgnTop550 {	margin-top: 550px !important;}
.mgnTop600 {	margin-top: 600px !important;}
.mgnTop650 {	margin-top: 650px !important;}

/* Right Margin */
.mgnRit05 {	margin-right: 5px !important;}
.mgnRit10 {	margin-right: 10px !important;}
.mgnRit15 {	margin-right: 15px !important;}
.mgnRit20 {	margin-right: 20px !important;}
.mgnRit25 {	margin-right: 25px !important;}
.mgnRit30 {	margin-right: 30px !important;}
.mgnRit35 {	margin-right: 35px !important;}
.mgnRit40 {	margin-right: 40px !important;}
.mgnRit45 {	margin-right: 45px !important;}
.mgnRit50 {	margin-right: 50px !important;}

/* Bottom Margin */
.mgnBtm03 {	margin-bottom: 3px !important;}
.mgnBtm05 {	margin-bottom: 5px !important;}
.mgnBtm10 {	margin-bottom: 10px !important;}
.mgnBtm15 {	margin-bottom: 15px !important;}
.mgnBtm20 {	margin-bottom: 20px !important;}
.mgnBtm25 {	margin-bottom: 25px !important;}
.mgnBtm30 {	margin-bottom: 30px !important;}
.mgnBtm35 {	margin-bottom: 35px !important;}
.mgnBtm40 {	margin-bottom: 40px !important;}
.mgnBtm50 {	margin-bottom: 50px !important;}
.mgnBtm60 {	margin-bottom: 60px !important;}
.mgnBtm70 {	margin-bottom: 70px !important;}
.mgnBtm80 {	margin-bottom: 80px !important;}
.mgnBtm90 {	margin-bottom: 90px !important;}
.mgnBtm100 { margin-bottom: 100px !important;}

/* Left Margin */
.mgnLft01 {	margin-left: 1px !important;}
.mgnLft05 {	margin-left: 5px !important;}
.mgnLft10 {	margin-left: 10px !important;}
.mgnLft15 {	margin-left: 15px !important;}
.mgnLft20 {	margin-left: 20px !important;}
.mgnLft25 {	margin-left: 25px !important;}
.mgnLft30 {	margin-left: 30px !important;}
.mgnLft35 {	margin-left: 35px !important;}
.mgnLft40 {	margin-left: 40px !important;}
.mgnLft45 {	margin-left: 45px !important;}
.mgnLft50 {	margin-left: 50px !important;}
.mgnLft60 {	margin-left: 60px !important;}
.mgnLft70 {	margin-left: 70px !important;}
.mgnLft75 {	margin-left: 75px !important;}
.mgnLft80 {	margin-left: 80px !important;}
.mgnLft90 {	margin-left: 90px !important;}
.mgnLft100 { margin-left: 100px !important;}
.mgnLft130 { margin-left: 130px !important;}
.mgnLft138 { margin-left: 138px !important;}
.mgnLft200 { margin-left: 200px !important;}
.mgnLft450 { margin-left: 450px !important;}
.mgnLft500 { margin-left: 500px !important;}


/* ********************************************************************************
 * TEXT
 * ******************************************************************************** */
.textNormal {
	margin-bottom: 20px;
	line-height: 1.8;
}
.textNormal02{
	margin-bottom: 10px;
	line-height: 1.5;
}
.textNormal03{
	margin-bottom: 0px;
	line-height: 1.8;
}
.textNormal04{
	line-height: 1.5;
}
.textLarge01 {
	font-size: 14px !important;
}
.textSmall {
	font-size: 92%;
	line-height: 1.8;
	font-weight: normal;
}
.textSmall02 {
	font-size: 77% !important;
	line-height: 1.8;
	font-weight: normal;
}
/* ********************************************************************************
 * OTHER
 * ******************************************************************************** */


/* clearfix
------------------------------------------------------------*/

.clearfloat { display: inline-table; }
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfloat { display: block; }
/* End hide from IE-mac */
/* IE6 */ * html div.clear { height: 1%; }
/* IE7 */ *:first-child+html div.clear  { height: 1%; }

/* End .clearfix
------------------------------------------------------------*/


/* .pageTop
------------------------------------------------------------*/
div.pageTop {
	width: 590px;
	height: 20px;
	margin: 0 30px 20px auto;
	padding-top: 8px;
	background-color: #F0EFED;
	border-bottom: 3px double #339933;
	font-size: 1px;
}
div.pageTop a {
	display: block;
	width: 95px;
	height: 13px;
	margin: 0 10px 0 auto;
	background: url(../images/page_ft_pagetop.gif) 0 0 no-repeat;
	line-height: 1.1;
	text-indent: -9000px;
}
div.pageTop a:hover {
	background-position: 0 100%;
}


/* .footBtn
------------------------------------------------------------*/
p.footBtn {
	margin-top: 15px;
	padding: 10px 0 15px;
	border-top: 2px solid #777362;
	text-align: right;
}


