@charset "utf-8";
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

	name : fonts.css
	last-update : 2007.08.06

	1-1.Yahoo UI Library Fonts CSS
	*Copyright (c) 2006, Yahoo! Inc. All rights reserved.
	*http://developer.yahoo.com/yui/license.txt
	
	Font-size Adjustment
	
	77% = 10px	|	112% = 16px	|	167% = 22px	
	85% = 11px	|	129% = 17px	|	174% = 23px
	92% = 12px	|	136% = 18px	|	182% = 24px
	100% = 13px	|	144% = 19px	|	189% = 25px
	107% = 14px	|	152% = 20px	|	197% = 26px
	114% = 15px	|	159% = 21px	|

 : :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

body {
	font-size: 13px;
	*font-size: 13px;
	*font: x-small;
}

table {
	font-size: inherit;
}

select,
input,
textarea {
	font-size: 99%;
}


