@charset "utf-8";
/*
 *	-- Layout Style --
 *
 *	01.	#wrapperMiddle Style
 *
 * - - - - - - - - - - - - - - - */
/*
 *	01.	#wrapperMiddle Style
 */
#wrapperMiddle #wrapInner .inner {
  padding-bottom: 0;
  margin-bottom: 55px;
}
#wrapperMiddle #wrapInner .inner #contentsArea ul.localNav {
  width: 380px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsHead {
  height: 54px;
  margin: 0 0 25px;
  border: none;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody {
  padding: 0;
  overflow: hidden;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody header {
  margin-bottom: 37px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody header h2 {
  margin: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #conceptArea #contentsWrapper {
  margin-bottom: 30px;
  overflow: hidden;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #conceptArea #contentsWrapper p {
  line-height: 2.3;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #conceptArea #contentsWrapper .contents01 {
  float: left;
  width: 439px;
  padding-right: 40px;
  border-right: 1px solid #C7C7C7;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #conceptArea #contentsWrapper .contents01 section h3 {
  margin: 0 0 30px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #conceptArea #contentsWrapper .contents02 {
  float: right;
  width: 430px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #conceptArea #contentsWrapper .contents02 h3 {
  margin: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #conceptArea ul#bannerArea {
  background: url(../../../shared/img/common_bgHeader_dotLine.png) repeat-x left top;
  padding-top: 45px;
  margin: 0;
  text-align: center;
  clear: both;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #conceptArea ul#bannerArea li {
  display: inline;
  list-style: none;
  margin: 0 5px;
}
