@charset "UTF-8";

.dayflow-read {
	font-size:14rem;
	line-height:140%;
	margin:10px;
}

.flow_photo {
	float:left;
	margin:0 10px 10px 0;
}

#flow_area_text {
	float:left;
	font-size:14rem;
	line-height:140%;
	padding:0 0 5px 5px;
}

img.sikiri {
	margin:10px 0 10px 0;
}

/*--5:00〜8:00--*/

#flow_01_area {
	float:left;
	width:95%;
	height:20px;
	margin:10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F39800;
	padding-bottom:5px;
}

#flow_01_time {
	float:left;
	width:100px;
	height:25px;
	border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
	background-color:#F39800;
	font-size:16rem;
	line-height:180%;
	text-align:center;
	color:#FFF;
	padding:0;
}

#flow_01_title {
	float: left;
	display: inline;
	font-size:16rem;
	line-height:180%;
	font-weight:bold;
	color:#F39800;
	padding:0 0 0 5px;
}

/*--8:00〜8:15--*/

#flow_02_area {
	float:left;
	width:95%;
	height:20px;
	margin:10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #6FBA2C;
	padding-bottom:5px;
}

#flow_02_time {
	float:left;
	width:100px;
	height:25px;
	border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
	background-color:#6FBA2C;
	font-size:16rem;
	line-height:180%;
	text-align:center;
	color:#FFF;
	padding:0;
}

#flow_02_title {
	float: left;
	display: inline;
	font-size:16rem;
	line-height:180%;
	font-weight:bold;
	color:#6FBA2C;
	padding:0 0 0 5px;
}

/*--8:15〜8:20--*/

#flow_03_area {
	float:left;
	width:95%;
	height:20px;
	margin:10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #14B3E3;
	padding-bottom:5px;
}

#flow_03_time {
	float:left;
	width:100px;
	height:25px;
	border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
	background-color:#14B3E3;
	font-size:16rem;
	line-height:180%;
	text-align:center;
	color:#FFF;
	padding:0;
}

#flow_03_title {
	float: left;
	display: inline;
	font-size:16rem;
	line-height:180%;
	font-weight:bold;
	color:#14B3E3;
	padding:0 0 0 5px;
}

/*--8:20〜12:00／8:20〜12:00--*/

#flow_04_area {
	float:left;
	width:95%;
	height:20px;
	margin:10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #76418F;
	padding-bottom:5px;
}

#flow_04_time {
	float:left;
	width:100px;
	height:25px;
	border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
	background-color:#76418F;
	font-size:16rem;
	line-height:180%;
	text-align:center;
	color:#FFF;
	padding:0;
}

#flow_04_title {
	float: left;
	display: inline;
	font-size:16rem;
	line-height:180%;
	font-weight:bold;
	color:#76418F;
	padding:0 0 0 5px;
}

/*--12:00／12:00〜14:00--*/

#flow_05_area {
	float:left;
	width:95%;
	height:20px;
	margin:10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E74291;
	padding-bottom:5px;
}

#flow_05_time1 {
	float:left;
	width:100px;
	height:25px;
	border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
	background-color:#E74291;
	font-size:16rem;
	line-height:180%;
	text-align:center;
	color:#FFF;
	padding:0;
}

#flow_05_time2 {
	float:left;
	width:100px;
	height:25px;
	border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
	background-color:#E74291;
	font-size:16rem;
	line-height:180%;
	text-align:center;
	color:#FFF;
	padding:0;
}

#flow_05_title {
	float: left;
	display: inline;
	font-size:16rem;
	line-height:180%;
	font-weight:bold;
	color:#E74291;
	padding:0 0 0 5px;
}

/*--14:00〜15:30--*/

#flow_06_area {
	float:left;
	width:95%;
	height:20px;
	margin:10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D80C18;
	padding-bottom:5px;
}

#flow_06_time {
	float:left;
	width:100px;
	height:25px;
	border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
	background-color:#D80C18;
	font-size:16rem;
	line-height:180%;
	text-align:center;
	color:#FFF;
	padding:0;
}

#flow_06_title {
	float: left;
	display: inline;
	font-size:16rem;
	line-height:180%;
	font-weight:bold;
	color:#D80C18;
	padding:0 0 0 5px;
}

/*--15:30〜--*/

#flow_07_area {
	float:left;
	width:95%;
	height:20px;
	margin:10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9C6341;
	padding-bottom:5px;
}

#flow_07_time {
	float:left;
	width:100px;
	height:25px;
	border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
	background-color:#9C6341;
	font-size:16rem;
	line-height:180%;
	text-align:center;
	color:#FFF;
	padding:0;
}

#flow_07_title {
	float: left;
	display: inline;
	font-size:16rem;
	line-height:180%;
	font-weight:bold;
	color:#9C6341;
	padding:0 0 0 5px;
}

.flow_07_text {
	font-size:14rem;
	line-height:140%;
	margin:10px 10px 40px 10px;
}