﻿.clearfix:after{
	content: "";
	clear: both;
	display: block;
}

.btn_area{
	background-color:#FFEFA2;
	text-align:center;
	margin-bottom:20px;
	padding:10px 0px 10px 5px;
	}


.btn_area ul{
	width:100%;
	margin:0 3%
	}


.btn_area ul li{
	width:45%;
	height:auto;
	float:left;
	}


.btn_area ul li img{
	width:100%;
	}

.btn_area ul li a{
	display:inline-block
	}
	
.btn_area.white{
	background-color: #FFF;
	border-top: 1px solid #787575;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding:5px 0;
	margin-top:10px
	}

p.free{
	margin:5px 0;
	font-weight:bold;
	color:red
	}


.btn_area p.textCenter{
	width:172px;
	margin:0 auto 10px auto 
	}
	
.btn_area p a{
	display:block
	}
		
div.device{
  padding:10px
}


.slider_wrapper {
  background:#f5f5f5;
  padding:10px
}

*{ margin: 0; padding: 0; border: 0;
list-style: none; }
.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  background:#fff;
  padding-bottom:20px;
}
.slides {
  height: 100%;
  overflow: hidden;
  *zoom: 1;
}
.slide {
  height: 100%;
  float: left;
  clear: none;
}


.slide div.function{
	background-color:#007E71;
	padding:5px 8px;
	height:auto;
}

.slide div.function h3{
	float: left;
	margin-right: 1em;
	border-left: 4px solid #fed100;
	padding-left:10px;
	font-weight:bold;
	color:#FFF;
	
}


.os{
	background:#000;
	width:auto;
	color:#FFF;
	float:right;
	padding:0.25em;
	margin-left:5px;
	font-size:0.8em;
    border-radius: 3px;        /* CSS3草案 */  
    -webkit-border-radius: 3px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 3px;   /* Firefox用 */  
}

.slide img{
	float:left;
	width:40%;
	height:auto;
	margin:10px}

.slide p.detail{
	height:auto;
	padding:10px;
}

.slide p.detail span{
	font-weight:bold;
	color:#007e71;
	font-size:1.5em
}


p.info{
	padding:10px
}

ul.functionOthers li{
	padding:10px
}

ul.functionOthers li h3 {
	background-color:#007E71;
	padding:5px 8px;
	height:auto;
}

ul.functionOthers li h3 span{
	margin-right: 1em;
	border-left: 4px solid #fed100;
	padding-left:10px;
	font-weight:bold;
	color:#FFF;
	
}



ul.searchApp{
	text-align:left;
	margin-top:20px;
	margin-left:10px
}
ul.searchApp li{
	margin-bottom:20px
}

ul.searchApp li a{
	text-decoration:underline !important;
	color:#0c8c7b;
	display:block;
	width:98%
}

.red{
	color:red;
	font-weight:bold
}



p.info{
	padding:10px
}


.slider-arrow {
  position: absolute;
  display: block;
  margin-bottom: -20px;
  padding: 20px;
}
.slider-arrow--right {
  bottom: 50%;
  right: 30px;
  background: url(img/right.png) no-repeat;
}
.slider-arrow--left {
  bottom: 50%;
  left: 30px;
  background: url(img/left.png) no-repeat;
}
.slider-nav {
  position: absolute;
  bottom: 5px;
}
.slider-nav__item {
  width: 12px;
  height: 12px;
  float: left;
  clear: none;
  display: block;
  margin: 0 5px;
  border: 1px solid #000;
  border-radius: 8px;
}
.slider-nav__item:hover {
  /*background: #000;*/
}
.slider-nav__item--current {
  background: #000;
}

.copyright {
  background: #666;
  color:#FFF;
  text-align:center;
  padding:5px
}
