@charset "Shift_JIS";

/* トップページ基本-----------------------------------------
---------------------------------------------------------- */

body {
	background-color: #FFFFFF;
	text-align: center;
	color: #333333;
	}

/* リンク */	

a:link {
	color: #1B54E3;
	text-decoration: none;
	}

a:hover {
	color: #CC6600;
	text-decoration: none;
	}

a:visited {
	color: #D47504;
	text-decoration: none;
	}


.footer a:link{
	color: #555555;
	}

.footer a:hover{
	color: #555555;
	text-decoration: underline;
	}

.footer a:visited{
 color: #555555;
	}


/* テキストカラー */

.new{
	color: #F50909;
	}

#copylight{
	color: #999999;
	}


/*テキストサイズ----------------------*/

/*　固定スタイル　*/
/*　本文用　*/
.l6{font-size: 26px; line-height: 145%;}

.l5{font-size: 18px; line-height: 145%;}

.l4{font-size: 14px; line-height: 145%;}

.l3{font-size: 12px; line-height: 145%;}

.l2{font-size: 11px; line-height: 145%;}

.l1{font-size:  9px; line-height: 145%;}

/*　キャプション用　*/
.m6{font-size: 26px; line-height: 125%;}

.m5{font-size: 18px; line-height: 125%;}

.m4{font-size: 14px; line-height: 125%;}

.m3{font-size: 12px; line-height: 125%;}

.m2{font-size: 11px; line-height: 125%;}

.m1{font-size:  9px; line-height: 125%;}

/*　行間指定なし　*/
.s6{font-size: 26px;}

.s5{font-size: 18px;}

.s4{font-size: 14px;}

.s3{font-size: 12px;}

.s2{font-size: 11px;}

.s1{font-size:  9px;}


/* -- 可変スタイル -- */
/*　本文用　*/
.vl6{font-size: 160%; line-height: 145%;}

.vl5{font-size: 120%; line-height: 140%;}

.vl4{font-size: 90%; line-height: 145%;}

.vl3{font-size: 75%; line-height: 145%;}

.vl2{font-size: 70%; line-height: 145%;}

.vl1{font-size: 50%; line-height: 155%;}

/*　キャプション用　*/
.vm6{font-size: 160%; line-height: 125%;}

.vm5{font-size: 120%; line-height: 125%;}

.vm4{font-size: 90%; line-height: 125%;}

.vm3{font-size: 75%; line-height: 125%;}
.vm3l{font-size: 93%; line-height: 125%;}

.vm2{font-size: 70%; line-height: 125%;}

.vm1{font-size: 50%; line-height: 130%;}

/*　行間指定なし　*/
.vs6{font-size: 160%;}

.vs5{font-size: 120%;}

.vs4{font-size: 90%;}

.vs3{font-size: 75%;}

.vs2{font-size: 70%;}

.vs1{font-size: 50%;}

/* トップページ基本ここまで----------------------------------
---------------------------------------------------------- */
