/*==========================================

estimate

==========================================*/

table.chartA {
padding:0;
margin-bottom:25px;
}

table.chartA th {
background:#817e77;
border:1px solid #d3cec2;
font-weight:normal;
color:#ffffff;
text-align:center;
padding:4px 2px;
}

table.chartA th a,
table.chartA th a:link {
color:#ffffff !important;
}

table.chartA td {
background:#ffffff;
border:1px solid #d3cec2;
text-align:center;
padding:4px 2px;
}

table.chartA td.size {
background:#fdedad;
font-weight:bold;
}

table.chartA td.zone {
background:#f2f1ed;
vertical-align:top;
}

table.chartA th.zone02,
table.chartA td.zone02 {
color:#ffffff;
background:#7192AC;
}

table.chartA td.segment {
background:#f2f1ed;
font-weight:bold;
}

table.chartA td.blank {
border:none;
border-bottom:1px solid #ffffff;
border-left:1px solid #ffffff;
}

.logo_bnr{
padding:17px 15px;
border:1px solid #d3cec2;
}

