@charset "UTF-8";



/* style.css

-------------------------------------------------------------- */

/* クロネコメンバーズとは */

#aboutBg {

	background-color: #ffd202;

}

	#about01 {

		background: url(../img/bg_shadow.png) left top repeat-x;

		width:100%;

		padding-top: 9px;

	}

		#aboutInfo01 {

			width: 287px;

			margin: 0 auto;

		}

			#aboutInfo01 p {

				margin: 2px 0 0 5px;

			}





#about02 {

	width:100%;

	margin: 0 auto;

	padding: 10px 0 8px 0;

}

	#aboutBgTop {

		background: url(../img/bg_messageL_top.png) left top no-repeat;

		-webkit-background-size: 300px 15px;

		background-size: 300px 15px;

		padding-top: 15px;

		text-align:center;

		margin:0 auto;

		width:300px;

	}

	#aboutBgBt {

		background: url(../img/bg_messageL_bottom.png) left bottom no-repeat;

		-webkit-background-size: 300px 15px;

		background-size: 300px 15px;

		padding-bottom: 15px;

	}

	#aboutBgMid {

		background: url(../img/bg_messageL_middle.png) left top repeat-y;

		-webkit-background-size: 300px 80px;

		background-size: 300px 80px;

		text-align:center;

	}

		#aboutInfo02 {

			margin: 0 10px;

			text-align: center;

		}

		#aboutInfo02 h2 {

			font-weight: bold;

		}





#about03 {

	padding: 8px 10px 13px;

}

	#about03In {

		width: 294px;

		-webkit-box-shadow: 0px 3px 3px rgb(215, 214, 212) inset;

		box-shadow: 0px 3px 3px rgba(215, 214, 212) inset; 

		border-radius: 12px;

		-webkit-border-radius: 12px;

		padding: 4px 3px;

		text-align:center;

		margin:0 auto;

	}





/* 詳細はこちら */

#btnDetail01 {

	margin-top: 10px;

	text-indent: -9999px;

}

	#btnDetail01 a {

		display: block;

		background: url(../img/btn_detail01.png) center top no-repeat;

		-webkit-background-size: 104px 28px;

		-webkit-tap-highlight-color: rgba(0, 0, 0, 0); 

		-webkit-touch-callout: none;

		background-size: 104px 28px;

		height: 14px;

	}

	#btnDetail01 a.touchstart {

		background: url(../img/btn_detail01.png) center bottom no-repeat;

	}





/* クロネコメンバーズ サービス一覧 */

#btnList02 a {

	display: block;

	background: url(../img/btn_bgGreen01.png) center top no-repeat;

	-webkit-background-size: 294px 78px;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	-webkit-touch-callout: none;

	background-size: 294px 78px;

	height: 39px;

}

#btnList02 a.touchstart {

	background: url(../img/btn_bgGreen01.png) center bottom no-repeat;

}

#btnList02 p {

	color: #fff;

	font-weight: bold;

	text-align: center;

	font-size: 86%;

	padding: 8px 0 8px 0;

}

	#btnList02 p span {

		font-size: 129%;

	}





/* サービス一覧 アコディオン */

#btnService01 a { background: url(../img/btn_reciveBg01.png) left top no-repeat;}

#btnService02 a { background: url(../img/btn_sendBg01.png) left top no-repeat;}

#btnService03 a { background: url(../img/btn_otherBg01.png) left top no-repeat;}



#btnService01 a.touchstart { background: url(../img/btn_reciveBg01.png) left bottom no-repeat;}

#btnService02 a.touchstart { background: url(../img/btn_sendBg01.png) left bottom no-repeat;}

#btnService03 a.touchstart { background: url(../img/btn_otherBg01.png) left bottom no-repeat;}



#btnService01 a,

#btnService02 a,

#btnService03 a,

#btnService01 a.touchstart,

#btnService02 a.touchstart,

#btnService03 a.touchstart {

	display: block;

	-webkit-background-size: 100% 150px;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	-webkit-touch-callout: none;

	background-size: 100% 150px;

	height: 57px;

	padding: 18px 0 0 55px;

	color: #464134;

}



	#btnService01,

	#btnService02,

	#btnService03 {		

		line-height: 1.3;

	}

		#btnService01 span,

		#btnService02 span,

		#btnService03 span {

			font-size: 143%;

			font-weight: bold;

		}





#service01 ul li ul li a {

	display: block;

	background: url(../img/btn_servicelist01.png) left top no-repeat;

	-webkit-background-size: 320px 110px;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	-webkit-touch-callout: none;

	background-size: 320px 110px;

	height: 45px;

	padding: 10px 0 0 15px;

}

#service01 ul li ul li a.touchstart {

	background: url(../img/btn_servicelist01.png) left bottom no-repeat;

}



	#service01 ul li ul li p {

		font-size: 72%;

		color: #464134;

		font-weight: normal;

	}

	#service01 ul li ul li p span {

		font-size: 18px;

		font-weight: bold;

		line-height: 1.3;

	}