#faq {
  margin-top: 20px;
}
#faq h2 {
  position: relative;
  padding: 10px 30px 10px 10px;
  margin: 0 0 1px;
  font-size: 1.3rem;
  font-weight: bold;
  background-image: -webkit-gradient(linear, to top, to bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(1%, rgba(255, 255, 255, 0.01)), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.01) 1%, #ffffff);
  background-image: -moz-linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.01) 1%, #ffffff);
  background-image: -o-linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.01) 1%, #ffffff);
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.01) 1%, #ffffff);
  background-color: #fffae7;
  border-bottom: 1px solid #fff;
  -webkit-box-shadow: 0 1px 3px #f4edd2;
  -moz-box-shadow: 0 1px 3px #f4edd2;
  box-shadow: 0 1px 3px #f4edd2;
  display: block;
  position: relative;
}
#faq.faq_top h2:before {
  position: absolute;
  content: "";
  width: 9px;
  height: 15px;
  background: url(../../common/img/ico_arrow_menu01.png) center top no-repeat;
  background-size: 9px 15px;
  right: 17px;
  top: 50%;
  margin-top: -7.5px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
#faq.faq_top h2.active:before {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
#faq.faq_top .faq_inner {
  display: none;
  margin: 20px;
}
#faq.faq_top .faq_inner ul li {
  background: url(../../common/img/ico_arrow01.png) left 0.5em no-repeat;
  background-size: 4px 7px;
  margin-bottom: 10px;
  padding-left: 8px;
  font-size: 1.3rem;
}
#faq.faq_top .faq_inner ul.tarl {
  text-align: right;
}
#faq.faq_top .faq_inner ul.tarl li {
  display: inline-block;
}
#faq .partitoin_text {
  background: #FFC506;
  padding: 8px 10px;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 20px 0 10px 0;
}
#faq .inquiry_block {
  margin: 30px 10px;
  border: 1px solid #F0BA03;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}
#faq .inquiry_block dt {
  background: #F0BA03;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 10px;
}
#faq .inquiry_block dd {
  padding: 20px 10px 10px;
  background-color: #FFF8DF;
}
#faq .inquiry_block dd .bold {
  font-weight: bold;
  margin-top: 10px;
}
#faq .inquiry_block dd .inquiry_link {
  margin-top: 4px;
  display: inline-block;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #F2F2F2;
  background-image: -webkit-gradient(linear, to top, to bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(1%, rgba(255, 255, 255, 0.01)), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.01) 1%, #ffffff);
  background-image: -moz-linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.01) 1%, #ffffff);
  background-image: -o-linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.01) 1%, #ffffff);
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.01) 1%, #ffffff);
  -webkit-box-shadow: 0 0 2.5px rgba(0, 0, 0, 0.05), inset 0 0 1px 2px white;
  -moz-box-shadow: 0 0 2.5px rgba(0, 0, 0, 0.05), inset 0 0 1px 2px white;
  box-shadow: 0 0 2.5px rgba(0, 0, 0, 0.05), inset 0 0 1px 2px white;
  border: 1px solid #f2f2f2;
}
#faq .inquiry_block dd .inquiry_link a {
  color: #007A6B;
  font-weight: bold;
  text-decoration: none;
}
#faq .inquiry_block dd .inquiry_link a:after {
  content: "";
  background-image: url(../../common/img/ico_pc01.png);
  background-size: 13px 12px;
  background-position: right 0;
  background-repeat: no-repeat;
  padding: 0 8px 0;
}
#faq .faq_list {
  margin: 10px;
  border: 1px solid #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 10px 0 10px;
  background: #fff6d6;
}
#faq .faq_list li {
  background: url(../../common/img/ico_arrow04.png) left 0.5em no-repeat;
  background-size: 7px 4px;
  margin-bottom: 10px;
  padding-left: 8px;
  font-size: 1.3rem;
}
#faq .faq_list li a {
  display: block;
  padding-left: 3em;
  text-indent: -2.7em;
}
#faq .faq_answer {
  padding: 10px 20px;
  overflow: hidden;
  font-size: 1.3rem;
}
#faq .faq_answer dt {
  font-weight: bold;
  color: #008576;
}
#faq .faq_answer dd .link_blank:before {
  content: "";
  background-image: url(../../common/img/ico_blank01.png);
  background-size: 10px 8px;
  background-position: left 0.2em;
  background-repeat: no-repeat;
  padding: 0 7px 0;
}
#faq .faq_answer dd .link_pc:after {
  content: "";
  background-image: url(../../common/img/ico_pc01.png);
  background-size: 13px 12px;
  background-position: right 0;
  background-repeat: no-repeat;
  padding: 0 8px 0;
}
#faq .faq_answer dd .bold {
  font-weight: bold;
}
#faq .faq_answer dd .txt_color_red {
  color: #c00;
}
#faq .faq_answer dd .txt_color_green {
  color: #008576;
}
#faq .faq_answer dd i.bold, #faq .faq_answer dd i.txt_color_red, #faq .faq_answer dd i.txt_color_green {
  font-style: normal;
}
#faq .faq_answer dd .list_type01 {
  margin-left: 2.5em;
}
#faq .faq_answer dd .list_type01 li {
  position: relative;
  margin-bottom: 0.2em;
}
#faq .faq_answer dd .list_type01 li span {
  position: absolute;
  top: 0;
  left: -2.5em;
}
#faq .faq_answer dd .list_type02 {
  margin-left: 1.4em;
}
#faq .faq_answer dd .list_type02 li {
  position: relative;
  margin-bottom: 0.2em;
}
#faq .faq_answer dd .list_type02 li span {
  position: absolute;
  top: 0;
  left: -1.4em;
}
#faq.faq_page h2 {
  padding: 10px;
  border-top: 2px solid #ffcc01;
}
