#locker { padding:0; }
#locker .alt { display:none; }
#locker .pr { position:relative; }
#locker .fs09em { font-size:0.9em; }
#locker .pt6 { padding-top:6px; }
#locker .pt12 { padding-top:12px; }
#locker .pb12 { padding-bottom:12px; }
#locker .pb6 { padding-bottom:6px; }
#locker .mt20 { margin-top:20px; }
#locker .img100p { width:100%; }
#locker .txt1 { padding:0 12px 12px 12px; }
#locker .yl { padding:12px; border:2px solid #fdd000; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; }
#locker #locker_table {  }
#locker #locker_table table { border-left:1px solid #000; border-top:1px solid #000; width:100%; }
#locker #locker_table table tr {  }
#locker #locker_table table tr th { background:#cceae6; border-right:1px solid #000; border-bottom:1px solid #000; }
#locker #locker_table table tr td { border-right:1px solid #000; border-bottom:1px solid #000; }
#locker #locker_table table tr th .inner,#locker #locker_table table tr td .inner{ padding:4px; text-align:center; }
#locker #locker_table2 table tr th {  width:25px;}
#locker #locker_table2 table tr th,#locker #locker_table2 table tr td{ text-align:left; vertical-align:top; }
#locker #locker_table2 table tr td { padding-bottom:4px; }
#locker .title1 { background:url(../img/locker/image_07.png) left center no-repeat #009481; }
#locker .title1 .inner { color:#feda33; font-weight:bold; padding:10px 10px 10px 20px; font-size:1.1em; }
#locker .jikan { border:1px solid #000; padding:2px 8px 2px 8px; text-align:center; position:absolute; right:12px; top:12px; font-size:0.9em; }
