@charset "utf-8";
.twostep_notice {
	list-style-type: none;
}
.twostep_notice dt {
	display: block;
	width: 4em;
	line-height: 1.4em;
}
.twostep_notice dd {
	display: block;
	margin-left: 4em;
	margin-top: -1.4em;
	line-height: 1.4em;
}
.tit04 {
	margin-bottom:8px;
	padding:3px 0 1px 5px;
	border-left:4px solid #006e63;
	line-height:1.2;
	font-weight:bold;
}
