@charset "shift_jis";
/* 基本 */

body {
	background-color: #FFFFFF;
	text-align: center;
	color: #333333;
	}

/* リンク */	
a:link.a1 {
	color: #FFFFFF;
}

a:hover.a1 {
	color: #CC6600;
	text-decoration: none;
}

a:visited.a1 {
	color: #FFFFFF;
}

a:link {
	color: #0000FF;
}

a:hover {
	color: #CC6600;
	text-decoration: none;
}

a:visited {
	color: #D47504;
}

/* ヘッダー */	
.header {
	color: #FFFFFF;
}
.header a:link{
	color: #FFFFFF;
}
.header a:visited{
	color: #FFCC00;
}
.header a:hover{
	color: #FFCC00;
	text-decoration: none;
}
.header a:active{
 	color: #FFCC00;	
}

/* フッター */	
.footer {
	color: #FFFFFF;
}
.footer a:link{
	color: #FFFFFF;
}
.footer a:visited{
	color: #FFCC00;
}
.footer a:hover{
	color: #FFCC00;
	text-decoration: none;
}
.footer a:active{
 	color: #FFCC00;	
}

/* テキスト */
.white {
	color: #FFFFFF;
 }
 .ore {
	color: #FF6600;
 }