/* -- 元固定スタイル -- */
/*　修正日 2008/03/26　*/
/*　本文用　*/
/*.l6{font-size: 26px; line-height: 145%;}*/

/*.l5{font-size: 18px; line-height: 150%;}*/

.l4{font-size: 120%; line-height: 175%;}

.l3{font-size: 100%; line-height: 145%;}

/*.l2{font-size: 10px; line-height: 145%;}*/

/*.l1{font-size:  9px; line-height: 135%;}*/

/*　キャプション用　*/
/*.m6{font-size: 26px; line-height: 125%;}*/

/*.m5{font-size: 18px; line-height: 130%;}*/

/*.m4{font-size: 14px; line-height: 125%;}*/

.m3{font-size: 100%; line-height: 125%;}

.m2{font-size: 85%; line-height: 120%;}

/*.m1{font-size:  9px; line-height: 120%;}*/

/*　行間指定なし　*/
/*.s6{font-size: 26px;}*/

/*.s5{font-size: 18px;}*/

/*.s4{font-size: 14px;}*/

.s3{font-size: 100%;}

.s2{font-size: 85%;}

/*.s1{font-size:  9px;}*/


/* -- 可変スタイル -- */
/*　本文用　*/
.vl6{font-size: 220%; line-height: 300%;}

.vl5{font-size: 150%; line-height: 230%;}

.vl4{font-size: 120%; line-height: 175%;}

.vl3{font-size: 100%; line-height: 145%;}

.vl2{font-size: 85%; line-height: 130%;}

.vl1{font-size: 80%; line-height: 115%;}

/*　キャプション用　*/
.vm6{font-size: 220%; line-height: 255%;}

.vm5{font-size: 150%; line-height: 195%;}

.vm4{font-size: 120%; line-height: 150%;}

.vm3{font-size: 100%; line-height: 125%;}

.vm2{font-size: 85%; line-height: 120%;}

.vm1{font-size: 80%; line-height: 110%;}

/*　行間指定なし　*/
.vs6{font-size: 220%;}

.vs5{font-size: 150%;}

.vs4{font-size: 120%;}

.vs3{font-size: 100%;}

.vs2{font-size: 85%;}

.vs1{font-size: 80%;}
