/* -- 元固定スタイル -- */
/*　修正日 2008/03/26　*/
/*　本文用　*/
/*.l6{font-size: 27px; line-height: 145%;}*/

/*.l5{font-size: 19px; line-height: 145%;}*/

.l4{font-size: 120%; line-height: 165%;}

.l3{font-size: 100%; line-height: 135%;}

/*.l2{font-size: 11px; line-height: 150%;}*/

/*.l1{font-size: 10px; line-height: 145%;}*/

/*　キャプション用　*/
/*.m6{font-size: 27px; line-height: 130%;}*/

/*.m5{font-size: 19px; line-height: 130%;}*/

/*.m4{font-size: 15px; line-height: 125%;}*/

.m3{font-size: 100%; line-height: 120%;}

.m2{font-size: 90%; line-height: 100%;}

/*.m1{font-size: 10px; line-height: 125%;}*/

/*　行間指定なし　*/
/*.s6{font-size: 27px;}*/

/*.s5{font-size: 19px;}*/

/*.s4{font-size: 15px;}*/

.s3{font-size: 100%;}

.s2{font-size: 90%;}

/*.s1{font-size: 10px;}*/

/* -- 可変スタイル -- */
/*　本文用　*/
.vl6{font-size: 195%; line-height: 260%;}

.vl5{font-size: 140%; line-height: 200%;}

.vl4{font-size: 120%; line-height: 165%;}

.vl3{font-size: 100%; line-height: 135%;}

.vl2{font-size: 90%; line-height: 120%;}

.vl1{font-size: 70%; line-height: 90%;}

/*　キャプション用　*/
.vm6{font-size: 195%; line-height: 240%;}

.vm5{font-size: 140%; line-height: 180%;}

.vm4{font-size: 120%; line-height: 135%;}

.vm3{font-size: 100%; line-height: 120%;}

.vm2{font-size: 90%; line-height: 100%;}

.vm1{font-size: 70%; line-height: 90%;}

/*　行間指定なし　*/
.vs6{font-size: 200%;}

.vs5{font-size: 150%;}

.vs4{font-size: 120%;}

.vs3{font-size: 100%;}

.vs2{font-size: 90%;}

.vs1{font-size: 70%;}

/* ヘッダー・フッター共通 */	
.wbr{
	white-space:nowrap;
}