/* -- 元固定スタイル -- */
/*　修正日 2008/03/26　*/
/*　本文用　*/
/*.l6{font-size: 26px; line-height: 145%;}*/

/*.l5{font-size: 19px; line-height: 140%;}*/

.l4{font-size: 90%; line-height: 142%;}

.l3{font-size: 78%; line-height: 140%;}

/*.l2{font-size: 11px; line-height: 145%;}*/

/*.l1{font-size:  9px; line-height: 145%;}*/

/*　キャプション用　*/
/*.m6{font-size: 26px; line-height: 125%;}*/

/*.m5{font-size: 19px; line-height: 125%;}*/

/*.m4{font-size: 14px; line-height: 125%;}*/

.m3{font-size: 78%; line-height: 115%;}

.m2{font-size: 70%; line-height: 120%;}

/*.m1{font-size:  9px; line-height: 125%;}*/

/*　行間指定なし　*/
/*..s6{font-size: 26px;}*/

/*..s5{font-size: 19px;}*/

/*..s4{font-size: 14px;}*/

.s3{font-size: 75%;}

.s2{font-size: 70%;}

/*..s1{font-size:  9px;}*/


/* -- 可変スタイル -- */

/*　本文用　*/
.vl6{font-size: 160%; line-height: 145%;}

.vl5{font-size: 120%; line-height: 140%;}

.vl4{font-size: 90%; line-height: 142%;}

.vl3{font-size: 78%; line-height: 140%;}

.vl2{font-size: 70%; line-height: 145%;}

.vl1{font-size: 54%; line-height: 145%;}

/*　キャプション用　*/
.vm6{font-size: 160%; line-height: 125%;}

.vm5{font-size: 120%; line-height: 125%;}

.vm4{font-size: 90%; line-height: 120%;}

.vm3{font-size: 78%; line-height: 115%;}

.vm2{font-size: 70%; line-height: 120%;}

.vm1{font-size: 54%; line-height: 125%;}

/*　行間指定なし　*/
.vs6{font-size: 160%;}

.vs5{font-size: 120%;}

.vs4{font-size: 90%;}

.vs3{font-size: 75%;}

.vs2{font-size: 70%;}

.vs1{font-size: 55%;}

/* ヘッダー・フッター共通 */	
.wbr{
	white-space:nowrap;
}