/*==========================================

ups wwe

==========================================*/
#ups .articleTypeA{
width:920px !important;
margin-left:3px;
padding:10px 15px 5px !important;
}


/* ratechart
------------------------------------------*/
/*
#ups .upsTableStyle01{
margin-top:0 !important;
}
*/

#ups .upsTableStyle01 th,
#ups .upsTableStyle01 td{
word-break:break-all;
word-wrap: break-word;
padding:3px 8px;
border:solid 1px #d3cec2;
vertical-align:middle;
}

#ups .upsTableStyle01 th{
text-align:center;
background:#e9e6e0;
font-weight:bold;
color:#666666;
}

#ups .upsTableStyle01 td{
text-align:right;
}

#ups .upsTableStyle01 .zone{
text-align:center !important;
font-weight:bold;
}

#ups ul.tabHead{
padding:0;
background:none;
border-bottom:3px solid #d4cbb7;
}

#ups ul.tabHead li{
width:65px;
padding:10px 19px 4px 18px;
background:url(../image/ups_tab_bg.gif) no-repeat 10px top;
font-size:13px;
line-height:1.2;
float:left;
text-align:center;
font-weight:bold;
}

#ups ul.tabHead li span{
padding:0 15px;
}

#ups ul.tabHead li.tabCurrent{
background: url(../image/ups_tab_bg.gif) no-repeat right top;
}

#ups .tabBody {
padding:0;
background:none;
}

#ups .tabBody div#tab2Body,
#ups .tabBody div#tab3Body,
#ups .tabBody div#tab4Body,
#ups .tabBody div#tab5Body,
#ups .tabBody div#tab6Body,
#ups .tabBody div#tab7Body,
#ups .tabBody div#tab8Body,
#ups .tabBody div#tab9Body{
display:none;
}

#ups .bodTopInConv{
border-top: none !important;
width:680px;
margin-left:3px;
padding:10px 15px 5px 15px;
}
