@charset "Shift_JIS";

/* トップページ基本N4.7用 -----------------------------------
---------------------------------------------------------- */

/*N4用独自指定*/
.vm2{font-size: 11px; line-height: 145%;}
.vm3{font-size: 13px; line-height: 145%;}
.l2{font-size: 11px; line-height: 145%;}
/*N4用独自指定ここまで*/

/*これ以降はbace.cssに上書きされる*/

body {
	background-color: #FFFFFF;
	text-align: center;
	color: #333333;
	}

a:link {
	color: #1B54E3;
	text-decoration: none;
	}

/*N4には効かない
a:hover {
	color: #CC6600;
	text-decoration: none;
	}
	*/

a:visited {
	color: #D47504;
	text-decoration: none;
	}


.footer a:link{
	color: #555555;
	}

.footer a:hover{
	color: #555555;
	text-decoration: underline;
	}

.footer a:visited{
 color: #555555;
	}

.new{
	color: #F50909;
	}

#copylight{
	color: #999999;
	}

/* トップページ基本N4.7用ここまで ---------------------------
---------------------------------------------------------- */