/*==========================================

Aside Area

==========================================*/

/* SearchArea
------------------------------------------*/
#asideArea .asideBox dl.trackNumBox dt{
padding:5px 0 9px 3px;
}

#asideArea .asideBox dl.trackNumBox #searchNumAside {
background:url(../image/aside_bg_input.gif) no-repeat left top;
width:200px;
height:51px;
position:relative; 
}
#asideArea .asideBox dl.trackNumBox #searchNumAside .button {
position:absolute;
left:10px;
width:184px;
top:8px;
}
#asideArea .asideBox dl.trackNumBox input#searchNumTxtAside {
position: absolute;
top: 14px;
left: 34px;
height: 17px;
background:none;
border:none;
/*margin:13px 0 0 34px;*/
width:150px;
color:#666;
}

#asideArea .asideBox dl.trackNumBox dd ul{
margin-top:10px;
clear:both;
}

#asideArea .asideBox dl.searchBtnBox{
padding-bottom:5px;
clear:both;
}
#asideArea .asideBox dl.searchBtnBox dt{
margin-top:15px;
}

/* ========= 
#asideArea .asideBox dl.searchBtnBox dd ul{
width:200px;
height:92px;
margin-top:10px;
position:relative;
background:url(../image/aside_bg_searching.gif) no-repeat left top;
}
#asideArea .asideBox dl.searchBtnBox dd ul li.btn01{
height:38px;
top:6px;
left:7px;
font-size:1px;
line-height:1;
position:absolute;
}
#asideArea .asideBox dl.searchBtnBox dd ul li.btn02{
height:38px;
bottom:7px;
left:7px;
font-size:1px;
line-height:1;
position:absolute;
}
========= */


#asideArea .asideBox li.defaultLink02{
line-height:1.4;
background:url(/global_common/image/icon_arrow_05.gif) no-repeat 0 0.2em;
padding:0 0 0 20px;
}
#asideArea .asideBox .searchInner li.blankLink {
margin-left:5px;
text-indent:-20px;
}
#asideArea .asideBox .searchInner li.blankLink img{
margin:0 5px 0 3px;
}

/* Local Navigation Headings
------------------------------------------*/
#asideArea .personal,
#asideArea .business{
text-align:left;
margin-bottom:15px;
zoom:1;
}

#asideArea .lNavTtl{
font-size:1%;
line-height:1%;
}

#asideArea .personal .lNavTtl,
#asideArea .personal .lNavTtl a,
#asideArea .business .lNavTtl,
#asideArea .business .lNavTtl a{
display:block;
height:35px;
margin-left:1px;
text-indent:-9999px;
}

/* personal */
#asideArea .personal .lNavTtl a{
background:url(../image/aside_ttl_personal_off.png) no-repeat top left;
}
#asideArea .personal .lNavTtl a:hover{
background:url(../image/aside_ttl_personal_on.png) no-repeat top left;
}

/* business */
#asideArea .business .lNavTtl a{
background:url(../image/aside_ttl_business_off.png) no-repeat top left;
}
#asideArea .business .lNavTtl a:hover{
background:url(../image/aside_ttl_business_on.png) no-repeat top left;
}

/* IE6
------------------------------------------*/
/* personal */
*html #asideArea .personal .lNavTtl a{
background:url(../image/aside_ttl_personal_off.gif) no-repeat top left;
}
*html #asideArea .personal .lNavTtl a:hover{
background:url(../image/aside_ttl_personal_on.gif) no-repeat top left;
}

/* business */
*html #asideArea .business .lNavTtl a{
background:url(../image/aside_ttl_business_off.gif) no-repeat top left;
}
*html #asideArea .business .lNavTtl a:hover{
background:url(../image/aside_ttl_business_on.gif) no-repeat top left;
}
