/*==========================================

 Bottom Navigation

==========================================*/

#lowerNav .leftArea {
width:245px;
float:left;
}
#lowerNav .leftArea dt{
margin-bottom:9px;
clear:both;
}
#lowerNav .leftArea ul {
margin:6px 0 0 10px;
}
#lowerNav .leftArea ul li {
padding-bottom:3px;
width:280px;
line-height:1.4;
}
#lowerNav .leftArea #searchNum {
width:210px;
height:43px;
background:url(/global_common/image/lowerNav_bg_input.gif) no-repeat left top;
position:relative; 
}
#lowerNav .leftArea #searchNumTxt {
width:144px;
margin:14px 0 8px 34px;
color:#666;
background:none;
border:none;
}
* html #lowerNav .leftArea #searchNumTxt {
margin-top:13px;
}
#lowerNav .leftArea #searchNum .button {
position:absolute;
left:10px;
width:184px;
top:5px;
}

#lowerNav .middleArea {
width:240px;
padding-left:20px;
margin-left:5px;
float:left;
background:url(/global_common/image/lowerNav_bg_line.gif) left top repeat-y;
}
#lowerNav .middleArea dt,
#lowerNav .rightArea dt{
margin-bottom:18px;
clear:both;
}
#lowerNav .middleArea ul li,
#lowerNav .rightArea ul li {
line-height:1.4;
padding:0 0 10px 20px;
background:url(/global_common/image/icon_arrow_05.gif) no-repeat 0 0.2em;
}
#lowerNav .middleArea ul li.blankLink,
#lowerNav .rightArea ul li.blankLink {
background-image:none;
position:relative;
text-indent:0;
}
#lowerNav .middleArea ul li.blankLink a,
#lowerNav .rightArea ul li.blankLink a{
_padding-left:0px;
text-indent:-13px;
_text-indent:0;
*text-indent:0;
}






#lowerNav .middleArea ul li.blankLink img,
#lowerNav .rightArea ul li.blankLink img {
position:absolute;
left:2px;
_left:-17px;
top:0.3em;
}

#lowerNav .rightArea {
width:304px;
padding-left:30px;
float:left;
background:url(/global_common/image/lowerNav_bg_line.gif) left top repeat-y;
}

#lowerNav .rightArea ul.listType01 li {
float:left;
width:124px;
margin-right:10px;
_margin-right:5px;
}
#lowerNav .rightArea ul.listType01 li.last {
margin-right:0;
}

#lowerNav .rightArea ul.listType02 li {
width:100%;
_width:270px;
}

#lowerNav .rightArea ul.listType01 li.blankLink,
#lowerNav .rightArea ul.listType02 li.blankLink {
background-image:none;
}
