/*==========================================

Global Navigation

==========================================*/
#globalNav {
width:100%;
background:url(/global_common/image/header_bg_navi.gif) bottom left repeat-x;
z-index:10000;
}

#gNavBt01 a.gnavarea{
display:block !important;
width:159px;
height:48px;
text-indent:-9999px;
cursor:pointer;
overflow:hidden;
}

.gNavOver{
background-position:0 -48px !important;
}

#gNavBt01{
background:url(../image/gnav_01.gif) no-repeat 0 0;
}
#gNavBt01:hover{
background:url(../image/gnav_01.gif) no-repeat 0 -48px;
}
#personal #gNavBt01{
background:url(../image/gnav_01.gif) no-repeat 0 -96px!important;
}

#gNavBt02 a.gnavarea{
display:block !important;
width:158px;
height:48px;
text-indent:-9999px;
cursor:pointer;
overflow:hidden;
}
#gNavBt02{
background:url(../image/gnav_02.gif) no-repeat 0 0;
}
#gNavBt02:hover{
background:url(../image/gnav_02.gif) no-repeat 0 -48px;
}
#send #gNavBt02{
background:url(../image/gnav_02.gif) no-repeat  0 -96px!important;
}

#gNavBt03 a.gnavarea{
display:block !important;
width:158px;
height:48px;
text-indent:-9999px;
cursor:pointer;
overflow:hidden;
}
#gNavBt03{
background:url(../image/gnav_03.gif) no-repeat 0 0;
}
#gNavBt03:hover{
background:url(../image/gnav_03.gif) no-repeat 0 -48px;
}
#receive #gNavBt03{
background:url(../image/gnav_03.gif) no-repeat  0 -96px!important;
}

#gNavBt04 a.gnavarea{
display:block !important;
width:158px;
height:48px;
text-indent:-9999px;
cursor:pointer;
overflow:hidden;
}
#gNavBt04{
background:url(../image/gnav_04.gif) no-repeat 0 0;
}
#gNavBt04:hover{
background:url(../image/gnav_04.gif) no-repeat 0 -48px;
}
#business #gNavBt04{
background:url(../image/gnav_04.gif) no-repeat  0 -96px!important;
}

#gNavBt05 a.gnavarea{
display:block !important;
width:158px;
height:48px;
text-indent:-9999px;
cursor:pointer;
overflow:hidden;
}
#gNavBt05{
background:url(../image/gnav_05.gif) no-repeat 0 0;
}
#gNavBt05:hover{
background:url(../image/gnav_05.gif) no-repeat 0 -48px;
}
#corporate #gNavBt05{
background:url(../image/gnav_05.gif) no-repeat  0 -96px!important;
}

#gNavBt06 a.gnavarea{
display:block !important;
width:159px;
height:48px;
text-indent:-9999px;
cursor:pointer;
overflow:hidden;
}
#gNavBt06{
background:url(../image/gnav_06.gif) no-repeat 0 0;
}
#gNavBt06:hover{
background:url(../image/gnav_06.gif) no-repeat 0 -48px;
}
#contact #gNavBt06{
background:url(../image/gnav_06.gif) no-repeat  0 -96px!important;
}

/* GlobalNavi Pulldown
------------------------------------------*/
ul.gnavPulldown a {
text-decoration: none;
}

#nav {
width:958px;
margin:0 auto;
zoom:100%;
z-index:10000;
}  

#nav li {
list-style: none;
float: left;
position: relative;
zoom:100%;
text-align:left;
}  

#nav li ul{
text-indent:0 !important;
}  

ul.gnavPulldown li {
float: left;
_margin:0;
_padding:0;
zoom:100%;
}
ul.gnavPulldown li a {
zoom:100%;
}

ul.gnavPulldown li ul {
position: absolute !important;
top: -9999em;
z-index: 1 !important;
zoom:100%;
}

ul.gnavPulldown li:hover ul{
top: 0;
padding:0 5px 10px 3px;
position: absolute;
top:43px;
left:-3px;
z-index: 1 !important;
zoom:100%;
}

ul.gnavPulldown li ul.active {
top: 0;
padding:0 5px 10px 3px;
position: absolute;
top:43px;
left:-3px;
z-index: 1 !important;
zoom:100%;
}

ul.gnavPulldown li ul li{
float: none;
margin: 0;
font-weight: normal;
zoom:100%;
}

ul.gnavPulldown li ul.gNavList01{
left:-2px !important;
}
/* 01 */
ul.gnavPulldown li ul.gNavList01{
width:218px;
background:url(/global_common/image/gnav_bg_pulldown01.png) bottom left no-repeat;
}
ul.gnavPulldown li ul.gNavList01 li{
width:211px;
}

/* 02 */
ul.gnavPulldown li ul.gNavList02{
width:218px;
background:url(/global_common/image/gnav_bg_pulldown01.png) bottom left no-repeat;
}
ul.gnavPulldown li ul.gNavList02 li{
width:211px;
}

/* 03 */
ul.gnavPulldown li ul.gNavList03{
width:167px;
background:url(/global_common/image/gnav_bg_pulldown02.png) bottom left no-repeat;
}
ul.gnavPulldown li ul.gNavList03 li{
width:160px;
}

ul.gnavPulldown li ul li a{
display:block;
background:url(/global_common/image/icon_arrow_01.gif) no-repeat 8px 10px;
padding:5px 5px 5px 18px;
}

ul.gnavPulldown li ul li a:hover{
background:#E1DDD5 url(/global_common/image/icon_arrow_01.gif) no-repeat 8px 10px;
text-decoration:underline;
}

ul.gnavPulldown:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
