/*==========================================

Header Type Normal

==========================================*/
#header{
width: 100%;
text-align:center;
background:url(/global_common/image/header_bg_top.gif) repeat-x left top #ffffff;
}

#header #headerIn{
width:958px;
padding:0 0 16px 0;
margin:0 auto;
position:relative;
text-align:left;
z-index:10000;
}
#header #headerIn p.logo{
padding:32px 0 0 10px;
}
#header #headerIn p.home{
position:absolute;
top:49px;
left:395px;
width:53px;
height:12px;
}

#header ul#headerNavi {
position:absolute;
top:18px;
right:0;
}
#header ul#headerNavi:after {visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;}
#header ul#headerNavi li{
float:left;
padding-top:4px;
margin-left:20px;
line-height:0;
font-size:0px;
}
#header ul#headerNavi li.langnav{
padding-top:0px;
}


/* Font Size
------------------------------------------*/
#header #fontSize {
position:absolute;
top:16px;
/*right:280px;*/
right:312px;
width:73px;
height:24px;
padding:3px 0 0 70px;
background:url(../image/header_bg_naviFont.gif) no-repeat left top;
}
#header #fontSize li {
float:left;
margin:0 2px 0 0;
}
#header #fontSize li img {
cursor:pointer
}

/* Site Search
------------------------------------------*/
#header .searchSiteBox{
width:460px;
position:absolute;
top:49px;
right:0px;
z-index:1;
}
#header .searchSiteBox:after {visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;}

#header .searchSiteBox ul{
margin:0 10px 0 0;
}

/*#header .searchSiteBox form*/
#header .searchSiteBox ul{
float:left;
}

#header #searchbox{
margin-top:0;
background:url(/global_common/image/header_bg_serach01.gif) no-repeat left top;
width:456px;
height:30px;
position:relative;
}

#searchSiteTxt {
position: absolute;
top: 4px;
_top: 2px;
*top: 2px;
left: 34px;
height: 15px;
width: 160px;
color: #666;
border:none;
background:none;
}
#searchSiteTxt input{
width: 170px;
min-height: 18px;
_height: 18px;
line-height: 1.5;
outline:none;
border:none;
*border:1px solid #fff!important;
_border:1px solid #fff!important;
}

#searchbox .button {
position: absolute;
top: 0px;
left: 216px;
width: 50px;
color: #666;
}
#searchbox .SS_group {
width:180px;
float:right;
display: inline;
margin-top:4px;
}