body {  margin-left:0px;  margin-top:0px;  color:#333333;}   a:link{color:#0000ff;text-decoration:none;}a:visited{color:#0000ff;text-decoration:none;}  a:hover{color:#0000ff;text-decoration:underline} a:active{color:#0000ff;text-decoration:none;}