@charset "utf-8";


/* wrapper */
#hands_free_travel {
	font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", sans-serif;
	color: #333;
	letter-spacing: -0.025em;
	-webkit-text-size-adjust: none;
}

#hands_free_travel * {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


/* ----------
 * lang
 */
#hft_lang {
	padding: 5px 20px;
	background: #f0e8c8;
}
	#hft_lang a {
		display: table;
		width: 100%;
		color: #fff;
	}
		#hft_lang a span {
			display: table-cell;
			height: 35px;
			background-color: #c0a138;
			background-image: url(../images/arrow_white.png);
			background-repeat: no-repeat;
			background-position: right;
			background-size: 30px auto;
			border: 1px solid #fff;
			border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			font-size: 13px;
			text-align: center;
			vertical-align: middle;
		}


/* ----------
 * service
 */
#hft_service {
	padding-top: 36px;
	padding-bottom: 24px;
	border-bottom: 3px solid #e6e6e8;
}
	#hft_service h2 {
		display: block;
		font-size: 20px;
		font-weight: bold;
		color: #008576;
		text-align: center;
	}
	#hft_service .cap {
		padding-top: 6px;
		font-size: 11px;
		text-align: center;
	}
	#hft_service .hft_content {
		padding: 0 8px;
		padding-top: 20px;
	}
		.hft_service_item {
			display: block;
		}
			.hft_service_item dt {
				display: table;
				width: 100%;
				background-repeat: no-repeat;
				background-position: 3px 0;
				background-size: 30px auto;
				border-radius: 3px;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
			}
			#hft_service_item01 dt {
				background-color: #e46a89;
				background-image: url(../images/service_icon01.png);
			}
			#hft_service_item02 dt {
				background-color: #6179cf;
				background-image: url(../images/service_icon02.png);
			}
			#hft_service_item03 dt {
				background-color: #4eb887;
				background-image: url(../images/service_icon03.png);
			}
			#hft_service_item04 dt {
				background-color: #adb445;
				background-image: url(../images/service_icon04.png);
			}
				.hft_service_item dt span {
					display: table-cell;
					height: 30px;
					padding-left: 36px;
					font-size: 14px;
					color: #fff;
					vertical-align: middle;
				}
			.hft_service_item dd {
				padding: 0 8px;
				padding-top: 6px;
				padding-bottom: 18px;
				font-size: 12px;
				line-height: 18px;
			}
				.hft_service_item dd ul {
					
				}
					.hft_service_item dd li {
						padding-top: 5px;
					}
						.hft_service_item dd a {
							display: inline;
							padding-right: 18px;
							background-image: url(../images/icon_pc.png);
							background-position: right;
							background-repeat: no-repeat;
							background-size: 11px auto;
							font-weight: bold;
							color: #008576;
							text-decoration: underline;
						}


/* ----------
 * back
 */
#hft_back {
	padding: 20px 50px 52px 50px;
}
	#hft_back a {
		display: table;
		width: 100%;
		color: #008576;
	}
		#hft_back a span {
			display: table-cell;
			height: 40px;
			background-color: #fff;
			background-image: url(../images/back_green.png);
			background-repeat: no-repeat;
			background-position: left;
			background-size: 30px auto;
			border: 1px solid #008576;
			border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			font-size: 12px;
			font-weight: bold;
			text-align: center;
			vertical-align: middle;
		}


/* ----------
 * pagetop
 */
#btn_pagetop {
	position: fixed;
	right: 0;
	bottom: 20px;
	display: block;
	width: 40px;
	height: 40px;
}
	#btn_pagetop a {
		display: block;
		width: 40px;
		height: 40px;
	}


/* ----------
 * footer
 */
footer {
	margin-top: 20px;
}







