@charset "utf-8";
/*
 *	-- Layout Style --
 *
 *	01.	#wrapperMiddle Style
 *
 * - - - - - - - - - - - - - - - */
/*
 *	01.	#wrapperMiddle Style
 */
#wrapperMiddle #wrapInner .inner #contentsArea ul.localNav {
  width: 690px;
  /*					li:nth-child(n+6) {

						a {
							cursor: default;

							&:hover {
								background-image: url(../../../shared/img/common_icoContents_bulletOff.png);
								color: #A9A9A9;
							}
						}

						&:hover {
							background: none;
						}
					}
*/
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody {
  background: url(../../../shared/img/common_bgHeader_dotLine.png) repeat-x left bottom;
  padding: 28px 0 0;
  margin-bottom: 23px;
  overflow: hidden;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody h2 {
  margin: 0 0 25px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody p {
  margin-bottom: 30px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody p.attention {
  margin-bottom: 10px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody table {
  background: url(../../img/career_bgContents_backNoise.png) repeat-y left top;
  width: 938px;
  border: 1px solid #D7D7D7;
  text-align: center;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody table tr {
  zoom: 1;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody table tr th {
  width: 166px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody table tr th:first-child {
  width: 99px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody table tr th:nth-child(2) {
  width: 165px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody table tr th.title {
  text-align: right;
  vertical-align: top;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody table tr#tableHead {
  border-bottom: 1px solid #DFDFDF;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody table tr#tableHead th {
  padding: 22px 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody table tr.arrowCol td {
  padding: 14px 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody table tr.arrowCol td img {
  vertical-align: middle;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody table tr.verTop td {
  vertical-align: top;
  text-align: center;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody table tr.verTop td img {
  display: block;
  width: 126px;
  margin: 0 auto 5px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody table tr.lastCol th {
  padding-top: 50px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody table tr.lastCol td {
  height: 150px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody table tr td dl.box01 {
  background: url(../../img/career_bgContents_box01.png) no-repeat left top;
  width: 596px;
  height: 73px;
  padding: 18px;
  margin: 0 auto;
  text-align: left;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody table tr td dl.box01 dd {
  margin: 0;
  line-height: 1.4;
  font-size: 0.92em;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody table tr td dl.box02 {
  background: url(../../img/career_bgContents_box02.png) no-repeat left top;
  width: 596px;
  height: 40px;
  padding: 18px;
  margin: 0 auto;
  text-align: left;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody table tr td dl.box02 dd {
  margin: 0;
  line-height: 1.4;
  font-size: 0.92em;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody table tr td dl.group {
  padding: 0 15px;
  margin: 0;
  text-align: left;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody table tr td dl.group dt {
  height: 15px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody table tr td dl.group dt img {
  display: block;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody table tr td dl.group dd {
  margin: 0;
  line-height: 1.4;
  font-size: 0.92em;
}
