@charset "UTF-8";

.method-read {
	font-size:15rem;
	font-weight:bold;
	line-height:160%;
	margin:10px;
	text-align:center;
}

.step_area {
	margin:10px;
}

.step_area_last {
	margin-bottom:20px;
}

#btn_oubo {
	width:100#;
	text-align:center;
	margin:10px 0 40px 0;
}

img.step {
	margin-bottom:5px;
}

.method-tempread {
	font-size:13rem;
	font-weight:bold;
	line-height:160%;
	text-align:center;
}