body	{ margin:0px;} 
.non	{line-height:normal}
#non	{line-height:normal}

a:link    {color:#0033CC;  text-decoration:underline}
a:visited {color:#0033CC;  text-decoration:underline}
a:hover   {color:#FF0000;  text-decoration:underline}

a.p:link    {color:#7436FD;  text-decoration:underline}
a.p:visited {color:#7436FD;  text-decoration:underline}
a.p:hover   {color:#FF0000;  text-decoration:underline}

a.w:link    {color:#0000FF;  text-decoration:underline}
a.w:visited {color:#0000FF;  text-decoration:underline}
a.w:hover   {color:#FF0000;  text-decoration:underline}

a.t:link    {color:#FFF000;  text-decoration:underline}
a.t:visited {color:#FFF000;  text-decoration:underline}
a.t:hover   {color:#FF3333;  text-decoration:underline}

.t10	{	font-size:11px;	line-height:130%;}
.t12	{font-size:13px; line-height:130%}
.t14	{font-size:15px; line-height:130%}
.t14h18 {font-size:15px; line-height:18px}
.t12h18 {font-size:13px; line-height:18px}

.t14 .right {	float: right;}
.t14 .left {	float: left;	clear: both;}



.stop {
	float: left;
	width: 100px;
	text-align: left;
	border: 2px solid #CCCCCC;
	padding: 2px 2px 2px 2px;
}
.newsTbl { border: 1px solid #999999; }

.newsTbl td {
	font-size: 12px;
	line-height: 1.3em;
}
