@charset "Shift_JIS";

/*----------------------------------------------------------------------
	Base Element
----------------------------------------------------------------------*/

	body {margin:0; padding:0; color:#444; font-size:100%;  background:#fff;}
	h1,h2,h3,h4,h5,ul,ol,li,p{padding:0; margin:0; font-size:90%;}
	ul,ol,li{list-style:none;}
	ol li{list-style-type:decimal; padding:2px 0; font-size:90%; line-height:1.5;}	
	ol {padding:5px 0 5px 30px;}

	a:link{text-decoration:none;}
	a:hover{text-decoration:underline;}	
	
/*----------------------------------------------------------------------
	Layout Element
----------------------------------------------------------------------*/

	#wrapper{width:750px; padding:0; margin:10px auto;}
	#wrapper img{padding:0; margin:0;}
	#container{border:solid 0px #FFF100; border-bottom:none; padding:0px 0;}
	.cphead{width:750px; height:609px;}
	.maincol{width:748px; margin:0 auto; padding:0px 0 0px 0; font-size:90%; text-align:center;}
	.maincol p{text-align:left; font-size:90%; color: #222; line-height:1.8; padding:5px 10px;}
	.maincol .gray{background:#f7f7f7; margin:0; padding:0px 20px; text-align:left; line-height:1.8; font-size:90%; color:#222;}
	*html .maincol .gray{background:#f7f7f7; margin:-10px 0; padding:10px 20px; text-align:left; line-height:1.8;  color:#222;}
	*+html .maincol .gray{background:#f7f7f7; margin:-10px 0; padding:10px 20px; text-align:left; line-height:1.8;  color:#222;}

	.maincol img{padding:0; margin:0;}
	.maincol a:link{color:#009481; text-decoration:underline;}
	
	.memfr01{width:710px; height:10px; margin:0; padding:0; background:url(../images/memfr01.gif) 0 0 no-repeat;}
	*html .memfr01{width:710px; height:10px; margin:0 0 -10px 0; padding:0; background:url(../images/memfr01.gif) 0 0 no-repeat;}	
	.memfr02{width:710px; height:10px; margin:0; padding:0; background:url(../images/memfr02.gif) 0 0 no-repeat;}	
	.memmain{margin:0 auto; padding:0 12px; font-size:90%; text-align:left; border-left:solid 1px #8c856b;  border-right:solid 1px #8c856b; background:#fffae7;}	
	
	table.sizetable{width:650px; margin:5px 0; border-top: solid 1px #ccc;  border-left: solid 1px #ccc;}
	table.sizetable th{text-align:center; font-weight:normal; background:#e8e8e8; color:#444; font-size:90%; padding:5px; border-right: solid 1px #ccc;  border-bottom: solid 1px #ccc; }
	table.sizetable td{font-size:90%; padding:5px 10px; border-right: solid 1px #ccc;  border-bottom: solid 1px #ccc; text-align:center; background:#fff;}
	
	
/*----------------------------------------------------------------------
	TXT
----------------------------------------------------------------------*/	
	
	.txtg{color:#009481;}
	.txtr{color:#d80000;}	
	.maincol strong{color:#009481;}
	
	.maincol a{color:#009481; text-decoration:underline;}
	.maincol a:hover{color:#009481; text-decoration:none;}	