/*==========================================

Business/Solution

==========================================*/


/*------------------------------------------
@ solutionBox
------------------------------------------*/
.solutionLinkBoxInner dt{
float:left;
width:170px;
}

.solutionLinkBoxInner dd{
float:right;
width:452px;
}

.solutionLinkBoxInner dd a{
font-weight:bold;
}

.serviceList{
margin:20px auto 0;
text-align:center;
}

.serviceList li{
display:inline;
}
.solutionImg{
float:left;
width:167px;
}

.solutionText{
float:right;
width:451px;
}

.solutionText h3{
border-left:none;
padding:0;
}

.solutionText h4{
font-weight:bold;
}

.solutionText ol{
margin-top:12px;
/*margin:12px 0 0;
padding:0 0 0 20px;*/
}

.solutionText ol li{
padding-bottom:5px;
}

*html .solutionText ol{
padding:0 0 0 25px;
}

*:first-child+html .solutionText ol{
padding:0 0 0 25px;
}

#main .sectionCont .solutionText li{
list-style:decimal;
margin-bottom:5px;
zoom:normal
}

p.featureBox{
margin-top:5px;
padding:5px 8px;
border:1px solid #999;
}

.prForIe6_20{_padding-left:20px !important;}

/*==========================================

Business/Solution/global_logistic/

==========================================*/

.problemSubBox{
width:670px;
margin:0 auto;
padding:14px 0 0;
background:url(../image/bg_problem_sub_top.gif) no-repeat left top;
text-align:left;
}

.problemSubBoxBottom{
padding:0 0 14px;
background:url(../image/bg_problem_sub_bottom.gif) no-repeat left bottom;
zoom:1;
}
.problemSubBoxBottom:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.problemSubBoxInner{
padding:0 17px;
background:url(../image/bg_problem_sub.gif) repeat-y 0 0;
}

.problemSubBoxInner ol li{
padding-bottom:5px;
}

.problemSubBoxInner ol li{
padding-bottom:5px;
}
.problemSubBoxInner ul li{
float:left;
width:290px;
margin-bottom:5px !important;
padding:0 5px 0 12px;
background:url(../image/icon_list.gif) no-repeat left 0.5em;
font-weight:bold;
}
