/*==========================================

information

==========================================*/

div.infoText .infoTitle{
text-align:center;
font-weight:bold;
font-size:120% !important;
line-height:1.45;
padding-top:15px;
padding-bottom:40px;
}