@charset "utf-8";


/* タブ */
.tab-link.tabs li {
	width:23%;
}


/* アコーディオン */
.tabContent .accordionContent {
	display:block;
}
.accordion dt span {
	padding:15px 20px;
}
.accordion dd {
	padding:10px;
	background:#fff;
}
.accordion dd h3 {
	margin:10px -10px 10px;
}




.indent04 li {
	margin-bottom:5px;
	padding-left:17px;
	text-indent:-17px;
}



#tabContent02.tabContent {
	padding:0;
}
#tabContent02.tabContent .container {
	background:#fff;
}


#tabContent02 .table03 {
}
#tabContent02 .table03 th,
#tabContent02 .table03 td {
}



.boxR {
	border:1px solid #D00003;
	padding:5px;
}