@charset "utf-8";


/* タブ */
.tab-link.tabs li {
	width:31%;
}



/* アコーディオン */
.tabContent .accordionContent {
	display:block;
}
.accordion dt span {
	padding:15px 20px;
}
.accordion dd {
	padding:10px;
	background:#fff;
}
.accordion dd h3 {
	margin:10px -10px 10px;
}



.indent04 li {
	margin-bottom:5px;
	padding-left:17px;
	text-indent:-17px;
}


.send .col {
	width:50%;
}
.send .col-l {
	padding:0 5px 25px 0;
}
.send .col-r {
	padding:0 0 25px 5px;
}



#tabContent02.tabContent {
	padding:0;
}
#tabContent02.tabContent .container {
	background:#fff;
}

.inhavit_list .inhavit_inner {
	float:left;
	margin-right:3%;
	width:30%;
	text-align:center;
}


/* 料金表 wrapper*/

div.charge {
    width: 100%;
    max-width: 400px;
}

/* スクロールする料金表 */
div#scroll {
    /*height: 13em;*/
    width: 85%;
    padding: 0;
    max-width: 500px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

/* table style */
div#scroll .table {
width:30em;
border-collapse:collapse;
}

div#scroll .table04 th,.table04 td {
padding:1px;
border:1px solid #333;
font-size:0.6em;
text-align:center;
line-height:1.2;

}
.table.table04 thead tr,td,th {
	width:1.86m
}

div#scroll .table04 thead th {
background:#ddd;
	width:1.6em
}
div#scroll .table04 thead td {
background:#ECFBF9;
	width:1.6em
}
div#scroll .table04 tbody th {
background:#FDF8E6;
	width:1.6em
}




/* スクロールしない料金表 */

div#no_scroll {
    height: 13em;
    padding: 0;
	float:left
}

div#no_scroll .table {
width:3.2em;
border-collapse:collapse;
}

.table05 th,.table05 td {
padding:1px;
border:1px solid #333;
font-size:0.6em;
text-align:center;
line-height:1.2;

}
.table.table05 thead tr {
	width:3em
}

.table05 thead th {
background:#ddd;
	width:3em
}
.table05 thead td {
background:#ECFBF9;
	width:3em
}
.table05 tbody th {
background:#FDF8E6;
	width:3em
}


/* 荷物を出す */
.col2 {
	background:#F5F5EB;
	padding:10px 0 0 0;
}
.col-l2 {
	padding:0 10px 20px 10px;
}
.col-l2 dt{
	font-weight:bold;
}