@charset "utf-8";


table.layout {
	width:100%;
	table-layout:fixed;
}
.layout td {
	padding:0 10px;
}

.tit04 {
	margin-bottom:8px;
	padding:3px 0 1px 5px;
	border-left:4px solid #006e63;
	line-height:1.2;
	font-weight:bold;
}


.indent04 li {
	margin-bottom:5px;
	padding-left:17px;
	text-indent:-17px;
}

