@charset "utf-8";

/*----------------------------
 estimate
----------------------------*/


.link-list04.row a {
	overflow:hidden;
	padding-top:13px;
	padding-bottom:13px;
}
.link-list04.row .col {
	float:left;
	position:relative;
	top:-2px;
	width:4em;
}


.table02 {
	margin:5px 0 10px;
	table-layout:fixed;
}
.table02 th,.table02 td {
	padding:8px 0;
}
.table02 thead th {
	white-space:nowrap;
}
.table02 thead td {
	padding:3px 0;
	font-size:0.8em;
}
.table02 thead td.no,
.table02 tbody th {
	background:#FDF8E6;
	font-weight:bold;
}

.table02.all th,
.table02.all td {
	font-size:0.55em;
	white-space:inherit;
}
.table02.all thead td {
	font-size:0.45em;
}


.accordion dd {
	padding:8px 8px 0;
	border-width:1px 0 0 0;
}
.accordion dd .table02 {
	margin:0 0 10px;
}
.accordion dd:last-of-type {
	border-bottom:none;
}





.table02.size thead {
}
.table02.size thead td {
	padding:7px;
}

.table02.price thead {
}
.table02.price thead td {
	padding:6px;
}
.table02.price tbody th,
.table02.price tbody td {
	padding:6px;
}
.table02.price {
	table-layout:auto;
}

.txt01 {
	margin-top:20px;
}


.ichiran dt {
	background:none;
}

