@charset "utf-8";

/*----------------------------
 Infor
----------------------------*/
.serice-info {
border:1px solid #7a7a7a;
-webkit-border-radius:9px;
border-radius:9px;
}

.serice-info .title01{
color:#fff;
background-color:#1ba796;

background:-moz-linear-gradient(bottom, rgb(30,170,153), rgb(0,133,118));
background:-webkit-gradient(linear, left bottom, left top,
color-stop(0, rgb(30,170,153)),
color-stop(0.5, rgb(30,170,153)),
color-stop(1, rgb(0,133,118))
);




-webkit-border-radius:9px 9px 0 0;
border-radius:9px 9px 0 0;
padding:5px 10px;
}
.serice-info .title02{
background-color:#fdd000;
font-size:0.923em;
padding:5px 0px 5px 10px;
}
.serice-info .title03{
color:#ff6000;
background-color:#ecfbf9;
text-align:center;
font-size:1.385em;
padding:5px 0;
}

.serice-info .paragraph{
display:-moz-box;
display:-webkit-box;
display:-o-box;
display:-ms-box;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
width:100%;
padding:10px 3px 0 9px;
background-color:#fff;
}
.serice-info .paragraph .text{
-webkit-box-flex:1;
-moz-box-flex:1;
}
.serice-info .paragraph.image-right .image{
width:77px;
}

.serice-info .btn-area{
padding:10px 13px 22px;
background-color:#fff;

-webkit-border-radius:0 0 9px 9px;
border-radius:0 0 9px 9px;
}
.link-list02 a.bgimageNo{
background-image:none;
}
.link-list02 a span{
display:block;
width:100%;
text-align:center;
}

.textBtn01{
width:100%;
margin:10px auto 0;
}


.textBtn01 a{
width:100%;
padding:0;
font-family:"HiraKakuProN-W6","Helvetica",Arial,sans-serif;
color:#fff;

-webkit-border-radius:9px;
border-radius:9px;
border:1px solid #018273;

background:-moz-linear-gradient(bottom, rgb(2,127,112), rgb(25,164,148));
background:-webkit-gradient(linear, left top, left bottom,
color-stop(0, rgb(2,127,112)),
color-stop(1, rgb(25,164,148))
);
-webkit-background-size:0px;
padding:0 10px;


text-shadow: 0px -1px 1px rgba(0,0,0,0.6);
-webkit-box-shadow:inset 0px 0px 1px rgba(0,0,0,0.7);
box-shadow:inset 0px 0px 1px rgba(0,0,0,0.7);
}

.textBtn01 a .wrap{
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
display:-moz-box;
display:-webkit-box;
display:-o-box;
display:-ms-box;
-moz-box-align:center;
-webkit-box-align:center;
-o-box-align:center;
-ms-box-align:center;

width:100%;
height:69px;

background:url(../img/icon_link_04.png) no-repeat right 30%;
-webkit-background-size:9px 13px;
background-size:9px 13px;

-moz-background-origin:content;
-webkit-background-origin:content;
background-origin:content-box;

}

.textBtn01 a span{
text-align:left;
display:inherit;
width:auto;
}
.textBtn01 a span.icon{
display:block;
margin-right:10px;
}


.bgColor01{
padding-bottom:20px;

background:-moz-linear-gradient(bottom, rgb(253,253,234), rgb(255,255,255));
background:-webkit-gradient(linear, left top, left bottom,
color-stop(0, rgb(255,255,255)),
color-stop(0.035, rgb(255,255,255)),
color-stop(0.035, rgb(253,253,234)),
color-stop(1, rgb(253,253,234))
);
}


.title03.textSmall{
font-size:1.154em;/*15px*/
}








/* タブ */
/*
.tab-link.tabs li {
	width:48%;
}
#tabContent01.tabContent {
	padding:0;
}
#tabContent01.tabContent .container {
	background:#fff;
}
*/
.tab-link {
	margin:0;
}
.tab-link ul {
	display:block;
	text-align:center;
}
.tab-link li {
	display:inline-block;
	width:45%;
	vertical-align:bottom;
}
.tab-link li a {
	padding:10px 0;
	background: #E1DED5;
	/*background: linear-gradient(to bottom, #fff, #E1DED5);*/
	background: linear-gradient(to bottom, #cbcbcb, #b6b6b6);
	/*color:#007F70;*/
	color:#FFF;
	font-size:15px;
	font-weight:bold;
	text-shadow:none;
	border-radius:6px 6px 0 0;
	border:1px solid #AAA284;
	border-bottom:none;
}
.tab-link li a.stay {
	background: #08897A;
	background: linear-gradient(to bottom, #18A292, #08897A);
	color:#fff;
	text-shadow:1px 1px 1px #073B35;
	border-color:#018273;
}
#tabContents {
	padding:0;
	border:none;
}


.sec01 {
	padding-bottom:20px;
}
.ofh {
	overflow:hidden;
}
.flL.img {
	margin:0 10px 0 0;
}

h3.title {
	border-top: 1px solid #7a7a7a;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgb(235,233,227)), color-stop(0, rgb(255,255,255)) );
	padding:10px;
}
h3.title img {
	padding-right:10px;
}
h3.title b {
	color:#008072;
}
h4.title {
	margin-bottom:10px;
	color:#008072;
	font-weight:bold;
}


/* アコーディオン */
.tabContent .accordionContent {
	display:block;
}
.accordion dd {
	padding:10px;
	background:#fff;
}
.accordion dt span {
	padding: 10px 25px 10px 10px;
	overflow:hidden;
}
.accordionBtn .ico {
	padding-right:10px;
}
.accordionBtn b {
	color:#008072;
}

.accordion dt {
	border:none;
	border-top:1px solid #888;
	border-radius:0 !important;
}
.accordion dd {
	border:none !important;
	padding:10px 10px 20px;
}




#memberEntry {
	display:none;
}


