@charset "utf-8";


/* タブ */
.tab-link.tabs li {
	width:23%;
}


/* アコーディオン */
.tabContent .accordionContent {
	display:block;
}
.accordion dt span {
	padding:15px 20px;
}
.accordion dd {
	padding:10px;
	background:#fff;
}
.accordion dd h3 {
	margin:10px -10px 10px;
}




.indent04 li {
	margin-bottom:5px;
	padding-left:17px;
	text-indent:-17px;
}



.send .col {
	width:50%;
}
.send .col-l {
	padding:0 5px 25px 0;
}
.send .col-r {
	padding:0 0 25px 5px;
}



#tabContent01.tabContent,
#tabContent02.tabContent {
	padding:0;
}
#tabContent01.tabContent .container,
#tabContent02.tabContent .container,
#tabContent03.tabContent .container,
#tabContent04.tabContent .container {
	background:#fff;
}


#tabContent02 .table03 {
	table-layout:fixed;
}
#tabContent02 .table03 th,
#tabContent02 .table03 td {
	padding:8px 5px;
	font-size:9px;
}


div.info.box {
	margin:15px 0 10px;
	padding:5px;
	border:2px solid #FF0004;
	border-radius:4px;
}

h4.toku {
	margin-bottom:5px;
	color:#078777;
	font-size:14px;
	font-weight:bold;
}
ul.toku {
	margin-bottom:15px;
}



#note .box {
	border:1px solid #D00003;
	padding:5px;
}

.box2 img {
	padding:15px 0 0;
}

.boxR {
	border:1px solid #D00003;
	padding:5px;
}




/* 荷物を出す */
.col2 {
	background:#F5F5EB;
	padding:10px 0 0 0;
}
.col-l2 {
	padding:0 10px 20px 10px;
}
.col-l2 dt{
	font-weight:bold;
}