@charset "utf-8";


/* タブ */
.tab-link.tabs li {
	width:23%;
}
.tab-link.tabs li a {
	height:50px;
}


/* アコーディオン */
.tabContent .accordionContent {
	display:block;
}
.accordion dt span {
	padding:15px 20px;
}
.accordion dd {
	padding:10px;
	background:#fff;
}
.accordion dd h3 {
	margin:10px -10px 10px;
}




.indent04 li {
	margin-bottom:5px;
	padding-left:17px;
	text-indent:-17px;
}



.ku tbody th {
	white-space:nowrap;
}


.send .col {
	width:50%;
}
.send .col-l {
	padding:0 5px 25px 0;
}
.send .col-r {
	padding:0 0 25px 5px;
}


#tabContent02.tabContent {
	padding:0;
}
#tabContent02.tabContent .container {
	background:#fff;
}


.table03.small th,
.table03.small td {
	font-size:10px;
}



/* 荷物を出す */
.col2 {
	background:#F5F5EB;
	padding:10px 0 0 0;
}
.col-l2 {
	padding:0 10px 20px 10px;
}
.col-l2 dt{
	font-weight:bold;
}