@charset "utf-8";


.pagetit {
	font-size:20px;
	font-weight:bold;
	line-height:25px;
}

.indent01 li,
.indent03 li {
	margin-bottom:5px;
}

.indent04 li {
	margin-bottom:5px;
	padding-left:17px;
	text-indent:-17px;
}
