@charset "utf-8";


/* タブ */
.tab-link.tabs li {
	width:31%;
}



/* アコーディオン */
.tabContent .accordionContent {
	display:block;
}
.accordion dt span {
	padding:15px 20px;
}
.accordion dd {
	padding:10px;
	background:#fff;
}
.accordion dd h3 {
	margin:10px -10px 10px;
}




.indent04 li {
	margin-bottom:5px;
	padding-left:17px;
	text-indent:-17px;
}



.golf tbody th,
.golf tbody td {
	white-space:nowrap;
}


.send .col {
	width:48%;
	padding:0 1%;
}
.send .col dl {
	padding:10px;
	background:#FEE77F;
	border-radius:4px;
}
.send .col.btm {
	width:98%;
	padding:10px 0;
	margin:0px auto;
}


#tabContent02.tabContent {
	padding:0;
	border: 1px solid #7a7a7a;
	border-radius: 0 0 10px 10px;
}
#tabContent02.tabContent .container {
	background:#fff;
	border: 0px solid #7a7a7a;
	border-radius: 0 0 10px 10px;}


#tabContent01 .table03 th,
#tabContent01 .table03 td {
	padding:8px 5px;
	font-size:9px;
}




/* 荷物を出す */
.col2 {
	background:#F5F5EB;
	padding:10px 0 0 0;
}
.col-l2 {
	padding:0 10px 20px 10px;
}
.col-l2 dt{
	font-weight:bold;
}