@charset "utf-8";

/*----------------------------
 qa
----------------------------*/

.accordion dd a {
	display:inline;
	color: #078275;
	text-decoration:underline;
}
.accordion dd a.text {
	display:inline-block;
	width:auto;
	margin:5px 0;
	padding-left:10px;
	background:url(../img/icon_link_05.png) no-repeat 0 4px;
	background-size:6px;
}
.accordion dd .btn01 a {
	display:block;
}
.accordion dd a.tel {
	display:block;
}

.accordion .price tbody th {
	font-weight:bold;
}

.accordion dd ol {
	padding-left:20px;
	list-style:decimal;
}

.accordion dd .btn01 a {
	text-decoration:none;
	line-height:40px;
}

.accordion dd li.all {
	margin-top:10px;
	text-align:right;
}

/* 06 */
.airport.table th, 
.airport.table td {
	vertical-align:middle;
}

/* 08 */
.txt-time {
	display:inline-block;
	margin:3px 0 5px;
}
.figreGroup figure {
	width:30%;
	padding:5px 8px 5px 0;
}
.figreGroup figcaption {
	margin:3px 0 0;
	font-size:0.8em;
}
.figreGroup figure img {
	width:100%;
}
