@charset "utf-8";

/*----------------------------
 Search
----------------------------*/
.search .btn-list ul{
overflow:hidden;
padding-top:2px;
}
.search .btn-list ul li{
float:left;
}
.search .btn-list ul li.btn01{
width:95px;
height:50px;
margin-left:9px;
margin-bottom:11px;
}
.search .btn-list ul li.btn01 a{
height:48px;
line-height:1;
}
.search .btn-list ul li.btn01 a span{
display:block;
width:100%;
text-align:center;
}

.search .arrowTitle{
margin-bottom:18px;
}
.column .cell {
	/*padding-right:1.5em;*/
}