@charset "utf-8";

/*----------------------------
 Send
----------------------------*/
/*
#tabContents {
	position:relative;
	z-index:-1;
	top:-1px;
	border-top:1px solid #8a7f67;
	background:#F8F3E5;
}
.send .tab-link {
	margin:0;
}
.send .tab-link ul {
}
.send .tab-link li {
	width:auto;
	margin-right:15px !important;
}
.send .tab-link li:first-child {
	padding-left:3px;
}
.send .tab-link li a span {
	text-align:center;
	box-sizing:border-box;
}
.send .tab-link li a {
	display:block;
	text-align:center;
	line-height:1.1;
	color:#f3f3f3;
	font-family:"HiraKakuProN-W6","Helvetica",Arial,sans-serif;
	border:1px solid #897a52;
	border-radius:7px 7px 0 0;
	padding:8px 10px;
	background:-webkit-gradient(linear, left bottom, left top,	color-stop(0, rgb(182,182,182)),color-stop(0.39, rgb(182,182,182)), color-stop(1, rgb(208,208,208)));
	box-shadow:inset 0px 1px 0px rgba(0,0,0,0.6);
	text-shadow: 0px -1px 1px rgba(0,0,0,0.6);
}
.send .tab-link li a.stay {
	color:#413415;
	background:-webkit-gradient(linear, left bottom, left top,color-stop(0, rgb(248,243,229)),color-stop(0.39, rgb(248,243,229)),color-stop(1, rgb(255,252,246)));
	box-shadow:inset 0px 1px 0px rgba(255,255,255,1);
	text-shadow: 0px -1px 1px rgba(218,203,166,1);
	border-bottom-color:rgb(248,243,229);
}
*/

#tabContent01{
padding-top:20px;
padding-left:0px;
}
.btn-list ul{
overflow:hidden;
}
#tabContent01 .btn-list ul li{
float:left;
text-align:center;
font-size:0.923em;
letter-spacing:-0.1em;
color:#383e3d;
line-height:1.2;
width:78px;
padding-left:2px;
margin-bottom:10px;
}
#tabContent01 .btn-list ul li .btn a{
width:63px;
margin:0 auto;
}
#tabContent01 .btn-list ul li .text{
height:2.4em;
display:table-cell;
width:78px;
vertical-align:middle;
}

.text-link a{
color:#003399;
text-decoration:underline;
}




.tabContent .link-list04 {
	margin-top:5px;
}
.tabContent .link-list04 a {
	padding-top:0;
	padding-bottom:0;
	line-height:43px;
}
.tabContent .link-list04 a img {
	padding-right:10px;
	vertical-align:middle;
}



#tabContent02 .btn-list{
margin-bottom:14px;
}
#tabContent02 .btn-list ul li{
float:left;
}
#tabContent02 .btn-list ul li.btn01{
width:147px;
margin-top:7px;
margin-left:9px;
height:50px;
}
#tabContent02 .btn-list ul li a{
color:#1c1c1c;
background:url(../../send/img/bg_01.png) no-repeat 5px 50%;
-webkit-background-size:24px 16px;
background-size:24px 16px;
height:48px;
padding-left:30px;
line-height:1.2;
}

#tabContent02 .btn-list ul li a.textSize01{
font-size:1.077em;/*14px*/
}

#tabContent02 .btn-list ul li a.textSize02{
font-size:0.923em;/*12px*/
}

#tabContent02 .btn-list ul li a.textSize03{
font-size:1em;/*13px*/
letter-spacing:-0.08em;
}