@charset "utf-8";

/*----------------------------
 Services
----------------------------*/

.h3-typeB.ms0 {
	margin-right:0;
	margin-left:0;
}
.link-list02.layout02 a span.text {
	padding-right:15px;
}

.indent04 {
	margin-bottom:5px;
	padding-left:17px;
	text-indent:-17px;
}
.indent04 li {
	margin-bottom:8px;
}



/* サービスセンターに電話でお申し込み */



/* 担当ドライバーに直接電話でお申し込み */
.services.driver #sec02 .link-table {
	margin-bottom:0;
}
.services.driver #sec02 .link-table .cell a span {
	display:inline-block;
	padding:5px 5px 0;
	vertical-align:top;
}


/* 目的から選ぶ */



/* 荷造りをする */
.services.packing #sec01 .image img {
	max-width:318px;
}
.services.packing .link-table .cell {
	vertical-align:top;
}
.services.packing .link-table .cell img {
	float:left;
	margin-right:10px;
}
.services.packing .link-table .cell span {
	display:table-cell;
	vertical-align:middle;
	height:38px;
	padding:0 10px 0 0;
}


/* 送り状を準備する */
.services.okurijyo #app .image img {
	width:100%;
	max-width:315px;
}



/* インターネットでお申し込み */
.services.internet .link-table {
	table-layout:fixed;
	background:none;
}
.services.internet .link-table .cell {
	border:none;
	padding:0px 5px 10px;
	background:none;
	vertical-align:top;
}
.services.internet .link-table p {
	font-size:0.8em;
}
.services.internet .link-table .cell a {
	display:block;
	width:auto;
	padding:0;
	background:none;
	font-size:0.8em;
}
.services.internet #sec03 .image {
	margin:0 0 0 10px;
}
.services.internet #sec03 ol,
.services.internet #sec05 ol {
	list-style:decimal;
	padding-left:25px;
}
.services.internet #sec03 li,
.services.internet #sec05 li {
	margin-bottom:5px;
}
.services.internet li b {
	color:#008576;
}



/* 再配達自動受付（24時間）でお申し込み */
.services.redelivery #sec02 ol,
.services.redelivery #sec03 ol {
	list-style:decimal;
	padding-left:25px;
}
.services.redelivery #sec02 li,
.services.redelivery #sec03 li {
	margin-bottom:5px;
}
.services.redelivery #sec03 .image {
	margin:0 0 0 10px;
}
.services.redelivery #sec03 .time li {
	width:8em;
	margin:0;
	color:#008576;
}
.services.redelivery li b {
	color:#008576;
}


/* 荷物を出す */
.services.howto .col {
	width:50%;
}
.services.howto .col-l {
	padding:0 5px 25px 0;
}
.services.howto .col-r {
	padding:0 0 25px 5px;
}

.services.driver #sec02 .link-table .cell a span.pcicon{
	padding-right: 20px;
	background: url(/smp/shared/img/icon_pc.png) no-repeat right 8px;
}

.services.howto .col2 {
	background:#F5F5EB;
	padding:10px 0 0 0;
}
.services.howto .col-l2 {
	padding:0 10px 20px 10px;
}
.services.howto .col-l2 dt{
	font-weight:bold;
}










