@charset "utf-8";


/* タブ */
.tab-link.tabs li {
	width:48%;
}



/* アコーディオン */
.tabContent .accordionContent {
	display:block;
}
.accordion dt span {
	padding:15px 20px;
}
.accordion dd {
	padding:10px;
	background:#fff;
}
.accordion dd h3 {
	margin:10px -10px 10px;
}




.indent04 li {
	margin-bottom:5px;
	padding-left:17px;
	text-indent:-17px;
}



#tabContent02.tabContent {
	padding:0;
}
#tabContent01.tabContent .container,
#tabContent02.tabContent .container {
	background:#fff;
}




.floatL {
	float:left;
}
.floatL.wid150 {
	width:50%;
	margin-bottom:5px;
}
.floatL.wid150:nth-child(3n) {
	clear:both;
}
.floatL.wid150 p>img {
	display:block;
	margin:0 auto;
}
.floatL.wid150 p {
	font-size:10px;
}
.floatL.wid150_02 {
	width:50%;
	margin-bottom:5px;
}
.floatL.wid150_02:nth-child(5n) {
	clear:both;
}
.floatL.wid150_02 p>img {
	display:block;
	margin:0 auto;
}
.floatL.wid150_02 p {
	font-size:10px;
}





