@charset "utf-8";


/* タブ */
.tab-link.tabs li {
	width:31%;
}


/* アコーディオン */
.tabContent .accordionContent {
	display:block;
}
.accordion dt span {
	padding:15px 20px;
}
.accordion dd {
	padding:10px;
	background:#fff;
}
.accordion dd h3 {
	margin:10px -10px 10px;
}




.indent04 li {
	margin-bottom:5px;
	padding-left:17px;
	text-indent:-17px;
}



.send .col {
	width:50%;
}
.send .col-l {
	padding:0 5px 25px 0;
}
.send .col-r {
	padding:0 0 25px 5px;
}



#tabContent02.tabContent {
	padding:0;
}
#tabContent02.tabContent .container {
	background:#fff;
}


.cover {
	text-align:center;
}
.cover .col {
	display:inline-block;
	width:44%;
	padding:10px 2%; 
	font-size:11px;
}


#tabContent01 .table03 {
	table-layout:fixed;
}
#tabContent01 .table03 th,
#tabContent01 .table03 td {
	padding:8px 5px;
	font-size:9px;
}



/* 荷物を出す */
.col2 {
	background:#F5F5EB;
	padding:10px 0 0 0;
}
.col-l2 {
	padding:0 10px 20px 10px;
}
.col-l2 dt{
	font-weight:bold;
}