@charset "utf-8";

/*----------------------------
 takkyubin
----------------------------*/

/* 宅急便（個人のお客様） */
.tab-link.tabs li {
	width:31%;
}
.tabContent {
	padding:0;
}


.takkyubin .accordion dt span {
	padding:15px 20px;
}
.takkyubin .accordion dd {
	padding:10px;
	background:#fff;
	/*border:none;*/
}
.takkyubin .accordion dd h3 {
	margin:10px -10px 10px;
}

.takkyubin .send .col {
	width:50%;
}
.takkyubin .send .col-l {
	padding:0 5px 25px 0;
}
.takkyubin .send .col-r {
	padding:0 0 25px 5px;
}



.tabContent .accordionContent {
	display:block;
}


.indent04 li {
	margin-bottom:5px;
	padding-left:17px;
	text-indent:-17px;
}



/* 荷物を出す */
.col2 {
	background:#F5F5EB;
	padding:10px 0 0 0;
}
.col-l2 {
	padding:0 10px 20px 10px;
}
.col-l2 dt{
	font-weight:bold;
}