@charset "utf-8";


/* タブ */
.tab-link.tabs li {
	width:48%;
}



/* アコーディオン */
.tabContent .accordionContent {
	display:block;
}
.accordion dt span {
	padding:15px 20px;
}
.accordion dd {
	padding:10px;
	background:#fff;
}
.accordion dd h3 {
	margin:10px -10px 10px;
}



#tabContent01.tabContent,
#tabContent02.tabContent {
	padding:0;
}
#tabContent01.tabContent .container,
#tabContent02.tabContent .container {
	background:#fff;
}


.indent01 li,
.indent03 li {
	margin-bottom:5px;
}

.indent04 li {
	margin-bottom:5px;
	padding-left:17px;
	text-indent:-17px;
}



.stepBox {
	border:2px solid #FF9900;
	border-radius:4px;
	padding:5px;
	background:#FFFFCC;
	margin:5px 0 0;
}
.stepBox img.flL {
	margin-right:10px;
}
.stepBox p {
	overflow:hidden;
	font-size:1.1em;
	font-weight:bold;
}
.stepBox p small {
	font-size:0.8em;
	font-weight:normal;
}
.stepBox .boxW {
	margin-left:40px;
	margin-top:5px;
	padding:5px;
	background:#fff;
	font-size:0.9em;
	font-weight:normal;
	line-height:1.6;
}









