@charset "utf-8";


/* タブ */
.tab-link.tabs li {
	width:48%;
}



/* アコーディオン */
.tabContent .accordionContent {
	display:block;
}
.accordion dt span {
	padding:15px 20px;
}
.accordion dd {
	padding:10px;
	background:#fff;
}
.accordion dd h3 {
	margin:10px -10px 10px;
}



.indent01 li,
.indent03 li {
	margin-bottom:5px;
}

.indent04 li {
	margin-bottom:5px;
	padding-left:17px;
	text-indent:-17px;
}



#tabContent01.tabContent {
	padding:0;
}
#tabContent01.tabContent .container {
	background:#fff;
}














