@charset "utf-8";


/* タブ */
.tab-link.tabs li {
	width:48%;
}



/* アコーディオン */
.tabContent .accordionContent {
	display:block;
}
.accordion dt span {
	padding:15px 20px;
}
.accordion dd {
	padding:10px;
	background:#fff;
}
.accordion dd h3 {
	margin:10px -10px 10px;
}




.indent04 li {
	margin-bottom:5px;
	padding-left:17px;
	text-indent:-17px;
}



#tabContent01.tabContent {
	padding:0;
}
#tabContent01.tabContent .container {
	background:#fff;
}

#tabContent01 .image {
	margin:10px -10px 0;
}

.nav-anchor {
	margin-top:10px;
}
.nav-anchor a {
	display:inline-block;
	width:auto;
	height:auto;
	margin:0 2px 8px;
}


.fontL {
	margin-bottom:5px;
	color:#00776a;
}
h3.first-item {
	padding:10px 0 0 10px;
	height:24px;
	background:url(../../tokusen/img/bg_h2ptn01.gif) repeat-x bottom;
	font-weight:bold;
}
.serviceDl01 dt {
	clear:both;
	width:60px;
	background:none;
	border:none !important;
	margin-bottom:5px;
}
.serviceDl01 dd {
	display:block;
	overflow:hidden;
	padding:2px 0 0 0px;
	border:none !important;
	margin-bottom:5px;
}

p.data {
	padding:3px 5px;
	border-bottom:1px solid #00b900;
}



