@charset "utf-8";



/*----------------------------

 Home

----------------------------*/



.bar-title02{

font-size:1.077em;

line-height:1;

padding:5px 0;

color:#fff;

text-shadow: 0px -1px 1px rgba(0.52,46,1);

background:-moz-linear-gradient(bottom, rgb(158,158,158), rgb(1,88,78), rgb(0,127,113), rgb(0,103,92), rgb(3,170,151), rgb(186,182,169));

background:-webkit-gradient(linear, left bottom, left top,

color-stop(0, rgb(158,158,158)),

color-stop(0.02, rgb(1,88,78)),

color-stop(0.09, rgb(0,127,113)),

color-stop(0.9, rgb(0,103,92)),

color-stop(0.98, rgb(3,170,151)),

color-stop(1, rgb(186,182,169))

);

}

.bar-title02 span{

display:block;

width:100%;

text-align:center;

}



#contact-baggage .content{

padding-bottom:10px;

}



#contact-baggage form{

margin-top:5px;

}

#contact-baggage nav.radius{

margin:10px 0;

}



#contact-baggage nav.radius ul{

width:100%;

display:-moz-box;

display:-webkit-box;

display:-o-box;

display:-ms-box;

-moz-box-align:center;

-webkit-box-align:center;

-o-box-align:center;

-ms-box-align:center;

font-size:0.923em;

line-height:1.1;

background:#efebe2;

padding:0 27px;

-webkit-box-sizing:border-box;

-moz-box-sizing:border-box;

box-sizing:border-box;

}

#contact-baggage nav.radius ul li{

}



#contact-baggage nav.radius ul li:nth-of-type(1){

margin-right:15px;

}

#contact-baggage nav.radius ul li:nth-of-type(2){

margin-right:11px;

}





#contact-baggage nav.radius ul li a{

display:inherit;

text-decoration:underline;

color:#084c10;

}

#contact-baggage nav.radius ul li:nth-of-type(1) a,

#contact-baggage nav.radius ul li:nth-of-type(1) a span{

width:69px;

}

#contact-baggage nav.radius ul li:nth-of-type(2) a,

#contact-baggage nav.radius ul li:nth-of-type(2) a span{

width:64px;

}

#contact-baggage nav.radius ul li:nth-of-type(3) a,

#contact-baggage nav.radius ul li:nth-of-type(3) a span{

width:100px;

}



#contact-baggage nav.radius ul li a span{

display:block;

text-align:center;

padding:.6em 0;

}





#members .head{

color:#020706;

font-size:0.923em;

background:#fdd000 url(../img/bg_dot_02.png) no-repeat 17px bottom;

-webkit-background-size:13px 7px;

background-size:13px 7px;

overflow:hidden;

padding:8px 0 9px 19px;

}

#members .head strong{

font-family:"HiraKakuProN-W6","Helvetica",Arial,sans-serif;

font-size:1.083em;

}

#members .head .btn{

float:left;

margin-right:16px;

}

#members .head .text{

float:left;

}

#members .link-list03 li a .wrap{

padding-left:30px;

}



#members .link-list03 li:nth-of-type(1) .wrap{

background:url(../img/icon_04.png) no-repeat left 50%;

-webkit-background-size:22px 22px;

background-size:22px 22px;

}

#members .link-list03 li:nth-of-type(2) .wrap{

background:url(../img/icon_05.png) no-repeat left 50%;

-webkit-background-size:22px 22px;

background-size:22px 22px;

}

#members .link-list03 li:nth-of-type(3) .wrap{

background:url(../img/icon_06.png) no-repeat left 50%;

-webkit-background-size:22px 22px;

background-size:22px 22px;

}



/*--  information

----------------------------*/

#information{

font-size:0.923em;

line-height:1;

border-top:1px solid #cbc9c6;

border-bottom:1px solid #cbc9c6;



-webkit-box-sizing:border-box;

-moz-box-sizing:border-box;

box-sizing:border-box;

display:-moz-box;

display:-webkit-box;

display:-o-box;

display:-ms-box;

-moz-box-align:center;

-webkit-box-align:center;

-o-box-align:center;

-ms-box-align:center;



background:-moz-linear-gradient(bottom, rgb(228,225,220), rgb(248,248,246));

background:-webkit-gradient(linear, left top, left bottom,

color-stop(1, rgb(228,225,220)),

color-stop(0, rgb(248,248,246))

);



width:100%;

height:44px;

}

#information a{

background:url(../img/icon_link_01.png) no-repeat right 50%;

-webkit-background-size:9px 14px;

background-size:9px 14px;

-moz-background-origin:content;

-webkit-background-origin:content;

background-origin:content-box;





display:inherit;

-moz-box-align:center;

-webkit-box-align:center;

-o-box-align:center;

-ms-box-align:center;

padding:0 10px;

}

#information .wrap{

}

#information .title{

color:#d93362;

}









/*--  form

----------------------------*/

#expenseNumber{

width:218px;

display:table-cell;

padding-right:8px;

}

#expenseNumber input{

font-family:"HiraKakuProN-W6","Helvetica",Arial,sans-serif;

font-size:1.5em;

width:100%;

padding:0 0 0 5px;

height:37px;

background:#fff;

border:1px solid #c7ba97;

-webkit-border-radius:5px;

border-radius:5px;

-webkit-box-shadow:inset 0px 1px 1px rgba(0,0,0,0.3), inset 0px 0px 1px rgba(0,0,0,0.3);

box-shadow:inset 0px 1px 1px rgba(0,0,0,0.3), inset 0px 0px 1px rgba(0,0,0,0.3);

-webkit-box-sizing:border-box;

-moz-box-sizing:border-box;

box-sizing:border-box;

}



form{

display:table;

}

form .submit{

display:table-cell;

vertical-align:top;

}



.form-submit{

-webkit-box-sizing:border-box;

-moz-box-sizing:border-box;

box-sizing:border-box;

display:-moz-box;

display:-webkit-box;

display:-o-box;

display:-ms-box;

-moz-box-align:center;

-webkit-box-align:center;

-o-box-align:center;

-ms-box-align:center;

width:80px;

height:37px;



font-family:"HiraKakuProN-W6","Helvetica",Arial,sans-serif;

font-size:0.923em;

color:#fff;

text-shadow: 0px -1px 1px rgba(0,0,0,0.6);



-webkit-border-radius:5px;

border-radius:5px;

border:1px solid #018273;

background:-moz-linear-gradient(bottom, rgb(2,127,112), rgb(25,164,148));

background:-webkit-gradient(linear, left top, left bottom,

color-stop(1, rgb(2,127,112)),

color-stop(0, rgb(25,164,148))

);



-webkit-box-shadow:inset 0px 0px 1px rgba(0,0,0,0.7);

box-shadow:inset 0px 0px 1px rgba(0,0,0,0.7);

}

.form-submit span{

display:block;

width:80px;

text-align:center;

}






/* appli Area */

.appliDL{
	width: 302px;
	position:relative;
	margin-top:10px
}
.appliDL a{
	position: absolute;
}
.appliDL a.lp{
	width:302px;
	height:50px;
	top:0;
	left:0
}
.appliDL a.ios{
	top: 4px;
	left: 1px;
	width: 145px;
	height: 40px
}
.appliDL a.google{
	top: 1px;
	left: 166px;
	width: 134px;
	height: 44px
}








/* common */
.sec {
	padding:0 0 20px 0;
}
.sec h2 {
	margin-bottom:15px;
}
.sec .content {
	padding-top:0;
}

.link-list04 .ico {
}
.link-list04 .ico a {
	padding:10px 10px;
}
.link-list04 .ico img {
	float:left;
	padding-bottom:0px;
}
.link-list04 .ico span {
	display:block;
	padding-right:40px;
	text-align:left;
	line-height:35px;
	font-size:16px;
}
.link-list04 .ico span{
	padding-left: 10px;
	display: inline-block;
}
.link-list04 .big a {
	text-align:center;
	padding:20px 0;
	font-size:14px;
}
.link-list04 .nomal a {
	text-align:center;
	padding:12px 0;
	font-size:14px;
}


/* クロネコメンバーズ */
.wrap {
	width:auto;
	font-size:11px;
}
.what {
	padding-top:10px;
}
.what a {
	color:#333;
}

