@charset "utf-8";


.bar-mainTitle h1.small {
	font-size:1.2em !important;
}


.indent01 li,
.indent03 li {
	margin-bottom:5px;
}

.indent04 li {
	margin-bottom:5px;
	padding-left:17px;
	text-indent:-17px;
}
















