@charset "UTF-8";
/*
 * cmn_layout.css
 *
 *  version --- 3.5
 *  updated --- 2012/12/7
 */


/* !HTML5 elements
---------------------------------------------------------- */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{ display: block;}

/* !Reseting
---------------------------------------------------------- */
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Arial, Helvetica, Verdana, sans-serif;
	-webkit-text-size-adjust: none;
	line-height: 1.5;
	color: #000;
	position: relative;
}
* {	box-sizing: border-box;}
/* ie7 */ *:first-child+html body { font-size: 75%; /* 62.5%; */}
/* ie6Below */ * html body { font-size:75%; /* font-size: 62.5%; */}
/* ie8 */ html>/**/body { font-size /*\**/: 75%\9;}
body, div, pre, p, blockquote, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, th, td
{ margin: 0; padding: 0;}
input, textarea
{ margin: 0; font-size: 100%;}
label
{ cursor: pointer;}
table
{ border-collapse: collapse; border-spacing: 0; font-size: 100%;}
fieldset, img
{ border: 0;}
img
{ vertical-align: top;}
address, caption, cite, code, dfn, em, th, var
{ font-style: normal; font-weight: normal;}
ol, ul
{ list-style: none;}
caption, th
{ text-align: left;}
h1, h2, h3, h4, h5, h6
{ font-size: 100%; font-weight: normal;}
q:after, q:before
{ content:'';}
a, input
{ /* outline: none; */ }
abbr, acronym
{ border: 0;}

/* !Reset Module
---------------------------------------------------------- */
.center { text-align: center; }
.reset div, .reset dl, .reset dt, .reset dd, .reset ul, .reset ol, .reset li, .reset h1, .reset h2, .reset h3, .reset h4, .reset h5, .reset h6,
.reset pre, .reset form, .reset fieldset, .reset p, .reset blockquote, .reset th, .reset td
{ margin: 0; padding: 0;}
.reset input, .reset textarea
{ margin: 0; font-size: 100%;}
.reset table
{ border-collapse: collapse; border-spacing: 0; font-size: 100%;}
.reset fieldset, .reset img, .reset abbr, .reset acronym
{ border: 0;}
.reset address, .reset caption, .reset cite, .reset code, .reset dfn, .reset em, .reset th, .reset var
{ font-style: normal; font-weight: normal;}
.reset ol, .reset ul
{ list-style: none;}
.reset caption, .reset th
{ text-align: left;}
.reset h1, .reset h2, .reset h3, .reset h4, .reset h5, .reset h6
{ font-size: 100%; font-weight: normal;}
.reset a, .reset input
{ /* outline: none; */ }
.reset q:after, .reset q:before
{ content:'';}

/* !Clearfix
---------------------------------------------------------- */
.clearfix,
#contents,
.section
{
	display: block;
	min-height: 1%;
}
.clearfix:after,
#contents:after,
.section:after
{
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}
* html .clearfix,
* html #contents,
* html .section
{
	height: 1%;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}
/* !Layout
---------------------------------------------------------- */
html { overflow-y: scroll; font-size: 62.5%;}
body { text-align: center; font-size: 1.3rem;}
@media print {
	html,
	html body { *zoom: 0.65;}
}
/* !wrapper
---------------------------------------------------------- */
#wrapper {
	margin: 0 auto;
	width: 100%;
	text-align: left;
	background: #fff;
}
/* !header
---------------------------------------------------------- */
#header {
	width: 100%;
	background: #fff;
}
	#headerIn {
		display: table;
		margin: 0 auto;
		padding: 0 10px;
		width: 100%;
		height: 35px;
		text-align: left;
	}
	#headerIn a { vertical-align: middle;}
	#headerIn img { line-height: 0; vertical-align: middle;}
		#headerLogo01 {
			display: table-cell;
			vertical-align: middle;
			text-align: left;
		}
		#headerLogo02 {
			display: table-cell;
			vertical-align: middle;
			text-align: right;
		}
/* !contents
---------------------------------------------------------- */
#contents {
	margin: 0 auto;
	width: 100%;
	text-align: left;
}
	#main {
		float: right;
		width: 100%;
	}
	#sub {
		float: left;
		width: 100%;
	}
/* !pageTop
---------------------------------------------------------- */
.pageTop {
}
/* !footer
---------------------------------------------------------- */
#footer {
	margin: 15px auto 0;
	width: 100%;
	text-align: left;
	background: #666;
	overflow: hidden;
}
	.portal #footer {
		margin: 0 auto 0;
	}
	#footerIn {
		background: #fff;
	}
		.footerHead01 {
			font-size: 1.3rem;
			position: relative;
			padding: 7px 30px;
			background-color: #fffffe;
			-webkit-box-shadow: inset 0 -1px 2.5px rgba(11,13,13,.35);
			-moz-box-shadow: inset 0 -1px 2.5px rgba(11,13,13,.35);
			box-shadow: inset 0 -1px 2.5px rgba(11,13,13,.35);
			border: solid 1px #bab6a9;
			background-image: -webkit-linear-gradient(bottom, #fcfbf4, #fffffb 51%, #f0ebd5);
			background-image: -moz-linear-gradient(bottom, #fcfbf4, #fffffb 51%, #f0ebd5);
			background-image: -o-linear-gradient(bottom, #fcfbf4, #fffffb 51%, #f0ebd5);
			background-image: -ms-linear-gradient(bottom, #fcfbf4, #fffffb 51%, #f0ebd5);
			background-image: linear-gradient(to top, #fcfbf4, #fffffb 51%, #f0ebd5);
			overflow: hidden;
			width: 101%;
			margin-left: -1px;
		}
			.footerHead01:before {
				content: "";
				display: block;
				width: 10px;
				height: 60px;
				left: 0;
				top: 0;
				position: absolute;
				background: rgba(0, 113, 99, 1);
				-webkit-box-shadow: inset 0 -1px 2.5px rgba(11,13,13,.35);
				-moz-box-shadow: inset 0 -1px 2.5px rgba(11,13,13,.35);
				box-shadow: inset 0 -1px 2.5px rgba(11,13,13,.35);
			}
			.footerHead01:after {
				content: "";
				display: block;
				width: 7px;
				height: 60px;
				left: 10px;
				top: 0;
				position: absolute;
				background: rgba(251, 206, 11, 1);
				-webkit-box-shadow: inset 0 -1px 2.5px rgba(11,13,13,.35);
				-moz-box-shadow: inset 0 -1px 2.5px rgba(11,13,13,.35);
				box-shadow: inset 0 -1px 2.5px rgba(11,13,13,.35);
			}
		#footerLinks {
		}
			#footerLinks li {
				border-bottom: 1px solid #b2bdbc;
			}
				#footerLinks li a {
					display: block;
					padding: 10px 28px;
					/*-----201508UPDATE-----*/
					background: url(/smp/common/img/ico_arrow02.png) 15px center no-repeat;
					background-size:8px 10px;
					text-decoration: none;
					color: #666;
					font-size: 1.2rem;
				}
		.pageTop {
			text-align: right;
		}
			.pageTop a {
				display: block;
				padding: 5px 10px 7px;
			}
				.pageTop a span {
					display: inline-block;
					line-height: 30px;
					padding-right: 30px;
					color: #333;
					font-size: 1.2rem;
					/*-----201508UPDATE-----*/
					background: url(/smp/common/img/btn_pagetop01.png) right center no-repeat;
					background-size: 27px 30px;
				}
		.copyright {
			text-align: center;
			color: #fff;
			padding: 12px 0 19px;
		}
/* !h(n)eading
---------------------------------------------------------- */
.h1_basic01 {}
.h2_basic01 {
	font-size: 1.3rem;
	font-weight: bold;
	background: #ffcc01;
	padding: 7px 10px;
	position: relative;
	/* margin-top: 15px; */
}
	.h2_basic01 span { font-size: 1.0rem;}
	.h2_basic01 span.type01 {
		position: absolute;
		top: -35px;
		left: 6px;
	}
.h3_basic01 {
	padding: 10px;
	margin: 0 0 2px;
	font-size: 1.3rem;
	font-weight: bold;
	background-color: #f1ece2;
	background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
	background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
	background-image: -o-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
	background-image: -ms-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
	background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
	border-bottom: 1px solid #fff;
	-webkit-box-shadow: 0 2px 0 #d4cbb7;
	-moz-box-shadow: 0 2px 0 #d4cbb7;
	box-shadow: 0 2px 0 #d4cbb7;
	position: relative;
}
	.h3_basic01 span { color: #e27524;}
	.h3_basic01 h3 { font-weight: bold;}
	.h3_basic01 h3 span,
	.h3_basic01 span.type01 {
		font-size: 1.0rem;
		color: #000;
	}
	.h3_basic01 span.type02 {
		font-size: 1.1rem;
		color: #000;
	}
	.h3_basic01 .logo01 {
		position: absolute;
		top: 50%;
		margin-top: -11px;
		right: 10px;
	}
.h4_basic01 {
	font-size: 1.3rem;
	font-weight: bold;
	padding-left: 10px;
	margin-bottom: 5px;
	border-left: 3px solid #fac800;
}
.h5_basic01 {}
.h6_basic01 {}
/* !Listing
---------------------------------------------------------- */
.ul_basic01 {
	margin-top: 5px;
}
	.ul_basic01 li {
		line-height: 1.8;
		padding-left: 8px;
		/*-----201508UPDATE-----*/
		background: url(/smp/common/img/ico_arrow01.png) left 0.6em no-repeat;
		background-size: 4px 7px;
	}
.ul_basic01.type01 {
	text-align: center;
}
	.ul_basic01.type01 li {
		display: inline-block;
	}
.ul_basic01.type02 { margin: 0 0 10px 0;}
	.ul_basic01.type02 li {
		background: url(/smp/common/img/ico_arrow01.png) left 0.4em no-repeat;
		background-size: 4px 7px;
		line-height: 1.5;
	}
.ul_basic02 {
}
	.ul_basic02 li {
		margin-top: 5px;
		overflow: hidden;
	}
		.ul_basic02 li span.front {
			float: left;
		}
		.ul_basic02 li span.content {
			overflow: hidden;
			display: block;
		}
.ul_basic03 {
	overflow: hidden;
	margin: 5px 0 8px 0;
}
	.ul_basic03 li {
		background: url(/smp/common/img/ico_arrow04.png) left 8px no-repeat;
		background-size: 7px 4px;
		padding-left: 11px;
	}
.ul_basic03.type01 { margin: 9px 0 0 3px;}
	.ul_basic03.type01 li { padding-left: 14px;}
	
	
.ul_basic04 {
	overflow: hidden;
	margin: 7px 0 0 2px;
}
	.ul_basic04 li {
		background: url(/smp/webservice_guide/img/ico_square01.png) no-repeat left 5px;
		background-size: 8px 8px;
		padding-left: 12px;
	}
	
.ul_linkbasic01 {
	width: 50%;
	float: left;
}
	.ul_linkbasic01.type01 {
		width: 100%;
		float: none;
	}
	.ul_linkbasic01 li {
		text-indent: -1em;
		padding-left: 1em;
	}
		.ul_linkbasic01 li a {
			display: inline-block;
			padding-left: 14px;
			/*-----201508UPDATE-----*/
			background: url(/smp/common/img/ico_blank01.png) left 0.5em no-repeat;
			background-size:10px 8px;
			text-indent: 0;
		}
.ol_basic01 {
}
	.ol_basic01 li {
		text-indent: -1.5em;
		padding-left: 1.5em;
	}
.ol_basic02 {
}
	.ol_basic02 li {
		margin-top: 10px;
	}
		.ol_basic02 li span {
			display: block;
			margin-bottom: 5px;
		}
.ol_basic03 {
}
	.ol_basic03 li {
		margin-top: 5px;
		overflow: hidden;
	}
		.ol_basic03 li span.front {
			float: left;
		}
			.ol_basic03.type01 li span.front { width: 33px;}
		.ol_basic03 li span.content,
		.ol_basic03 li div.content {
			overflow: hidden;
			display: block;
		}
	.ol_basic03.type02 li { margin-top: 0;}
	
.ol_basic04 { overflow: hidden;}
	.ol_basic04 li {
		overflow: hidden;
		padding-bottom: 25px;
		position: relative;
	}
		.ol_basic04 li.last { padding-bottom: 0;}
		.ol_basic04 li:before {
			content: "";
			position: absolute;
			bottom: 10px;
			left: 50%;
			width: 20px;
			height: 9px;
			margin-left: -10px;
			background: url(/smp/common/img/ico_arrow08.png) no-repeat left bottom;
			background-size: 20px 9px;
		}
			.ol_basic04 li.last:before {
				width: 0;
				height: 0;
				background: none;
				background-size: 0 0;
			}
		.ol_basic04 li span.front { float: left;}
		.ol_basic04 li div.content {
			overflow: hidden;
			display: block;
		}
.ol_basic04.type01 li.first { padding-top: 25px;}
	.ol_basic04.type01 li.first:after {
		content: "";
		position: absolute;
		top: 5px;
		left: 50%;
		width: 20px;
		height: 9px;
		margin-left: -10px;
		background: url(/smp/common/img/ico_arrow08.png) no-repeat left top;
		background-size: 20px 9px;
	}
	
	
.dl_basic01 {
	margin-top: 7px;
}
	.dl_basic01 dt {
		color: #17a190;
		font-weight: bold;
	}
	.dl_basic01 dd {
	}
/* !Table
---------------------------------------------------------- */
.table_basic01 {
	width: 100%;
}
	.table_basic01 th,
	.table_basic01 td {
		text-align: center;
		padding: 5px 0;
		border: 1px solid #d3cec2;
		font-size: 0.9rem;
	}
	.table_basic01 th {
		background: #e9e6e0;
		width: 14%;
	}
		.table_basic01 th.type01 {
			width: 43%;
			font-weight: bold;
		}
	.table_basic01 td {
		width: 43%;
	}
		.table_basic01 th div,
		.table_basic01 td div {
		}
		
.table_basic02 {
	width: 100%;
	margin-top: 5px;
}
	.table_basic02 th,
	.table_basic02 td {
		text-align: center;
		padding: 5px 10px;
		border: 1px solid #d3cec2;
		font-size: 1.2rem;
	}
	.table_basic02 th {
		background: #e9e6e0;
		font-weight: bold;
	}
	.table_basic02 td {
	}
	
	.table_basic02 .from {
		display: block;
		text-align: left;
	}
	.table_basic02 .to {
		display: block;
		text-align: right;
	}
	
		.table_basic02 th div,
		.table_basic02 td div {
		}
		
.table_basic03 { width: 100%;}
	.table_basic03 th,
	.table_basic03 td {
		padding: 5px 5px 5px 9px;
		border: 1px solid #d3cec2;
		vertical-align: top;
		font-size: 1.0rem;
	}
		.table_basic03 td.type01 { vertical-align: middle;}
	.table_basic03 th { background: #e9e6e0;}
		.table_basic03 th.type01 {
			text-align: center;
			padding: 5px 0;
			vertical-align: middle;
		}
		.table_basic03 th.type02 { vertical-align: middle;}
		.table_basic03 td p { text-align: center;}
			.table_basic03 td p.type01 { margin-bottom: 3px;}
			.table_basic03 td p.type02 { text-align: left;}
			
.table_basic03.type01 {
	margin-top: 10px;
}
	.table_basic03.type01 th,
	.table_basic03.type01 td {
		font-size: 1.3rem;
	}
	.table_basic03.type01 td p { text-align: left;}
	
.table_basic03.type02 { margin-bottom: 12px;}
	.table_basic03.type02 th,
	.table_basic03.type02 td {
		font-size: 1.3rem;
		vertical-align: middle;
		line-height: 1.3;
	}
	.table_basic03.type02 th {
		padding: 5px 0px;
		text-align: center;
	}
	.table_basic03.type02 td {
		padding: 5px 5px 5px 14px;
		font-weight: bold;
	}
		.table_basic03.type02 td p {
			margin-top: 2px;
			font-size: 1.0rem;
			font-weight: normal;
			text-align: left;
		}
		
	.table_basic03.type03 th,
	.table_basic03.type03 td {
		font-size: 0.9rem;
	}
	.table_basic03.type03 td p { text-align: left;}

		
.table_basic04 {
	width: 100%;
	margin-bottom: 10px;
}
	.table_basic04 th,
	.table_basic04 td {
		border: 1px solid #d3cec2;
		font-size: 1.3rem;
	}
	.table_basic04 td {
		padding: 5px 5px 5px 9px;
		vertical-align: top;
		line-height: 1.3;
	}
	.table_basic04 th {
		padding: 5px 0px;
		background: #e9e6e0;
		text-align: center;
		font-weight: bold;
	}
		.table_basic04 td p,
		.table_basic04 td span {
			font-size: 1.0rem;
		}
		.table_basic04 td.type01 {
			padding: 5px 0px;
			vertical-align: middle;
			text-align: center;
			font-weight: bold;
		}
		
.table_basic05 {
	width: 100%;
	margin-bottom: 10px;
}
	.table_basic05 th,
	.table_basic05 td {
		padding: 5px 0;
		border: 1px solid #d3cec2;
		font-size: 0.8rem;
		text-align: center;
		line-height: 1.3;
		vertical-align: middle;
	}
	.table_basic05 th {
		padding: 5px 3px;
		background: #e9e6e0;
		font-weight: bold;
	}
		.table_basic05 th.type01 {
			padding: 5px 4px 5px 8px;
			font-weight: normal;
			text-align: left;
		}
	.table_basic05 td {
	}
		.table_basic05 td span {
			font-size: 0.7rem;
		}
		.table_basic05 td.type01 {
			padding: 5px 4px 5px 6px;
			background: #e9e6e0;
			text-align: left;
		}
	.table_basic05.type01 th { padding: 5px 0;}	
	
	.table_basic05.type01 td.type01,
	.table_basic05.type02 td.type01 { padding: 5px 5px 5px 8px;}
	
	.table_basic05.type02 th,
	.table_basic05.type02 td { line-height: 1.5;}
	.table_basic05.type02 td a {
		background: url(/smp/common/img/ico_blank01.png) left 0.3em no-repeat;
		background-size: 10px 8px;
		margin-left: 0 !important;
	}

/* !txtType
---------------------------------------------------------- */
.txtColor01 { color: #900 !important;}
.txtColor02 { color: #c00 !important;}
.txtAlert01 {
	color: #c00 !important;
	margin-top: 10px;
}
/* !icon
---------------------------------------------------------- */
.iconPc01 {
	margin: 0 5px;
	vertical-align: middle;
}
.iconPoint01 {
	margin-left: 5px;
	vertical-align: middle;
}
/* !link
---------------------------------------------------------- */
.linkBlank01 {
	display: inline-block;
	padding-left: 14px;
	margin-left: 5px;
	/*-----201508UPDATE-----*/
	background: url(/smp/common/img/ico_blank01.png) left 0.5em no-repeat;
	background-size:10px 8px;
	text-indent: 0;
}
	.linkBlank01.type01 { margin: 2px 0 0 0;}
	.linkBlank01.inline { background-position: left center;}
.linkBlank02 {
	display: inline-block;
	padding-left: 14px;
	margin-left: 5px;
	background: url(/smp/common/img/ico_blank01.png) left 0.5em / 10px 8px no-repeat;
	text-decoration: none;
	color: #000;
	text-indent: 0;
}
.linkBlank03 {
	display: inline-block;
	padding-left: 14px;
	margin-left: 5px;
	text-indent: 0;
}
.linkPdf01 {
	display: inline-block;
	padding-left: 18px;
	margin-left: 5px;
	background: url(/smp/common/img/ico_pdf01.gif) left 0.1em no-repeat;
	background-size: 20px 17px;
	text-indent: 0;
}
/* !indent
---------------------------------------------------------- */
.indent01 {
	text-indent: -1em;
	margin-left: 1em;
}
.indent02 {
	text-indent: -1em;
	padding-left: 1em;
	display: block;
}


/* !section
---------------------------------------------------------- */
.section01 {
	padding: 15px 10px;
}
	.section01.type01 {
		padding: 15px 3px 0 3px;
	}
.section02 {
	padding: 5px 0;
}
/* !module
---------------------------------------------------------- */

/* ttlBasic01 */
.ttlBasic01 {
	display: table;
	width: 100%;
	height: 52px;
	background-color: #fc0;
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0) 1%, rgba(255,255,255,.5));
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0) 1%, rgba(255,255,255,.5));
	background-image: -o-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0) 1%, rgba(255,255,255,.5));
	background-image: -ms-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0) 1%, rgba(255,255,255,.5));
	background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0) 1%, rgba(255,255,255,.5));
	text-align: center;
	position: relative;
}
	.ttlBasic01In {
		display: table-cell;
		width: 100%;
		vertical-align: middle;		
	}
	.ttlBasic01 h1 {
		color: #292929;
		font-weight: bold;
		font-size: 1.4rem;
		display: inline-block;
		vertical-align: middle;
		line-height: 1;
		padding: 0 50px;
	}
		.ttlBasic01 h1 span { font-size: 1.1rem;}
	.ttlBasic01 #btnBack {
		position: absolute;
		left: 0;
		top: 0;
		border-right: 1px solid #fff;
	}
		.ttlBasic01 #btnBack a {
			display: block;
			/*-----201508UPDATE-----*/
			background: url(/smp/common/img/ico_historyback01.png) center 10px no-repeat;
			background-size:12px 19px;
			width: 50px;
			height: 52px;
			padding-top: 32px;
			font-size: 0.9rem;
			text-decoration: none;
			color: #292929;
		}
	.ttlBasic01 #btnMenu {
		position: absolute;
		right: 0;
		top: 0;
		border-left: 1px solid #fff;
	}
		.ttlBasic01 #btnMenu a {
			display: block;
			/*-----201508UPDATE-----*/
			background: url(/smp/common/img/ico_menu01.png) center 10px no-repeat;
			background-size:23px 23px;
			width: 50px;
			height: 52px;
			padding-top: 34px;
			font-size: 0.9rem;
			text-decoration: none;
			color: #292929;
		}
		
/* boxBasic01 */	
.boxBasic01 {
}
	.boxBasic01 .text {
		overflow: hidden;
	}
	.boxBasic01 .image {
		float: right;
		width: 103px;
		text-align: right;
	}
	
/* boxBasic02 */
.boxBasic02 {
}
	.boxBasic02 .image {
		text-align: center;
		margin-top: 12px;
	}

/* boxBnr01 */
.boxBnr01 {
	margin-top: 15px;
}
	.boxBnr01 img { width: 100%; height: auto;}
	
/* btnBasic01 */
.btnBasic01 {
	display: block;
	width: 195px;
	color: #008576;
	font-size: 1.8rem;
	font-weight: bold;
	text-align: center;
	padding: 7px 0;
	margin: 10px auto 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff9e2;
	-webkit-box-shadow: 0 0 2.5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff;
	-moz-box-shadow: 0 0 2.5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff;
	box-shadow: 0 0 2.5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff;
	border: solid 1px #fce58b;
	background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
	background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
	background-image: -o-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
	background-image: -ms-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
	background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
	text-decoration: none;
}
.btnBasic01.logout {
	margin: 20px auto 0;
	color: #292929;
	font-size: 1.4rem;
}
.btnBasic01.pcpage {
	margin: 20px auto 0;
	font-size: 1.4rem;
}
.btnBasic01.type01 {
	width: 220px;
}

/* .contentWrap01 */
.contentWrap01 {
		overflow: hidden;
}
		.contentWrap01 .front {
			float: left;
		}
		.contentWrap01 .content {
			overflow: hidden;
			display: block;
		}
		
/* .bgcolor01 */
.bgcolor01 {
	background: #fffce7;
}

/* !portal
---------------------------------------------------------- */
.portal #main {
	border-top: #008576 2px solid;
	background: #fc0;
	padding-top: 5px;
}
.mainPortal01 {
	padding: 15px 10px 25px;
	background: #e6dcc7;
}
.boxLoginPortal01 {
	padding: 15px 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #e8f0f6;
	border: solid 1px rgba(0,133,118,.8);
}
	.boxLoginPortal01 h1 {
		color: #008576;
		font-size: 1.5rem;
		font-weight: bold;
		text-align: center;
	}
	.boxLoginPortal01 .text {
		width: 100%;
		padding: 10px 15px;
		margin-top: 8px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		background-color: #fff;
		border: solid 1px #d7e1e8;
	}
	.boxLoginPortal01 .checkbox {
		padding: 10px 0 0;
		text-align: center;
		vertical-align: middle;
	}
		.boxLoginPortal01 input,
		.boxLoginPortal01 label {
			vertical-align: middle;
		}
		.boxLoginPortal01 .btnLogin01 {
			width: 100%;
			font-size: 2.1rem;
			font-weight: bold;
			color: #008576;
			padding: 10px 0;
			margin-top: 10px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			background-color: #ffdb4a;
			-webkit-box-shadow: 0 0 2.5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff8dc;
			-moz-box-shadow: 0 0 2.5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff8dc;
			box-shadow: 0 0 2.5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff8dc;
			border: solid 1px #fce58b;
			background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
			background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
			background-image: -o-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
			background-image: -ms-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
			background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
		}
		.boxLoginPortal01 .btnRegister01 {
			display: block;
			color: #292929;
			font-size: 1.65rem;
			font-weight: bold;
			text-decoration: none;
			width: 195px;
			margin: 10px auto 0;
			padding: 10px 0;
			text-align: center;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			background-color: #fff9e2;
			-webkit-box-shadow: 0 0 2.5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff;
			-moz-box-shadow: 0 0 2.5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff;
			box-shadow: 0 0 2.5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff;
			border: solid 1px #fce58b;
			background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
			background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
			background-image: -o-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
			background-image: -ms-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
			background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
		}
		
.btnGoService01 {
	display: block;
	color: #292929;
	font-size: 1.4rem;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	width: 100%;
	margin-top: 17px;
	padding: 10px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #e1e1d9;
	-webkit-box-shadow: 0 0 2.5px rgba(0,0,0,.05), inset 0 0 1px 1.5px #e8e8e1;
	-moz-box-shadow: 0 0 2.5px rgba(0,0,0,.05), inset 0 0 1px 1.5px #e8e8e1;
	box-shadow: 0 0 2.5px rgba(0,0,0,.05), inset 0 0 1px 1.5px #e8e8e1;
	background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
	background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
	background-image: -o-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
	background-image: -ms-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
	background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
}
	.btnGoService01 span {
		padding-right: 20px;
		background: url(/smp/common/img/ico_arrow03.png) right center / 14px 10px no-repeat;
	}
.boxGuestPortal01 {
	position: relative;
	margin-top: 26px;
}
	.boxGuestPortal01 h2 {
		display: inline-block;
		font-size: 1.5rem;
		font-weight: bold;
		color: #008576;
		text-align: center;
		position: absolute;
		top: -10px;
		background: #e6dcc7;
		left: 50%;
		margin-left: -5.5em;
	}
	.boxGuestPortal01 ul {
		padding: 15px 10px 10px;
		-webkit-border-radius: 2.5px;
		-moz-border-radius: 2.5px;
		border-radius: 2.5px;
		background-color: rgba(232,240,246,0);
		border: solid 1px #008576;
		text-align: center;
	}
		.boxGuestPortal01 ul li:nth-child(1) {
			width: 48%;
			float: left;
		}
		.boxGuestPortal01 ul li:nth-child(2) {
			width: 48%;
			float: right;
		}
			.boxGuestPortal01 ul li a {
				display: block;
				text-decoration: none;
				font-size: 2.1rem;
				font-weight: bold;
				color: #292929;
				padding: 15px 0;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				background-color: #ffdb4a;
				-webkit-box-shadow: 0 0 2.5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff8dc;
				-moz-box-shadow: 0 0 2.5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff8dc;
				box-shadow: 0 0 2.5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff8dc;
				border: solid 1px #fce58b;
				background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
				background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
				background-image: -o-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
				background-image: -ms-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
				background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
			}
			.boxGuestPortal01 ul li a span { color: #008576;}
			
.boxPortalBasic01 {
	margin: 15px 0 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
}
	.boxPortalBasic01 h2 {
		color: #fff;
		font-size: 1.5rem;
		font-weight: bold;
		background: #008576;
		padding: 5px 0;
		text-align: center;
	}
	.boxPortalBasic01.type01 h2 {
		background: #fc0;
	}
	.boxPortalBasic01 .inner {
		padding: 0 15px 15px;
		background: #fef9e5;
	}
	.boxPortalBasic01.type01 .inner {
		padding: 0 15px 15px;
		background: #fff;
	}
	.boxPortalBasic01 .text {
		width: 100%;
		font-size: 1.5rem;
		margin-top: 10px;
		padding: 10px 10px 10px 35px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		border: solid 1px #d1e5df;
		background: url(/smp/common/img/ico_search01.png) 10px center / 20px 20px no-repeat #fff;
	}
	.boxPortalBasic01 .btn {
		display: block;
		width: 195px;
		color: #008576;
		font-size: 1.8rem;
		font-weight: bold;
		text-align: center;
		padding: 10px 0;
		margin: 10px auto 0;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		background-color: #fff9e2;
		-webkit-box-shadow: 0 0 2.5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff;
		-moz-box-shadow: 0 0 2.5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff;
		box-shadow: 0 0 2.5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff;
		border: solid 1px #fce58b;
		background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
		background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
		background-image: -o-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
		background-image: -ms-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
		background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);		
	}

.ul_portal01 {
}
	.ul_portal01 li {
		padding-top: 10px;
	}
		.ul_portal01 li a {
			display: block;
			font-size: 1.4rem;
			background: url(/smp/common/img/ico_arrow_menu01.png) right center / 9px 15px no-repeat;
		}

.boxPortalBasic01 .dl_info01 {
	padding-top: 12px;
}
	.boxPortalBasic01 .dl_info01 dt {
		font-size: 1.1rem;
	}
	.boxPortalBasic01 .dl_info01 dt.important {
		font-size: 1.3rem;
		color: #c00;
	}
	.boxPortalBasic01 .dl_info01 dd {
	}
.boxPortalBasic01 .btnOpen,
.boxPortalBasic01 .btnMore {
	border-top: dashed 1px #e0e0e0;
	padding: 5px 0;
	background: #fff;
	text-align: center;
}
.boxPortalBasic01 .btnClose {
	padding: 5px 0;
	background: #fff;
	text-align: center;
}
	.boxPortalBasic01 .btnOpen a,
	.boxPortalBasic01 .btnMore a {
		display: inline-block;
		padding-left: 12px;
		background: url(/smp/common/img/ico_arrow04.png) left center / 7px 4px no-repeat;
	}
	.boxPortalBasic01 .btnOpen a,
	.boxPortalBasic01 .btnMore a {
		display: inline-block;
		padding-left: 12px;
		background: url(/smp/common/img/ico_arrow04.png) left center / 7px 4px no-repeat;
	}
	.boxPortalBasic01 .btnClose a {
		display: inline-block;
		padding-left: 12px;
		background: url(/smp/common/img/ico_arrow05.png) left center / 7px 4px no-repeat;
	}
.ul_information01 {
	height: 90px;
	overflow: hidden;
	-moz-animation: anime1 5s ease -2s infinite alternate;
	-webkit-animation: anime1 5s ease -2s infinite alternate;
	-o-animation: anime1 5s ease -2s infinite alternate;
	-ms-animation: anime1 5s ease -2s infinite alternate;
}
	.ul_information01.open {
		height: auto;
		overflow: visible;
	}
	
	
/* !deliver
---------------------------------------------------------- */

/* contentsHeadDeliver01 */
.contentsHeadDeliver01 {}
	.contentsHeadDeliver01 section { padding: 7px 10px 18px;}
	.contentsHeadDeliver01 .dl_deliver01 {
		margin-top: 13px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		background-color: #e8f0f6;
		border: solid 1px rgba(0,133,118,.8);
		padding: 0 14px 20px;
	}
			.contentsHeadDeliver01 .dl_deliver01 dl > dt {
				padding: 12px 0 5px;
				font-size: 1.5rem;
				font-weight: bold;
				color: #008576;
				text-align: center;
			}
			.contentsHeadDeliver01 .dl_deliver01 dl > dd {
				padding: 0 0 5px;
			}
				.contentsHeadDeliver01 .dl_deliver01 dl > dd .type01 {
					display: block;
					padding: 10px 0 ;
					color: #292929;
					font-size: 2.2rem;
					font-weight: bold;
					text-align: center;
					text-decoration: none;
					-webkit-border-radius: 5px;
					-moz-border-radius: 5px;
					border-radius: 5px;
					background-color: #ffdb4a;
					-webkit-box-shadow: 0 0 2.5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff8dc;
					-moz-box-shadow: 0 0 2.5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff8dc;
					box-shadow: 0 0 2.5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff8dc;
					border: solid 1px #fce58b;
					background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
					background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
					background-image: -o-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
					background-image: -ms-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
					background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
					position: relative;
				}
					.contentsHeadDeliver01 .dl_deliver01 dl > dd .type01:before {
						content: "";
						position: absolute;
						display: block;
						/*-----201508UPDATE-----*/
						background: url(/smp/webservice_guide/img/ico_deliver01.png) left center no-repeat;
						background-size:21px 29px;
						width: 21px;
						height: 29px;
						left: 17px;
						top: 50%;
						margin-top: -14.5px;
					}
				.contentsHeadDeliver01 .dl_deliver01 dl > dd .type02 {
					display: block;
					padding: 10px 0 ;
					color: #292929;
					font-size: 2.2rem;
					font-weight: bold;
					text-align: center;
					text-decoration: none;
					-webkit-border-radius: 5px;
					-moz-border-radius: 5px;
					border-radius: 5px;
					background-color: #fff9e2;
					-webkit-box-shadow: 0 0 2.5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff;
					-moz-box-shadow: 0 0 2.5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff;
					box-shadow: 0 0 2.5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff;
					border: solid 1px #fce58b;
					background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
					background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
					background-image: -o-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
					background-image: -ms-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
					background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
					position: relative;
				}
					.contentsHeadDeliver01 .dl_deliver01 dl > dd .type02:before {
						content: "";
						position: absolute;
						display: block;
						/*-----201508UPDATE-----*/
						background: url(/smp/webservice_guide/img/ico_deliver02.png) left center no-repeat;
						background-size:25px 25px;
						width: 25px;
						height: 25px;
						left: 17px;
						top: 50%;
						margin-top: -12.5px;
					}
/* !service
---------------------------------------------------------- */

/* contentsHeadService01 */
.contentsHeadService01 {}
	.contentsHeadService01 section { padding: 7px 10px 18px;}
	.contentsHeadService01 section.pb0 { padding: 7px 10px 0px;}
	
	.contentsHeadService01 .title {
		height: 89px;
		padding: 0 10px 0 150px;
		/*-----201508UPDATE-----*/
		background: url(/smp/common/img/img_service01.png) left top no-repeat #fff6d6;
		background-size:320px 89px;
		line-height: 1.3;
	}
		.contentsHeadService01 .title p:nth-child(1) {
			font-size: 1.05rem;
			font-weight: bold;
			color: #292929;
			padding-top: 7px;
		}
			.contentsHeadService01 .title p:nth-child(1) span {
				color: #008576;
			}
		.contentsHeadService01 .title p:nth-child(2) {
			font-size: 0.75rem;
			text-indent: -1em;
			padding-left: 1em;
		}
	.contentsHeadService01 .dl_registerd01 {
		border: 1px solid #eec4b2;
		border-radius: 5px;
		overflow: hidden;
		margin-top: 10px;
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.05);
		-moz-box-shadow: 0 0 3px rgba(0,0,0,.05);
		box-shadow: 0 0 3px rgba(0,0,0,.05);
	}
		.contentsHeadService01 .dl_registerd01 dt {
			padding: 6px 10px;
			font-size: 1.0rem;
			font-weight: bold;
			color: #a84200;
			background: #f9ece9;
		}
		.contentsHeadService01 .dl_registerd01 dd {
			padding: 6px 10px;
		}
		
/* tabService01 */
.tabService01 {
	width: 100%;
	padding: 0 10px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 1.2rem;
	font-weight: bold;
	position: relative;
	border-bottom: 4px solid #ffe57e;
	-webkit-box-shadow: 0 2px 0 #008375;
	-moz-box-shadow: 0 2px 0 #008375;
	box-shadow: 0 2px 0 #008375;
}
	.tabService01 li a {
		display: block;
		padding: 8px 0 6px 0;
		text-decoration: none;
		color: #000;
		border-radius: 5px 5px 0 0;
		background-color: #f4f4f4;
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.05);
		-moz-box-shadow: 0 0 3px rgba(0,0,0,.05);
		box-shadow: 0 0 3px rgba(0,0,0,.05);
		border: solid 1px #e6e6e6;
		border-bottom: none;
		background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
		background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
		background-image: -o-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
		background-image: -ms-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
		background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
	}
	.tabService01 li.active a {
		display: block;
		background-color: #fc0;
		background-image: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0) 1%, rgba(255,255,255,.5));
		background-image: -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0) 1%, rgba(255,255,255,.5));
		background-image: -o-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0) 1%, rgba(255,255,255,.5));
		background-image: -ms-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0) 1%, rgba(255,255,255,.5));
		background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0) 1%, rgba(255,255,255,.5));
	}
	.tabService01 li.active span { color: #292929;}
	.tabService01 li:nth-child(1) {
		width: 48%;
		float: left;
	}
	.tabService01 li:nth-child(2) {
		width: 48%;
		float: right;
	}
		.tabService01 li span {
			color: #008576;
			font-size: 0.8rem;
			letter-spacing: -1px;
		}
		
.tabService01.type01 {
	overflow: hidden;
	width: 100%;
	margin-bottom: 15px;
	text-align: center;
	font-size: 1.3rem;
	line-height: 1.1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
	.tabService01.type01 li {
		float: left !important;
		width: 25% !important;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
		.tabService01.type01 li:nth-child(1) { padding-right: 2.5px;}
		.tabService01.type01 li:nth-child(2),
		.tabService01.type01 li:nth-child(3) { padding: 0 2.5px;}
		.tabService01.type01 li:nth-child(4) { padding-left: 2.5px;}
		.tabService01.type01 li a {
			display: table;
			width: 100%;
			padding: 8px 3px 7px 3px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
			.tabService01.type01 li a div {
				display: table-cell;
				width: 100%;
				vertical-align: middle;
			}
		
/* boxServiceLogin01 */		
.boxServiceLogin01 {
	padding: 22px 10px 15px;
	margin-top: 2px;
	-webkit-box-shadow: 0 -2px 0 #008576;
	-moz-box-shadow: 0 -2px 0 #008576;
	box-shadow: 0 -2px 0 #008576;
	border-top: 4px solid #fc0;
	background: #e6dcc7;
}
	.boxServiceLogin01 .title { text-align: center;}

	.btnServiceLogin01 {
		margin-top: 11px;
		padding: 6px 8px;
		border-radius: 5px;
		/* background: url(/smp/webservice_guide/img/bg_service_login03.png) center center / 1px 94px no-repeat #e8f6f2; */
		
		background-color:#e8f6f2;
		background-image: url(/smp/webservice_guide/img/bg_service_login03.png);
		background-position: center center;
		background-size: 1px 94px;
		background-repeat:no-repeat;
		
		
	}
		.btnServiceLogin01 li {
			color: #008576;
			text-align: center;
			float: left;
			width: 50%;
			padding: 0 8px 0 0;
			position: relative;
		}
			.btnServiceLogin01 li span {
				font-weight: bold;
				font-size: 0.9rem;
				white-space: pre;
			}
			.btnServiceLogin01 li:nth-child(1):before {
				content: "";
				display: block;
				position: absolute;
				right: 0;
				top: 0;
				width: 1px;
				height: 100%;
			}
		.btnServiceLogin01 li:nth-child(2) {
			text-align: center;
			width: 50%;
			padding: 0 0 0 8px;
		}
			.btnServiceLogin01 li img {
				width: 100%;
				height: auto;
			}
			
	.boxServiceLogin01 .register {
		margin-top: 10px;
		border: 2px solid #fff;
		background: #ede7db;
		border-radius: 5px;
	}
		.boxServiceLogin01 .register > dt {
			padding: 5px 0 8px;
			text-align: center;
			font-size: 1.3rem;
			font-weight: bold;
			
			/* background: url(/smp/webservice_guide/img/bg_tri01.png) left bottom / 7.5px 3.5px repeat-x #ffcc01; */
			background-color: #ffcc01;
			background-image: url(/smp/webservice_guide/img/bg_tri01.png);
			background-position: left bottom;
			background-size: 7.5px 3.5px;
			background-repeat: repeat-x;
			
		}
		.boxServiceLogin01 .register > dd {
			width: 240px;
			padding-bottom: 15px;
			margin: 10px auto 0;
		}
			.boxServiceLogin01 .register .inner {
				display: table;
			}
				.boxServiceLogin01 .register .main {
				}
				.boxServiceLogin01 .register .inner.sub dt {
					text-align: center;
					display: table-cell;
					width: 42.5px;
					/* background: url(/smp/webservice_guide/img/bg_service_login01_top.png) left top / 100% 10px no-repeat, url(/smp/webservice_guide/img/bg_service_login01_btm.png) left bottom / 100% 17px no-repeat, url(/smp/webservice_guide/img/bg_service_login01_mid.png) left center / 100% 10px repeat-y; */
					
					/*background-color:;*/
					background-image: url(/smp/webservice_guide/img/bg_service_login01_top.png),url(/smp/webservice_guide/img/bg_service_login01_btm.png),url(/smp/webservice_guide/img/bg_service_login01_mid.png);
					background-position: left top,left bottom,left center;
					background-size: 100% 10px,100% 17px,100% 10px;
					background-repeat: no-repeat,no-repeat,repeat-y;
					
					
					vertical-align: middle;
					line-height: 1;
					font-weight: bold;
				}
				.boxServiceLogin01 .register .inner.main dt {
					display: table-cell;
					text-align: center;
					width: 42.5px;
					/* background: url(/smp/webservice_guide/img/bg_service_login02_top.png) left top / 100% 17px no-repeat, url(/smp/webservice_guide/img/bg_service_login02_btm.png) left bottom / 100% 5px no-repeat, url(/smp/webservice_guide/img/bg_service_login02_mid.png) left center / 100% 5px repeat-y; */
					/*background-color:;*/
					background-image: url(/smp/webservice_guide/img/bg_service_login02_top.png),url(/smp/webservice_guide/img/bg_service_login02_btm.png),url(/smp/webservice_guide/img/bg_service_login02_mid.png);
					background-position: left top,left bottom,left center;
					background-size: 100% 17px,100% 5px,100% 5px;
					background-repeat: no-repeat,no-repeat,repeat-y;
					
					
					vertical-align: middle;
					line-height: 1;
					font-weight: bold;
				}
				.boxServiceLogin01 .register .inner dd {
					display: table-cell;
					width: 205px;
					padding-left: 12px;
				}
				
				.boxServiceLogin01 .register .inner dd table {
						width: 100%;
					}
						.boxServiceLogin01 .register .inner dd table th,
						.boxServiceLogin01 .register .inner dd table td {
							text-align: center;
							line-height: 1.2;
							font-size: 1.0rem;
						}
							.boxServiceLogin01 .register .inner dd table th {
								padding-top: 10px;
							}
							.boxServiceLogin01 .register .inner dd table td {
								padding-bottom: 10px;
							}
						.boxServiceLogin01 .register .inner dd .col01 {
							width: 48%;
						}
						.boxServiceLogin01 .register .inner dd .col02 {
							width: 52%;
						}
							.boxServiceLogin01 .register .inner dd .col02 span {
								display: block;
								color: #5a5957;
								padding-left: 20px;
							}
							.boxServiceLogin01 .register .inner dd div {
								position: relative;
							}
							.boxServiceLogin01 .register .inner dd div:before {
								content: "";
								position: absolute;
								left: 10px;
								top: 50%;
								margin-top: -8px;
								width: 12px;
								height: 17px;
								background: url(/smp/webservice_guide/img/ico_arrow_table01.png) left center / 12px 17px no-repeat; 
							}
							.boxServiceLogin01 .register .inner dd img {
								width: 100%;
								height: auto;
							}
			.boxServiceLogin01 .register .text {
			}
				.boxServiceLogin01 .register .text dt {
					font-size: 1.3rem;
					font-weight: bold;
					text-align: center;
					color: #008576;
					margin-top: 12px;
				}
				.boxServiceLogin01 .register .text dd {
					margin-top: 5px;
				}

/* !LoginArea
---------------------------------------------------------- */

/* contentsHeadLogin01 */
.contentsHeadLogin01 section { padding: 12px 10px 20px;}
.contentsHeadLogin01 .caption { margin-bottom: 12px;}
.btnServiceLogin01Wrap {
	padding: 12px 0 0;
	background: #e8f6f2;
	border-radius: 5px;
}
	.btnServiceLogin01Wrap .title {
		text-align: center;
		font-size: 1.2rem;
	}
	.btnServiceLogin01Wrap .btnServiceLogin01 {
		margin-top: 0;
	}
/* !phase3
---------------------------------------------------------- */
.image01 {
	padding: 11px 0 12px 0;
	text-align: center;
}
.image01.type01 { padding: 2px 0 25px 0;}
.image01.type02 { padding: 18px 0 10px 0;}
.image01.type03 { padding: 18px 0 0 0;}
.image01.type04 { padding: 0;}
.image01.type05 { padding: 6px 0 0 0;}
.image01.type06 { padding: 15px 0 10px 0;}
.image01.type07 { padding: 6px 0 5px 0;}
.image01.type08 { padding: 0 0 5px 0;}
.txtColor03 {
	color: #008576;
	font-weight: bold;
	text-align: center;
}
.txtBasic01 {
	position: relative;
	padding-left: 15px;
}
	.txtBasic01:before {
		content: "";
		position: absolute;
		top: 3px;
		left: 0px;
		width: 12px;
		height: 10px;
		background: url(/smp/common/img/ico_symbol01.gif) no-repeat left top;
		background-size: 12px 10px;
	}
.emoneyBox01 { overflow: hidden;}
	.emoneyBox01 .imgEmoney01 {
		overflow: hidden;
		float: left;
		width: 79px;
		margin-right: 12px;
	}
		.emoneyBox01 .imgEmoney01 p:nth-child(2) {
			margin-top: 14px;
			text-align: center;
		}
	.emoneyBox01 .detailEmoney01 { overflow: hidden;}
		.emoneyBox01 .detailEmoney01 .title01 { font-weight: bold;}
.memberCardBox01 {	margin-bottom: 10px;}
	.memberCardBox01 ol {
		overflow: hidden;
		float: left;
		width: 78%;
		margin-top: 9px;
	}
		.memberCardBox01 ol li {
			text-indent: -1em;
			margin-left: 1em;
		}
	.memberCardBox01 p {
		float: right;
		width: 22%;
		margin-top: 9px;
		padding-right: 11px;
		text-align: right;
		-webkit-box-sizing: border-box;
  		-moz-box-sizing: border-box;
 		box-sizing: border-box;
	}
.memberCardList01 {
	overflow: hidden;
	width: 100%;
}
	.memberCardList01 li {
		overflow: hidden;
		float: left;
		width: 25%;
		text-align: center;
		color: #f2c200;
		font-size: 1.1rem;
		font-weight: bold;
		line-height: 1.2;
		-webkit-box-sizing: border-box;
  		-moz-box-sizing: border-box;
 		box-sizing: border-box;
	}
		.memberCardList01 li p {
			overflow: hidden;
			display: table;
			width: 100%;
			padding: 7px 0;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
			background-color: #fff9e3;
			border: solid 1px rgba(250,200,0,.59);
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
			.memberCardList01 li p span {
				overflow: hidden;
				display: table-cell;
				vertical-align: middle;
			}
	.memberCardList01 li { padding: 0 2.5px;}
.ul_list01 {
	overflow: hidden;
	margin: 0 42px;
}
	.ul_list01 li { margin-bottom: 10px;}
		.ul_list01 li.last { margin-bottom: 0;}
		.ul_list01 li a {
			display: block;
			padding: 7px 24px 7px 12px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			background-color: #fff9e2;
			-webkit-box-shadow: 0 0 5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff;
			-moz-box-shadow: 0 0 5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff;
			box-shadow: 0 0 5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff;
			border: solid 1px #fce58b;
			background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
			background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
			background-image: -o-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
			background-image: -ms-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
			background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
			color: #000;
			font-size: 1.5rem;
			font-weight: bold;
			line-height: 1.2;
			text-decoration: none;
			position: relative;
		}
			.ul_list01 li a:before {
				content: "";
				position: absolute;
				top: 50%;
				right: 11px;
				width: 13px;
				height: 8px;
				margin-top: -4px;
				background: url(/smp/common/img/ico_arrow06.png) no-repeat right top;
				background-size: 13px 8px;
			}
			.ul_list01 li a p { font-size: 1.0rem;}
.ul_pointStep01 {
	overflow: hidden;
	margin: 0 5px;
}
	.ul_pointStep01 li {
		padding: 7px 0 14px 0;
		margin-bottom: 20px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		background-color: #fff9e3;
		border: solid 1px #fce58b;
		position: relative;
	}
		.ul_pointStep01 li.last { margin-bottom: 0;}
		.ul_pointStep01 li:after {
			content: "";
			position: absolute;
			bottom: -15px;
			left: 50%;
			width: 15px;
			height: 7px;
			margin-left: -7px;
			background: url(/smp/common/img/ico_arrow07.png) no-repeat left bottom;
			background-size: 15px 7px;
		}
		.ul_pointStep01 li.last:after {
			width: 0;
			height: 0;
			background: none;
			background-size: 0 0;
		}
		.ul_pointStep01 li .title01 {
			overflow: hidden;
			margin-bottom: 10px;
			padding-bottom: 6px;
			border-bottom: 1px dotted #f2c200;
			text-align: center;
			font-weight: bold;
			line-height: 1.1;
		}
			.ul_pointStep01 li .title01 .txt01 {
				margin-bottom: 1px;
				color: #f2c200;
				font-size: 1.0rem;
			}
				.ul_pointStep01 li .title01 .txt01 span {
					font-size: 2.0rem;
				}
			.ul_pointStep01 li .title01 .txt02 { font-size: 1.4rem;}
		.ul_pointStep01 li .img01 { text-align: center;}
.pointServiceBox01 {
	overflow: hidden;
	padding: 10px;
	margin: 10px 42px 0 42px;
	-webkit-border-radius: 5px/7px;
	-moz-border-radius: 5px/7px;
	border-radius: 5px/7px;
	background-color: #e8f6f2;
	text-align: center;
}
	.pointServiceBox01 .title02 {
		margin-bottom: 5px;
		color: #008576;
		font-weight: bold;
		line-height: 1.3;
	}
	.pointServiceBox01 .link01 {
		background: url(/smp/common/img/ico_arrow01.png) left 5px no-repeat;
		background-size: 4px 7px;
		padding-left: 8px;
	}
	.pointServiceBox01 .button01 {
		overflow: hidden;
		margin-bottom: 4px;
	}
		.pointServiceBox01 .button01 a {
			display: block;
			padding: 8px 5px 4px 5px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			background-color: #e8f6f2;
			-webkit-box-shadow: 0 0 5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff;
			-moz-box-shadow: 0 0 5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff;
			box-shadow: 0 0 5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff;
			border: solid 1px #bbded3;
			background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
			background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
			background-image: -o-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
			background-image: -ms-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
			background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
			text-align: center;
			color: #000;
			font-weight: bold;
			text-decoration: none;
		}
			.pointServiceBox01 .button01 a .text01 { margin-top: 4px;}
.itemList01 {
	overflow: hidden;
	width: 100%;
}
	.itemList01 li {
		overflow: hidden;
		float: left;
		width: 33.33%;
		padding: 0 7px;
		margin-bottom: 13px;
		font-size: 1.0rem;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
		.itemList01 li:nth-child(3n) {
			width: 33.34%;
		}
		.itemList01 li .img01 {
			margin-bottom: 6px;
			padding: 5px 0;
			text-align: center;
			border: 1px dotted #999;
		}
			.itemList01 li .txt01 {
				line-height: 1.2;
			}
				.itemList01 li .txt01 span { color: #cc0000;}
			.itemList01 li .txt02 {
				margin-top: 3px;
				color: #008576;
				font-size: 1.3rem;
				font-weight: bold;
				line-height: 1.2;
			}
			.itemList01 li .txt03 {
				margin-top: 1px;
				text-indent: -1em;
				margin-left: 1em;
				line-height: 1.2;
			}
.pointServiceList01 {
	overflow: hidden;
	margin-top: 12px;
}
	.pointServiceList01 > li {
		overflow: hidden;
		margin-bottom: 17px;
	}
		.pointServiceList01 > li > .title01 {
			overflow: hidden;
			margin-bottom: 6px;
			font-weight: bold;
			line-height: 1.4;
		}
			.pointServiceList01 > li > .title01 > span {
				overflow: hidden;
				float: left;
				width: 27px;
			}
			.pointServiceList01 > li > .title01 > p { overflow: hidden;}
		.pointServiceList01 > li > .img01 { text-align: center;}
.ttlService01 {
	overflow: hidden;
	margin-bottom: 10px;
	padding-bottom: 4px;
	border-bottom: 1px dashed #292929;
	font-weight: bold;
	line-height: 1.3;
}
.pointServiceBox02 { margin-bottom: 12px;}
	.pointServiceBox02 .detail01 {
		overflow: hidden;
		float: left;
		width: 61%;
	}
		.pointServiceBox02 .detail01 p {
			margin-bottom: 2px;
			font-weight: bold;
		}
		.pointServiceBox02 .detail01 ul {
			overflow: hidden;
			margin-left: 5px;
		}
			.pointServiceBox02 .detail01 ul li {
				background: url(/smp/common/img/ico_arrow01.png) left 5px no-repeat;
				background-size: 4px 7px;
				padding-left: 8px;
				margin-bottom: 1px;
			}
				.pointServiceBox02 .detail01 ul li.last { margin-bottom: 0;}
	.pointServiceBox02 .img01 {
		overflow: hidden;
		float: right;
		width: 39%;
		margin-top: 21px;
		text-align: right;
	}
.tableBox01 {
	overflow: hidden;
	margin: 0 20px;
}
.campaignBox01 {
	overflow: hidden;
	padding: 15px 10px;
}
	.campaignBox01 p img,
	.bnrList01 li a img {
		width: 100%;
		height: auto;
	}
.bnrList01 {
	overflow: hidden;
	padding: 0 44px;
}
	.bnrList01 li { margin-bottom: 9px;}
		.bnrList01 li.last { margin-bottom: 0;}
.txtBasic02 {
	margin-top: 5px;
	color: #008576;
	font-size: 1.1rem;
	font-weight: bold;
	text-align: center;
}
	.txtBasic02.type01 {
		margin: 0 0 10px 0;
		font-size: 1.5rem;
		line-height: 1.3;
	}
.txtBasic03 {
	margin-bottom: 5px;
	font-weight: bold;
	text-align: center;
}
	.txtBasic03.type01 {
		margin-bottom: 0;
		font-size: 1.2rem;
		line-height: 1.3;
	}
	.txtBasic03.type02 {
		margin: 0 0 10px 0;
		font-size: 1.2rem;
		line-height: 1.3;
	}
.pointItemsBox01 {
	overflow: hidden;
	padding: 15px 10px;
}
	.pointItemsBox01 .img01 {
		margin-bottom: 11px;
		text-align: center;
	}
	.pointItemsBox01 .txtBox01 {
		overflow: hidden;
		margin: 10px 0;
		display: table;
		width: 100%;
	}
		.pointItemsBox01 .txtBox01 p {
			overflow: hidden;
			display: table-cell;
			vertical-align: middle;
		}
		.pointItemsBox01 .txtBox01 .img02 {
			width: 68px;
			padding-right: 9px;
			text-align: right;
		}
		.pointItemsBox01 .txtBox01 .txt01 {
			line-height: 1.4;
			text-align: left;
		}
	.pointItemsBox01 .txtBox01.type01 { margin: 10px 0 0 0;}
	.pointItemsBox01 .txtBox01.type01 .img02 { padding-right: 0;}	
	
	.pointItemsBox01.type01 .img01 { margin-bottom: 5px;}
	.pointItemsBox01.type01 .txtBox01 { margin: 10px 0 0 0;}
		.pointItemsBox01.type01 .txtBox01 .img02 {
			width: 114px;
			padding-right: 2px;
		}
		
		
	.pointItemsBox01 .list01 {
		overflow: hidden;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		text-align: center;
	}
		.pointItemsBox01 .list01 li {
			overflow: hidden;
			float: left;
			width: 50%;
			text-align: center;
			line-height: 1.4;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
			.pointItemsBox01 .list01 li:nth-child(2n+1) {
				padding-right: 10px;
			}
			.pointItemsBox01 .list01 li:nth-child(2n) {
				padding-left: 10px;
			}
			.pointItemsBox01 .list01 li a {
				display: inline-block;
				text-align: left;
				background: url(/smp/common/img/ico_arrow01.png) no-repeat left 5px;
				background-size: 4px 7px;
				padding-left: 8px;
			}
			.pointItemsBox01 .list01.type01 li a {
				background: url(/smp/common/img/ico_arrow04.png) no-repeat left 8px;
				background-size: 7px 4px;
				padding-left: 10px;
			}
	.pointItemsBox01 .list02 {
		overflow: hidden;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		text-align: center;
	}
		.pointItemsBox01 .list02 li {
			display: inline-block;
		}
			.pointItemsBox01 .list02 li:nth-child(2n) {
				margin-left: 5px;
			}
			.pointItemsBox01 .list02 li a {
				display: inline-block;
				text-align: left;
			}
			.pointItemsBox01 .list02.type01 li a {
				padding-left: 10px;
			}

.pointItemsBox02 {
	overflow: hidden;
	display: table;
	width: 100%;
	margin-top: 8px;
}
	.pointItemsBox02 p {
		overflow: hidden;
		display: table-cell;
		vertical-align: middle;
	}
	.pointItemsBox02 .img01 {
		width: 37px;
		text-align: left;
	}
	.pointItemsBox02 .txt01 {
		color: #008576;
		font-weight: bold;
		line-height: 1.4;
		text-align: left;
	}
.shopBox01 {
	overflow: hidden;
	padding: 0 10px 20px 10px;
}
	.shopBox01 ul { overflow: hidden;}
		.shopBox01 ul li {
			overflow: hidden;
			margin-bottom: 9px;
		}	
			.shopBox01 ul li.last { margin-bottom: 0;}	
			.shopBox01 ul li fieldset {
				padding: 0 10px 13px 10px;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				background-color: #fff;
				border: solid 2px #f9f0cd;
			}
				.shopBox01 ul li fieldset legend {
					padding: 0px 5px 0px 9px;
					background: #fff;
					color: #fa9900;
					font-size: 1.6rem;
					font-weight: bold;
					text-align: center;
					line-height: 1.3;
				}
				.shopBox01 ul li fieldset div {
					overflow: hidden;
				}
					.shopBox01 ul li fieldset div .img01 {
						overflow: hidden;
						float: left;
						margin: 7px 12px 0 0;
					}
					.shopBox01 ul li fieldset div .txt01 {
						overflow: hidden;
						margin-top: 7px;
						line-height: 1.4;
					}
.ul_stepList01 {
	overflow: hidden;
}
	.ul_stepList01 > li {
		padding: 11px 0 15px 0;
		margin-bottom: 20px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		background-color: #f5f1e2;
		border: solid 1px #e7e0c5;
		position: relative;
	}
		.ul_stepList01 > li.last { margin-bottom: 0;}
		.ul_stepList01 > li:after {
			content: "";
			position: absolute;
			bottom: -15px;
			left: 50%;
			width: 15px;
			height: 7px;
			margin-left: -7px;
			background: url(/smp/common/img/ico_arrow07.png) no-repeat left bottom;
			background-size: 15px 7px;
		}
		.ul_stepList01 > li.last:after {
			width: 0;
			height: 0;
			background: none;
			background-size: 0 0;
		}
		.ul_stepList01 > li > .img01 { text-align: center;}
		.ul_stepList01 > li > .button01 {
			overflow: hidden;
			margin: 10px 57px 0 57px;
		}
			.ul_stepList01 > li > .button01 > a {
				display: block;
				padding: 10px 5px 9px 5px;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				background-color: #f2f2f2;
				-webkit-box-shadow: 0 0 5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff;
				-moz-box-shadow: 0 0 5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff;
				box-shadow: 0 0 5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff;
				border: solid 1px #dedede;
				background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
				background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
				background-image: -o-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
				background-image: -ms-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
				background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
				text-align: center;
				color: #000;
				font-weight: bold;
				text-decoration: none;
			}
		.ul_stepList01 > li > .link01 {
			overflow: hidden;
			margin: 0 10px 0 15px;
		}
			.ul_stepList01 > li > .link01 > li {
				background: url(/smp/common/img/ico_arrow01.png) left 5px no-repeat;
				background-size: 4px 7px;
				padding-left: 9px;
			}
		.ul_stepList01 > li > .btnBox01 {
			overflow: hidden;
			margin: 4px 47px 8px 47px;
			padding: 10px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			background-color: #e8f6f2;
		}
			.ul_stepList01 > li > .btnBox01 > a {
				display: block;
				padding: 8px 0 4px 0;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				background-color: #e8f6f2;
				-webkit-box-shadow: 0 0 5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff;
				-moz-box-shadow: 0 0 5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff;
				box-shadow: 0 0 5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff;
				border: solid 1px #bbded3;
				background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
				background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
				background-image: -o-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
				background-image: -ms-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
				background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
				text-align: center;
				color: #000;
				font-weight: bold;
				text-decoration: none;
			}
				.ul_stepList01 > li > .btnBox01 > a > .txt01 { margin-top: 4px;}
		.ul_stepList01 > li > .title01 {
			color: #f2c200;
			font-size: 1.0rem;
			font-weight: bold;
			line-height: 1.1;
			text-align: center;
		}
			.ul_stepList01 > li > .title01.type01 { font-size: 2.5rem;}
		.ul_stepList01 > li > .title02 {
			margin-bottom: 8px;
			font-size: 1.4rem;
			font-weight: bold;
			line-height: 1.3;
			text-align: center;
		}
			.ul_stepList01 > li > .title02.type01 {
				margin: 4px 0 7px 0;
				color: #e09f38;
				font-size: 1.5rem;
			}
.txtArrow01 {
	overflow: hidden;
	width: 152px;
	height: 56px;
	padding: 5px 20px 0 20px;
	margin: 10px auto 0;
	background: url(/smp/webservice_guide/img/bg_arrow01.png) no-repeat left top;
	background-size: 152px 56px;
	text-align: center;
	color: #fff;
	font-size: 1.1rem;
	font-weight: bold;
	line-height: 1.2;
}
.txtRakuraku01 {
	overflow: hidden;
	background: url(/smp/webservice_guide/img/ico_square01.png) no-repeat left 3px;
	background-size: 8px 8px;
	padding-left: 13px;
	margin-left: 2px;
	font-weight: bold;
	line-height: 1.2;
}
	.txtRakuraku01 span {
		font-size: 1.0rem;
		font-weight: normal;
	}
.ul_rakuraku01 {
	overflow: hidden;
	margin-top: 12px;
}
	.ul_rakuraku01 li {
		overflow: hidden;
		margin-bottom: 5px;
	}
		.ul_rakuraku01 li.last { margin-bottom: 0;}
		.ul_rakuraku01 li div {
			text-align: center;
		}
			.ul_rakuraku01 li .img01 {
				overflow: hidden;
				display: inline-block;
				width: 150px;
				margin-left: 3px;
				vertical-align: top;
			}
			.ul_rakuraku01 li .txt01 {
				overflow: hidden;
				display: inline-block;
				margin-top: 9px;
				line-height: 1.2;
				vertical-align: top;
			}
				.ul_rakuraku01 li .txt01 .linkBlank01 {
					background: url(/smp/common/img/ico_blank01.png) left 0.3em no-repeat;
					background-size: 10px 8px;
					margin-left: 0;
				}
.rakurakuBox01 {
	overflow: hidden;
	padding: 0 10px;
	margin-top: 17px;
}
	.ttlRakuraku01 {
		overflow: hidden;
		padding: 4px 10px;
		margin-bottom: 15px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		background-color: #008576;
		color: #fff;
		font-size: 1.2rem;
		font-weight: bold;
		line-height: 1.3;
		text-align: center;
	}
	.txtRakuraku02 {
		margin-bottom: 12px;
		color: #cc0000;
		font-size: 1.2rem;
		text-align: center;
		line-height: 1.4;
	}
	.txtRakuraku03 {
		margin-bottom: 3px;
	}
	.txtRakuraku04 {
		margin-bottom: 3px;
	}
		.rakurakuBox01 .ol_basic03 li { margin-top: 0;}
	.ul_rakuraku02 {
		overflow: hidden;
		margin-bottom: 12px;
	}
		.ul_rakuraku02 li {
			margin-bottom: 22px;
			padding: 8px 5px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			background-color: #fff9e3;
			border: solid 1px #fce58b;
			text-align: center;
			font-size: 1.2rem;
			line-height: 1.3;
			position: relative;
		}
			.ul_rakuraku02 li:after {
				content: "";
				position: absolute;
				bottom: -15px;
				left: 50%;
				width: 15px;
				height: 7px;
				margin-left: -7px;
				background: url(/smp/common/img/ico_arrow07.png) no-repeat left bottom;
				background-size: 15px 7px;
			}
			.ul_rakuraku02 li.last { margin-bottom: 0;}
			.ul_rakuraku02 li.last:after {
				width: 0;
				height: 0;
				background: none;
				background-size: 0 0;
			}
			.ul_rakuraku02 li span { font-size: 0.9rem;}
			.ul_rakuraku02 li a { 
				margin-left: 0;
				font-size: 1.1rem;
			}
	
.rakurakuBox02 {
	padding: 0 5px;
}
	.ul_rakuraku03 { overflow: hidden;}
		.ul_rakuraku03 li {
			margin-bottom: 20px;
			padding: 9px 0 15px 0;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			background-color: #fff9e3;
			border: solid 1px #fce58b;
			position: relative;
		}
			.ul_rakuraku03 li:after {
				content: "";
				position: absolute;
				bottom: -15px;
				left: 50%;
				width: 15px;
				height: 7px;
				margin-left: -7px;
				background: url(/smp/common/img/ico_arrow07.png) no-repeat left bottom;
				background-size: 15px 7px;
			}
			.ul_rakuraku03 li.last:after {
				width: 0;
				height: 0;
				background: none;
				background-size: 0 0;
			}
		.ul_rakuraku03 li.last { margin-bottom: 0;}
			.ul_rakuraku03 li .img01 { text-align: center;}
		.rakurakuBox02 .ttlBox01 {
			overflow: hidden;
			display: table;
			width: 100%;
			padding: 0 10px;
			margin-bottom: 6px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
			.rakurakuBox02 .ttlBox01 .title01,
			.rakurakuBox02 .ttlBox01 .txt03 {
				display: table-cell;
				vertical-align: middle;
			}
			.rakurakuBox02 .ttlBox01 .title01 {
				overflow: hidden;
				width: 34px;
				color: #f2c200;
				font-weight: bold;
				line-height: 1.1;
				text-align: center;
			}
				.rakurakuBox02 .ttlBox01 .title01 .txt01 { font-size: 1.0rem;}
				.rakurakuBox02 .ttlBox01 .title01 .txt02 { font-size: 2.5rem;}
			.rakurakuBox02 .ttlBox01 .txt03 {
				padding-left: 10px;
				font-weight: bold;
				line-height: 1.3;
			}

			.ul_rakuraku03.type01 li.last:after {
				width: 0;
				height: 0;
				background: none;
				background-size: 0 0;
			}
			.ul_rakuraku03.type01 li.last { margin-bottom: 9px;}
			
.rakurakuBox03 {
	margin: 22px 0 18px 0;
	padding: 11px 8px 13px 109px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff9e3;
	border: solid 1px #fce58b;
	position: relative;
	min-height: 79px;
}
	.rakurakuBox03:after {
		content: "";
		position: absolute;
		top: -15px;
		left: 50%;
		width: 15px;
		height: 7px;
		margin-left: -7px;
		background: url(/smp/common/img/ico_arrow07.png) no-repeat left top;
		background-size: 15px 7px;
	}
	.rakurakuBox03 .img01 {
		position: absolute;
		top: -15px;
		left: -8px;
	}
	.rakurakuBox03 .txt01 {
		font-weight: bold;
		line-height: 1.3;
	}
	.rakurakuBox03.type01 { margin: 22px 0 0 0;}

.kadenBox01 {
	overflow: hidden;
	margin-top: 10px;
	padding: 10px 12px 13px 12px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
	border: solid 2px #c00;
	color: #cc0000;
}

.ul_kaden01 { margin: 17px 0 12px 0;}
	.ul_kaden01 li {
		margin-bottom: 20px;
		padding: 11px 0px 14px 0px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		background-color: #fff;
		border: solid 2px #008576;
		position: relative;
	}
		.ul_kaden01 li.last { margin-bottom: 0;}
		.ul_kaden01 li .img01 {
			position: absolute;
			top: -21px;
			right: 7px;
		}
			.ul_kaden01 li .img01.type01 {
				top: -20px;
				right: 10px;
			}
			.ul_kaden01 li .img01.type02 {
				top: -17px;
				right: 9px;
			}
		.ul_kaden01 li .title01 {
			margin-bottom: 2px;
			padding: 0 15px;
			color: #008576;
			font-size: 1.6rem;
			font-weight: bold;
			position: relative;
			z-index: 2;
		}
		.ul_kaden01 li .text01 {
			margin-bottom: 2px;
			padding: 0 15px;
			font-weight: bold;
			position: relative;
			z-index: 2;
		}
		.ul_kaden01 li .text02 {
			padding: 0 15px;
			margin-bottom: 3px;
		}
		.ul_kaden01 li .linkBlank01 { margin: 0 0 0 15px;}
.loginBox01Wrap {
	overflow: hidden;
	margin: 8px 38px 0 38px;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #e8f6f2;
}
	.loginBox01Wrap .title02 {
		margin-bottom: 5px;
		color: #008576;
		font-weight: bold;
		text-align: center;
		line-height: 1.3;
	}
	.loginBox01Wrap .loginBox01 {
		text-align: center;
		font-weight: bold;
	}
		.loginBox01Wrap .loginBox01 a {
			display: block;
			padding: 10px 5px 9px 5px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			background-color: #ffdb4a;
			-webkit-box-shadow: 0 0 5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff8dc;
			-moz-box-shadow: 0 0 5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff8dc;
			box-shadow: 0 0 5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff8dc;
			border: solid 1px #fce58b;
			background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
			background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
			background-image: -o-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
			background-image: -ms-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
			background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
			color: #000;
			text-decoration: none;
		}
			.loginBox01Wrap .loginBox01 a p:nth-child(2) {
				margin-top: 5px;
				line-height: 1.3;
			}
.txtHowto01 {
	margin: 12px 0 5px 0;
	font-weight: bold;
}
	.txtHowto01 span {
		font-size: 1.0rem;
	}
	.txtHowto01 span.type01 {
		font-size: 1.3rem;
		color: #008576;
	}
.txtWarning01 {
	background: url(/smp/campaign/img/ico_warning01.png) no-repeat left 4px;
	background-size: 17px 14px;
	padding-left: 21px;
	margin-top: 5px;
}
.howtoBox01Wrap {
	overflow: hidden;
	margin-top: 10px;
}
	.howtoBox01Wrap .title01 {
		padding: 3px 5px 4px 5px;
		-webkit-border-radius: 5px 5px 0 0;
		-moz-border-radius: 5px 5px 0 0;
		border-radius: 5px 5px 0 0;
		background-color: #ffb401;
		color: #fff;
		font-size: 1.2rem;
		font-weight: bold;
		text-align: center;
	}
	.howtoBox01Wrap .howtoBox01 {
		overflow: hidden;
		padding: 12px 12px 14px 15px;
		-webkit-border-radius: 0 0 5px 5px;
		-moz-border-radius: 0 0 5px 5px;
		border-radius: 0 0 5px 5px;
		background-color: #fffcdf;
	}
		.howtoBox01Wrap .howtoBox01 .title02 {
			margin-bottom: 1px;
			color: #ffa800;
			font-size: 1.4rem;
			font-weight: bold;
		}
			.howtoBox01Wrap .howtoBox01 .title02 a {
				text-decoration: underline;
				color: #ffa800;
			}
		.howtoBox01Wrap .howtoBox01 .text01 {
		}
			.howtoBox01Wrap .howtoBox01 .text01 span {
				color: #008576;
				font-weight: bold;
			}
		.howtoBox01Wrap .howtoBox01 .txtBox01 {
			overflow: hidden;
			width: 100%;
			margin-top: 6px;
		}
			.howtoBox01Wrap .howtoBox01 .txtBox01 .text02 {
				overflow: hidden;
				width: 31px;
				height: 31px;
				-webkit-border-radius: 15px;
				-moz-border-radius: 15px;
				border-radius: 15px;
				background-color: #ff7676;
				color: #fff;
				font-size: 0.9rem;
				font-weight: bold;
				text-align: center;
				vertical-align: top;
				line-height: 31px;
				float: left;
			}
			.howtoBox01Wrap .howtoBox01 .txtBox01 .text03 {
				overflow: hidden;
				padding-left: 6px;
				padding-top: 6px;
			}
				.howtoBox01Wrap .howtoBox01 .txtBox01 .text03 span {
					color: #f03f3f;
					font-weight: bold;
				}
				
.memberwariBox01Wrap {
	overflow: hidden;
	margin-bottom: 8px;
	padding-top: 34px;
	background: url(/smp/webservice_guide/img/bg_triangle01.jpg) no-repeat left top;
	background-size: 100% 34px;
}				
	.memberwariBox01 {
		overflow: hidden;
		padding: 3px 15px 10px 15px;
		background-color: #faf8ec;
		border: solid #f00;
		border-width: 0 2px 2px 2px;
	}
		.memberwariBox01 .title01 {
			margin-bottom: 5px;
			font-size: 1.4rem;
			font-weight: bold;
			text-align: center;
			line-height: 1.3;
		}
			.memberwariBox01 .title01 span {
				color: #003399;
				text-decoration: underline;
			}
			
.memberwariBox02Wrap {
	overflow: hidden;
	width: 300px;
	margin: 0 auto 10px;
	padding: 17px 10px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	background-color: #eef9e9;
}
	.memberwariBox02Wrap.type01 {
		margin: 0 auto 0;
		background-color: #f9f9e6;
	}

	.ttlMemberwari01 {
		overflow: hidden;
		margin-bottom: 13px;
		text-align: center;
		font-size: 1.2rem;
	}
		.ttlMemberwari01 span {
			display: inline;
			padding-left: 3px;
			position: relative;
			top: 2px;
		}
		.ttlMemberwari01.type01 span {
			top: 1px;
		}
	.ttlMemberwari02 {
		margin-bottom: 30px;
		padding: 9px 5px 8px 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		background-color: #008576;
		color: #fff;
		font-weight: bold;
		text-align: center; 
		position: relative;
	}
		.ttlMemberwari02:before {
			content: "";
			position: absolute;
			bottom: -30px;
			left: 66px;
			width: 169px;
			height: 30px;
			background: url(/smp/webservice_guide/img/ico_arrow02_down.png) no-repeat left bottom;
			background-size: 169px 30px;
		}
	.ttlMemberwari02.style01 {
		margin-bottom: 15px;
		background-color: #c1e4b4;
		color: #000;
	}
		.ttlMemberwari02.style01:before {
			bottom: -15px;
			left: 50%;
			width: 19px;
			height: 15px;
			margin-left: -9px;
			background: url(/smp/webservice_guide/img/ico_arrow01_down.png) no-repeat left bottom;
			background-size: 19px 15px;
		}
		.ttlMemberwari02.style01.type01:before {
			background: url(/smp/webservice_guide/img/ico_arrow03_down.png) no-repeat left bottom;
			background-size: 19px 15px;
		}
	.memberwariBox02Wrap .txtList01 {
		margin-bottom: 15px;
		position: relative;
		z-index: 2;
	}
		.memberwariBox02Wrap .txtList01 li {
			width: 130px;
			padding: 6px 0;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			background-color: #fff;
			font-size: 1.2rem;
			font-weight: bold;
			text-align: center;
			position: relative;
		}
			.memberwariBox02Wrap .txtList01 li:nth-child(1) { float: left;}
			.memberwariBox02Wrap .txtList01 li:nth-child(2) { float: right;}
			.memberwariBox02Wrap .txtList01 li span { font-size: 1.4rem;}
				.memberwariBox02Wrap .txtList01 li span.type01 { font-size: 1.0rem;}
		.memberwariBox02Wrap .txtList01 li:nth-child(2):after {
			content: "";
			position: absolute;
			bottom: -15px;
			left: 50%;
			width: 19px;
			height: 15px;
			margin-left: -9px;
			background: url(/smp/webservice_guide/img/ico_arrow01_down.png) no-repeat left bottom;
			background-size: 19px 15px;
		}
		.memberwariBox02Wrap .txtList01.style01 li:nth-child(1):after {
			content: "";
			position: absolute;
			bottom: -15px;
			left: 50%;
			width: 19px;
			height: 15px;
			margin-left: -9px;
			background: url(/smp/webservice_guide/img/ico_arrow03_down.png) no-repeat left bottom;
			background-size: 19px 15px;
		}
		.memberwariBox02Wrap .txtList01.style01 li:nth-child(2):after {
			width: 0;
			height: 0;
			background: none;
			background-size: 0 0;
		}
	.memberwariBox02Wrap .txtList02 {}
		.memberwariBox02Wrap .txtList02 li {
			float: right;
			width: 225px;
			padding: 8px 7px 8px 11px;
			margin-bottom: 15px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			background-color: #fff;
			font-size: 1.0rem;
			font-weight: bold;
			position: relative;
		}
			.memberwariBox02Wrap .txtList02 li:after {
				content: "";
				position: absolute;
				bottom: -15px;
				left: 50%;
				width: 19px;
				height: 15px;
				margin-left: -9px;
				background: url(/smp/webservice_guide/img/ico_arrow01_down.png) no-repeat left bottom;
				background-size: 19px 15px;
			}
	.memberwariBox02Wrap .txtList02.style01 {
		width: 235px;
		margin: 0 auto;
	}	
		.memberwariBox02Wrap .txtList02.style01 li {
			float: none;
			width: 235px;
		}
		.memberwariBox02Wrap .txtList02.type01 li:after {
			background: url(/smp/webservice_guide/img/ico_arrow03_down.png) no-repeat left bottom;
			background-size: 19px 15px;
		}
		.memberwariBox02Wrap .txtList02.style02 li { float: left;}
		.memberwariBox02Wrap .txtList02.style02 li:after {
			background: url(/smp/webservice_guide/img/ico_arrow03_down.png) no-repeat left bottom;
			background-size: 19px 15px;
		}
		
	.ttlMemberwari03 {
		width: 280px;
		padding: 12px 3px 10px 3px;
		margin-bottom: 20px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		background-color: #fff;
		font-size: 1.0rem;
		font-weight: bold;
		text-align: center;
		position: relative;
	}
		.ttlMemberwari03 span {
			display: inline;
			padding-left: 3px;
			position: relative;
			top: 1px;
		}
		.ttlMemberwari03:after {
			content: "";
			position: absolute;
			top: -15px;
			left: 21px;
			width: 19px;
			height: 15px;
			background: url(/smp/webservice_guide/img/ico_arrow01_down.png) no-repeat left bottom;
			background-size: 19px 15px;
			z-index: 3;
		}
	.ttlMemberwari03.style01,
	.ttlMemberwari03.style02 { margin-bottom: 0;}
		.ttlMemberwari03.style01:after {
			width: 0;
			height: 0;
			background: none;
			background-size: 0 0;
		}
		.ttlMemberwari03.style02:after {
			left: inherit;
			right: 25px;
			background: url(/smp/webservice_guide/img/ico_arrow03_down.png) no-repeat right bottom;
			background-size: 19px 15px;
		}	
	.memberwariBox02Wrap  .memberwariBox02 { position: relative;}
		.memberwariBox02Wrap  .memberwariBox02:before {
			content: "";
			position: absolute;
			top: 0;
			left: 21px;
			width: 19px;
			height: 100%;
			background: url(/smp/webservice_guide/img/ico_line01.png) repeat-y left top;
			background-size: 19px 5px;
		}
		.memberwariBox02Wrap .memberwariBox02.style01:before {
			left: inherit;
			right: 25px;
			background: url(/smp/webservice_guide/img/ico_line02.png) repeat-y right top;
			background-size: 19px 5px;
		}
		
.section_oshirase01 { padding: 8px 14px;}
	.section_oshirase01.type01 { padding: 0 14px 8px 14px;}
	.section_oshirase01.type02 { padding: 0 7px;}
	.txtOshirase01 { font-size: 1.2rem;}
		.txtOshirase01 span {
			color: #009380;
			font-weight: bold;
		}	
	.txtOshirase02 {
		margin-top: 16px;
		font-size: 1.0rem;
	}
	.ttlOshirase01 {
		margin-bottom: 12px;
		text-align: center;
		font-size: 1.4rem;
		font-weight: bold;
		line-height: 1.3;
	}
		.ttlOshirase01 p {
			display: inline-block;
			background: url(/smp/campaign/img/ico_arrow01_down.png) no-repeat left 3px, url(/smp/campaign/img/ico_arrow01_down.png) no-repeat right 3px;
			background-size: 18px 12px, 18px 12px;
			padding: 0 22px;
		}
	
	.oshiraseAccordionBox01 {
		overflow: hidden;
		margin-bottom: 15px;
		-webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.25);
		box-shadow:  3px 3px 4px 0px rgba(0, 0, 0, 0.25);
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
	}
	.ttlOshirase02 {
		overflow: hidden;
		padding: 8px 35px 10px 35px;
		background: rgba(0,156,135,1);
		background: -moz-linear-gradient(top, rgba(0,156,135,1) 0%, rgba(0,156,135,1) 35%, rgba(54,177,161,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,156,135,1)), color-stop(35%, rgba(0,156,135,1)), color-stop(100%, rgba(54,177,161,1)));
		background: -webkit-linear-gradient(top, rgba(0,156,135,1) 0%, rgba(0,156,135,1) 35%, rgba(54,177,161,1) 100%);
		background: -o-linear-gradient(top, rgba(0,156,135,1) 0%, rgba(0,156,135,1) 35%, rgba(54,177,161,1) 100%);
		background: -ms-linear-gradient(top, rgba(0,156,135,1) 0%, rgba(0,156,135,1) 35%, rgba(54,177,161,1) 100%);
		background: linear-gradient(to bottom, rgba(0,156,135,1) 0%, rgba(0,156,135,1) 35%, rgba(54,177,161,1) 100%); 
		color: #fff;
		font-size: 1.4rem;
		font-weight: bold;
		line-height: 1.4;
		text-align: center;
		cursor: pointer;
		position: relative;
	}
		.ttlOshirase02:before {
			content: "";
			position: absolute;
			top: 50%;
			right: 10px;
			width: 15px;
			height: 8px;
			margin-top: -4px;
			background: url(/smp/campaign/img/ico_arrow02_down.png) no-repeat right top;
			background-size: 15px 8px;	
		}
		.ttlOshirase02.open:before {
			background: url(/smp/campaign/img/ico_arrow02_up.png) no-repeat right top;
			background-size: 15px 8px;
		}
		.ttlOshirase02 div:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 10px;
			width: 35px;
			height: 31px;
			margin-top: -15px;
			background: url(/smp/campaign/img/ico_warning02.png) no-repeat left top;
			background-size: 35px 31px;	
		}
		.ttlOshirase02 span.type01 { font-size: 1.2rem;}
		.ttlOshirase02 span.type02 {
			color: #fdd000;
			font-size: 1.5rem;
		}
	.ttlOshirase02.type01 {
		background: rgba(238,63,54,1);
		background: -moz-linear-gradient(top, rgba(238,63,54,1) 0%, rgba(238,63,54,1) 28%, rgba(240,90,40,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(238,63,54,1)), color-stop(28%, rgba(238,63,54,1)), color-stop(100%, rgba(240,90,40,1)));
		background: -webkit-linear-gradient(top, rgba(238,63,54,1) 0%, rgba(238,63,54,1) 28%, rgba(240,90,40,1) 100%);
		background: -o-linear-gradient(top, rgba(238,63,54,1) 0%, rgba(238,63,54,1) 28%, rgba(240,90,40,1) 100%);
		background: -ms-linear-gradient(top, rgba(238,63,54,1) 0%, rgba(238,63,54,1) 28%, rgba(240,90,40,1) 100%);
		background: linear-gradient(to bottom, rgba(238,63,54,1) 0%, rgba(238,63,54,1) 28%, rgba(240,90,40,1) 100%);
	}
		.ttlOshirase02.type01 div:before {
			width: 32px;
			height: 32px;
			margin-top: -16px;
			background: url(/smp/campaign/img/ico_question01.png) no-repeat left top;
			background-size: 32px 32px;	
		}
	.contentOshirase01Wrap { display: none;}
		.contentOshirase01Wrap .contentOshirase01 {
			overflow: hidden;
			padding-bottom: 42px;
			border: solid #009380;
			border-width: 0 2px;
		}
			.contentOshirase01Wrap.type01 .contentOshirase01 {
				background-color: #feea8a;
				border: solid #ea5414;
				border-width: 0 2px;
			}
		.oshiraseStep01 {
			overflow: hidden;
			padding: 0 10px;
		}
			.oshiraseStep01 li {
				overflow: hidden;
				padding: 12px 0 13px 0;
				border-bottom: 1px solid #009380;
			}
				.oshiraseStep01.type01 li { border-bottom: 1px solid #ea5414;}
				.oshiraseStep01 li .title01 { overflow: hidden;}
					.oshiraseStep01 li .title01 .no01 {
						overflow: hidden;
						float: left;
						width: 20px;
						height: 20px;
						padding-top: 1px;
						margin-right: 4px;
						background-color: #009380;
						-webkit-border-radius: 10px;
						-moz-border-radius: 10px;
						border-radius: 10px;
						text-align: center;
						color: #fff;
						font-size: 1.2rem;
						font-weight: bold;
					}
					.oshiraseStep01 li .title01 .text01 {
						overflow: hidden;
						font-size: 1.3rem;
					}
						.oshiraseStep01 li .title01 .text01 span { color: #e50011;}
				.oshiraseStep01 li .img01 {
					margin-top: 8px;
					text-align: center;
				}
					.oshiraseStep01 li .img01.type01 { margin-top: 6px;}
						.oshiraseStep01.type01 li .title01 .no01 { background-color: #e95513;}
						.oshiraseStep01.type01 li .title01 .text01 span {
							color: #e73828;
							font-weight: bold;
						}
						.oshiraseStep01.type01 li .title01 .text01 span.type01 {
							color: #000;
							font-size: 1.0rem;
							font-weight: normal;
						}	
	.txtOshirase03 {
		margin-top: 3px;
		padding: 0 10px;
		color: #e50011;
		font-size: 1.3rem;
		text-align: center;
		position: relative;
	}
		.txtOshirase03 span {
			font-size: 1.5rem;
			font-weight: bold;
		}
		.txtOshirase03:before {
			content: "";
			position: absolute;
			bottom: -34px;
			left: 50%;
			width: 70px;
			height: 27px;
			margin-left: -35px;
			background: url(/smp/campaign/img/ico_arrow03_down.png) no-repeat left bottom;
			background-size: 70px 27px;	
		}
	.txtOshirase04 {
		padding: 4px 11px 3px 11px;
		border: 2px solid #009380;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		font-size: 1.3rem;
	}
		.txtOshirase04 span { color: #e50011;}
			.txtOshirase04 span.type01 { color: #2da7e0;}
			.txtOshirase04 span.type02 {
				display: inline-block;
				width: 13px;
				height: 13px;
				margin: 0 2px;
				background-color: #009481;
				-webkit-border-radius: 7px;
				-moz-border-radius: 7px;
				border-radius: 7px;
				text-align: center;
				color: #fff;
				font-size: 1.0rem;
				font-weight: bold;
			}
	.oshiraseLogin01 {
		overflow: hidden;
		padding: 6px 10px 5px 10px;
		background: rgba(0,148,128,1);
		background: -moz-linear-gradient(top, rgba(0,148,128,1) 0%, rgba(0,148,128,1) 35%, rgba(54,170,155,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,148,128,1)), color-stop(35%, rgba(0,148,128,1)), color-stop(100%, rgba(54,170,155,1)));
		background: -webkit-linear-gradient(top, rgba(0,148,128,1) 0%, rgba(0,148,128,1) 35%, rgba(54,170,155,1) 100%);
		background: -o-linear-gradient(top, rgba(0,148,128,1) 0%, rgba(0,148,128,1) 35%, rgba(54,170,155,1) 100%);
		background: -ms-linear-gradient(top, rgba(0,148,128,1) 0%, rgba(0,148,128,1) 35%, rgba(54,170,155,1) 100%);
		background: linear-gradient(to bottom, rgba(0,148,128,1) 0%, rgba(0,148,128,1) 35%, rgba(54,170,155,1) 100%);
	}
		.oshiraseLogin01 ul { overflow: hidden;}
			.oshiraseLogin01 ul li {
				overflow: hidden;
				float: left;
				width: 50%;
				text-align: center;
			}
				.oshiraseLogin01 ul li:nth-child(1) { padding-right: 1px;}
				.oshiraseLogin01 ul li:nth-child(2) { padding-left: 1px;}
				.oshiraseLogin01 ul li .txt01 {
					margin-bottom: 2px;
					color: #fdd000;
					font-size: 1.1rem;
					line-height: 1.3;
				}
					.oshiraseLogin01 ul li .txt01.type01 { color: #fff;}
				.oshiraseLogin01 ul li .btn01 img {
					width: 100%;
					height: auto;
				}
	.oshiraseLogin01.type01 {
		background: rgba(231,56,40,1);
		background: -moz-linear-gradient(top, rgba(231,56,40,1) 0%, rgba(231,56,40,1) 28%, rgba(233,91,26,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(231,56,40,1)), color-stop(28%, rgba(231,56,40,1)), color-stop(100%, rgba(233,91,26,1)));
		background: -webkit-linear-gradient(top, rgba(231,56,40,1) 0%, rgba(231,56,40,1) 28%, rgba(233,91,26,1) 100%);
		background: -o-linear-gradient(top, rgba(231,56,40,1) 0%, rgba(231,56,40,1) 28%, rgba(233,91,26,1) 100%);
		background: -ms-linear-gradient(top, rgba(231,56,40,1) 0%, rgba(231,56,40,1) 28%, rgba(233,91,26,1) 100%);
		background: linear-gradient(to bottom, rgba(231,56,40,1) 0%, rgba(231,56,40,1) 28%, rgba(233,91,26,1) 100%);
	}
	.txtOshirase05 {
		margin: 6px 0 0 3px;
		font-size: 1.0rem;
	}
	.oshiraseBanner01 img { width: 100%; height: auto; margin: 10px 0;}
	
	.otherid{
		font-size: 1.0rem;
		margin-left:10px;
		padding-bottom:10px;
	}
	
	.table_basic01 td.txt_left{
	text-align:left;
	padding:5px;
	}