@charset "UTF-8";
/*slidemenu*/
.slidemenu {
}
.slidemenu li {
}
.slidemenu li a {
}
.slidemenu li:first-child {
}
.slidemenu li:last-child {
}
.slidemenu .slidemenu-header {
}
.slidemenu .slidemenu-header div {
}


/*plugin*/
#wrapper {
  z-index: 1;
}
.slidemenu {
  top: 0;
  width: 270px;
  position: fixed;
  visibility: hidden;
  z-index: -1;
}
.slidemenu .slidemenu-header {
  position: relative;
}
.slidemenu .slidemenu-body {
  height: 100%;
  /* overflow: hidden; */
  position: relative;
}
.slidemenu .slidemenu-body .slidemenu-content {
  position: relative;
}
.slidemenu-left {
    left: 0;
}
.slidemenu-right {
    right: 0;
}
/* !menu
---------------------------------------------------------- */
.slidemenu .menu-top {
	position: relative;
	background: #f4f4ea;
	padding: 13px 11px;
	text-align: left;
	min-height: 62px;
}
	.slidemenu .menu-top .btnPortal {
		margin-top: 5px;
	}
	.slidemenu .menu-top .btnClose {
		position: absolute;
		top: 10px;
		right: 5px;
	}
.slidemenu .serchBox {
	padding: 15px 11px;
	background: #f8f5ea;
}
	.slidemenu .serchBox .text {
		width: 100%;
		padding: 10px 10px 10px 35px;
		border: 1px solid #ede9da;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		/*-----201508UPDATE-----*/
		background:url(/smp/common/img/ico_search01.png) 10px center no-repeat #ffffff;
		background-size:20px 20px;
	}
	.slidemenu .serchBox .btn {
		display: inline-block;
		text-decoration: none;
		padding: 10px 0;
		width: 195px;
		margin-top: 10px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		background-color: #fff9e2;
		-webkit-box-shadow: 0 0 2.5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff;
		-moz-box-shadow: 0 0 2.5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff;
		box-shadow: 0 0 2.5px rgba(0,0,0,.05), inset 0 0 1px 2px #fff;
		border: solid 1px #fce58b;
		background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
		background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
		background-image: -o-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
		background-image: -ms-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
		background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
		color: #008576;
		font-size: 1.5rem;
		font-weight: bold;
		cursor: pointer;
	}
	.slidemenu .menuTitle01 {
		position: relative;
		padding: 14px 20px;
		font-size: 1.6rem;
		font-weight: bold;
		color: #000;
		background: #fc0;
		text-align: left;
	}
		.slidemenu .menuTitle01:before {
			content: "";
			display: block;
			background: #008576;
			position: absolute;
			width: 5px;
			height: 34px;
			top: 50%;
			left: 6px;
			margin-top: -17px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
		}
    .slidemenu-content > ul > li > a,
    .slidemenu-content > ul > li dt {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: inherit;
      display: block;
      padding: 10px 10px 10px 20px;
      margin: 0;
			background-color: #fffae7;
			-webkit-box-shadow: 1px 1px 3px #f4edd2;
			-moz-box-shadow: 1px 1px 3px #f4edd2;
			box-shadow: 1px 1px 3px #f4edd2;
			border-bottom: solid 1px #fff;
			border-top: solid 1px #f8f2df;
			background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
			background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
			background-image: -o-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
			background-image: -ms-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
			background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
			font-weight: bold;
			font-size: 1.4rem;
			text-align: left;
			position: relative;
			text-decoration: none;
			cursor: pointer;
		}
		.slidemenu-content > ul > li dt { color: #008576;}
		.slidemenu-content > ul > li:first-child > a,
    .slidemenu-content > ul > li:first-child > span { border-top: solid 1px transparent;}
	
			.slidemenu-content > ul > li > a:before,
			.slidemenu-content > ul > li dt:before {
				position: absolute;
				content: "";
				width: 9px;
				height: 15px;
				/*-----201508UPDATE-----*/
				background: url(/smp/common/img/ico_arrow_menu01.png) center top;
				background-size:9px 15px;
				right: 16px;
				top: 50%;
				margin-top: -7.5px;
			}
			
			.slidemenu-content > ul > li .blank {
				display: inline-block;
				padding-left: 14px;
				/*-----201508UPDATE-----*/
				background: url(/smp/common/img/ico_blank01.png) left center no-repeat;
				background-size:10px 8px;
				text-indent: 0;
			}
			.slidemenu-content .parent > a:before,
			.slidemenu-content .parent dt:before {
				position: absolute;
				content: "";
				width: 9px;
				height: 15px;
				/*-----201508UPDATE-----*/
				background: url(/smp/common/img/ico_arrow_menu01.png) center top;
				background-size:9px 15px;
				right: 16px;
				top: 50%;
				margin-top: -7.5px;
				-webkit-transform: rotate(90deg);
				transform: rotate(90deg);
			}
			.slidemenu-content .parent dt.open:before {
				-webkit-transform: rotate(-90deg);
				transform: rotate(-90deg);
			}
			.slidemenu-content .child {
				border-top: solid 1px #ede0b2;
			}
			.slidemenu-content .child > li {
			}
			.slidemenu-content .child > li > a {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				color: inherit;
				display: block;
				padding: 10px 10px 10px 20px;
				margin: 0;
				border-top: solid 1px #fff;
				border-bottom: solid 1px #ede0b2;
				background-color: #fff5d1;
				background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
				background-image: -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
				background-image: -o-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
				background-image: -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
				background-image: linear-gradient(to bottom, rgba(255,255,255,.3), rgba(255,255,255,0));
				font-weight: bold;
				font-size: 1.2rem;
				text-align: left;
				position: relative;
				text-decoration: none;
				cursor: pointer;
			}
				.slidemenu-content .child > li > a .sub {
					font-size: 1.1rem;
				}
				.slidemenu-content .child > li > a:before {
					position: absolute;
					content: "";
					width: 6px;
					height: 10px;
					/*-----201508UPDATE-----*//*-----201508UPDATE-----*/
					background: url(/smp/common/img/ico_arrow_menu02.png) center top no-repeat;
					background-size:6px 10px;
					right: 17px;
					top: 50%;
					margin-top: -5px;
				}
			.slidemenu-content .child > li:first-child > a { border-top: none;}
			.slidemenu-content .child > li:last-child > a { border-bottom: none;}
			
			
			
			
			
			
			
			
			
/*-----201603UPDATE-----*//*-----201603UPDATE-----*/			
dl.accordion_member { width:100%; }


dl.accordion_member dt {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: #008576;
      display: block;
      padding: 10px 10px 10px 20px;
      margin: 0;
			background-color: #fffae7;
			-webkit-box-shadow: 1px 1px 3px #f4edd2;
			-moz-box-shadow: 1px 1px 3px #f4edd2;
			box-shadow: 1px 1px 3px #f4edd2;
			border-bottom: solid 1px #fff;
			border-top: solid 1px #f8f2df;
			border-left: solid 1px #f8f2df;
			background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
			background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
			background-image: -o-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
			background-image: -ms-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
			background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,.01) 1%, #fff);
			font-weight: bold;
			font-size: 1.4rem;
			text-align: left;
			position: relative;
			text-decoration: none;
			cursor: pointer;
	}



dl.accordion_member dt:before {
    position: absolute;
    content: "";
    width: 9px;
    height: 15px;
    background: url(/smp/common/img/ico_arrow_menu01.png) center top;
    background-size: 9px 15px;
    right: 16px;
    top: 50%;
    margin-top: -7.5px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}


dl.accordion_member dt.open:before {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}


dl.accordion_member dt.open {
}








dl.accordion_member dd { background:#FFF; padding:10px; line-height:1.5; display:none;}

