@charset "UTF-8";

/* -------------------------------------------------------------------

    Box Module

-------------------------------------------------------------------- */

/* box-modal-01
--------------------------------------- */
#overlay{
	position:fixed;
	top:0;
	left:0;
	z-index:10001;
	display:none;
	width:100%;
	height:100%;
    background-color:#000;
    opacity:0.8;
	cursor:pointer;
}

.box-modal-01{
    margin:0 auto;
    padding:0 30px;
    box-sizing:border-box;
    width:798px;
    position:absolute;
    left:50%;
    z-index:99998;
    display:none;
    opacity:0;
    transition:all 0.2s ease 0s;

    @media screen and ( max-width: $w-815 ){
        margin-left:0!important;
        left:0;
        width:100%;
    }

    &.open{
        opacity:1;
    }

    .box-modal-01-inner{
		position:relative;

    }

    .modal-title{
        margin-bottom:33px;
        width:100%;
        color:#fff;
        line-height:1.3;
        font-size:fz(24);

        @media screen and ( max-width: $w-760 ){
            margin-bottom:15px;
            font-size:fz(15);

        }

        .new{
            margin-bottom:13px;
            display:block;
            color:#f8759a;
            font-size:fz(8);

            @media screen and ( max-width: $w-760 ){
                margin-bottom:5px;
            }
        }
    }

    .movie-box{
        margin-bottom:30px;
        padding-top:56.25%;
        position:relative;
        height:0;

        @media screen and ( max-width: $w-760 ){
            margin-bottom:15px;
        }

        iframe{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
        }
    }

    .modal-close{
        position:absolute;
        top:10px;
        right:0;
        margin-bottom:0;
        color:#fff;
        cursor:pointer;
        @extend .icon-close-01;

        @media screen and ( max-width: $w-760 ){
            top:-25px;
            right:0;
        }

        &:before{
            color:#fff;
            vertical-align:middle;
            font-size:39px;

            @media screen and ( max-width: $w-760 ){
                font-size:20px;
            }
        }
    }
}












/* box-important-01
--------------------------------------- */
/*.box-important-01{
    margin-bottom:40px;
    padding:15px 19px 11px;
    border:1px solid #ff7575;
    border-radius:5px;

    @media screen and ( max-width: $w-760 ){
        margin-bottom:20px;
        padding:7px 14px 6px;
    }

    .list-news-01{
        margin-bottom:0;
        border-top:none;

        li{
            padding:0 0 5px;
            border-bottom:none;

            .date{
                width:140px;
            }
        }
    }
}*/

/* box-contact-01
--------------------------------------- */
/*.box-contact-01{
    margin-bottom:40px;

    @media screen and ( max-width: $w-760 ){
        margin-bottom:20px;
    }

    .title-01{
        padding:11px 0;
        border-radius:4px 4px 0 0;
        background-color:#ffd800;
        font-size:fz(18);
        font-weight:bold;
        text-align:center;

        @media screen and ( max-width: $w-760 ){
            padding:6px 0;
            font-size:fz(12);
        }
    }

    a{
        &:active,
        &:hover,
        &:focus{
            text-decoration:none;
        }
    }

    .list-notice{
        a,span{
            color:#333;
        }
    }

    .box-contact-01-inner{
        padding:30px 30px 30px;
        border-radius:0 0 4px 4px;
        background-color:#fffbe5;
        @extend .clearfix;

        @media screen and ( max-width: $w-760 ){
            padding:15px 5.892857142857143% 15px;
        }

        .column{
            padding:0 30px;
            float:left;
            width:50%;
            box-sizing:border-box;

            @media screen and ( max-width: $w-1064 ){
                padding:0;
                float:none;
                width:100%;
            }

            &:first-child{
                @media screen and ( max-width: $w-1064 ){
                    padding-bottom:16px;
                    border-bottom:1px solid #d7d7d7;
                }
            }

            &:last-child{
                border-left:1px solid #d7d7d7;

                @media screen and ( max-width: $w-1064 ){
                    margin-top:30px;
                    border-left:none;
                }

                @media screen and ( max-width: $w-760 ){
                    margin-top:15px;
                }
            }

            .tel{
                color:#333;
                font-size:fz(36);

                a{
                    color:#333;
                }

                span{
                    display:block;
                }

                @media screen and ( max-width: $w-760 ){
                    margin-bottom:8px;
                    font-size:fz(22);
                }

                .icon{
                    margin-right:10px;
                    width:60px;

                    @media screen and ( max-width: $w-760 ){
                        margin-right:9px;
                        width:44px;
                    }
                }
            }
        }

        .tel{
            line-height:1.5;
            font-size:fz(48);
            text-align:center;
            font-weight:bold;

            a{
                color:#333;
            }

            span{
                display:block;
            }

            @media screen and ( max-width: $w-760 ){
                font-size:fz(22);
            }

            .icon{
                margin-right:20px;
                vertical-align:baseline;
                width:75px;

                &.type-02{
                    position:relative;
                    top:4px;
                    width:50px;
                }

                @media screen and ( max-width: $w-760 ){
                    margin-right:9px;
                    width:44px;

                    &.type-02{
                        width:40px;
                    }
                }
            }

            ruby{
                rt{
                    font-size:10px;

                    @media screen and ( max-width: $w-760 ){
                        font-size:8px;
                    }
                }
            }
        }

        .title-02{
            margin:0 auto 20px;
            border-radius:20px;
            padding:7px 0;
            width:150px;
            background-color:#ffef95;
            text-align:center;

            @media screen and ( max-width: $w-760 ){
                margin-bottom:10px;
                font-size:fz(11);
            }
        }

        .text-01{
            margin-bottom:26px;
            font-weight:bold;
            text-align:center;
            font-size:fz(18);

            @media screen and ( max-width: $w-760 ){
                margin-bottom:13px;
                font-size:fz(10);
            }
        }

        .list-01{
            margin:0 auto;
            display:table;

            dt{
                display:table-cell;

                @media screen and ( max-width: $w-760 ){
                    font-weight:bold;
                    font-size:fz(10);
                }
            }

            dd{
                display:table-cell;

                @media screen and ( max-width: $w-760 ){
                    font-weight:bold;
                    font-size:fz(10);
                }
            }
        }

        .list-notice{
            li{
                padding-bottom:2px;
                position:relative;
                color:#333;
                font-size:fz(14);
                text-align:center;

                @media screen and ( max-width: $w-760 ){
                    padding:0 0 2px 12px;
                    text-align:left;
                    font-size:fz(10);

                    .notice{
                        position:absolute;
                        top:0;
                        left:0;
                    }
                }
            }
        }
    }
}*/

/* box-contact-02
--------------------------------------- */
/*.box-contact-02{
    margin-bottom:40px;
    padding:34px 2.59391771019678%;
    border:1px solid #d7dae2;
    border-radius:5px;
    background-color:#f8f8fa;

    @media screen and ( max-width: $w-760 ){
        margin-bottom:20px;
    }

    .box-contact-02-inner{
        padding:0 2.830188679245283%;
    }

    .title{
        margin-bottom:55px;
        padding-bottom:14px;
        border-bottom:1px solid #e1e3e9;
        font-size:fz(20);

        .color-text{
            color:#2d78d5;
        }
    }

    .tel-01{
        line-height:1.2;
        font-size:fz(60);
        font-weight:bold;

        a{
            color:#333;
        }

        span{
            display:block;
        }

        @media screen and ( max-width: $w-760 ){
            font-size:fz(22);
        }

        .icon{
            margin-right:20px;
            vertical-align:baseline;
            width:75px;

            @media screen and ( max-width: $w-760 ){
                margin-right:9px;
                width:44px;
            }
        }

        ruby{
            rt{
                font-size:10px;

                @media screen and ( max-width: $w-760 ){
                    font-size:8px;
                }
            }
        }
    }

    .tel-02{
        margin-bottom:33px;
        padding-left:98px;
        line-height:1.2;
        font-size:fz(36);
        font-weight:bold;
    }

    .tel-03{
        line-height:1.5;
        font-size:fz(48);
        text-align:center;
        font-weight:bold;

        a{
            color:#333;
        }

        span{
            display:block;
        }

        @media screen and ( max-width: $w-760 ){
            font-size:fz(22);
        }

        .icon{
            margin-right:20px;
            vertical-align:baseline;
            width:75px;

            &.type-02{
                position:relative;
                top:4px;
                width:50px;
            }

            @media screen and ( max-width: $w-760 ){
                margin-right:9px;
                width:44px;

                &.type-02{
                    width:40px;
                }
            }
        }

        ruby{
            rt{
                font-size:10px;

                @media screen and ( max-width: $w-760 ){
                    font-size:8px;
                }
            }
        }
    }

    .text-01{
        margin-bottom:40px;
        font-size:fz(18);
        font-weight:bold;
        text-align:center;
    }

    .list-bullet-01{
        color:#888888;
        font-size:fz(12);

        li{
            padding:0 0 5px 10px;

            &:before{
                position:absolute;
                top:11px;
                left:0px;
                color:#888888;
                font-size:3px;

                @media screen and ( max-width: $w-760 ){
                    left:0;
                }
            }
        }
    }
}*/

/* box-content-01
--------------------------------------- */
/*.box-content-01{
    margin-bottom:40px;
    padding:38px 3.482142857142857%;
    border:1px solid #d7d7d7;
    border-radius:5px;

    @media screen and ( max-width: $w-760 ){
        margin-bottom:20px;
    }

    .title-01{
        margin-bottom:30px;
        font-size:fz(28);
    }

    .title-02{
        margin-bottom:6px;
        font-size:fz(18);
    }
}

.box-content-01{
    margin-bottom:40px;

    @media screen and ( max-width: $w-760 ){
        margin-bottom:20px;
    }

    a{
        border:1px solid #d7d7d7;
        border-radius:5px;
        padding:29px 5.330882352941176% 23px;
        display:block;
        color:#333;
        transition:all 0.2s ease 0s;
        //@include box-shadow-01;
        @extend .clearfix;

        @media screen and ( max-width: $w-760 ){
            padding:16px 5.892857142857143%;
        }

        &:active,
        &:hover,
        &:focus{
            text-decoration:none;
            box-shadow:none;
            opacity:0.7;
            text-decoration:none;

            .title{
                text-decoration:underline!important;
            }
        }
    }

    .image{
        margin-right:3.292181069958848%;
        float:left;
        width:24.69135802469136%;

        img{
            max-width:100%;
            text-align:center;
        }
    }

    .text{
        overflow:hidden;

        @media screen and ( max-width: $w-760 ){
            overflow:inherit;
        }

        .text-inner{
            @media screen and ( max-width: $w-760 ){
                overflow:hidden;
            }
        }

        .title{
            padding:0 0 2px 14px;
            position:relative;
            color:#00a088!important;
            line-height:1.4;
            font-size:fz(20);
            font-weight:bold;
            @extend .icon-arrow-right;

            @media screen and ( max-width: $w-760 ){
                padding:0 0 5px 12px;
                font-size:fz(15);
            }

            &:before{
                position:absolute;
                top:10px;
                left:0;
                color:$link-color;
                vertical-align:middle;
                font-size:10px;

                @media screen and ( max-width: $w-760 ){
                    top:9px;
                    font-size:7px;
                }
            }
        }

        .jenre{
            margin:0 0 5px 14px;
            font-weight:bold;

            @media screen and ( max-width: $w-760 ){
                font-size:fz(12);
            }
        }

        .attention{
            margin:0 0 22px 14px;
            padding:2px 10px;
            display:inline-block;
            background-color:#fff225;
            font-size:fz(11);
            font-weight:bold;

            @media screen and ( max-width: $w-760 ){
                margin:0 0 14px 14px;
                font-size:fz(9);
            }
        }

        .description{
            margin-left:14px;

            @media screen and ( max-width: $w-760 ){
                margin-left:0;
                font-size:fz(12);
            }
        }
    }
}*/

/* box-content-02
--------------------------------------- */
/*.box-content-02{
    margin-bottom:40px;

    @media screen and ( max-width: $w-760 ){
        margin-bottom:20px;
    }

    .title{
        a{
            padding:16px 19px 14px 39px;
            position:relative;
            border-radius::5px 5px 0 0;
            border-bottom:2px solid #009273;
            display:block;
            color:#fff;
            background-color:$link-color;
            font-size:fz(16);
            font-weight:bold;
            @extend .icon-arrow-right;

            &:before{
                position:absolute;
                top:24px;
                left:19px;
                color:#fff;
                vertical-align:middle;
                font-size:10px;

                @media screen and ( max-width: $w-760 ){
                    top:20px;
                    font-size:7px;
                }
            }

            @media screen and ( max-width: $w-760 ){
                padding:12px 19px 10px 35px;
                font-size:fz(14);
            }
        }
    }

    .box-content-02-inner{
        padding:23px 5.397727272727273% 20px;
        border-right:1px solid #d7d7d7;
        border-bottom:1px solid #d7d7d7;
        border-left:1px solid #d7d7d7;
        border-radius::0 0 5px 5px;

        .description{
            margin-bottom:1em;
            padding-bottom:1em;
            border-bottom:1px solid #e1e1e1;

            @media screen and ( max-width: $w-760 ){
                font-size:fz(13);
            }
        }

        .list-link-01{
            margin-bottom:0;
        }
    }
}*/

/* box-content-04
--------------------------------------- */
/*.box-content-04{
    border:1px solid #d7d7d7;
    border-radius:5px;

    .image{
        img{
            width:100%;
        }
    }

    .text{
        padding:15px 7.392996108949416% 0;
        border-bottom:1px solid #d7d7d7;

        .title{
            margin-bottom:5px;
            font-size:fz(18);
        }
    }

    .category{
        border-bottom-right-radius:5px;
        border-bottom-left-radius:5px;
        background-color:#f5f6f8;

        .list-category{
            padding-bottom:15px;
            @extend .clearfix;

            li{
                padding-top:15px;
                float:left;
                width:33.33333333333333%;
            }

            .text{
                padding:0;
                border-bottom:none;
                font-size:fz(10);
                text-align:center;
            }
        }
    }
}
*/
