@charset "UTF-8";
/* -------------------------------------------------------------------

Layout Module

-------------------------------------------------------------------- */
/* lyt-feature-01
--------------------------------------- */

.lyt-feature {
	&-01 {
		#content & {
			max-width: none;
			padding: 0;
		}
	}
	&-inner {
		&-01 {
			display: table;
			width: 100%;
			background: url(/ytc/government/img/img_strength_visual_01.jpg) no-repeat center center;
			background-size: cover;
			.hdg-level1-feature-01 {
				display: none;
				font-size: 48px;
				font-weight: bold;
			}
			.txt-level1-feature-01 {
				display: none;
			}
		}
		&-02 {
			position: relative;
			video {
				position: absolute;
				width: 100%;
				height: 100%;
			}
		}
		&-03 {
			display: table;
			width: 100%;
			background: url(/ytc/government/img/img_strength_visual_03.jpg) no-repeat center center;
			background-size: cover;
			.hdg-level1-feature-01 {
				font-size: 36px;
			}
		}
	}
	&-box {
		&-01 {
			display: table-cell;
			vertical-align: middle;
		}
		&-03 {
			display: table-cell;
			vertical-align: middle;
		}
	}
}
.hdg {
	&-level1 {
		&-feature {
			&-01 {
				display: block;
				color: #fff;
				line-height: 1;
				text-align: center;
				text-shadow: 0 0 6px rgba(0,0,0,.4);
			}
		}
	}
}
.txt {
	&-level1 {
		&-feature {
			&-01 {
				display: block;
				font-size: 16px;
				line-height: 2;
				color: #fff;
				text-align: center;
				font-weight: bold;
				text-shadow: 0 0 6px rgba(0,0,0,.4);
			}
		}
	}
}
.caption-feature-01 {
	display: block;
	text-align: center;
	color: #ffda00;
	font-size: 16px;
	font-weight: bold;
	line-height: 16px;
	letter-spacing: .1em;
	text-shadow: 0 0 6px rgba(0,0,0,.4);
	b {
		margin-left: 5px;
		font-size: 28px;
		color: #ffda00;
		line-height: 26px;
		vertical-align: bottom;
	}
}
.fadeInOut {
	opacity: 1;
}

/*=========================================

animationSpriteSheet

=========================================*/
.animationSpriteSheet {
	position: relative;
	width: 1026px;
	height: 700px;
	background-repeat: no-repeat;
	background-position: left top;
	&__pager {
		position: fixed;
		width: 20px;
		margin-top: -110px;
		right: 25px;
		top: 50%;
		text-align: center;
		z-index: 99;
		.pager {
			width: 20px;
			margin: 9px auto 0;
			text-align: center;
			&__prev {
				width: 20px;
				height: 14px;
				background: url("../images/ico_pager_01.png") no-repeat left top;
				cursor: pointer;
			}
			&__next {
				width: 20px;
				height: 14px;
				background: url("../images/ico_pager_02.png") no-repeat left top;
				cursor: pointer;
			}
			&__list {
				height: 26px;
				span {
					display: inline-block;
					width: 8px;
					height: 8px;
					background: #ccc;
					border-radius: 100%;
					cursor: pointer;
					transition: all 0.2s;
					vertical-align: middle;
					&:hover {
						width: 12px;
						height: 12px;
					}
				}
				&.current {
					span {
						width: 10px;
						height: 10px;
						background: #fba832;
					}
				}
			}
		}
	}
}
.spriteSheetSource {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	padding: 1px;
	right: 0;
	bottom: 0;
}
