@charset "UTF-8";

/* -------------------------------------------------------------------

    Document Module

-------------------------------------------------------------------- */

/* doc-plain-01
--------------------------------------- */
.doc-plain-01{
    margin-bottom:26px;
    line-height:1.9;

    @media screen and ( max-width: $w-760 ){
        margin-bottom:13px;
    }
}

/* doc-notes-01
--------------------------------------- */
.doc-notes-01{
    margin-bottom:28px;
    color:#666;
    font-size:fz(12);

    @media screen and ( max-width: $w-760 ){
        margin-bottom:14px;
    }
}
