@charset "UTF-8";

/* -------------------------------------------------------------------

    Heading Module

-------------------------------------------------------------------- */

/* hdg-level1-01
--------------------------------------- */
.hdg-level1-01-container{
    margin-bottom:42px;
    position:relative;

    @media screen and ( max-width: $w-760 ){
        margin-bottom:25px;
    }

    .hdg-level1-01{
        font-size:fz(34);

        @media screen and ( max-width: $w-760 ){
            font-size:fz(22);
        }
    }
}

/* hdg-level2-01
--------------------------------------- */
.hdg-level2-01{
    margin-top:80px;
    margin-bottom:26px;
    padding-top:13px;
    background:url('/assets/img/bg/bg_hdg-level2-01_01.png') no-repeat 0 0;
    font-size:fz(24);

    @media screen and ( max-width: $w-760 ){
        margin-top:40px;
        margin-bottom:9px;
        padding-top:7px;
        font-size:fz(16);
        font-weight:bold;
    }

    &.mt-support-01{
        @media screen and ( max-width: $w-760 ){
            margin-top:12px;
        }
    }

}

.hdg-level1-01-container+.hdg-level2-01{
    margin-top:0!important;
}

/* hdg-level2-02
--------------------------------------- */
.hdg-level2-02-container{
    margin-bottom:20px;
    position:relative;

    @media screen and ( max-width: $w-760 ){
        margin-bottom:15px;
        padding-bottom:6px;
        border-bottom:1px solid $yamato-green-01;
    }

    .hdg-level2-02{
        font-size:fz(28);

        @media screen and ( max-width: $w-760 ){
            font-size:fz(18);
            font-weight:bold;
        }
    }

    .link{
        position:absolute;
        top:8px;
        right:0;

        @media screen and ( max-width: $w-760 ){
            top:3px;
        }

        a{
            transition:color 0.2s ease 0s;
            @extend .icon-hamburger-02;

            @media screen and ( max-width: $w-760 ){
                font-size:fz(11);
            }

            &:before{
                padding-right:8px;
                position:relative;
                top:-1px;
                color:$link-color;
                vertical-align:middle;
                font-size:10px;
                transition:color 0.2s ease 0s;

                @media screen and ( max-width: $w-760 ){
                    top:-4px;
                }
            }

            &:active,
            &:hover,
            &:focus{
                color:#14bfad;
                text-decoration:none;

                &:before{
                    color:#14bfad;
                }

                @media screen and ( max-width: $w-760 ){
                    color:$link-color;

                    &:before{
                        color:$link-color;
                    }
                }

                span{
                    text-decoration:underline;

                    @media screen and ( max-width: $w-760 ){
                        text-decoration:none;
                    }
                }
            }
        }
    }
}

/* hdg-level2-03
--------------------------------------- */
.hdg-level2-03{
    margin-top:50px;
    margin-bottom:32px;
    font-size:fz(32);
    text-align:center;

    &:first-child{
        margin-top:0!important;
    }

    @media screen and ( max-width: $w-760 ){
        margin-top:0;
        margin-bottom:15px;
        padding-bottom:5px;
        border-bottom:1px solid $yamato-green-01;
        font-size:fz(18);
        text-align:left;
        font-weight:bold;
    }
}

/* hdg-level2-04
--------------------------------------- */
.hdg-level2-04{
    margin-bottom:26px;
    font-size:fz(24);

    @media screen and ( max-width: $w-760 ){
        margin-bottom:12px;
        font-size:fz(16);
        font-weight:bold;
    }
}

/* hdg-level2-05
--------------------------------------- */
.hdg-level2-05{
    margin-bottom:15px;
    font-size:fz(18);

    @media screen and ( max-width: $w-760 ){
        margin-bottom:10px;
        font-size:fz(14);
        font-weight:bold;
    }
}

/* hdg-level3-01
--------------------------------------- */
.hdg-level3-01{
    margin-top:37px;
    margin-bottom:23px;
    padding-bottom:10px;
    border-bottom:1px solid $yamato-green-01;
    font-size:fz(18);

    @media screen and ( max-width: $w-760 ){
        margin-top:18px;
        margin-bottom:7px;
        font-size:fz(14);
        font-weight:bold;
    }
}

.hdg-level2-01+.hdg-level3-01{
    margin-top:0!important;
}

/* hdg-level4-01
--------------------------------------- */
.hdg-level4-01{
    margin-bottom:8px;
    padding-left:16px;
    position:relative;
    font-size:fz(16);
    font-weight:bold;
    @extend .icon-circle-01;

    &:before{
        position:absolute;
        top:8px;
        left:0;
        color:$link-color;
        vertical-align:middle;
        font-size:10px;

        @media screen and ( max-width: $w-760 ){
            top:7px;
        }
    }

    @media screen and ( max-width: $w-760 ){
        margin-bottom:2px;
        font-size:fz(14);
        font-weight:bold;
    }
}
