@charset "UTF-8";

/* -------------------------------------------------------------------

    Layout Module

-------------------------------------------------------------------- */

/* lyt-main-visual-01
--------------------------------------- */
.lyt-main-visual-01{
    position:relative;
    width:100%;

    .lyt-main-visual-01-inner{
        position:relative;
        overflow:hidden;
        width:100%;
        box-sizing:border-box;

        img{
            width:100%;
        }

        .setheight-img{
            margin:0 auto;
            position:relative;
            max-width:1240px;
            z-index:-1;
        }
    }

    .loader{
        margin:-20px 0 0 -20px;
        position:absolute;
        top:50%;
        left:50%;
        z-index:1000;

        @media screen and ( max-width: $w-760 ){
            margin:-10px 0 0 -10px;
        }

        img{
            width:40px;
            height:40px;

            @media screen and ( max-width: $w-760 ){
                width:20px;
                height:20px;
            }
        }
    }

    .visual-list{
        visibility:hidden;
        width:100%;

        li{
            position:absolute;
            width:100%;

            .li-inner{
                position:relative;
                width:100%;

                .text{
                    margin:0 auto;
                    position:relative;
                    z-index:2;
                    max-width:1240px;

                    a{
                        display:block;
                    }
                }

                .image{
                    position:absolute;
                    top:0;
                    left:0;
                    z-index:1;
                    width:100%;
                }
            }
        }
    }

    .thumbnail-list-container-01{
        position:absolute;
        bottom:7.272727272727273%;
        left:0;
        z-index:1;
        width:100%;
        opacity:0;

        @media screen and ( max-width: $w-1064 ){
            visibility:hidden;
            z-index:-1;
        }

        .thumbnail-list-container-02{
            margin:0 auto;
            position:relative;
            box-sizing:border-box;
            max-width:1112px;
            box-sizing:border-box;

            @media screen and ( max-width: $w-1182 ){
                margin:0 30px;
            }
        }

        .thumbnail-list-inner{
            margin-left:41px;
            width:452px;
            overflow:hidden;
        }

        .prev{
            position:absolute;
            top:13px;
            left:0;
            width:26px;
            height:26px;
            background:url('/assets/img/btn/btn_prev_01.png') no-repeat 0 0;
            background-size:26px 26px;
            cursor:pointer;

            &:active,
            &:hover,
            &:focus{
                background:url('/assets/img/btn/btn_prev_01_o.png') no-repeat 0 0;
                background-size:26px 26px;
            }
        }

        .next{
            position:absolute;
            top:13px;
            left:506px;
            width:26px;
            height:26px;
            background:url('/assets/img/btn/btn_next_01.png') no-repeat 0 0;
            background-size:26px 26px;
            cursor:pointer;

            &:active,
            &:hover,
            &:focus{
                background:url('/assets/img/btn/btn_next_01_o.png') no-repeat 0 0;
                background-size:26px 26px;
            }
        }

        .thumbnail-list{
            @extend .clearfix;

            li{
                margin:0 10px 0 0;
                border-radius:6px;
                border:2px solid transparent;
                float:left;
                cursor:pointer;

                img{
                    border-radius:4px;
                    display:block;
                }

                &:active,
                &:hover,
                &:focus,
                &.current{
                    border:2px solid $yamato-green-01;
                }
            }
        }
    }

    .thumbnail-list-sp-container{
        height:0;
        visibility:hidden;
        z-index:-1;

        @media screen and ( max-width: $w-1064 ){
            height:50px;
            background-color:#fff;
            visibility:visible;
            z-index:1;
        }

        @media screen and ( max-width: $w-760 ){
            height:35px;
        }

        .thumbnail-list-sp{
            padding-top:20px;
            text-align:center;

            @media screen and ( max-width: $w-760 ){
                padding-top:14px;
            }

            li{
                margin:0 28px;
                border-radius:10px;
                display:inline-block;
                width:14px;
                height:14px;
                background-color:#e1e3e9;
                cursor:pointer;

                @media screen and ( max-width: $w-760 ){
                    margin:0 14px;
                    width:7px;
                    height:7px;
                }

                &.current{
                    background-color:$yamato-green-01;
                }
            }
        }
    }
}

/* lyt-contact-top-01
--------------------------------------- */
.lyt-contact-top-01{
    margin-bottom:78px;
    background-color:$yamato-green-01;

    @media screen and ( max-width: $w-760 ){
        margin-bottom:20px;
    }

    .lyt-contact-top-01-inner{
        margin:0 auto;
        padding:20px 30px;
        max-width:1182px;
        box-sizing:border-box;
        @extend .clearfix;

        @media screen and ( max-width: $w-760 ){
            padding:20px 15px;
        }
    }

    .column-L{
        box-sizing:border-box;
        padding-right:15px;
        border-right:1px solid #88d7cf;
        float:left;
        width:70.17857142857143%;

        @media screen and ( max-width: $w-1000 ){
            padding-right:10px;
            width:68.17857142857143%;
        }

        @media screen and ( max-width: $w-760 ){
            margin-bottom:15px;
            padding:0 0 11px;
            border-right:none;
            border-bottom:1px solid #88d7cf;
            float:none;
            width:100%;
        }
    }

    .column-R{
        box-sizing:border-box;
        padding-left:15px;
        float:left;
        width:29.82142857142857%;

        @media screen and ( max-width: $w-1000 ){
            padding-left:10px;
            width:31.82142857142857%;
        }

        @media screen and ( max-width: $w-760 ){
            padding:0;
            float:none;
            width:100%;
        }

        .title{
            text-align:center;

            @media screen and ( max-width: $w-960 ){
                margin-bottom:15px;
                font-size:fz(12);
            }

            @media screen and ( max-width: $w-760 ){
                margin-bottom:10px;
                font-size:fz(14);
                text-align:left;
            }
        }
    }

    .column-inner{
        @extend .clearfix;
    }

    .title{
        margin-bottom:10px;
        padding-top:6px;
        color:#fff;
        font-size:fz(16);

        @media screen and ( max-width: $w-1064 ){
            padding-top:0;
            font-size:fz(14);
        }
    }

    .search-area{
        box-sizing:border-box;
        float:left;
        width:59.74025974025974%;

        @media screen and ( max-width: $w-1000 ){
            float:none;
            width:100%;
        }

        .input-text{
            margin-right:2.222222222222222%;
            padding:0 40px 0 20px;
            border-radius:20px;
            box-sizing:border-box;
            border:none;
            width:62.60869565217391%;
            height:40px;
            background:#fff url('/assets/img/icon/icon_search_02.png') no-repeat 95% 12px;
            background-size:17px 17px;
            font-size:fz(12);

            @media screen and ( max-width: $w-760 ){
                padding:0 30px 0 10px;
                font-size:fz(10);
                background-position:95% 13px;
                background-size:15px 15px;
            }
        }

        .submit{
            padding:9px 0 9px;
            position:relative;
            border-radius:8px;
            box-sizing:border-box;
            box-shadow:0 2px 0 0 #c29200;
            display:inline-block;
            width:34.78260869565217%;
            vertical-align:middle;
            color:#333;
            background-color:#ffda00;
            text-align:center;
            border:none;
            font-size:fz(14);
            cursor:pointer;
            font-weight:bold;
            transition:all 0.2s ease 0s;
            -webkit-appearance:none;

            &:active,
            &:hover,
            &:focus{
                box-shadow:none;
                background-color:#ffc600;
            }

            @media screen and ( max-width: $w-1064 ){
                font-size:fz(12);
            }

            @media screen and ( max-width: $w-1000 ){
                width:150px;
            }

            @media screen and ( max-width: $w-760 ){
                width:33.33333333333333%;

                &:active,
                &:hover,
                &:focus{
                    box-shadow:0 2px 0 0 #c29200;
                    background-color:#ffda00;
                }
            }
        }
    }

    .list-link{
        margin:-6px 0 8px 0;
        box-sizing:border-box;
        float:right;
        width:40.25974025974026%;
        @extend .clearfix;

        @media screen and ( max-width: $w-1064 ){
            margin:-3px 0 5px 0;
            font-size:fz(12);
        }

        @media screen and ( max-width: $w-1000 ){
            margin:10px 0 0 0;
            float:none;
            width:100%;
        }

        @media screen and ( max-width: $w-760 ){
            font-size:fz(11);
        }

        li{
            padding-left:9.2%;

            @media screen and ( max-width: $w-1000 ){
                margin-right:20px;
                padding-left:0;
                float:left;
            }

            @media screen and ( max-width: $w-760 ){
                margin-right:8px;
            }

            a{
                color:#fff;
                transition:all 0.2s ease 0s;

                &:active,
                &:hover,
                &:focus{
                    text-decoration:none;

                    span{
                        text-decoration:underline;

                        @media screen and ( max-width: $w-760 ){
                            text-decoration:none;
                        }
                    }
                }

                @extend .icon-window-01;

                &:before{
                    padding-right:8px;
                    position:relative;
                    top:0;
                    color:#fff;
                    vertical-align:middle;
                    font-size:12px;

                    @media screen and ( max-width: $w-760 ){
                        padding-right:4px;
                    }
                }
            }
        }
    }

    .btn-01{
        text-align:center;

        a{
            padding:7px 0;
            position:relative;
            border-radius:8px;
            box-shadow:0 2px 0 0 #c29200;
            display:inline-block;
            background-color:#ffda00;
            width:160px;
            color:#333;
            font-weight:bold;
            vertical-align:middle;
            text-align:center;
            transition:all 0.2s ease 0s;

            &:active,
            &:hover,
            &:focus{
                box-shadow:none;
                background-color:#ffc600;
                text-decoration:none;
            }

            @media screen and ( max-width: $w-1064 ){
                font-size:fz(12);
            }

            @media screen and ( max-width: $w-760 ){
                width:100%;
                font-size:fz(13);

                &:active,
                &:hover,
                &:focus{
                    box-shadow:0 2px 0 0 #c29200;
                    background-color:#ffda00;
                }
            }
        }
    }
}

/*  lyt-members-01
--------------------------------------- */
.lyt-members-01{
    margin:0 0 15px;
    padding:99px 0 76px;
    box-sizing:border-box;
    width:100%;
    position:relative;
    background:url('/assets/img//bg/bg_lyt-members-01_btm_pc.png') no-repeat 50% 100%;

    @media screen and ( max-width: $w-760 ){
        margin:18px 0 7px;
        padding:22px 0 38px;
        background:url('/assets/img//bg/bg_lyt-members-01_btm_sp.png') no-repeat 50% 100%;
        background-size:320px 40px;
    }

    .block-head{
        position:absolute;
        top:0;
        left:0;
        z-index:3;
        width:100%;
        height:171px;
        background:url('/assets/img//bg/bg_lyt-members-01_top_pc.png') no-repeat 50% 0;

        @media screen and ( max-width: $w-760 ){
            height:93px;
            background:url('/assets/img//bg/bg_lyt-members-01_top_sp.png') no-repeat 50% 0;
            background-size:320px 93px;
        }
    }

    .lyt-members-01-inner{
        padding:116px 30px 45px;
        position:relative;
        z-index:2;
        background-color:#575a5f;

        @media screen and ( max-width: $w-760 ){
            padding:86px 15px 30px;
        }
    }

    .title-01{
        margin-bottom:33px;
        color:#fff;
        font-size:fz(32);
        text-align:center;

        @media screen and ( max-width: $w-960 ){
            font-size:fz(26);
        }

        @media screen and ( max-width: $w-760 ){
            margin-bottom:30px;
            font-size:fz(20);

            span{
                display:block;
                font-size:fz(10);
            }
        }
    }

    .btn-description{
        margin-bottom:10px;
        color:#fff;
        font-size:fz(16);
        text-align:center;

        @media screen and ( max-width: $w-960 ){
            font-size:fz(12);
        }
    }

    .list-members{
        margin:0 auto 12px;
        max-width:1122px;
        @extend .clearfix;

        a{
            display:block;
            @extend .clearfix;

            &:active,
            &:hover,
            &:focus{
                text-decoration:none;

                .image{
                    opacity:0.7;

                    @media screen and ( max-width: $w-760 ){
                        opacity:1;
                    }
                }

                .title-02{
                    span{
                        text-decoration:underline;

                        @media screen and ( max-width: $w-760 ){
                            text-decoration:none;
                        }
                    }
                }
            }
        }

        .column{
            padding:30px 30px 30px 0;
            box-sizing:border-box;
            float:left;
            width:50%;

            @media screen and ( max-width: $w-960 ){
                padding:15px 30px 15px 0;
            }

            @media screen and ( max-width: $w-760 ){
                margin-bottom:20px;
                padding:0;
                float:none;
                width:100%;
            }

            &:nth-child(even){
                padding-right:0;
            }

            .image{
                margin-right:20px;
                position:relative;
                float:left;
                width:32.07547169811321%;
                opacity:1;
                transition:all 0.5s ease 0s;

                @media screen and ( max-width: $w-760 ){
                    margin-right:12px;
                    width:27.93103448275862%;
                }

                .img{
                    width:100%;
                }

                .icon{
                    position:absolute;
                    top:-20px;
                    left:-20px;
                    width:35.2941%;

                    @media screen and ( max-width: $w-760 ){
                        top:-15px;
                        left:-15px;
                        width:48%;
                    }
                }
            }

            .text{
                padding-top:5px;
                overflow:hidden;

                @media screen and ( max-width: $w-760 ){
                    padding-top:0;
                }

                .category{
                    margin-bottom:1px;
                    color:#adadad;
                    font-size:fz(12);

                    @media screen and ( max-width: $w-760 ){
                        font-size:fz(9);
                    }
                }

                .title-02{
                    margin-bottom:14px;
                    color:#fff;
                    font-size:fz(22);

                    span{
                        border-bottom:1px solid transparent;
                        transition:all 0.2s ease 0s;
                    }

                    @media screen and ( max-width: $w-960 ){
                        font-size:fz(16);
                    }

                    @media screen and ( max-width: $w-760 ){
                        margin-bottom:4px;
                        font-size:fz(14);
                    }
                }

                .description{
                    line-height:1.6;
                    color:#adadad;

                    @media screen and ( max-width: $w-960 ){
                        font-size:fz(12);
                    }

                    @media screen and ( max-width: $w-760 ){
                        font-size:fz(11);
                    }
                }
            }
        }
    }
}

/* lyt-column-01
--------------------------------------- */
.lyt-column-01{
    @extend .clearfix;

    &.col-2{
        .column{
            margin-right:2.67379679144385%;
            float:left;
            width:48.66310160427807%;

            &:nth-child(2n){
                margin-right:0;
            }

            @media screen and ( max-width: $w-760 ){
                margin:0;
                float:none;
                width:100%;

                /*&:last-child{
                    padding-bottom:15px;
                }*/
            }
        }
    }

    &.col-3{
        .column{
            margin-right:2.67379679144385%;
            float:left;
            width:31.55080213903743%;

            &:nth-child(3n){
                margin-right:0;
            }

            @media screen and ( max-width: $w-760 ){
                margin:0;
                float:none;
                width:100%;

                /*&:last-child{
                    padding-bottom:15px;
                }*/
            }
        }
    }

    &.col-4{
        .column{
            margin-right:2.67379679144385%;
            float:left;
            width:22.99465240641711%;

            &:nth-child(4n){
                margin-right:0;
            }

            @media screen and ( max-width: $w-760 ){
                margin:0;
                float:none;
                width:100%;

                /*&:last-child{
                    padding-bottom:15px;
                }*/
            }
        }
    }
}

/* lyt-image-01
--------------------------------------- */
.lyt-image-01{
    margin-bottom:40px;
    text-align:center;

    img{
        max-width:100%;
    }

    @media screen and ( max-width: $w-760 ){
        margin-bottom:20px;

        img{
            width:100%;
        }
    }
}

/*  lyt-image-02
--------------------------------------- */
.lyt-image-02{
    margin-bottom:30px;
    @extend .clearfix;

    @media screen and ( max-width: $w-760 ){
        margin-bottom:20px;
    }

    &.image-parallel{
		.text{
            position:relative;
			overflow:hidden;
		}
	}

    &.v-center-01{
        .text-inner{
            position:absolute;
            top:50%;
            visibility:hidden;

            @media screen and ( max-width: $w-760 ){
                margin-top:0!important;
                position:static;
                top:0!important;
            }
        }

        .text{
            @media screen and ( max-width: $w-760 ){
                height:auto!important;
            }
        }
    }

    &.v-center-02{
        .text-inner{
            position:absolute;
            top:50%;
            visibility:hidden;
        }
    }

    &.sp-float{
        @media screen and ( max-width: $w-760 ){
            &.float-L{
                .image{
                    margin:0 2.678571428571429% 10px 0;
                    float:left;
                    max-width:50%;
                    width:auto;

                    img{
                        width:auto;
                    }
                }
            }
        }
    }

    &.float-L{
        .image{
            margin:0 2.678571428571429% 10px 0;
            float:left;
            max-width:50%;
            box-sizing:border-box;

            @media screen and ( max-width: $w-760 ){
                margin:0 0 15px;
                float:none;
                width:100%;
                max-width:100%;
            }

            img{
                display:block;
                width:100%;
            }
        }
    }

    &.float-R{
        .image{
            margin:0 0 10px 2.678571428571429%;
            float:right;
            max-width:50%;
            box-sizing:border-box;

            img{
                max-width:100%;
            }

            @media screen and ( max-width: $w-760 ){
                margin:0 0 15px;
                float:none;
                width:100%;
                max-width:100%;
            }
        }
    }

    .doc-plain-01{
        &:last-child{
            margin-bottom:0;
        }
    }
}

/* lyt-accordion-01
--------------------------------------- */
.lyt-accordion-01{
    margin-bottom:32px;

    @media screen and ( max-width: $w-760 ){
        margin-bottom:40px;
    }

    .accordion-btn{
        position: relative;
        height:95px;
        color:$link-color;
        border-bottom:1px solid #c6c9d3;
        padding:0 0 0 70px;
        cursor:pointer;
        transition:all .3s ease;
        box-sizing:border-box;

        @media screen and ( max-width: $w-760 ){
            height:auto;
            padding:7% 3.44827586207%;
        }

        .text{
            font-size:fz(15.8);
            line-height:95px;

            @media screen and ( max-width: $w-760 ){
                line-height:1;
                display:inline-block;
                width:90%;
                font-size:fz(16);
            }
        }

        .img{
            position: absolute;
            top:0;
            left:0;
            bottom:0;
            right:0;
            background-position:10px 16px;
            background-repeat:no-repeat;
            transition:all .3s ease;

            @media screen and ( max-width: $w-760 ){
                display:none;
            }
        }

        &:first-child{
            border-top:1px solid #c6c9d3;
        }

        .icon{
            position:absolute;
            right:20px;
            top:0;
            bottom:0;
            margin:auto;
            width:24px;
            height:24px;
            font-size:fz(10);
            color:#FFF;
            border-radius:50%;
            background-color:$link-color;
            text-align:center;
            line-height:24px;
            transition:all .3s ease;
            box-sizing:border-box;

            @media screen and ( max-width:$w-760 ){
                right:3%;
                width:26px;
                height:26px;
                font-size:fz(14);
                line-height:26px;
            }
        }

        &:active,
        &:hover,
        &:focus,
        &.on{
            background-color:#f5f6f8;
            color:$active-color;
            .img{
                opacity:.7;
            }

            .icon{
                background-color:$active-color;
            }
        }
        &:hover{
            @media screen and ( max-width:$w-760 ){
                background-color:#FFF;
                color:$link-color;
                .img{
                    opacity:1;
                }

                .icon{
                    background-color:$link-color;
                }
            }
        }

        // 各エリアの画像を設定
        &.hokkaido .img{
            background-image:url(/assets/img/img/img_area_01.png);
        }
        &.tohoku .img{
            background-image:url(/assets/img/img/img_area_02.png);
        }
        &.tokyo .img{
            background-image:url(/assets/img/img/img_area_03.png);
        }
        &.kanto .img{
            background-image:url(/assets/img/img/img_area_04.png);
        }
        &.hokushinetsu .img{
            background-image:url(/assets/img/img/img_area_05.png);
        }
        &.chubu .img{
            background-image:url(/assets/img/img/img_area_06.png);
        }
        &.kansai .img{
            background-image:url(/assets/img/img/img_area_07.png);
        }
        &.chugoku .img{
            background-image:url(/assets/img/img/img_area_08.png);
        }
        &.shikoku .img{
            background-image:url(/assets/img/img/img_area_09.png);
        }
        &.kyusyu .img{
            background-image:url(/assets/img/img/img_area_10.png);
        }
    }

    .accordion-block{
        display:none;
        padding:20px 0;
    }

    .tbl-data-01,
    .tbl-data-02{
        margin-bottom:20px;
    }
}

/* lyt-accordion-02
--------------------------------------- */
.lyt-accordion-02{
    margin-bottom:32px;

    @media screen and ( max-width: $w-760 ){
        margin-bottom:40px;
    }

    .title-block{
        border-bottom: 1px solid #c6c9d3;
        padding:20px 0 20px 20px;
        transition:all .3s ease;
        cursor:pointer;

        &:first-child{
          border-top:1px solid #c6c9d3;
        }

        .image{
            border:1px solid #c6c9d3;
        }

        .text{
            display:inline-block;
            vertical-align:middle;

            .title{
                font-size:fz(20);
                margin-bottom:10px;

                .degree{
                    display:block;
                    font-size:fz(10);
                    margin-bottom:3px;
                }

                .kana{
                    font-size:fz(10);
                    display:inline-block;
                    vertical-align:middle;
                }
            }

            .sub-text{
                color:$link-color;
                transition:all .3s ease;
            }

            .icon{
                position:relative;
                top:3px;
                display:inline-block;
                width:18px;
                height:18px;
                font-size:fz(8);
                color:#FFF;
                border-radius:50%;
                background-color:$link-color;
                margin-right:8px;
                text-align:center;
                line-height:18px;
                box-sizing:border-box;
                transition:all .3s ease;

                @media screen and ( max-width: $w-760 ){
                    top:2px;
                    width:16px;
                    height:16px;
                    font-size:fz(8);
                    line-height:16px;
                    margin-right:4px;
                }
            }

            @media screen and ( max-width: $w-760 ){
                .title{
                    font-size:fz(16);
                    margin-bottom:2%;

                    .degree{
                        margin-bottom:0;
                    }
                }

                .sub-text{
                    font-size:fz(12);
                }
            }
        }

        .image{
            display:inline-block;
            vertical-align:middle;
            margin-right:18px;
            transition:all .3s ease;

            @media screen and ( max-width: $w-760 ){
                margin-right:3%;
                width:26.5573770492%;

                img{
                    width:100%;
                }
            }
        }

        &:active,
        &:hover,
        &:focus,
        {
            background-color:#f5f6f8;
            .sub-text{
                color:$active-color;
            }

            .image{
                opacity:.7;
            }

            .icon{
                background-color:$active-color;
            }
        }
        &.on{
            background-color:#f5f6f8;
            .sub-text{
                color:$active-color;
            }

            .icon{
                background-color:$active-color;
            }
        }
        &:hover{
            @media screen and ( max-width:$w-760 ){
                background-color:#FFF;
                .sub-text{
                    color:$link-color;
                }

                .img{
                    opacity:1;
                }

                .icon{
                    background-color:$link-color;
                }
            }
        }
    }

    .accordion-block{
        display:none;
        padding:20px 0;

        .tbl-data-01 tbody td{
            border-bottom:1px solid #c6c9d3;
            border-left:1px solid #c6c9d3;
        }
    }

    .tbl-data-01,
    .tbl-data-02{
        margin-bottom:0;
    }
}

/* lyt-accordion-03
--------------------------------------- */
.lyt-accordion-03{
    margin-bottom:32px;

    @media screen and ( max-width: $w-760 ){
        margin-bottom:40px;
    }

    .title-block{
        border-bottom:1px solid #c6c9d3;
        padding:15px 0 15px 20px;
        cursor:pointer;
        transition:all .3s ease;

        &:first-child{
            border-top:1px solid #c6c9d3;
        }

        .text{
            .title{
                font-size:fz(19);
                margin-bottom:6px;

                .kana{
                    font-size:fz(11);
                    display:inline-block;
                    vertical-align:middle;
                }
            }

            .icon{
                position:relative;
                top:3px;
                display:inline-block;
                width:18px;
                height:18px;
                font-size:fz(8);
                color:#FFF;
                border-radius:50%;
                background-color:$link-color;
                margin-right:8px;
                text-align:center;
                line-height:18px;
                box-sizing:border-box;
                transition:all .3s ease;

                @media screen and ( max-width: $w-760 ){
                    top:2px;
                    width:16px;
                    height:16px;
                    font-size:fz(8);
                    line-height:16px;
                    margin-right:4px;
                }
            }

            .sub-text{
                color:$link-color;
                transition:all .3s ease;
            }

            @media screen and ( max-width: $w-760 ){
                .title{
                    font-size:fz(16);
                    margin-bottom:2%;

                    .degree{
                        margin-bottom:0;
                    }
                }

                .sub-text{
                    font-size:fz(12);
                }
            }
        }

        &:active,
        &:hover,
        &:focus,
        &.on{
            background-color:#f5f6f8;
            .sub-text{
                color:$active-color;
            }

            .icon{
                background-color:$active-color;
            }
        }
        &:hover{
            @media screen and ( max-width: $w-760 ){
                background-color:#FFF;
                .sub-text{
                    color:$link-color;
                }

                .icon{
                    background-color:$link-color;
                }
            }
        }
    }

    .accordion-block{
        display:none;
        padding:20px 0;
    }

    .tbl-data-01,
    .tbl-data-02{
        margin-bottom:0;
    }
}

/* lyt-accordion-04
--------------------------------------- */
.lyt-accordion-04{
    margin-bottom:32px;

    @media screen and ( max-width: $w-760 ){
        margin-bottom:40px;
    }

    .title-block{
        position:relative;
        border-bottom:1px solid #c6c9d3;
        padding:12px 0 12px 10px;
        cursor:pointer;
        transition:all .3s ease;

        &:first-child{
            border-top:1px solid #c6c9d3;
        }

        .title .text{
            font-size:fz(16);
            color:$link-color;

            @media screen and ( max-width: $w-760 ){
                display:inline-block;
                width:90%;
                font-size:fz(14);
            }
        }

        .icon{
            position:absolute;
            top:0;
            bottom:0;
            right:20px;
            display:inline-block;
            width:24px;
            height:24px;
            font-size:fz(12);
            color:#FFF;
            border-radius:50%;
            background-color:$link-color;
            margin:auto;
            text-align:center;
            line-height:24px;
            box-sizing:border-box;
            transition:all .3s ease;

            @media screen and ( max-width: $w-760 ){
                right:3%;
                width:16px;
                height:16px;
                font-size:fz(8);
                line-height:16px;
            }
        }

        &:active,
        &:hover,
        &:focus,
        &.on{
            background-color: #f5f6f8;
            .text{
                color:$active-color;
            }

            .icon{
                background-color:$active-color;
            }
        }
        &:hover{
            @media screen and ( max-width: $w-760 ){
                background-color:#FFF;
                .text{
                    color:$link-color;
                }

                .icon{
                    background-color:$link-color;
                }
            }
        }
    }

    .accordion-block{
        display:none;
        padding:20px 0;

        .tbl-data-01 tbody td{
            border-bottom:1px solid #c6c9d3;
            border-left:1px solid #c6c9d3;
        }
    }

    .tbl-data-01,
    .tbl-data-02{
        margin-bottom:0;
    }
}

/* lyt-border-01
--------------------------------------- */
.lyt-border-01{
    padding-top:30px;
    border-top:1px solid #c6c9d3;

    @media screen and (max-width: $w-760){
        padding-top:15px;
    }
}

@import '_dev_feature';
