@charset "UTF-8";

/* -------------------------------------------------------------------

    List Module

-------------------------------------------------------------------- */

/* list-bullet-01
--------------------------------------- */
.list-bullet-01{
    margin-bottom:23px;

    @media screen and ( max-width: $w-760 ){
        margin-bottom:11px;
    }

    li{
        padding:0 0 5px 19px;
        position:relative;
        @extend .icon-bullet-01;

        &:before{
            position:absolute;
            top:8px;
            left:0;
            color:#333;
            vertical-align:middle;
            font-size:10px;
        }

        .list-bullet-01{
            margin-bottom:0;
            padding-top:5px;

            li{
                &:last-child{
                    padding-bottom:0;
                }
            }
        }
    }

    &.bullet-col2,
    &.bullet-col3,
    &.bullet-col4,
    &.bullet-col5{
        margin-bottom:23px;
        @extend .clearfix;

        @media screen and ( max-width: $w-760 ){
            margin-bottom:11px;
        }

        li{
            padding:0;
            float:left;
            background:none;

            @media screen and ( max-width: $w-760 ){
                float:none;
                width:100%!important;
            }

            &:before{
                display:none;
            }

            span{
                padding:0 15px 5px 19px;
                position:relative;
                display:block;
                @extend .icon-bullet-01;

                &:before{
                    position:absolute;
                    top:8px;
                    left:0;
                    color:#333;
                    vertical-align:middle;
                    font-size:10px;
                }
            }
        }
    }
    &.bullet-col2 li{ width:49.9%; }
    &.bullet-col3 li{ width:33.3%; }
    &.bullet-col4 li{ width:24.9%; }
    &.bullet-col5 li{ width:19.9%; }
}

/*  list-link-01
--------------------------------------- */
.list-link-01{
    margin-bottom:20px;

    @media screen and ( max-width: $w-760 ){
        margin-bottom:10px;
    }

    li{
        padding:0 0 5px 19px;
        position:relative;
        @extend .icon-arrow-right-02;

        &:active,
        &:hover,
        &:focus{
            &:before{
                color:#14bfad;

                @media screen and ( max-width: $w-760 ){
                    color:#20a898;
                }
            }

            &.external,
            &.map{
                &:before{
                    color:#14bfad;

                    @media screen and ( max-width: $w-760 ){
                        color:#20a898;
                    }
                }
            }

            &.pdf{
                &:before{
                    opacity:0.7;

                    @media screen and ( max-width: $w-760 ){
                        opacity:1;
                    }
                }
            }
        }

        &:before{
            position:absolute;
            top:7px;
            left:-1px;
            color:$link-color;
            vertical-align:middle;
            transition:all 0.2s ease 0s;
        }

        &.external{
            @extend .icon-window-01;

            &:before{
                position:absolute;
                top:8px;
                left:0;
                color:#20a898;
                vertical-align:middle;
                font-size:12px;
            }
        }

        &.map{
            @extend .icon-map-01;

            &:before{
                position:absolute;
                top:8px;
                left:0;
                color:#20a898;
                vertical-align:middle;
                font-size:12px;
            }
        }

        &.pdf{
            &:before{
                position:absolute;
                top:6px;
                left:0px;
                width:11px;
                height:13px;
                content:'';
                background:url('/assets/img/icon/icon_pdf_01.png') no-repeat 0 0;
                background-size:11px 13px;
            }
        }

        a{
            transition:color 0.2s ease 0s;

            @media screen and ( max-width: $w-760 ){
                &:active,
                &:hover,
                &:focus{
                    color:$link-color;
                    text-decoration:none;
                }
            }
        }
    }

    &.link-col2,
    &.link-col3,
    &.link-col4,
    &.link-col5{
        @extend .clearfix;

        li{
            padding:0;
            float:left;

            @media screen and ( max-width: $w-760 ){
                float:none;
                width:100%!important;
            }

            span{
                padding:0 15px 5px 19px;
                display:block;
            }
        }
    }
    &.link-col2 li{ width:49.9%; }
    &.link-col3 li{ width:33.3%; }
    &.link-col4 li{ width:24.9%; }
    &.link-col5 li{ width:19.9%; }
}

/* list-words-01
--------------------------------------- */
.list-words-01{
    margin-bottom:10px;
    @extend .clearfix;

    p{
        margin-right:22px;
        float:left;
        font-size:fz(18);

        @media screen and ( max-width: $w-760 ){
            margin-right:0;
            float:none;
            font-size:fz(14);
        }
    }

    .list-link-01{
        margin-bottom:0;
        padding-top:4px;
        overflow:hidden;
        @extend .clearfix;

        li{
            margin-right:30px;
            float:left;

            @media screen and ( max-width: $w-760 ){
                margin-right:15px;
            }
        }
    }
}

/* list-ordered-01
--------------------------------------- */
.list-ordered-01{
    margin-bottom:22px;

    @media screen and ( max-width: $w-760 ){
        margin-bottom:11px;
    }

    li{
        list-style-type:decimal;
        margin-left:2.1em;
        padding-bottom:5px;

        .list-ordered-01{
            margin-bottom:0;
            padding-top:5px;

            li{
                &:last-child{
                    padding-bottom:0;
                }
            }
        }
    }
}

/*  list-notes-01
--------------------------------------- */
.list-notes-01{
    margin-bottom:25px;

    /*@media screen and ( max-width: $w-760 ){
        margin-bottom:10px;
    }*/

    li{
        padding:0 0 5px 22px;
        position:relative;
        color:#666;
        font-size:fz(12);

        .notes{
            position:absolute;
            top:0;
            left:0;
        }

        /*@media screen and ( max-width: $w-760 ){
            padding:0 0 3px 12px;
            font-size:fz(11);
        }*/
    }

    &.num{
        li{
            padding-left:30px;

            /*@media screen and ( max-width: $w-760 ){
                padding:0 0 3px 20px;
            }*/
        }
    }
}

/* list-anchor-01
--------------------------------------- */
.list-anchor-01{
    padding-bottom:10px;
    @extend .clearfix;

    @media screen and ( max-width: $w-760 ){
        margin-left:-1.219512195121951%;
        padding-bottom:8px;
        width:102.439024390243902%;
    }

    li{
        margin:0 30px 15px 0;
        float:left;

        @media screen and ( max-width: $w-760 ){
            margin:0 1.219512195121951% 10px;
            border:1px solid #d7d7d7;
            border-radius:5px;
            box-shadow:0 2px 0px 0 #ededed;
            float:left;
            width:47.5609756097561%;
            box-sizing:border-box;
        }

        span{
            padding-left:15px;
            position:relative;
            display:block;
            @extend .icon-arrow-btm-01;

            @media screen and ( max-width: $w-760 ){
                padding:0;
                text-align:center;
                font-size:fz(12);
            }

            &:before{
                position:absolute;
                top:10px;
                left:0;
                color:$link-color;
                vertical-align:middle;
                font-size:7px;

                @media screen and ( max-width: $w-760 ){
                    top:18px;
                    left:10px;
                }
            }

            a{
                @media screen and ( max-width: $w-760 ){
                    padding:10px 0 10px 0;
                    display:block;
                }
            }
        }
    }
}

/*  list-qa-01
--------------------------------------- */
/*.list-qa-01{
    @media screen and ( max-width: $w-760 ){
        margin-bottom:20px;
    }

    .question{
        padding:14px 20px 14px 60px;
        border-top:1px solid #d7d7d7;
        border-bottom:1px solid #d7d7d7;
        line-height:1.5;
        background:#f5f5f5 url('/assets/img/icon/icon_question_01.png') no-repeat 20px 0.8em;
        background-size:30px 30px;
        font-size:fz(16);
        font-weight:bold;
        cursor:default;
        @extend .icon-plus;

        &.active:after{
            @extend .icon-minus;
        }

        @media screen and ( max-width: $w-760 ){
            margin-top:10px;
            margin-bottom:2px;
            padding:14px 50px 14px 37px;
            position:relative;
            border:1px solid #d7d7d7;
            border-radius:4px;
            box-shadow:0 2px 0px 0 #e2e2e2;
            background-color:#fff;
            background-position:10px 1.1em;
            background-size:20px 20px;
            font-size:fz(13);
            cursor:pointer;
        }

        &:after{
            margin-top:-7px;
            position:absolute;
            top:50%;
            right:15px;
            display:none;
            color:$link-color;
            vertical-align:middle;
            font-size:16px;

            @media screen and ( max-width: $w-760 ){
                display:block;
            }
        }
    }

    .answer{
        padding:0 0 10px 60px;
        overflow:hidden;
        max-height:none;
        background:url('/assets/img/icon/icon_answer_01.png') no-repeat 20px 1.15em;
        background-size:30px 30px;

        &.active{
			max-height:none;
		}

        .title{
            margin-bottom:13px;
            padding:19px 0 13px 0;
            border-bottom:1px dashed #c5c5c5;
            line-height:1.5;
            font-size:fz(16);
            font-weight:bold;

            @media screen and ( max-width: $w-760 ){
                border-bottom:1px solid #c5c5c5;
                font-size:fz(13);
            }
        }

        @media screen and ( max-width: $w-760 ){
            padding:0 10px 0 37px;
            border-radius:0 0 4px 4px;
            background-color:#f3f3f3;
            background-position:10px 1.3em;
            background-size:20px 20px;
            max-height:0;
            transition:max-height 0.5s ease-in-out;

            &.active{
                max-height:100em;
            }
        }
    }
}*/

/* list-news-01
--------------------------------------- */
.list-news-01{
    margin-bottom:48px;
    border-top:1px solid #c6c9d3;

    @media screen and ( max-width: $w-760 ){
        margin-bottom:33px;
        border-top:none;
    }

    li{
        border-bottom:1px solid #c6c9d3;

        &:first-child{
            @media screen and ( max-width: $w-760 ){
                a{
                    padding-top:0;
                }
            }
        }

        &.sp-hide{
            @media screen and ( max-width: $w-760 ){
                display:none;
            }
        }

        a{
            padding:10px 0 11px;
            display:block;
            color:#333;
            transition:color 0.2s ease 0s;
            @extend .clearfix;

            &:active,
            &:hover,
            &:focus{
                color:#14bfad;
                text-decoration:none;

                @media screen and ( max-width: $w-760 ){
                    color:#333;
                }

                .category{
                    opacity:0.7;

                    @media screen and ( max-width: $w-760 ){
                        opacity:1;
                    }
                }

                .text{
                    &:before{
                        color:#14bfad;

                        @media screen and ( max-width: $w-760 ){
                            color:#20a898;
                        }
                    }

                    &.pdf{
                        &:before{
                            opacity:0.7;

                            @media screen and ( max-width: $w-760 ){
                                opacity:1;
                            }
                        }
                    }
                }

                .text-inner{
                    text-decoration:underline;

                    @media screen and ( max-width: $w-760 ){
                        text-decoration:none;
                    }
                }
            }
        }
    }

    .category{
        margin:2px 0 0 0;
        padding:3px 0 4px;
        border-radius:3px;
        box-sizing:border-box;
        display:block;
        float:left;
        width:110px;
        color:#fff;
        line-height:1.1;
        font-size:fz(12);
        text-align:center;
        transition:all 0.2s ease 0s;

        &.important{ background-color:#fb5656; }
        &.other{ background-color:#afafaf; }
        &.product{ background-color:$yamato-green-01; }
        &.company{ background-color:#575a5f; }

        @media screen and ( max-width: $w-760 ){
            width:80px;
            font-size:fz(10);
        }

        &+.date{
            margin-left:20px;

            @media screen and ( max-width: $w-760 ){
                margin-left:4px;
            }
        }
    }

    .date{
        box-sizing:border-box;
        float:left;
        width:110px;

        @media screen and ( max-width: $w-760 ){
            overflow:hidden;
            width:auto;
            font-size:fz(12);
        }
    }

    .inner{
        @media screen and ( max-width: $w-760 ){
            margin-bottom:2px;
            width:100%;

            &:after{
                content:"";
                display:table;
                clear:both;
            }
        }
    }

    .text{
        padding-left:39px;
        position:relative;
        overflow:hidden;
        display:block;

        @media screen and ( max-width: $w-760 ){
            padding-left:19px;
            overflow:inherit;
        }

        &.link{
            @extend .icon-arrow-right-02;

            &:before{
                position:absolute;
                top:7px;
                left:20px;
                color:#20a898;
                vertical-align:middle;

                @media screen and ( max-width: $w-760 ){
                    left:0;
                }
            }
        }

        &.external{
            @extend .icon-window-01;

            &:before{
                position:absolute;
                top:8px;
                left:20px;
                color:#20a898;
                vertical-align:middle;
                font-size:12px;

                @media screen and ( max-width: $w-760 ){
                    left:0;
                }
            }
        }

        &.pdf{
            &:before{
                position:absolute;
                top:6px;
                left:20px;
                width:11px;
                height:13px;
                content:'';
                background:url('/assets/img/icon/icon_pdf_01.png') no-repeat 0 0;
                background-size:11px 13px;

                @media screen and ( max-width: $w-760 ){
                    left:0;
                }
            }
        }
    }
}

/* list-tag-01
--------------------------------------- */
.list-tag-01{
    margin-bottom:30px;
    @extend .clearfix;

    @media screen and ( max-width: $w-760 ){
        margin-bottom:15px;
    }

    li{
        margin:0 8px 10px 0;
        padding:2px 12px;
        border:1px solid #c6c9d3;
        border-radius:8px;
        float:left;
        color:$yamato-green-01;
        background-color:#f5f6f8;
        cursor:pointer;
        text-align:center;
        transition:all 0.2s ease 0s;

        @media screen and ( max-width: $w-760 ){
            margin-right:2%;
            box-sizing:border-box;
            width:49%;
            font-size:fz(12);

            &:nth-child(2n){
                margin-right:0;
            }
        }

        &:active,
        &:hover,
        &:focus{
            border:1px solid transparent;
            color:#fff;
            background-color:$yamato-green-01;

            @media screen and ( max-width: $w-760 ){
                border:1px solid #c6c9d3;
                color:$yamato-green-01;
                background-color:#f5f6f8;
            }
        }

        &.current{
            border:1px solid transparent;
            color:#fff;
            background-color:$yamato-green-01;
        }
    }
}
