@charset "UTF-8";

/* -------------------------------------------------------------------

    Navigation Module

-------------------------------------------------------------------- */

/* nav-location
--------------------------------------- */
#nav-location{
    margin-bottom:48px;
    background-color:#f5f6f8;

    @media screen and ( max-width: $w-760 ){
        margin-bottom:23px;
    }

    ul{
        margin:0 auto;
        padding:6px 30px 6px;
        @extend .clearfix;

        @media screen and ( max-width: $w-760 ){
            box-sizing:border-box;
            padding:7px 15px 7px;
            width:100%;
        }

        li{
            margin-right:7px;
            padding-right:29px;
            position:relative;
            float:left;
            color:#666;
            line-height:1.6;
            font-size:fz(12);

            @extend .icon-arrow-right-01;

            &:before{
                position:absolute;
                top:-1px;
                right:0;
                color:#333;
                line-height:1.1;
                vertical-align:baseline;
                font-size:20px;

                @media screen and ( max-width: $w-760 ){
                    top:0;
                    font-size:16px;
                }
            }

            @media screen and ( max-width: $w-760 ){
                margin-right:3px;
                padding-right:18px;
                font-size:fz(10);
            }

            a{
                color:#666;
                transition:all 0.2s ease 0s;

                &:active,
                &:hover,
                &:focus{
                    color:$yamato-green-01;
                    text-decoration:none;

                    @media screen and ( max-width: $w-760 ){
                        color:#666;
                    }
                }
            }

            &:last-child{
                margin-right:0;
                padding-right:0;

                &:before{
                    display:none;
                }
            }
        }
    }
}

/* nav-fixed-right
--------------------------------------- */
#nav-fixed-right{
    position:fixed;
    top:244px;
    right:-210px;
    z-index:9999;
    width:210px;
    height:192px;
    opacity:0;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    background:url('/assets/img/bg/bg_nav-fixed-right.png') no-repeat 0 0;
    transition-property:right,bottom,opacity;
    transition-duration:0.4s;
    transition-timing-function:ease;

    &.slide{
        right:0;
        opacity:1;
    }

    &.slide-back{
        right:-146px;
        opacity:1;
    }

    @media screen and ( max-width: $w-1064 ){
        top:inherit;
        right:inherit;
        bottom:-65px;
        left:0;
        width:100%;
        height:auto;
        border-top-left-radius:0;
        border-bottom-left-radius:0;
        background-color:$yamato-green-01;

        &.slide-sp{
            bottom:0;
        }
    }

    ul{
        margin:5px 0 0 5px;
        @extend .clearfix;

        @media screen and ( max-width: $w-1064 ){
            margin:0 0 0 0;
            border-top:1px solid #fff;
        }

        li{
            border-bottom:1px solid #cdcdcf;
            position:relative;

            @media screen and ( max-width: $w-1064 ){
                border-right:1px solid #4cc3b6;
                border-bottom:none;
                box-sizing:border-box;
                float:left;
                width:33.33333333333333%;

                &.last{
                    border-right:none;
                }
            }

            a{
                padding:18px 0 0 62px;
                position:relative;
                box-sizing:border-box;
                display:block;
                height:60px;
                color:#333;
                background-position:18px 17px;
                background-repeat:no-repeat;
                background-size:30px 30px;
                transition:all 0.2s ease 0s;

                &.nav-01{ background-image:url('/assets/img/icon/icon_float_01.png'); }
                &.nav-02{ background-image:url('/assets/img/icon/icon_float_02.png'); }
                &.nav-03{ background-image:url('/assets/img/icon/icon_float_03.png'); }
                &.nav-04{ background-image:url('/assets/img/icon/icon_float_04.png'); }
                &.nav-05{ background-image:url('/assets/img/icon/icon_float_05.png'); }
                &.nav-06{ background-image:url('/assets/img/icon/icon_float_06.png'); }

                @media screen and ( max-width: $w-1064 ){
                    padding:18px 0 0 0;
                    display:block;
                    height:70px;
                    color:#fff;
                    background-image:none!important;
                    background-color:$yamato-green-01;
                    font-size:fz(10);
                    text-align:center;
                }

                @media screen and ( max-width: $w-760 ){
                    padding:8px 0 0 0;
                    height:65px;
                }

                &:active,
                &:hover,
                &:focus{
                    color:#fff;
                    background-color:$yamato-green-01;
                    text-decoration:none;

                    &.nav-01{ background-image:url('/assets/img/icon/icon_float_01_o.png') };
                    &.nav-02{ background-image:url('/assets/img/icon/icon_float_02_o.png') };
                    &.nav-03{ background-image:url('/assets/img/icon/icon_float_03_o.png') };
                    &.nav-04{ background-image:url('/assets/img/icon/icon_float_04_o.png') };
                    &.nav-05{ background-image:url('/assets/img/icon/icon_float_05_o.png') };
                    &.nav-06{ background-image:url('/assets/img/icon/icon_float_06_o.png') };
                }

                img{
                    display:none;
                    width:30px;
                    text-align:center;

                    @media screen and ( max-width: $w-1064 ){
                        margin-right:17px;
                        width:40px;
                        display:inline;
                    }

                    @media screen and ( max-width: $w-760 ){
                        margin-right:0;
                        width:30px;
                    }
                }

                @media screen and ( max-width: $w-1064 ){
                    span{
                        padding-top:5px;
                        display:inline-block;
                        font-size:fz(22);

                    }
                }

                @media screen and ( max-width: $w-760 ){
                    span{
                        padding-top:3px;
                        display:block;
                        font-size:fz(14);
                    }
                }
            }

            &.first{
                border-top-left-radius:20px;

                @media screen and ( max-width: $w-1064 ){
                    border-top-left-radius:none;
                }

                a{
                    border-top-left-radius:20px;

                    @media screen and ( max-width: $w-1064 ){
                        border-top-left-radius:none;
                    }
                }
            }

            &.last{
                border-bottom-left-radius:20px;
                border-bottom:none;

                @media screen and ( max-width: $w-1064 ){
                    border-bottom-left-radius:none;
                }

                a{
                    border-bottom-left-radius:20px;

                    @media screen and ( max-width: $w-1064 ){
                        border-bottom-left-radius:none;
                    }
                }
            }
        }
    }
}

/* nav-top-01
--------------------------------------- */
.nav-top-01{
    border-top:2px solid #c6c9d3;
    border-bottom:1px solid #c6c9d3;

    @media screen and ( max-width: $w-760 ){
        box-sizing: border-box;
        width: 100%;
        padding: 25px 15px;
    }
    ul{
        display:table;
        width:100%;
        height:100%;

        li{
            border-left:1px solid #c6c9d3;
            display:table-cell;
            width:33.3333%;
            height:100%;
            text-align:center;
            box-sizing:border-box;

            &:before{
                display:none;
                @extend .icon-arrow-right-01;
            }

            @media screen and ( max-width: $w-760 ){
                position:relative;
                display:block;
                border:1px solid #c6c9d3 !important;
                border-radius:20px;
                width:100%;
                height:auto;
                margin-bottom: 15px;
                box-shadow: 0 2px 0 0 #c6c9d3;

                &:before{
                    position: absolute;
                    top:0;
                    bottom:0;
                    right:3%;
                    display: block;
                    font-size:30px;
                    font-weight:700;
                    width:24px;
                    height:28px;
                    color:$yamato-green-01;
                    margin:auto;
                }
            }

            &:first-child{
                border-left:none;
            }

            a{
                overflow:hidden;
                display:block;
                height:100%;
                transition:all 0.2s ease 0s;

                @media screen and ( max-width: $w-760 ){
                    position:relative;
                    padding:0 0 0 7%;
                }

                &:hover,
                &:focus{
                    background-color:#15ac9b;
                    text-decoration:none;

                    @media screen and ( max-width: $w-760 ){
                        border-radius:20px;
                        background-color:transparent;
                    }

                    .text{
                        color:#fff;
                    }

                    .title{
                        color:#fff;

                        @media screen and ( max-width: $w-760 ){
                            color:$yamato-green-01;
                        }
                    }

                    .image{
                        animation:sprite-index 1s steps(30) forwards;

                        @keyframes sprite-index{
                            0% { background-position:0 0; }
                            100% { background-position:0 -5810px; }
                        }

                        @media screen and ( max-width: $w-760 ){
                            animation:none;
                        }
                    }
                }
            }
        }
        .inner{
            height:100%;
            box-sizing:border-box;

            @media screen and ( max-width: $w-760 ){
                padding: 0 !important;
            }
        }

        .image{
            width:165px;
            height:165px;
            margin:0 auto 45px;

            @media screen and ( max-width: $w-760 ){
                margin:0.5rem 0 1.5rem;
                float:left;
                width:19.824561403% !important;
                height:auto!important;
                padding-top:21%;
                background-size:100% 3420%!important;
            }
        }

        .title{
            font-size:fz(25);
            font-weight:700;
            margin-bottom:15px;

            @media screen and ( max-width: $w-960 ){
                font-size:fz(22);
            }

            @media screen and ( max-width: $w-760 ){
                position:absolute;
                top:0;
                bottom:0;
                margin:auto;
                height:30px;
                left:30%;
                font-size:fz(20);
            }
        }

        .text{
            font-size:fz(12);
            color:#666;

            @media screen and ( max-width: $w-760 ){
                display:none;
            }
        }
        .our-customer .image{ background:url('/assets/img/icon/icon_private_long.png') no-repeat 0 0;background-size:165px 6010px;}
        .coporate-customer .image{ background:url('/assets/img/icon/icon_business_long.png') no-repeat 0 0;background-size:165px 6010px;}
        .administration{
            .text{
                padding-top:1rem;
            }
            .image{
                background:url('/assets/img/icon/icon_government_long.png') no-repeat 0 0;background-size:165px 6010px;
            }
        }
    }
}

/* nav-top-02
--------------------------------------- */
.nav-top-02{
    border-bottom:2px solid #c6c9d3;

    ul{
        width:100%;
        letter-spacing:-.5em;

        li{
            border-left:1px solid #c6c9d3;
            display:inline-block;
            width:50%;
            text-align:center;
            letter-spacing:normal;
            box-sizing:border-box;

            &:first-child{
                border-left:none;
            }

            .inner{
                position:relative;
                padding:30px 0;

                p{
                    font-size:fz(18);
                    display:inline-block;
                }

                span{
                    @extend .icon-arrow-right-01;

                    &:before{
                        position: absolute;
                        top:0;
                        bottom:0;
                        font-size:18px;
                        font-weight:700;
                        width:24px;
                        height:14px;
                        margin:auto;
                    }
                }
            }
        }
    }
}

/* nav-local-01
--------------------------------------- */
.nav-local-01{
    margin-bottom:32px;
    position:relative;

    @media screen and ( max-width: $w-1064 ){
        margin:40px -30px -10px;
        background-color:#f5f6f8;
    }

    @media screen and ( max-width: $w-760 ){
        margin:40px -15px -10px;
    }

    ul{
        @media screen and ( max-width: $w-1064 ){
            border-top:1px solid #c6c9d3;
        }

        li{
            @media screen and ( max-width: $w-1064 ){
                border-bottom:1px solid #c6c9d3;
            }

            a{
                padding:13px 20px 13px;
                display:block;
                line-height:1.5;
                transition:all 0.2s ease 0s;

                @media screen and ( max-width: $w-1064 ){
                    padding:15px 15px 14px;
                    background-color:#fff;
                }

                &:active,
                &:focus,
                &:hover{
                    color:#333;
                    background-color:#f5f6f8;
                    text-decoration:none;

                    @media screen and ( max-width: $w-760 ){
                        color:$link-color;
                        background-color:#fff;
                    }
                }
            }

            span{
                position:relative;
                display:block;
                @extend .icon-arrow-right-01;

                &:before{
                    display:none;
                }

                @media screen and ( max-width: $w-1064 ){
                    &:before{
                        position:absolute;
                        top:0;
                        right:-6px;
                        display:block;
                        color:$yamato-green-01;
                        vertical-align:middle;
                        font-size:24px;
                    }
                }
            }

            &.current{
                a{
                    color:#333;
                    background-color:#f5f6f8;
                }
            }
        }
    }

    p{
        margin-top:41px;
        padding-top:11px;
        border-top:1px solid #d0d2db;

        @media screen and ( max-width: $w-1064 ){
            margin-top:10px;
            padding-top:0;
            border-bottom:1px solid #d0d2db;
        }

        a{
            padding-left:20px;
            display:block;
            line-height:1.5;
            transition:all 0.2s ease 0s;

            @media screen and ( max-width: $w-1064 ){
                padding:15px 15px 14px;
                background-color:#fff;
            }

            &:active,
            &:focus,
            &:hover{
                @media screen and ( max-width: $w-760 ){
                    color:$link-color;
                    text-decoration:none;
                }
            }

            span{
                position:relative;
                display:block;
                @extend .icon-arrow-right-01;

                &:before{
                    display:none;
                }

                @media screen and ( max-width: $w-1064 ){
                    &:before{
                        position:absolute;
                        top:0;
                        right:-6px;
                        display:block;
                        color:$yamato-green-01;
                        vertical-align:middle;
                        font-size:24px;
                    }
                }
            }
        }
    }
}

/* nav-pager-01
--------------------------------------- */
.nav-pager-01{
	padding-bottom:25px;

    @media screen and ( max-width: $w-1064 ){
        padding-bottom:0;
    }

	ul{
		text-align:center;

		li{
			margin:0 5px 5px;
			display:inline-block;

			a{
                padding-top:2px;
                border-radius:5px;
                border:1px solid #d0d2db;
                box-sizing:border-box;
				display:inline-block;
                width:30px;
                height:30px;
                transition:all 0.2s ease 0s;
			}

			&.current{
				a{
                    border:1px solid $yamato-green-01;
					color:#fff;
                    background-color:$yamato-green-01;
					font-weight:bold;
				}
			}

            &.disabled{
                .container{
                    padding-top:2px;
                    border-radius:5px;
                    border:1px solid #eaeaf0;
                    box-sizing:border-box;
                    display:inline-block;
                    width:30px;
                    height:30px;
                    background-color:#eaeaf0;
                }

                &.prev,
                &.next{
                    .inner{
                        color:#aaabb2;
                    }

                    &:hover,
                    &:focus,
                    &:active{
                        .inner{
                            color:#aaabb2;
                        }
                    }
                }
            }

			&:hover,
			&:focus,
			&:active{
				a{
                    border:1px solid $yamato-green-01;
                    color:#fff;
                    text-decoration:none;
                    background-color:$yamato-green-01;

                    @media screen and ( max-width: $w-760 ){
                        border:1px solid #d0d2db;
                        color:$link-color;
                        background-color:#fff;
                    }
				}

                &.current{
                    a{
                        @media screen and ( max-width: $w-760 ){
                            border:1px solid $yamato-green-01;
                            color:#fff;
                            background-color:$yamato-green-01;
                            font-weight:bold;
                        }
                    }
                }
			}

            &.prev{
                .inner{
                    position:relative;
                    top:-1px;
                    right:1px;
                    @extend .icon-arrow-left-02;
                    content:'';
                    line-height:1.1;
                    vertical-align:middle;
                    color:$link-color;
                    font-size:fz(20);
                }

                &:hover,
                &:focus,
                &:active{
                    .inner{
                        color:#fff;

                        @media screen and ( max-width: $w-760 ){
                            color:$link-color;
                        }
                    }
                }
            }

            &.next{
                .inner{
                    position:relative;
                    top:-1px;
                    right:-1px;
                    @extend .icon-arrow-right-01;
                    content:'';
                    line-height:1.1;
                    vertical-align:middle;
                    color:$link-color;
                    font-size:fz(20);
                }

                &:hover,
                &:focus,
                &:active{
                    .inner{
                        color:#fff;

                        @media screen and ( max-width: $w-760 ){
                            color:$link-color;
                        }
                    }
                }
            }
		}
	}
}

/* nav-index-01
--------------------------------------- */
.nav-index-01{
    margin:0 auto 50px;
    max-width:940px;

    @media screen and ( max-width: $w-760 ){
        margin-bottom:6px;
    }

    ul{
        margin-left:-2.525252525252525%;
        width:105.3191489361702%;
        @extend .clearfix;

        @media screen and ( max-width: $w-960 ){
            margin-left:-1.525252525252525%;
            width:103.3191489361702%;
        }

        @media screen and ( max-width: $w-760 ){
            margin-left:0;
            width:100%;
        }
    }

    .column{
        margin:0 2.525252525252525%;
        float:left;
        width:28.28282828282828%;

        @media screen and ( max-width: $w-960 ){
            margin:0 1.525252525252525%;
            width:30.28282828282828%;
        }

        @media screen and ( max-width: $w-760 ){
            margin:0 0 15px;
            float:none;
            width:100%;
        }
    }

    a{
        border:1px solid #c6c9d3;
        border-radius:60px;
        box-sizing:border-box;
        box-shadow:0 2px 0 0 #c6c9d3;
        position:relative;
        overflow:hidden;
        display:block;
        transition:all 0.2s ease 0s;

        @media screen and ( max-width: $w-760 ){
            border-radius:20px;
        }

        &:hover,
        &:focus{
            box-shadow:none;
            border:1px solid #15ac9b;
            background-color:#15ac9b;
            text-decoration:none;

            @media screen and ( max-width: $w-760 ){
                box-shadow:0 2px 0 0 #c6c9d3;
                border:1px solid #c6c9d3;
                background-color:#fff;
            }

            .text{
                color:#fff;

                @media screen and ( max-width: $w-760 ){
                    color:#007a74;
                }
            }

            .title{
                color:#fff;

                @media screen and ( max-width: $w-760 ){
                    color:$yamato-green-01;
                }

                .em-text{
                    color:#fff;

                    @media screen and ( max-width: $w-760 ){
                        color:#f76c91;
                    }
                }
            }

            .image{
                animation:sprite-category 1s steps(23) forwards;

                @keyframes sprite-category{
                    0% { background-position: 0 0; }
                    100% { background-position: 0 -2530px; }
                }

                @media screen and ( max-width: $w-860 ){
                    @keyframes sprite-category{
                        0% { background-position: 0 0; }
                        100% { background-position: 0 -1898px; }
                    }                        }

                @media screen and ( max-width: $w-760 ){
                    animation:none;
                }
            }

            .inner{
                &:before{
                    color:#fff;

                    @media screen and ( max-width: $w-760 ){
                        color:$yamato-green-01;
                    }
                }
            }
        }

        &:active{
            box-shadow:0 4px 0 0 rgba(0, 0, 0, 0.15) inset!important;
            background-color:#129989;
        }
    }

    .text-container{
        @media screen and ( max-width: $w-760 ){
            overflow:hidden;
            display:table-cell;
            height:100px;
            line-height:1.1;
            vertical-align:middle;
        }

        @media screen and ( max-width: $w-374 ){
            height:78px;
        }
    }

    .text{
        position:absolute;
        top:30px;
        left:0;
        width:100%;
        line-height:1.5;
        color:#007a74;
        text-align:center;
        font-weight:bold;

        @media screen and ( max-width: $w-960 ){
            font-size:fz(12);
        }

        @media screen and ( max-width: $w-760 ){
            position:static;
            display:inline;
            height:inherit;
            font-size:fz(10);
            text-align:left;
        }
    }

    .image{
        margin:0 auto;
        display:block;
        width:99px;
        height:110px;
        overflow:hidden;

        @media screen and ( max-width: $w-760 ){
            margin:20px 12px 0 15px;
            float:left;
            width:50px!important;
            height:53px!important;
            background-size:50px 1291px!important;
        }

        @media screen and ( max-width: $w-374 ){
            margin:18px 12px 0 15px;
            width:38px!important;
            height:40px!important;
            background-size:38px 971px!important;
        }
    }
    .internet{ .image{ background:url('/assets/img/icon/icon_internet_01.png') no-repeat 0 0; background-size:99px 2640px; }}
    .auto-night{ .image{ background:url('/assets/img/icon/icon_auto-night_01.png') no-repeat 0 0; background-size:99px 2640px; }}
    .auto-noon{ .image{ background:url('/assets/img/icon/icon_auto-noon_01.png') no-repeat 0 0; background-size:99px 2640px; }}
    .fee{ .image{ background:url('/assets/img/icon/icon_fee_01.png') no-repeat 0 0; background-size:99px 2640px; }}
    .invoice{ .image{ background:url('/assets/img/icon/icon_invoice_01.png') no-repeat 0 0; background-size:99px 2640px; }}
    .service{ .image{ background:url('/assets/img/icon/icon_service_01.png') no-repeat 0 0; background-size:99px 2640px; }}
    .service-center{ .image{ background:url('/assets/img/icon/icon_service-center_01.png') no-repeat 0 0; background-size:99px 2640px; }}
    .shop{ .image{ background:url('/assets/img/icon/icon_shop_01.png') no-repeat 0 0; background-size:99px 2640px; }}
    .telephone{ .image{ background:url('/assets/img/icon/icon_telephone_01.png') no-repeat 0 0; background-size:99px 2640px; }}

    @media screen and ( max-width: $w-860 ){
        .image{
            width:74px;
            height:82px;
        }
        .internet{ .image{ background:url('/assets/img/icon/icon_internet_01.png') no-repeat 0 0; background-size:74px 1980px; }}
        .auto-night{ .image{ background:url('/assets/img/icon/icon_auto-night_01.png') no-repeat 0 0; background-size:74px 1980px; }}
        .auto-noon{ .image{ background:url('/assets/img/icon/icon_auto-noon_01.png') no-repeat 0 0; background-size:74px 1980px; }}
        .fee{ .image{ background:url('/assets/img/icon/icon_fee_01.png') no-repeat 0 0; background-size:74px 1980px; }}
        .invoice{ .image{ background:url('/assets/img/icon/icon_invoice_01.png') no-repeat 0 0; background-size:74px 1980px; }}
        .service{ .image{ background:url('/assets/img/icon/icon_service_01.png') no-repeat 0 0; background-size:74px 1980px; }}
        .service-center{ .image{ background:url('/assets/img/icon/icon_service-center_01.png') no-repeat 0 0; background-size:74px 1980px; }}
        .shop{ .image{ background:url('/assets/img/icon/icon_shop_01.png') no-repeat 0 0; background-size:74px 1980px; }}
        .telephone{ .image{ background:url('/assets/img/icon/icon_telephone_01.png') no-repeat 0 0; background-size:74px 1980px; }}
    }

    .inner{
        padding-top:68px;
        position:relative;
        @extend .icon-arrow-right-01;
        @extend .clearfix;

        @media screen and ( max-width: $w-760 ){
            padding-top:0!important;
        }

         &:before{
             margin-top:-14px;
             position:absolute;
             top:50%;
             right:2%;
             color:$yamato-green-01;
             vertical-align:middle;
             font-size:40px;

             @media screen and ( max-width: $w-760 ){
                  right:3px;
                  font-size:28px;
             }
         }
    }
    .fee{ .inner{ padding-top:61px; }}
    .service-center{ .inner{ padding-top:42px; }}
    .auto-night,.auto-noon{ .inner{ padding-top:50px; }}

    @media screen and ( max-width: $w-960 ){
        .fee{ .inner{ padding-top:58px; }}
        .invoice{ .inner{ padding-top:63px; }}
        .service{ .inner{ padding-top:63px; }}
        .service-center{ .inner{ padding-top:50px; }}
    }

    .title{
        padding-top:5px;
        box-sizing:border-box;
        width:100%;
        height:90px;
        font-size:fz(20);
        text-align:center;
        font-weight:bold;

        &.line-3{
            @media screen and ( max-width: $w-760 ){
                line-height:1.4;
            }
        }

        @media screen and ( max-width: $w-960 ){
            padding-top:10px;
            height:75px!important;
            font-size:fz(14);
        }

        @media screen and ( max-width: $w-760 ){
            padding-top:0!important;
            display:block;
            width:auto;
            height:auto!important;
            color:$yamato-green-01;
            font-size:fz(17);
            text-align:left;
        }

        @media screen and ( max-width: $w-374 ){
            font-size:fz(13);
        }
        .em-text{
            display:block;
            color:#f76c91;
            font-size:70%;
        }
    }
    .telephone{ .title{ padding-top:20px; }}
    .fee{ .title{ padding-top:27px; height:97px; }}
    .service-center{ .title{ height:116px; }}
    .service{ .title{ padding-top:20px; }}
    .auto-night,.auto-noon{ .title{ padding-top:25px; height:108px; }}

    @media screen and ( max-width: $w-960 ){
        .telephone{ .title{ padding-top:20px; }}
        .fee{ .title{ padding-top:30px; height:85px!important; }}
        .invoice{ .title{ padding-top:15px; height:80px!important; }}
        .service{ .title{ padding-top:25px; height:80px!important; }}
        .service-center{ .title{ padding-top:10px; height:92px!important; }}
        .auto-night,.auto-noon{ .title{ padding-top:29px; height:93px!important; }}
    }

    @media screen and ( max-width: $w-760 ){
        .invoice{ .title{ height:auto!important; }}
        .service{ .title{ height:auto!important; }}
        .fee{ .title{ height:auto!important; }}
        .service-center{ .title{ height:auto!important; }}
        .auto-night,.auto-noon{ .title{ height:auto!important; }}
    }
}

/* IE9 Hack */
.nav-index-01 .column a:hover:not(:target){
    box-shadow:0 2px 0 0 #c6c9d3\9;
    border:1px solid #c6c9d3\9;
    background-color:#fff\9;
}

.nav-index-01 .column a:active:not(:target) .inner:before,
.nav-index-01 .column a:hover:not(:target) .inner:before,
.nav-index-01 .column a:focus:not(:target) .inner:before{
    color:#10af9e\9;
}

.nav-index-01 .column a:active:not(:target) .text,
.nav-index-01 .column a:hover:not(:target) .text,
.nav-index-01 .column a:focus:not(:target) .text{
    color:#10af9e\9;
}

.nav-index-01 .column a:active:not(:target) .title,
.nav-index-01 .column a:hover:not(:target) .title,
.nav-index-01 .column a:focus:not(:target) .title{
    color:#10af9e\9;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .nav-index-01 .column a:hover:not(:target){
        box-shadow:none;
        border:1px solid #15ac9b;
        background-color:#15ac9b;
    }

    .nav-index-01 .column a:active:not(:target) .inner:before,
    .nav-index-01 .column a:hover:not(:target) .inner:before,
    .nav-index-01 .column a:focus:not(:target) .inner:before{
        color:#fff;
    }

    .nav-index-01 .column a:active:not(:target) .text,
    .nav-index-01 .column a:hover:not(:target) .text,
    .nav-index-01 .column a:focus:not(:target) .text{
        color:#fff;
    }

    .nav-index-01 .column a:active:not(:target) .title,
    .nav-index-01 .column a:hover:not(:target) .title,
    .nav-index-01 .column a:focus:not(:target) .title{
        color:#fff;
    }
}

/* nav-index-02
--------------------------------------- */
.nav-index-02{
    margin-bottom:40px;
    overflow:hidden;

    @media screen and ( max-width: $w-760 ){
        margin-bottom:30px;
    }

    &.index{
        ul{
            li{
                a{
                    .category{
                        @media screen and ( max-width: $w-760 ){
                            margin:2px 4px 0 0;
                            float:left;
                            width:80px;
                            min-width:inherit;
                        }
                    }
                }
            }
        }
    }

    ul{
        margin-left:-1.302083333333333%;
        width:102.604166666666667%;
        @extend .clearfix;

        @media screen and ( max-width: $w-760 ){
            margin-left:0;
            width:100%;
        }

        li{
            margin:0 1.302083333333333% 35px;
            float:left;
            width:22.39583333333333%;

            @media screen and ( max-width: $w-760 ){
                margin:0 0 15px;
                padding-bottom:15px;
                border-bottom:1px solid #d7dae2;
                float:none;
                width:100%;

                &:last-child{
                    margin-bottom:0;
                }
            }

            &.sp-hide{
                @media screen and ( max-width: $w-760 ){
                    display:none;
                }
            }

            a{
                display:block;
                color:#333;
                transition:color 0.2s ease 0s;
                @extend .clearfix;

                &:active,
                &:hover,
                &:focus{
                    text-decoration:none;

                    .text,
                    .date{
                        color:#14bfad;

                        @media screen and ( max-width: $w-760 ){
                            color:#333;
                        }

                        &.external{
                            &:before{
                                color:#14bfad;

                                @media screen and ( max-width: $w-760 ){
                                    color:#20a898;
                                }
                            }
                        }
                    }

                    .category{
                        opacity:0.7;

                        @media screen and ( max-width: $w-760 ){
                            opacity:1;
                        }
                    }

                    .image{
                        opacity:0.7;

                        @media screen and ( max-width: $w-760 ){
                            opacity:1;
                        }
                    }

                    .text-inner{
                        text-decoration:underline;

                        @media screen and ( max-width: $w-760 ){
                            text-decoration:none;
                        }
                    }
                }

                .image{
                    margin-bottom:15px;
                    border:1px solid #c6c9d3;
                    display:block;
                    transition:opacity 0.5s ease 0s;

                    img{
                        width:100%;
                    }

                    @media screen and ( max-width: $w-760 ){
                        margin-bottom:0;
                        margin-left:10px;
                        float:right;
                        width:34.48275862068966%;
                    }
                }

                .category-container{
                    @media screen and ( max-width: $w-760 ){
                        &:after{
                            content:"";
                            display:table;
                            clear:both;
                        }
                    }
                }

                .category{
                    margin-bottom:9px;
                    padding:3px 10px 4px;
                    border-radius:3px;
                    box-sizing:border-box;
                    min-width:110px;
                    display:inline-block;
                    color:#fff;
                    line-height:1.1;
                    font-size:fz(12);
                    text-align:center;
                    transition:all 0.2s ease 0s;

                    &.category-01{ background-color:#20a898; }
                    &.category-02{ background-color:#058295; }
                    &.category-03{ background-color:#90c43f; }
                    &.category-04{ background-color:#09b663; }
                    &.category-05{ background-color:#575a5f; }
                    &.category-06{ background-color:#afafaf; }

                    @media screen and ( max-width: $w-760 ){
                        /*margin:2px 4px 0 0;
                        float:left;
                        width:80px;*/
                        margin-bottom:5px;
                        font-size:fz(10);
                    }
                }

                .date{
                    margin-bottom:6px;
                    color:#333;
                    transition:all 0.2s ease 0s;

                    @media screen and ( max-width: $w-760 ){
                        overflow:hidden;
                        font-size:fz(12);
                    }
                }

                .text-container{
                    @media screen and ( max-width: $w-760 ){
                        overflow:hidden;
                    }
                }

                .text{
                    position:relative;
                    color:#333;
                    transition:all 0.2s ease 0s;

                    &.external{
                        @extend .icon-window-01;

                        &:before{
                            margin-right:6px;
                            position:relative;
                            top:-1px;
                            color:#20a898;
                            vertical-align:middle;
                            font-size:12px;
                            transition:all 0.2s ease 0s;
                        }
                    }
                }
            }
        }
    }
}

/* nav-index-03
--------------------------------------- */
.nav-index-03{
    &.col-3{
        .column{
            margin-right:2.67379679144385%;
            float:left;
            width:31.55080213903743%;

            &:nth-child(3n){
                margin-right:0;
            }

            @media screen and ( max-width: $w-760 ){
                margin-right:5.172413793103448%;
                width:47.41379310344828%;

                &:nth-child(2n){
                    margin-right:0!important;
                }

                &:nth-child(3n){
                    margin-right:5.172413793103448%;
                }
            }
        }
    }

    &.col-4{
        .column{
            margin-right:2.67379679144385%;
            float:left;
            width:22.99465240641711%;

            &:nth-child(4n){
                margin-right:0;
            }

            @media screen and ( max-width: $w-760 ){
                margin-right:5.172413793103448%;
                width:47.41379310344828%;

                &:nth-child(2n){
                    margin-right:0!important;
                }

                &:nth-child(3n){
                    margin-right:5.172413793103448%;
                }
            }
        }
    }

    ul{
        @extend .clearfix;

        .column{
            margin-bottom:42px;
            border:1px solid #c6c9d3;
            border-radius:12px;
            box-sizing:border-box;
            box-shadow:0 2px 0 0 #c6c9d3;
            position:relative;

            @media screen and ( max-width: $w-760 ){
                margin-bottom:17px;
            }

            .badge{
                padding-top:10px;
                border-radius:30px;
                box-sizing:border-box;
                position:absolute;
                top:-16px;
                left:-16px;
                z-index:1;
                width:56px;
                height:56px;
                color:#fff;
                line-height:1.4;
                background-color:#00b7a1;
                font-size:fz(12);
                text-align:center;

                @media screen and ( max-width: $w-760 ){
                    padding-top:7px;
                    top:-8px;
                    left:-8px;
                    width:43px;
                    height:43px;
                    font-size:fz(10);
                }
            }

            a{
                border-radius:10px;
                display:block;
                box-sizing:border-box;
                -webkit-backface-visibility:hidden;
                -webkit-transform:translate3d(0, 0, 0);
                overflow:hidden;

                &:active,
                &:hover,
                &:focus{
                    text-decoration:none;

                    .image{
                        img{
                            transform:scale(1.1);

                            @media screen and ( max-width: $w-760 ){
                                transform:scale(1);
                            }
                        }
                    }
                    .text{
                        .title{
                            color:#14bfad;

                            @media screen and ( max-width: $w-760 ){
                                color:$link-color;
                            }

                            &.external{
                                &:before{
                                    color:#14bfad;
                                }
                            }
                        }
                    }
                }

                .image{
                    border-top-right-radius:10px;
                    border-top-left-radius:10px;
                    display:block;
                    overflow:hidden;

                    img{
                        border-top-right-radius:10px;
                        border-top-left-radius:10px;
                        display:block;
                        width:100%;
                        transform:scale(1);
                        transform-origin:50% 50%;
                        transition:transform 0.8s ease;
                    }
                }

                .text{
                    padding:14px 19px 15px;
                    box-sizing:border-box;
                    display:block;
                    width:100%;

                    @media screen and ( max-width: $w-760 ){
                        padding:14px 12px 7px;
                    }

                    .title{
                        margin-bottom:6px;
                        position:relative;
                        color:$link-color;
                        font-size:fz(16);
                        font-weight:bold;
                        transition:color 0.2s ease;

                        @media screen and ( max-width: $w-760 ){
                            font-size:fz(13);
                        }

                        &.external{
                            padding-left:21px;
                            @extend .icon-window-01;

                            &:before{
                                position:absolute;
                                top:8px;
                                left:0;
                                color:$link-color;
                                vertical-align:middle;
                                font-size:12px;
                                transition:color 0.2s ease;

                                @media screen and ( max-width: $w-760 ){
                                    top:6px;
                                }
                            }
                        }
                    }

                    .description{
                        color:#333;
                        font-size:fz(12);

                        @media screen and ( max-width: $w-760 ){
                            display:none;
                        }
                    }
                }
            }
        }
    }
}

/* nav-index-04
--------------------------------------- */
.nav-index-04{
    &.col-2{
        .column{
            margin-right:3.597122302158273%;
            float:left;
            width:48.20143884892086%;

            &:nth-child(2n){
                margin-right:0;
            }

            @media screen and ( max-width: $w-760 ){
                margin:0;
                float:none;
                width:100%;
            }
        }
    }

    &.col-3{
        .column{
            margin-right:2.67379679144385%;
            float:left;
            width:31.55080213903743%;

            &:nth-child(3n){
                margin-right:0;
            }

            @media screen and ( max-width: $w-760 ){
                margin:0;
                float:none;
                width:100%;
            }
        }
    }

    &.col-4{
        .column{
            margin-right:2.67379679144385%;
            float:left;
            width:22.99465240641711%;

            &:nth-child(4n){
                margin-right:0;
            }

            @media screen and ( max-width: $w-760 ){
                margin:0;
                float:none;
                width:100%;
            }
        }
    }

    .column{
        margin-bottom:42px;
    }

    ul{
        @extend .clearfix;

        .image{
            margin-bottom:15px;
            border:1px solid #c6c9d3;
            display:block;
            overflow:hidden;

            img{
                display:block;
                width:100%;
                transition:opacity 0.5s ease;
            }
        }

        a{
            &:active,
            &:hover,
            &:focus{
                text-decoration:none;

                .image{
                    img{
                        opacity:0.7;

                        @media screen and ( max-width: $w-760 ){
                            opacity:1;
                        }
                    }
                }

                .title{
                    color:#14bfad;

                    @media screen and ( max-width: $w-760 ){
                        color:$link-color;
                    }
                }
            }

            .title{
                margin-bottom:6px;
                color:$link-color;
            }
        }

        .title{
            margin-bottom:16px;
            position:relative;
            color:#333;
            font-size:fz(16);
            transition:color 0.2s ease;

            &.external{
                padding-left:21px;
                @extend .icon-window-01;

                &:before{
                    position:absolute;
                    top:8px;
                    left:0;
                    color:$link-color;
                    vertical-align:middle;
                    font-size:12px;
                }
            }

            .new{
                margin-left:15px;
                font-weight:bold;
                color:#f8759a;
            }
        }

        .description{
            color:#333;

            @media screen and ( max-width: $w-760 ){
                margin-bottom:35px;
            }
        }
    }

    .nav-btn-02{
        margin-bottom:0;

        @media screen and ( max-width: $w-760 ){
            margin-bottom:35px!important;

            ul{
                li{
                    margin-bottom:0;
                }
            }
        }
    }
}

/* nav-index-05
--------------------------------------- */
.nav-index-05{
    margin-bottom:-40px;
    position:relative;

    @media screen and ( max-width: $w-760 ){
        margin-bottom:-15px;
    }

    ul{
        @extend .clearfix;

        li{
            margin:0 0 40px 0;
            padding-right:1.798561151079137%;
            box-sizing:border-box;
            float:left;
            width:50%;

            @media screen and ( max-width: $w-760 ){
                margin:0 0 15px 0;
                padding-right:0;
                float:none;
                width:100%;
            }

            .image{
                margin-right:4.392764857881137%;
                border:1px solid #c6c9d3;
                display:inline-block;
                vertical-align:middle;
                width:40.29850746268657%;
                transition:all 0.2s ease;

                img{
                    display:block;
                    width:100%;
                }

            }

            .text{
                display:inline-block;
                width:52.4726368159204%;
                vertical-align:middle;
                line-height:1.6;
                font-size:fz(14);
                transition:all 0.2s ease;

                &.pdf{
                    .text-inner{
                        padding-left:17px;
                        display:block;
                        position:relative;

                        @media screen and ( max-width: $w-760 ){
                            padding-left:14px;
                        }

                        &:before{
                            position:absolute;
                            top:6px;
                            left:0;
                            width:11px;
                            height:13px;
                            content:'';
                            background:url('/assets/img/icon/icon_pdf_01.png') no-repeat 0 0;
                            background-size:11px 13px;
                            transition:all 0.2s ease;

                            @media screen and ( max-width: $w-760 ){
                                top:5px;
                            }
                        }

                        .size{
                            display:block;
                            color:#666;
                            font-size:fz(11.8);
                            transition:all 0.2s ease;

                            @media screen and ( max-width: $w-760 ){
                                font-size:fz(14);
                            }
                        }
                    }
                }
            }

            a{
                display:block;
                text-decoration:none;

                @media screen and ( max-width: $w-760 ){
                    color:$link-color;
                }

                &:active,
                &:hover,
                &:focus{
                    .image{
                        opacity:0.7;

                        @media screen and ( max-width: $w-760 ){
                            opacity:1;
                        }
                    }

                    .text{
                        &.pdf{
                            .text-inner{
                                &:before{
                                    opacity:0.7;

                                    @media screen and ( max-width: $w-760 ){
                                        opacity:1;
                                    }
                                }

                                .title{
                                    text-decoration:underline;
                                }

                                .size{
                                    opacity:0.7;

                                    @media screen and ( max-width: $w-760 ){
                                        opacity:1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* nav-banner-01
--------------------------------------- */
.nav-banner-01{
    margin-bottom:40px;
    overflow:hidden;

    @media screen and ( max-width: $w-760 ){
        margin-bottom:0;
    }

    ul{
        margin-left:-1.302083333333333%;
        width:102.604166666666667%;
        @extend .clearfix;

        @media screen and ( max-width: $w-760 ){
            margin-left:-1.302083333333333%;
            width:102.604166666666667%;
        }

        li{
            margin:0 1.302083333333333% 0;
            border-radius:12px;
            border:1px solid #c6c9d3;
            box-sizing:border-box;
            float:left;
            width:22.39583333333333%;

            @media screen and ( max-width: $w-760 ){
                margin:0 1.302083333333333% 15px;
                width:47.39583333333333%;
            }

            a{
                display:block;
                transition:opacity 0.5s ease 0s;

                &:active,
                &:hover,
                &:focus{
                    opacity:0.7;

                    @media screen and ( max-width: $w-760 ){
                        opacity:1;
                    }
                }

                img{
                    border-radius:10px;
                    display:block;
                    width:100%;
                }
            }
        }
    }
}

/* nav-tab-01
--------------------------------------- */
.nav-tab-01{
    .tab-btns{
        @extend .clearfix;

        &.btn-2{
            li{
                width:50%;
            }
        }

        &.btn-3{
            li{
                width:33.3333333%;
            }
        }

        &.btn-4{
            li{
                width:25%;
            }
        }

        &.btn-5{
            li{
                width:20%;
            }
        }

        li{
            box-sizing:border-box;
            float:left;
            text-align:center;

            &:last-child{
                a{
                    background:none;
                }
            }

            a{
                border-top:1px solid #c6c9d3;
                border-bottom:1px solid #c6c9d3;
                padding:15px 10px 13px;
                display:block;
                color:$link-color;
                line-height:1.5;
                font-size:fz(15);
                transition:all 0.2s ease 0s;

                @media screen and ( max-width: $w-760 ){
                    padding:0;
                    font-size:fz(12);
                }

                &:active,
                &:hover,
                &:focus{
                    border-top:1px solid $yamato-green-01;
                    border-bottom:1px solid $yamato-green-01;
                    color:#fff;
                    text-decoration:none;
                    background-color:$yamato-green-01;

                    @media screen and ( max-width: $w-760 ){
                        border-top:1px solid #c6c9d3;
                        border-bottom:1px solid #c6c9d3;
                        color:$link-color;
                        background-color:#fff;
                    }
                }

                span{
                    @media screen and ( max-width: $w-760 ){
                        padding:7px 10px 6px;
                        display:block;
                    }
                }
            }

            &.active{
                a{
                    border-top:1px solid $yamato-green-01;
                    border-bottom:1px solid $yamato-green-01;
                    position:relative;
                    color:#fff;
                    background-color:$yamato-green-01;

                    &:before{
                        margin-left:-6px;
                        position:absolute;
                        bottom:-7px;
                        left:50%;
                        display:block;
                        width:12px;
                        height:6px;
                        content:'';
                        background:#fff url('/assets/img/bg/bg_nav-tab-01_current.png') no-repeat 50% 100%;
                        background-size:12px 6px;
                    }
                }
            }
        }
    }

    .tab-contents{
        &.active{
            display:block!important;
        }

        .tab-inner{
            padding:40px 0 0 0;

            @media screen and ( max-width: $w-760 ){
                padding:20px 0 0 0;
            }
        }
    }

    &.active{
        .tab-contents{
            display:none;
        }
    }
}

/* nav-btn-01
--------------------------------------- */
.nav-btn-01{
    text-align:center;

    a{
        padding:15px 10px;
        position:relative;
        box-sizing:border-box;
        border-radius:10px;
        box-shadow:0 2px 0 0 #c7c900;
        display:inline-block;
        vertical-align:middle;
        color:#333;
        background-color:#fcff00;
        text-align:center;
        font-weight:bold;
        transition:all 0.2s ease 0s;

        @media screen and ( max-width: $w-760 ){
            padding:10px 5px;
            font-size:fz(13);
        }

        &:active{
            box-shadow:0 3px 0 0 rgba(0, 0, 0, 0.15) inset!important;

            @media screen and ( max-width: $w-760 ){
                box-shadow:0 2px 0 0 #c7c900!important;
            }
        }

        &:focus,
        &:hover{
            box-shadow:none;
            background-color:#ffd600;
            text-decoration:none;

            @media screen and ( max-width: $w-760 ){
                box-shadow:0 2px 0 0 #c7c900;
                background-color:#fcff00;
            }
        }
    }

    &.w-354{
        a{
            width:354px;
        }

        @media screen and ( max-width: $w-760 ){
            a{
                width:100%;
            }
        }
    }
}

/* nav-btn-02
--------------------------------------- */
.nav-btn-02{
    margin-bottom:20px;

    a{
        border-radius:10px;
        padding:7px 10px;
        position:relative;
        box-sizing:border-box;
        display:block;
        width:258px;
        vertical-align:middle;
        text-align:center;
        text-decoration:none;
        transition:all 0.2s ease 0s;

        &:focus,
        &:hover{
            text-decoration:none;
        }

        &:active{
            box-shadow:0 3px 0 0 rgba(0, 0, 0, 0.15) inset!important;
            background-color:#129989!important;
        }

        @media screen and ( max-width: $w-960 ){
            width:248px;
            font-size:fz(12);
        }

        @media screen and ( max-width: $w-760 ){
            padding:10px 10px;
            width:100%;
            max-width:100%;
            font-size:fz(14);
        }
    }

    ul{
        @extend .clearfix;

        li{
            margin:0 20px 0 0;
            float:left;
            display:block;

            @media screen and ( max-width: $w-760 ){
                margin-bottom:15px;
                width:100%;

                &:last-child{
                    margin-bottom:0;
                }
            }

            &:last-child{
                margin-right:0!important;
            }
        }
    }

    p{
        @media screen and ( max-width: $w-760 ){
            margin-bottom:15px;
        }
    }

    &.type-01{
        a{
            border:1px solid #c6c9d3;
            background-color:#fff;
            box-shadow:0 2px 0 0 #c6c9d3;
            color:$link-color;

            &:focus,
            &:hover{
                border:1px solid transparent;
                box-shadow:none;
                color:#fff;
                background-color:$yamato-green-01;

                @media screen and ( max-width: $w-760 ){
                    border:1px solid #c6c9d3;
                    box-shadow:0 2px 0 0 #c6c9d3;
                    color:$link-color;
                    background-color:#fff;
                }
            }

            &:active{
                @media screen and ( max-width: $w-760 ){
                    box-shadow:0 2px 0 0 #c6c9d3!important;
                    background-color:#fff!important;
                }
            }
        }
    }

    &.type-02{
        a{
            background-color:$yamato-green-01;
            box-shadow:0 2px 0 0 #00655a;
            color:#fff;

            &:focus,
            &:hover{
                box-shadow:none;
                background-color:#19bbaa;

                @media screen and ( max-width: $w-760 ){
                    box-shadow:0 2px 0 0 #00655a;
                    background-color:$yamato-green-01;
                    color:#fff;
                }
            }

            &:active{
                @media screen and ( max-width: $w-760 ){
                    box-shadow:0 2px 0 0 #00655a!important;
                    background-color:$yamato-green-01!important;
                }
            }
        }

        .map,
        .external{
            span{
                &:before{
                    color:#fff!important;
                }
            }
        }
    }

    .pdf{
        span{
            padding-left:19px;
            position:relative;

            &:before{
                position:absolute;
                top:6px;
                left:0px;
                width:11px;
                height:13px;
                content:'';
                background:url('/assets/img/icon/icon_pdf_01.png') no-repeat 0 0;
                background-size:11px 13px;

                @media screen and ( max-width: $w-960 ){
                    top:3px;
                }

                @media screen and ( max-width: $w-760 ){
                    top:6px;
                }
            }
        }
    }

    .map{
        span{
            padding-left:19px;
            position:relative;
            @extend .icon-map-01;

            &:before{
                position:absolute;
                top:6px;
                left:0;
                color:#20a898;
                vertical-align:middle;
                font-size:12px;

                @media screen and ( max-width: $w-960 ){
                    top:4px;
                }

                @media screen and ( max-width: $w-760 ){
                    top:6px;
                }
            }
        }

        a{
            &:focus,
            &:hover{
                span{
                    &:before{
                        color:#fff;

                        @media screen and ( max-width: $w-760 ){
                            color:#20a898;
                        }
                    }
                }
            }
        }
    }

    .external{
        span{
            padding-left:19px;
            position:relative;
            @extend .icon-window-01;

            &:before{
                position:absolute;
                top:7px;
                left:0;
                color:#20a898;
                vertical-align:middle;
                font-size:12px;

                @media screen and ( max-width: $w-960 ){
                    top:4px;
                }

                @media screen and ( max-width: $w-760 ){
                    top:7px;
                }
            }
        }

        a{
            &:focus,
            &:hover{
                span{
                    &:before{
                        color:#fff;

                        @media screen and ( max-width: $w-760 ){
                            color:#20a898;
                        }
                    }
                }
            }
        }
    }

    .movie{
        span{
            padding-left:19px;
            position:relative;
            @extend .icon-movie-01;

            &:before{
                position:absolute;
                top:6px;
                left:0;
                color:#20a898;
                vertical-align:middle;
                font-size:12px;

                @media screen and ( max-width: $w-960 ){
                    top:4px;
                }

                @media screen and ( max-width: $w-760 ){
                    top:6px;
                }
            }
        }

        a{
            &:focus,
            &:hover{
                span{
                    &:before{
                        color:#fff;

                        @media screen and ( max-width: $w-760 ){
                            color:#20a898;
                        }
                    }
                }
            }
        }

        &.current{
            a{
                border:1px solid #fff;
                box-shadow:none;
                color:#fff;
                background-color:transparent;

                span{
                    &:before{
                        color:#fff;
                    }
                }
            }
        }
    }

    &.w-121{
        li{
            width:121px;

            @media screen and ( max-width: $w-1280 ){
                margin-right:10px;
                width:70px;
                font-size:fz(12);
            }

            @media screen and ( max-width: $w-760 ){
                margin:0 5.813953488372093% 14px 0;
                width:46.89922480620155%;
                font-size:fz(14);
            }

            a{
                width:100%;
            }
        }

        &.center{
            margin:0 auto;
            width:262px;

            @media screen and ( max-width: $w-1280 ){
                li{
                    margin-right:20px;
                    width:121px;
                    font-size:fz(14);
                }
            }
        }
    }

    &.w-100{
        li,p{
            width:100%;

            a{
                width:100%;
            }
        }
    }

    &.modal-nav-01{
        text-align:center;

        li,p{
            float:none;
            display:inline-block;
        }
    }
}

/* nav-category-01
--------------------------------------- */
.nav-category-01{
    padding-bottom:15px;

    @media screen and ( max-width: $w-760 ){
        padding-bottom:20px;
    }

    ul{
        margin-left:-1.219512195121951%;
        width:102.439024390243902%;
        @extend .clearfix;

        li{
            margin:0 1.219512195121951% 25px;
            border:1px solid #d7d7d7;
            border-radius:5px;
            display:inline-block;
            width:22.5609756097561%;
            box-sizing:border-box;
            //@include box-shadow-01;
            /*c*/

            @media screen and ( max-width: $w-1064 ){
                margin:0 1.219512195121951% 25px;
                width:47.5609756097561%;
            }

            @media screen and ( max-width: $w-760 ){
                margin:0 0 10px;
                display:block;
                width:100%;
            }

            &:active,
            &:hover,
            &:focus{
                a{
                    text-decoration:none;
                }

                /*box-shadow:none;
                opacity:0.7;

                a{
                    text-decoration:none;

                    .title{
                        text-decoration:underline;
                    }
                }*/
            }

            a{
                padding:15px 7.782101167315175% 15px;
                box-sizing:border-box;
                display:table;
                width:100%;
                @extend .clearfix;

                @media screen and ( max-width: $w-760 ){
                    padding:8px 6.834532374100719% 10px;
                }

                .image{
                    padding-right:11.9815668202765%;
                    display:table-cell;
                    vertical-align:middle;
                    width:29.95391705069125%;

                        @media screen and ( max-width: $w-760 ){
                            padding-right:5.99078341013825%;
                            width:14.97695852534563%;
                            vertical-align:middle;
                        }

                    img{
                        width:100%;
                        vertical-align:middle;
                    }
                }

                .text{
                    display:table-cell;
                    vertical-align:middle;

                    @media screen and ( max-width: $w-760 ){
                        height:44px;
                    }

                    .title{
                        line-height:1.5;
                        font-size:fz(18);
                        font-weight:bold;

                        @media screen and ( max-width: $w-760 ){
                            font-size:fz(14);
                        }
                    }

                    .description{
                        padding-top:4px;
                        line-height:1.5;
                        color:#666;
                        font-size:fz(12);

                        @media screen and ( max-width: $w-760 ){
                            font-size:fz(10);
                        }
                    }
                }
            }
        }
    }
}


/* nav-index-06
--------------------------------------- */
.nav-index-06{
    overflow:hidden;
    ul.column-wrap{
        position:relative;
        margin-left:-2.67379679144%;
        overflow:hidden;

        @media screen and ( max-width: $w-760 ){
            width:102.5%;
            margin:0 0 0 -2.5%;
        }
    }

    li.column{
        position:relative;
        display:inline-block;
        float:left;
        width:30.7291666667%;
        margin:0 0 2.60416666667% 2.60416666667%;
        overflow:hidden;

        @media screen and ( max-width: $w-760 ){
            border:1px solid #c6c9d3;
            width:47.5%;
            margin:0 0 2.5% 2.5%;
            padding-bottom:5px;
            overflow:auto;
            box-sizing:border-box;

            &:before{
                    display:block;
                    width:100%;
                    height:100%;
            }
        }

        a{

            @media screen and ( max-width: $w-760 ){
                text-decoration:none;
            }

            .bg-img{
                @media screen and ( max-width: $w-760 ){
                    position:relative;
                    &:before{
                        position:absolute;
                        top:0;
                        left:0;
                        content:"";
                        display:block;
                        width:100%;
                        height:100%;
                        background-color:rgba(0,0,0,0.45);
                        z-index:1;
                    }
                }

                img{
                    width:100%;
                    transition:transform .8s ease;
                    transform:scale(1);
                    transform-origin:50% 50%;
                }
            }

            &:hover,
            &:focus{

                .bg-img{

                        img{
                        transform:scale(1.1);
                        @media screen and ( max-width: $w-760 ){
                            transform:scale(1);
                        }
                    }
                }
            }
        }

        .pickup{
            position:absolute;
            top:0;
            left:30px;
            background:#ffda00;
            color:#333;
            padding:10px 25px;
            border-radius:0 0 5px 5px;
            line-height:1;
            z-index:1;

            @media screen and ( max-width: $w-760 ){
                left:4.067%;
            }


        }

        &.long-thumb{
            width:64.0625%;

            @media screen and ( max-width: $w-760 ){
                width:98%;

                &:before{
                    display:none;
                }
                .tag{
                    margin-top:0;
                }
            }

            .bg-img{

                @media screen and ( max-width: $w-760 ){
                    &:before{
                        display:none;
                    }
                }

            }

            .text-area{
                height:auto;
                padding:4.067%;

                .title{
                    font-size:fz(26);
                    margin-bottom:15px;
                    line-height:1;

                    @media screen and ( max-width: $w-760 ){
                        font-size:fz(20);
                        line-height:1.5;
                    }
                }

                .list-link-01{
                    margin-bottom:0;

                    @media screen and ( max-width: $w-760 ){
                        margin-bottom:5px;
                    }

                    li:before{
                        display:none;
                    }
                    li.map{
                        display:inline-block;
                        font-weight:700;
                        margin-right:20px;
                        line-height:1;
                        @media screen and ( max-width: $w-760 ){
                            display:block;
                            margin-bottom:10px;
                        }

                        &:before{
                            display:block;
                            top:0;
                            font-size:fz(16);
                            color:#FFF;

                            @media screen and ( max-width: $w-760 ){
                                color:#ffda00;
                            }
                        }
                    }
                }
            }
        }

        .text-area{
            position:absolute;
            bottom:0;
            left:0;
            background-color:rgba(0,0,0,0.45);
            color:#FFF;
            width:100%;
            height:100%;
            padding:8.478%;
            box-sizing:border-box;

            @media screen and ( max-width: $w-760 ){
                position:static;
                top:0;
                bottom:inherit;
                background-color:transparent;
                padding:3%;
                color:#333;
            }

            .area-title{
                position:relative;
                top:-2.92%;
                font-size:fz(26);
                text-align:center;

                span{
                    font-size:fz(10);
                }

                @media screen and ( max-width: $w-1064 ){
                    font-size:fz(22);
                }


                @media screen and ( max-width: $w-760 ){
                    position:absolute;
                    color:#FFF;
                    top:50%;
                    left:0;
                    font-size:fz(20);
                    width:100%;
                    margin-top:-8.5rem;
                    z-index:5;
                }



            }

            .area-map{
                position:relative;
                top:-4.02%;
                font-weight:700;
                width:39%;
                margin:0 auto 3.745%;
                text-align:center;
                line-height:1;

                img{
                    width:100%;
                }

                @media screen and ( max-width: $w-760 ){
                    position:absolute;
                    width:100%;
                    top:24%;
                    left:0;
                    z-index:2;

                    img{
                        width:43%;
                    }
                }
            }

            .title{
                font-weight:700;

                @media screen and ( max-width: $w-1064 ){
                    overflow:hidden;
                    text-overflow:ellipsis;
                    white-space:nowrap;
                    line-height:1;
                }

                @media screen and ( max-width: $w-760 ){
                    line-height: 1.8;
                    overflow: auto;
                    white-space: normal;
                    text-overflow: inherit;
                }


            }
        }

        .tag{
            display:inline-block;
            font-size:fz(10);
            color:#fff;
            padding:3px 10px;
            margin-right:10px;
            border-radius:4px;
            line-height:1;

            @media screen and ( max-width: $w-760 ){
                font-size:fz(14);
                margin:10px 0;
            }
        }

        .tag-text-01{
            background:#34a95a;
        }

        .tag-text-02-01{
            background:#7ec017;
        }

        .tag-text-02-02{
            background:#c7a800;
        }

        .tag-text-02-03{
            background:#e25c88;
        }

        .tag-text-02-04{
            background:#7e68c1;
        }

        .tag-text-03{
            background:#ed8247;
        }

        .tag-text-06{
            background:#43a7c4;
        }
    }
}

/* nav-page-top-01
--------------------------------------- */
#nav-page-top-01{
    position:fixed;
    bottom:40px;
    right:40px;
    background: url('/assets/img/icon/icon_pagetop_01.png') no-repeat 0 0;
    background-size: 80px 1126px;
    display:none;
    width:80px;
    height:80px;
    cursor:pointer;
    z-index:10001;

    @media screen and ( max-width: $w-760 ){
        display:none!important;
    }

    &:hover,
    &:focus{
        animation:sprite-pagetop 0.3s steps(13) forwards;

        @media screen and ( max-width: $w-760 ){
            animation:none;
        }
    }
}

@keyframes sprite-pagetop
{
    0%
    {
        background-position:0 0;
    }
    100%
    {
        background-position:0 -1047px;
    }
}
