@charset "UTF-8";

/* -------------------------------------------------------------------

    Table Module

-------------------------------------------------------------------- */

/*  tbl-container
--------------------------------------- */
.tbl-container{
    margin-bottom:40px;

    @media screen and ( max-width: $w-760 ){
        margin-bottom:20px;
        overflow-x:scroll;

        .tbl-data-01{
            width:150%;
        }
    }

    .tbl-data-01{
        margin-bottom:0;
    }
}

/*  tbl-data-01
--------------------------------------- */
.tbl-data-01{
    margin-bottom:40px;
    border:1px solid #c6c9d3;

    @media screen and ( max-width: $w-760 ){
        margin-bottom:20px;
    }

    thead{
        th{
            padding:11px 17px 12px;
            border-bottom:1px solid #c6c9d3;
            border-left:1px solid #c6c9d3;
            background-color:#e1e3e9;
            vertical-align:middle;
            text-align:center;
            word-wrap:break-word;
        }
    }

    tbody{
        th{
            padding:11px 17px 12px;
            border-bottom:1px solid #c6c9d3;
            border-left:1px solid #c6c9d3;
            background-color:#f5f6f8;
            vertical-align:middle;
            word-wrap:break-word;
        }

        td{
            padding:11px 17px 12px;
            border-bottom:1px solid #d7d7d7;
            border-left:1px solid #d7d7d7;
            vertical-align:middle;
            background-color:#fff;
            word-wrap:break-word;

            &.em-cell-01{
                background-color:#fffbe5;
            }

            &.em-cell-02{
                background-color:#ffef99;
            }

            &.em-cell-03{
                background-color:#ffd800;
            }
        }
    }
}

/*  tbl-data-02
--------------------------------------- */
.tbl-data-02{
    margin-bottom:40px;
    border:1px solid #d7d7d7;

    @media screen and ( max-width: $w-760 ){
        margin-bottom:20px;
        border-bottom:none;
        border-left:none;

        colgroup{
            col{
                width:100%!important;
            }
        }
    }

    tbody{
        th{
            padding:11px 17px 12px;
            border-bottom:1px solid #d7d7d7;
            border-left:1px solid #d7d7d7;
            background-color:#f5f6f8;
            vertical-align:middle;
            word-wrap:break-word;

            @media screen and ( max-width: $w-760 ){
                border-right:1px solid #d7d7d7;
                padding:6px 8px 7px;
                box-sizing:border-box;
                display:list-item;
                width:100%;
                list-style:none;

            }
        }

        td{
            padding:11px 17px 12px;
            border-bottom:1px solid #d7d7d7;
            border-left:1px solid #d7d7d7;
            vertical-align:middle;
            background-color:#fff;
            word-wrap:break-word;

            @media screen and ( max-width: $w-760 ){
                padding:6px 8px 7px;
                border-right:1px solid #d7d7d7;
                box-sizing:border-box;
                display:list-item;
                width:100%;
                list-style:none;
            }

            &.em-cell-01{
                background-color:#fffbe5;
            }

            &.em-cell-02{
                background-color:#ffef99;
            }

            &.em-cell-03{
                background-color:#ffd800;
            }
        }
    }
}
