/* ============================================
 Members Page
============================================ */

/* Reset */
body{
color: #000;
background-color:#000;
width: 100%;
line-height: 1.8;
}

/* IE6, 7 centering */

html* body{
	text-align:center;
}




/* clearfix
------------------------------------------*/
.clearFix:after {
content: ".";
display: block;
clear: both;
height: 0;
visibility: hidden;
}
.clearFix { display: inline-block; zoom:1; overflow:hidden;}
/* exlude MacIE5 \*/
* html .clearFix { height: 1%; _height: 0; }
.clearFix {display:block;}
/* end MacIE5 */

/* Common */

.bgYellow{background-color:#fdd000;position:relative;}

.bodyWrap{
	width: 100%;
	box-sizing: border-box;
	border-left: 20px solid #000;
	border-right: 20px solid #000;
	border-bottom: 20px solid #000;
	border-top: 0px solid #000;
}

html*.bodyWrap{width:96%; margin:0 auto; border:none; text-align:center;}

/*ie7*/
*+html .bodyWrap{margin-top:20px;}
/*ie6*/
* html .bodyWrap{border-top:20px #000 solid;}


.bodyWrap a{
	color:#000;
	text-decoration:underline;
}
.bodyWrap a:hover{}


.inner{
	width:910px;
	padding:0 20px;
	background-color:#000;
	margin:0 auto;
}
/*IE6,7*/
html*.inner{text-align:left;}

.imgReplace{
	text-indent:-9999px;
	overflow:hidden;
	display:block;
	background-repeat:no-repeat;
}


/*----------------------------------------main visual*/
#mainV{
	position:relative;
	width:910px;
	height:480px;
}


/*----------------------------------------------------Footer*/

#footer{
height:80px;
}
#footer #footerIn{
padding:20px 0 0 0;
margin:0 auto;
text-align:left;
width:910px;
}

#footerIn .footerNavi{
float:left;
}

#footerIn .footerNavi li{
float:left;
margin:0 ;
padding:0;
font-size:12px;
}

#footerIn .footerNavi li a,
#footerIn .footerNavi li .pipe{
color:#FFF;
}
#footerIn .footerNavi li .pipe{
margin:0 12px;
}
#footerIn .copyright{
float:right;
top:20px;
right:0;
color:#FFF;
font-size:10px;
letter-spacing:0.08em;
width:400px;
text-align:right;
}



/*-------New Nav---------------*/
#newNav{
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #000;
	z-index: 2000;
}
#headerWrapper{
	height: inherit;
	width: 830px;
	display: block;
	margin: 0 auto;
	position: relative;
}

#nNav{
	position: absolute;
	height: inherit;
	right:0;
	top:0;
	z-index: 2000;
}
#nNav li{
	height: 50px;
	float: left;
}
#nNav a{
	height: 50px;
	display: block;
	text-indent: -9999px;
}

#nNav .nLogo {
	position:absolute;
	left:0;
	top:0;
}

#nNav .na0{
	background:url(../img/nav_top.png);
	width: 85px;
}
#nNav .na1{
	background: url(../img/nav_message.png);
	width: 162px;
}
#nNav .na2{
	background: url(../img/nav_ayumi.png);
	width: 136px;
}

#nNav .active,
#nNav .na0:hover,
#nNav .na1:hover,
#nNav .na2:hover {
	background-position: 0 -50px;
}


/*-------New MainArea---------------*/
#mainArea{
	width: 100%;
	padding-top:120px;
	position: relative;
	overflow: hidden;
}

h1 {
	width:350px;
	height:36px;
	margin:0 auto 70px;
}

h2 {
	background:url(../img/icon.gif) no-repeat 0 0;
	height:40px;
	line-height:1.7em;
	text-indent:23px;
	letter-spacing:0.1em;
	font-weight:400;
}

.contents {
	width:780px;
	margin:0 auto;
	clear:both;
}

.navi {
	width:600px;
	margin:0 auto;
}

.box {
	width:780px;
	background-color:#FFFFFF;
	clear:both;
}

h3 {
	font-size:22px;
	letter-spacing:0.15em;
	line-height:1.3em;
}

p {
	letter-spacing:0.05em;
	text-align:justify;
	text-justify:distribute;
	font-size:14px;
}

.floatR floatL {
	text-justify:distribute;
	font-size:14px;
}


/*----------------------------------------modal-triggers*/

.modal-triggers {
}

.modal-triggers li {
	width:252px;
	height:120px;
	overflow:hidden;
	float:left;
	margin-bottom:12px;
	margin-right:12px;
	cursor:pointer;
}

.modal-triggers li:hover {
	opacity:0.8;
}

.modal{
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 10000;
	background-color: rgba(0,0,0,0.7);
}
.modal-body{
	position: relative;
	margin: 100px auto;
	width: 800px;
	height: 510px;
	background-color: #FDD000;
	border-radius: 6px;
}
.ui{
	position: absolute;
	cursor: pointer;
	z-index: 2;
}
.ui-close{
	top: 0;
	right: 0;
	border-radius: 0 6px 0 0;
}
.ui-prev{
	top: 230px;
	left: -20px;
}
.ui-next{
	top:230px;
	right: -20px;
}
.slide-wrapper{
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#slides{
	position: absolute;
	left: 0;
	top: 0;
	/*background-color: #f00;*/
	height: 510px;
	width: 7200px;
}
.slide{
	position: relative;
	width: 800px;
	height: 510px;
	float: left;
}

.slide h3{
	position: absolute;
	font-size: 28px;
	top: 45px;
	left: 60px;
	letter-spacing:0.05em;
}
.slide h3 small{
	font-size: 18px;
	margin-left: 10px;
	line-height:-1em;
}
.slide-left{
	line-height: 1.6;
	position: absolute;
	width: 330px;
	top: 100px;
	left: 60px;
	text-align: justify;
}
.slide-right{
	position: absolute;
	width: 320px;
	top: 100px;
	right: 60px;
}
.slide-right p{
	margin-top: 10px;
}

#anchor1 {
	padding-top:70px;
}

#anchor2 {
	padding-top:70px;
}

#anchor3 {
	padding-top:70px;
	padding-bottom:70px;
}