@charset "utf-8";
/* CSS Document */


.fontBig {
	font-size:18px;
	font-weight:bold;
	color:#008576;
}

.err {
	color:#ff0000;
}

#copyArea {
	background:url(../image/back_repeat.gif) repeat-y left top;
	width:718px;
}
.copyTopInner {
	background:url(../image/back_top.gif) no-repeat left top;
	padding-top:15px;
}
.copyBottomInner {
	background:url(../image/back_bottom.gif) no-repeat left bottom;
	padding-bottom:15px
}
.posiRe {
	position:relative;
}
.posiAb {
	position:absolute;
	right:21px;
	top:50%;
	margin: -26px 0 0;
}


.labelAreaBg {
	background:#fcede6;
	padding:15px;
}
#appArea {
	background:url(../image/app_repeat.gif) repeat-y left top;
	width:718px;
}
.appTopInner {
	background:url(../image/app_top.gif) no-repeat left top;
	padding-top:10px;
}
.appBottomInner {
	background:url(../image/app_bottom.gif) no-repeat left bottom;
	padding-bottom:10px;
}
.bkImgArea {
	background:url(../image/takkyubin_21.gif) no-repeat left top;
	width:336px;
	height:68px;
	padding-top:12px;
}
#appArea .bkImgArea.floatL.ml15 {_margin-left:8px!important;}
#appArea .bkImgArea.floatR.mr15 {_margin-right:8px!important;}
#appArea p.ml15 {_margin-left:20px!important;}



#importantArea {
	background:url(../image/important_repeat.gif) repeat-y left top;
	width:718px;
	font-size:14px;
}
.importantTopInner {
	background:url(../image/important_top.gif) no-repeat left top;
	padding-top:10px;
}
.importantBottomInner {
	background:url(../image/important_bottom.gif) no-repeat left bottom;
	padding-bottom:10px;
}


img {
	vertical-align:bottom;
}

#p1 ul {
	list-style:none;
	overflow:hidden;
	zoom:1;
	width:474px;
}
#p2 ul {
	list-style:none;
	overflow:hidden;
	zoom:1;
	width:160px;
}
#p1 li,#p2 li {
	float:left;
	display:inline;
}
#p1 li {
	width:78px;
}
#p2 li {
	width:79px;
}
.borderT {
	border-top:1px solid #bfb6a2;
}
.borderL {
	border-left:1px solid #bfb6a2;
}
.borderB {
	border-bottom:1px solid #bfb6a2;
}
.borderR {
	border-right:1px solid #bfb6a2;
}