@charset "utf-8";
/*
 *	-- Layout Style --
 *
 *	01.	#wrapperMiddle Style
 *
 * - - - - - - - - - - - - - - - */
/*
 *	01.	#wrapperMiddle Style
 */
#wrapperMiddle #wrapInner .inner {
  padding-bottom: 0;
  margin-bottom: 55px;
}
#wrapperMiddle #wrapInner .inner #contentsArea ul.localNav {
  width: 230px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsHead {
  height: 54px;
  border: none;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody {
  padding: 28px 0 0;
  overflow: hidden;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody header {
  margin-bottom: 35px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody header h2 {
  margin: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea p {
  line-height: 2.3;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsTop {
  background: url(../../../shared/img/common_bgHeader_dotLine.png) repeat-x left bottom;
  width: 940px;
  padding-bottom: 25px;
  margin-bottom: 45px;
  overflow: hidden;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsTop .contents01 {
  float: left;
  width: 550px;
  padding-right: 29px;
  border-right: 1px solid #ccc;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsTop .contents01 h3 {
  margin: 0 0 25px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsTop .contents01 .photoRight {
  float: right;
  margin: 0 0 25px 25px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsTop .contents02 {
  float: right;
  width: 320px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsTop .contents02 h3 {
  margin: 0 0 10px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsTop .contents02 p {
  margin: 0 0 20px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsTop .contents02 p.lead {
  font-size: 0.85em;
  line-height: 1.4;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsTop .contents02 p.more {
  text-align: right;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsTop .contents02 p.more a {
  background: url(../../../shared/img/common_icoContents_bulletOff.png) no-repeat left 1px;
  padding-left: 20px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsTop .contents02 p.more a:hover {
  background: url(../../../shared/img/common_icoContents_bulletOn.png) no-repeat left 1px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsTop .contents02 dl {
  background-color: #F7F7F7;
  padding: 1px;
  border: 1px solid #CCCCCC;
  overflow: hidden;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsTop .contents02 dl dt {
  float: left;
  width: 58px;
  padding: 10px 0 10px 12px;
  margin-right: 10px;
  color: #1E9798;
  font-size: 0.85em;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsTop .contents02 dl dd {
  padding: 10px 12px 10px 80px;
  margin: 0;
  border-bottom: 1px dotted #aaaaaa;
  font-size: 0.85em;
  line-height: 1.6;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsTop .contents02 dl dd:nth-child(4n+4) {
  background: url(../../../shared/img/common_bgContents_dot.png) repeat left top;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsTop .contents02 dl dd:last-child {
  border: none;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsBottom {
  width: 940px;
  margin-bottom: 50px;
  overflow: hidden;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsBottom .contents01 {
  background: url(../../../shared/img/common_bgContents_noiseWhite.png) repeat left top;
  float: left;
  width: 400px;
  padding: 25px 30px;
  border: 1px solid #DCDCDC;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsBottom .contents02 {
  background: url(../../../shared/img/common_bgContents_noiseWhite.png) repeat left top;
  float: right;
  width: 400px;
  padding: 25px 30px;
  border: 1px solid #DCDCDC;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsBottom .photoRight {
  float: right;
  margin: 0 0 20px 20px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsBottom section header {
  margin: 0 0 20px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsBottom section header h3 {
  height: 22px;
  margin: 0 0 20px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsBottom section header p {
  margin: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea #contentsBottom section section h4 {
  margin: 0 0 20px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #globalArea p#bnrPower {
  margin: 0;
  text-align: center;
}
