/* FAQ Style
------------------------------------------*/
/* Question */
.ContentsArea-2col ul.defaultLink {
background:none;
padding:0;
}
.ContentsArea-2col .article {
padding-top:0px;
}
.ContentsArea-2col ul.defaultLink li {
background:url(../../common/image/shared/parts/arrow_link.gif) no-repeat 4px 0.3em;
margin-bottom:10px;
padding-left:13px;
}
.ContentsArea-2col ul.floatR li.defaultLink {
zoom:0;
}
.ContentsArea-2col li.blankLink {
margin-top:10px;
}
.ContentsArea-2col ul.floatR li {
margin-top:10px;
}
.typeA{
padding-left:4em;
text-indent:-3em;
}

.articleTypeA ul.defaultLink {
overflow: hidden;
}

.articleTypeA ul.defaultLink li {
float: left;
width: 315px;
}

.pr1em {
  padding-right: 1em;
}