/*==========================================

header

==========================================*/
#header{
width: 100%;
height:103px;
text-align:center;
background: url(../image/bg_header_members.gif) repeat-x left top;
}

#headerIn{
width:958px;
padding:0 0 10px 0;
margin:0 auto;
position:relative;
text-align:left;
}

#headerIn p.logo {
padding:40px 0 0 10px;
}

#headerIn p.home {
position:absolute;
top:53px;
left:275px;
width:53px;
height:12px;
}

#headerIn p.yamato {
position:absolute;
top:21px;
right:0;
z-index:100;
}

#headerNavi {
position:absolute;
top:18px;
left:380px;
}

/* Font Size */
#fontSize {
padding:3px 0 0 101px;
background:url(../../common/image/shared/portal/bg_navi_font.gif) no-repeat left top;
width:73px;
height:24px;
float:left;
}
#fontSize li {
float:left;
margin-right:2px;
}
#fontSize li img {
cursor:pointer
}

#headerInfoNavi {
float:left;
margin:7px 0 0 10px;
}

#headerInfoNavi li {
float:left;
margin-right:20px;
line-height: 1px !important;
font-size: 1px !important;
}

#loginBox {
width:569px;
height:38px;
margin-top:1px;
float:left;
background:url(../image/bg_login_bef.gif) no-repeat left top;
}

#loginBox .loginName {
text-align:right;
padding:13px 10px;
color:#333;
}