.clearfix:after { display:block; clear:both; height:0px; visibility:hidden; content:"."; }
.clearfix { min-height: 1px; }
* html .clearfix { height: 1px; height: auto; overflow: hidden; }

#locker_uketori { width:710px; text-align:center; position:relative; margin-left:-8px; }
#locker_uketori * { padding:0; margin:0; }
#locker_uketori .alt { display:none; }
#locker_uketori .ds { background:url(../image/locker/locker_ds_bg.png) 0px 0px repeat-y; width:726px; }
#locker_uketori .ds .in1 { background:url(../image/locker/locker_ds_top.png) left top no-repeat; padding-top:22px; width:726px; }
#locker_uketori .ds .in1 .in2 { background:url(../image/locker/locker_ds_bottom.png) left bottom no-repeat; padding-bottom:22px; text-align:center; width:726px; }
#locker_uketori .image { margin:0 auto 0 auto; width:710px; }
#locker_uketori .inner { }
#locker_img_01 { width:726px; height:393px; margin:0 auto 15px auto; background:url(../image/locker/locker_img_01.jpg) top center no-repeat; }
#locker_img_02 { background:url(../image/locker/locker_img_02.png) 0px 0px no-repeat; height:53px; }
#locker_img_03 { background:url(../image/locker/locker_img_03.png) 0px 0px no-repeat; padding:321px 0 0 0; }
#locker_img_03  .txt { text-align:left; padding:0 43px 12px 43px; }
#locker_img_03 table { margin-top:10px; }
#locker_img_03 table tr th { width:240px; padding-bottom:5px; }
#locker_img_03 table tr td { padding-bottom:5px; vertical-align: middle; }
#locker_img_03 table tr td .arrow { vertical-align: middle; margin-right:4px; }
#locker_img_03 table tr td a { color:#333399; text-decoration:underline; }
#locker_img_03 table tr td a:hover { color:#3333ff; }
#locker_img_04 { background:url(../image/locker/locker_img_04.png) 0px 0px no-repeat; height:129px; }
#locker_img_05 { background:url(../image/locker/locker_img_05.png) 0px 0px no-repeat; height:64px; }
#locker_img_06 { background:url(../image/locker/locker_img_06.png) 0px 0px no-repeat; height:135px; }
#locker_img_07 { background:url(../image/locker/locker_img_07.png) 0px 0px no-repeat; height:473px; }

#locker_img_07_top { background:url(../image/locker/locker_img_07_top.png) 0px 0px no-repeat; padding-top:21px; }
#locker_img_07_bottom { background:url(../image/locker/locker_img_07_bottom.png) left bottom no-repeat; padding-bottom:323px; }
#locker_img_07_bg { background:url(../image/locker/locker_img_07_bg.png) 0px 0px repeat-y; }
#locker_img_07_bg .inner { text-align:left; padding:0 75px 0 75px; }
#locker_uketori .caution1 { text-align:left; padding:0 55px 12px 55px; }

#locker_img_08 { background:url(../image/locker/locker_img_08.png) top center no-repeat; width:726px; height:93px; margin:0 auto 0 auto; }

#locker_img_09 { background:url(../image/locker/locker_img_09.png) 0px 0px no-repeat; padding-top:62px; }

#locker_img_09 .tinner { padding: 0 54px 30px 54px; }
#locker_img_09 table { border-top:1px solid #000; border-left:1px solid #000; border-collapse:separate !important; }
#locker_img_09 table tr {}
#locker_img_09 table tr th,#locker_img_09 table tr td { border-right:1px solid #000; border-bottom:1px solid #000; }
#locker_img_09 table tr th .inner,#locker_img_09 table tr td .inner { padding:10px; text-align:center; }
#locker_img_09 table tr th { background:#cceae6; }
#locker_img_09 table tr td {}
#locker_img_09 table tr td .inner .mini { }

#locker_img_11 { background:url(../image/locker/locker_img_11.png) 0px 0px no-repeat; height:601px; }
#locker_img_13 { background:url(../image/locker/locker_img_13.png) 0px 0px no-repeat; height:601px; }
#locker_img_14 { background:url(../image/locker/locker_img_14.png) 0px 0px no-repeat; height:56px; }
#locker_img_15 { background:url(../image/locker/locker_img_15.png) 0px 0px no-repeat; height:601px; }
#locker_img_16 { background:url(../image/locker/locker_img_16.png) 0px 0px no-repeat; height:601px; }
#locker_img_17 { background:url(../image/locker/locker_img_17.png) 0px 0px no-repeat; height:601px; }
#locker_img_18 { background:url(../image/locker/locker_img_18.png) 0px 0px no-repeat; height:601px; }
#locker_img_19 { background:url(../image/locker/locker_img_19.png) 0px 0px no-repeat; height:601px; }
#locker_img_20 { background:url(../image/locker/locker_img_20.png) 0px 0px no-repeat; height:601px; }
#locker_img_21 { background:url(../image/locker/locker_img_21.png) 0px 0px no-repeat; height:601px; }


#locker_img_04 { position:relative; text-align:left; }
#locker_img_04 dl dd.link01   { position: absolute; left:272px; top:67px; }
#locker_img_04 dl dd.link01 a { display:block; width:130px; height:17px; background:url(../image/locker/clear.gif); }
#locker_img_04 dl dd.link02   { position: absolute; left:272px; top:93px; }
#locker_img_04 dl dd.link02 a { display:block; width:228px; height:17px; background:url(../image/locker/clear.gif); }

#locker_uketori .locker_img_title { width:670px; background:url(../image/locker/locker_img_title.png) 0px 0px no-repeat; margin:0 auto 0 auto; }
#locker_uketori .locker_img_title .pd { display:block; padding: 6px 30px 6px 30px; color:#feda33; text-align:left; font-weight:bold; line-height:100%; }

#locker_uketori .locker_img_title2 { position:relative; padding:23px 56px 33px 56px; }
#locker_uketori .locker_img_title2 .title1 { text-align:left; }
#locker_uketori .locker_img_title2 .title2 { text-align:left; }
#locker_uketori .locker_img_title2 .title3 { text-align:center; padding: 5px 16px 5px 16px; border:1px solid #000; width:130px; position:absolute; right:55px; top:20px; font-weight:bold; }

#locker_uketori #locker_caution { padding:0 35px 0 35px; }
#locker_uketori #locker_caution table {  }
#locker_uketori #locker_caution table tr {  }
#locker_uketori #locker_caution table tr th { text-align: left; vertical-align: top; width:30px; }
#locker_uketori #locker_caution table tr td { text-align: left; vertical-align: top; padding-bottom:10px; }


/* ----- font-size --------------------------------------------------------------------------------------------------------- */

/* ///// changeFontSize1 ///// */
.changeFontSize1 #locker_img_03 .txt { font-size:11px; }
.changeFontSize1 #locker_img_03 table tr th { font-size:11px; }
.changeFontSize1 #locker_img_03 table tr td { font-size:11px; }
.changeFontSize1 #locker_img_07_bg .inner { font-size:11px; }
.changeFontSize1 #locker_uketori .caution1 { font-size:11px; }
.changeFontSize1 #locker_img_09 table tr th .inner,.changeFontSize1 #locker_img_09 table tr td .inner { font-size:11px; }
.changeFontSize1 #locker_img_09 table tr td .inner .mini { font-size:10px; }
.changeFontSize1 #locker_uketori .locker_img_title2 .title1 { font-size:18px; }
.changeFontSize1 #locker_uketori .locker_img_title2 .title2 { font-size:13px; }
.changeFontSize1 #locker_uketori .locker_img_title2 .title3 { font-size:13px; }
.changeFontSize1 #locker_uketori #locker_caution table tr th { font-size:11px;}
.changeFontSize1 #locker_uketori #locker_caution table tr td { font-size:11px; }

/* ///// changeFontSize2 ///// */
.changeFontSize2 #locker_img_03 .txt { font-size:13px; }
.changeFontSize2 #locker_img_03 table tr th { font-size:13px; }
.changeFontSize2 #locker_img_03 table tr td { font-size:13px; }
.changeFontSize2 #locker_img_07_bg .inner { font-size:13px; }
.changeFontSize2 #locker_uketori .caution1 { font-size:13px; }
.changeFontSize2 #locker_img_09 table tr th .inner,.changeFontSize2 #locker_img_09 table tr td .inner { font-size:13px; }
.changeFontSize2 #locker_img_09 table tr td .inner .mini { font-size:11px; }
.changeFontSize2 #locker_uketori .locker_img_title2 .title1 { font-size:20px; }
.changeFontSize2 #locker_uketori .locker_img_title2 .title2 { font-size:15px; }
.changeFontSize2 #locker_uketori .locker_img_title2 .title3 { font-size:15px; }
.changeFontSize2 #locker_uketori #locker_caution table tr th { font-size:13px;}
.changeFontSize2 #locker_uketori #locker_caution table tr td { font-size:13px; }

/* ///// changeFontSize3 ///// */
.changeFontSize3 #locker_img_03 .txt { font-size:16px; }
.changeFontSize3 #locker_img_03 table tr th { font-size:16px; }
.changeFontSize3 #locker_img_03 table tr td { font-size:16px; }
.changeFontSize3 #locker_img_07_bg .inner { font-size:16px; }
.changeFontSize3 #locker_uketori .caution1 { font-size:16px; }
.changeFontSize3 #locker_img_09 table tr th .inner,.changeFontSize3 #locker_img_09 table tr td .inner { font-size:16px; }
.changeFontSize3 #locker_img_09 table tr td .inner .mini { font-size:13px; }
.changeFontSize3 #locker_uketori .locker_img_title2 .title1 { font-size:22px; }
.changeFontSize3 #locker_uketori .locker_img_title2 .title2 { font-size:17px; }
.changeFontSize3 #locker_uketori .locker_img_title2 .title3 { font-size:17px; }
.changeFontSize3 #locker_uketori #locker_caution table tr th { font-size:16px;}
.changeFontSize3 #locker_uketori #locker_caution table tr td { font-size:16px; }

/* ----- /font-size --------------------------------------------------------------------------------------------------------- */
