/*==========================================

webservice_guide(popup page)

==========================================*/

.borderAround{
border:1px solid #CCCCCC;
padding:5px 10px;
word-break: break-all;
}

tr.header01 th{
background-color:#817E77;
color:#FFFFFF;
text-align:center;
}

tr.noSpace th{
padding:0;
margin:0;
left:0;
font-size:0px;
text-align:center;
}

ul.ancLink{
text-align:left;
}

ul.ancLink li{
float:left;
white-space:nowrap;
padding:0 10px 0 18px;
margin-bottom:0.5em;
background:url(../../common/image/shared/ico/icon_04.gif) no-repeat left 0.2em;
}

/*
ul.ancLink li{
float:left;
text-align:left;
padding:0 10px 0 0;
margin-bottom:0.5em;
white-space: none;
zoom:100%;
}

ul.ancLink li a{
display:block;
padding-left:4.4em;
text-indent:-3em;
background:url(../../common/image/shared/ico/icon_04.gif) no-repeat left 0.2em;
}*/

dl.txtBox01{
clear:both;
zoom:1;
}
dl.txtBox01 dt{
width:11.3em;
margin:0;
float:left;
clear:left;
font-weight:bold;
}
dl.txtBox01 dd{
margin-left: 11.3em;
clear:right;
}

/* list-num02 */
ol.list-num02{ 
margin-left:2.5em;
}
ol.list-num02 li {
position: relative;
list-style: none;
line-height: 1.4;
margin-bottom: 0.3em;
}
ol.list-num02 li span {
position: absolute;
top: 0;
left: -2.2em;
}
* html ol.list-num02 li span { top: -0.1em; } /* for win ie6 */
*:first-child+html ol.list-num02 li span { top: -0.1em; } /* for win ie7 */

ul.list-num03{ 
margin-left:3em;
}
ul.list-num03 li {
position: relative;
list-style: none;
margin-bottom: 0.2em;
}
ul.list-num03 li span {
position: absolute;
top: 0;
left: -3em;
}
* html ul.list-num03 li span { top: -0.1em; } /* for win ie6 */
*:first-child+html ul.list-num03 li span { top: -0.1em; } /* for win ie7 */

ul.list-num03 ul.list-disc li {
list-style-type:disc;
}
ul.list-num03 ol.list-decimal li {
list-style-type:decimal;
}

ul.list-num04,
ol.list-num04{ 
margin-left:2em;
}
ul.list-num04 li,
ol.list-num04 li {
position: relative;
list-style: none;
margin-bottom: 0.2em;
}
ul.list-num04 li span,
ol.list-num04 li span {
position: absolute;
top: 0;
left: -2em;
}
* html ul.list-num04 li span { top: -0.1em; } /* for win ie6 */
* html ol.list-num04 li span { top: -0.1em; } /* for win ie6 */
*:first-child+html ul.list-num04 li span { top: -0.1em; } /* for win ie7 */
*:first-child+html ol.list-num04 li span { top: -0.1em; } /* for win ie7 */

ul.list-num04 ul.list-disc li,
ol.list-num04 ul.list-disc li {
list-style-type:disc;
}
ul.list-num04 ul.list-num03 li span,
ol.list-num04 ul.list-num03 li span{
left: -3em;
}
ul.list-num04 ul.list-num04 li span,
ol.list-num04 ul.list-num04 li span{
left: -2em;
}
/* list-notice04 */
ul.list-notice04{
margin-left:1em;
}
ul.list-notice04 li{
position: relative;
list-style: none;
line-height: 1.4;
margin-bottom: 0.3em;
}
ul.list-notice04 li span{
position: absolute;
top: 0;
left:-1em;
}
* html ul.list-notice04 li span { top: -0.1em; } /* for win ie6 */
*:first-child+html ul.list-notice04 li span { top: -0.1em; } /* for win ie7 */

ul.list-notice04 li ul.list-disc li {
list-style-type:disc;
}

/* list-notice05 */
ul.list-notice05{
margin-left:1.5em;
}
ul.list-notice05 li{
position: relative;
list-style: none;
line-height: 1.4;
margin-bottom: 0.3em;
}
ul.list-notice05 li span{
position: absolute;
top: 0;
left:-1.5em;
}
* html ul.list-notice05 li span { top: -0.1em; } /* for win ie6 */
*:first-child+html ul.list-notice05 li span { top: -0.1em; } /* for win ie7 */

ul.list-notice05 li ul.list-disc li {
list-style-type:disc;
}

/* Conversion Area Wide Ver.
------------------------------------------*/
#container1column .ConversionTop {
margin:20px 0;
padding-top:10px;
background:url(../../common/image/shared/bg_orange_top_1com.png) no-repeat left top;
}
*html #container1column .ConversionTop {
background:url(../../common/image/shared/bg_orange_top_1com.gif) no-repeat left top;
}
#container1column .ConversionBtm {
background:url(../../common/image/shared/bg_orange_btm_1com.png) no-repeat left bottom;
padding-bottom:11px;
}
*html #container1column .ConversionBtm {
background:url(../../common/image/shared/bg_orange_btm_1com.gif) no-repeat left bottom;
}
#container1column .ConversionInner:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

#container1column .ConversionInner {
padding:10px 18px;
text-align:left;
background:url(../../common/image/shared/bg_orange_mid_1com.png) repeat-y left top;
zoom:1;
}
*html #container1column .ConversionInner {
background:url(../../common/image/shared/bg_orange_mid_1com.gif) repeat-y left top;
zoom:1;
}

#container1column .ConversionTop .ConversionTtl {
margin-bottom:10px;
}

#container1column .ConversionTop .btnArea {
margin:0 0 20px;
text-align:center;
clear:both;
}
#container1column .ConversionTop .btnArea:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

#container1column .ConversionTop .asetBox2com {
width:455px;
height:80px;
padding-top:13px;
margin-right:6px;
background:url(../image/members_btnBg_01.gif) no-repeat;
float:left;
}
#container1column .last-child {
margin-right:0;
}
#container1column .ConversionTop .asetBox2com dt {
height:13px;
font-size:0px;
line-height:1;
}
#container1column .ConversionTop .asetBox2com dd {
height:54px;
font-size:0px;
line-height:1;
}

/* ContentsArea 2column 
------------------------------------------*/
#container1column .ContentsArea-2col{
width:465px;
float:left;
margin-right:20px;
}
#container1column .ContentsArea-2col.last-child{
margin-right:0px;
}
#container1column .ContentsArea-2col .ContentsBtm {
background:url(../image/bg_main_bt_2column.png) no-repeat left bottom !important;
padding-bottom:15px;
zoom:1;
}
*html #container1column .ContentsArea-2col .ContentsBtm {
background:url(../image/bg_main_bt_2column.gif) no-repeat left bottom !important;
}
#container1column .ContentsArea-2col .ContentsInner {
text-align:left;
padding-bottom:5px;
background:url(../image/bg_main_md_2column.png) repeat-y left top !important;
}
*html #container1column .ContentsArea-2col .ContentsInner {
background:url(../image/bg_main_md_2column.gif) repeat-y left top !important;
}
#container1column .ContentsArea-2col .ContentsInner:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

#container1column .ContentsArea-2col .article{
width:427px;
margin-left:3px;
padding:10px 15px 5px;
text-align:left;
border-top:#FDD000 solid 3px;
}
#container1column .ContentsArea-2col .article:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

#container1column .ContentsArea-2col h2{
font-size:116%;
color:#FFFFFF;
font-weight:bold;
padding:15px 20px 10px 20px;
background:url(../image/ttl_h2_2column.png) no-repeat left top !important;
}

*html #container1column .ContentsArea-2col h2{
background:url(../image/ttl_h2_2column.gif) no-repeat left top !important;
}