@charset "shift_jis";
#headerIn {
	position:relative;
}

#headerNaviRemake {
	position: absolute;
	top: 22px;
	right: 117px;
}
#headerInfoNaviRemake {
  float: left;
  margin: 7px 0 0 10px;
}
#headerInfoNaviRemake li {
  float: left;
  margin-right: 20px;
}


#main .ContentsArea-2col {
	width: 30% !important;
}
#main  .ContentsArea-2col .article {
	width: 85%;
}
#main .twostep_inner_all {
	padding: 10px 14px;
	width: 878px;
	border: 1px solid #d3cec2;
	margin:0 auto;
	overflow:hidden;
}
#main .twostep_inner_all .twostep_inner {
	padding: 10px 0;
	float: left;
	width: 284px;
	margin:0 10px 0 0;
	border: 1px solid #D3CEC2;
	height:330px;
}
#main .twostep_inner_all .twostep_inner_last {
	padding: 10px 0;
	float: left;
	width: 284px;
	margin:0;
	border: 1px solid #D3CEC2;
	height:330px;
}
#main .twostep_inner_all .twostep_inner_txt {
	padding: 10px;
	width: 264px;
}
.twostep_notice {
	list-style-type: none;
}
.twostep_notice dt {
	display: block;
	width: 4em;
	line-height: 1.4em;
}
.twostep_notice dd {
	display: block;
	margin-left: 4em;
	margin-top: -1.4em;
	line-height: 1.4em;
}
.twostep_h3 {
	display: block;
	padding-right: 1em;
	padding-left: 1em;
	height:2.5em;
	font-size:1.2em;
	line-height: 1.5em;
}
.twostep_flow {
	width: 810px;
	margin:0 auto;
	padding:20px;
	border: 1px solid #D3CEC2;
}
.twostep_flow_left {
	float: left;
	width: 340px;
	display: block;
}
.twostep_flow_right {
	float: right;
	display: block;
	width: 450px;
	margin-left: 20px;
}
.twostep_flow_step {
	display:block;
	margin: 0 auto;
	height: 0px;
	width: 0px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 30px solid #0AAD8A;
}
