@charset: "utf-8";

/* reset */
body {
  margin: 0 auto;
  color: #555;
  background: #fff4c4;
  font-size: 12px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
h1,h2,h3,h4,h5,h6 { margin: 0; font-size: 1em;}
p { font-size: 14px;}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
  border: none;
}

/* utility */
.lp-mt--0 { margin-top: 0px;}
.lp-mt--9 { margin-top: 9px;}
.lp-mt--10 { margin-top: 10px;}
.lp-mt--15 { margin-top: 15px;}
.lp-mt--20 { margin-top: 20px;}
.lp-mt--30 { margin-top: 30px;}
.lp-mt--35 { margin-top: 35px;}
.lp-mt--40 { margin-top: 40px;}
.lp-mt--50 { margin-top: 50px;}
.lp-mt--60 { margin-top: 60px;}
.lp-mt--80 { margin-top: 80px;}
.lp-mt--110 { margin-top: 110px;}
.lp-mt--150 { margin-top: 150px;}
.lp-mb--0  { margin-bottom: 0px;}
.lp-mb--10 { margin-bottom: 10px;}
.lp-mb--20 { margin-bottom: 20px;}
.lp-mb--30 { margin-bottom: 30px;}
.lp-mb--40 { margin-bottom: 40px;}
.lp-mb--50 { margin-bottom: 50px;}
.lp-mb--60 { margin-bottom: 60px;}
.lp-mv--0  { margin-top: 0px; margin-bottom: 0px;}
.lp-mv--10 { margin-top: 10px; margin-bottom: 10px;}
.lp-mv--20 { margin-top: 20px; margin-bottom: 20px;}
.lp-mv--30 { margin-top: 30px; margin-bottom: 30px;}
.lp-mv--40 { margin-top: 40px; margin-bottom: 40px;}
.lp-mv--50 { margin-top: 50px; margin-bottom: 50px;}
.lp-mv--60 { margin-top: 60px; margin-bottom: 60px;}

.lp-txt--left { text-align: left;}
.lp-txt--center { text-align: center;}
.lp-txt--right { text-align: right;}
.lp-txt--small { font-size: 11px;}



/* column */
.lp-wrap { *zoom:1;}
.lp-wrap:before,.lp-wrap:after{
  content: "";
  display: table;
}
.lp-wrap:after{ clear:both; }

.lp-row {
  width: 100%;
  margin-top: -10px;
}
.lp-row:before, .lp-row:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}
.lp-row:after {
  clear: both;
}
.lp-row .lp-col1, .lp-row .lp-col2, .lp-row .lp-col3, .lp-row .lp-col4, .lp-row .lp-col5, .lp-row .lp-col6,
.lp-row .lp-col7, .lp-row .lp-col8, .lp-row .lp-col9, .lp-row .lp-col10, .lp-row .lp-col11, .lp-row .lp-col12 {
  float: left;
}
.lp-row .lp-col1:first-child, .lp-row .lp-col2:first-child, .lp-row .lp-col3:first-child, .lp-row .lp-col4:first-child, .lp-row .lp-col5:first-child, .lp-row .lp-col6:first-child,
.lp-row .lp-col7:first-child, .lp-row .lp-col8:first-child, .lp-row .lp-col9:first-child, .lp-row .lp-col10:first-child, .lp-row .lp-col11:first-child, .lp-row .lp-col12:first-child {
  margin-left: 0;
}
.lp-row .lp-col1 {
  width: 6.5%;
  margin: 10px 0 0 2%;
}
.lp-row .lp-col2 {
  width: 15%;
  margin: 10px 0 0 2%;
}
.lp-row .lp-col3 {
  width: 23.5%;
  margin: 10px 0 0 2%;
}
.lp-row .lp-col4 {
  width: 32%;
  margin: 10px 0 0 2%;
}
.lp-row .lp-col5 {
  width: 40.5%;
  margin: 10px 0 0 2%;
}
.lp-row .lp-col6 {
  width: 49%;
  margin: 10px 0 0 2%;
}
.lp-row .lp-col7 {
  width: 57.5%;
  margin: 10px 0 0 2%;
}
.lp-row .lp-col8 {
  width: 66%;
  margin: 10px 0 0 2%;
}
.lp-row .lp-col9 {
  width: 74.5%;
  margin: 10px 0 0 2%;
}
.lp-row .lp-col10 {
  width: 83%;
  margin: 10px 0 0 2%;
}
.lp-row .lp-col11 {
  width: 91.5%;
  margin: 10px 0 0 2%;
}
.lp-row .lp-col12 {
  width: 100%;
  margin: 10px 0 0 2%;
}


/* two column */
.lp-twoCol {
  overflow: hidden;
}
.lp-twoColFluid {
  overflow: hidden;
  margin-left: 0;
}
.lp-twoColFluid p:first-child {
  margin-top: 0;
}
.lp-twoColFixed {
  float: left;
  margin-right: 10px;
}
.lp-twoColFixed--fit {
  margin: 0 !important;
}
.lp-twoColFixed--right {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
.lp-twoColFixed--moreMargin-left {
  margin-left: 20px;
}

.lp-content {
  padding: 20px 0;
}
.lp-header {
  padding: 3px 0;
  background: #000;
  text-align: center;
}
.lp-header a{
  display: block;
  width: 117px;
  margin: auto;
}
.lp-container {
  width: 100%;
  margin: auto;
  text-align: center;
}
.lp-inner {
  padding-left: 10px;
  padding-right: 10px;
}
.lp-box {
  padding: 20px 10px;
  background: #fff;
}



.lp-mv__content {
  text-align: center;
}
.lp-mv__bnr {
  margin-top: 20px;
}
.lp-lead {
  text-align: center;
}
.lp-lead__arrow {
  position: relative;
  height: 33px;
  padding: 23px 0 30px;
}
.lp-lead__down{
  position: absolute;
  top: 23px;
  left: 50%;
  margin-left: -21px;
}


.lp-ct01__head {
  margin-bottom: 13px;
}
.lp-ct01__01 {
  margin: 30px 0 34px;
}
.lp-ct01__03 {
  margin: 43px 0 31px;
}
.lp-ct01__04 {
  width: 87.068965517%;
  margin: 0 auto 55px;
}
.lp-ct01__05 {
  position: relative;
  width: 100%;
  margin: 0 0 35px;
}
.lp-ct01__05 img{
  max-width: 108%;
  margin-left: -4%;
}

.lp-ct02{
  margin-top: 40px;
}

.lp-ct02__head {
  width: 90%;
}
.lp-ct02__head img{
  position: relative;
  bottom: -10px;
  left: -10px;
}
.lp-ct02__01 {
  width: 87.068965517%;
  margin: 0px auto 20px;
}
.lp-ct02__02 {
  width: 80.172413793%;
  margin: 0 auto 30px;
}


.lp-ct03{
  margin-top: 20px;
}

.lp-ct03__head {
  width: 82.24137931%;
  margin: auto;
}
.lp-ct03__head img{
  position: relative;
  bottom: -10px;
}
.lp-ct03__01 {
  width: 87.068965517%;
  margin: 0px auto 20px;
}
.lp-ct03__02 {
  width: 80.689655172%;
  margin: 0 auto 30px;
}


.lp-ct04{
  margin: 20px auto 0;
}

.lp-ct04__head {
  width: 87%;
  margin: auto;
}
.lp-ct04__head img{
  position: relative;
  bottom: -10px;
}
.lp-ct04__01 {
  width: 89.482758621%;
  margin: 0px auto 20px;
}
.lp-ct04__02 {
  width: 93.448275862%;
  margin: 0 auto 20px;
}

.lp-btns {
  width: 86.206896552%;
  margin: auto;
}

.lp-notice {
  padding-top: 20px;
}
.lp-notice__txt {
  text-align: left;
  font-size: 12px;
}


.lp-footer{
  margin-top: 10px;
  padding: 20px 0 20px;
  background: #000;
}

.lp-footer__sns{
  margin-bottom: 30px;
  text-align: center;
}
.lp-footer__sns a{
  margin: 0 8px;
}

.lp-footer__links{
  line-height: 1em;
}
.lp-footer__links a {
  display: block;
  text-align: center;
  font-size: 13px;
  line-height: 1.6;
  color: #fff;
  text-decoration: none;
}
.lp-footer__link--border {
  margin: 0 10px;
  padding: 0 10px;
}
.lp-footer__copyright{
  margin-top: 20px;
  color: #fff;
  text-align: center;
  font-size: 12px;
}

a.lp-btn01,
a.lp-btn01:visited{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 10px;
  color: #fff;
  background: #66c655;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}
