@charset "utf-8";

/* 20121109 田中 */
/* 今回修正にあたり、追加するＣＳＳはaddbmy.cssとして新たに作りました */

.typeB{
font-size:95%;
font-weight:bold;
background:url(../../../b2web/common/images/bg_h2ptn01.gif) repeat-x bottom left!important;
color:#333!important;
margin:0 0 0 0;
padding:5px 0 5px 10px;
zoom:1;
}

.typeC{
font-size:95%;
font-weight:bold;
background:url(../../../b2web/common/images/bg_h2ptn01.gif) repeat-x bottom left!important;
color:#333!important;
margin:0 0 0 0;
padding:5px 0 25px 10px;
zoom:1;
}

.typeD{
font-size:95%;
font-weight:bold;
background:url(../../../b2web/common/images/bg_h2ptn01.gif) repeat-x bottom left!important;
color:#333!important;
margin:0 0 0 0;
padding:15px 0 15px 10px;
zoom:1;
}

.typeE{
font-size:95%;
font-weight:bold;
background:url(../../../b2web/common/images/bg_h2ptn01.gif) repeat-x bottom left!important;
color:#333!important;
margin:0 0 0 0;
padding:25px 0 5px 10px;
zoom:1;
}

.list_style01{
	margin-bottom:10px;
}

.info_g{
	font-size: 120%;
	margin: 15px 0;
	margin-bottom: 5px;
	font-weight: bold;
	font-color: #007b6d;
	color:#007b6d;
}

.table01_c {border-collapse: collapse;}
.table01_c td { border:0;}

.img_line { border:#CCC 1px solid;}

.font_s {font-size:85%;}

.mark {position:relative; top:-70px;left:-10px;}

.mt_3{margin-top:-3px;}
.mt_5{margin-top:-5px;}
.mt_10{margin-top:-10px;}
.mt_15{margin-top:-15px;}
.mt_20{margin-top:-20px;}
.mt_25{margin-top:-25px;}
.mt_30{margin-top:-30px;}
.mt_35{margin-top:-35px;}
.mt_40{margin-top:-40px;}
.mt_45{margin-top:-45px;}
.mt_50{margin-top:-50px;}
.mt_55{margin-top:-55px;}
.mt_60{margin-top:-60px;}
.mt_65{margin-top:-65px;}

.mt_P5{margin-top:5px;}
.mt_P10{margin-top:10px;}
.mt_P15{margin-top:15px;}
.mt_P20{margin-top:20px;}
.mt_P25{margin-top:25px;}
.mt_P30{margin-top:30px;}
.mt_P35{margin-top:35px;}
.mt_P40{margin-top:40px;}
.mt_P45{margin-top:45px;}
.mt_P50{margin-top:50px;}


/* 画像リンク選択時色が変わるように設定 */
#sec1227style01In td a img{
border:#DAD5C9 solid 1px;
padding:1px;
}

#sec1227style01In td a:hover img{
border:#008576 solid 1px;
}

#popup #main p.title_bg{
	font-size: 95%;
	font-weight: 800;
}

#popup #main p.title_bg img{
	vertical-align: baseline;
	padding-right: 5px;
}

#main #popup-service-area p.title_bg{
	background-color: #F8F4E9;
	border: 1px solid #E9E5DA;
	padding-top: 3px;
	padding-bottom: 3px;
	clear: both;
	padding-left: 10px;
	padding-right: 10px;
}
