@charset "utf-8";
/*
Site Name: 
Description: gloval style
*/

/* universal reset
----------------------------------------- */
/*body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	padding: 0;
	margin: 0;
}*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, textarea, p, blockquote, th, td {
	padding: 0;
	margin: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
q:before, q:after {
	content: ”;
}
abbr, acronym {
	border: 0;
}
html{
	height: 100%;
	overflow-y:scroll;
}
span,
strong{
	font-weight: bold;
}

/* body and base setting
----------------------------------------- */
body{
	height: 100%;
	position: relative;
	padding: 0px;
	margin: 0px;
	font-family: 'ＭＳ Ｐゴシック','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,sans-serif;
	color: #333333;
	text-align: center;
	background-color: #FFFFFF;
	font-size: 85%;
}
/* general style
----------------------------------------- */
p {
}
img {
	vertical-align: bottom;
}
/* link style
----------------------------------------- */
/*a{
	text-decoration: none;
}*/

a:link {
	color: #0099FF;
	text-decoration: underline;
}
a:visited {
	color: #0099FF;
}
a:hover {
	color: #57BCFF;
	text-decoration: none;
}
a:active {
	color: #57BCFF;
}
/* layout parts
----------------------------------------- */
.clear {
	clear: both;
}
.center {
	text-align: center!important;
}
.right {
	text-align: right!important;
}
.left {
	text-align: left!important;
}
img.left {
	float: left;
	clear: both;
	margin-right: 15px;
}
img.center {
	clear: both;
	margin-bottom: 15px;
	display: block;
	text-align: center;
}
img.right {
	float: right;
	clear: both;
	margin-left: 15px;
}