@charset "utf-8";

/*
Site Name:
Description: layout
*/

/* base layout
----------------------------------------- */
#container,
#header-out,
#topicpath-area-out,
#content-out,
#footer-out,
#header-contents-out,
#LightBox-footer-out,
#LightBox-footer{
	padding: 0px;
	margin: 0px;
	text-align: center;
}

#container{
	height: auto;
	_height: 100%;
	min-height: 100%;
	position: relative;
	min-width: 960px;
}

#header-out{
	background-image: url(../../../b2web/common/images/header_bg.gif);
	background-position: left bottom;
	background-repeat: repeat-x;
}

#topicpath-area-out{
	background-image: url(../../../b2web/common/images/topicpath_bg.gif);
	background-position: left top;
	background-repeat: repeat-x;
	background-color: #00564B;
	border-bottom: #FDD000 solid 3px;
}



#header-contents-out{
	background-image: url(../../../b2web/common/images/header_contents_bg.gif);
	background-position: left top;
	background-repeat: repeat-x;
	background-color: #00554A;
	border-bottom: #FDD000 solid 2px;
}

#content-out{
	background-image: url(../../../b2web/common/images/content_bg.gif);
	background-position: left top;
	background-repeat: repeat-x;
	overflow: hidden;
	zoom: 1;
}

#content-out .borede_n{
     border:0;
}

#footer-out{
	width: 100%;
	min-height: 119px;
	height: auto !important;
	height: 119px;
	position: absolute;
	bottom: 0px;
	left: 0px;

	background-position: left top;
	background-repeat: repeat-x;

	clear: both;
	overflow: hidden;
	zoom: 1;
}



#header,
#topicpath-area{
	font-size: 80%;
	width: 960px;
	margin: 0 auto;
	text-align: left;
	overflow: hidden;
	zoom: 1;
}

#header-contents{
	width: 960px;
	margin: 0 auto;
	padding: 15px 0;
	text-align: left;
	overflow: hidden;
	zoom: 1;
}

#content{
	clear: both;
	width: 960px;
	margin: 0 auto;
	padding-bottom: 80px;
	text-align: left;
	overflow: hidden;
	zoom: 1;
}

#home #content{
	padding-top: 25px;
}

#footer{
	position: relative;
	width: 960px;
	min-height: 119px;
	height: auto !important;
	height: 119px;
	margin: 0 auto;
	overflow: hidden;
	zoom: 1;
}

#main{
	width: 960px;
}

/* popup layout
----------------------------------------- */
#popup #container{
	min-width: 710px;
}

#popup #header-out{
	background-image: url(../../../b2web/common/images/popup_header_bg.gif);
	background-position: left bottom;
	background-repeat: repeat-x;
}

#popup #footer-out{
	width: 100%;
	min-height: 65px;
	height: auto !important;
	height: 65px;
	position: absolute;
	bottom: 2px;
	/*left: -102px;*/

	background-position: left top;
	background-repeat: repeat-x;

	clear: both;
	overflow: hidden;
	zoom: 1;
}

#popup #LightBox-footer-out{
	width: 100%;
	min-height: 41px;
	height: auto !important;
	height: 41px;
	/*position: absolute;*/
	bottom: 2px;

	background-position: left top;
	background-repeat: repeat-x;

	clear: both;
	overflow: hidden;
	zoom: 1;
}

#popup #header{
	width: 700px;
	margin: 0 auto;
	text-align: left;
	overflow: hidden;
	zoom: 1;
}

#popup #content{
	clear: both;
	width: 700px;
	margin: 0 auto;
	/*padding-bottom: 104px;*/
	text-align: left;
	overflow: hidden;
	zoom: 1;
}

#popup #footer{
	position: relative;
	width: 700px;
	min-height: 65px;
	height: auto !important;
	height: 65px;
	margin: 0 auto;
	overflow: hidden;
	zoom: 1;
}

#popup #LightBox-footer{
	position: relative;
	width: 700px;
	min-height: 41px;
	height: auto !important;
	height: 41px;
	margin: 0 auto;
	overflow: hidden;
	zoom: 1;
}

#popup #main{
	width: 700px;
}
