@charset "utf-8";

/* common parts
---------------------------------------------------------- */
#content.popup-l-width,
#main.popup-l-width {
	width: 800px !important;
}

#main #popup-service-area{
	overflow: hidden;
	zoom: 1;
}

#main #popup-service-area h2{
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #007E6F;
	padding-bottom: 7px;
	clear: both;
}

#main #popup-service-area h3{
	background-color: #F8F4E9;
	border: 1px solid #E9E5DA;
	padding-top: 3px;
	padding-bottom: 3px;
	clear: both;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#main #popup-service-area h4{
	margin-top: 15px;
	clear: both;
	font-weight: bold;
	margin-left: 10px;
	margin-bottom: 10px;
}


#main #popup-service-area p{
	padding-bottom: 15px;
}

#main #popup-service-area p.pad_left15{
	padding: 0 0 0 15px;
}

#main #popup-service-area span.attention{
	font-weight: normal;
	color: #C00;
}
#main #popup-service-area strong.attention{
	color: #C00;
}

#main #popup-service-area table.diagram{
	color: #333;
	margin-top: 0px;
	margin-bottom: 5px;
}

#main #popup-service-area  table.diagram th{
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-left-color: #CCC;
	background-color: #CCE5E2;
}

#main #popup-service-area  table.diagram tbody th{
	border-bottom-color: #CCC;
}

#main #popup-service-area  table.diagram td{
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
}

#main #popup-service-area table.center th,
#main #popup-service-area  table.diagram td{
	text-align: center;
}

#main #popup-service-area table.diagram tbody.left th,
#main #popup-service-area  table.diagram tbody.left td{
	text-align: left;
}

#main #popup-service-area table .defaultline-bottom {
	border-bottom: 1px solid #CCC !important;
}

#main #popup-service-area table .defaultline-right {
	border-right: 1px solid #CCC !important;
}

#main #popup-service-area li table,
#main #popup-service-area p.center img{
	margin-top: 10px;
	margin-bottom: 10px;
}


#main #popup-service-area ol{
	padding-bottom: 15px;
	padding-top: 0px;
}
#main #popup-service-area ol.ps{
	_zoom: 1;
}

#main #popup-service-area ol.ps li{
	clear: both;
}
#main #popup-service-area ol.ps li img{
	margin-bottom: 20px;
}

#popup #main #popup-service-area ul.service-menu{
	padding: 0px;
	margin-left: 0px;
}

#popup #main #popup-service-area ul.service-menu li{
	float: left;
	list-style-type: none;
	padding-left: 0px;
	margin-left: 0px;
	padding-right: 6px;
	background-image: url(../../../b2web/common/images/08_menubg.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	margin-bottom: 20px;
}

#popup #main #popup-service-area ul.service-menu li.affter{
	padding-right: 0px;
}


#main #popup-service-area ul{
	margin-bottom: 15px;
	margin-left: 15px;
}

#main #popup-service-area blockquote{
	color: #007265;
	border: 1px dotted #007265;
	padding: 7px;
	margin-bottom: 15px;
	margin-left: 10px;
	margin-right: 10px;
	line-height: 1.5em;
}

#main #popup-service-area p.example{
	color: #007265;
}

#main #popup-service-area table td ol,
#main #popup-service-area table td ul{
	margin: 0px;
	padding: 0px;
}
#main #popup-service-area .clientcord{
	border: 2px solid #CCC;
	margin-bottom: 30px;
	margin-left: 10px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
}
#main #popup-service-area .clientcord strong{
	font-size: 140%;
	color: #006659;
}
#main #popup-service-area .clientcord h4{
	margin-top: 10px;
}

#main #popup-service-area ul.about-menu{
	font-size: 95%;
	margin-bottom: 10px;
	clear: both;
	float: left;
	margin-top: 0px;
	margin-left: 0px;
	background-image: url(../../../b2web/common/images/45_menu_bg.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-bottom: 20px;
}
#main #popup-service-area ul.about-menu li{
	background-image: none;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #333;
	margin-right: 5px;
	padding-right: 5px;
	float: left;
	margin-left: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 1.2em;
}


#main #popup-service-area a.link01{
	padding-left: 12px;
	background-image: url(../../../b2web/common/images/link_icon02.gif);
	background-repeat: no-repeat;
	background-position: left 4px;
}

#main #popup-service-area ol table{
	width: 630px;
}

#main #popup-service-area ol table th{
	text-align: left;
}

#main #popup-service-area ol ul{
	margin-top: 0;

}

#main table.search-condition-table td{
	font-size: 100%;
	color: #333333;
}



/* sec1227style01 */
.sec1227style01 {
}
	.sec1227style01In {
	}
		.sec1227style01Inner {
		}

/* h4_1227style01 */
#main #popup-service-area h4.h4_1227style01 {
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 15px;
}

/* diagram_1227style01 */
#main #popup-service-area table.diagram_1227style01 {
	margin-bottom: 15px;
}

/* diagram_1227style02 */
#main #popup-service-area table.diagram_1227style02 {
	margin-bottom: 15px;
}
	#main #popup-service-area table.diagram_1227style02 th,
	#main #popup-service-area table.diagram_1227style02 td {
		text-align:left;
	}
	#main #popup-service-area table.diagram_1227style02 th.th01 {
		background-color:#C0C0C0;
	}

/* diagram_1227style03 */
#main #popup-service-area table.diagram_1227style03 {
	margin-bottom: 15px;
}
	#main #popup-service-area table.diagram_1227style03 th,
	#main #popup-service-area table.diagram_1227style03 td {
		text-align:left;
	}
	body#popup #main #popup-service-area table.diagram_1227style03 thead th {
		width: inherit;
		text-align: center;
	}
	#main #popup-service-area table.diagram_1227style03 th.th01 {
		background-color:#FFF;
	}
	#main #popup-service-area table.diagram_1227style03 td.td01 {
		vertical-align: middle;
	}

/* diagram_1227style02 */
#main #popup-service-area table.diagram_1227style04 {
	margin-bottom: 15px;
}
#main table.diagram_1227style04 th,
#main table.diagram_1227style04 td {
	padding: 8px 1px 5px;
	font-size: 85%;
}

#main table.graph {
    border: 2px solid #007E6F;
}

#main table.graph th,
#main table.graph td {
    border-right: 2px solid #007E6F !important;
	vertical-align: middle;
	line-height: 13.5px;
	white-space:nowrap;
}

#main table.graph tbody td.bg-gray {
}

/* table_1227style02 */
#main #popup-service-area table.table_1227style01 {
	margin-bottom: 15px;
}

/* ol_1227style01 */
	#main #popup-service-area ol.ol_1227style01 li {
		list-style-type: lower-roman;
		margin-left: 25px;
	}
/* ol_1227style02 */
	#main #popup-service-area ol.ol_1227style02 li {
		list-style-type: none;
		margin-left: 0;
	}
		#main #popup-service-area ol.ol_1227style02 li span {
			font-weight: normal;
		}
/* ol_1227style03 */
	#main #popup-service-area ol.ol_1227style03 li {
		list-style-type: upper-roman;
		margin-left: 25px;
	}
/* ul_1227style01 */
#main #popup-service-area ul.ul_1227style01 {
	margin-top: 0;
}

/* service-menu_111227style01 */
#popup #main #popup-service-area ul.service-menu_111227style01 li {
	padding-right: 8px;
}

/* service-menu_111227style02 */
#popup #main #popup-service-area ul.service-menu_111227style02 li {
	padding-right: 5px;
}

/* faq-area */
#popup #main .faq-article {
    border-top: 1px dotted #007E6F;
    overflow: hidden;
    padding-top: 5px;
}
#popup #main .faq-article dl {
    line-height: 1.5em;
    margin: 5px 15px 25px;
}

/* attention_1227style01 */
.attention_1227style01 {
	color:#00f;
	font-weight:normal;
}

/* div1227style01Wrap */
.div1227style01Wrap {
	background: url("../../../b2web/common/images/bg_aboymtflow07.gif") no-repeat left top;
	padding-top: 15px;
	zoom: 1;
}
.div1227style01Wrap_01 {
	background: url("../../../b2web/common/images/bg_aboymtflow02.gif") no-repeat left top;
	padding-top: 7px;
	zoom: 1;
}
	.div1227style01 {
		background: url("../../../b2web/common/images/bg_aboymtflow01.gif") no-repeat left bottom;
		padding-bottom: 26px;
		zoom: 1;
	}
	.div1227style03 {
		background: url("../../../b2web/common/images/img_flow_foot_bg.gif") no-repeat left bottom;
		padding-bottom: 26px;
		zoom: 1;
	}
		.div1227style01In {
			background: url("../../../b2web/common/images/bg_aboymtflow06.gif") no-repeat left bottom;
			padding-bottom: 15px;
			zoom: 1;
		}
		.div1227style01Inner {
			background: url("../../../b2web/common/images/bg_aboymtflow03.gif") repeat-y left top;
			padding: 0 10px;
			zoom: 1;
		}
			.div1227style01Inner dl {
				padding: 5px 0 0 15px;
			}
				.div1227style01Inner dl dt {
					float: left;
					width: 30px;
					margin-right: -30px;
				}
				.div1227style01Inner dl dd {
					padding-left: 30px;
				}
				.div1227style01Inner dl dd .dl1227style01 {
				}
					.div1227style01Inner dl dd .dl1227style01 dt {
						float: none;
						width: auto;
						margin: 0 0 15px;
						color: #007265;
						font-size: 125%;
						font-weight: bold;
					}
					.div1227style01Inner .dl1227style01 dd {
						padding-left: 0;
						line-height: 1.5;
					}
					#main #popup-service-area .div1227style01Inner .dl1227style01 dd p {
						padding-bottom: 0;
					}

/* div1227style02Wrap */
.div1227style02Wrap {
	background: url("../../../b2web/common/images/bg_aboymtflow05.gif") no-repeat left top;
	margin-bottom: 15px;
	padding-top: 7px;
	zoom: 1;
}
	.div1227style02 {
		background: #007e6f url("../../../b2web/common/images/bg_aboymtflow04.gif") no-repeat left bottom;
		padding: 0 10px 15px;
		zoom: 1;
	}
		#main #popup-service-area .div1227style02 p {
			color:#fff;
			font-weight: bold;
			margin: 0;
			padding: 10px 0 0;
			text-align:center;
		}


/* menuGuide.jsp
---------------------------------------------------------- */
#main #popup-service-are h4.h4_1227style01 {
	line-height: 1.2;
}
	.h4_1227style01 .sp01 {
		display: block;
		float: left;
		width: 27px;
	}
	.h4_1227style01 .sp02 {
		display: block;
		float: left;
		padding: 1px 0 0;
		*padding: 0;
		/padding: 1px 0 0;
	}
	.h4_1227style01 .sp03 {
		padding-top: 1px;
	}
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		.h4_1227style01 .sp01 {
			padding-top: 3px;
		}
	}

/* startGuide.jsp
---------------------------------------------------------- */
.divAboutYbmFlow01Wrap {
	background: url("../../../b2web/common/images/bg_aboymtflow07.gif") no-repeat left top;
	padding-top: 15px;
	zoom: 1;
}
.divAboutYbmFlow01Wrap_01 {
	background: url("../../../b2web/common/images/bg_aboymtflow02.gif") no-repeat left top;
	padding-top: 7px;
	zoom: 1;
}
	.divAboutYbmFlow01 {
		background: url("../../../b2web/common/images/bg_aboymtflow01.gif") no-repeat left bottom;
		padding-bottom: 26px;
		zoom: 1;
	}
		.divAboutYbmFlow01In {
			background: url("../../../b2web/common/images/bg_aboymtflow06.gif") no-repeat left bottom;
			padding-bottom: 15px;
			zoom: 1;
		}
		.divAboutYbmFlow01Inner {
			background: url("../../../b2web/common/images/bg_aboymtflow03.gif") repeat-y left top;
			padding: 0 10px;
			zoom: 1;
		}
			.divAboutYbmFlow01Inner dl {
				padding: 5px 0 0 15px;
			}
				.divAboutYbmFlow01Inner dl dt {
					float: left;
					width: 30px;
					margin-right: -30px;
				}
				.divAboutYbmFlow01Inner dl dd {
					padding-left: 30px;
					text-align:center;
				}
				.divAboutYbmFlow01Inner dl dd .dlAboutYbmFlow01 {
				}
					.divAboutYbmFlow01Inner dl dd .dlAboutYbmFlow01 dt {
						float: none;
						width: auto;
						margin: 0 0 15px;
						color: #007265;
						font-size: 125%;
						font-weight: bold;
					}
					.divAboutYbmFlow01Inner .dlAboutYbmFlow01 dd {
						padding-left: 0;
						line-height: 1.5;
					}

.divAboutYbmFlow02Wrap {
	background: url("../../../b2web/common/images/bg_aboymtflow05.gif") no-repeat left top;
	margin-bottom: 15px;
	padding-top: 7px;
	zoom: 1;
}
	.divAboutYbmFlow02 {
		background: #007e6f url("../../../b2web/common/images/bg_aboymtflow04.gif") no-repeat left bottom;
		padding: 0 10px 15px;
		zoom: 1;
	}
		#main #popup-service-area .divAboutYbmFlow02 p {
			color:#fff;
			font-weight: bold;
			margin: 0;
			padding: 10px 0 0;
			text-align:center;
		}

/* otodoke_manual.html
---------------------------------------------------------- */
#main #popup-service-area ul.uldetOtodokeKan01 {
	width: 700px;
	margin: 0;
	padding-bottom: 15px;
}
	#popup ul.uldetOtodokeKan01 li {
		display: inline;
		float: left;
		background-image: none;
		list-style-position: inside;
		margin: 0 11px 0 0;
		padding-left: 0;
	}
	#popup ul.uldetOtodokeKan01 li.last {
		margin-right: 0;
	}

/* faq.html
---------------------------------------------------------- */
.attention_1227style01 {
	color: #CC0000;
    font-weight: bold;
}
#popup #main #faq-area .faq-article dl.question dt {
	width: 27px;
	_width: 37px;
	padding: 0 5px;
}
#popup #main #faq-area .faq-article dl.question dd {
	padding-left: 3.5em;
}
#popup #main #faq-area .faq-article dl.question dt#a01,
#popup #main #faq-area .faq-article dl.question dt#a02,
#popup #main #faq-area .faq-article dl.question dt#a03,
#popup #main #faq-area .faq-article dl.question dt#a04,
#popup #main #faq-area .faq-article dl.question dt#a05,
#popup #main #faq-area .faq-article dl.question dt#a06,
#popup #main #faq-area .faq-article dl.question dt#a07,
#popup #main #faq-area .faq-article dl.question dt#a08,
#popup #main #faq-area .faq-article dl.question dt#a09,
#popup #main #faq-area .faq-article dl.question dt#b01,
#popup #main #faq-area .faq-article dl.question dt#b02,
#popup #main #faq-area .faq-article dl.question dt#b03,
#popup #main #faq-area .faq-article dl.question dt#b04,
#popup #main #faq-area .faq-article dl.question dt#b05,
#popup #main #faq-area .faq-article dl.question dt#b06,
#popup #main #faq-area .faq-article dl.question dt#b07,
#popup #main #faq-area .faq-article dl.question dt#b08,
#popup #main #faq-area .faq-article dl.question dt#b09,
#popup #main #faq-area .faq-article dl.question dt#c01,
#popup #main #faq-area .faq-article dl.question dt#c02,
#popup #main #faq-area .faq-article dl.question dt#c03,
#popup #main #faq-area .faq-article dl.question dt#c04,
#popup #main #faq-area .faq-article dl.question dt#c05,
#popup #main #faq-area .faq-article dl.question dt#c06,
#popup #main #faq-area .faq-article dl.question dt#c07,
#popup #main #faq-area .faq-article dl.question dt#c08,
#popup #main #faq-area .faq-article dl.question dt#c09,
#popup #main #faq-area .faq-article dl.question dt#d01,
#popup #main #faq-area .faq-article dl.question dt#d02,
#popup #main #faq-area .faq-article dl.question dt#d03,
#popup #main #faq-area .faq-article dl.question dt#d04,
#popup #main #faq-area .faq-article dl.question dt#d05,
#popup #main #faq-area .faq-article dl.question dt#d06,
#popup #main #faq-area .faq-article dl.question dt#d07,
#popup #main #faq-area .faq-article dl.question dt#d08,
#popup #main #faq-area .faq-article dl.question dt#d09,
#popup #main #faq-area .faq-article dl.question dt#e01,
#popup #main #faq-area .faq-article dl.question dt#e02,
#popup #main #faq-area .faq-article dl.question dt#e03,
#popup #main #faq-area .faq-article dl.question dt#e04,
#popup #main #faq-area .faq-article dl.question dt#e05,
#popup #main #faq-area .faq-article dl.question dt#e06,
#popup #main #faq-area .faq-article dl.question dt#e07,
#popup #main #faq-area .faq-article dl.question dt#e08,
#popup #main #faq-area .faq-article dl.question dt#e09,

#popup #main #faq-area .faq-article dl.question dt#f01,
#popup #main #faq-area .faq-article dl.question dt#f02,
#popup #main #faq-area .faq-article dl.question dt#f03,
#popup #main #faq-area .faq-article dl.question dt#f04,
#popup #main #faq-area .faq-article dl.question dt#f05,
#popup #main #faq-area .faq-article dl.question dt#f06,
#popup #main #faq-area .faq-article dl.question dt#f07,
#popup #main #faq-area .faq-article dl.question dt#f08,
#popup #main #faq-area .faq-article dl.question dt#f09 {
	width: 19px;
	_width: 37px;
	padding: 0 9px;
}


/* 豎守畑class
---------------------------------------------------------- */
.fwN { font-weight: normal;}
.fwB { font-weight: bold;}

.taL { text-align: left   !important;}
.taC { text-align: center !important;}
.taR { text-align: right  !important;}
.vaT { vertical-align: top    !important;}
.vaM { vertical-align: middle !important;}
.vaB { vertical-align: bottom !important;}

/* !Margin */
.margin-bottom10 {
    margin-bottom: 10px;
}

.margin-bottom15 {
    margin-bottom: 15px;
}

/* !Padding */
.pt00 { padding-top: 0   !important;}
.pt03 { padding-top: 3px   !important;}

/* !Clearfix */
.clearfix
{
	display: block;
	min-height: 1%;
}
.clearfix:after
{
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}
* html .clearfix
{
	height: 1%;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}

/* !print */
@media print {
	html,body {
		_zoom: 0.85;
	}
	html {
		height: inherit;
	}
	body {
		height: inherit;
		position: inherit;
	}
	.ovh {
		overflow: hidden;
	}
	#contents, x:-moz-any-link {
		display: table;
	}
	#header-out, x:-moz-any-link {
		display: table-cell;
	}
	#content-out, x:-moz-any-link {
		display: table-cell;
	}
	#content-out {
		overflow:visible;
	}
	#popup #content {
		overflow:visible;
	}
	#topicpath-area-out, x:-moz-any-link {
		display: table-cell;
		overflow:visible;
	}
	#topicpath-area-out {
		overflow:visible;
	}
	#container, x:-moz-any-link {
		display: table-cell;
		min-height: inherit;
		height: inherit;
		_height: inherit;
		position: inherit;
	}
	#container {
		overflow:visible;
	}
	#popup #footer-out, x:-moz-any-link {
		display: table-cell;
		overflow:visible;
		height: inherit !important;
		padding: inherit;
		left: inherit;
		bottom: inherit;
		position: inherit;
	}
	#main #popup-service-area, x:-moz-any-link {
		overflow:visible;
	}
	#popup #footer {
		overflow:visible;
	}
	#main #popup-service-area {
		overflow:visible;
	}
	#popup table {
		_width: auto;
	}
}
