/*==========================================

Business

==========================================*/

/* Button Box
------------------------------------------*/
.btnBox01{
margin:0;
clear:both;
width:681px;
height:109px;
background:url(../image/index_bg_btnBox01.gif) no-repeat left top;
}
.btnBox01:after,
.btnBox01 .asetBox2col:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

.btnBox01 .asetBox2col{
margin:0 auto;
padding:18px 0 0 24px;
}
.ConversionTop .asetBox2col ul {
padding:15px 0 0;
text-align:center;
}
.ConversionTop .asetBox2col ul li {
display:inline;
padding: 0 29px;
}
