@charset "UTF-8";

/*----------共通----------*/

body {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	background-image:url(../images/img_bg.png);
	background-repeat:repeat-x;
	background-color: #FFF;
	margin: 0px;
	padding: 0px;
}

a:focus {
	outline:none;
}

#all {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

img {
	border-style:none;
}

#clear {
	clear:both;
}

/*----------ヘッダー----------*/

#header {
	width:100%;
	height:25px;
	background-image:url(../images/img_header_line.png);
	background-repeat:repeat-x;
}

#headeer_contents {
	width:1000px;
	margin-right: auto;
	margin-left: auto;
}

#headeer_contents_logo {
	float:left;
	width:520px;
	margin:15px 0 0 0;
}

#headeer_contents_btn {
	float:left;
	width:480px;
	margin:15px 0 0 0;
}

#headeer_contents_btn ul {
	margin: 0;
	padding: 0; 
	list-style: none;
}

#headeer_contents_btn li {
	float: left;
	display: inline; 
	padding: 0 0 0 2px; 
	margin: 0;
}


/*----------コンテンツ----------*/

img.header_image {
	margin:17px 0 0 0;
}

/*IE7用*/
*:first-child+html img.header_image {
	margin:105px 0 0 0;
}

/*----------フッター---------*/

#footer {
	width:100%;
	height:35px;
	background-color:#007733;
}

.copyright {
	font-size:8pt;
	color:#FFF;
	text-align:center;
	padding: 10px 0 0 0;
}
	