@charset "utf-8";
/* CSS Document */

.err {
	color:#ff0000;
}

.fontBig {
	font-size:14px;
}

.fontBig_18 {
	font-size:18px;
	font-weight:bold;
	color:#008576;
}

#appArea {
	background:url(../image/app_repeat.gif) repeat-y left top;
	width:718px;
}
.appTopInner {
	background:url(../image/app_top.gif) no-repeat left top;
	padding-top:10px;
}
.appBottomInner {
	background:url(../image/app_bottom.gif) no-repeat left bottom;
	padding-bottom:10px;
}
.bkImgArea {
	background:url(../image/takkyubin_21.gif) no-repeat left top;
	width:336px;
	height:68px;
	padding-top:12px;
}
.bkImgArea h4 {
border: none;
padding: 0;
}
#appArea .bkImgArea.floatL.ml15 {_margin-left:8px!important;}
#appArea .bkImgArea.floatR.mr15 {_margin-right:8px!important;}
#appArea p.ml15 {_margin-left:20px!important;}

.posiAh {
	top:21px;
	margin:-27px 0 0;
}

.sheetMailDL {
margin:0 auto;
}