@charset "utf-8";
/* CSS Document */

#h1TagCH h1 {
float: left;
}

#appArea {
	background:url(../image/app_repeat.gif) repeat-y left top;
	width:718px;
}
.appTopInner {
	background:url(../image/app_top.gif) no-repeat left top;
	padding-top:10px;
}
.appBottomInner {
	background:url(../image/app_bottom.gif) no-repeat left bottom;
	padding-bottom:10px;
}
.bkImgArea {
	background:url(../image/takkyubin_21.gif) no-repeat left top;
	width:336px;
	height:68px;
	padding-top:12px;
}
.bkImgArea h4 {
border: none;
padding: 0;
}
#appArea .bkImgArea.floatL.ml15 {_margin-left:8px!important;}
#appArea .bkImgArea.floatR.mr15 {_margin-right:8px!important;}
#appArea p.ml15 {_margin-left:20px!important;}

.copyTopInner {
	padding-top:30px;
}
.copyBottomInner {
	padding-bottom:25px;
}
.posiAb {
/*	top:50%;
	margin:-43px 0 0;*/
	margin:-24px 0 0;
}
ul.icoPrg li ul li {
	background:none;
}