@charset "utf-8";
/* CSS Document */

.err {
	color: #FF0000;
	padding: 0 10px;
	text-align: left;
}

#h1TagCH h1 {
	float: left;
}

.hojinlink {
	float: right;
	padding: 28px 0 0;
	height: 18px;
	line-height: 18px;
}

.hojinlink a {
	background:url(../../common/image/shared/icon_houjin.gif) no-repeat left center;
	height: 18px;
	line-height: 18px;
	padding: 2px 0 0 20px;
}

.posiAh {
	top:50%;
	margin:-34px 0 0;
}

#importantArea {
	background:url(../image/important_repeat.gif) repeat-y left top;
	width:718px;
}
.importantTopInner {
	background:url(../image/important_top.gif) no-repeat left top;
	padding-top:10px;
}
.importantBottomInner {
	background:url(../image/important_bottom.gif) no-repeat left bottom;
	padding-bottom:10px;
}

a.defaultLink_ma{
	background:url(../../common/image/shared/parts/arrow_link.gif) no-repeat left 5px;
	padding:0 0 3px 7px;
	_padding:0 0 0 18px;
	zoom:100%;
}

*:first-child+html a.defaultLink_ma{
	background:url(../../common/image/shared/parts/arrow_link.gif) no-repeat left center;
	padding:5px 0 0 21px;
}

span.f11{
	letter-spacing:-1px;
	margin-left:-10px;
	width:150px !important;
	float:left;
	text-align:left;
	
}
	
ul.icoPrg li ul li {
	background:none;
}

.colorRed{
	color:#FF0000;
	font-weight:normal;
}