/*==========================================

tenkyo

==========================================*/
.waku01 {
width:650px;
background-image:url(../image/wakucenter.gif);
background-position:left top;
background-repeat:repeat-y;
}
.waku01 .waku01_01 {
background-image:url(../image/wakutop.gif);
background-position:left top;
background-repeat:no-repeat;
}
.waku01 .waku01_02 {
padding-top:10px;
padding-bottom:10px;
background-image:url(../image/wakubtom.gif);
background-position:left bottom;
background-repeat:no-repeat;
}
.waku01 .wakuLeft01 {
display:block;
float:left;
padding:0 0 0 20px;
}
.waku01 .wakuRight01 {
float:right;
width:560px;
padding:0 15px 0 0;
}
.waku01 .waku01WhiteBox {
background-color:#FFF;
padding:10px;
}