@charset "UTF-8";

/* -------------------------------------------------------------------

    Print

-------------------------------------------------------------------- */
@media print{
    * html body{
        zoom: .7;
    }
}
