/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
	name : common.css
 : :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


/* ********************************************************************************
 * Base Layout
 * ******************************************************************************** */

html,
body {
	height: 800px;
}
body {
	background-color: #ffffff;
	font-family: Arial, Helvetica, simsun, sans-serif;
	text-align: center; /* for IE6 */
}

body#IndexPage #container {
	position: relative;
	width: 1014px;
	_width: 1014px;
	margin: 0 auto;
	padding:0 0px;
	background-color: #cce2e2;
	background: url(../images/bg_im_01.gif) left top repeat-y;
	text-align: left;
}
*html #container {
	height: 100%;
}

/* ********************************************************************************
 * ページ共通レイアウト
 * ******************************************************************************** */

#header {
	position: relative;
	width: 1000px;
	margin: 0 auto;
	z-index: 10;
	border-bottom:solid 2px #ffff33;
}



/* ALL PAGE */
#content {
	position: relative;
	left:7px;
	margin: 0;
	padding: 0;
	width:700px;
	/* min-height:100%; */
	/* width : 695px\9; */
}

/*  pngfix
------------------------------------------------------------*/
* html .iepngfix {
behavior: expression(IEPNGFIX.fix(this));
}



/* ********************************************************************************
 * TOP Layout
 * ******************************************************************************** */

/* TOP PAGE */
body#IndexPage #content {
	padding-bottom: 0;
}

body#IndexPage div#container div#content div#main div#mainBody {
	position: relative;
	float:left;
	width:700px;
	_width:700px;
	margin:0px;
	_margin:0px;
/*	height: 950px;	*/
/*	overflow-x: hidden;	*/
/*	overflow-y: auto;	*/
}

body#IndexPage div#container div#content div#main div#mainBody div#mainTitle {
	width:700px;
	z-index: 1;
}

body#IndexPage div#container div#content div#main div#mainBody div#mainTitle table tr td {
	margin:0;
	padding:0;
}

body#IndexPage div#container div#content div#main div#mainBody div#mainTitle table td {
	background: url(../images/title_bg.jpg) left top;
	margin:0;
	padding:0;
}

body#IndexPage div#container div#content div#main div#mainBody div#mainTitle table tr td div#SocialLinks { padding-left:10px; vertical-align: middle; }
body#IndexPage div#container div#content div#main div#mainBody #SocialLinks .social{ padding-top:10px; overflow:hidden; padding-bottom:12px; margin:0; }
body#IndexPage div#container div#content div#main div#mainBody #SocialLinks .social li{ margin:0; line-height:1.1; float:left; padding-right:0px; }
body#IndexPage div#container div#content div#main div#mainBody #SocialLinks .social li.tw{ width:110px;}
body#IndexPage div#container div#content div#main div#mainBody #SocialLinks .social li.fb_like{ width:108px;}
body#IndexPage div#container div#content div#main div#mainBody #SocialLinks .social li.fb_share{ width:138px; padding-top:1px;}
body#IndexPage div#container div#content div#main div#mainBody #SocialLinks .social span.FBConnectButton_text{ _width:20px; }
body#IndexPage div#container div#content div#main div#mainBody #SocialLinks .social span.fb_share_count_inner{ *width:50px; }


body#IndexPage div#container div#content div#main div#mainBody div#mainContent {
	position: relative;
	float:left;
	width:420px;
	_width:410px;
	*width:410px;
	margin:0px 20px;
	
	_margin:0px 0px 0px 10px;
} 

body#IndexPage div#container div#content div#main div#mainBody div#mainContent h2.subtitle {
	display: block;
	width:360px;
	height: 60px;	line-height: 1.8;
	font-size: 16px !important;
	font-weight:bold;
	margin:30px 0 10px;
	padding: 5px 0px 0px 0px;
}
body#IndexPage div#container div#content div#main div#mainBody div#mainContent p.textNormal {
	margin-bottom: 20px;
	line-height: 1.8;
	text-align:justify;
	text-justify:inter-ideograph;
/*	text-indent: 1em; */
	letter-spacing: 0.3px;
}

body#IndexPage div#container div#content div#main div#mainBody div#mainContent2 {
	position: relative;
	margin:0px 50px;
	
	_margin:0px 0px 0px 10px;
} 

body#IndexPage div#container div#content div#main div#mainBody div#mainContent2 h2.subtitle {
	display: block;
	width:360px;
	height: 60px;	line-height: 1.8;
	font-size: 16px !important;
	font-weight:bold;
	margin:30px 0 10px;
	padding: 5px 0px 0px 0px;
}
body#IndexPage div#container div#content div#main div#mainBody div#mainContent2 p.textNormal {
	margin-bottom: 20px;
	line-height: 1.8;
	text-align:justify;
	text-justify:inter-ideograph;
/*	text-indent: 1em; */
	letter-spacing: 0.3px;
}

body#IndexPage div#container div#content div#main div#mainBody div#mainContent div.textSupBox dl {
	display: block;
	padding-bottom: 6px;
	line-height: 1.5;
	font-size: 92%;
}
body#IndexPage div#container div#content div#main div#mainBody div#mainContent div.textSupBox dt {
	float: left;
	width: 28px;
	_width: 20px;
	margin: 0 0px 15px 0px;
}
body#IndexPage div#container div#content div#main div#mainBody div#mainContent div.textSupBox dd {
	display: block;
	padding-left: 5px;
}
body#IndexPage div#container div#content div#main div#mainBody div#mainContent div.RequestLinks {
	margin: 0px 0px 0px 20px;
}

body#IndexPage div#container div#content div#main div#mainBody div#PageMove {
	clear: both;
	display: block;
	margin: 30px 0px 30px 30px;
	padding-bottom:30px;
}
body#IndexPage div#container div#content div#main div#mainBody div#PageMove table tr td {
	vertical-align: top;
	padding-left: 2px;
}

body#IndexPage div#container div#sub div.subImageBox ,
body#IndexPage div#container div#content div#main div#mainBody div#mainContent div.RequestLinks a img {
	margin:30px 0;
}
body#IndexPage div#container div#sub div.subImageBox a:hover img ,
body#IndexPage div#container div#content div#main div#mainBody div#mainContent div.RequestLinks a:hover img,
body#IndexPage div#container div#content div#main div#mainBody div#PageMove table tr td a:hover img {
	opacity:0.8; filter: alpha(opacity=80);
}

body#IndexPage div#container div#content div#main div#mainBody div#mainContent div.IE7BugFix{
	*height:35px;
	*width:400px;

}

/**************************

*/
body#IndexPage div#container div#content div#main div#mainBody div#mainPhotoArea {
	position: relative;
	float: right;
	margin: 0;
	width:220px;
	top:-130px;
	z-index: 10;
}

body#IndexPage div#container div#content div#main div#mainBody div p.mainPhotoAreaTx {
	margin:5px 0px;
	/* width:210px; */
	line-height: 1.5;
	font-size:11px;
	font-family: Arial, Helvetica, simsun, sans-serif;
	text-align:left;
	color:#081703;
}

/* ********************************************************************************
 * Sub Layout
 * ******************************************************************************** */


#sub {
	position: relative;
	float: right;
	left :0px;
	width: 300px;
	_width: 300px;
	vertical-align:top;
	margin: 0px 0px 0ox 0px;
	_margin: 0px 0px;
	_padding: 0px 0px;
	x-index:10px;
/*	height: 950px;	*/
/*	overflow-x: hidden;	*/
/*	overflow-y: auto;	*/
}
*html #sub {
}

/* .subImage
------------------------------------------------------------*/
body#IndexPage div#container div#sub div.subImageInfo {
	margin:0px 5px;
	padding: 0px;
}

/* #intromenu
------------------------------------------------------------*/
body#IndexPage div#container div#sub  #intromenu{
	margin:0;
	padding:0;
	width:280px;
	list-style-type:none;
}
body#IndexPage div#container div#sub #intromenu a{
	display:block;
	font-weight:normal;
	text-decoration:none;
}
body#IndexPage div#container div#sub #intromenu ul{
	overflow: hidden;
	margin:0;
	padding:0;
}
body#IndexPage div#container div#sub #intromenu li{
	margin:0;
	padding:0;
	list-style-type:none;
}
body#IndexPage div#container div#sub #intromenu li a{
	width:280px;
	margin:1px 0 0;
	display:block;
}
body#IndexPage div#container div#sub #intromenu li li{
	margin:0;
	padding:0;
}


/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
	name : accordionMenu.css
 : :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
body#IndexPage div#container div#sub  #accordion{
	margin:0px;
	padding:0px;
	width:280px;
	list-style-type:none;
}
body#IndexPage div#container div#sub #accordion a{
	display:block;
	font-weight:normal;
	text-decoration:none;
}
body#IndexPage div#container div#sub #accordion ul{
	overflow: hidden;
	margin:0px;
	padding:0px;
}
body#IndexPage div#container div#sub #accordion li{
	margin:0px;
	padding:0px;
	list-style-type:none;
}
body#IndexPage div#container div#sub #accordion li a{
	width:280px;
	margin:1px 0px 0px 0px;
	display:block;
}
body#IndexPage div#container div#sub #accordion li a.closed{
}
body#IndexPage div#container div#sub #accordion li.firstitem a.closed{
}
body#IndexPage div#container div#sub #accordion li.lastitem a.closed{
}
body#IndexPage div#container div#sub #accordion li li{
	margin:0px;
	padding:0px;
}
body#IndexPage div#container div#sub #accordion li a.opened{
}
body#IndexPage div#container div#sub #accordion li.firstitem a.opened{
}
body#IndexPage div#container div#sub #accordion li.lastitem li{
	margin:0px;
	padding:0px;
}
body#IndexPage div#container div#sub #accordion li.lastitem ul{
	margin:0px;
	padding:0px;
}

body#IndexPage div#container div#sub div a img {

}


body#IndexPage div#container div#sub div a:hover img {
	opacity:0.7; filter: alpha(opacity=70);
}


body#IndexPage div#container div#sub div.subImageBG {
	margin-top:40px;
	width:200px;
	padding: 0;
	height:35px;
	background: url(../..//images/sub_subtitle_bg.gif) left top no-repeat;
}
body#IndexPage div#container div#sub div.subImageBG h3.subImageTitle {
	font-size:13px;
	font-weight:bold;
	color:#00552e;
	padding: 10px 0 5px 25px;;
}

body#IndexPage div#container div#sub div.subImage {
	margin:10px 0px;
	padding: 0px;
}

body#IndexPage div#container div#sub p.subImageText{
	width:260px;
	padding: 0px;
	line-height: 1.5;
	font-size:12px;
	text-align:justify;
	text-justify:inter-ideograph;
}

body#IndexPage div#container div#sub div.subBoxTable {
	margin:10px 0px;
}
body#IndexPage div#container div#sub div.subBoxTable table {
	border-spacing: 5px;
	border-collapse: separate;
}

body#IndexPage div#container div#sub div.subBoxTable table tr {
	border-spacing: 5px;
}


body#IndexPage div#container div#sub div.subBoxTable table th {
	border-right:5px solid #66cc00;
	padding:0px 8px 0px 0px;
	vertical-align: middle;
	font-weight:bold;
	font-size:12px;
}

body#IndexPage div#container div#sub div.subBoxTable table td h4 {
	color:#336600;
	font-weight:bold;
	font-size:12px;
}

body#IndexPage div#container div#sub div.subBoxTable table td div {
	margin:2px 3px 10px 3px;
	font-size:10px;
	line-height:1.5;
	color:#000000;
}

body#IndexPage div#container div#sub div.subBoxTextBox {
	margin:40px 0px 0px;
	text-align:justify;
	text-justify:inter-ideograph;
	border:#00552e 1px solid;
	padding:10px;
	font-size:13px;
}

body#IndexPage div#container div#sub h3.subInfoBoxTitle {
	margin-top:40px;
	font-size:13px;
	font-weight:bold;
	color:# 00552e;
	padding: 3px;
	border-bottom:#1f3134 3px double;
}

body#IndexPage div#container div#sub div.subInfoBox  {
	font-size:13px;
	margin:10px 0;
}


/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
	name : footer.css
 : :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
#footer {
	background:transparent url(http://special.nikkeibp.co.jp/images/nbo/200804/parts/bg-footer.gif) repeat-x scroll;
	position: relative;
	clear:both;
/*	margin:20px 0pt 0pt; */
	padding:15px 0pt 0pt;
	width:1000px;
	background-color:#FFFFFF;
}

.footer-logo {
	float:right;
	width:130px;
	margin:10px 0px;
}

.footer-list2 {
	float:left;
	font-size:12px;
	margin:5px 0px 0px 50px;
	_margin:5px 0px 0px 20px;
	padding:0px;
	text-align:left;
	width:800px;
}

.footer-list2 strong {
	color:#666666;
	display:block;
	float:left;
	font-weight:bold;
	width:150px;
}

.footer-list2 a:link, .footer-logo a:link {
	border-bottom-style:none;
	text-decoration:none;
}

.footer-sup{
}

.footer-copyright2 {
	clear:both;
	font-size:12px;
	margin:0px auto;
	padding:10px 0px 5px;
	width:800px;
	text-align:center;
	line-height:20px;
}


.footCopy { padding: 15px 0; font: normal x-small/110% sans-serif; }