body	{ margin:0px;} 
.non	{line-height:normal}
#non	{line-height:normal}

a:link    {color:#0033CC;  text-decoration:underline}
a:visited {color:#0033CC;  text-decoration:underline}
a:hover   {color:#FF0000;  text-decoration:underline}

a.p:link    {color:#7436FD;  text-decoration:underline}
a.p:visited {color:#7436FD;  text-decoration:underline}
a.p:hover   {color:#FF0000;  text-decoration:underline}

a.w:link    {color:#0000FF;  text-decoration:underline}
a.w:visited {color:#0000FF;  text-decoration:underline}
a.w:hover   {color:#FF0000;  text-decoration:underline}

a.t:link    {color:#FFF000;  text-decoration:underline}
a.t:visited {color:#FFF000;  text-decoration:underline}
a.t:hover   {color:#FF3333;  text-decoration:underline}

.t10	{font-size:11px; line-height:130%}
.t12	{
	font-size:13px;
	line-height:130%;
}
.t14	{font-size:15px; line-height:130%}
.margin20 {
	margin-left: 20px;
	padding-left: 20px;
}.t12h {

	font-size:13px;
	line-height:150%;
}.t14q {
	font-size:15px;
	line-height:130%;
	font-family: "ＭＳ ゴシック", "Osaka－等幅";
}
.t12_150 {
 font-size:13px;
 line-height:150%;
}
.sup {
 vertical-align: text-top;
}
