@charset "Shift_JIS";

/*--------------------------------------------------------------------------
	Yamato Transport employment Information for all browser ver1.0
	designed by common-design
--------------------------------------------------------------------------*/

@import "modern.css";

/*--------------------------------------------------------------------------
　　初期設定
--------------------------------------------------------------------------*/
html {
	overflow-y:scroll;
	height: 100%;
}

div#contents {
	font-family: verdana, arial, helvetica, 
	 "ＭＳ Ｐゴシック", "Osaka",
	 Sans-Serif;
	font-size: 12px;
	line-height : 1.7;
}

div#contents h1, h2, h3, h4, h5, h6 {
	border-bottom: 1px solid Black;
}

div#contents ul,
div#contents ol,
div#contents dl {
	margin: 1em 0.5em;
	padding: 0;
	list-style-position: outside;
}

div#contents li,
div#contents dt,
div#contents dd {
	font-size: 100%;
	margin: 0.5em 2em;
}

div#contents strong {
	color: Red;
	font-weight: bold;
}

div#contents a:link {
	color: #0000FF;
}

div#contents a:hover {
	color: #CC6600;
	text-decoration: none;
}

div#contents a:visited {
	color: #D47504;
}

/*--------------------------------------------------------------------------
　　ヘッダ
--------------------------------------------------------------------------*/
/*
div#header {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

div#header h1 {
	font-size: 14px;
	font-weight: normal;
}

div#header h1,
div#header h2,
div#header hr {
	display: none;
}

div.header {
	font-size: 10px;
	line-height: 13px;
	color: #FFFFFF;
}

div.header a:link{
	color: #FFFFFF;
}
div.header a:visited{
	color: #FFCC00;
}
div.header a:hover{
	color: #FFCC00;
	text-decoration: none;
}
div.header a:active{
 	color: #FFCC00;	
}
*/
/*--------------------------------------------------------------------------
　　フッター
--------------------------------------------------------------------------*/
/*
div#footer {
	padding-top: 20px;
	clear: both;
}

div#footer_contents {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

div#footer hr {
	display: none;
}

div.footer {
	font-size: 10px;
	line-height: 13px;
	color: #FFFFFF;
}
*/
/*--------------------------------------------------------------------------
　　未使用

.footer {
	color: #FFFFFF;
}
.footer a:link{
	color: #FFFFFF;
}
.footer a:visited{
	color: #FFCC00;
}
.footer a:hover{
	color: #FFCC00;
	text-decoration: none;
}
.footer a:active{
 	color: #FFCC00;	
}

--------------------------------------------------------------------------*/
