@charset "Shift_JIS";

/*--------------------------------------------------------------------------
	Yamato Transport for modern browser ver1.0
	designed by common-design
--------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------
　　初期設定
--------------------------------------------------------------------------*/

* {
	margin: 0;
	padding: 0;
}

/*--------------------------------------------------------------------------
　　パンくずナビ
--------------------------------------------------------------------------*/

div#file_path {
	width: 700px;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: auto;
	margin-right: auto;
	font-size: 11px;
}

/*--------------------------------------------------------------------------
　　コンテンツ
--------------------------------------------------------------------------*/
div#contents {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	/* clear fix */
	_height: 1px;
	min-height: 1px;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}

div#contents:after { /* clear fix */
	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
}

/*--------------------------------------------------------------------------
　　採用情報
--------------------------------------------------------------------------*/

div#contents div#employ_contents {
/*	width: 500px;
	float: left;*/
	background: url(../materials/corner_750pix.gif) repeat-y;
}

div#contents div#employ_contents a img  {
	border: 0;
}

div#contents div#employ_contents a img.hover {
	position: relative;
	top: 1px;
	left: 1px;
}

/* intern追加 2009/05/29 hara */
div#contents div#employ_contents div#shinsostu,
div#contents div#employ_contents div#intern,
div#contents div#employ_contents div#career,
div#contents div#employ_contents div#handicapp {
	position: relative;
	margin-bottom: 1em;
	/* clear fix */
	_height: 1px;
	min-height: 1px;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}

/* intern追加 2009/05/29 hara */
div#contents div#employ_contents div#shinsostu:after,
div#contents div#employ_contents div#intern:after,
div#contents div#employ_contents div#career:after,
div#contents div#employ_contents div#handicapp:after { /* clear fix */
	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
}

div#contents div#employ_contents ul {
	position: absolute;
	bottom:0px;
	right: 0px;
	margin:0;
	padding:0;
	font-size: 120%;
}

div#contents div#employ_contents li {
	list-style: none;
	padding-right: 18px;
	clear: both;
}

div#contents div#employ_contents div#shinsostu li {
	background: url(../materials/link_blank_hover.gif) no-repeat right center;
	background: url(../materials/link_blank.gif) no-repeat right center;
}

div#contents div#employ_contents div#shinsostu li.hover {
	background: url(../materials/link_blank_hover.gif) no-repeat right center;
}

/* intern追加 2009/05/29 hara */
div#contents div#employ_contents div#intern li ,
div#contents div#employ_contents div#career li ,
div#contents div#employ_contents div#handicapp li  {
	background: url(../materials/link_arow_hover.gif) no-repeat right center;
	background: url(../materials/link_arow.gif) no-repeat right center;
}

/* intern追加 2009/05/29 hara */
div#contents div#employ_contents div#intern li.hover ,
div#contents div#employ_contents div#career li.hover ,
div#contents div#employ_contents div#handicapp li.hover  {
	background: url(../materials/link_arow_hover.gif) no-repeat right center;
}

div#contents div#employ_contents h2 {
	background: url(../materials/saiyo_title.gif) no-repeat;
	height: 46px;
	text-indent: -9999px;
	margin-bottom: 15px;
	border: 0;
	overflow: hidden;
}

div#contents div#employ_contents h3 {
	background: url(../materials/dot.gif) repeat-x top;
	font-size: 14px;
	font-weight: normal;
	padding: 3px 10px;
	margin-bottom: 10px;
	clear: both;
}

div#contents div#employ_contents h4 {
	position: absolute;
	font-size: 11px;
	line-height: 14px;
	font-weight: normal;
	border: 0;
	top: 6px;
	right: 0;
}

div#contents div#employ_contents img {
	float: left;
}

div#contents div#employ_contents div.comment {
	padding-top: 10px;
	padding-bottom: 2.5em;
}

div#contents div#employ_contents div#shinsostu h3 {
	border-bottom: 2px solid #0068B6;
}

div#contents div#employ_contents div#intern h3 {
	border-bottom: 2px solid #0068B6;
}/* 2009/05/29追加 hara */

div#contents div#employ_contents div#career h3 {
	border-bottom: 2px solid #00A73B;
}

div#contents div#employ_contents div#handicapp h3 {
	border-bottom: 2px solid #F39700;
}

/* jQuery から呼び出される class */
div#contents div#employ_contents div.inner {
	background: url(../materials/corner_top.gif) no-repeat;
	padding: 25px 10px 10px 10px;
}

div#contents div#employ_contents div.corner_bottom {
	background: url(../materials/corner_bottom.gif) no-repeat bottom;
	height: 15px;
}

/*--------------------------------------------------------------------------
　　サイドコンテンツ
--------------------------------------------------------------------------*/
div#contents div#side_contents {
	float: right;
	width: 240px;
}

/*--------------------------------------------------------------------------
　　インフォメーション
--------------------------------------------------------------------------*/

div#contents div#information {
	background: url(../materials/corner_240pix.gif) repeat-y;
}

div#contents div#information h2 {
	background: url(../materials/corner_information.gif) no-repeat;
	height: 29px;
	text-indent: -9999px;
	margin-bottom: 10px;
	border: 0;
}

div#contents div#information dl {
	margin: 15px 10px;
	padding: 0 0 15px 0;
	background: url(../materials/dot.gif) repeat-x bottom;	
}

div#contents div#information dt {
	margin: 0 0 10px 0;
	padding: 0;
}

div#contents div#information dl.sinsotsu dt {
	background: url(../materials/info_icon_shisotsu.gif) no-repeat left center;
	padding-left: 42px;
}

div#contents div#information dl.career dt {
	background: url(../materials/info_icon_career.gif) no-repeat left center;
	padding-left: 42px;
}

div#contents div#information dd {
	margin: 0 0 0 1em;
	padding: 0px;
}

/* jQuery から呼び出される class */
div#contents div.information_bottom {
	background: url(../materials/corner_info_bottom.gif) no-repeat bottom;
	padding-bottom: 15px;
	_height: 0px; /* IE hack */
}

/*--------------------------------------------------------------------------
　　バナーエリア
--------------------------------------------------------------------------*/
div#contents div#optional_information {
	margin-top: 10px;
}

div#contents div#optional_information ul {
	margin: 0px;
}

div#contents div#optional_information li {
	list-style: none;
	margin: 5px 0px;
	text-align: center;
}

div#contents div#optional_information li a {
	border: 0;
}

div#contents div#optional_information li a:hover {
	position: relative;
	top: 1px;
	left: 1px;
}