/* ============================================
 Members Page
============================================ */

/* Reset */
body{
color: #000;
background-color:#000;
width: 100%;
line-height: 1.8;
}

/* IE6, 7 centering */

html* body{
	text-align:center;
}




/* clearfix
------------------------------------------*/
.clearFix:after {
content: ".";
display: block;
clear: both;
height: 0;
visibility: hidden;
}
.clearFix { display: inline-block; zoom:1; overflow:hidden;}
/* exlude MacIE5 \*/
* html .clearFix { height: 1%; _height: 0; }
.clearFix {display:block;}
/* end MacIE5 */

/* Common */

.bgYellow{background-color:#fdd000;position:relative;}

.bodyWrap{
	width: 100%;
	box-sizing: border-box;
	border-left: 20px solid #000;
	border-right: 20px solid #000;
	border-bottom: 20px solid #000;
	border-top: 0px solid #000;
}

html*.bodyWrap{width:96%; margin:0 auto; border:none; text-align:center;}

/*ie7*/
*+html .bodyWrap{margin-top:20px;}
/*ie6*/
* html .bodyWrap{border-top:20px #000 solid;}


.bodyWrap a{
	color:#000;
	text-decoration:underline;
}
.bodyWrap a:hover{}


.inner{
	width:910px;
	padding:0 20px;
	background-color:#000;
	margin:0 auto;
}
/*IE6,7*/
html*.inner{text-align:left;}

.imgReplace{
	text-indent:-9999px;
	overflow:hidden;
	display:block;
	background-repeat:no-repeat;
}

.modal.txt{
	padding:50px;
	background-color:#FFF;
	width:540px;
	margin:10px auto;
}
.modal.movie{
	width:640px;
	height:360px;
	padding:10px;
}

.modal.txt h4{
	margin-bottom:43px;
}
.modal.txt p{
	margin-bottom:20px;
}


/*----------------------------------------main visual*/
#mainV{
	position:relative;
	width:910px;
	height:480px;
}

#mainV h1,
#mainV h2,
#mainV h3,
#mainV .wallpaper,
#mainV .tvcm,
#mainV .neko,
#mainV .loadingIndicator{
	display:block;
	position:absolute;
}
#mainV h1{
	width:592px;
	height:369px;
	top:0;
	right:0;
}
#mainV h1 .spacer{
	position:absolute;
	top:0;
	left:0;
	z-index:100;
}
#mainV h2{
	top:101px;
	left:0;
}
#mainV h3{
	bottom:0;
	left:189px;
}
#mainV .wallpaper{
	top:-20px;
	left:0;
	background-image:url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/compactcmp/pc/mainv-wallpaper.gif); width:298px; height:120px;
}
#mainV .wallpaper:hover{
	background-position:0 -120px;
}
#mainV .tvcm{
	bottom:0;
	left:0;
	background-image:url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/compactcmp/pc/mainv-tvcm.gif); width:169px; height:144px;
}
#mainV .tvcm:hover{
	background-position:0 -144px;
}
#mainV .neko{
	bottom:0;
	right:0;
}

#mainV .loadingIndicator {
	width:42px;
	height:42px;
	top:50%;
	left:50%;
	margin:-21px 0 0 -21px;
  -webkit-animation-name: rotateThis;
  -webkit-animation-duration:2s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
}
@-webkit-keyframes rotateThis {
  from {-webkit-transform:scale(1.0) rotate(0deg);}
  to {-webkit-transform:scale(1.0) rotate(360deg);}
} 
/*IE67*/
html*#mainV .loadingIndicator{ display:none;}
/*
#mainV .loadingIndicator{top:50%; color:#FFF; text-align:center; width:100%;}
#mainV .loadingIndicator{ /display:none;}
*/


/*----------------------------------------------------Gnav*/
.gNavWrap {
	width: 100%;
	height: 50px;
	padding: 0;
	position: relative;
	background-color: #000;
}
.gNav {
	width: 910px;
	height: 50px;
	margin: 0 auto;
	clear: both;
}
.gNav li {
	margin: 0;
	float: left;
}
.gNav li a {
	display:block;
}
.gNav .logo{
	margin-right:112px;
}

.gNav li a.nav1,
.gNav li a.nav2,
.gNav li a.nav3,
.gNav li a.nav4{
	height:50px;
}

.gNav li a.nav1{background-image:url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/compactcmp/pc/gnav1.gif); width:196px;}
.gNav li a.nav2{background-image:url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/compactcmp/pc/gnav2.gif); width:134px;}
.gNav li a.nav3{background-image:url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/compactcmp/pc/gnav3.gif); width:127px;}
.gNav li a.nav4{background-image:url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/compactcmp/pc/gnav4.gif); width:145px;}

.gNav li a.nav1:hover,
.gNav li a.nav2:hover,
.gNav li a.nav3:hover,
.gNav li a.nav4:hover{
	background-position:0 -80px;
}



/*----------------------------------------------------services*/

#services{
	width:910px;
	margin:0 auto;
	height:830px;
	position:relative;
}
#services .service{
	width:445px;
	height:830px;
	position:absolute;
	top:0;
	text-align:center;
}

#service1{left:0;}
#service2{right:0;}

#services a.detailBtn{width:284px; height:65px; background-image:url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/compactcmp/pc/btn-detail.gif); margin:0 auto;}
#services a.detailBtn:hover{
	background-position:0 -75px;
}

.anime01 {
	position:absolute;
	top:168px;
	left:-43px;
	z-index:10;
}

.motionElm {}

.fadeInUp {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1s;
 -ms-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-name: fadeInUp;
 animation-name: fadeInUp;
 visibility: visible !important;
}
@-webkit-keyframes fadeInUp {
 0% { opacity: 0; -webkit-transform: translateY(300px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInUp {
 0% { opacity: 0; -webkit-transform: translateY(300px); -ms-transform: translateY(300px); transform: translateY(300px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}


/*----------------------------------------------------CM*/

#tvcm{
	width:910px;
	height:1100px;
	position:relative;
/*	margin-top:20px;*/
}
#tvcm h2{
	position:absolute;
	top:48px;
	left:40px;
}
#nekovisual{
	position:absolute;
	top:710px;
	left:50%;
	margin-left:-640px;
}
/*IE6*/
/*
#nekovisualIE6{display:none;}
* html .nekovisualModern  { display:none;}
* html #nekovisualIE6  { display:block;}
*/
#tvcm .listWrap{
	position:absolute;
	top:166px;
	right:30px;
	width:840px;
}
#tvcm .nutShell{
	float:left;
	display:block;
	width:260px;
	height:220px;
	margin-right:20px;
}
#tvcm .nutShell h3{
	font-size:16px;
	margin-bottom:12px;
	line-height:1.5em;
}

#tvcm .first{
	height:260px;
}

#tvcm .first h3{
	display:block;
	height:40px;
}

#tvcm .nutShell .thumbWrap a {
	display: block;
	background-color:#000;
	padding:20px;
	position:relative;
}
#tvcm .nutShell .thumbWrap a:hover{
	background-color:#FFF;
}

#tvcm .nutShell .thumbWrap a .playIcon{
	width:220px;
	height:124px;
	background-image:url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/compactcmp/pc/icon-play.png);
	background-position:0 0;
	position:absolute;
	top:80px;
	left:130px;
	z-index:100;
}
#tvcm .spacer{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}
/*IE6*/
/*
* html #tvcm .nutShell .thumbWrap .playIcon  { background-image:url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/compactcmp/pc/icon-play.gif); }
*/

#tvcm .nutShell .thumbWrap a:hover .playIcon{
	top:81px;
	background-image:url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/compactcmp/pc/icon-play.png);
	background-position:0 -125px !important;
}

/*
* html #tvcm .nutShell .thumbWrap:hover{
	background-image:url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/compactcmp/pc/icon-play-on.png);
	filter: alpha(opacity=70);
}
*/
/*IE6,7*/
#tvcm .modalWrap{
/display:none;
}
#tvcm .smallMovie{ display:none;}

/*
#tvcm .smallMovie{ /display:block;}
#tvcm .nutShell .thumbWrap .thumb{ /display:none;}
#tvcm .nutShell .thumbWrap .playIcon{ /display:none;}
*/

/*----------------------------------------------------PRESENT*/

#present{
	width:910px;
	position:relative;
	margin-top:20px;
	padding-bottom:130px;
	background-image:url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/compactcmp/pc/present-bg.jpg);
	background-position:right bottom;
	background-repeat:no-repeat;
}

#present .narrowInner{
	width:830px;
	margin:0 auto;
	padding-top:46px;
}

/* IE7,6 centering */
html* #present{
	text-align:center;
}
html* #present .narrowInner{
	text-align:left;
}


#present h2{
	padding-bottom:48px;
	border-bottom:#000 1px solid;
}

#present h3{
	font-size:20px;
	font-weight:bold;
	margin-bottom:12px;
}
#present p.lead{
	font-size:16px;
}

#present a:hover{
	background-color:#FFF;
	border-radius:2px;
}

#present a.settingLink{
	text-decoration:none;
}
#present a.settingLink:hover{
	color:#FFF;
	background-color:transparent;
}

#present .settingLink .textLink{
	text-decoration:underline;
}
#present .settingLink .textLinkIcon{
	display:inline-block;
	margin-left:6px;
	text-decoration:none;
}

#present #wallpaper{
	margin-top:60px;
	position:relative;
}
#present #wallpaper .settingLink{
	position:absolute;
	top:38px;
	right:0;
	
}

#present #wallpaper .listWrap.pc{margin-top:56px; overflow: hidden;}
#present #wallpaper .listWrap.sp{overflow: hidden;}

#present .nutShell{
	float:left;
	display:block;
	width:193px;
	height:318px;
	margin-right:19px;
}
#present .nutShell.R{
	margin-right:0;
}
#present .nutShell .thumbWrap{
	margin-bottom:16px;
}

#present .nutShell ul li a{
	display:block;
	width:70%;
	margin:0 auto;
	background-image:url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/compactcmp/pc/icon-textlink.png);
	background-position:right center;
	background-repeat:no-repeat;
	line-height:30px;
	padding:0 6px;
}
* html #present .nutShell ul li a{
	background-image:url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/compactcmp/pc/icon-textlink.gif);
}

#present .sp .nutShell ul li a{
	width:45%;
}

#present #cmsong{
	margin-top:20px;
	padding-top:60px;
	position:relative;
	border-top:#000 1px solid;
}
#present #cmsong .settingLink{
margin-top:12px;
}

#present #cmsong .listWrap{margin-top:60px;}
#present #cmsong .listWrap ul li{
	float:left;
	background-position:left center;
	background-repeat:no-repeat;
	height:71px;
}
#present #cmsong .listWrap ul li.num1{
	background-image:url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/compactcmp/pc/icon-musicnote1.gif);
}
#present #cmsong .listWrap ul li.num2{
	background-image:url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/compactcmp/pc/icon-musicnote2.gif);
}
#present #cmsong .listWrap ul li a{
	display:inline-block;
	margin:40px 46px 0 85px;
	padding-right:32px;
	line-height:24px;
	/*
	margin-right:24px;
	*/
	background-image:url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/compactcmp/pc/icon-textlink.png);
	background-position:right center;
	background-repeat:no-repeat;
}
* html #present #cmsong .listWrap ul li a {
	background-image:url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/compactcmp/pc/icon-textlink.gif);
}

#present #cmsong .listWrap ul li a:hover{
	background-color:#FFF;
	border-radius:2px;
}
* html #present #cmsong .listWrap ul li a:hover{
	background-color:transparent;
}


#present #aboutCopyrights{
	
}



/*----------------------------------------------------banners*/

#banners{
	width:910px; height:132px; position:relative;
	margin-top:20px;
}
#banners .bannerHeader,
#banners .banner1,
#banners .banner2,
#banners .banner2speech{
	position:absolute;
	top:0;
	height:132px;
}
#banners .bannerHeader{z-index:10;}
#banners .banner1{
	left:0px;
	width:615px;
	background-image:url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/compactcmp/pc/g_banner1.png);
}
#banners .banner2{
	right:0;
	width:291px;
	background-image:url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/compactcmp/pc/g_banner2.png);

}
#banners .banner2speech{
	height:74px;
	width:150px;
	top:-46px;
	left:597px;
	background-image:url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/compactcmp/pc/banner-speech.gif);
	z-index:100;
}

#banners .banner1:hover{
	background-position:0 -132px;
}
#banners .banner2:hover{
	background-position:0 -132px;
}

/*----------------------------------------------------Footer*/

#footer{
height:80px;
}
#footer #footerIn{
padding:20px 0 0 0;
margin:0 auto;
text-align:left;
width:910px;
}

#footerIn .footerNavi{
float:left;
}

#footerIn .footerNavi li{
float:left;
margin:0 ;
padding:0;
font-size:12px;
}

#footerIn .footerNavi li a,
#footerIn .footerNavi li .pipe{
color:#FFF;
}
#footerIn .footerNavi li .pipe{
margin:0 12px;
}
#footerIn .copyright{
float:right;
top:20px;
right:0;
color:#FFF;
font-size:10px;
letter-spacing:0.08em;
width:400px;
text-align:right;
}

/*----------------------------------------------------TVCM SINGLE settings*/

.presentSingle{
	padding-top:20px;
	padding-bottom:40px;
	width: 640px;
	margin: 0 auto 40px;
	text-align: center;
	min-width: inherit;
}
.presentSingle .bgYellow {
	width: 640px;
	margin: 0 auto;
	text-align: center;
}
.presentSingle .bgYellow .modal {
	text-align: left;
}
.tvcmSingle{ min-width: inherit;}
.tvcmSingle #tvcm{margin-top:0; padding:120px 0 30px 0; height:510px; width:640px;}
.tvcmSingle #tvcm h2{top: 28px; left: 20px;}
.tvcmSingle #tvcm h3{position:absolute; top: 42px; left: 220px; display:block; line-height:1.5em;}
.tvcmSingle #tvcm .movieWrap{width:640px; margin:0 auto; text-align:left;}

.presentSingle #present{margin-top:0; padding-top:40px;}
.presentSingle #present #wallPaperSetting,
.presentSingle #present #aboutCopyrights{text-align:left;}


.tvcmSingle .btnClose,
.presentSingle .btnClose{
	text-align:center;
	margin: 20px auto 0 auto;
	width: 100%;
}
.tvcmSingle .btnClose a,
.presentSingle .btnClose a{
	background: url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/compactcmp/pc/btn-close.gif) 0 0 no-repeat;
	width: 288px;
	height: 64px;
	display: block;
	text-indent: -9999px;
	margin: 0 auto;
}
.tvcmSingle .btnClose a:hover,
.presentSingle .btnClose a:hover{
	background-position: 0 -75px;
}


/*-------New Nav---------------*/
#newNav{
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #000;
	z-index: 2000;
}
#headerWrapper{
	height: inherit;
	width: 950px;
	display: block;
	margin: 0 auto;
	position: relative;
}

#nNav{
	position: absolute;
	height: inherit;
	right:0;
	top:0;
	z-index: 2000;
}
#nNav li{
	height: 50px;
	float: left;
}
#nNav a{
	height: 50px;
	display: block;
	text-indent: -9999px;
}
#nNav .na0{
	background: url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/compactcmp/pc/nav_top.png);
	width: 85px;
}
#nNav .na1{
	background: url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/compactcmp/pc/nav_campaign.png);
	width: 126px;
}
#nNav .na2{
	background: url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/compactcmp/pc/nav_news.png);
	width: 99px;
}
#nNav .na3{
	background: url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/compactcmp/pc/nav_movie.png);
	width: 102px;
}
#nNav .na4{
	background: url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/compactcmp/pc/nav_gallery.png);
	width: 114px;
}
#nNav .na5{
	background: url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/compactcmp/pc/nav_service.png);
	width: 160px;
}
#nNav .active,
#nNav .na0:hover,
#nNav .na1:hover,
#nNav .na2:hover,
#nNav .na3:hover,
#nNav .na4:hover,
#nNav .na5:hover
{
	background-position: 0 -50px;
}

#nSocial{
width: 65px;
	padding-left: 15px;
}
#nSocial a{
	box-sizing: border-box;
	padding-top:15px;
	display: inline-block;
	text-indent: 0;
	font-size: 20px;
	color: #fff;
	text-decoration: none;
	margin-left: 10px;
}
#nSocial a:hover{
	color: #FDD000;
}

/*-------New MainArea---------------*/
#mainArea{
	width: 100%;
	height: 565px;
	border-bottom: 20px solid #000;
	position: relative;
	overflow: hidden;
}

#anim{
	width: 7020px;
	position: absolute;
	height:565px;
	top:0;
	left:px;
	background-color: #F00;
}
#animWrapper{
	height: 660px;
	width: 7020px;
	position: relative;
	background-color: #0FF;
}
.boxxx{
	width: 2050px;
	float: left;
	background-color: #fdd000;
	height: 565px;
}
.small-motif{
	width: 400px;
	height: 275px;
	float: left;
	border: 5px solid #000;
	position: relative;
	overflow: hidden;
}
.motif-spacer{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index: 2;
}
.people{
	position: absolute;
	top:0;
	left: 0;
	z-index:1;
}
#pp1,#pp2,#pp3{
	top:100%;
}
#pp4,#pp5{
	top:100%;
}

.people00{
	position: absolute;
	top:100%;
	left: 0;
	z-index:1;
}

/*------COMMON----*/
.titleWrapper{
	position: relative;
	width: 100%;
	height: 48px;
	border-bottom: 20px solid #000;
	overflow: hidden;
}
.titleWrapper img{
	position:absolute;
	top: 0;
	left: 0;
}
.contentWrapper{
	position: relative;
	width: 100%;
	border-bottom: 20px solid #000;
	overflow: hidden;
}
.content{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

}
.contentInner{
	position: relative;
	width: 100%;
	height:100%;
}
.balllink{
	cursor: pointer;
	display:inline-block;
	padding: 10px 32px 10px 10px;
	border-radius: 5px;
	font-size: 15px;
	line-height:24px;
	background-image:url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/compactcmp/pc/icon-textlink.png);
	background-position:right center;
	background-repeat:no-repeat;
	font-weight: bold;
	font-family:YuGothic, 'Yu Gothic', 游ゴシック体, 游ゴシック, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', Osaka, 'MS PGothic', Arial, Helvetica, Verdana, sans-serif;
}
.balllink:hover{
	background-color: #FFF;

	}
.btn-small{
	width:170px;
	height:48px;
	background: url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/compactcmp/pc/n_btn1.png);
	background-repeat: no-repeat;
	text-indent: -9999px;
}
.btn-small:hover{
	background-position: 0 -48px;
}
.btn-small:active{
	background-position: 0 -96px;
}
.btn-mid{
	width:239px;
	height:55px;
	background: url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/compactcmp/pc/n_btn2.png);
	background-repeat: no-repeat;
	text-indent: -9999px;
}
.btn-mid:hover{
	background-position: 0 -55px;
}
.btn-mid:active{
	background-position: 0 -110px;
}
.bread{
	font-size: 11px;
	position: absolute;
	top:0;
	left:0;
	font-family:YuGothic, 'Yu Gothic', 游ゴシック体, 游ゴシック, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', Osaka, 'MS PGothic', Arial, Helvetica, Verdana, sans-serif;
}
.bread a{
	 font-family:YuGothic, 'Yu Gothic', 游ゴシック体, 游ゴシック, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', Osaka, 'MS PGothic', Arial, Helvetica, Verdana, sans-serif;

 }

/*-----elements of CAMPAIGN-------*/
#n_campaign_title{
	top:100%;
}
#n_campaign_content{
	top:100%;
}
#n_campaign_bg{
	position: absolute;
	top:0;
	left:-25px;
	z-index:10;
}
#n_campaign_a{
	position: absolute;
	top:145px;
	left:515px;
	z-index: 20;
}

/*-----elements of NEWS-------*/
#n_news_title{
	top:100%;
}
#n_news_content{
	top:0%;
}
#n_news_cat{
	position: absolute;
	top:100%;
	left:0;
	z-index:10;
}
#n_news_word{
	position: absolute;
	/*top: 245px;*/
	top: -245px;
	left:0;
	z-index: 20;
}
#n_ambassadors{
	position:absolute;
	top: 36px;
	left: 112px;
}
#n_text1{
	position:absolute;
	top: 38px;
	left: 379px;
}
#n_btn1{
	position: absolute;
	top: 170px;
	left:370px;
}

/*-----elements of MOVIE-------*/
#n_movie_title{
	top:100%;
}
#n_movie_content{
	top:0%;
}
#n_movie_text{
	position:absolute;
	top: 58px;
	/*left: 112px;*/
	left: -800px;
}
#n_movie_img{
	position:absolute;
	top: 95px;
	/*left: 112px;*/
	left: 950px;
}

/*-----elements of GALLERY-------*/
#n_gallery_title{
	top:100%;
}
#n_gallery_content{
	top:100%;
}
#n_gallery_img{
	position:absolute;
	bottom: 0px;
	left: 0px;
	z-index: 10;
}
#n_gallery_a{
	position:absolute;
	bottom: 60px;
	left: 310px;
	z-index: 20;
}

/*-----elements of SERVICE-------*/
#n_service_title{
	top:100%;
}
#n_service_content{
	top:0%;
}
#n_service_right{
	position:absolute;
	/*top: 0px;*/
	top:40px;
	/*right: 0;*/
	right: -500px;
}
#n_service_left{
	position:absolute;
	top: 92px;
	/*left: 59px;*/
	left: -500px;
}
#n_btn2{
	position:absolute;
	top: 332px;
	/*left: 59px;*/
	left: -450px;
}
#n_service_content2{
	top:0%;
}
#n_service_text2{
	position:absolute;
	top: 60px;
	left: 59px;
}
#n_service_in{
	position:absolute;
	top: 40px;
	right: 40px;
}
#n_service_a{
	position:absolute;
	top: 182px;
	left: 49px;
}
#n_bubble{
	position:absolute;
	z-index: 500;
	/*top: 33px;*/
	left: 521px;
	top:800px;

}



/*-----------------
    GALLERY
-----------------*/
#gallery_title{
	position:relative;
	width: 100%;
	height: 78px;
	background-color: #FFF;
	margin-top:50px;
	border-bottom: 20px solid #000;
}
#gallery_title_wrapper{
	position: relative;
	width: 950px;
	height: 100%;
	display: block;
	margin: 0 auto;
}
#g_gallery_title{
	position: absolute;
	z-index: 1000;
	top: 4px;
	left: 356px;
}


/*-----------------
    CAMPAIGN
-----------------*/
#campaign_title{
	position:relative;
	width: 100%;
	height: 520px;
	margin-top:50px;
	border-bottom: 20px solid #000;
}
#campaign_title_wrapper{
	position: relative;
	width: 950px;
	height: 100%;
	display: block;
	margin: 0 auto;
}
#c_main{
	position: absolute;
	top: 30px;
	left: 23px;
}
#post_btn{
	width:210px;
	height:59px;
	background: url(http://b2-dlserver.kuronekoyamato.co.jp/kuronekoimages/compactcmp/pc/c_post.gif);
	background-repeat: no-repeat;
	position: absolute;
	top: 427px;
	left: 709px;
	z-index:1000;
}
#sign_out{
	position: absolute;
	top: 490px;
	left: 770px;
	z-index:1001;
}
#post_btn:hover{
	background-position: 0 -59px;
}
#post_btn:active{
	background-position: 0 -118px;
}


#seasons{
	padding-top: 50px;
	width: 100%;
	background-color: #FDD000;
	text-align: center;
}
#seasons ul{
	position: relative;
	display: inline-block;
	margin: 0 auto;
}
#seasons li{
	float: left;
}

#season1{

}
#season2{

}
#season3{

}


#waterfall{
	position: relative;
	width: 100%;
	height: auto;

	box-sizing: border-box;
	padding: 30px;
}

#readmore{
	text-align: center;
	border-bottom: 20px solid #000;
	padding-bottom: 20px;

}
#readmore a{
	display: block;
	margin-bottom: 45px;
	cursor: pointer;
}


/*------
KIYAKU
------*/
#kiyaku{
	box-sizing: border-box;
	padding: 30px;
}
#kiyaku h1{
	font-size: 1.5em;
	text-align: center;
	margin: 30px 0;
	font-family:YuGothic, 'Yu Gothic', 游ゴシック体, 游ゴシック, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', Osaka, 'MS PGothic', Arial, Helvetica, Verdana, sans-serif;

}
#kiyaku h2{
	font-size: 1.25em;
	margin: 20px 0;
	font-family:YuGothic, 'Yu Gothic', 游ゴシック体, 游ゴシック, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', Osaka, 'MS PGothic', Arial, Helvetica, Verdana, sans-serif;

}
#kiyaku p{
	margin-bottom: 50px;
	font-family:YuGothic, 'Yu Gothic', 游ゴシック体, 游ゴシック, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', Osaka, 'MS PGothic', Arial, Helvetica, Verdana, sans-serif;

}


/*--------------------
for dear shuttlerock
-----------*/
.sr-sh-load-more-wrapper{
	display: none;
}

.sr-sh-theme-board-info__card{
	display:none;
}

.sr-sh-navigation{
	display: none;
}


.ngdialog.ngdialog-theme-default .ngdialog-content .sr-sh-theme-dialog-header{
	background-color: #fdd000;
}
.sr-sh-theme-card__share .sr-sh-theme-btn.sr-sh-theme-btn-twitter {
	display: inline-block!important;
}
.sr-sh-theme-social-buttons{
	display: none;
}

button.sr-sh-theme-card__action_button.sr-sh-theme-btn.sr-sh-theme-btn-twitter{
	display: none!important;
}



@media print {
	#mainV h1{
		background-color:#fdd000;
	}
	.unprintable{display:none !important;}
}



/*---------------
	20150918 2nd Version
---------------*/
#sec_news_slogan{position: absolute;left:60px;top:-400px;z-index: 2;}
#sec_news_cat{position:absolute;top:607px;left:170px;z-index: 1;}
#sec_news_left{position:absolute;top:174px;left:-200px;}
#sec_news_place{position:absolute;top:145px;left:1028px;z-index:1;}
#sec_news_map{position:absolute;top:287px;left:1060px;z-index:2;}

#sec_gallery_bubble{position:absolute;top:500px;/*right:-50px;*/right:-50px;z-index:2;}
#sec_gallery_end{position:absolute;bottom:9px;z-index:10;}
#sec_gallery_videoname1{position:absolute;top:560px;left:112px;}
#sec_gallery_videoname2{position:absolute;top:560px;left:462px;}
#sec_gallery_videoname3{position:absolute;top:63px;left:112px;}
#sec_gallery_videoimg1{position:absolute;top:590px;left:112px;}
#sec_gallery_videoimg2{position:absolute;top:590px;left:462px;}
#sec_gallery_videoimg3{position:absolute;top:104px;left:112px;}

#sec_service_bubble{position:absolute;top:500px;/*right:-50px;*/right:-50px;z-index:2;}

#sec_gallery_btn{
	position:absolute;left:315px;top:87px;width: 264px;height: 47px;background:url(../img/sec_gallery_btn.png);
	text-indent: -9999px;
}
#sec_contest_btn{
	position:absolute;left:500px;top:140px;width: 264px;height: 47px;background:url(../img/sec_contest_btn.png);
	text-indent: -9999px;z-index: 1000;
}
#sec_service_btn{
	position:absolute;left:63px;top:183px;width: 174px;height: 47px;background:url(../img/sec_service_btn.png);
	text-indent: -9999px;z-index: 1000;
}
#sec_gallery_btn:hover,#sec_contest_btn:hover,#sec_service_btn:hover{background-position:  0 -47px;}
#sec_gallery_btn:active,#sec_contest_btn:active,#sec_service_btn:active{background-position:  0 -94px;}


/*---------------
	20151026 3rd Version
---------------*/

#koseibo { background:url(../img/koseibo_musubi.png) no-repeat 0 296px;}

#koseibo_title {position:absolute;top:90px;left:238px;}
#koseibo_txt {position:absolute;top:585px;left:185px;}
#koseibo_kiji {position:absolute;top:1350px;left:60px;}

#koseibo_dj {position:absolute;top:1425px;left:204px;}
#koseibo_dj_ttl {position:absolute;top:1585px;left:204px;}
#koseibo_dj_btn {position:absolute;top:1630px;left:235px;}

#koseibo_dj2 {position:absolute;top:1425px;left:474px;}
#koseibo_dj2_ttl {position:absolute;top:1585px;left:474px;}
#koseibo_dj2_btn {position:absolute;top:1630px;left:505px;}

#koseibo_p_icon {position:absolute;top:815px;left:720px; z-index:2;}
#koseibo_p_title {position:absolute;top:850px;left:60px; z-index:1;}
#koseibo_p_txt {position:absolute;top:995px;left:137px;}
#koseibo_p_img {position:absolute;top:995px;left:418px; z-index:1;}
#koseibo_p_btn {position:absolute;top:1200px;left:132px;}

#koseibo_present {position:absolute;top:1175px; text-align:center; width:680px;}


#blogtitle {
	width:380px;
	height:60px;
	text-indent:-999em;
	overflow:hidden;
	background:url(../img/blog_btn_open.png) no-repeat 0 0;
	margin:0 auto;
	cursor:pointer;
}
#blogtitle.active {
	background:url(../img/blog_btn_close.png) no-repeat 0 0;
	cursor:pointer;
}


/*---------------
	20160229 Version
---------------*/

#jaa img {
	position:absolute;
}

#jaa .j1 {left:60px;top:44px;}
#jaa .j2 {left:60px;top:113px;}
#jaa .j3 {left:590px;top:113px;}
#jaa .j4 {left:590px;top:267px;}



