/*==========================================

information

==========================================*/

div.infoText .infoTitle{
text-align:center;
font-weight:bold
;font-size:120% !important;
line-height:1.45;
padding-top:15px;
padding-bottom:40px;
}


/* Information For English
------------------------------------------*/
.infoArea dl{
clear:both;
zoom:1;
}
.infoArea dl dt{
width:10.5em;
float:left;
clear:left;
padding-bottom:10px;
}
.infoArea dl dd{
margin-left:10.5em;
padding-bottom:10px;
}