/*==========================================

convenience_store

==========================================*/

/* Layout
------------------------------------------*/
.combiLogo li{
text-align:center;
float:left;
width:165px;
}
.combiLogo li.wide{
float:left;
width:170px;
}
.combiLogo li.wide2{
text-align:center;
float:left;
width:185px;
}
.combiLogo-Left{
float:left;
width:510px;
}
.combiLogo-Right{
float:left;
width:160px;
}
