@charset "UTF-8";

/* -------------------------------------------------------------------

    Base Style

-------------------------------------------------------------------- */

// Web Font
//---------------------------------------
@font-face{
    font-family:'NotoSansCJKjp-Regular';
    src:url('/assets/fonts/NotoSansCJKjp-Regular.woff'),
        url('/assets/fonts/NotoSansCJKjp-Regular.eot');
}

@font-face{
    font-family:'iconfont';
    src:url('/assets/fonts/iconfont.eot?ssh4fq');
    src:url('/assets/fonts/iconfont.eot?ssh4fq#iefix') format('embedded-opentype'),
        url('/assets/fonts/iconfont.ttf?ssh4fq') format('truetype'),
        url('/assets/fonts/iconfont.woff?ssh4fq') format('woff'),
        url('/assets/fonts/iconfontsvg?ssh4fq#icomoon') format('svg');
    font-weight:normal;
    font-style:normal;
}

/*  Base
--------------------------------------- */
html{
    overflow-y:scroll;
}

body{
    line-height:1.8;
    color:$base-color;
    font-family:$base-font;
    font-size:14px;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    -webkit-print-color-adjust:exact;
    -webkit-font-smoothing:antialiased;
}

* html body{
    font-size:84%;
}
*:first-child+html body {
    font-size:84%;
}

/*  Links
--------------------------------------- */
a{
    color:$link-color;
    text-decoration:none;

    &:link,
    &:visited{
        color:$link-color;
        text-decoration:none;
    }

    &:active,
    &:hover,
    &:focus{
        color:$active-color;
        outline:none;
        text-decoration:underline;
    }
}

/*  Selection
--------------------------------------- */
*::selection{
    color:$selection-color;
    background-color:$selection-bg-color;
}
*::-moz-selection{
    color:$selection-color;
    background-color:$selection-bg-color;
}
