@charset "UTF-8";

/* -------------------------------------------------------------------

    Base Style

-------------------------------------------------------------------- */

/*  Universal Reset
--------------------------------------- */
html, body, div, main, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, svg,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, picture{
    margin:0;
    padding:0;
    border:0;
    vertical-align:top;
    background:transparent;
    zoom:1;
}

/*  HTML5 Display Definitions
--------------------------------------- */
main, section, nav, article, aside, hgroup,menu, summary, svg,
header, footer, figure, figcaption, details, picture{
    display:block;
}

audio:not([controls]){
    display:none;
}

[hidden]{
    display:none;
}

/*  Typography
--------------------------------------- */
h1, h2, h3, h4, h5, h6{
    line-height:1.5;
    font-size:100%;
    font-weight:normal;
}

em{
    font-style:normal;
    font-weight:bold;
}

strong, b{
    color:#f91e1e;
    font-weight:bold;
}

sup{
    position:relative;
    top:-4px;
    vertical-align:middle;
    line-height:0;
    font-size:fz(9);
}

sub{
    position:relative;
    top:0;
    vertical-align:middle;
    line-height:0;
    font-size:fz(9);
}

pre{
    font-family:monospace, sans-serif;
    white-space:pre-wrap;
    word-wrap:break-word;
}

/*  Horizontal Rule
--------------------------------------- */
hr{
    display:none;
}

/*  Embedded Content
--------------------------------------- */
img{
    border:0;
    vertical-align:top;
}

svg:not(:root){
    overflow:hidden;
}

/*  List Content
--------------------------------------- */
ul,ol{
    list-style:none;
}

/*  Tables
--------------------------------------- */
table{
    border:0 none;
    border-collapse:collapse;
    width:100%;
}

table th,
table td{
    border:0 none;
    vertical-align:top;
    font-size:1em;
    text-align:left;
    font-weight:normal;
}

/*  Forms
--------------------------------------- */
input::-moz-focus-inner,
button::-moz-focus-inner{
    border:0;
    padding:0;
}

fieldset{
    border:0 none;
}

legend{
    display:none;
}

label{
    cursor:pointer;
}

input{
    vertical-align:middle;
    border-radius:0;
    font-family:$base-font;
    outline:none;
    border-radius:0;
}

input[type="text"],
input[type="image"]{
    -webkit-appearance:none;
}

input[type="checkbox"],
input[type="radio"]{
    padding:0;
    box-sizing:border-box;
}

textarea{
    vertical-align:top;
    font-family:$base-font;
    resize:none;
    outline:0;
    border-radius:0;
    -webkit-appearance:none;
}

select{
    line-height:normal;
    font-family:$base-font;
    outline:none;
}
