@charset "UTF-8";

/* -------------------------------------------------------------------

    Support Module

-------------------------------------------------------------------- */

/*  Margin / Padding Adjust
--------------------------------------- */
@for $i from 0 through 20 {
    .mt#{$i * 5} { margin-top: 5px * $i !important; }
    .mr#{$i * 5} { margin-right: 5px * $i !important; }
    .mb#{$i * 5} { margin-bottom: 5px * $i !important; }
    .ml#{$i * 5} { margin-left: 5px * $i !important; }
    .pt#{$i * 5} { padding-top: 5px * $i !important; }
    .pr#{$i * 5} { padding-right: 5px * $i !important; }
    .pb#{$i * 5} { padding-bottom: 5px * $i !important; }
    .pl#{$i * 5} { padding-left: 5px * $i !important; }
}

@media screen and ( max-width: $w-760 ){
    @for $i from 0 through 20 {
        .mt#{$i * 5} { margin-top: 2.5px * $i !important; }
        .mr#{$i * 5} { margin-right: 2.5px * $i !important; }
        .mb#{$i * 5} { margin-bottom: 2.5px * $i !important; }
        .ml#{$i * 5} { margin-left: 2.5px * $i !important; }
        .pt#{$i * 5} { padding-top: 2.5px * $i !important; }
        .pr#{$i * 5} { padding-right: 2.5px * $i !important; }
        .pb#{$i * 5} { padding-bottom: 2.5px * $i !important; }
        .pl#{$i * 5} { padding-left: 2.5px * $i !important; }
    }
}

/*  Table Cell Adjust
--------------------------------------- */
@for $i from 0 through 100 {
    .pct#{$i * 1} { width: 1% * $i ; }
}

/*  Text Align
--------------------------------------- */
.left{
    text-align:left!important;
}

.center{
    text-align:center!important;
}

.right{
    text-align:right!important;
}

@media screen and ( max-width: $w-760 ){
    .sp-left{
        text-align:left!important;
    }

    .sp-center{
        text-align:center!important;
    }

    .sp-right{
        text-align:right!important;
    }
}

/*  Vertical Align
--------------------------------------- */
.top{
    vertical-align:top!important;
}

.middle{
    vertical-align:middle!important;
}

.bottom{
    vertical-align:bottom!important;
}

/*  Border
--------------------------------------- */
.img-border img{
    border:1px solid #c6c9d3;
}

.bt-none{
    border-top:none!important;
}

.br-none{
    border-right:none!important;
}

.bb-none{
    border-bottom:none!important;
}

.bl-none{border-left:none!important;
}

/*  Font Size
--------------------------------------- */
.font-small{
    font-size:84%!important;
}

.font-large{
    font-size:109%!important;
}

.sp-font-small{
    @media screen and ( max-width: $w-760 ){
        font-size:84%!important;
    }
}

/*  Text In The Link
--------------------------------------- */
.link-external-01{
    margin-left:6px;
    color:$link-color;
    @extend .icon-window-01;

    &:active,
    &:hover,
    &:focus{
        a{
            color:#14bfad;

            @media screen and ( max-width: $w-760 ){
                color:$link-color;
                text-decoration:none;
            }
        }

        &:before{
            color:#14bfad;

            @media screen and ( max-width: $w-760 ){
                color:#20a898;
            }
        }
    }

    &:before{
        position:relative;
        top:0px;
        color:#20a898;
        vertical-align:middle;
        font-size:12px;
        transition:color 0.2s ease 0s;
    }

    a{
        padding-left:6px;
        transition:color 0.2s ease 0s; 
    }
}

/*  Forced Line Break
--------------------------------------- */
.sp-br-none{
    display:block;

    @media screen and ( max-width: $w-760 ){
        display:none;
    }
}

.sp-br-block{
    display:none;

    @media screen and ( max-width: $w-760 ){
        display:block;
    }
}

.tb-br-none{
    display:block;

    @media screen and ( max-width: $w-1064 ){
        display:none;
    }
}

.tb-br-block{
    display:none;

    @media screen and ( max-width: $w-1064 ){
        display:block;
    }
}

/*  Img Width Adjust
--------------------------------------- */
.w-100{
    width:100%;
}

.m-w100{
    max-width:100%!important;
    width:auto!important;
}

.w-auto{
    width:auto!important;
}

/*  Clear Fix
--------------------------------------- */
.clearfix{
    &:after{
        content:"";
        display:table;
        clear:both;
    }
}

/*  Icon Font
--------------------------------------- */
.icon-bullet-01:before{
    @include icon-font;
    content: "\e90e";
}

.icon-arrow-right-01:before{
    @include icon-font;
    content: "\e902";
}

.icon-arrow-right-02:before{
    @include icon-font;
    content: "\e906";
}

.icon-arrow-top-01:before{
    @include icon-font;
    content: "\e907";
}

.icon-arrow-top-02:before{
    @include icon-font;
    content: "\e903";
}

.icon-arrow-btm-01:before{
    @include icon-font;
    content: "\e904";
}

.icon-arrow-btm-02:before{
    @include icon-font;
    content: "\e900";
}

.icon-arrow-left-01:before{
    @include icon-font;
    content: "\e905";
}

.icon-arrow-left-02:before{
    @include icon-font;
    content: "\e901";
}

.icon-circle-01:before{
    @include icon-font;
    content: "\e90a";
}

.icon-business-01:before{
    @include icon-font;
    content: "\e908";
}

.icon-kuroneko-01:before{
    @include icon-font;
    content: "\e90b";
}

.icon-lang-01:before{
    @include icon-font;
    content: "\e90c";
}

.icon-hamburger-01:before{
    @include icon-font;
    content: "\e90d";
}

.icon-hamburger-02:before{
    @include icon-font;
    content: "\e916";
}

.icon-map-01:before{
    @include icon-font;
    content: "\e90f";
}

.icon-close-01:before{
    @include icon-font;
    content: "\e910";
}

.icon-close-02:before{
    @include icon-font;
    content: "\e909";
}

.icon-close-03:before{
    @include icon-font;
    content: "\e915";
}

.icon-open-01:before{
    @include icon-font;
    content: "\e913";
}

.icon-movie-01:before{
    @include icon-font;
    content: "\e911";
}

.icon-window-01:before{
    @include icon-font;
    content: "\e912";
}

.icon-search-01:before{
    @include icon-font;
    content: "\e914";
}
