/*==========================================

contact

==========================================*/
.contactList01 li{
padding:0 0 0 13px;
margin:0 0 10px 5px;
}

.contactList02{
float:left;
margin:10px 0 0 0 ;
padding:0 0 10px 0;
border-bottom:1px dotted #999999;
}

.contactList02 dt{
float:left;
width:335px;
font-weight:bold;
}

.contactList02 dd{
float:left;
width:325px;
}

.contactList02 dd{
display:block;
background:url(../../common/image/shared/parts/arrow_link.gif) no-repeat 3px 5px;
padding:0 0 0 13px;	
}

.contactList02 dd.blankLink{
background:none;
}
/*
ul.contactPageLink_qa{
text-align:left;
}

ul.contactPageLink_qa li{
float:left;
width:266px;
_width:245px;
text-align:left;
padding:0 10px 0.5em 4em;
text-indent:-4em;
white-space: none;
zoom:1;
}

ul.contactPageLink_qa li a{
padding-left:15px;
background:url(../../common/image/shared/ico/icon_04.gif) no-repeat 0 0.1em;
}
*/
ul.contactPageLink_qa{
text-align:left;
}

ul.contactPageLink_qa li{
float:left;
width:330px;
text-align:left;
padding:0 10px 0 0;
margin-bottom:0.5em;
white-space: none;
zoom:100%;
}

ul.contactPageLink_qa li a{
display:block;
padding-left:4.4em;
text-indent:-3em;
background:url(../../common/image/shared/ico/icon_04.gif) no-repeat left 0.2em;
}



/* FAQ Style
------------------------------------------*/
/* Question */
#contact .ContentsArea-2col ul.defaultLink {
background:none;
padding:0;
}
#contact .ContentsArea-2col .article {
padding-top:0px;
}
#contact .ContentsArea-2col ul.defaultLink li {
background:url(../../common/image/shared/parts/arrow_link.gif) no-repeat 4px 0.3em;
margin-top:10px;
padding-left:13px;
}
#contact .ContentsArea-2col ul.floatR li.defaultLink {
zoom:0;
}
#contact .ContentsArea-2col li.blankLink {
margin-top:10px;
}
#contact .ContentsArea-2col ul.floatR li {
margin-top:10px;
}
#contact .typeA{
padding-left:4em;
text-indent:-3em;
}

/* Answer */
#main .ContentsArea dl.ans {
clear:both;
zoom:1;
}
#main .ContentsArea dl.ans:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

#main .ContentsArea dl.ans dt {
float:left;
width:7%;
color:#008576;
font-size:116%;
font-weight:bold;
}
#main .ContentsArea dl.ans .ans-text {
color:#008576;
font-size:116%;
font-weight:bold;
margin-bottom:15px;
}
#main .ContentsArea dl.ans dd{
float:right;
width:93%;
}