@charset "UTF-8";

/*----------リード----------*/

#day_read {
	float:left;
	width:975px;
	height:130px;
	margin:0;
	padding:0;
}

#day_read_watch {
	float:left;
	width:245px;
}

#day_read_text {
	float:left;
	width:705px;
	margin:30px 0 0 0;
	padding:0 0 0 245px;
	font-size:14pt;
	line-height:28px;
	color:#000;
}

img.watch {
	margin:-75px 0 0 25px;
	position: absolute;
	z-index: 1;
}

/*----------コンテンツ----------*/

#day_contents {
	float:left;
	width:975px;
	margin:20px 0 40px 0;
	padding:0;
}

#day_contents_time {
	float:left;
	width:139px;
	text-align:right;
}

img.time {
	margin:18px 0 0 0;
}

#day_contents_active {
	float:left;
	width:836px;
}

#day_contents_waku {
	width:811px;
	height:146px;
	background-image:url(../images/img_flow_bg.png);
	background-repeat:no-repeat;
}

.wakumargin1 {
	margin:2px 0 0 0;
}

.wakumargin2 {
	margin:8px 0 0 0;
}

#day_contents_waku ul {
	margin: 0;
	padding: 0; 
	list-style: none;
}

#day_contents_waku li {
	float: left;
	display: inline; 
	padding: 0; 
	margin: 0;
}

.time_title {
	width:170px;
}

img.timetitle {
	margin:45px 10px 0 35px;
}

img.timetitle2 {
	margin:30px 10px 0 35px;
}

.time_text_line0 {
	margin:25px 0 0 0;
	font-size:10pt;
	line-height:20px;
	color:#000;
}

.time_text_line4 {
	width:320px;
	margin:25px 0 0 0;
	font-size:10pt;
	line-height:20px;
	color:#000;
}

.time_text_line5 {
	width:320px;
	margin:15px 0 0 0;
	font-size:10pt;
	line-height:20px;
	color:#000;
}

img.timephoto {
	margin:5px 0 0 10px;
}
