/*==========================================

corporate

==========================================*/

/* Top IMG
------------------------------------------*/
#mainArea .contBox{
position:relative;
height:230px;
}

#mainArea .contBox .titleBg{
position:absolute;
left:0px;
width:720px;
height:230px;
background:url(../image/index_imgBg_01.jpg) no-repeat top left;
}
.contBox p{
padding:5px 4px 5px 5px;
}

/* Layout
------------------------------------------*/
/* for IE6 */
*html #mainArea .contBox .titleBg{
background:url(../image/index_imgBg_02.jpg) no-repeat top left;
}
