@charset "UTF-8";

// -------------------------------------------------------------------

//  Setting

//--------------------------------------------------------------------

// Icon Font
//---------------------------------------
@mixin icon-font(){
    font-family:'iconfont'!important;
    speak:none;
    font-style:normal;
    font-weight:normal;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
