@charset "UTF-8";

// -------------------------------------------------------------------

//  Setting

//--------------------------------------------------------------------

// Base Font
//---------------------------------------
$base-font:'NotoSansCJKjp-Regular', Helvetica, Arial, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;

// Base Font Color
//---------------------------------------
$base-color:#333;

// Base Link Color
//---------------------------------------
$link-color:#009a8b;
$active-color:#14bfad;

// Yamato Green
//---------------------------------------
$yamato-green-01:#10af9e;

// Selection Color
//---------------------------------------
$selection-color:#fff;
$selection-bg-color:#0ba897;

// Break Point
//---------------------------------------
/* window-size + 17px */
$w-1280:1280px;
$w-1260:1260px;
$w-1182:1182px;
$w-1064:1064px;
$w-1000:1000px;
$w-960:960px;
$w-860:860px;
$w-815:815px;
$w-760:760px;
$w-700:700px;
$w-660:660px;
$w-374:374px;

// FontSize List
//---------------------------------------
@function fz($size) {
    @return ceil(percentage($size / 14));
}
