@charset "utf-8";
/*
 *	-- Layout Style --
 *
 *	01.	#wrapperMiddle Style
 *
 * - - - - - - - - - - - - - - - */
/*
 *	01.	#wrapperMiddle Style
 */
#wrapperMiddle #wrapInner .inner {
  padding-bottom: 0;
  margin-bottom: 55px;
}
#wrapperMiddle #wrapInner .inner #contentsArea ul.localNav {
  width: 380px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsHead {
  height: 54px;
  margin: 0 0 25px;
  border: none;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody {
  padding: 0;
  overflow: hidden;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody header {
  margin-bottom: 37px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody header h2 {
  margin: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #dnaArea section h3 {
  margin: 0 0 30px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #dnaArea section .contentsBox {
  background: url(../../../shared/img/common_bgContents_noiseWhite.png) repeat left top;
  padding: 25px 30px 10px;
  margin-bottom: 20px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #dnaArea section .contentsBox h4 {
  margin: 0 0 20px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #dnaArea section .contentsBox p {
  margin: 0 0 50px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #dnaArea section .contentsBox p.figMotto {
  margin-bottom: 30px;
  text-align: center;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #dnaArea section .contentsBox p.figService {
  margin-bottom: 50px;
  text-align: center;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #dnaArea section .contentsBox p.figService:last-child {
  padding: 45px 0 20px;
  border-top: 1px dotted #CCCCCC;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #dnaArea section .contentsBox dl dt {
  padding-top: 40px;
  margin-bottom: 10px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #dnaArea section .contentsBox dl dd {
  margin: 0 0 50px 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #dnaArea section .contentsBox dl dd.figMotto {
  padding-top: 50px;
  margin-bottom: 30px;
  border-top: 1px dotted #CCCCCC;
  text-align: center;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #dnaArea ul#bannerArea {
  padding-top: 45px;
  margin: 0;
  text-align: center;
  clear: both;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody #dnaArea ul#bannerArea li {
  display: inline;
  list-style: none;
  margin: 0 5px;
}
