@charset "UTF-8";

/*----------リード----------*/

#readtext {
	width:975px;
	font-size:18pt;
	color:#000;
	text-align:center;
	margin:40px 0 40px 0;
}

/*----------コンテンツ----------*/

#contents {
	width:975px;
	text-align:center;
}

img.btn_entry {
	margin:10px 0 50px 0;
}

/*----------一時アナウンス----------*/

#temptext {
	width:975px;
	font-size:16pt;
	color:#000;
	text-align:center;
}
