/*==========================================

Business/Solution

==========================================*/
.businessLinkBox01{
width:680px;
margin:20px auto 0;
padding:14px 15px;
background:url(../image/index_bg_linkBox01.gif) no-repeat left top;
}


.businessLinkBox02{
width:640px;
margin:10px auto 0;
padding:14px 15px;
background:url(../image/index_bg_linkBox02.gif) no-repeat left top;
}

.businessLinkBox01 dl.textBox01,
.businessLinkBox02 dl.textBox01{
float:left;
width:405px;
}
.businessLinkBox01 dl.textBox01 dt,
.businessLinkBox02 dl.textBox01 dt{
margin-bottom:6px;
padding:0;
}
.businessLinkBox01 .btnBox01,
.businessLinkBox02 .btnBox01{
float:right;
width:218px;
}

.businessLinkBox01 img,
.businessLinkBox02 img{
vertical-align:top;
}
.businessLinkBox01 dl.textBox01 dt,
.businessLinkBox02 dl.textBox01 dt,
.businessLinkBox01 dl.textBox01 dd,
.businessLinkBox02 dl.textBox01 dd{
font-size:1px;
line-height:1;
}





/*------------------------------------------
@ solutionBox
------------------------------------------*/
.solutionBox{
width:672px;
margin:5px auto;
padding:18px 0 0;
background:url(../image/index_bg_b_01.gif) no-repeat left top;
text-align:left;
}
.solutionBoxBottom{
padding:0 0 18px;
background:url(../image/index_bg_b_02.gif) no-repeat left bottom;
}
.solutionBoxInner{
padding:0 17px;
background:url(../image/index_bg_b_03.gif) repeat-y 0 0;
}

.ContentsArea .solutionLinkBox{
width:670px;
margin:20px auto;
padding:14px 0 0;
background:url(/global_common/image/temp_linkbox_bgT.gif) no-repeat left top;
text-align:left;
}
.ContentsArea .solutionLinkBoxBottom{
padding:0 0 14px;
background:url(/global_common/image/temp_linkbox_bgB.gif) no-repeat left bottom;
}
.ContentsArea .solutionLinkBoxInner{
padding:0 17px;
background:url(/global_common/image/temp_linkbox_bg.gif) repeat-y 0 0;
}
.ContentsArea .solutionLinkBoxInner dl{
background:url(/global_common/image/temp_linkbox_bgdot.gif) repeat-y 0 0;
}
.ContentsArea .solutionLinkBoxInner dt{
float:left;
width:170px;
}
.ContentsArea .solutionLinkBoxInner dd{
float:right;
width:452px;
}
.ContentsArea .solutionLinkBoxInner dd a{
font-weight:bold;
}


.serviceList{
margin:20px auto 0;
text-align:center;
}
.serviceList li{
display:inline;
}
.solutionImg{
float:left;
width:167px;
}
.solutionText{
float:right;
width:451px;
}
.solutionText h3{
border-left:none;
padding:0;
}
.solutionText h4{
font-weight:bold;
}
.solutionText ol{
margin-top:12px;
}
.solutionText ol li{
padding-bottom:5px;
}
*html .solutionText ol{
padding:0 0 0 25px;
}
*:first-child+html .solutionText ol{
padding:0 0 0 25px;
}
#main .sectionCont .solutionText li{
list-style:decimal;
margin-bottom:5px;
zoom:normal
}

p.featureBox{
margin-top:5px;
padding:5px 8px;
border:1px solid #999;
}

.prForIe6_20{_padding-left:20px !important;}
