@charset "utf-8";
img {
  vertical-align: bottom;
}

/*============================
#lp_mb
============================*/
#lp_mb {
  background: url("../images/bg.jpg") repeat-x;
  text-align: center;
}

/*============================
#know
============================*/
#know {
  text-align: left;
  width: 958px;
  padding-top: 60px;
  margin: 0 auto 50px;
}
#know div.bg_top {
  font-size: 0;
}
#know div.bg_mid {
  padding-top: 182px;
  background: url("../images/bg_main_mid.png");
  position: relative;
}
#know div.bg_mid h2 {
  position: absolute;
  top: -20px;
  left: 40px;
}
#know div.bg_mid div.wrap2c {
  margin-bottom: 37px;
}
#know div.bg_mid div.wrap2c div.left {
  float: left;
  width: 413px;
  padding-left: 48px;
  position: relative;
}
#know div.bg_mid div.wrap2c div.left dl dd img.btn {
  position: absolute;
  top: 175px;
  left: 267px;
  display: block;
}
#know div.bg_mid div.wrap2c div.left p.icon {
  width: 89px;
  height: 90px;
  position: absolute;
  top: -15px;
  left: 30px;
}
#know div.bg_mid div.wrap2c div.left p.arr {
  width: 40px;
  height: 43px;
  position: absolute;
  bottom: -37px;
  left: 230px;
}
#know div.bg_mid div.wrap2c div.right {
  float: right;
  width: 413px;
  padding-right: 48px;
  position: relative;
}
#know div.bg_mid div.wrap2c div.right dl dd img.btn {
  position: absolute;
  top: 175px;
  left: 217px;
  display: block;
}
#know div.bg_mid div.wrap2c div.right p.icon {
  position: absolute;
  top: -15px;
  left: -20px;
}
#know div.bg_mid div.wrap2c div.right p.arr {
  width: 40px;
  height: 43px;
  position: absolute;
  bottom: -37px;
  left: 185px;
}
#know div.bg_mid div.wrap1c {
  clear: both;
  margin-left: 48px;
  position: relative;
}
#know div.bg_mid div.wrap1c.first {
  margin-bottom: 27px;
  position: relative;
  z-index: 10;
}
#know div.bg_mid div.wrap1c dl {
  position: relative;
}
#know div.bg_mid div.wrap1c dl dd img.btn {
  position: absolute;
  top: 322px;
  left: 658px;
  display: block;
}
#know div.bg_mid div.wrap1c p.icon {
  position: absolute;
  top: -15px;
  left: -18px;
}
#know div.bg_mid div.wrap1c * p.icon {
  top: -15px;
  left: -100px;
}
#know div.bg_mid div.wrap1c p.matawa {
  width: 93px;
  height: 55px;
  position: absolute;
  top: 235px;
  left: 380px;
}
#know div.bg_mid div.wrap1c p.arr {
  width: 40px;
  height: 43px;
  position: absolute;
  bottom: -37px;
  left: 185px;
}
#know div.bg_mid p.note {
  text-align: right;
  font-size: 10px;
  padding-right: 45px;
  padding-bottom: 10px;
  margin-top: 1px;
}
#know div.info {
  background: #009380;
  margin-left: 5px;
  margin-right: 5px;
}
#know div.info h3 {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 15px;
}
#know div.info div.wrap {
  overflow: hidden;
  *zoom: 1;
}
#know div.info div.wrap div.left {
  width: 334px;
  float: left;
  padding-left: 40px;
}
#know div.info div.wrap div.right {
  float: right;
  width: 442px;
  padding-right: 50px;
}
#know div.info div.wrap div.right table {
  width: 100%;
  text-align: right;
}
#know div.info div.wrap div.right table td {
  text-align: left;
  padding-bottom: 10px;
}
#know div.info div.wrap div.right table td.w240 {
  width: 240px;
}
#know div.info div.wrap div.right ul {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 10px;
}
#know div.info div.wrap div.right ul li {
  float: right;
  width: 205px;
}
#know div.info div.wrap div.right ul li:first-child {
  float: left;
}
#know div.info div.wrap div.right ul li dl dt {
  margin-bottom: 10px;
}
#know div.info div.wrap div.right p.note {
  text-align: left;
  width: 100%;
  clear: both;
}

/*============================
#lp_app
============================*/
#lp_app {
  width: 960px;
  height: 267px;
  margin: 0 auto;
  background: url("../images/bg_app.jpg") no-repeat;
  position: relative;
  text-align: left;
}
#lp_app p.catch {
  position: absolute;
  top: -34px;
  left: 10px;
}
#lp_app div.wrap {
  padding-top: 25px;
  position: relative;
}
#lp_app div.wrap dl {
  padding-left: 30px;
  width: 464px;
  float: left;
}
#lp_app div.wrap dl dt {
  margin-bottom: 10px;
}
#lp_app div.wrap dl dd table {
  width: 100%;
}
#lp_app div.wrap dl dd table td {
  vertical-align: middle;
}
#lp_app div.wrap dl dd table td.w150 {
  width: 150px;
}
#lp_app div.wrap dl dd > ul {
  overflow: hidden;
  *zoom: 1;
}
#lp_app div.wrap dl dd > ul > li {
  float: right;
  width: 235px;
}
#lp_app div.wrap dl dd > ul > li:first-child {
  float: left;
  width: 215px;
}
#lp_app div.wrap dl dd > ul > li:first-child li {
  float: right;
  width: 137px;
}
#lp_app div.wrap dl dd > ul > li:first-child li:first-child {
  float: left;
  width: 76px;
}
#lp_app div.wrap dl dd > ul > li > ul {
  overflow: hidden;
  *zoom: 1;
}
#lp_app div.wrap dl dd > ul > li > ul li {
  float: right;
  width: 128px;
}
#lp_app div.wrap dl dd > ul > li > ul li:first-child {
  float: left;
  width: 105px;
}
#lp_app div.wrap p.note {
  padding-right: 15px;
  width: 414px;
  float: right;
  position: relative;
}
#lp_app div.wrap p.note img {
  position: absolute;
  display: block;
  top: -27px;
}

.pageTop {
  width: 960px;
  margin: 0 auto;
  text-align: right;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*------------------------------------------
 Bottom Navigation
------------------------------------------*/
#lowerNav {
  width: 956px;
  margin: 15px auto 0;
  line-height: 1.4;
  text-align: left;
  position: relative;
}

#lowerNav .lowerNavTop {
  padding-top: 8px;
  background: url(http://www.kuronekoyamato.co.jp/common/image/shared/bg_lowerNav_top.gif) no-repeat left top;
}

#lowerNav .lowerNavBtm {
  padding-bottom: 30px;
  background: url(http://www.kuronekoyamato.co.jp/common/image/shared/bg_lowerNav_btm.gif) no-repeat left bottom;
  zoom: 1;
}

#lowerNav .lowerNavInner {
  background: url(http://www.kuronekoyamato.co.jp/common/image/shared/bg_lowerNav_mid01.gif) repeat-y left top;
}

#lowerNav .lowerNavInner02 {
  padding: 22px 24px 0 26px;
  background: url(http://www.kuronekoyamato.co.jp/common/image/shared/bg_lowerNav_mid02.gif) 4px top no-repeat;
  zoom: 1;
}

#lowerNav .lowerNavInner02:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#lowerNav dl dd {
  clear: both;
  zoom: 1;
}

#lowerNav .leftArea {
  width: 300px;
  float: left;
}

#lowerNav .leftArea dt {
  margin-bottom: 9px;
  clear: both;
}

#lowerNav .leftArea ul {
  margin: 6px 0 0 10px;
}

#lowerNav .leftArea ul li {
  padding-bottom: 3px;
  width: 280px;
}

#lowerNav .leftArea ul li img {
  vertical-align: middle;
}

#lowerNav .leftArea #searchNum {
  width: 298px;
  height: 43px;
  background: url(http://www.kuronekoyamato.co.jp/common/image/shared/portal/bg_contact_input.gif) no-repeat left top;
  position: relative;
}

#lowerNav .leftArea #searchNumTxt {
  width: 144px;
  margin: 14px 0 8px 34px;
  color: #666;
  background: none;
  border: none;
}

* html #lowerNav .leftArea #searchNumTxt {
  margin-top: 13px;
}

#lowerNav .leftArea #searchNum .button {
  position: absolute;
  left: 194px;
  width: 99px;
  top: 5px;
}

#lowerNav .middleArea {
  width: 210px;
  margin-left: 42px;
  float: left;
}

#lowerNav .middleArea dt,
#lowerNav .rightArea dt {
  margin-bottom: 18px;
  clear: both;
}

#lowerNav .middleArea ul li,
#lowerNav .rightArea ul li {
  padding: 0 0 10px 20px;
  background: url(http://www.kuronekoyamato.co.jp/common/image/shared/portal/icon_01.gif) no-repeat 0 0.1em;
}

#lowerNav .middleArea ul li img,
#lowerNav .rightArea ul li img {
  vertical-align: middle;
}

#lowerNav .middleArea ul li.blankLink,
#lowerNav .rightArea ul li.blankLink {
  background-image: none;
}

#lowerNav .rightArea {
  width: 304px;
  padding-left: 30px;
  float: left;
  background: url(http://www.kuronekoyamato.co.jp/common/image/shared/bg_lowerNav_line.gif) left top repeat-y;
}

#lowerNav .rightArea li {
  float: left;
  width: 117px;
  margin-right: 15px;
}

#lowerNav .rightArea ul.listType02 li {
  width: 100%;
  _width: 270px;
  padding: 0 0 10px 20px;
  background: url(http://www.kuronekoyamato.co.jp/common/image/shared/portal/icon_01.gif) no-repeat 0 0.1em;
}

#header {
  background: url(../images/bg_header.gif) repeat-x left top !important;
  height: 77px !important;
}

/*# sourceMappingURL=lp_menber.css.map */
