@charset 'iso-8859-1';

body{margin:0px; padding:0px; font-family:Arial, Helvetica, sans-serif;}

.white{color:#FFFFFF;}

.breadcrumbs .here{color:#A0A0A0; text-decoration:underline;}

/* TABLE menu */
.menu{background:#2B4A8B;}

/* TABLE topmenu */
.topmenu{padding:0; padding:3px 0;}



.mn a:link{color:#FFFFFF;text-decoration:underline;}
.mn a:hover{color:#FFFF33;text-decoration:underline;}

.caution{color:#FF0000;}

.sitemap-links h3{margin-bottom:0;}
.sitemap-links p{margin-top:0;}
.sitemap-links{line-height:2em;}

.footlink {color:#FFFFFF; font-family:Arial, Helvetica, sans-serif;}
.footlink a{color:#FFFFFF;}

.copyright{font-size:0.7em; font-family:Arial, Helvetica, sans-serif;}
