@charset 'iso-8859-1';

/* Mac NN */
body{font-size:80%; line-height:1.5;}

.breadcrumbs, .footlink{font-size:90%;}

h2{font-size:130%;}
h3{font-size:110%;}
h4{font-size:100%;}
h5{font-size:100%;}

/* TABLE topmenu */
.topmenu{font-size:95%; line-height:1.8;}
.topmenu ul{line-height:1.5;}

/* TABLE map */
.map td{line-height:1.25;}

/* SPACE SETTING */
.nn-height-5, .nn-height-10, .nn-height-15{font-size:5px;}

/* TABLE rate */
.rate th, .rate td{font-size:80%;}