@charset 'iso-8859-1';

/* Win NN4 */
body{font-family:Arial, Helvetica, sans-serif; font-size:small; line-height:150%;}

.breadcrumbs, .footlink{font-size:60%;}

h2{font-family:Arial, Helvetica, sans-serif; font-size:105%;}
h3{font-family:Arial, Helvetica, sans-serif; font-size: 95%;}
h3 span{font-family:Arial, Helvetica, sans-serif; font-size: 80%;}
h4{font-family:Arial, Helvetica, sans-serif; font-size: 75%;}
h5{font-family:Arial, Helvetica, sans-serif; font-size: 75%;}

td{font-size:80%; line-height:105%;}
td td{font-size:80%; line-height:105%;}
td td td{font-size:75%; line-height:105%;}
td td td td{font-size:75%; line-height:105%;}
td td td td td{font-size:75%; line-height:105%;}
td td td td td td{font-size:75%; line-height:105%;}

/* TABLE topmenu */
.topmenu{font-family:Arial, Helvetica, sans-serif; font-size:75%; line-height:100%; margin:0; padding:0;}
.topmenu-box td{font-size:75%; line-height:100%;}
.topmenu-box td td{font-size:75%; line-height:100%;}
.topmenu-box td td td{font-size:75%; line-height:100%;}
.topmenu-box td td td td{font-size:75%; line-height:100%;}
.topmenu-box td td td td td{font-size:75%; line-height:100%;}

/* TABLE map */
.map td{line-height:125%;}

/* TABLE TD height */
.normal-height{line-height:normal;}

/* Re-definition */
.footlink{font-size:60%;}
.copyright{font-size:60%; font-family:Arial, Helvetica, sans-serif;}
.sitemap-links{line-height:50%;}
.sitemap-links a{line-height:180%;}
.sitemap-links h3{margin-bottom:0; margin-top:2em;}

/* TABLE rate */
.rate th, .rate td{font-size:70%;}
