@charset 'iso-8859-1';

/* Win NN */
body{font-size:80%; line-height:normal;}

.breadcrumbs, .footlink{font-size:85%;}

h2{font-size:130%;}
h3{font-size:110%;}
h4{font-size:100%;}
h5{font-size:100%;}

/* TABLE topmenu */
.topmenu{font-size:95%; line-height:1.8;}
.topmenu{height:16px;}
.topmenu-td-height{font-size:2px;}

/* TABLE map */
.map td{line-height:1.25;}

/* TABLE TD height */
.normal-height{line-height:normal;}

/* SPACE SETTING */
.nn-height-5, .nn-height-10, .nn-height-15{font-size:5px;}

/* TABLE rate */
.rate th, .rate td{font-size:80%;}