@charset 'iso-8859-1';

/* Win IE */
body{font-size:80%; line-height:1.5;}

.breadcrumbs, .footlink{font-size:85%;}

h2{font-size:130%;}
h3{font-size:110%;}
h4{font-size:100%;}
h5{font-size:100%;}

/* TABLE topmenu */
.topmenu{font-size:95%; line-height:1.8;}
.topmenu{height:16px;}

/* TABLE map */
.map td{line-height:1.25;}

/* TABLE rate */
.rate th, .rate td{font-size:80%;}

