@charset "UTF-8";
/* ---global navi--------------------------------------------------------------------------------------------------------- */
#glb_nav {
  position: fixed;
}
/* contents
--------------------------------------------------------------------------------- */
#stage1 {
  background: url(../images/bg01.png) top left;
}
#stage2 {
  background: url(../images/bg02.gif) top left fixed;
  background-size: cover;
}
#stage3 {
  background: url(../images/bg03.jpg) top left fixed;
  background-size: cover;
}
#stage4 {
  background: url(../images/bg04.jpg) top left fixed;
  background-size: cover;
}
#stage5 {
  background: url(../images/bg05.jpg) top left fixed;
  background-size: cover;
}
#stage6 {
  background: url(../images/bg06.jpg) top left fixed;
  background-size: cover;
}
#stage1_box {
  position: absolute;
  top: 7em;
  left: 6.8em;
  width: 34.5%;
  padding: 3em;
  background: #000;
  color: #fff;
}
#stage1 .smp {
  position: absolute;
  top: 548px;
  left: 901px;
}
#stage1 .smp img {
  border-left: solid 7px #000;
}
#stage1_box h2 img {
  width: 100%;
}
#stage1_box p {
  margin: 10px 0;
}
#stage1_box .btn_entry {
  margin: 2em 0;
}
#stage2 .field_wrap,
#stage3 .field_wrap,
#stage4 .field_wrap,
#stage5 .field_wrap,
#stage6 .field_wrap {
  width: 900px;
  margin: 150px auto;
  color: #fff;
}
.bdr_wh {
  border: solid 8px #fff;
  box-sizing: border-box;
  height: 100%;
  min-height: 610px;
}
.field_wrap p {
  margin: 1.4em 0;
}
#stage2 .field_wrap {
  width: 450px;
  padding-right: 450px;
  background: url(../images/vision_img01.jpg) no-repeat right center;
}
#stage3 .field_wrap {
  width: 450px;
  padding-right: 450px;
  background: url(../images/message_img01.jpg) no-repeat 86% center;
}
#stage4 .field_wrap ul {
  padding: 0;
}
#stage4 .field_wrap li {
  list-style: none;
  display: inline-block;
  margin: 0 5px 0 0;
}
#stage2 .field_wrap h2,
#stage3 .field_wrap h2,
#stage4 .field_wrap h2,
#stage5 .field_wrap h2,
#stage6 .field_wrap h2 {
  margin-bottom: 1em;
  font-size: 90%;
}
#stage2 .field_wrap h2 span,
#stage3 .field_wrap h2 span,
#stage4 .field_wrap h2 span,
#stage5 .field_wrap h2 span,
#stage6 .field_wrap h2 span {
  display: inline-block;
  padding: 5px 15px 3px;
  background: #fdd000;
  color: #000;
}
#stage2 .field_wrap h2:before {
  content: "VISION";
}
#stage3 .field_wrap h2:before {
  content: "MESSAGE";
}
#stage4 .field_wrap h2:before {
  content: "PEOPLE";
}
#stage5 .field_wrap h2:before {
  content: "WORK STYRE";
}
#stage6 .field_wrap h2:before {
  content: "RECRUIT";
}
#stage2 .field_wrap h2:before,
#stage3 .field_wrap h2:before,
#stage4 .field_wrap h2:before,
#stage5 .field_wrap h2:before,
#stage6 .field_wrap h2:before {
  display: block;
  font-size: 80%;
  color: #fdd000;
}
#stage2 .btn_bk a,
#stage3 .btn_bk a,
#stage4 .btn_bk a,
#stage5 .btn_bk a,
#stage6 .btn_bk a,
#stage6 .btn_wh a {
  width: 350px;
  margin: 0 0 10px;
}
#stage2 span,
#stage3 span {
  display: block;
  font-size: 88%;
}
#stage4 .btn_bk {
  margin-top: 20px;
}
#info {
  position: relative;
  padding: 0.5em 0.5em 0.5em 0.8em;
  background-color: rgba(0,0,0,0.8);
  filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#88000000,EndColorStr=#88000000);
  color: #fff;
}
#info li {
 text-indent: -2em;
 margin-left: 2em;
}
#info li:before {
  content: "i";
  display: inline-block;
  padding: 8px  1px 8px 0;
  width: 15px;
  text-indent: 0.1em;
  margin-right: 1.3em;
  margin-bottom: 3px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  background: #fff;
  color: #333;
  text-align: center;
  font-size: 11px;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 0;
}
#info p:before {
  content: "i";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1em;
  margin: auto;
  display: block;
  width: 16px;
  height: 16px;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background: #fff;
  color: #333;
  font-size: 11px;
  font-weight: bold;
}
#pageDown {
  display: none !important;
}
/* --- smartphone
----------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 640px) {
  #glb_nav {
    top: 0 !important;
  }
  .bdr_wh {
    border-top: none;
    border-right: none;
    border-left: none;
    min-height: inherit;
  }
  #stage1 .bdr_wh {
    padding-bottom: 9em;
  }
  #stage2 .bdr_wh,
  #stage3 .bdr_wh,
  #stage4 .bdr_wh,
  #stage5 .bdr_wh,
  #stage6 .bdr_wh {
    padding: 2% 8%;
  }
  h3 img {
    width: 100%;
  }
  h3 {
    line-height: 1.2;
    font-size: 3.3rem;
    font-weight: bold;
  }
  #stage2 .field_wrap,
  #stage3 .field_wrap,
  #stage4 .field_wrap,
  #stage5 .field_wrap,
  #stage6 .field_wrap {
    width: 100%;
    margin: 50px auto;
  }
  #stage2 .field_wrap {
    padding-bottom: 300px;
    padding-right: 0;
    background: url(../images/vision_img01.jpg) no-repeat center bottom;
  }
  #stage3 .field_wrap {
    padding-right: 0;
    background: none;
  }
  #stage3 .field_wrap p {
    padding-right: 35%;
    height: 10em;
    background: url(../images/message_img01.jpg) no-repeat right top;
    background-size: 100px auto;
  }
  #stage2 .btn_bk a,
  #stage3 .btn_bk a,
  #stage4 .btn_bk a,
  #stage5 .btn_bk a,
  #stage6 .btn_bk a,
  #stage6 .btn_wh a {
    width: 95%;
    margin: 0 auto 10px;
    padding: 10px 0% 8px 5%;
  }
  #stage1_box {
    position: relative;
    width: 70%;
    top: 4em;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0,0,0,0.8);
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#88000000,EndColorStr=#88000000);
  }
  #stage4 .field_wrap ul {
    letter-spacing: -0.4em;
  }
  #stage4 .field_wrap li {
    width: 23%;
    height: 8em;
    margin-right: 0;
    margin-left: 2%;
    letter-spacing: normal;
    overflow: hidden;
  }
  #stage4 .field_wrap li:first-child {
    margin-left: 0;
  }
  #stage4 .field_wrap li img {
    width: 150%;
    margin: 0 0 0 -25%
  }
  #stage4 .field_wrap li a {
    display: block;
  }
  #info {
    margin-top: 50px;
  }
}
