﻿@charset "utf-8";

/* onepage scroll
--------------------------------------------------------------------------------- */
body {
  position: relative;
  overflow: hidden;
  visibility: hidden;
}
/* #container
--------------------------- */
#container {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  z-index: 1;
}
/* .stage_base
--------------------------- */
.stage_base {
  width: 100%;
  position: relative;
  overflow: hidden;
}
/* #pageNav
--------------------------- */
#pageNav {
  top: 0;
  right: 30px;
  width: 20px;
  text-align: center;
  position: fixed;
  z-index: 2;
}
#pageNav ul {
  width: 20px;
  display: block;
}
#pageNav ul li {
  padding-bottom: 5px;
  width: 20px;
  height: 20px;
  display: block;
  overflow: hidden;
}
#pageNav ul li a {
  width: 20px;
  height: 20px;
  background: transparent url(../images/nav.png) no-repeat center center;
  display: block;
}
#pageNav ul li.activeStage a {
  background: transparent url(../images/nav_acv.png) no-repeat center center;
}

/* #pageDown
--------------------------- */
#pageDown {
  bottom: 40px;
  left: 0;
  width: 100%;
  height: 80px;
  text-align: center;
  position: fixed;
  overflow: hidden;
  z-index: 3;
}
#pageDown a {
  margin: 0 auto;
  width: 45px;
  height: 80px;
  background: transparent url(../images/next_arw.png) no-repeat center center;
  display: block;
}
