@charset "utf-8";
/* ご利用方法一覧 */
/* サービス一覧 アコディオン */
#btnService01 a { background: url(../img/btn_base.png) left top no-repeat;}
#btnService02 a { background: url(../img/btn_base.png) left top no-repeat;}
#btnService03 a { background: url(../img/btn_base.png) left top no-repeat;}
#btnService04 a { background: url(../img/btn_base.png) left top no-repeat;}

#btnService01 a.touchstart { background: url(../img/btn_base.png) left bottom no-repeat;}
#btnService02 a.touchstart { background: url(../img/btn_base.png) left bottom no-repeat;}
#btnService03 a.touchstart { background: url(../img/btn_base.png) left bottom no-repeat;}
#btnService04 a.touchstart { background: url(../img/btn_base.png) left bottom no-repeat;}

#btnService01 a,
#btnService02 a,
#btnService03 a,
#btnService04 a,
#btnService01 a.touchstart,
#btnService02 a.touchstart,
#btnService03 a.touchstart,
#btnService04 a.touchstart {
	display: block;
	-webkit-background-size: 320px 150px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
	background-size: 320px 150px;
	height: 57px;
	padding: 18px 0 0px 5px;
	color: #464134;
}

#btnService01,
#btnService02,
#btnService03 {
	line-height: 2.0;
}
#btnService04 {
	line-height: 1.0;
}

#btnService01 span,
#btnService02 span,
#btnService03 span,
#btnService04 span {
	font-size: 143%;
	font-weight: bold;
}


#service01 ul li ul li a {
	display: block;
	background: url(../img/btn_servicelist01.png) left top no-repeat;
	-webkit-background-size: 320px 110px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
	background-size: 320px 110px;
	height: 45px;
	padding: 10px 0 0 15px;
}
#service01 ul li ul li a.touchstart {
	background: url(../img/btn_servicelist01.png) left bottom no-repeat;
}

	#service01 ul li ul li p {
		font-size: 72%;
		color: #464134;
		font-weight: normal;
	}
	#service01 ul li ul li p span {
		font-size: 15px;
		font-weight: bold;
		line-height: 2.5;
	}
/* 説明ページ */
body {
    font-family:"HiraKakuProN-W3","ヒラギノ角ゴ ProN W3","メイリオ","Helvetica",Arial,sans-serif;
    font-size:14px;
    line-height:1.4em;
    color:#222;
}
h2.faqTitle {
	font-size:120%;
    color:#008576;
    padding-top:4px;
}
p.faqContents {
    line-height:1.85em;
    padding-bottom:10px;
    border-bottom: 1px dashed #999;
}
p.faqContents:nth-last-of-type(1) {
    padding-bottom:0;
    border-bottom: none;
}

p.faqContents::after {
    content: "";
    display: block;
    clear: both;
}
img.faqScCapture {
	float:left;
	padding-right:10px;
	padding-bottom:10px;
}

/* ご利用方法へ */
#btnList02 a {
	display: block;
	background: url(../img/btn_bgGreen01.png) center top no-repeat;
	-webkit-box-shadow: 0px 3px 3px rgb(25, 165, 150) inset;
	-webkit-border-radius: 12px;
	box-shadow: 0px 3px 3px rgba(25, 165, 150) inset; 
	border-radius: 12px;
	width: device-width;
	height: 39px;
}
#btnList02 a.touchstart {
	background: url(../img/btn_bgGreen01.png) center bottom no-repeat;
	width: device-width;
	height: 39px;
}
#btnList02 p {
	color: #fff;
	margin:0px;
	font-weight: bold;
	text-align: center;
	font-size: 86%;
	padding: 8px 0 8px 0;
}
	#btnList02 p span {
		font-size: 129%;
	}
#about03 {

}
#about03In {
		width: device-width;
		-webkit-box-shadow: 0px 3px 3px rgb(215, 214, 212) inset;
		-webkit-border-radius: 12px;
		box-shadow: 0px 3px 3px rgba(215, 214, 212) inset; 
		border-radius: 12px;

		padding:4px 3px;
	}
a { text-decoration: none; }
p { margin:1; }