/*==========================================

contact

==========================================*/
ul.contactLink01{
margin-right:15px;
}

ul.contactLink01 li{
width:290px;
margin-right:15px;
float:left;
}

.contactList02{
float:left;
margin:10px 0 0 0 ;
padding:0 0 10px 0;
border-bottom:1px dotted #999999;
}

.ContentsArea .faqTitle{
padding:13px 20px 9px 20px;
background:url(../../../global_common/image/temp_box02_bgH.png) no-repeat left top;
line-height:1.2;
zoom:1;
clear:both;
}
.ContentsArea .faqTitle h2 {
font-size:116%;
color:#FFFFFF;
font-weight:bold;
line-height:1.2;
text-indent:-2.5em;
padding-left:2.5em;
}

.contactList02 dt{
float:left;
width:335px;
font-weight:bold;
}

.contactList02 dd{
float:left;
width:325px;
}

.contactList02 dd.blankLink{
background:none;
}

/* decimal */
#mainArea .ContentsArea .decimalArea .ansArea{
margin-left:3.5em;	
}

/* Button Box
------------------------------------------*/
.btnBox01{
margin:0;
text-align:center;
clear:both;
}
.btnBox01:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

.btnBox01 .asetBox3col{
width:221px;
height:81px;
padding-top:13px;
margin-right:8px;
background:url(../image/index_bg_btnBox01.gif) left top no-repeat;
float:left;
}
.btnBox01 .asetBox1col{
width:680px;
height:81px;
padding-top:13px;
margin:0 auto;
background:url(../image/index_bg_btnBox02.gif) left top no-repeat;
}

.btnBox01 .asetBox1col dt,
.btnBox01 .asetBox3col dt{
line-height:1;
}
.btnBox01 .asetBox1col dd,
.btnBox01 .asetBox3col dd{
margin-top:10px;
}
/* IE7 */
*:first-child+html .ConversionTop .asetBox3col dt{
margin-bottom:0;
}
.btnBox01 .last-child{
margin-right:0;
}
