@charset "utf-8";
/*
 *	-- Layout Style --
 *
 *	01.	#wrapperMiddle Style
 *
 * - - - - - - - - - - - - - - - */
/*
 *	01.	#wrapperMiddle Style
 */
#wrapperMiddle #wrapInner .inner #contentsArea ul.localNav {
  width: 690px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody {
  background: url(../../../shared/img/common_bgHeader_dotLine.png) repeat-x left bottom;
  width: 940px;
  padding: 28px 0 35px;
  margin-bottom: 23px;
  overflow: hidden;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody h2 {
  margin: 0 0 25px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody .contentsBox {
  float: left;
  background: url(../../../shared/img/common_bgContents_material.png) repeat left top;
  width: 458px;
  border: 1px solid #D7D7D7;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody .contentsBox#firstContents {
  float: left;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody .contentsBox#firstContents dl:nth-child(even) {
  background: url(../../../shared/img/common_bgContents_materialThick.png) repeat left top;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody .contentsBox#firstContents dl:nth-child(even).bgNone {
  background: none;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody .contentsBox:last-child {
  float: right;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody .contentsBox:last-child dl:nth-child(odd) {
  background: url(../../../shared/img/common_bgContents_materialThick.png) repeat left top;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody .contentsBox:last-child dl:nth-child(odd).bgNone {
  background: none;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody .contentsBox dl {
  padding: 18px 24px;
  margin: 0;
  border-bottom: 1px dotted #999;
  overflow: hidden;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody .contentsBox dl:last-child {
  border: none;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody .contentsBox dl dt {
  float: left;
  width: 80px;
  color: #1FA1A3;
  font-weight: bold;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody .contentsBox dl dd {
  margin: 0 0 0 80px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody .contentsBox dl dd ol {
  padding: 0;
  margin: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody .contentsBox dl dd ol:first-child {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px dotted #999;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody .contentsBox dl dd ol:first-child li:first-child {
  _margin-left: -0.2em;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody .contentsBox dl dd ol li {
  list-style: none;
  overflow: hidden;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody .contentsBox dl dd ol li span {
  display: block;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody .contentsBox dl dd ol li span.num {
  float: left;
  width: 40px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody .contentsBox dl dd ol li span.text {
  float: left;
  width: 290px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody .contentsBox dl dd dl {
  background: none;
  padding: 0 0 20px;
  margin-bottom: 20px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody .contentsBox dl dd dl dt {
  float: none;
  width: auto;
  color: #333333;
  font-weight: normal;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody .contentsBox dl dd dl dd {
  padding: 0;
  margin: 0;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody .contentsBox dl dd dl.lineNone {
  padding: 0;
  margin: 0;
  border-bottom: none;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody .contentsBox dl dd dl.lineNone dd:nth-child(2) {
  margin-bottom: 10px;
}
#wrapperMiddle #wrapInner .inner #contentsArea #contentsBody .contentsBox dl dd p {
  margin: 0;
}
