@charset "utf-8";



/* layout追加（2011.10）
----------------------------------------- */
.typeB{
font-size:116%;
font-weight:bold;
background:url(../images/bg_h2ptn01.gif) repeat-x bottom left!important;
color:#333!important;
margin:20px 0 15px 0;
padding:13px 0 9px 10px;
zoom:1;
}

.list_style01{
	margin-bottom:10px;
}