@charset "utf-8";

/*
Site Name: 
Description: parts style
*/

/* header
----------------------------------------- */
#header #logo{
	float: left;
	clear: left;
	width: 196px;
	height: 20px;
	padding: 22px 14px 18px 10px;
}

#popup #header #logo{
	width: 158px;
	height: 17px;
	padding: 7px 0px 14px;
}

#header p a,
#header ul#nav li a{
	color: #333333;
	text-decoration: none;
	/*letter-spacing: -0.1em;*/
}
#header p a:hover,
#header ul#nav li a:hover{
	color: #007B6D;
	text-decoration: underline;
}

#header #skipNav ul{
	position: relative;
	margin: 0;
	padding: 0;
}

#header #skipNav ul li{
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: inline;
}

#header #skipNav li a{
	position: absolute;
	left: -1000px;
	z-index: 2;
	margin: 0;
	padding: 0;
}

#header #skipNav li a:focus,
#header #skipNav li a:active,
#header #skipNav li a:hover{
	display: inline;
	top: 5px;
	left: 460px;
	_left: 100px;
	padding: 1px 5px 2px;
	color: #fff;
	background: #000;
}

#header p.home-link a{
	float: left;
	padding-left: 8px;
	margin-top: 26px;
	background-image: url(../images/header_link_icon01.gif);
	background-repeat: no-repeat;
	background-position: left 2px;	
}

#header p.kuroneko-logo{
	float: right;
	clear: right;
	margin: 10px 4px;
	_margin: 10px 2px;
}

#popup p.kuroneko-logo{
	margin: 0;
	padding-top: 8px;
}

#header ul#nav{
	float: right;
	clear: right;	
}

#header ul#nav li{
	display: inline;
	padding-left: 16px;
	margin-left: 10px;
	padding-bottom: 10px;
	background-image: url(../images/header_link_icon02.gif);
	background-repeat: no-repeat;
	background-position: left 0px;	
}

#topicpath-area p.logout{
	float: right;
	clear: right;
	padding-top: 9px;
	padding-left: 5px;
}

#topicpath-area dl{
	font-size: 105%;
	float: right;
	text-align: right;
	color: #FFFFFF;	
	padding-top: 6px;
	line-height: 1.5em;
}

#topicpath-area dl dt{
	font-weight: bold;
	font-size: 110%;
}

/* ----- topicpath ------ */
#topicpath-area #topicpath{
	font-size: 110%;
	float: left;
	clear: left;
	padding: 15px 10px 0 0;
	overflow: hidden;
	zoom: 1;
}

#topicpath-area #topicpath li{
	color: #FFFFFF;
	float: left;
	font-weight: bold;
	margin: 0 5px;
	_margin: 0 3px;
}

#topicpath-area #topicpath li a{
	color: #FFFFFF;
	font-weight: 400;
	padding-right: 10px;
	margin: 0px 5px 0px 0px;
	background: url(../images/topicpath.gif) no-repeat right center;
}

/* footer
----------------------------------------- */
#footer p.link{
	clear: both;
	overflow: hidden;
	zoom: 1;
}

#footer p.link a{
	color: #007B6D;
	font-size: 90%;
	margin-bottom: 10px;
	padding-left: 12px;
	text-decoration: none;
}
#footer p.link a:hover{
	text-decoration: underline;
}

#footer p.link a.pagetop{
	float: right;
	background-image: url(../images/pagetop_icon.gif);
	background-repeat: no-repeat;
	background-position: left 4px;	
}

#footer p.link a.back{
	float: left;
	background-image: url(../images/pageback_icon.gif);
	background-repeat: no-repeat;
	background-position: left 4px;
}

#footer ul{
	padding: 24px 0 8px;
	zoom: 1;
}

#footer ul li{
	display: inline;
	margin-right: 16px;
	padding-left: 16px;
	background-image: url(../images/footer_link_icon01.gif);
	background-repeat: no-repeat;
	background-position: left 2px;	
}

#footer ul li a{
	font-size: 80%;
	color: #FFF;
	text-decoration: none;	
}
#footer ul li a:hover{
	text-decoration: underline;	
}

#footer p#copyright,
#LightBox-footer p#copyright{
	font-size: 95%;
	color: #FDD000;
	zoom: 1;
}

#popup #footer p#copyright{
	padding-top: 10px;
}

#popup #LightBox-footer p#copyright{
	padding-top: 15px;
}

/* content
----------------------------------------- */
#content p,
#content th,
#content td,
#content li{
	line-height: 1.5;
}

/* main
----------------------------------------- */
#main p a.pagetop{
	color: #007B6D;
	font-size: 90%;
	float: right;
	margin-top: 30px;
	margin-bottom: 10px;
	padding-left: 12px;
	background-image: url(../images/pagetop_icon.gif);
	background-repeat: no-repeat;
	background-position: left 4px;
	text-decoration: none;
}

#main p a.back{
	color: #007B6D;
	font-size: 90%;
	float: left;
	margin-top: 30px;
	margin-bottom: 10px;
	padding-left: 12px;
	background-image: url(../images/pagetop_icon.gif);
	background-repeat: no-repeat;
	background-position: left 4px;
	text-decoration: none;
}

#main p.submit{
	text-align: center;
	background-color: #FFF6CC;
	padding: 20px 0;
	margin-bottom: 60px;
	clear: both;
	overflow: hidden;
}

#popup #main p.submit{
	margin-bottom: 0px;
	/*_padding: 15px 0 20px;*/
}

#main p.submit a,
#main p.submit input{
	margin: 0 25px;
}

#main p.submit input{
	position: relative;
	top: 5px;
	margin-top: -5px;
}
/* Firefox */
#main p.submit input, x:-moz-any-link { 
	top: 6px;
	margin-top: -6px;
}
/* safari chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {
#main p.submit input{
	position: relative;
	top: 0px;
	margin-top: 0px;
}
}

#main ul,
#main ol{
	padding: 0.5em 10px;
}

#main p{
	padding: 0 10px;
}

#contents #main h1,
#popup #main h1{
	font-size: 90%;
	padding: 28px 0 22px 12px;
	background-image: url(../images/headline01_bg.gif);
	background-position: left bottom;
	background-repeat: repeat-x;
}

#contents #main h1 img{
	vertical-align: middle;
}

#contents #main h1 a{
	color: #007E6F;
	margin-left: 12px;
	padding-left: 14px;
	padding-bottom: 3px;
	background-image: url(../images/link_icon01.gif);
	background-position: left 1px;
	background-repeat: no-repeat;
	text-decoration: none;
}
#contents #main h1 a:hover{
	text-decoration: underline;
}

#contents #main h2{
	font-size: 125%;
	font-weight: bold;
	padding: 5px 10px;
	margin-bottom: 5px;
	border-bottom: #007E6F solid 1px;
}

#contents #main h2 a{
	font-size: 80%;
	font-weight: normal;
}

#main ul li{
	margin-left: 20px;
	list-style-type: disc;
}

#main ol li{
	margin-left: 25px;
	list-style-type: decimal;
}

#main table{
	font-size: 100%;
}

#main table.diagram{
	width: 100%;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 1px 1px 0 0; 
	margin: 15px 0px 40px;
	clear: both;
}

#main table.diagram th,
#main table.diagram td{
	vertical-align: top;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 0 0 1px 1px; 
	padding: 8px 10px 5px;
}

#main table.diagram thead th{
	font-weight: bold;
	padding-top: 10px;
	background-color: #CCE5E2;
	border-bottom: #007E6F solid 2px;
}

#contents #main table thead.multi-line th{
	border-right-color: #fff;
	border-left-color: #fff;
	border-bottom-color: #fff;
}
#contents #main table thead.multi-line th.first{
	border-left-color: #ddd;
}
#contents #main table thead.multi-line th.under {
	border-bottom: #007E6F solid 2px;
}

#main table.diagram tbody th{
	width: 250px;
	font-weight: bold;
	background-color: #F0F0F0;
}

#main table.diagram tbody td{
	text-align: left;
}

/*tr.even{
	background-color: #F0F0F0;
}*/

#groupnumber-area tr.even{
	background-color: #F0F0F0;
}

#main p.flow{
	padding-left: 0;
	padding-right: 0;
	margin: 25px 0;
	overflow: hidden;
}


/* - - - - -  form css - - - - -  */
select,
textarea,
input[type=text]{
	border: #ABADB3 solid 1px;
}

input[type=text]{
	vertical-align: top;
	padding: 2px 0;
}

.ime-on{
	ime-mode: active;
}
.ime-off{
	ime-mode: inactive;
}
.ime-disabled{
	ime-mode: disabled;
}


/* ----- 01 css ----- */
#header-contents .left-area{
	width: 690px;
	float: left;
	clear: left;
	padding: 15px;
	border: #006D60 solid 1px;
	position: relative;
}
*html #header-contents .left-area{
	width: 720px;
}

#header-contents .right-area{
	width: 230px;
	float: right;
	clear: right;
}

#header-contents .right-area .login-area-out{
	margin-bottom: 10px;
	padding-bottom: 4px;
	background-image: url(../images/header_contents_login_out_bg.gif);
	background-position: left bottom;
	background-repeat: repeat-x;
	overflow: hidden;
	zoom: 1;	
}

#header-contents .right-area .login-area{
	background-color: #FFF;
	padding: 5px 5px 0;
}

#header-contents .left-area h2{
	padding: 5px 0 25px;	
}
#header-contents .left-area p{
	padding: 0px 0 25px;	
}

#header-contents .left-area ul{
	margin: 0 0 10px;
	padding: 0;
}

#header-contents .left-area ul li{
	display: inline;
	float: left;
	padding-right: 20px;
}

#header-contents .left-area p.premembers{
	position: absolute;
	top:90px;
	right:15px;
}

#header-contents .right-area .login-area dl{
	font-size: 90%;
	background-color: #FFF6CC;
	padding: 5px 10px;
	margin-bottom: 5px;
	line-height: 1.3em;
}

#header-contents .right-area .login-area dl .code02-1{
	width: 130px;
}

#header-contents .right-area .login-area dl .code02-2{
	width: 42px;
}

#header-contents .right-area .login-area dl .id02,
#header-contents .right-area .login-area dl .password02{
	width: 190px;	
}

#header-contents .right-area .login-area dl dd.login{
	text-align: center;
	padding-top: 3px;	
}

#header-contents .right-area .login-area ul{
	font-size: 80%;
	margin: 0;
	padding: 0;
	line-height: 1.4em;
}

#header-contents .right-area .login-area ul li{
	padding-left: 10px;
	background-image: url(../images/header_link_icon01.gif);
	background-position: left 3px;
	background-repeat: no-repeat;		
}
#header-contents .right-area .login-area ul li.activetime{
	padding-left: 0;
	background:none;
	text-align:center;
	color: #c00;
}


#main #work-info-area{
	padding: 5px;
	margin-bottom: 10px;
	border: #D4D4D4 solid 1px;
	background-color: #F0F0F0;
	clear: both;
	overflow: hidden;
	zoom: 1;
}

#main #work-info-area .left-area{
	width: 714px;
	float: left;
	clear: left;
	background-color: #FFF;
}

#main #work-info-area .left-area ul.work-info{
	margin: 0 0 0 -1px;
	padding: 0;
	overflow: hidden;
}

#main #work-info-area .left-area ul.work-info li{
	font-size: 90%;
	width: 237px;
	float: left;
	display: inline;
	margin: 0;
	padding: 0;
	border-right: #CCCCCC solid 1px;
}

#main #work-info-area .left-area ul.work-info li div.work-info-description{
	background-color: #FFF6CC;
	padding: 5px 0 10px;
	margin-bottom: 20px;
	background-image: url(../images/work_info_description_bg.gif);
	background-position: left bottom;
	background-repeat: no-repeat;
	overflow: hidden;
	zoom: 1;
}

#main #work-info-area .left-area ul.work-info li ul{
	margin: 0;
	padding: 0;	
}

#main #work-info-area .left-area ul.work-info li ul li{
	font-size: 115%;
	width: auto;
	display: block;
	float: none;	
}

#main #work-info-area .left-area ul.work-info li ul{
	padding: 15px 0;
}

#main #work-info-area .left-area ul.work-info li.shipment ul{
	background-image: url(../images/shipment_ul_bg.gif);
	background-position: left top;
	background-repeat: no-repeat;
}

#main #work-info-area .left-area ul.work-info li.confirmation ul{
	background-image: url(../images/confirmation_ul_bg.gif);
	background-position: left top;
	background-repeat: no-repeat;	
}

#main #work-info-area .left-area ul.work-info li.demand ul{
	background-image: url(../images/demand_ul_bg.gif);
	background-position: left top;
	background-repeat: no-repeat;	
}

#main #work-info-area .left-area ul.work-info li ul li{
	padding: 4px 10px 8px;
	border-right: none;
}

#main #work-info-area .left-area ul.work-info li.shipment ul li.first{
	background-image: url(../images/shipment_li_bg.gif);
	background-position: left bottom;
	background-repeat: no-repeat;	
}

#main #work-info-area .left-area ul.work-info li.confirmation ul li.first{
	background-image: url(../images/confirmation_li_bg.gif);
	background-position: left bottom;
	background-repeat: no-repeat;	
}

#main #work-info-area .left-area ul.work-info li.demand ul li.first{
	background-image: url(../images/demand_li_bg.gif);
	background-position: left bottom;
	background-repeat: no-repeat;
}

#main #work-info-area .left-area ul.work-info li ul li a{
	padding-left: 15px;
	background-image: url(../images/link_icon01.gif);
	background-position: left 2px;
	background-repeat: no-repeat;	
}

#main #work-info-area .right-area{
	width: 225px;
	float: right;
	clear: right;
	background-color: #FFF;	
	overflow: hidden;
	zoom: 1;
	word-break: break-all;
	word-wrap: break-word;
}

#main #work-info-area .right-area ul{
	margin: 0;
	padding: 0 5px;
	overflow: hidden;
	zoom: 1;
	word-break: break-all;
	word-wrap: break-word;
}

#main #work-info-area .right-area ul li{
	list-style-type: none;
	padding-left: 16px;
	margin: 10px 0;
	background-image: url(../images/link_icon01.gif);
	background-position: left 3px;
	background-repeat: no-repeat;
	clear: both;
	overflow: hidden;
	zoom: 1;
}

#main #work-info-area .right-area ul li a{
	display: block;
}

#main #work-info-area .right-area ul li a img{
	float: right;
	clear: right;
	vertical-align: top;
	padding-bottom: 5px;
}

#main p.op-text{
	font-size: 90%;
	vertical-align: top;
	margin-bottom: 15px;
}

#main #information-aera{
	margin-bottom: 30px;
	font-size: 90%;
	border: #CCCCCC solid 1px;
	clear: both;
	overflow: hidden;
	zoom: 1;	
}

#main #information-aera h2{
	font-size: 100%;
	font-weight: normal;
	padding: 5px 15px;
	background-color: #F0F0F0;
	border-bottom: #007E6F solid 2px;
	zoom: 1;
}

/* IE7 */
*+html #main #information-aera h2 img{
	float: left;
	clear: left;
}
/* IE6 */
* html #main #information-aera h2 img{
	float: left;
	clear: left;	
}

#main #information-aera h2 a{
	float: right;
	clear: right;
	padding-left: 10px;
	background-image: url(../images/link_icon02.gif);
	background-position: left 3px;
	background-repeat: no-repeat;		
}

/*#main #information-aera ul{
	margin: 0;
	padding: 10px 15px 5px;	
}

#main #information-aera ul li{
	list-style-type: none;
	margin: 0 0 10px;
	padding: 0;	
}

#main #information-aera ul li a{
	padding-left: 30px;
	background-image: url(../images/link_icon02.gif);
	background-position: 15px 3px;
	background-repeat: no-repeat;	
}*/

#main #information-aera dl{
	padding: 10px 15px 5px;	
	/*background-image: url(../img/maintitle-bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 95%;
	line-height: 1.2em;
	padding-top: 15px;*/
}

#main #information-aera dl dt{
	float: left;
	letter-spacing: 0em;
}

#main #information-aera dl dd{
	padding-left: 9.5em;
	margin-bottom: 10px;
	background-image: url(../images/link_icon02.gif);
	background-position: 96px 3px;
	background-repeat: no-repeat;
}



/* ----- 02 css ----- */

#popup .win-close{
	float:right;
	margin-top: -45px;
}

#popup ul{
	padding: 0;
	margin: 15px 0 0 0;
	
}

#popup ul li{
	margin-left: 5px;
	padding-left: 20px;
	list-style-type: none;
	background-image: url(../images/popup_list_icon.gif);
	background-position: left 5px;
	background-repeat: no-repeat;	
}

#popup table{
	font-size: 100%;
	width: 100%;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 1px 1px 0 0; 
	margin-bottom: 15px;
}

#popup table th,
#popup table td{
	vertical-align: top;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 0 0 1px 1px; 
	padding: 8px 10px 5px;
}

#popup table th{
	width: 180px;
	text-align: left;
	font-weight: bold;
	background-color: #F0F0F0;
}

#popup .code02-1,
#popup .zip02-2{
	width: 130px;
}

#popup .code02-2,
#popup .zip02-1{
	width: 50px;
}

#popup .title02,
#popup .clause02,
#popup .company02,
#popup .station02,
#popup .address02,
#popup .mail1-02,
#popup .mail2-02{
	width: 260px;
}

#popup .name02-1,
#popup .name02-2,
#popup .kana02-1,
#popup .kana02-2{
	width: 80px;
}

#popup .tel02-1,
#popup .tel02-2,
#popup .tel02-3{
	width: 70px;
}

#popup .namelabel02{
	width: 35px;
	display: inline-block;
	padding-right: 8px;
	text-align: right;
}

#popup table td .form-area{
	float: left;
	clear: left;
}

#popup table td .description{
	width: 200px;
	float: right;
	clear: right;
	font-size: 90%;
	color: #666666;
	zoom: 1;
	overflow: hidden;
}

#popup table td .width115{
	width: 115px;
}

#popup table td span{
	font-size: 90%;
	color: #CC0000;
	font-weight: 400;
}


#popup p.popuptext{
	margin-bottom: 15px;
}

#popup p.popupthanks{
	padding: 120px 0;
	text-align: center;
}

/* ----- 05 css ----- */
.code05-1{
	width: 130px;
}

.code05-2{
	width: 45px;
}

.mail1-05{
	width: 192px;
}


/* ----- 09 css ----- */
#popup h2{
	font-size: 110%;
	font-weight: 800;
	margin: 15px 0;
	padding: 0 10px;	
}

#popup p.date{
	font-size: 90%;
	text-align: right;
	margin-bottom: 15px;
}

#popup p.text09{
	margin-bottom: 50px;
}



/* ----- 07-2 css ----- */
p.mypage-text{
	font-size: 90%;
	margin-top: 5px;
	margin-bottom: 15px;
}

#mypage-service-area{
	overflow: hidden;
	clear: both;
	margin-bottom: 15px;
	_zoom: 1;
}

#mypage-service-area .left-area{
	float: left;
	clear: left;
	width: 295px;
	_width: 330px;
	padding-left: 38px;
	_zoom: 1;
}

#mypage-service-area .right-area{
	float: right;
	clear: right;
	width: 295px;
	_width: 360px;
	padding-right: 60px;
	_zoom: 1;
}

#mypage-service-area .left-area ul,
#mypage-service-area .right-area ul{
	float: left;
	clear: left;
	margin: 0;
	padding: 0;
	_margin-right: 6px;
	_zoom: 1;
}

#mypage-service-area .left-area h2,
#mypage-service-area .right-area h2{
	color: #007E6E;
	font-weight: bold;
	padding-left: 80px;
	margin-bottom: 5px;	
}

#mypage-service-area .left-area ul{
	padding-left: 35px;
}

#mypage-service-area .left-area ul li img{
	margin-bottom: 2px;
}

#mypage-service-area .right-area ul{
	margin-top: 20px;
}

#mypage-service-area .right-area ul li img{
	margin-bottom: 10px;
}

#mypage-service-area .left-area ul li,
#mypage-service-area .right-area ul li{
	margin: 0;
	padding: 0;
	background-image: none;
}

#mypage-service-area .service-menu{
	float: right;
	clear: right;
}

#mypage-service-area .service-menu select{
	width: 212px;
	height: 95px;
}

#mypage-service-area .service-menu p{
	font-size: 90%;
	margin: 2px 0px;
	line-height: 1.4em;
	
}


/* ----- 11 css ----- */
#main p.supplement{
	font-size: 90%;
}

.mail-no{
	width: 50px;
}

.mail11{
	width: 335px;
}

#main table p.mail-attention{
	font-size: 90%;
	font-weight: normal;
	text-align: left;
	padding-top: 15px;
}

#main table p.mail-attention span{
	color: #CC0000;
	font-weight: normal;
}

#main table p.mail-attention a{
	padding-left: 10px;
	background-image: url(../images/link_icon02.gif);
	background-position: left 2px;
	background-repeat: no-repeat;	
}

#main table td #mail-document{
	width: 660px;
}

/* ----- 12 15 css ----- */
#main p.finish-text{
	text-align: center;
	padding: 60px 0;	
}

#main p.finish-text a{
	padding-left: 12px;
	background-image: url(../images/link_icon02.gif);
	background-repeat: no-repeat;
	background-position: left 4px;	
}

/* ----- 13 css ----- */
#main th span.hissu{
	font-size: 90%;
	color: #CC0000;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

#main .specify-area{
	margin-top: 15px;
	border: none!important;
}

#main table th.slip{
	width: 255px;
}

#main table th.notice-address{
	width: 645px;
}

#main table td .slip{
	width: 225px;
}

#main table td .notice-address{
	width: 335px;
}

#main p.corroboration{
	margin-bottom: 20px;
}

/* ----- 15 css ----- */
#main table.diagram td p.attention{
	margin: 5px 0 0;
}

/* ----- 16 css ----- */
#main #confirmation-menu-area table td p.attention{
	margin: 0;
	padding: 0;
}

#main #confirmation-menu-area table td p.attention span{
	font-size: 100%;
}

#main #confirmation-menu-area h2 strong.small{
	font-size: 90%;
	font-weight: normal;
	padding: 0 15px;
}

/* ----- 17 css ----- */
#main p.attention2{
	margin: -15px 0 15px;
}

#main #center-area{
	margin-bottom: 40px;
}

#main #center-area table{
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 1px 1px 0 0; 
	margin: 0 auto;
	_margin: 0 0px 0 320px;
}

#main #center-area table th,
#main #center-area table td{
	vertical-align: top;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 0 0 1px 1px; 
	padding: 8px 10px 5px;
}

#main #center-area table thead th{	
	font-weight: bold;
	padding-top: 10px;
	background-color: #CCE5E2;
	border-bottom: #007E6F solid 2px;	
}

#main #center-area table td .number17{
	width: 200px;
}

/* ----- 18 css ----- */
#main .invoice-image-area{
	margin-top: 15px;
	border: none!important;
}

/* ----- 19 css ----- */
#popup #main p.win-close-19{
	margin-top: 15px;
	text-align: right;
}

#popup #main p#img-area{
	margin: 15px 0 10px;
}

#popup #main table.fare-table{
	width: auto;
	text-align: center;
	margin: 0 auto 15px;
	_margin: 0 250px 15px;
}

#popup #main table.fare-table th,
#popup #main table.fare-table td{
	width: 100px;
}


/* ----- 20 css ----- */
#main table th.indication{
	width: 115px;
	text-align: center;
}

#main table td.indication a{
	margin: 0 30px;
}

#main #center-area p{
	margin: 15px 0;
	text-align: center;
}

#main #center-area p.filelink{
	margin-top: 50px;
	font-size: 140%;
}

#main #center-area table thead th.centerslip{
	width: 175px;
}


/* ----- 22, 23, 27 css ----- */


/* js-layout */
#main .tableDiv .fixedFoot{
	display:none;
}

#main .tableDiv .fixedArea {
	background: #eee;
	overflow:hidden;
	zoom:1;
	border-bottom:1px solid #ccc;
}
#main .tableDiv .fixedArea .fixedContainer{
	border-left: 1px solid #CCC;
	margin:0;
	padding:0;
}
#main .tableDiv .fixedArea .fixedContainer .fixedTable,
#main .tableDiv .fixedArea .fixedColumn,
#main .tableDiv .fixedArea .fixedColumn .fixedTable{
	height: auto !important;
}
#main .tableDiv .fixedArea .fixedContainer .fixedTable{
	overflow:hidden !important;
	overflow-x: scroll !important;
}

#main #table-area-22 .tableDiv .fixedArea .fixedContainer .fixedHead,
#main #table-area-22 .tableDiv .fixedArea .fixedContainer .fixedTable{
	width: 673px !important;
}
#main #table-area-23 .tableDiv .fixedArea .fixedContainer .fixedHead,
#main #table-area-23 .tableDiv .fixedArea .fixedContainer .fixedTable{
	width: 673px !important;
}
#main #table-area-27 .tableDiv .fixedArea .fixedContainer .fixedHead,
#main #table-area-27 .tableDiv .fixedArea .fixedContainer .fixedTable{
	width: 591px !important;
}

/* header&footter */
#main #groupnumber-area .tableDiv .fixedColumn .fixedHead table tbody td,
#main #groupnumber-area .tableDiv .fixedContainer .fixedHead table tbody td,
#main #groupnumber-area .tableDiv .fixedColumn .fixedTable table tbody td.foot-menu-name,
#main #groupnumber-area .tableDiv .fixedContainer .fixedTable table tbody td.foot-menu-name{
	font-size: 90%;
	padding: 0 5px;
	border-bottom: none;
	line-height:1.3;
}
#main #groupnumber-area .tableDiv .fixedContainer .fixedHead table tbody td strong,
#main #groupnumber-area .tableDiv .fixedContainer .fixedTable table tbody td.foot-menu-name strong{
	margin: 6px 0 5px;
	white-space: nowrap;
	display:block;
}
#main #groupnumber-area .tableDiv .fixedContainer .fixedHead table tbody td a.tooltip,
#main #groupnumber-area .tableDiv .fixedContainer .fixedTable table tbody td.foot-menu-name a.tooltip{
	margin: 5px 0;
	display: inline-block;
}
#main #groupnumber-area .tableDiv .fixedColumn .fixedTable table tbody td.foot-menu-name,
#main #groupnumber-area .tableDiv .fixedContainer .fixedTable table tbody td.foot-menu-name{
	border-top: #007162 solid 2px;
}

/* fixed-col */
#main .tableDiv .fixedColumn .fixedHead table td.number,
#main .tableDiv .fixedColumn .fixedTable table td.number{
	border-left: none !important;
}

/* content-cell */
#main #groupnumber-area .tableDiv .fixedColumn .fixedTable table td,
#main #groupnumber-area .tableDiv .fixedContainer .fixedTable table td{
	padding: 1px 5px;
}

/* common-setting */

#main #groupnumber-area table th,
#main #groupnumber-area table td.foot-menu-name{
	font-size: 90%;
}
#main #groupnumber-area table td.page-choice input{
	vertical-align: middle;
	margin: 0;
}
#main #groupnumber-area table td.customer-code{
	text-align : left;
}
#main #groupnumber-area table td.service-choice{
	text-align: center;
}
#main #groupnumber-area table td.service-choice ul {
	width: 85px;
	margin: 1px auto;
	padding: 0;
	float:none;
}
#main #groupnumber-area table td.service-choice ul li{
	margin: 0 1px;
	padding: 0;
}


#main #groupnumber-area .page-choice ul,
#main #groupnumber-area .page-all-choice ul{
	float: right;
	clear: right;
	margin: 0 1px;
	padding: 0 8px 0 0;
}

/* IE6 */
* html #main #groupnumber-area .service-choice ul,
* html #main #groupnumber-area .page-choice ul,
* html #groupnumber-area .page-all-choice ul{
	width: 89px !important;
	margin:0 !important;
	padding:0 !important;
}

#main #groupnumber-area td.service-choice ul li,
#main #groupnumber-area .page-choice ul li,
#groupnumber-area .page-all-choice ul li{
	float: left;
	display: inline;
	margin: 0;
	padding: 0 0 0 2px;
	list-style-type: none;
}


/* tooltip */

.ui-tooltip, .qtip{
	font-size: 100% !important;
	position: relative;
}
.ui-tooltip-default .ui-tooltip-titlebar,
.ui-tooltip-default .ui-tooltip-content{
	border-color: #007E6F !important;
	border-width: 7px;
	background-color: #fff !important;
}
.ui-tooltip .ui-tooltip-titlebar{
	padding: 0;
	border-bottom: none;
}
.ui-tooltip-default .ui-tooltip-title{
	padding: 5px 35px 5px 10px;
	border-bottom: #FDD000 solid 1px !important;
}

.ui-tooltip-default .ui-tooltip-icon{
	
}

*html .ui-tooltip-default .ui-tooltip-icon{
	right: 10px;
}

.ui-tooltip-default .ui-tooltip-content{
	font-size: 90%;
	padding-top: 5px;
/*	padding-bottom: 30px;*/
	padding-bottom: 10px;
	line-height: 1.5;
	border-top:none;
}
*html .ui-tooltip-default .ui-tooltip-tip{
	bottom: -18px !important;
}



/* ----- 22 css ----- */

#table-area-22 tr.even,
#table-area-22 td.even{
	background-color: #F0F0F0;
}

#main #table-area-22{
	border-top: #CCCCCC solid 1px;
	border-bottom: #CCCCCC solid 1px;
	overflow:hidden;
	zoom: 1;
	background-color: #eee;
}

* html #main #table-area-22{
	width: 970px;
	zoom: 1;
}

#main #table-area-22 .fixedColumn{
	border-right: #007E6F solid 1px;
}

#main #table-area-22 table th,
#main #table-area-22 table td{
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 0 0 1px 1px; 
	padding: 5px 5px 5px;
}


#main #table-area-22 table th{
	vertical-align: top;
}

#main #table-area-22 .fixedTable{
	background-color: #DEEEEC;
}

#main #table-area-22 .fixedTable table{
	background-color: #FFF;
}


#main dl.attention2{
	height: 50px;
	font-size: 90%;
	border: 1px solid #CCCCCC;
	margin-bottom: 20px;
	padding: 10px;
	margin-top: 10px;
	overflow-y: scroll;
}

#main dl.attention2 dt{
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 3px;
}

#main dl.attention2 dd{
	line-height: 1.5em;
}

#main #groupnumber-area .groupnumber-head .number-list p{
	float: right;
	clear: right;
}

#main #groupnumber-area #customer-data-area{
	_width: 958px;
	height: 330px;
	overflow-x: scroll;
	border-top: #DDD solid 1px;
	zoom: 1;
}

#main #groupnumber-area #customer-data-area table{
	width: 1240px;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 0 1px 0 0;
}

#main #groupnumber-area #customer-data-area table th,
#main #groupnumber-area #customer-data-area table td{
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 0 0 0 1px;
	padding: 5px 0;
}

#main #groupnumber-area #customer-data-area table div.td-left,
#main #table-area-22 table .td-left{
	/*color: #FFF;*/
	font-size: 90%;
	width: 145px;
	float: left;
	clear: left;
}


#main #groupnumber-area #customer-data-area table thead th,
#main #groupnumber-area #customer-data-area table thead td,
#main #table-area-22 .fixedContainer .fixedHead table tbody td,
#main #table-area-22 .fixedContainer .fixedTable table tbody td.foot-menu-name{
	/*font-size: 75%;*/
	font-size: 90%;
	width: 95px;
}

#main #groupnumber-area #customer-data-area table thead th,
#main #table-area-22 .fixedContainer .fixedHead table tbody td,
#main #table-area-22 .fixedContainer .fixedTable table tbody td.foot-menu-name{
	font-weight: bold;
	text-align: center;
	/*background-color: #CCE5E2;*/
	vertical-align: top;
}

#main #table-area-22 .fixedContainer .fixedHead table tbody td{
	vertical-align:bottom;
}

#main #groupnumber-area #customer-data-area table thead th strong,
#main #table-area-22 .fixedContainer .fixedHead table tbody td strong,
#main #table-area-22 .fixedContainer .fixedTable table tbody td.foot-menu-name strong{
	display: block;
	overflow: hidden;
}

#main #groupnumber-area #customer-data-area table thead th a,
#main #table-area-22 .fixedContainer .fixedHead table tbody td a,
#main #table-area-22 .fixedContainer .fixedTable table tbody td.foot-menu-name a{
	color: #007E6C;
	font-weight: 400;
	text-decoration: none;
	margin: 15px 0 5px;
	overflow: hidden;
}

#main #groupnumber-area #customer-data-area table thead th a.tooltip,
#main #table-area-22 .fixedContainer .fixedHead table tbody td a.tooltip,
#main #table-area-22 .fixedContainer .fixedTable table tbody td.foot-menu-name a.tooltip{
	padding-left: 10px;
	background-image: url(../images/ascend_icon.gif);
	background-repeat: no-repeat;
	background-position: center left;
	cursor: pointer;
}

#main #groupnumber-area #customer-data-area table thead td,
#main #table-area-22 table td.page-all-choice,
#main #table-area-22 table td.service-choice{
	color: #FFF;
	background-color: #007E6F;
}

#main #groupnumber-area #customer-data-area table th.customer-code{
	width: 235px!important;
	text-align: left;
}

#main #table-area-22 table .customer-code{
	font-size: 90%;
	font-weight: bold;
/*	text-align: center;*/
	vertical-align: middle!important;
	background-color: #CCE5E2;
}

/*#main #table-area-22 table td.foot-menu-name{
	background-color: #CCE5E2;
}*/


#main #table-area-22 .fixedHead table tbody td{
	font-size: 90%;
	font-weight: bold;
/*	text-align: center;*/
	background-color: #CCE5E2;
/*	height: 123px;*/
/*	height: 6.5em;*/
}

#main #table-area-22 table td.number{
	font-weight: bold;
	text-align: center;
	width: 25px!important;
	
}



#main #groupnumber-area #customer-data-area table tbody td{
	text-align: center;	
}

#main #groupnumber-area #customer-data-area table tbody td .code22-1,
#main #table-area-22 table tbody td .code22-1{
	width: 84px;
}

#main #groupnumber-area #customer-data-area table tbody td .code22-2,
#main #table-area-22 table tbody td .code22-2{
	width: 28px;
}



#main #groupnumber-area .fixedHead table td,
#main #table-area-22 table td.foot-menu-name{
	background-image: url(../images/table_bg01_22.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	background-color: #CCE5E2;
}

#main #table-area-22 table td.foot-menu-name{
	border-top: #007162 solid 1px;
}

#main #groupnumber-area .fixedHead table td.odd2,
#main #table-area-22 table td.odd2{
	background-image: url(../images/table_bg02_22.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	background-color: #FFFFFF;	
}

#main #groupnumber-area #table-area-22 .even2{
	background-color: #F6F6F6;
}

#main #groupnumber-area #table-area-22 tr.even .even2{
	background-color: #E7E7E7;
}




/* ----- 23 css ----- */
#main p.attention-23{
	margin-bottom: 20px;
}

#table-area-23 .fixedColumn .fixedTable td{
	background-color: #F6F6F6;
	font-weight: bold;
}

#table-area-23 .fixedTable td.even{
	background-color: #E7E7E7;
}

#main #table-area-23 .fixedArea{
	border: none;
}

* html #main #table-area-23{
	width: 970px;
	zoom: 1;
}

#main #table-area-23 .fixedColumn{
	border-right: #007E6F solid 1px;
}

#main #table-area-23 table th,
#main #table-area-23 table td{
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 0 0 1px 1px; 
	padding: 8px 5px 5px;
}


#main #table-area-23 table th{
	vertical-align: top;
}

#main #table-area-23 .fixedTable{
	background-color: #E7E7E7;
}

#main #table-area-23 .fixedTable table{
	background-color: #FFF;
}

#main #table-area-23 table div.td-left{
	font-size: 90%;
	width: 145px;
	float: left;
	clear: left;
}

#main #table-area-23 .fixedContainer .fixedHead table tbody td,
#main #table-area-23 .fixedColumn .fixedHead table tbody td{
	border-bottom: 2px solid #007162;
}

#main #table-area-23 .fixedContainer .fixedHead table tbody td,
#main #table-area-23 .fixedContainer .fixedTable table tbody td.foot-menu-name{
	font-size: 90%;
	white-space:nowrap;
}

#main #table-area-23 .fixedContainer .fixedHead table tbody td,
#main #table-area-23 .fixedContainer .fixedTable table tbody td.foot-menu-name{
	font-weight: bold;
	text-align: center;
	/*background-color: #CCE5E2;*/
	vertical-align: top;
}

#main #table-area-23 .fixedContainer .fixedHead table tbody td strong,
#main #table-area-23 .fixedContainer .fixedTable table tbody td.foot-menu-name strong{
	display: block;
	text-align: center;
	_width: 85px;
	min-width:7em;
}

#main #table-area-23 .fixedContainer .fixedHead table tbody td a,
#main #table-area-23 .fixedContainer .fixedTable table tbody td.foot-menu-name a{
	color: #007E6C;
	font-weight: 400;
	text-decoration: none;
	margin: 15px 0 5px;
	overflow: hidden;
}

#main #table-area-23 .fixedContainer .fixedHead table tbody td a.tooltip,
#main #table-area-23 .fixedContainer .fixedTable table tbody td.foot-menu-name a.tooltip{
	padding-left: 10px;
	background-image: url(../images/ascend_icon.gif);
	background-repeat: no-repeat;
	background-position: center left;
	cursor: pointer;
}

#main #table-area-23 table td.page-all-choice,
#main #table-area-23 table td.service-choice{
	color: #FFF;
	background-color: #007E6F;
}

#main #table-area-23 table .customer-code{
	font-size: 90%;
	font-weight: bold;
	text-align: center;
	vertical-align: middle!important;
	background-color: #CCE5E2;
}

#main #table-area-23 .fixedHead table tbody td{

}

#main #table-area-23 table td.number{
	font-weight: bold;
	text-align: center;
	width: 25px!important;	
}

#main #table-area-23 table td.foot-menu-name{
	background-image: url(../images/table_bg01_22.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	background-color: #CCE5E2;
	
}

#main #table-area-23 table td.odd2{
	background-image: url(../images/table_bg02_22.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	background-color: #FFFFFF;	
}

#main #groupnumber-area #table-area-23 .even2{
	background-color: #F6F6F6;
}

#main #groupnumber-area #table-area-23 tr.even .even2{
	background-color: #E7E7E7;
}

/*#table-area-23 .fixedContainer .fixedHead td{
	width: 92px!important;
}*/



























































/* ----- 24 css ----- */
#main p.completion{
	text-align: center;
	margin-bottom: 10px;
}

#main p.completion span{
	color: #FF0000;
	font-weight: normal;
}

#main p.mainmenu-link{
	text-align: center;
	margin: 40px 0 80px;
}

#main .code-24{
	width: 660px;
	/*height: 95px;*/
}

/* ----- 25 css ----- */
#main .area-25-1 table,
#main .area-26-1 table{
	width: 450px;
	border: 1px solid #017F70;
	margin: 20px 0px 20px 250px;
}

#main .area-25-1 table td,
#main .area-25-1 table th,
#main .area-26-1 table td,
#main .area-26-1 table th{
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #017F70;
	border-bottom-color: #017F70;
	padding: 6px 10px;
	line-height: 1.2em;
}

#main .area-25-1 table th,
#main .area-26-1 table th{
	text-align: left;
	width: 155px;
	background-color: #CCE5E2;
	font-weight: bold;
}

#main .area-25-2{
	background-color: #F0F0F0;
	overflow: hidden;
	zoom: 1;
	padding: 10px;
	margin-bottom: -15px;
}

#main .area-25-2 dl{
	font-size: 95%;
	height: 95px;
	overflow-y: scroll;
	border: #CCCCCC solid 1px;
	background: #FFF;
	padding: 5px;
}

#main .area-25-2 dl dt{
	font-weight: bold;
	margin-bottom: 10px;
}

#main .area-25-2 dl dd ol{
	padding: 0;
}

#main .area-25-2 table{
	width: 380px;
	font-size: 95%;
	margin: 10px 0 5px 230px;
}

#main .area-25-2 table th{
	font-weight: bold;
	width: 185px;
}

#main .area-25-3 table thead th.function{
	width: 535px!important;
}

#main .area-25-3 table tbody td.service{
	padding: 0!important;
	
}

#main .area-25-3 table tbody td.service div{
	height: 110px;
	padding: 8px 10px 5px;
	overflow-y: scroll;
}


/* ----- 26 css ----- */
#main .area-26-2{
	margin: 0px 260px 0px 250px;
}

#main .area-26-2 table{
	width: 450px;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 1px 1px 0 0; 
}

#main .area-26-2 table th,
#main .area-26-2 table td{
	text-align: left;
	vertical-align: top;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 0 0 1px 1px; 
	padding: 8px 10px 5px;
}

#main .area-26-2 table th{
	font-weight: bold;
}

#main .area-26-2 table thead th{
	padding-top: 10px;
	background-color: #CCE5E2;
	border-bottom: #007E6F solid 2px;	
}

#main .area-26-2 table tbody th{
	width: 320px;
}

#main .area-26-2 p{
	text-align: center;
	margin: 20px 0;
}

#main .area-26-2 p.link{
	margin-bottom: 60px;
}

#main .area-26-2 p a{
	color: #007B6D;
}





/* ----- 27 css ----- */
.code27,
.name27{
	width: 300px;
	margin-right: 10px;
}

.left-text{
	width: 120px;
	float: left;
	text-align: left;
}

.right-text{
	width: 80px;
	float: right;	
	text-align: right;
}

#main p.attention-27{
	margin-top: -20px;
	margin-bottom: 20px;
}

#main p.attention-27 span{
	color: #CC0000;
	font-weight: normal;
}

#table-area-27 tr.even,
#table-area-27 td.even{
	background-color: #F0F0F0;
}

#main #table-area-27{
	width: 958px;
/*	width: 950px\9;*/
	border-top: #CCCCCC solid 1px;
	overflow: hidden;
}

* html #main #table-area-27{
	width: 970px;
	zoom: 1;
}

#main #table-area-27 .fixedColumn{
	border-right: #007E6F solid 1px;
}

#main #table-area-27 table th,
#main #table-area-27 table td{
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 0 0 1px 1px; 
	padding: 8px 5px 5px;
}


#main #table-area-27 table th{
	vertical-align: top;
}

#main #table-area-27 .fixedTable{
	background-color: #DEEEEC;
}

#main #table-area-27 .fixedTable table{
	background-color: #FFF;
}

#main #table-area-27 table div.td-left{
	width: 120px;
	float: left;
	clear: left;
	font-weight: bold;
}

#main #table-area-27 table td.page-all-choice div.td-left{
	font-size: 90%;
	font-weight: normal;
}

#main #table-area-27 table div.td-left strong{
	color: #007E6F; 
}

#main #table-area-27 table div.td-right{
	width: 80px;
	float: right;
	clear: right;
	text-align:right;
}

#main #table-area-27 table div.td-right strong{
	float: left;
	clear: left;
	font-weight: normal;
}


#main #table-area-27 .fixedContainer .fixedHead table tbody td,
#main #table-area-27 .fixedContainer .fixedTable table tbody td.foot-menu-name{
	font-size: 90%;
	width: 95px;
}

#main #table-area-27 .fixedContainer .fixedHead table tbody td,
#main #table-area-27 .fixedContainer .fixedTable table tbody td.foot-menu-name{
	font-weight: bold;
	text-align: center;
/*	vertical-align: top;*/
}

#main #groupnumber-area #table-area-27 .fixedContainer .fixedHead table tbody td strong{
	margin-top: 2.8em;
}
#main #groupnumber-area #table-area-27 .fixedTable table tbody td.foot-menu-name a.tooltip{
	margin-bottom: 2.8em;
}


#main #table-area-27 .fixedContainer .fixedHead table tbody td a,
#main #table-area-27 .fixedContainer .fixedTable table tbody td.foot-menu-name a{
	color: #007E6C;
	font-weight: 400;
	text-decoration: none;
	margin: 15px 0 5px;
	overflow: hidden;
}

#main #table-area-27 .fixedContainer .fixedHead table tbody td a.tooltip,
#main #table-area-27 .fixedContainer .fixedTable table tbody td.foot-menu-name a.tooltip{
	padding-left: 10px;
	background-image: url(../images/ascend_icon.gif);
	background-repeat: no-repeat;
	background-position: center left;
	cursor: pointer;
}

#main #table-area-27 table td.page-all-choice,
#main #table-area-27 table td.service-choice{
	color: #FFF;
	background-color: #007E6F;
}

#main #table-area-27 table .customer-code{
	font-size: 90%;
	font-weight: bold;
	text-align: center;
	vertical-align: middle!important;
	background-color: #CCE5E2;
}

#main #table-area-27 table .customer-code strong.name,
#main #table-area-27 table .customer-info strong.name,
#main #table-area-27 table .foot-menu-name strong.name{
	clear:both;
	display:block;
	width: 220px;
	text-align: left;
}
#main #table-area-27 table .customer-info strong.name{
	color: #007E6F;
}

#main #table-area-27 .fixedHead table tbody td{
	font-size: 90%;
	font-weight: bold;
	text-align: center;
	background-color: #CCE5E2;
/*	height: 123px;*/
}

#main #table-area-27 table td.number{
	font-weight: bold;
	text-align: center;
	width: 25px!important;
}

#main #table-area-27 ul{
	float: right;
	clear: right;
	margin: 0;
	padding: 0 8px 0 0;
}

#main #table-area-27 ul li{
	float: left;
	display: inline;
	margin: 0;
	padding: 0 0 0 2px;
	list-style-type: none;
}

#main #table-area-27 table td.foot-menu-name{
	background-image: url(../images/table_bg01_22.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	background-color: #CCE5E2;
}

#main #table-area-27 .fixedColumn .fixedHead table tbody td.all-cancel,
#main #table-area-27 .fixedColumn .fixedTable table tbody td.all-cancel{
	font-weight: bold;
	font-size: 90%;
	vertical-align: middle;
	background-image: none;
	background-color: #FDD000;
	text-align: center;
}
#main #table-area-27 .fixedColumn .fixedHead table tbody td.all-cancel strong{
	width: 85px;
	display: block;
}

#main #groupnumber-area .fixedHead table td.odd2,
#main #table-area-27 table td.odd2{
	background-image: url(../images/table_bg02_22.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	background-color: #FFFFFF;	
}

#main #groupnumber-area #table-area-27 .even2{
	background-color: #F6F6F6;
}

#main #groupnumber-area #table-area-27 tr.even .even2{
	background-color: #E7E7E7;
}

#main .individual-certification-out{
	position: absolute;
}

/*#main .individual-certification{
	position: relative;
	left: 469px;
	color: #007061;
	font-size: 90%;
	font-weight: bold;
	width: 488px;
	vertical-align: bottom;
	background-image: url(../images/individual_certification_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #FFF;
	border: #CCCCCC solid 1px;
}*/

#main .individual-certification p{
	text-align: center;
	padding: 3px 5px 3px;
}

#main #table-area-27 #tableDiv_Arrays div.fixedContainer{
	position: relative;
}

#main #table-area-27 #tableDiv_Arrays div.fixedContainer .individual-certification-head{
	width: 591px;
	color: #007061;
	font-size: 90%;
	font-weight: bold;
	position: absolute;
	top: 0px;
	left: 0;
	background-image: url(../images/individual_certification_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #FFF;
	border-bottom: #CCCCCC solid 1px;	
}

#main #table-area-27 #tableDiv_Arrays div.fixedContainer .individual-certification-bottom{
	width: 591px;
	color: #007061;
	font-size: 90%;
	font-weight: bold;
	position: absolute;
	bottom: 17px;
	left: 0;
/*	float:left;
	margin-top: -1.5em;
	margin-left: 0;*/
	background-image: url(../images/individual_certification_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #FFF;
	border-top: #CCCCCC solid 1px;
}




/* ----- 28 css ----- */
#main #privacy-area{
	height: 300px;
	padding: 10px 20px;
	margin-bottom: 45px;
	overflow: auto;
	border: #CCC solid 1px;
}

#main #agreement-area h2{
	margin: 15px 0;
}

#main #agreement-area p{
	margin-bottom: 30px;
}

#main #agreement-area .left-area,
#main #agreement-area .right-area{
	width: 470px;
	background-color: #FFF6CC;	
}

#main #agreement-area .left-area{
	float: left;
	clear: left;
}

#main #agreement-area .right-area{
	float: right;
	clear: right;	
}

#main #agreement-area .left-area ul,
#main #agreement-area .right-area ul{
	margin: 15px 10px 0;
}

#main #agreement-area .left-area ul li,
#main #agreement-area .right-area ul li{
	font-size: 110%;
	margin: 0;
	padding-left: 15px;
	background-image: url(../images/agreement_list_icon.gif);
	background-repeat: no-repeat;
	background-position: left 6px;
	list-style-type: none;
}

#main #agreement-area .left-area ul li span,
#main #agreement-area .right-area ul li span{
	color: #007E6F;
	font-weight: bold;
}

#main #agreement-area .left-area ul li strong,
#main #agreement-area .right-area ul li strong{
	color: #007E6F;
	font-weight: 400;
}

#main #agreement-area .left-area p,
#main #agreement-area .right-area p{
	text-align: center;
	margin: 25px 0 15px;
}

#main #agreement-area .right-area p{
	margin-top: 45px;	
}

#main #agreement-area .left-area ul.btn,
#main #agreement-area .right-area ul.btn{
	text-align: center;
	padding: 10px 50px 15px;
	overflow: hidden;
	zoom: 1;
}

#main #agreement-area .left-area ul.btn li,
#main #agreement-area .right-area ul.btn li{
	background-image:  none;
	display: inline;
	float: left;
	margin: 0;
	padding: 0 20px;
}



/* ----- 29 css ----- */

#main table.form-table{
	width: 100%;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 1px 1px 0 0; 
	margin: 15px 0px 20px;
}

#main table.form-table th,
#main table.form-table td{
	vertical-align: top;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 0 0 1px 1px; 
	padding: 8px 10px 5px;
}

#main table.form-table th{
	width: 250px;
	background-color: #F0F0F0;
	font-weight: bold;
	text-align: left;
}

#main table.form-table th span.hissu{
	float: right;
	clear: left;
	font-weight: normal;
}
/* IE7 */
*+html #main table.form-table th span.hissu{
	margin-top: -15px;
}
/* IE6 */
* html #main table.form-table th span.hissu{
	margin-top: -15px;
}


#main table.form-table td{
	/*font-size: 90%*/
}

#main table.form-table td .password1-29,
#main table.form-table td .password2-29,
#main table.form-table td .corporate-name-29,
#main table.form-table td .corporate-kana-29,
#main table.form-table td .corporate-designation-29,
#main table.form-table td .post-name-29,
#main table.form-table td .post-kana-29,
#main table.form-table td .address1-29,
#main table.form-table td .address2-29{
	width: 275px;
}

#main table.form-table td .name-sei-29,
#main table.form-table td .name-mei-29,
#main table.form-table td .kana-sei-29,
#main table.form-table td .kana-mei-29,
#main table.form-table td .phone1-29,
#main table.form-table td .phone2-29,
#main table.form-table td .phone3-29,
#main table.form-table td .zip2-29{
	width: 80px;
}

#main table.form-table td .zip1-29{
	width: 52px;
}


#main table.form-table td .name-label-29{
	color: #666666;
	width: 40px;
	padding-right: 8px;
	display: inline-block;
	text-align: right;
	
}

#main table.form-table td p{
	margin: 0;
	padding: 0;
	_clear: both;
}

#main table.form-table td p.example{
	font-size: 90%;
	width: 365px;
	float: right;
	clear: left;
	color: #666666;
}
/* IE7 */
*+html #main table.form-table td p.example{
	margin-top: -20px;
}
/* IE6 */
* html #main table.form-table td p.example{
	margin-top: -20px;
}



/* ----- 30 css ----- */
#main dl.search-condition{
	font-weight: bold;
	padding: 25px 15px 15px;
}

#main dl.search-condition dt{
	float: left;
	margin-right: 15px;
}

#main dl.search-condition dd{
	font-size: 120%;
	color: #007E6E;
}

























/* ----- 33 css ----- */
#popup #main p.supplement33{
	font-size: 90%;
	margin-bottom: 25px;
}

#popup #main .area-33 h3{
	margin-bottom: 5px;
}

#popup #main ul.information-menu{
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin: 0;
}

#popup #main ul.information-menu li{
	float: left;
	list-style-type: none;
	padding-left: 0px;
	margin-left: 0px;
	padding-right: 6px;
	background-image: url(../images/08_menubg.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	margin-bottom: 20px;
}

#popup #main ul.information-menu li.affter{
	padding-right: 0px;
}

#popup h2.popup_headline2{
	font-size: 125%;
	color: #333333;
	font-weight: 800;
	padding: 5px 10px;
	margin: 15px 0 10px;
	border-bottom: #008576 solid 2px;
}

#popup table.popup-summary{
	width: 100%;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 1px 1px 0 0; 
	margin: 0px 0px 40px;	
}

#popup #main table.popup-summary th,
#popup #main table.popup-summary td{
	vertical-align: top;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 0 0 1px 1px; 
	padding: 8px 10px 5px;
}

#popup #main table.popup-summary td.details-btn{
	border-width: 0 0 1px 0px; 
}

#popup #main table.popup-summary thead th{
	width: auto;
	text-align: center;
	font-weight: bold;
	padding-top: 10px;
	background-color: #CCE5E2;
	border-bottom: #007E6F solid 2px;
}

#popup #main table.popup-summary thead th.menu{
	width: 175px;
}

#popup #main table.popup-summary tbody th{
	text-align: left;
	font-weight: bold;
	background-color: #F0F0F0;
}

#main table.popup-summary tbody td{
	text-align: left;
}

#popup #main h3{
	font-size: 125%;
	font-weight: 800;
}

#popup #main h3 img{
	vertical-align: baseline;
	padding-right: 5px;
}

/* ----- 33-2 css ----- */
#popup #main .area-33-2 h2{
	padding-bottom: 5px;
	border-bottom: #007E6F solid 2px;
	
}

#popup #main p.image-text33-2{
	text-align: center;
	margin-bottom: 20px;
}

#popup #main .area-33-2 table span{
	font-size: 100%;
	
}

/* ----- 33-3 css ----- */
#popup #main .area-33-3 h2{
	padding-bottom: 5px;
	border-bottom: #007E6F solid 2px;
	
}

#popup #main .area-33-3 .arrow33-3{
	clear: both;
	overflow: hidden;
	zoom: 1;
	padding-bottom: 26px;
	background-image: url(../images/arrow33-3_bg.gif);
	background-repeat: no-repeat;
	background-position: left bottom;	
}

#popup #main .area-33-3 .flow-head{
	padding-top: 7px;
	background-image: url(../images/flow_head_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;	
	overflow: hidden;
	zoom: 1;
}

#popup #main .area-33-3 .flow-arrowhead{
	padding-top: 7px;
	background-image: url(../images/flow_arrowhead_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;	
	overflow: hidden;
	zoom: 1;	
}

#popup #main .area-33-3 .flow-foot{
	padding-bottom: 7px;
	background-image: url(../images/flow_foot_bg.gif);
	background-repeat: no-repeat;
	background-position: left bottom;	
	overflow: hidden;
	zoom: 1;
}

#popup #main .area-33-3 .flow-body{
	background-color: #007E6F;
	background-image: url(../images/flow_body_bg.gif);
	overflow: hidden;
	zoom: 1;	
}

#popup #main .area-33-3 .flow-body dl{
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	line-height: 1.5em;
}

#popup #main .area-33-3 .flow-body dl dt{
	float: left;
	letter-spacing: 0;
}

#popup #main .area-33-3 .flow-body dl dd{
	font-size: 125%;
	margin-bottom: 5px;
/*	padding-left: 2.8em;*/
	padding-right: 25px;
	color: #007E6F;
	font-weight: bold;
	text-align: center;
}

#popup #main .area-33-3 .flow-body dl dd.text{
	font-size: 90%;
	color: #333;
	font-weight: normal;
	padding-left: 4em;
}

#popup #main .area-33-3 .flow-finish-head{
	padding-top: 7px;
	margin-bottom: 30px;
	background-image: url(../images/flow_finish_head_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;	
	overflow: hidden;
	zoom: 1;
}

#popup #main .area-33-3 .flow-finish-foot{
	padding-bottom: 7px;
	background-image: url(../images/flow_finish_foot_bg.gif);
	background-repeat: no-repeat;
	background-position: left bottom;	
	overflow: hidden;
	zoom: 1;
}

#popup #main .area-33-3 .flow-finish-body{
	background-color: #007E6F;
	overflow: hidden;
	zoom: 1;	
}

#popup #main .area-33-3 .flow-finish-body p{
	color: #fff;
	font-weight: bold;
	font-size: 125%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
#popup #main .area-33-3 .flow-finish-body strong{
	padding-bottom: 3px;
	border-bottom: 1px solid #FDD000;
}






/* ----- 34 css ----- */

#popup #main #faq-area ul.faq-menu{
	padding: 0px;
}

#popup #main #faq-area ul.faq-menu li{
	float: left;
	list-style-type: none;
	padding-left: 0px;
	margin-left: 0px;
	padding-right: 10px;
	background-image: url(../images/08_menubg.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	margin-bottom: 20px;
}

#popup #main #faq-area ul.faq-menu li.affter{
	padding-right: 0px;
}

#popup #main #faq-area h2{
	padding-bottom: 5px;
	border-bottom: #007E6F solid 2px;
}

#popup #main #faq-area ul.link{
	font-size: 85%;
	margin: 0 15px 25px;
}

#popup #main #faq-area ul.link li{
	padding-left: 15px;
	background-image: url(../images/descend_icon.gif);
}

#popup #main #faq-area .faq-article{
	padding-top: 5px;
	border-top: #007E6F dotted 1px;
	overflow: hidden;
	zoom: 1;
}
/* IE7 */
*+html #popup #main #faq-area .faq-article{
	padding-top: 10px;
}
/* IE6 */
* html #popup #main #faq-area .faq-article{
	padding-top: 10px;
}


#popup #main #faq-area .faq-article dl{
	margin: 5px 15px 25px;
	line-height: 1.5em;
}

#popup #main #faq-area .faq-article dl dt{
	float: left;
	font-weight: bold;
	letter-spacing: 0;
}

#popup #main #faq-area .faq-article dl.question dt{
	color: #FDD000;
	padding: 0 9px;
	background-image: url(../images/question_icon_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
}

#popup #main #faq-area .faq-article dl.answer dt{
	color: #00796B;
	padding: 0 14px;
	background-image: url(../images/answer_icon_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
}

#popup #main #faq-area .faq-article dl dd{
	padding-left: 3.5em;
	margin-bottom: 10px;
}

#popup #main #faq-area .faq-article dl.question dd{
	color: #007265;
	font-weight: bold;	
}

#popup #main #faq-area .faq-article dl dd ol{
	padding-left: 0;
	padding-right: 0;
}

#popup #main #faq-area .faq-article p.link a.pagetop{
	margin-top: 0px;	
}

#popup p.link a{
	color: #007B6D;
	font-size: 90%;
	margin-bottom: 10px;
	padding-left: 12px;
	text-decoration: none;
}

#popup p.link a.pagetop{
	float: right;
	background-image: url(../images/pagetop_icon.gif);
	background-repeat: no-repeat;
	background-position: left 4px;
	margin-top: 5px;	
}





















/* ----- 48 css ----- */
#main table.table48
#main table.table48 th,
#main table.table48 td{
	/*vertical-align: inherit!important;*/
}

#main .classification-area{
	margin: 15px 0 20px;
	border: 3px solid #ccc;
	padding: 15px 15px;
}

#main .classification-area table.diagram{
	margin-bottom:20px;
}

#main table.classification-table{
	width: 450px;
	border: 1px solid #017F70;
	float: left;
	margin-bottom: 10px;
	margin-right: 15px;
}

#main table.classification-table td,
#main table.classification-table th{
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #017F70;
	border-bottom-color: #017F70;
	padding: 5px;
}

#main table.classification-table th{
	width: 150px;
	background-color: #CCE5E2;
	text-align: center;
	font-weight: bold;
}

#main table.classification-table td{
	
}

#main p.classification-link{
	font-size: 90%;
	padding-top: 22px;	
}

#main table.table48 span.price{
	float: right;
	clear: right;
}
/* IE7 */
*+html #main table.table48 span.price{
	margin-top: -18px;
}
/* IE6 */
* html #main table.table48 span.price{
	margin-top: -18px;
}

#main table.table48 span.aim{
	font-size: 90%;
	font-weight: normal;
	color: #CC0000;
}

#main table.table48 th{
	padding-top: 12px;
}

#main table.table48 td.btn{
	width: 184px;
}

#main .attention-area{
	font-size: 90%;
	margin-bottom: 0px;
}

#contents #main .attention-area h2{
	padding: 0;
	border-bottom: none;	
}


#contents #main .attention-area ul{
	padding: 0;
	margin: 5px 0 15px;
}

#contents #main .attention-area ul li{
	margin-left: 5px;
	padding-left: 20px;
	list-style-type: none;
	background-image: url(../images/popup_list_icon.gif);
	background-position: left 5px;
	background-repeat: no-repeat;	
}

#contents #main .attention-area ul li span{
	font-weight: normal;
	color: #CC0000;	
}



/* ----- 49 css ----- */
#contents #main table.download-data-table{
	width: 100%;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 1px 1px 0 0; 
	margin: 5px 0px 25px;
	text-align: center;
	clear: both;
}

#contents #main table.download-data-table th,
#contents #main table.download-data-table td{
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 0 0 1px 1px; 
	padding: 8px 10px 5px;
}

#contents #main table.download-data-table thead th{
	font-weight: bold;
	padding-top: 10px;
	background-color: #CCE5E2;
}

#contents #main table.download-data-table thead th.under{
	border-bottom: #007E6F solid 2px;
}

#main p.button3 a,
#main p.button3 input{
	margin: 0 8px;
}


/* ----- 50 css ----- */
#main .claim-search-area{
	padding: 0 10px;
	border: #CCCCCC solid 3px;
	overflow: hidden;
	zoom: 1;
	margin-bottom: 45px;
}

#main .claim-search-area table{
	margin: 5px 0;
}

#main .claim-search-area table.diagram{
	font-size: 90%;
}

#main .claim-search-area table.diagram td .receipt-date1-50,
#main .claim-search-area table.diagram td .receipt-date2-50{
	width: 80px;
}

#main table.download-data-table thead.inquiry{
	font-size: 85%;
}

#main table.download-data-table th.sum{
	width: 165px;
	font-size: 85%;
	font-weight: bold;
	background-color: #F0F0F0;
}

#main .claim-search-area table.classification-table{
	margin-right: 15px;
}

#main .claim-search-area p.classification-link{
	padding-top: 12px;
}

#main .claim-search-area table.diagram th{
	width: 140px;
}

#main .claim-search-area p.btn{
	clear: both;
	text-align: center;
	margin: 5px 0;
}

#main .information-introduction-area{
	border: none!important;
}

#main .information-introduction-area .groupnumber-head{
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 1px 1px 0px 1px; 	
}

#main #groupnumber-area table.download-data-table{
	margin: 0;	
}

#main #groupnumber-area table.download-data-table td.number{
	font-weight: bold;
}


/* ----- 51 css ----- */
#main .slip-details-area1{
	
}

#main .slip-details-area1 .table01-51{
	float: left;
	clear: none;
	width: 250px;
	margin-right: 25px;
}

#main .slip-details-area1 .table01-51 th{
	width: 78px;
}

#main .slip-details-area1 .table02-51{
	float: left;
	clear: none;
	width: 460px;
	margin-right: 25px;
}

#main .slip-details-area1 .table02-51 th{
	width: 100px;
}

#main .slip-details-area1 ul,
#main .slip-details-area1 ul li{
	margin: 0;
	padding: 15px 0 0;
}

#main .slip-details-area1 ul li{
	margin: 0 0 10px;
	padding: 0;
	list-style-type: none;	
}

#main .slip-details-area2{
	padding: 10px;
	margin-bottom: 15px;
	border: #CCCCCC solid 4px;
	overflow: hidden;
	zoom: 1;
	clear: both;
}

#contents #main .slip-details-area2 h2,
#contents #main .slip-details-area2 .right-area h2{
	font-size: 100%;
	border-bottom: none;
	margin: 0;
}

#main .slip-details-area2 .left-area{
	width: 590px;
	float: left;
	clear: left;
}

#main .slip-details-area2 .right-area{
	width: 315px;
	float: right;
	clear: right;
	background-color: #FFF;
	text-align: left;
}

#main .slip-details-area2 table.diagram{
	margin-top: 0;
}

#main .slip-details-area2 table.diagram th{
	width: 148px;
}

#main .slip-details-area2 table.diagram td.right{
	text-align: right;
}

/* ----- 52 css ----- */
#popup #slip-printing-area1{
	margin-top: 15px;
}

#popup #slip-printing-area1 table th,
#popup #slip-printing-area2 table th{
	text-align: left;
}

#popup #slip-printing-area1 table th{
	width: 80px;
	background-color: #FFF;
}

#popup #slip-printing-area1 .left-area{
	width: 250px;
	float: left;
	clear: left;
}

#popup #slip-printing-area1 .right-area{
	width: 435px;
	float: right;
	clear: right;
}

#popup #slip-printing-area2{
	padding-top: 15px;
	border-top: #CCCCCC solid 5px;
	overflow: hidden;
	zoom: 1;
	clear: both;
	
}

#popup #slip-printing-area2 h2{
	margin: 0 0 5px;
}

#popup #slip-printing-area2 table th{
	width: 120px;
	background-color: #FFF;
}

#popup #slip-printing-area2 .left-area{
	width: 450px;
	float: left;
	clear: left;
}

#popup #slip-printing-area2 .right-area{
	width: 235px;
	float: right;
	clear: right;
}


/* ----- 55 css ----- */
#main .user-area{
	font-size: 120%;
	font-weight: bold;
	padding: 10px 0;
	margin: 15px 0 5px;
	background-color: #F0F0F0;
	clear: both;
	overflow: hidden;
	zoom: 1;
}

#main .user-area p{
	float: left;
	padding: 0 15px;
	
}

#main .user-add-area table.user-table{
	font-size: 90%;
	width: 100%;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 1px 1px 0 0; 
	margin: 5px 0px 0px;
}

#main .user-add-area table.user-table tr.even{
	background-color: #F0F0F0;
	
}

#main .user-add-area table.user-table th,
#main .user-add-area table.user-table td{
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 0 0 1px 1px; 
	padding: 4px 10px 2px;
}

#main .user-add-area table.user-table thead th{
	font-weight: bold;
	padding-top: 10px;
	background-color: #CCE5E2;
	border-bottom: #DDDDDD solid 1px;
}

#main .user-add-area table.user-table thead th.under{
	border-bottom: #007E6F solid 2px;
}

#main .user-add-area table.user-table tbody td.under{
	border-bottom: #DDDDDD dotted 1px;
}

#main .user-add-area table.user-table td.number{
	font-weight: bold;
	text-align: center;
	
}

#main .user-add-area table.user-table td.info{
	vertical-align: top;
	line-height: 2em;
	
}

#main .user-add-area table.user-table td .name-55,
#main .user-add-area table.user-table td .phone-55{
	width: 50px;
}

#main .user-add-area table.user-table td .post-55{
	width: 148px;
}

#main .user-add-area table.user-table td .address-55{
	width: 182px;
}

#main .user-add-area p.submit{
	padding: 10px 0;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 0 1px 1px 1px; 
}


/* ----- 56 css ----- */
#main table.form-table td .password1-56,
#main table.form-table td .password2-56,
#main table.form-table td .post-name-56,
#main table.form-table td .post-kana-56,
#main table.form-table td .address1-56{
	width: 275px;
}

#main table.form-table td .name-sei-56,
#main table.form-table td .name-mei-56,
#main table.form-table td .kana-sei-56,
#main table.form-table td .kana-mei-56,
#main table.form-table td .phone1-56,
#main table.form-table td .phone2-56,
#main table.form-table td .phone3-56{
	width: 80px;
}

#main table.form-table td .name-label-56{
	/*color: #666666;*/
	width: 40px;
	padding-right: 8px;
	display: inline-block;
	text-align: right;
	
}

/* ----- 59 css ----- */
#main p.attention2 span{
	color: #CC0000;
	font-weight: normal;
	
}

#main #center-area table td .number59{
	width: 200px;
}










/* ----- 22 css ----- */
#main p.attention-22{
	margin-bottom: 20px;
}

#main p.attention-22 span{
	color: #CC0000;
	font-weight: normal;
}

#main p.attention-22{
	margin-bottom: 20px;
}

#main p.attention-22 span{
	color: #CC0000;
	font-weight: normal;
}

#main p.attention{
	margin-top: 15px;	
	margin-bottom: -5px;
}

#main p.attention span{
	font-size: 90%;
	font-weight: 400;
	color: #CC0000;
}

#main #groupnumber-area{
	_width: 960px;
	border: #CCCCCC solid 1px;
	margin-bottom: 25px;
	overflow: hidden;
	zoom: 1;
}

#main #groupnumber-area .number-list{
	width: 300px;
	float: left;
	clear: left;
}
/* IE7 */
*+html #main #groupnumber-area .number-list p{
	margin-top: -22px;
	/*position: relative;
	top: -16px;
	margin-bottom: -16px;*/
}
/* IE6 */
* html #main #groupnumber-area .number-list p{
	margin-top: -22px;
	/*position: relative;
	top: -16px;
	margin-bottom: -16px;*/
}

#main #groupnumber-area .groupnumber-head,
#main #groupnumber-area .groupnumber-foot{
	background-color: #F0F0F0;
	padding: 8px 5px;
	overflow: hidden;
	zoom: 1;
	clear: both;
}

#main #groupnumber-area .groupnumber-head ul,
#main #groupnumber-area .groupnumber-foot ul{
	float: right;
	clear: right;
	padding: 0;
}

#main #groupnumber-area .groupnumber-head ul li,
#main #groupnumber-area .groupnumber-foot ul li{
	color: #CCCCCC;
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 4px 8px;
	border: #CCCCCC solid 1px;
	background-image: url(../images/groupnumber_link_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	zoom: 1;
}
/* IE7 */
*+html #main #groupnumber-area .groupnumber-head ul li,
*+html #main #groupnumber-area .groupnumber-foot ul li{
	margin-right: 4px;
}
/* IE6 */
* html #main #groupnumber-area .groupnumber-head ul li,
* html #main #groupnumber-area .groupnumber-foot ul li{
	margin-right: 4px;
}

#main #groupnumber-area .groupnumber-head ul li.current,
#main #groupnumber-area .groupnumber-foot ul li.current{
	color: #FFF;
	font-weight: bold;
	background-color: #007E6F;
	background-image: none;
}

#main #groupnumber-area .groupnumber-head ul li a,
#main #groupnumber-area .groupnumber-foot ul li a{
	color: #0066FF;
	text-decoration: none;
}

#main #groupnumber-area table{
	margin: 0;
}

#main #groupnumber-area table .code{
	width: 50px;
}

#main #groupnumber-area table .password{
	width: 164px;
}

#main #preview-area table{
	border: none;
	
}

#main #preview-area table th,
#main #preview-area table td{
	border: none;
	background-color: #F0F0F0;
	padding: 0;
}

#main #preview-area table th{
	color: #007E6D;
	padding: 10px 15px;
}

#main #preview-area table td .preview-contents{
	width: 570px;
	height: 225px;
	overflow-y: scroll;
}

#main #preview-area table td .preview-contents ul{
	margin: 10px 0 0 0;
	padding: 0;
	overflow: hidden;
	zoom: 1;
}

#main #preview-area table td .preview-contents ul li{
	width: 150px;
	height: 60px;
	display: inline-block;
	float: left;
	padding: 0;
	margin: 0 15px 0 0;
	background-image: none;
}

#main #preview-area table td .preview-contents ul li div{
	height: 60px;
}

#main #preview-area table td .preview-contents ul li.preview1{
	background-image: url(../images/preview_1_gray_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;	
}

#main #preview-area table td .preview-contents ul li.preview2{
	background-image: url(../images/preview_2_gray_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;	
}

#main #preview-area table td .preview-contents ul li.preview3{
	background-image: url(../images/preview_3_gray_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;	
}

#main #preview-area table td .preview-contents ul li.preview4{
	background-image: url(../images/preview_4_gray_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;	
}

#main #preview-area table td .preview-contents ul li.preview5{
	background-image: url(../images/preview_5_gray_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;	
}

#main #preview-area table td .preview-contents ul li.preview6{
	background-image: url(../images/preview_6_gray_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;	
}

#main #preview-area table td .preview-contents ul li.preview7{
	background-image: url(../images/preview_7_gray_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;	
}

#main #preview-area table td .preview-contents ul li.preview8{
	background-image: url(../images/preview_8_gray_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;	
}

#main #preview-area table td .preview-contents ul li.preview9{
	background-image: url(../images/preview_9_gray_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;	
}

#main #preview-area table td .preview-contents ul li.preview10{
	background-image: url(../images/preview_10_gray_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;	
}




#main #preview-area table td .preview-contents ul li.preview1 div{
	background-image: url(../images/preview_1_white_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;	
}

#main #preview-area table td .preview-contents ul li.preview2 div{
	background-image: url(../images/preview_2_white_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;	
}

#main #preview-area table td .preview-contents ul li.preview3 div{
	background-image: url(../images/preview_3_white_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;	
}

#main #preview-area table td .preview-contents ul li.preview4 div{
	background-image: url(../images/preview_4_white_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;	
}

#main #preview-area table td .preview-contents ul li.preview5 div{
	background-image: url(../images/preview_5_white_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;	
}

#main #preview-area table td .preview-contents ul li.preview6 div{
	background-image: url(../images/preview_6_white_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;	
}

#main #preview-area table td .preview-contents ul li.preview7 div{
	background-image: url(../images/preview_7_white_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;	
}

#main #preview-area table td .preview-contents ul li.preview8 div{
	background-image: url(../images/preview_8_white_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;	
}

#main #preview-area table td .preview-contents ul li.preview9 div{
	background-image: url(../images/preview_9_white_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;	
}

#main #preview-area table td .preview-contents ul li.preview10 div{
	background-image: url(../images/preview_10_white_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;	
}


/* ----- 23 css ----- */
#main table.gloup{
	margin-top: 20px;
	text-align: left;
}

#main table.gloup .number,
#main #center-area table .number{
	font-weight: bold;
	text-align: center;
}






/* ----- 54 58 70 css ----- */
#main #confirmation-menu-area{
	margin-top: 25px;
	
}

#main #confirmation-menu-area h2{
	border-bottom: 2px solid #007E6F;
	
}

#main #confirmation-menu-area table{
	width: 100%;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 1px 1px 0 0; 
	margin: 5px 0px 25px;
	text-align: center;
}

#main #confirmation-menu-area table th,
#main #confirmation-menu-area table td{
	vertical-align: top;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 0 0 1px 1px; 
	padding: 8px 10px 5px;
}

#main #confirmation-menu-area table thead th{
	font-weight: bold;
	padding-top: 10px;
	background-color: #CCE5E2;
	border-bottom: #007E6F solid 2px;
}

#main #confirmation-menu-area table thead th.button{
	width: 180px;
}

#main #confirmation-menu-area table thead th.function{
	width: 465px;
}

#main #confirmation-menu-area table tbody th{
	width: 270px;
	font-weight: bold;
	background-color: #F0F0F0;
}

#main #confirmation-menu-area table tbody td{
	text-align: left;
}

/* ----- 61 css ----- */
.hasDatepicker{
	padding-right: 20px!important;
	background-image: url(../images/calrender_icon.gif);
	background-repeat: no-repeat;
	background-position: right center;
}

#main table.form-table table.diagram tbody th{
	background-color: #FFF;
}

#main table.form-table td .delivery-61,
#main table.form-table td .specify-61{
	width: 100px;
}

#main table.form-table td .control-number-61,
#main table.form-table td .delivery-code-61,
#main table.form-table td .delivery-name-61,
#main table.form-table td .delivery-phone-61,
#main table.form-table td .request-code-61,
#main table.form-table td .request-name-61,
#main table.form-table td .drequest-phone-61,
#main table.form-table td .item-code-61,
#main table.form-table td .item-name-61,
#main table.form-table td .plural-key-61{
	width: 290px;
}

#main table.form-table td .key-title-61{
	width: 180px;
}

#main table.form-table td .key-61{
	width: 200px;
}

/* ----- 62 css ----- */
#main table.search-result,
#main table.search-result tbody td{
	text-align: center;
}

#main table.search-result thead th.slip{
	width: 265px;
}

#main table.search-result thead th.send-date{
	width: 205px;
}

#main table.search-result thead th.status{
	width: 300px;
}

#main table.search-result tbody td.number{
	font-weight: bold;
}


/* ----- 63 css ----- */
#main #search-result-area1 table.classification-table{
	float: none;
}

#main #search-result-area1 table.search-result thead th.size,
#main #search-result-area1 table.search-result thead th.collect{
	width: 150px;
}

#main #search-result-area1 table.search-result thead th.name{
	width: 260px;
}

#main #search-result-area2,
#main #search-result-area3{
	padding-top: 15px;
	border-top: #CCCCCC solid 5px;
	overflow: hidden;
	zoom: 1;
}

#contents #main #search-result-area2 .left-area h2,
#contents #main #search-result-area3 .left-area h2,
#contents #main #search-result-area2 .right-area h2,
#contents #main #search-result-area3 .right-area h2{
	border-bottom: none;
	margin: 0 0 5px;
	padding: 0;	
}

#main #search-result-area2 .left-area,
#main #search-result-area3 .left-area{
	float: left;
	clear: left;
	width: 450px;
	margin-left: 16px;
	_margin-left: 8px;
}

#main #search-result-area2 .right-area,
#main #search-result-area3 .right-area{
	float: right;
	clear: right;
	width: 450px;
	padding-top: 0;
	margin-right: 16px;
	_margin-right: 8px;
	background-color: #FFF;
}


#main #search-result-area2 table,
#main #search-result-area3 table{
	width: 100%;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 1px 1px 0 0; 
	margin: 0px 0px 20px;
}

#main #search-result-area2 table th,
#main #search-result-area2 table td,
#main #search-result-area3 table th,
#main #search-result-area3 table td{
	vertical-align: top;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 0 0 1px 1px; 
	padding: 8px 10px 5px;
	text-align: left;
}

#main #search-result-area2 table th,
#main #search-result-area3 table th{
	width: 145px;
	background-color: #F0F0F0;
	font-weight: bold;
}




/* ----- 64 css ----- */
#main div.search-receipt{
	margin-top: 15px;
	border: none!important;
}

#main div.search-receipt div.groupnumber-head{
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 1px 1px 0 1px;	
}

#main table.search-receipt{
	font-size: 100%;
	/*width: 100%;*/
	width: 960px;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 1px 1px 0 0;
	text-align: center;
	word-break: break-all;
	word-wrap: break-word;
}

#main table.search-receipt th,
#main table.search-receipt td{
	vertical-align: top;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 0 0 1px 1px; 
	padding: 8px 10px 5px;
}

#main table.search-receipt thead th{
	font-size: 90%;
	font-weight: bold;
	padding-top: 10px;
	background-color: #CCE5E2;
	border-bottom: #007E6F solid 2px;
}

#main table.search-receipt thead th.receipt-date,
#main table.search-receipt thead th.complete-date{
	width: 80px;
}

#main table.search-receipt thead th.receipt-numbar{
	width: 140px;
}

#main table.search-receipt tbody td.number{
	font-weight: bold;
}






/* ----- 71 73-2 css ----- */
.invoice-area{
	margin-top: 5px;
	margin-bottom: 15px;
	border: #CCCCCC solid 3px;
	overflow: hidden;
	zoom: 1;
}

#main .invoice-area .invoice-left-area{
	float: left;
	clear: left;
	width: 760px;
	background-color: #F0F0F0;
	overflow: hidden;
	zoom: 1;
	border-left: #CCCCCC solid 1px;
}

#main .invoice-area .result-left{
	background-color: #FFFFFF;
		overflow: hidden;
	zoom: 1;
}

#main .invoice-area .invoice-right-area{
	float: right;
	clear: right;
	width: 180px;
	overflow: hidden;
	zoom: 1;
}

#main .invoice-contents-left-area{
	float: left;
	clear: left;
	width: 390px;
	padding-left: 20px;
}

#main .invoice-contents-right-area{
	float: right;
	clear: right;
	font-size: 90%;
	width: 320px;
	overflow: hidden;
	zoom: 1;
}

#main #invoice-area{
	float: left;
	clear: left;
	width: 775px;	
	margin-bottom: 30px;
	border: #CCCCCC solid 1px;
	background-color: #F0F0F0;
	overflow: hidden;
	zoom: 1;
}

#main #login-issue-area{
	float: right;
	clear: right;	
	width: 170px;
	overflow: hidden;
	zoom: 1;
	border: #CCCCCC solid 1px;
	text-align: center;
}

#main .invoice-contents-left-area ul,
#main .invoice-contents-left-area ul li,
#main .invoice-contents-right-area ul,
#main .invoice-contents-right-area ul li,
#contents #main #option-forms table td ul,
#contents #main #option-forms table td ul li,
#main #invoice-area ul,
#main #invoice-area ul li{
	clear: both;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.invoice-area .required{
	color: #007B6D;
}


#main .form{
	clear: both;
	margin-top: -5px;
	margin-bottom: -10px;
}

/* ------------- */

#main .invoice-area input{
/*	padding: 0!important;*/
}

.invoice-contents-left-area li,
.invoice-area #router-info li{
	height: 21px;
	_height: auto;
}

.invoice-contents-left-area input,
.invoice-contents-left-area li p,
.invoice-contents-right-area dd input,
.invoice-contents-right-area li input,
#contents #main #option-forms table td ul li input{
/*	float: left;*/
	margin-right: -1px;
	height: 16px;
	_height:22px;
	display:inline-block;
	vertical-align:top;
	line-height:1;
}

.invoice-contents-left-area input,
.invoice-contents-left-area a.s-btn{
	_margin-top:-1px;
	_margin-bottom:-2px;
}
.invoice-contents-right-area #router-info input,
.invoice-contents-right-area #router-info select{
	margin-bottom:0;
}

.invoice-contents-left-area input,
.invoice-contents-right-area dd input,
.invoice-contents-right-area li input,
#contents #main #option-forms table td ul li input{
	_border: #ABADB3 solid 1px;
}

a.s-btn img{
	vertical-align: top;
	height:21px;
}

.invoice-contents-left-area li select,
.invoice-contents-right-area li select{
/*	float: left;*/
	margin: 0;
	_margin-top: 1px;
	height: 22px;
	_height:26px;
	_font-size: 90%;
	_border: #ABADB3 solid 1px;
	vertical-align:top;
	line-height:16px;
}

*:first-child+html .invoice-contents-left-area li select,
*:first-child+html .invoice-contents-right-area li select,
*:first-child+html .invoice-area .ui-button,
*:first-child+html .invoice-area a.s-btn{
		margin-top: 1px;
	}

.invoice-contents-left-area .zip-label{
	font-size:90%;
	margin-top: 1px;
	width:30px;
	padding-top:5px;
	text-align: center;
	line-height:1;
	display: inline-block;
}
.invoice-contents-left-area .honor{
	font-size:90%;
	font-weight:normal;
	padding-top:5px;
	text-align: center;
	line-height:1;
	display: inline-block;
}
*html .invoice-contents-left-area .select-wrap{
	height:21px;
	overflow:hidden;
	margin-top: -1px;
}


/* autocomplete-ui */
.ui-autocomplete{
	width: 200px;
	background: #fff;
	border: 1px solid #999;
	z-index:10;
}
.ui-autocomplete li{
	font-size: 90%;
	text-align: left;
}
.ui-autocomplete li a{
	display:block;
}
.invoice-area .ui-autocomplete-input{
	margin:0;
	padding: 2px 0;
	height:16px;
	_height:22px;
	border: #ABADB3 solid 1px;
	border-width: 1px;
	vertical-align:top;
	line-height:1;
}
.invoice-area .ui-button{
	border-width:1px;
	height:22px;
	_height:22px;
	vertical-align:top;
	background: url(../images/txt_btn_bg.gif) repeat-x;
	margin-left:-3px;
	_margin-top: 1px;
	border: #ABADB3 solid 1px;
}
.invoice-area .ui-button .ui-button-text{
	width:100%;
	height:16px;
	display:inline-block;
	background: url(../images/pagedown_icon.gif) 50% 50% no-repeat;
}

/* calender-ui */

#ui-datepicker-div{
	font-size: 90%;
	background: #fff;
	border: 2px solid #ccc;
	/*width: 130px;*/
}
.ui-datepicker-header{
	background: #eee;
}
.ui-datepicker-prev{float:left;}
.ui-datepicker-next{float:right;}
.ui-datepicker-calendar{
	width: 130px;
}
.ui-datepicker-calendar thead th span{
	font-weight: normal;
}



.invoice-contents-left-area #destination-info,
.invoice-contents-left-area #client-info{
	clear: both;
	display: table;
	padding-bottom: 5px;
}

#contents #main .invoice-contents-left-area #destination-info h2,
#contents #main .invoice-contents-left-area #client-info h2{
	float: left;
	border: none;
	border-left: #007E6F solid 4px;
	margin-left: -14px;
	margin-bottom: 3px;
}
	*html #contents #main .invoice-contents-left-area #destination-info h2,
	*html #contents #main .invoice-contents-left-area #client-info h2{
		margin-left: -7px;
	}

#contents #main .invoice-contents-left-area .search,
#contents #main #router-info .search{
	display: inline-block;
	margin: 2px 5px 0px 0;
	vertical-align: middle;
}
#contents #main .invoice-contents-left-area .howtopay{
	margin: 2px 5px 0px 0;
	vertical-align: middle;
}

#main .invoice-contents-right-area #sending-info{
	padding-bottom: 15px;
}

#main .invoice-contents-right-area #sending-info dl{
	font-weight: bold;
	clear: both;
	line-height: 1.8em;
	overflow: hidden;
	zoom: 1;
}

#main .invoice-contents-right-area #sending-info p{
	margin-top: 10px;
	
}

#main .invoice-contents-right-area #sending-info dl.delivery dt,
#main .invoice-contents-right-area #sending-info dl.delivery dd{
	float: left;
	clear: left;
	width: 140px;
}

#main .invoice-contents-right-area #sending-info dl.delivery dt.time,
#main .invoice-contents-right-area #sending-info dl.delivery dd.time{
	clear: right;
}
*html #main .invoice-contents-right-area #sending-info dl.delivery dd.time{
	float:none;
}
*:first-child+html #main .invoice-contents-right-area #sending-info dl.delivery dd.time{
	float:none;
}

#main .invoice-contents-right-area #sending-info p{
	clear: both;
	padding: 0;
}

#contents #main .invoice-contents-right-area #router-info h2{
	font-size: 100%;
	float: left;
	border: none;
	padding: 5px 15px 0 0;
}

#contents #main .invoice-contents-right-area #router-info li.charge{
	padding-top: 15px;
	font-weight: bold;
}

#contents #main .invoice-contents-right-area #option-info{
	padding-top: 10px;
	
}

#contents #main .invoice-contents-right-area #option-info span{
	letter-spacing: 0.12em;
	line-height: 1.2em;
}

#contents #main .invoice-contents-right-area #option-info #option-btn{
	padding-top: 10px;
	margin-bottom: -1px;
}

#contents #main #option-forms{
	clear: both;
	border: #CCCCCC solid 1px;
	background-color: #FFFFFF;
	margin-left: 20px;
	margin-right: 15px;
	margin-bottom: 5px;
	padding: 5px 10px;
	display:none;
	zoom: 1;
}

#contents #main #option-forms table{
	font-size: 90%;
	margin: 5px 0;
}

#contents #main #option-forms table th{
	width: 160px;
	text-align: center;
}

#contents #main #option-forms table td ul{
	float: left;
	padding-right: 5px;
}

#contents #main #option-forms table td p{
	padding: 0;
	
}

#main .invoice-area .invoice-right-area dl{
	font-size: 90%;
	font-weight: bold;
	margin: 20px 0 0 10px;
	_margin: 20px 0 0 5px;
	line-height: 2em;
}

#main .invoice-area .invoice-right-area dl dd.number{
	margin-top: 15px;
	font-weight: 400;
}

#main .invoice-area .invoice-right-area #controller-out{
	position: relative;
	top: 0;
	left: 0;
}

#main .invoice-area .invoice-right-area #controller{
	width: 170px;
	display: table;
	background-color: #FFF6CC;
	padding-top: 16px;
	margin-bottom: 5px;
	margin-right: 10px;
	_margin-right: 5px;
	bottom: 0;
	text-align: center;
}

#main .invoice-area .invoice-right-area .form-close{
	margin-top: 50px;
}

#main .invoice-area .invoice-right-area .form-open{
	margin-top: 525px;
}

#main .invoice-area .invoice-right-area #controller a{
	margin-bottom: 16px;
/*	display: inline-table;*/
	display: block;
}


#main #invoice-area .diagram-area{	
	overflow: scroll;
	background-color: #FFF;
	clear: both;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#main #invoice-area .diagram-area table{
	font-size: 90%;
	width: 100%;
	text-align: center;
}

#main #invoice-area .diagram-area table th,
#main #invoice-area .diagram-area table td{
	padding: 5px 10px;
	border-right:1px solid #eee;
}

#main #invoice-area .diagram-area th{
	font-weight: bold;
	padding-top: 10px;
	background-color: #CCE5E2;
	border-bottom: #007E6F solid 2px;
}

/*#main #invoice-area .diagram-area tr.even{
	background-color: #F0F0F0;
}*/

#main #invoice-area .issue-area{
	background-color: #FFF6CC;
	overflow: hidden;
	zoom: 1;
}

#main #invoice-area p,
#main #invoice-area .issue-area ul{
	float: right;
	clear: right;
	padding: 5px 3px;
}

#main #invoice-area ul{
	float: left;
	clear: left;
	padding: 5px 3px;
}

#main #invoice-area ul li{
	display: inline;	
}

#main #login-issue-area dl{
	font-size: 90%;
	margin: 15px 20px 25px;
	line-height: 1.5em;
	text-align: left;
}

#main #login-issue-area dl dt{
	font-weight: bold;	
}

#main #login-issue-area p{
	margin-bottom: 10px;
	
}

/* ----- 72 css ----- */
#main #file72{
	width: 260px;
}

#main #bring-area{
	padding-top: 15px;
	margin-bottom: 30px;
	background-color: #F0F0F0;
	overflow: hidden;
	zoom: 1;
}

#main #bring-area .left-area,
#main #bring-area .right-area{
	width: 400px;
	height: 370px;
	overflow: scroll;
}

#main #bring-area .left-area{
	float: left;
	clear: left;
	margin: 0 12px 10px;
	_margin: 0 12px 10px 6px;
	padding: 0;
}

#main #bring-area .right-area{
	float: right;
	clear: right;
	margin: 0 12px 10px;
	_margin: 0 6px 10px;
	padding: 0;
}

#main #bring-area .center-area{
	width: 97px;
	float: left;
}

#main #bring-area .btn-area{
	clear: both;
	background-color: #FFF6CC;
	margin-top: 10px;
	overflow: hidden;
	zoom: 1;
}



#main #bring-area .left-area table,
#main #bring-area .right-area table{
	font-size: 90%;
	min-width: 383px;
	/*width: auto !important;*/
	width: 383px;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 1px 1px 0 0; 
	margin: 0;
	text-align: left;
	background-color: #FFFFFF;
}

#main #bring-area table tr.even{
	background-color: #F0F0F0;
	
}

#main #bring-area table tr.selected{
	background-color: #007467;
	color: #fff;
}

#main #bring-area .left-area table th,
#main #bring-area .left-area table td,
#main #bring-area .right-area table th,
#main #bring-area .right-area table td{
	vertical-align: top;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 0 0 1px 1px; 
	padding: 5px;	
}
 

#main #bring-area .left-area table th,
#main #bring-area .right-area table th{
	font-weight: bold;
	background-color: #CCE5E2;
	border-bottom: #007E6F solid 2px;
}

#main #bring-area .left-area table th.hissu-th{
	width: 30px;
}

 
#main #bring-area .left-area table td span,
#main #bring-area .right-area table td span{
	color: #CC0000;
	font-weight: 400;
}
 
 
#main #bring-area .center-area ul{
	margin: 35px 0 0;
	padding: 0;
}

#main #bring-area .center-area ul li{
	margin: 0 0 30px;
	padding: 0;
	list-style-type: none;
}

#main #bring-area .center-area ul li.clear-btn{
	margin: 70px 0 0;	
}

#main #bring-area .btn-area p{
	text-align: right;
	padding: 7px 10px;
}



/* ----- 73 73-2 75 css ----- */
#main #data-abstraction-area,
#main #data-bringresult-area{
	border:#CCCCCC solid 3px;
	padding: 5px;
	overflow: hidden;
	zoom: 1;
	margin-bottom: 15px;
}

#main #data-abstraction-area h2,
#main #data-bringresult-area h2{
	font-size: 110%;
	border-bottom: none;
	padding: 0;
	margin:: 0;
}

#main #data-abstraction-area h2{
	width:500px;
}
#main #data-abstraction-area h2 a{
	float: right;
	clear: right;
	padding-right: 168px;
}
/* IE7 */
*+html #main #data-abstraction-area h2 a{
	margin-top: -18px;
}
/* IE6 */
* html #main #data-abstraction-area h2 a{
	margin-top: -18px;
	padding-right: 188px;
}

/*#main #data-bringresult-area h2 a{
	float: right;
	clear: right;	
}*/
/* IE7 */
/**+html #main #data-bringresult-area h2 a{
	margin-top: -18px;
}*/
/* IE6 */
/** html #main #data-bringresult-area h2 a{
	margin-top: -18px;
}*/

#main #data-bringresult-area .button-searchcond{
	float: right;
	clear: right;
	margin-top: -24px;
}

#main #data-abstraction-area #data-abstraction{
	float: left;
	clear: left;
	width: 756px;
	line-height: 1.8em;
}
#main #data-abstraction-area .abstraction-area{
	background-color: #F0F0F0;
	padding: 5px 10px;
	margin-bottom: 5px;
}

#main #data-bringresult-area .bringresult-area{
	background-color: #F0F0F0;
	padding: 5px 10px;
	line-height: 1.8em;
	margin-bottom: 5px;	
}

#main #data-abstraction-area .button-searchcond,
#main #data-bringresult-area .button-searchcond{
	float:right;
	margin: -28px 0 3px 0;
	padding: 0;
}
#main #data-bringresult-area .button-searchcond{
	margin: -24px 0 3px 0;
}
#main #data-abstraction-area .button-searchcond span,
#main #data-bringresult-area .button-searchcond span{
	display:inline-block;
	width:91px;
}

#main #data-abstraction-area .abstraction-area .bring-pattern72{
	width: 220px;
}

#main #data-abstraction-area table{
	font-size: 90%;
	float: right;
	clear: right;	
	width: 164px;
	margin-top: 28px;
	border:#007E6F solid 1px;	
}

#main #data-abstraction-area table .number{
	text-align: right;
	
}

#main #data-abstraction-area table th,
#main #data-abstraction-area table td{
	padding: 2px 5px;
}

#main #data-abstraction-area table th{
	background-color: #CCE5E2;
	font-weight: bold;
}

#main #data-abstraction-area table .red{
	color: #FF0000;
}

#main #data-abstraction-area table td.corroboration span{
	font-weight: normal;
	padding-right: 15px;
	background: url(../images/icon_attention2.gif) right 40% no-repeat;
	overflow: hidden;
	zoom: 1;
}

#main #data-abstraction-area table td.revision span{
	font-weight: normal;
	padding-right: 15px;
	background: url(../images/icon_attention3.gif) right 40% no-repeat;
	overflow: hidden;
	zoom: 1;
}

*+html #main #data-abstraction-area table td span{
	
}

#main #data-abstraction-area p.button-search{
	text-align: center;
	width: 700px;
	float:left;
}

#main #data-bringresult-area p{
	text-align: center;
}

#main #data-result-area{
	clear: both;	
	margin-bottom: 30px;
	border: #CCCCCC solid 1px;
	background-color: #F0F0F0;
	overflow: hidden;
	zoom: 1;
}

#main #data-left-area #data-result-area{
	float: left;
	clear: left;
	width: 780px;
}

#main #data-result-area .diagram-area{	
	overflow: scroll;
	background-color: #FFF;
	clear: both;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#main #data-result-area .diagram-area table{
	font-size: 90%;
	width: 100%;
	text-align: center;
}

#main #data-result-area .diagram-area table th,
#main #data-result-area .diagram-area table td{
	padding: 5px 10px;
	border-right:1px solid #eee;
}

#main #data-result-area .diagram-area table tr.even{
	background-color: #F0F0F0;
}

#main #data-result-area .diagram-area table tr.error{
	background-color: #cc0000;
	color: #FFFFFF;
}

#main #data-result-area .diagram-area table tr.warning{
	background-color: #ffcc00;
	color: #000000;
}

#main #data-result-area .diagram-area table tr.select{
	background-color: #007467;
	color: #FFFFFF;
}

#main #data-result-area .diagram-area th{
	font-weight: bold;
	padding-top: 10px;
	background-color: #CCE5E2;
	border-bottom: #007E6F solid 2px;
}

#main #data-result-area .diagram-area table td.number{
	font-weight: bold;
}

#main #data-result-area .diagram-area th.ascend{
	background: url(../images/ascend_icon.gif) 80% 50% no-repeat #CCE5E2;
}

#main #data-result-area .diagram-area th.descend{
	background: url(../images/descend_icon.gif) 80% 50% no-repeat #CCE5E2;
}

#main #data-result-area .issue-area{
	background-color: #FFF6CC;
	overflow: hidden;
	zoom: 1;
}

#main #data-result-area ul,
#main #data-result-area ul li{
	margin: 0;
	padding: 0;
}

#main #data-result-area ul li{
	float: left;
	list-style-type: none;
}

#main #data-result-area .issue-area ul li{
	margin-right: 10px;
}

#main #data-result-area p{
	float: left;
	padding-top: 5px;
	font-size: 90%;
}

#main #data-result-area p span{
	font-weight: normal;
	color: #CC0000;
	display: inline-block;
	white-space: nowrap;
}

/*#main #data-result-area p,*/
#main #data-result-area .issue-area ul{
	float: right;
	clear: right;
	padding: 5px 3px;
}

#main #data-result-area ul.left-list{
	float: left;
	clear: left;
	padding: 4px 8px;
}

#main #data-result-area ul.left-list li{
	padding-right: 5px;
}

#main #data-result-area ul.right-list{
	float: right;
	clear: right;
	padding: 4px 8px;
}

#main #data-result-area ul.right-list li{
	padding-left: 5px;
}

#main #data-result-area .issue-area ul.left-list li{
	font-size: 85%;
	clear: left;
}

#main #data-result-area .issue-area ul.left-list li.revision{
	padding-left: 15px;
	background: url(../images/icon_attention4.gif) left 40% no-repeat;
}

#main #data-result-area .issue-area ul.left-list li.disagreement{
	padding-left: 15px;
	background: url(../images/icon_attention5.gif) left 40% no-repeat;
}






 
/* ----- 74 css ----- */
#popup h2.popup_headline{
	font-size: 125%;
	color: #008576;
	font-weight: 800;
	padding: 5px 10px;
	margin: 15px 0 10px;
	border-bottom: #008576 solid 2px;
}

#popup .order-area{
	clear: both;
	overflow: hidden;
	margin-bottom: 25px;
	padding-left: 10px;
	zoom: 1;
}

#popup .order-area dl{
	float: left;
	margin-right: 15px;
	font-size: 90%;
}

#popup .order-area dl dt{
	margin-bottom: 5px;
}

#popup .order-area dl dd .clause1,
#popup .order-area dl dd .clause2,
#popup .order-area dl dd .clause3{
	width: 130px;
}

#popup #multi-area{
	font-size: 90%;
	padding: 5px 10px;
	border: #999999 solid 1px;	
	zoom: 1;
}

#popup #multi-area p{
	font-weight: bold;
	margin-bottom: 15px;
	
}

#popup #multi-area table,
#popup #multi-area table th,
#popup #multi-area table td,
#popup table.out-table,
#popup table.out-table th,
#popup table.out-table td{
	border: none;
}

#popup table.out-table{
	width: 680px;
	margin: 10px;
	font-size: 90%;
}

#popup table.selected th,
#popup table.default th{
	font-weight: normal;
}
#popup table.selected thead th,
#popup table.default thead th{
	text-align: left;
	width: 130px;
	padding-left:0;
	padding-right:5px;
}
#popup table.selected thead th.headline,
#popup table.default thead th.headline{
	width: 150px;
}

#popup table.selected thead th.all,
#popup table.default thead th.all{

}
#popup table.selected tbody th,
#popup table.default tbody th{
	text-align: right;
	width: 130px;
}
#popup table.selected tbody tr.issue td,
#popup table.default tbody tr.issue td{
	text-align: center;
	width: 130px;
	padding-left:0;
	padding-right:5px;
}


#popup table.selected thead th input,
#popup table.default thead th input{
	width:1em;
	height:1em;
	vertical-align:text-top;
	margin-bottom:2px;
	display:inline-block;
}
#popup table.selected thead th label,
#popup table.default thead th label{
	display:block;
	margin-top:-1.3em;
	margin-left: 22px;
	line-height: 1.3;
}

#popup table.selected tbody th label,
#popup table.default tbody th label{
   word-break:break-all;
   word-wrap: break-word;	
}

#popup #multi-area table.default,
#popup table#multi-area.default,
#popup table.default th,
#popup table.default td{
	background-color: #E9E9E9;
}

#popup #multi-area table.selected,
#popup table.selected th,
#popup table.selected td,
#popup table th.selected,
#popup table td.selected{
	background-color: #FFF6CC;
}

#popup table.out-table .territory{
	border: #CCCCCC solid 1px;
	margin: 5px 10px 5px 0;
	padding-top: 10px;
	overflow: hidden;
	zoom: 1;
}
#popup table.out-table .territory.active{
	background-color: #FFFFFF;
}

#popup table.out-table .territory table{
	float: right;
	clear: right;
	width: 140px;
	margin-right: 20px;
	background-color: #FFF;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 1px 1px 0px 1px; 	
}

#popup table.out-table th{
	
	
}

#popup table.out-table .territory .left-area{
	float: left;
	clear: left;
	width: 310px;
	
}

#popup table.out-table .territory h3{
	color: #999;
	font-size: 120%;
	font-weight: 800;
	padding-left: 10px;
	
}

#popup table.out-table .territory table th,
#popup table.out-table .territory table td{
	color: #999;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 0 0 1px 0px; 
	padding: 4px 0px 2px 10px;
}

#popup table.out-table .territory.active table.printing td{
	background-color: #E9E9E9;
}

#popup table.out-table .territory h3,
#popup table.out-table .territory p{
	color: #999;
}
#popup table.out-table .territory.active h3{
	color: #008576;
}
#popup table.out-table .territory.active p{
	color: #000;
}
#popup table.out-table .territory table.printing td.selected,
#popup table.out-table .territory.active table.printing td.selected{
	background-color: #FFE6E6;
	color: #000;
}

#popup p.preview-text{
	font-size: 90%;
	margin-bottom: 30px;
}

#popup table .issue1-1,
#popup table .issue1-2,
#popup table .issue1-3,
#popup table .issue1-4,
#popup table .issue2-1,
#popup table .issue2-2,
#popup table .issue2-3,
#popup table .issue2-4,
#popup table .issue3-1,
#popup table .issue3-2,
#popup table .issue3-3,
#popup table .issue3-4,
#popup table .issue4-1,
#popup table .issue4-2,
#popup table .issue4-3,
#popup table .issue4-4,
#popup table .issue5-1,
#popup table .issue5-2,
#popup table .issue5-3,
#popup table .issue6-1,
#popup table .issue6-2,
#popup table .issue6-3{
	width: 90px;
	
}

/* LightBox css */
#popup #result-list{
	margin-top: 10px;
	margin-bottom: 30px;
}
/* - - - - -  link icon css - - - - -  */
#main a.icon1{
	padding-left: 14px;
	background-image: url(../images/link_icon01.gif);
	background-position: left 2px;
	background-repeat: no-repeat;		
}

#main a.icon2{
	padding-left: 10px;
	background-image: url(../images/link_icon02.gif);
	background-position: left 2px;
	background-repeat: no-repeat;		
}

