/*==========================================

base layout

==========================================*/
body{
background:url(../image/body_bg_01.gif) repeat-x left top;
}
#container {
width:100%;
padding-top:17px;
}

#contentsWrapper {
width:958px;
margin:0 auto;
}
#mainArea {
text-align:left;
line-height:1.4;
width:950px;
margin:0 auto;
}

/*------------------------------------------
 Header Area
 ------------------------------------------*/
#header{
width: 100%;
text-align:center;
background:url(../image/header_bg_01.gif) repeat-x left top #ffffff;
}
#header #headerIn{
width:958px;
height:83px;
margin:0 auto;
position:relative;
text-align:left;
z-index:10000;
}
#header #headerIn p.logo{
padding:30px 0 0 10px;
}

#header #headerIn p.yamato{
 position: absolute;
right: 0;
top: 30px;
}
#headerInfoNavi {
position:absolute;
top:34px;
right:110px;
}
#headerInfoNavi li {
float:left;
margin-right:20px;
}

/*------------------------------------------
 Footer Area
 ------------------------------------------*/
#footer{
height:80px;
margin:25px 0 0;
min-width: 958px;
line-height:1.4;
background-color:#666666;
}
* html #footerIn{
min-width: 958px;
width: auto !important;
width: 958px;
}
#footerIn{
padding:20px 0 0 0;
margin:0 auto;
text-align:left;
}
#footerIn {
width:958px;
clear:both;
}
#footerIn .footerNavi{
width:550px;
float:left;
zoom:normal;
}
#footerIn .copyright{
float:right;
top:20px;
right:0;
color:#fff;
font-size:0.86em;
letter-spacing:0.08em;
width:400px;
text-align:right;
}

#footerIn .footerNavi li{
float:left;
margin:0 ;
padding:0 0 0 10px;
background:url(/common/image/shared/arrow_footer_link.gif) no-repeat left center;
font-size:86.66%;
}

#footerIn .footerNavi li a{
color:#FFF;
}


/*------------------------------------------
Contents Area
------------------------------------------*/
#mainArea .ContentsArea{
text-align:left;
padding-bottom:20px;
clear:both;
}
#mainArea .ContentsArea:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

/* main column 
------------------------------------------*/
#mainArea .typeA{
font-size:116%;
color:#fff;
font-weight:bold;
padding:10px 0 9px 20px;
line-height:1.2;
background:url(../image/temp_box01_bgH.gif) no-repeat left top;
text-align:left;
}
#mainArea .ContentsBtm {
background:url(../image/temp_box01_bgB.gif) no-repeat left bottom;
padding-bottom:10px;
}
#mainArea .ContentsArea .ContentsInner {
background:url(../image/temp_box01_bgM.gif) repeat-y scroll left top transparent;
overflow:hidden;
text-align:left;
width:950px;
padding-bottom:20px;
/*min-height:200px; */
}

#mainArea .ContentsArea .articleTypeA{
border-top:#fdd000 solid 3px;
padding:30px 30px 5px;
}
#mainArea .ContentsArea .first-item{
padding-top:0!important;
}

#mainArea .ContentsArea .articleTypeB{
margin-left:3px;
padding:10px 20px 5px;
zoom:1;
}
#mainArea .ContentsArea .articleTypeA:after,
#mainArea .ContentsArea .articleTypeB:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

#mainArea .ContentsArea .BoxInner{
padding:0 30px;
}

/* Heading Styles
------------------------------------------*/
/* H1,H2,H3,H4,H5 style TypeA*/
.typeA{
font-size:116%;
color:#FFFFFF;
font-weight:bold;
padding:13px 0 9px 20px;
background:url(../image/temp_box01_bgH.gif) no-repeat left top;
text-align:left;
line-height:1.2;
zoom:1;
clear:both;
}
.typeA a{
background: url(../image/icon/icon_arrow_06.gif) no-repeat 0 0.2em;
color: #FFFFFF !important;
display: block;
margin: 0 5px 0 3px;
padding-left: 20px;
}

/* H1,H2,H3,H4,H5 style TypeB*/
.typeB{
font-size:116%;
font-weight:bold;
color:#333!important;
padding:10px 0 11px 10px;
margin:0px 0 15px 0;
background:url(../image/temp_bg_heading01.gif) repeat-x bottom left #ede7db;
zoom:1;
clear:both;
}

/* H1,H2,H3,H4,H5 style TypeC*/
.typeC{
font-size:116%;
font-weight:bold;
border-bottom:#999999 solid 2px;
margin:20px 0 15px 0;
padding:3px 0 1px 0px;
line-height:1.4;
clear:both;
}

/* H1,H2,H3,H4,H5 style TypeD*/
.typeD{
font-size:116%;
font-weight:bold;
padding:5px 0 10px 0;
margin:15px 0 5px 0;
border-left:none;
clear:both;
}


.clearFix {
*display: inline-block;
_display: inline-block;}
