@charset "shift_jis";

/*==========================================

Elements: layout style

==========================================*/
.titleArea {margin-top:30px;}
.cp_topMain{
position:relative;
height:108px;
width:950px;
background:url(../../image/cp_topMain_01.jpg) no-repeat left bottom;
}
.cp_toptxt{
position:absolute;
top:7px;
left:335px;	
}

.cp_topMain .btn01{
position:absolute;
top:42px;
left:375px;
}

/* about 
 ------------------------------------------- */
.TypeAbout{
color:#846001;
font-weight:bold;
font-size:127%;
border-left:11px solid #ead071;
background-color:#f8edbd;
padding:12px 10px 12px 10px;
margin:20px 0;
}

#aboutFlow { margin-bottom:20px;}
#aboutFlow dl{ float:left; }
#aboutFlow dt{ height:50px;  font-size:0;}
#aboutFlow dd{
position:relative;
height:262px;
}
#aboutFlow .flow01{ width:285px;}
#aboutFlow .flow02{ width:285px;}
#aboutFlow .flow03{ width:300px;}

#aboutFlow .flow01 dd{
height:262px;
background:url(../../about/image/cp_aboutimg_01.gif) no-repeat;
}
#aboutFlow .flow01 dd .btn01{
position:absolute;
top:147px;
left:58px;
}
#aboutFlow .flow01 dd .linklist{
font-size:96%;
position:absolute;
top:200px;
left:15px;
}
#aboutFlow .flow02 dd{
background:url(../../about/image/cp_aboutimg_02.gif) no-repeat;
}
#aboutFlow .flow02 .btn01{
position:absolute;
top:210px;
left:146px;
}
#aboutFlow .flow03 dd{
background:url(../../about/image/cp_aboutimg_03.gif) no-repeat;
}
#aboutFlow .flow03 dd .btn01{
position:absolute;
left:149px;
top:210px;
}



/* Howto 
 ------------------------------------------- */
h2.TypeHowto{
color:#008576;
font-weight:bold;
font-size:127%;
padding:0 10px 12px 0;
display: block;
width: 870px;
background:url(../../howto/image/typeHowto_bg_01.gif) no-repeat left bottom;
position: relative;
}
.TypeHowto img{
float: left;
margin: 0 5px 0 0;
vertical-align: middle;
}
.TypeHowto span{
float: left;
padding: 20px 0 5px;
display: block;
}

#howtoFlow .TypeHowto span.toLink{
position:absolute;
top:0px;
right:20px;
text-align:left;
font-weight:normal;
font-size:80%;
display: inline;
}
#howtoFlow ul.localNav{
margin-left:36px;
}
#howtoFlow ul.localNav li{
float: left;
}

#howtoFlow .flowBox{
padding:10px 0 15px;
}
#howtoFlow .fontM{
font-size:110% !important;
}
.subLead{
color:#000;
font-weight:bold;
font-size:127%;
margin: 0 0 15px;
padding: 2px 5px 5px;
border-bottom: 3px solid #008576;
}
.context img{
display:inline;
vertical-align: middle;
}

#howtoFlow .check01{
padding-left: 30px;
min-height:20px;
_height:16px;
background:url(../../howto/image/txt_img_01.gif) no-repeat 0.2em 0.2em;
}

#howtoFlow .check02{
color:#ff0000;
font-weight: bold;
background-color:#ffe4e4;
}

#howtoFlow .check03{
position:absolute;
top:-20px;
left:56px;
}



/* Items 
 ------------------------------------------- */
#itemsFlow ul.localNav{
margin-top:10px;
margin-left:3px;
}
#itemsFlow ul.localNav li{
float: left;
}
#itemsFlow .TypeItems{
border-left:11px solid #f39ea0;
background-color:#fbe6e7;
padding:10px;
margin:0 0 20px;
zoom:1;
}
.TypeItems .tit01,
.TypeItems .subtxt01{
float: left;
}
h2.TypeItems,
.TypeItems .tit01{
color:#a7191c;
font-weight:bold;
font-size:127%;
padding-top: 10px;
padding-right: 10px;
}

.TypeItems .subtxt01{ color:#707070; }


#itemsFlow .itemBox01{
padding:20px 0;
zoom: 1;
margin-bottom: 20px;
}
#itemsFlow .itemBox01 dl dt{
padding-top: 10px;
width:185px;
float: left;
text-align: center;
}
#itemsFlow .itemBox01 dl dd{
width:670px;
float: left;
}
#itemsFlow .point_goods{
padding:0 10px;
}
#itemsFlow .point_goods ul{
float: left;
margin-right:15px;
width:150px;
zoom: 1;
}
#itemsFlow .point_goods ul.last{ margin-right:0!important;}

#itemsFlow .itemFrame{
width:670px;
float: right;
}


#pointRank01{
border: 3px solid #fdc3c5;
}
#pointRank02{
border:3px solid #ffc091;
}
#pointRank03{
border:3px solid #fae7a2;
}
#pointRank04{
border:3px solid #d0dfa8;
}
#pointRank05{
border:3px solid #a7d9cc;
}





/* font Detail */
.note01{
color:#666;
font-size:90% !important;
line-height:1.45;
}
.note02{
font-size:90% !important;
line-height:1.45;
}


/* Basic */
.navArea{ margin:15px 0 10px 3px; zoom:1;}
.navArea li{ float:left; }
.navArea:after,#aboutFlow:after,
.flameBox01Inner:after,
.flameBox02Inner:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

.flameBox01Top .btnArea .asetBox2com{
margin-right:12px;
width:452px;
height:94px;
background:url(../image/cmb_btnBg_01.gif) no-repeat;
float:left;
}

.flameBox02Top .btnArea .asetBox2com{
margin-right:12px;
width:413px;
height:94px;
background:url(../image/cmb_btnBg_02.gif) no-repeat;
float:left;
}
#container .last-child{margin-right:0;}

.btnArea .asetBox2com dt{
text-align:center;
padding:12px 0 0;
}
.asetBox2com dd{
text-align:center;
padding:0 5px;
}
.flameBox01Top{
width:954px;
padding:10px 0 0;
background:url(../image/cmn_flamebg_01.gif) no-repeat top left;
}
.flameBox01Inner{
text-align:left;
padding:5px 0 5px 18px;
background:url(../image/cmn_flamebg_02.gif) repeat-y top left;
zoom:1;
}
.flameBox01Btm{
padding:0 0 15px;
background:url(../image/cmn_flamebg_03.gif) no-repeat bottom left;
}

.flameBox02Top{
width:878px;
margin:0 auto;
text-align:center;
padding:10px 0 0;
background:url(../image/cmn_flamebg2_01.gif) no-repeat top left;
}
.flameBox02Inner{
text-align:left;
padding:5px 0 5px 22px;
background:url(../image/cmn_flamebg2_02.gif) repeat-y top left;
zoom:1;
}
.flameBox02Btm{
padding:0 0 10px;
background:url(../image/cmn_flamebg2_03.gif) no-repeat bottom left;
}

#topNav{
width:950px;
padding-bottom:10px;
zoom:1;
}
#topNav h1{
float:left;
width:424px;
}
#topNav ul{
margin-top:45px;
width:470px;
float:right;
}
#topNav ul li{
float:left;
margin-left:8px;
}
#innerMain{
width:870px;
margin:0 auto;
}



.tempBox{
width:950px;
padding:0 0 15px;
background:url(../image/temp_box02_bgB.gif) no-repeat bottom left;
}
.tempBox01Inner{
width:950px;
padding:0 0 5px;
background:url(../image/temp_box02_bgM.gif) repeat-y top left;
zoom:1;
}
/*
.tempBox01Top{
width:950px;
padding:0 0 15px;
}
*/
#topNav:after,
.flowBox:after,
.point_goods:after,
.localNav:after,
h2.TypeHowto:after,
#itemsFlow .itemBox dl dd:after,
#itemsFlow .TypeItems:after,
#itemsFlow .itemBox01:after,
#itemsFlow .itemBox02:after,
#itemsFlow .itemBox03:after,
#itemsFlow .itemBox04:after,
#itemsFlow .itemBox05:after{
display:block; clear:both; height:0; visibility:hidden; content:"."; zoom:1;}

#topNav,
.flowBox,
.point_goods,
.localNav,
h2.TypeHowto,
#itemsFlow .itemBox dl dd,
#itemsFlow .TypeItems,
#itemsFlow .itemBox01,
#itemsFlow .itemBox02,
#itemsFlow .itemBox03,
#itemsFlow .itemBox04,
#itemsFlow .itemBox05{
*display: inline-block;
_display: inline-block;
}