@charset "utf-8";

/*==================================================
 * 01.共通設定
 *==================================================*/
.clear {
    zoom:1;
}
/*==================================================
 * 02.コンテンツ
 *==================================================*/
* html .section {
    margin-bottom: 25px;
}

.article li {
    margin-bottom: 10px;
}

.section li {
    margin-bottom: 5px;
}

* html .section h2 {
    margin-bottom: 40px;
}
