@charset "utf-8";

/*==================================================
 * 01.共通設定
 *==================================================*/
html, body {
    height: 100%;
}

body {
    margin: 0;
    font-size: 10px;
    font-family: "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
}

p, dt, dd, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    list-style-image: none;
}

a {
    text-decoration: none;
}

a:active, a:hover {
    outline: 0;
}

img {
    border: 0;
}

p img, li img {
    display: block;
    margin: 0 auto;
}

.wrap {
    width: 100%;
    margin: 0 auto;
    background: url(../img/bg_header.gif) repeat-x left top;
}

.clear:after {
    display: block;
    clear: both;
    content: "";
}

/*==================================================
 * 02.コンテンツ
 *==================================================*/
.contents {
    width: 920px;
    margin: 0 auto 50px;
}

.section, .article  {
    margin-bottom: 40px;
}

.section h2, .article h2 {
    margin: 0 0 20px;
    text-align: center;
}

.section a, .article a {
    display: block;
}

.article li {
    margin-bottom: 15px;
}

.section li {
    margin-bottom: 10px;
}

.article .linkDetail01, .article .linkDetail02, .article .linkDetail04 {
    display: block;
    position: relative;
    width: 340px;
    height: 18px;
    margin: 0 auto -18px;
    padding: 0;
}

.article .linkDetail01 {
    top: -73px;
    left: 250px;
}

.article .linkDetail02 {
    top: -46px;
    left: 240px;
}

.article .linkDetail03 {
    margin: 30px 0 0 500px;
}

.article .linkDetail04 {
    top: -54px;
    left: 240px;
}

.article .linkDetail05 {
    width: 500px;
    margin: 30px 0 0 365px;
}

.article .linkDetail06 {
    width: 340px;
    margin-left: 515px;
}

.arrow01 {
    padding-bottom: 90px;
    background: url(../img/arrow_01.png) no-repeat center bottom;
}

.btn {
    width: 790px;
    margin: 0 auto;
}

.link {
    width: 690px;
    margin: 0 auto;
}

/*==================================================
 * 03.ヘッダ・フッタ
 *==================================================*/
/*-- ヘッダ --*/
.header {
    width: 920px;
    margin: 0 auto;
    padding-top: 15px;
}

.header h1 {
    width: 177px;
    height: 32px;
    margin: 0;
}

.header.layout {
    padding-bottom: 15px;
}


/*-- フッタ --*/
.footer {
    height: 80px;
    background-color: #666;
    font-size: 11px;
}

.footerBox {
    width: 920px;
    margin: 0 auto;
    padding-top: 20px;
}

.footerNav {
    float: left;
}

.footerNav ul {
    padding-left: 0;
}

.footerNav li {
    float: left;
    margin-right: 20px;
    padding-left: 10px;
    background: url(../img/arrow_footer_link.gif) no-repeat left center;
}

.footerNav li a {
    color: #FFF;
}

.footer .copyright {
    float: right;
    width: 400px;
    color: #FFF;
    font-size: 10px;
    text-align: right;
    letter-spacing: 0.08em;
}
