@charset "Shift_JIS";
/* CSS Document */

td.mainPic{
width:750px;
height:417px;
background-image:url(img/mainpic.jpg);
}

a:link.a1 {
color: #FFFFFF;
}
a:hover.a1 {
color: #CC6600;
text-decoration: none;
}
a:visited.a1 {
color: #FFFFFF;
}
.white {
color: #FFFFFF;
}
.style2 {color: #FF0000}
.b1 {
font-size: 80%;
line-height: 120%;
}
.b2 {
font-size: 80%;
line-height: 120%;
}
.ti_w {
color: #FFFFFF;
font-size: 80%;
line-height: 120%;
}
.hd {
font-size: 76%;
color: #FFFFFF;
}
.style1 {font-size: 80%; line-height: 120%; color: #FFFFFF; }
.style2 {color: #FF0000}
.style3 {color: #FF0000}
.style3 {color: #FF0000}

@media  print{
  td.mainPic{
width:750px;
height:417px;
background-image:url(img/alt.gif);
}
}