/*==========================================

sitepolicy

==========================================*/
wid700{
width: 700px !important;
}

p{
margin-bottom:5px;
padding:5px;
line-height:1.6em;
text-align::left!important;
}

.site_policy{
margin-left:20px;
margin-bottom:25px;
}

.site_policy li{
margin-left:20px !important;
margin-bottom:15px !important;
list-style-type:disc;
_zoom:0;
}

*:first-child+html .site_policy li{
margin-left:20px !important;
margin-bottom:15px !important;
list-style-type:disc;
zoom:0;
}

.site_policy dt{
float:left;
}

.site_policy dd{
margin-bottom:5px !important;
float:right;
width:640px;
}

.suisyo{
margin-bottom:15px;
}

.suisyo dt{
padding-left:10px;
float:left;
}

.suisyo dd{
float:right;
width:500px;
}