.boxSection .boxTypeC {
width:335px;
margin-right:10px;
float:left;
}

.boxSection .boxTypeC.last-child {
margin-right:0px;
}



/* Box Style TypeC
------------------------------------------*/

.boxSection .boxTypeC dt {
	width: 325px;
	margin: 0 0 10px;
	padding: 10px 0 10px 10px;
	color: #003399;
	font-size: 116%;
	font-weight: bold;
	clear: both;
	background-image: url(../../common/image/shared/parts/bg_subClmTtl.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}

.boxSection .boxTypeC dd.img {
width:80px;
margin:0 10px 0;
float:right;
}
* html .boxSection .boxTypeC dd.img {
margin:0 5px 0;
}
.boxSection .boxTypeC dd {
float:left;
width:325px;
margin-left:10px;
}
* html .boxSection .boxTypeC dd {
margin-left:5px;
}



.about_size {
	position:relative;
	height:200px;
}
.about_size img{
	position: absolute;
	left: 87px;
	top: 2px;
}
.about_size p.midashi{
}
.about_size p.detail{
	position: absolute;
	height: auto;
	left: 323px;
	top: 32px;
	width: 336px
}
.about_size p span{
	font-weight:bold
}
