/*==========================================

	common

==========================================*/
body{
	background:url(../../common/image/shared/parts/bg_body.gif) repeat-x left top !important;
}
#wrapper{
	background: none !important;
}

/*------------------------------------------
 @ Header
------------------------------------------*/
#header{
height:83px !important;
margin-bottom: 20px;
background: url(../../common/image/shared/bg_header.gif) repeat-x left top !important;
text-align:center;
min-width: 958px;
width: auto  !important;
width: 958px;
}

#headerIn{
width:958px;
height:73px !important;
padding:0 0 10px 0;
margin:0 auto;
text-align:left;
position:relative;
}

#headerIn .logo{
padding:30px 0 0 10px;
}

#headerNavi {
	position:absolute;
	top:18px;
	right:0;
}

#headerInfoNavi {
	width:50px;
	position:absolute;
	top:12px;
	right:195px;
	margin:0 0 0 0;
	zoom:100%;
}

#headerInfoNavi li{
	margin:0;
	padding:0;
	font-size:0;
	line-height:0;
}

.bodTopInPop{
	width:830px;
	margin-left:3px;
	padding:10px 60px 5px 60px;
}

.searchSiteBox{
	width:73px;
	position:absolute;
	top:3px;
	right:100px;
	z-index:1;
}

.closeBTN{
	text-align:center;
	padding-top:20px;
	margin-bottom:15px;
	border-top:#CCC solid 1px;
}

.copyright{
	padding:30px 0 0 0;
	color:#333;
	font-size:88%;
}

ul.checkboxLi{
	line-height:1.8;
}


