/*==========================================

Aside Area

==========================================*/
#asideArea {
width:228px;
margin:3px 0 0 12px;
float:left;
}
#asideArea .asideBox{
margin-bottom:15px;
zoom:1;
}
#asideArea .asideBox:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}


/* SearchArea
------------------------------------------*/
#asideArea .asideBox .searchTop{
padding-top:9px;
text-align:left;
background:url(../image/aside_bg_T.png) left top no-repeat;
}

#asideArea .asideBox .searchBtm{
padding-bottom: 15px;
_padding-bottom: 14px;
background:url(../image/aside_bg_B.png) left bottom no-repeat;
}
#asideArea .asideBox .searchInner{
background:url(../image/aside_bg_M.png) left top repeat-y;
zoom:1;
}
#asideArea .asideBox .searchInner02{
padding: 4px 9px 3px 14px;
background:url(../image/aside_bg_M_inner.gif) 4px top no-repeat;
zoom:1;
}


/* Local Navigation
------------------------------------------*/
#asideArea .lNavTg{
border-top:#D3CEC2 solid 3px;
background:url(../image/aside_bg_lNavTg.gif) repeat-x bottom;
padding:8px 10px 5px 10px;
zoom:1;
}

#asideArea .ttlNavTg img{
padding:5px 0 5px 10px;
}

#asideArea .lNavTgBoxT{
background:url(../image/aside_bg_lNavTgBoxT.png) no-repeat top left;
padding:10px 0 0 0;
text-align:left;
zoom:1;
}
#asideArea .lNavTgBoxM{
background:url(../image/aside_bg_lNavTgBoxM.png) repeat-y;
padding:0 5px 0 5px;
zoom:1;
}
#asideArea .lNavTgBoxB{
background:url(../image/aside_bg_lNavTgBoxB.png) no-repeat bottom left;
padding:0 0 12px 0;
zoom:1;
}

#asideArea .lNavTgBoxM ul li{
border-bottom:#CCC solid 1px;
zoom:1;
}
.lNavTgBoxM ul li.blankLink{
padding-bottom:0;
}

.lNavTgBoxM ul li a{
width:188px;
background:url(../image/icon_arrow_01.gif) no-repeat 15px 1em;
padding:7px 5px 5px 25px !important;
display:block;
zoom:100%;
}

/* Open / Close */
#asideArea .lNavTg .icoClose{
font-weight:bold;
}
#asideArea .lNavTg .icoOpen,
#asideArea .lNavTg .icoClose{
font-weight:bold;
color:#003399;
}

.icoClose{
background:url(../image/aside_icon_close.gif) no-repeat 0 0.2em;
line-height:1.3;
padding:0 0 0 17px;
margin-bottom:5px;
display:block;
zoom:100%;
}
.icoOpen{
background:url(../image/aside_icon_open.gif) no-repeat 0 0.2em;
line-height:1.3;
padding:0 0 0 17px;
margin-bottom:5px;
display:block;
zoom:100%;
}

/* Blank Link setting */
.lNavTgBoxM ul li.blankLink{
margin-bottom:0;
padding-left:0;
text-indent:0;
background:none !important;
}
.lNavTgBoxM ul li.blankLink a{
width:188px;
padding-left:25px !important;
text-indent:-13px;
background:none !important;
}
.lNavTgBoxM ul li.blankLink a:hover{
background-color:#E9E6E0 !important;
}
.lNavTgBoxM ul li a:hover{
background:#E9E6E0 url(../image/icon_arrow_01.gif) no-repeat 15px 1em;
zoom:100%;
text-decoration:none !important;
}

#asideArea .lNavTgBoxM .blankLink02 {
background:url(../image/aside_bg_lNavTg.gif) repeat-x bottom !important;
position:relative;
text-indent:0;
}
#asideArea .lNavTgBoxM .blankLink02 a {
padding:12px 10px 12px 26px;
background:none;
position:relative;
}
#asideArea .lNavTgBoxM .blankLink02 img {
position:absolute;
top:17px;
left:10px;
}

/* Pdf Link setting */
.lNavTgBoxM .downloadLink {
position:relative;
text-indent:0;
padding-left:0;
}
.lNavTgBoxM .downloadLink a {
padding:12px 10px 12px 26px;
background-image:none;
}
.lNavTgBoxM .downloadLink a:hover{
background-image:none;
zoom:100%;
text-decoration:none !important;
}

.lNavTgBoxM .downloadLink img {
position:absolute;
top:8px;
left:7px;
}
/*
#asideArea .lNavCap{
border-top:#D3CEC2 solid 3px;
background:url(../image/aside_bg_lNavTg.gif) repeat-x bottom;
padding:0;
zoom:100%;
}
#asideArea .lNavCap a{
background:url(../../image/shared/ico/icon_05.gif) no-repeat 8px 1.2em;
padding:12px 10px 12px 26px;
display:block;
font-weight:bold;
zoom:100%;
}
.lNavCap.blankLink img{
position:absolute;
}
.lNavCap.blankLink a{
position:absolute;
}*/
/*
#asideArea .lNavCap a.blankLink{
background:url(../../image/shared/parts/blank_link.gif) no-repeat 8px 1.2em !important;
padding:12px 10px 12px 26px !important;
display:block;
font-weight:bold;
text-indent:0;
zoom:100%;
}

#asideArea .lNavTgBoxM ul#lNaviCtr li a.blankLink{
background:url(../../image/shared/parts/blank_link.gif) no-repeat 10px 0.9em !important;
padding:7px 5px 5px 25px !important;
display:block;
}
#asideArea .lNavTgBoxM ul#lNaviCtr li a.blankLink:hover{
background:#E9E6E0 url(../../image/shared/parts/blank_link.gif) no-repeat 10px 0.9em !important;
}
*/

/* FAQ / Pickup  */
#asideArea .asideBox .linkBox01 dt,
#asideArea .asideBox .linkBox02 dt{
width:220px;
padding:0 0 7px 0;
}
#asideArea .asideBox .linkBox01 dd.img{
width:64px;
height:64px;
float:left;
}
#asideArea .asideBox .linkBox01 dd{
width:143px;
margin-left:7px; 
float:left;
}
#asideArea .asideBox .linkBox02 dd{
width:200px;
padding:0 3px 0; 
}

#asideArea .asideBox .linkBox01 dd ul li,
#asideArea .asideBox .linkBox02 dd ul li{
text-align:left;
margin:0 0 5px 0;
padding:0 0 0 13px;
min-height:9px;
background:url(../image/icon_arrow_01.gif) no-repeat 3px  0.25em;
}
#asideArea .asideBox .linkBox01 dd ul li.blankLink,
#asideArea .asideBox .linkBox02 dd ul li.blankLink{
background:none;
}
#asideArea .asideBox .linkBox01 dd p,
#asideArea .asideBox .linkBox02 dd p{
font-size:90%;
padding-left:13px;
margin:0;
text-align:left;
}
