/*==========================================

base layout

==========================================*/

#container {
width:100%;
padding-top:17px;
background:url(../image/body_bg_01.gif) repeat-x left top;
}

#contentsWrapper {
width:958px;
margin:0 auto;
}

#container1column #mainArea {
float:none;
width:100%;
}

#mainArea {
width:718px;
line-height:1.4;
float:left;
text-align:left;
}

/*------------------------------------------
Contents Area
------------------------------------------*/
#mainArea .ContentsArea{
margin-top:20px;
text-align:left;
clear:both;
}
#mainArea .ContentsArea:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

/* 1column 
------------------------------------------*/
#container1column .typeA{
font-size:116%;
color:#FFFFFF;
font-weight:bold;
padding:13px 0 9px 20px;
line-height:1.2;
background:url(../image/temp_box01_bgH.png) no-repeat left top;
text-align:left;
}
#container1column #mainArea .ContentsTop{
background:url(../image/temp_box01_bgT.png) no-repeat top left;
padding:14px 0 0 0;
}

#container1column #mainArea .ContentsBtm {
background:url(../image/temp_box01_bgB.png) no-repeat left bottom;
padding-bottom:14px;
}

#container1column #mainArea .ContentsArea .ContentsInner {
background:url(../image/temp_box01_bgM.png) repeat-y scroll left top transparent;
overflow:hidden;
text-align:left;
}
#container1column #mainArea .ContentsArea .articleTypeA{
border-top:#FDD000 solid 3px;
width:910px;
margin-left:3px;
padding:10px 20px 5px;
}
#container1column #mainArea .ContentsArea .articleTypeB{
width:910px;
margin-left:3px;
padding:10px 20px 5px;
zoom:1;
}


/* Close Button */
#container1column .closeBTN{
margin-top:20px;
text-align:center;
margin-bottom:15px;
}
#container1column .closeBTN .normalBtn{
overflow:visible;
padding:3px 5px;
background-color:#dddddd;
}

/* Copyright */
#container1column .copyright{
padding:30px 0;
color:#333;
font-size:88%;
}

/* 2column 
------------------------------------------*/
#mainArea .ContentsArea .ContentsTop{
background:url(../image/temp_box02_bgT.png) no-repeat top left;
padding:14px 0 0 0;
zoom:1;
}
#mainArea .ContentsArea .ContentsTop:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

#mainArea .ContentsArea .ContentsBtm {
background:url(../image/temp_box02_bgB.png) no-repeat left bottom;
padding-bottom:15px;
zoom:1;
}

#mainArea .ContentsArea .ContentsInner {
padding-bottom:5px;
background:url(../image/temp_box02_bgM.png) repeat-y scroll left top transparent;
zoom:1;
}
#mainArea .ContentsArea .ContentsInner:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

#mainArea .ContentsArea .articleTypeA{
width:680px;
margin-left:3px;
padding:10px 15px 0;
text-align:left;
border-top:#FDD000 solid 3px;
}
#mainArea .ContentsArea .articleTypeA:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

#mainArea .ContentsArea .articleTypeB{
width:680px;
margin-left:3px;
padding:10px 15px 0;
zoom:1;
overflow:hidden;
}
#mainArea .ContentsArea .articleTypeB:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

#mainArea .ContentsArea .articleTypeC{
width:680px;
margin-left:3px;
padding:10px 15px 0;
border-top:3px solid #D8D3C7;
}
#mainArea .ContentsArea .articleTypeC:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

/* Business solution */
#mainArea .ContentsArea .articleTypeD{
border-top:3px solid #D4CBB7;
width:680px;
margin-left:3px;
padding:10px 15px 0;
text-align:left;
}
#mainArea .ContentsArea .articleTypeD:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

/* ContentsArea 2column 
------------------------------------------*/
#mainArea .ContentsArea-2col{
width:358px;
float:left;
margin-right:2px;
}
#mainArea .ContentsArea-2col.last-child{
margin-right:0px;
}

#mainArea .ContentsArea-2col .ContentsBtm {
background:url(../image/temp_box03_bgB.png) no-repeat left bottom;
padding-bottom:15px;
zoom:1;
}
#mainArea .ContentsArea-2col .ContentsInner {
text-align:left;
padding-bottom:5px;
background:url(../image/temp_box03_bgM.png) repeat-y left top;
}
#mainArea .ContentsArea-2col .ContentsInner:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
#mainArea .ContentsArea-2col .article{
width:320px;
margin-left:3px;
padding:10px 15px 5px;
text-align:left;
border-top:#FDD000 solid 3px;
}
#mainArea .ContentsArea-2col .article:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

#mainArea .ContentsArea-2col h2{
font-size:116%;
color:#FFFFFF;
font-weight:bold;
padding:15px 20px 10px 20px;
background:url(../image/temp_box03_bgH.png) no-repeat left top;
}
#mainArea .ContentsArea-2col h2 a,
#mainArea .ContentsArea-2col h2 span {
padding-left:20px;
/*padding:1px 0 1px 20px;*/
color:#FFFFFF;
display:block;
background:url(../image/icon_arrow_06.gif) no-repeat 0 0.2em;
zoom:1;
}
#mainArea .ContentsArea-2col h2.blankLink,
#mainArea .ContentsArea-4col h2.blankLink{
position:relative;
}
#mainArea .ContentsArea-2col h2.blankLink a,
#mainArea .ContentsArea-4col h2.blankLink a {
padding-left:18px;
text-indent:0;
background:none;
position:relative;
line-height:1.2;
}
#mainArea .ContentsArea-2col h2.blankLink img {
top:19px;
left:20px;
position:absolute;
}
*html #mainArea .ContentsArea-2col h2.blankLink img{
left:15px;
}


#mainArea .ContentsArea-4col h2.blankLink img {
top:19px;
left:15px;
position:absolute;
}
*html #mainArea .ContentsArea-4col h2.blankLink img {
left:15px;
}

/* -------- -------------- */

/* ContentsArea 4column 
------------------------------------------*/
#mainArea .ContentsArea-4col{
width:168px;
float:left;
margin-right:2px;
}
#mainArea .ContentsArea-4col.last-child{
margin-right:0px;
}
#mainArea .ContentsArea-4col h2{
font-size:116%;
color:#FFFFFF;
font-weight:bold;
padding:15px 15px 10px 10px;
background:url(../image/temp_box10_bgH.png) no-repeat left top;
}
#mainArea .ContentsArea-4col h2 a,
#mainArea .ContentsArea-4col h2 span {
padding-left:20px;
/*padding:1px 0 1px 20px;*/
color:#FFFFFF;
display:block;
background:url(../image/icon_arrow_06.gif) no-repeat 0 0.2em;
zoom:1;
}
#mainArea .ContentsArea-4col .ContentsBtm {
background:url(../image/temp_box10_bgB.png) no-repeat left bottom;
padding-bottom:15px;
zoom:1;
}
#mainArea .ContentsArea-4col .ContentsInner {
text-align:left;
padding-bottom:0px;
background:url(../image/temp_box10_bgM.png) repeat-y left top;
}
#mainArea .ContentsArea-4col .ContentsInner:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
#mainArea .ContentsArea-4col .article{
width:150px;
margin-left:3px;
padding:10px 5px 0px;
text-align:left;
border-top:#FDD000 solid 3px;
}



/* img link hover */
.imgLink01 a img{
margin:0 0 0.3em 0;
}
.imgLink01 a img{
border:#DAD5C9 solid 1px;
padding:1px;
}
.imgLink01 a:hover img{
border:#008576 solid 1px;
}

.anchorList{
clear:both;
text-align:left;
}
.anchorList li{
float:left;
width:330px;
min-height:13px;
text-align:left;
padding:0 10px 0 0;
margin-bottom:0.5em;
white-space: none;
zoom:100%;
}

.anchorList li a{
display:block;
line-height:1.5;
padding-left:18px;
_height:15px;
min-height:15px;
background:url(../image/icon_arrow_07.gif) no-repeat 0 0.2em;
}





/* Heading Styles
------------------------------------------*/
h1{
font-size:170%;
color:#494844;
font-weight:bold;
padding:5px 0 9px 10px;
background:none;
border-bottom:none;
text-align:left;
}
h1 img{
margin-left:5px;
}

/* H1,H2,H3,H4,H5 style TypeA*/
.typeA{
font-size:116%;
color:#FFFFFF;
font-weight:bold;
padding:13px 10px 9px 20px;
background:url(../image/temp_box02_bgH.png) no-repeat left top;
text-align:left;
line-height:1.2;
zoom:1;
clear:both;
}

.solutionArea .typeA{
background:url(../image/temp_box02_bg02H.png) no-repeat left top;
}

.typeA a{
background: url(../image/icon_arrow_06.gif) no-repeat 0 0.2em;
color: #FFFFFF !important;
display: block;
margin: 0 5px 0 3px;
padding-left: 20px;
}

/* H1,H2,H3,H4,H5 style TypeB*/
.tabArea .typeB,
.typeB{
font-size:116%;
font-weight:bold;
background:url(../image/temp_bg_heading01.gif) repeat-x bottom left!important;
color:#333!important;
margin:20px 0 15px 0;
padding:13px 0 9px 10px;
zoom:1;
clear:both;
}

/* H1,H2,H3,H4,H5 style TypeC*/
.typeC{
font-size:116%;
font-weight:bold;
border-left:#008574 solid 4px;
margin:20px 0 15px 0;
padding:3px 0 1px 5px;
line-height:1.4;
clear:both;
}

/* H1,H2,H3,H4,H5 style TypeD*/
.typeD{
font-size:116%;
font-weight:bold;
padding:5px 0 10px 0;
margin:15px 0 5px 0;
border-left:none;
clear:both;
}

/* typeE
 ------------------------------------------*/
.typeE{
font-size:116%;
font-weight:bold;
color:#444!important;
margin:20px 0 0 0;
display:block;
padding:13px 10px 9px 20px;
background:url(../image/temp_box02_bg03H.png) no-repeat top left;
zoom:1;
clear:both;
}



/* tabArea
-------------------------------------------------- */
.tabArea {
margin: 20px auto;
text-align: left;
}
.tabArea:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

.tabArea .tabBtm {
background:url(../image/temp_box02_bgB.png) no-repeat left bottom;
padding-bottom:15px;
zoom:1;
}
.tabArea .tabBtm:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

.tabArea .tabInner{
padding: 20px 20px 3px 18px;
background:url(../image/temp_box02_bgM.png) repeat-y left top;
position:relative;
zoom:1;
clear:both;
}
.tabArea .tabInner:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

/*.tabArea .tabInner div#tab2Body,
.tabArea .tabInner div#tab3Body,
.tabArea .tabInner div#tab4Body,
.tabArea .tabInner div#tab5Body,
.tabArea .tabInner div#tab7Body,
.tabArea .tabInner div#tab8Body,
.tabArea .tabInner div#tab9Body,
.tabArea .tabInner02 div#tab2Body{
display:none;
}*/

.tabArea h2{
font-size:116%;
color:#FFFFFF;
font-weight:bold;
padding:13px 0 9px 20px;
/* background:url(../../image/shared/parts/ttl_h2Tab.jpg) no-repeat left top !important; */
text-align:left !important;
zoom:100%;
}

/* tab
-------------------------------------------------- */
.tabArea ul.tabHead,
.tabArea ul.tabHead2col,
.tabArea ul.tabHead3col,
.tabArea ul.tabHead4col{
padding: 0 0 11px 3px;
background: url(../image/temp_tab_bgLine.jpg) no-repeat left bottom;
zoom:1;
}
.tabArea ul.tabHead:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.tabArea ul.tabHead2col:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.tabArea ul.tabHead3col:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.tabArea ul.tabHead4col:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

.tabArea ul.tabHead4col li{
float: left;
width: 179x;
margin-right: 0px;
font-size: 1.2em;
font-weight: bold;
text-align: center;
color: #333;
word-wrap: break-word;
}
.tabArea ul.tabHead2col li{
float: left;
width: 353px;
margin-right: 0px;
font-size: 1.2em;
font-weight: bold;
text-align: center;
word-wrap: break-word;
}
.tabArea ul.tabHead3col li{
float: left;
width: 235px;
margin-right: 0px;
font-size: 1.2em;
font-weight: bold;
text-align: center;
word-wrap: break-word;
}
/*
.tabArea ul.type01 li {
width: 320px !important;
padding: 10px 18px 0px 15px;
background-image:url(../image/temp_tab02_bg.png) !important;
}

.tabArea ul.type01 li a{
color:#333333;
text-decoration:none;
display:block;
}
*/
.tabArea ul.type03 li a{
width: 143px;
padding: 10px 18px 0 15px;
background:url(../image/temp_tab01_bg.png) left top;
color:#333333;
text-decoration:none;
display:block;
}
.tabArea ul.type03 li a:hover{
background:url(../image/temp_tab01_bg.png) -176px top;
color:#fff;
}

.tabArea ul.type03 li.tabAct{
width: 143px;
padding: 10px 18px 0 15px;
background:url(../image/temp_tab01_bg.png) -176px top;
color:#fff;
}

.tabArea ul.type01 li a{
width: 320px;
padding: 15px 18px 0 15px;
background:url(../image/temp_tab03_bg.png) left top;
color:#333333;
text-decoration:none;
display:block;
}
.tabArea ul.type01 li a:hover{
background:url(../image/temp_tab03_bg.png) -353px top;
color:#fff;
}

.tabArea ul.type01 li.tabAct{
width: 320px;
padding: 15px 18px 0 15px;
background:url(../image/temp_tab03_bg.png) -353px top;
color:#fff;
}

.tabArea ul.type02 li a{
width: 202px;
padding: 15px 18px 0 15px;
background:url(../image/temp_tab04_bg.png) left top;
color:#333333;
text-decoration:none;
display:block;
}
.tabArea ul.type02 li a:hover{
background:url(../image/temp_tab04_bg.png) -235px top;
color:#fff;
}

.tabArea ul.type02 li.tabAct{
width: 202px;
padding: 15px 18px 0 15px;
background:url(../image/temp_tab04_bg.png) -235px top;
color:#fff;
}

.tabArea ul.tabHead li span,
.tabArea ul.tabHeadServ li span{
padding:0 15px;
}

.tabArea ul.tabHead li.tabCurrent span,
ul.tabHead2col li.tabCurrent span{
color:#fff;
}

.tabArea ul.tabHead li.tabCurrent,
.tabArea ul.tabHead2col li.tabCurrent{
color:#fff;
background: url(../image/temp_tab01_bg.png) no-repeat right top;
}

/* serviceType
-------------------------------------------------- */
#mainArea .ContentsLeft {
width:508px;
float:left;
}
#mainArea .ContentsLeft h2{
font-size:116%;
color:#FFFFFF;
font-weight:bold;
background:url(../image/temp_box04_bgH.png) no-repeat left top;
text-align:left;
padding:15px 0 7px 20px;
margin-bottom:0;
}
#mainArea .ContentsLeft .ContentsBtm {
background:url(../image/temp_box04_bgB.png) no-repeat left bottom;
padding-bottom:14px;
zoom:1;
}
#mainArea .ContentsLeft .ContentsInner {
text-align:left;
padding-bottom:0;
background:url(../image/temp_box04_bgM.png) repeat-y left top;
}
#mainArea .ContentsLeft .ContentsInner:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
#mainArea .ContentsLeft .article{
border-top: 3px solid #FDD000;
margin-left: 3px;
padding: 10px 15px 5px;
width: 471px;
}
#mainArea .ContentsLeft .article:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

#mainArea .ContentsRight {
width:198px;
float:right;
}
#mainArea .ContentsRight h2{
font-size:116%;
color:#FFFFFF;
font-weight:bold;
background:url(../image/temp_box05_bgH.png) no-repeat left top;
text-align:left;
padding:15px 10px 7px 20px;
margin-bottom:0;
}
#mainArea .ContentsRight .ContentsBtm {
background:url(../image/temp_box05_bgB.png) no-repeat left bottom;
padding-bottom:14px;
zoom:1;
}
#mainArea .ContentsRight .ContentsInner {
text-align:left;
padding-bottom:0;
background:url(../image/temp_box05_bgM.png) repeat-y left top;
}
#mainArea .ContentsRight .ContentsInner:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
#mainArea .ContentsRight .article{
border-top: 3px solid #FDD000;
margin-left: 3px;
padding: 10px 15px 5px;
width: 161px;
}
#mainArea .ContentsRight .article:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}





/*------------------------------------------
@ problemBox
------------------------------------------*/
#problemBox ul{
float:left;
width:540px;
}

#problemBox #problemImg{
float:right;
width:130px;
padding-top:5px;
}

#problemBox .btnTxtBox a{
display:block;
width:540px;
padding:20px 0 0 0;
cursor:pointer;
background:url(../image/temp_box08_bgT.gif) no-repeat left top;
}

#problemBox .btnTxtInNoIcon{
display:block;
padding:0 15px 18px 10px;
width:515px;
background:url(../image/temp_box08_bgB.gif) no-repeat left bottom;
}


.btnTxtIn{
display:block;
padding:0 15px 18px 70px;
width:255px;
background:url(../image/temp_box08_bgB.gif) no-repeat left bottom;
}

.btnTxtIn span{
display:block;
background:url(../image/temp_box08_bgB.gif) no-repeat left bottom;
padding:0 0 0 20px;
color:#003399 !important;
}

.btnTxtInNoIcon span{
display:block;
background:url(../image/icon_arrow_05.gif) no-repeat 8px 0.5em;
padding:0 0 0 18px;
color:#003399 !important;
}

.btnTxtIn span.btnTxtBlank{
background:url(../image/icon_blank_01.gif) no-repeat 5px 0.6em !important;
}

.btnTxtInNoIcon span.btnpageLink{
background:url(../image/icon_arrow_07.gif) no-repeat 2px 0.3em !important;
}




/*------------------------------------------
@ problemSubBox
------------------------------------------*/
.problemSubBox{
width:670px;
margin:0 auto;
padding:14px 0 0;
background:url(../image/bg_problem_sub_top.gif) no-repeat left top;
text-align:left;
}

.problemSubBoxBottom{
padding:0 0 14px;
background:url(../mage/temp_box08_bgBsub.gif) no-repeat left bottom;
zoom:1;
}

.problemSubBoxBottom:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

.problemSubBoxInner{
padding:0 17px;
background:url(../image/temp_box08_bgsub.gif) repeat-y 0 0;
}
/*
.problemSubBoxInner ol{
margin:0;
padding:0 0 0 20px;
}
*/


/* table
----------------------------------*/
table.serviceType{
border-top:#BFB6A2 1px solid;
border-left:#BFB6A2 1px solid;
margin-top:5px;
}
table.serviceType td {
background:url(../image/temp_bg_serviceType01.gif) repeat-x left bottom #fff;
text-align:center;
vertical-align:middle;
padding:3px;
border-bottom:#BFB6A2 1px solid;
border-right:#BFB6A2 1px solid;
}
#mainArea .ContentsLeft .article table.serviceType td {
width:33%;
}

/* inactive */
table.serviceType td.inactive {
background:url(../image/temp_bg_serviceType02.gif) repeat-x left bottom #c6bdb0;
color:#594A40;
}
table.serviceType td.inactive a:link {color:#594A40; text-decoration:none;}
table.serviceType td.inactive a:visited {color:#594A40; text-decoration:none;}
table.serviceType td.inactive a:hover {color:#594A40; text-decoration:underline;}
table.serviceType td.inactive a:active {color:#594A40; text-decoration:underline;}

/* blank */
table.serviceType td.blank {
background:none;
border-bottom:none;
border-right:none;	
}

/* boxsize
-------------------------------------------------- */
.boxsize{
clear: both;
/* margin-bottom: 20px; */
}
.boxsize:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

.boxsize .box-image{
float: left;
margin-right: 10px;
}
.boxsize .box-text{
width: 550px;
float: left;
}
.boxsize .box-text p{
margin-bottom:5px;
}

/* Link Box Style
------------------------------------------*/
/* linkBoxSection */
.linkBoxSection {
padding-bottom:15px;
clear:both;
zoom:1;
}
.linkBoxSection:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.linkBoxSection.last-child{
padding-bottom:0px;
}

.linkBox{
width:335px;
position:relative;
background:url(../image/temp_bg_btnBoxT.gif) no-repeat top left;
}

.linkBoxBtm{
padding-bottom:10px;
min-height:50px;
_height:50px;
background:url(../image/temp_bg_btnBoxB.gif) no-repeat bottom left;
}
.linkBoxBtm:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

.linkBox a{
display:block;
padding:22px 15px 5px 13px;
cursor:pointer;
}
.linkBoxSection .icons .linkBoxBtm{
padding-bottom:12px;
}

.linkBox span.anchorLink{
display:block;
background:url(../image/icon_arrow_07.gif) no-repeat left 0.2em;
padding-left:16px;
zoom:1;
}
.linkBox span.defaultLink{
display:block;
background:url(../image/icon_arrow_01.gif) no-repeat 5px 0.4em;
padding-left:16px;
zoom:1;
}
.linkBox span.blankLink{
display:block;
zoom:1;
}
.linkBox span.blankLink a {
padding-left:16px;
text-indent:0;
}
.linkBox span.blankLink img {
top:24px;
left:15px;
position:absolute;
}


/* caption text */
.linkBoxSection .caption{
width:335px;
color:#008576;
clear:both;
}
*html .linkBoxSection .caption{
padding-bottom:2px;
}

.linkBoxSection .linkBox p {
position:absolute;
top:10px;
left:10px;
z-index:1000;
}
.linkBoxSection .linkBox p a{
padding:0;
}
.linkBoxSection .linkBox span.linkText{
width:255px;
position:relative;
left:60px;
display:block;
}

/* other parts */
.linkBoxSection.last-child{
padding-bottom:0px;
}
.linkBoxSection02 .linkBoxSection{
padding-bottom:0px;
}

/* Link Box Style02
------------------------------------------*/
ul.linkBoxSection02{
display: inline;
clear:both;
}
ul.linkBoxSection02:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

ul.linkBoxSection02 li{
width:224px;
background:url(../image/temp_bg_btnBox02_T.gif) no-repeat left top;
padding:15px 0 0;
margin:0 1px 2px 1px;
float:left;
zoom:1;
}

ul.linkBoxSection02 li div{
background:url(../image/temp_bg_btnBox02_M.gif) repeat-y left top;
}

ul.linkBoxSection02 li .linkBox02{
background:url(../image/temp_bg_btnBox02_B.gif) no-repeat left bottom;
width:204px;
margin:0;
padding:0 10px 5px;
}
ul.linkBoxSection02 li .linkBox02:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

ul.linkBoxSection02 li dl.linkBox02 dt{
float:left;
width:65px;
}
ul.linkBoxSection02 li dl.linkBox02 dd{
float:right;
width:125px;
word-wrap: break-word;
}

ul.linkBoxSection02 li dl.linkBox02 a.defaultLink{
/*width:105px;
_width:95px;*/
display:block;
}
*:first-child+html ul.linkBoxSection02 li dl.linkBox02 a.defaultLink{
width:105px;
}

ul.linkBoxSection02 li li{
width:auto;
background:none;
}

ul.linkBoxSection02 .defaultLink{
background:url(../image/icon_arrow_01.gif) no-repeat 4px 0.4em;
padding-left: 13px;
zoom:1;
}
ul.linkBoxSection02 .icoPrg{
background: url(../image/temp_icon_01.gif) no-repeat left 1px;
padding:0 0 10px 20px;
zoom:1;
_width:175px;
}


/* Box Style TypeA
------------------------------------------*/
.boxSection {
margin-top:20px;
clear:both;
}
.boxSection:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

.boxSection .boxTypeA,
.boxSection .boxTypeB {
width:335px;
margin-right:10px;
float:left;
}
.boxSection .boxTypeA.last-child,
.boxSection .boxTypeB.last-child {
margin-right:0px;
}

.boxSection .boxTypeA dt {
width:325px;
margin:0 0 10px;
padding:0 0 10px 10px;
background:url(../image/temp_bg_boxH.gif) no-repeat left bottom;
clear:both;
}
.boxSection .boxTypeA .boxHeight01 dt,
.boxSection .boxTypeA .boxHeight02 dt,
.boxSection .boxTypeA .boxHeight03 dt,
.boxSection .boxTypeA dt.boxHeight01{
padding:0 0 6px 10px;
}

.boxSection .boxTypeA dt span {
color:#008576;
margin:0 0 0.5em;
display:block;
}
.boxSection .boxTypeA dt a {
display:block;
padding:1px 0 1px 20px;
font-size:116%;
font-weight:bold;
background:url(../image/icon_arrow_05.gif) no-repeat 0 0.2em;
line-height:1.1;
min-height:1em;
}
.boxSection .boxTypeA dt span.blankLink {
display:block;
margin-bottom:0;
}
.boxSection .boxTypeA dt span.blankLink a {
display:inline;
padding:0;
background:none !important;
}
.boxSection .boxTypeA dd {
float:right;
width:235px;
}
.boxSection .boxTypeA dd.text,
.boxSection .boxTypeB dd.text {
float:none;
width:auto;
}
.boxSection .boxTypeA dd.img {
float:left;
margin:0 10px 0;
width:80px;
}
* html .boxSection .boxTypeA dd.img {
margin:0 5px 0;
}
.boxSection .boxTypeA dd.img a img,
.boxSection .boxTypeB dd.img a img {
padding:1px;
border:1px solid #DAD5C9;
}
.boxSection .boxTypeA dd.img a:hover img,
.boxSection .boxTypeB dd.img a:hover img {
border:1px solid #008576;
}


/* FAQ Style
------------------------------------------*/
/* Question */
.question ul.questionLink {
background:none;
padding:0;
}
.question ul.questionLink li {
background:url(../image/icon_arrow_01.gif) no-repeat 4px 0.3em;
margin-bottom:10px;
padding-left:13px;
}
.question ul.floatR li.defaultLink {
zoom:0;
}
.question li.blankLink {
margin-top:10px;
}
.question ul.floatR li {
margin-top:10px;
}

ul.questionList{
text-align:left;
}

ul.questionList li{
float:left;
width:330px;
text-align:left;
padding:0 10px 0 0;
margin-bottom:0.5em;
white-space: none;
zoom:100%;
}

ul.questionList li a{
display:block;
padding-left:4em;
text-indent:-2.5em;
background:url(../image/icon_arrow_07.gif) no-repeat left 0.2em;
}

/* Answer */

#mainArea .ContentsArea .ansTitle{
width:3em;
float:left;
}
#mainArea .ContentsArea .ansArea {
margin-left:4em;
zoom:1;
}
#mainArea .ContentsArea ul.ans {
margin-left:4em;
clear:both;
zoom:1;
}
#mainArea .ContentsArea ul.ans:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

#mainArea .ContentsArea ul.ans li {
position:relative;
list-style:none;
line-height:1.4;
}

#mainArea .ContentsArea ul.ans li.ans-text span {
position:absolute;
top:0;
left:-3.2em;
}


#mainArea .ContentsArea .ans-text {
color:#008576;
font-size:116%;
font-weight:bold;
margin-bottom:10px;
}
#mainArea .ContentsArea .fc-ans {
color:#333;
font-size:116%;
font-weight:normal;
}

/* pageLink */
ul.pageLink{
width:680px;
zoom:1;
}

ul.pageLink li{
float:left;
text-align:left;
margin:0 10px 7px 0;
background:url(../image/icon_arrow_07.gif) no-repeat 0 0.2em;
padding:0 0 0 17px;
white-space:nowrap;
}
ul.pageLink li.listend{
margin-right:0;
white-space:normal;
}

ul.pageLink li.longText{
clear:both;
}
*html ul.pageLink li.longText{
width:650px;
white-space:normal;
}

/* PDF download
------------------------------------------*/
.downloadImage{
float:left;
padding:3px 20px 0 10px;
}

.downloadText{
text-align:left;
font-size:90%;
margin-right:10px;
padding:2px 0 5px 0;
}

/* for TelNumbers */

.pickupTel{
font-weight:bold;
font-size:266% !important;
font-family:sans-serif;
line-height:0.9;
margin:0 5px 0;
vertical-align:middle;
}
.pickupTelsub{
font-size:135% !important;
line-height:1.1;
}



/* recommended environment
------------------------------------------*/
dl.environment{
clear:both;
}
dl.environment dt{
width:10em;
float:left;
clear:left;
}
dl.environment dd{
margin-left:10em;
}


/* Information
------------------------------------------*/
.infoArea dl{
clear:both;
zoom:1;
}
.infoArea dl dt{
width:8.5em;
float:left;
clear:left;
}
.infoArea dl dd{
margin-left:8.5em;
padding-bottom:10px;
}
.infoArea dl dd.blankLink{
zoom:1;
}

/* ta_q_bin/list
------------------------------------------*/
table.chartA {
padding:0;
margin-bottom:25px;
}

table.chartA th {
background:#817e77;
border:1px solid #d3cec2;
font-weight:normal;
color:#ffffff;
text-align:center;
padding:4px 2px;
}

table.chartA th a,
table.chartA th a:link {
color:#ffffff !important;
}

table.chartA td {
background:#ffffff;
border:1px solid #d3cec2;
text-align:center;
padding:4px 2px;
}

table.chartA td.size {
background:#fdedad;
font-weight:bold;
}

table.chartA td.zone {
background:#f2f1ed;
vertical-align:top;
}

table.chartA th.zone02,
table.chartA td.zone02 {
color:#ffffff;
background:#7192AC;
}

table.chartA td.segment {
background:#f2f1ed;
font-weight:bold;
}

table.chartA td.blank {
border:none;
border-bottom:1px solid #ffffff;
border-left:1px solid #ffffff;
}

.logo_bnr{
padding:17px 15px;
border:1px solid #d3cec2;
}

/*------------------------------------------
 Bottom Navigation
------------------------------------------*/
#lowerNav {
width:956px;
margin:15px auto 0;
text-align:left;
position:relative
}
#lowerNav .lowerNavTop {
padding-top:8px;
background:url(../image/lowerNav_bg_top.gif) no-repeat left top;
}
#lowerNav .lowerNavBtm {
padding-bottom:28px;
background:url(../image/lowerNav_bg_btm.gif) no-repeat left bottom;
zoom:1;
}
#lowerNav .lowerNavInner {
background:url(../image/lowerNav_bg_mid01.gif) repeat-y left top;
}
#lowerNav .lowerNavInner02 {
padding:22px 24px 0 26px;
background:url(../image/lowerNav_bg_mid02.gif) 4px top no-repeat;
zoom:1;
}
#lowerNav .lowerNavInner02:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

#lowerNav dl dd {
clear:both;
zoom:1;
}

/* Conversion Area
------------------------------------------*/
.ConversionTop {
margin-top:20px;
padding-top:10px;
background:url(../image/temp_box06_bgT.gif) no-repeat left top;
clear:both;
zoom:1;
}

.ConversionBtm {
background:url(../image/temp_box06_bgB.gif) no-repeat left bottom;
padding-bottom:11px;
}

.ConversionInner {
padding:10px 18px;
text-align:left;
background:url(../image/temp_box06_bgM.gif) repeat-y left top;
zoom:1;
}
.ConversionInner:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

.ConversionTop .ConversionTtl {
margin-bottom:10px;
}
.ConversionTop p.bold {
font-size:120%;
}

.ConversionTop .btnArea {
height:101px;
margin:0;
background:url(../image/temp_box06_bg01.gif) no-repeat left top;
clear:both;
}
.ConversionTop .btnArea:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}


/* wide */
.wide .ConversionTop {
background:url(../image/temp_box09_bgT.gif) no-repeat left top;
clear:both;
zoom:1;
}
.wide .ConversionBtm {
background:url(../image/temp_box09_bgB.gif) no-repeat left bottom;
}
.wide .ConversionInner {
background:url(../image/temp_box09_bgM.gif) repeat-y left top;
}

.wide .ConversionTop .btnArea {
height:101px;
margin:0;
background:url(../image/temp_box09_bg01.gif) no-repeat left top;
clear:both;
}
.wide .ConversionTop .btnArea02 {
height:130px;
margin:0;
background:url(../image/temp_box09_bg02.gif) no-repeat left top;
clear:both;
}
.wide .ConversionTop .phoneNumArea {
text-align:right;
padding:10px 10px 0 23px;
float:left;
width:500px;
}
.wide .ConversionTop .btn {
margin:26px 0 0 12px;
float:left;
}

.ConversionTop .phoneNumArea {
padding:13px 0 0 23px;
float:left;
}
.ConversionTop .btn {
margin:26px 0 0 12px;
float:left;
}


/*------------------------------------------
@ contactBox
------------------------------------------*/
#business #contactBox .ContentsBtm {
background:url(../image/temp_bg_contact_B.gif) no-repeat left bottom;
}

#business #contactBox .ContentsInner {
padding:10px 20px;
background:url(../image/temp_bg_contactM.gif) repeat-y 0 0;
}

#business #main #contactBox .ContentsInner p{
margin-bottom:10px;
}
#business #main .ContentsInner .solutionLinkBox{
margin:0 auto;
}
