/*==========================================

common

==========================================*/
body{
height:100%;
min-width:958px;
margin:0;
padding:0;
font-size:80%;
color:#333;
}

body {
font-family:arial, helvetica, clean, sans-serif;
*font-size:small;
*font:x-small;
}

/* Link
------------------------------------------*/
a:link 		{color:#003399; text-decoration:none;}
a:visited {color:#655B99; text-decoration:none;}
a:hover 	{color:#003399; text-decoration:underline;}
a:active 	{color:#003399; text-decoration:underline;}

/* For Safari */
body:not(:only-child:only-child) {
font-family:arial, helvetica, clean, sans-serif;
}

label {
cursor:pointer;
}

.nojs {
width:958px;
margin:0 auto;
color:#333;
text-align:left;
}
.z0 {
z-index:-50 !important;
}

/* Form
------------------------------------------*/
input.textInput{
border:1px solid #CCCCCC;
padding:5px;
}

input.textInputErr{
border:2px solid #E16767;
padding:5px;
}

input,select{
margin:0 5px 0 0;
}

select,textarea{
border:1px solid #CCCCCC;
}

/* Change Font
------------------------------------------*/
body.changeFontSize3{font-size:100%;}
body.changeFontSize2{font-size:80%;}
body.changeFontSize1{font-size:67%;}

/*------------------------------------------
@ Templates
------------------------------------------*/
#wrapper{
width:100%;
text-align:center;
}

.reader{
display: block;
height: 1px;
left: 0;
margin: 0;
overflow: hidden;
padding: 0;
position: absolute;
top: 0;
width: 1px;
}

/*------------------------------------------
@ Breadcrumb
------------------------------------------*/
.breadcrumb{
width:958px;
text-align:left;
margin:0 auto 15px;
padding:0;
}

body#top .breadcrumb{ display:none;}

.breadcrumb ul li{
display: inline;
margin:0 10px 0 0;
}

.breadcrumb ul li a{
background:url(../image/icon_bc_arrow.gif) no-repeat right;
padding:0 15px 0 0;
}

/*.icoHomeLink{
padding:0 15px 0 25px;
}*/

.breadcrumb .home{
background:url(../image/icon_bc_home.gif) no-repeat;
padding:0 15px 0 25px;
min-height:14px;
_height:14px;
}

/*------------------------------------------
@ Link Style
------------------------------------------*/
/* defaultLink */
.defaultLink{
background:url(../image/icon_arrow_01.gif) no-repeat 4px 0.4em;
padding-left: 13px;
zoom:1;
}
#mainArea li.defaultLink{
margin-bottom: 0.2em;
}

/* blanklink */
.blankLink {
padding-left: 13px;
text-indent: -13px;
}
#mainArea li.blankLink {
margin-bottom: 0.2em;
}
.blankIcon{
margin-left:5px;
}

/* downloadLink */
.downloadLink{
padding-left: 20px;
text-indent: -20px;
}
.downloadLink img{
vertical-align:text-bottom;
}
.downloadLink a{
padding-top: 2px;
}
li.downloadLink {
margin-bottom: 0.2em;
}
.pdfIcon{
margin-left:5px;
vertical-align:baseline;
}

.leadiconBox{
clear:both;
padding:0 12px 8px 0;
}
.leadiconBox h1{
line-height:1.1;
padding:5px 0 6px 10px
}
.leadicon{
text-align:right;
}
.leadicon a{
line-height:1.1;
padding-top: 3px;
}
.leadicon img{
margin-right:3px;
vertical-align:text-bottom;
}
.leadicon{
margin-left:5px;
vertical-align:baseline;
}



/* PageTop */
#main .pageTop{
text-align:right;
clear:both;
}
.pageTop{
text-align:right;
padding-top:20px;
margin-right:15px;
clear:both;
}
.pageTop a{
padding-left:13px;
background:url(../image/icon_arrow_04.gif) no-repeat 0 5px;
}

/*------------------------------------------
@ flashContent
------------------------------------------*/
#flashContent{
zoom:100%;
}

/*------------------------------------------
@ ico
------------------------------------------*/
.icoPrg{
background: url(../image/temp_icon_01.gif) no-repeat left 0.23em;
padding:0 0 10px 20px;
zoom:1;
}

.icoPrg.last-child{
padding-bottom:0px!important;
}


/*------------------------------------------
@ LIST STYLE
------------------------------------------*/
ol,ul {
margin:0;
padding:0;
}

/* Disc */
ul.list-disc {
margin-bottom:0;
}
ul.list-disc li {
margin-left:15px;
list-style-type:disc;
margin-bottom: 0.2em;
}
ul.list-disc ul,
ul.list-disc ol {
margin-bottom:0;
}
ul.list-disc li li {
margin-left:20px;
}
ul.list-disc ol.list-decimal li {
list-style-type:decimal;
}
ul.list-disc ul.list-notice01 li {
list-style-type:none;
margin-left:0;
}

/* Square */
ul.list-square {
margin-bottom:0;
}
ul.list-square li {
margin-left:15px;
list-style-type:square;
margin-bottom: 0.2em;
}
ul.list-square ul,
ul.list-square ol {
margin-bottom:0;
}
ul.list-square li li {
margin-left:20px;
}
ul.list-square ol.list-decimal li {
list-style-type:decimal;
}
ul.list-square li ul.list-notice01 li {
list-style-type:none;
margin-left:0;
}

/* Decimal */
ol.list-decimal {
margin:0 0 0 10px;
padding:0;
}
*html ol.list-decimal {
margin:0 0 0 10px;
}
/* IE7 */
*:first-child+html ol.list-decimal{
margin:0 0 0 12px;
}
*:first-child+html #contact ol.list-decimal{
margin:0 0 0 25px;
}

ol.list-decimal li {
margin-left:15px;
list-style-type:decimal;
margin-bottom: 0.2em;
}
ol.list-decimal ul,
ol.list-decimal ol {
margin-bottom:0;
}
ol.list-decimal li ol li {
list-style-type:none;
margin-left:0;
}
ol.list-decimal ul.list-disc li {
list-style-type:disc;
}
ol.list-decimal ul.list-notice01{
margin-left:0.2em;
}
ol.list-decimal ul.list-notice01 li {
list-style-type:none;
}


ol.list-decimal ol.list-num01 li,
ol.list-decimal ul.list-num01 li {
margin-left:25px;
list-style-type:none;
}
*html ol.list-decimal ol.list-num01 li a.defaultLink,
*html ol.list-decimal ol.list-num li a.defaultLink,
*html ol.list-decimal ul.list-num li a.defaultLink {
text-indent:0;
}
*:first-child+html ol.list-decimal ol.list-num01 li a.defaultLink,
*:first-child+html ol.list-decimal ol.list-num li a.defaultLink,
*:first-child+html ol.list-decimal ul.list-num li a.defaultLink {
text-indent:0;
}
ol.list-decimal ol.list-num01 li table,
ol.list-decimal ol.list-num li table,
ol.list-decimal ul.list-num li table{
text-indent:0;
}
ol.list-decimal ol.list-num01 li ul.list-disc li ,
ol.list-decimal ol.list-num li ul.list-disc li ,
ol.list-decimal ul.list-num li ul.list-disc li {
list-style-type:disc;
}
ol.list-decimal li ol.list-alpha01 li,
ol.list-decimal li ul.list-alpha01 li {
margin-left:1.5em;
list-style-type:lower-alpha;
}


/* Alphabet */
ol.list-alpha01 {
margin:0 0 0 5px;
}
ol.list-alpha01 li {
margin-left:15px;
list-style-type:lower-alpha;
margin-bottom: 0.2em;
}
ol.list-alpha01 ul,
ol.list-alpha01 ol {
margin-bottom:0;
}
ol.list-alpha01 li li {
margin-left:20px;
}
ol.list-alpha01 ul.list-disc li {
list-style-type:disc;
}
ol.list-alpha01 ul.list-decimal li {
list-style-type:decimal;
}

ol.list-alpha02 {
margin:0 0 0 5px;
}
ol.list-alpha02 li {
margin-left:15px;
list-style-type:upper-alpha;
margin-bottom: 0.2em;
}
ol.list-alpha02 ul,
ol.list-alpha02 ol {
margin-bottom:0;
}
ol.list-alpha02 li li {
margin-left:20px;
}
ol.list-alpha02 ul.list-disc li {
list-style-type:disc;
}
ol.list-alpha02 ul.list-decimal li {
list-style-type:decimal;
}
ol.list-alpha02 ul.list-square li {
list-style-type:square;
}



/* Number */
ul.list-num,
ul.list-num01,
ol.list-num01{ 
margin-left:2em;
}
ol.list-num02{
margin-left:2.8em;
}


ul.list-num li,
ul.list-num01 li,
ol.list-num01 li {
position: relative;
list-style: none;
margin-bottom: 0.2em;
}
ol.list-num02{
position: relative;
list-style: none;
margin-bottom: 0.2em;
}

ul.list-num li span,
ul.list-num01 li span,
ol.list-num01 li span {
position: absolute;
top: 0.05em;
left: -2em;
}
ol.list-num02 li span {
position: absolute;
top: 0.05em;
left: -2.8em;
}
* html ul.list-num li span { top: -0.1em; } /* for win ie6 */
* html ul.list-num01 li span { top: -0.1em; } /* for win ie6 */
* html ol.list-num01 li span { top: -0.1em; } /* for win ie6 */

*:first-child+html ul.list-num li span { top: -0.1em; } /* for win ie7 */
*:first-child+html ul.list-num01 li span { top: -0.1em; } /* for win ie7 */
*:first-child+html ol.list-num01 li span { top: -0.1em; } /* for win ie7 */

ol.list-num01 ul.list-disc li {
list-style-type:disc;
}
ol.list-num01 ol.list-decimal li {
list-style-type:decimal;
}
ul.list-num01 li em,
ol.list-num01 li em{
font-size:120%;
color:#008576;
font-weight:bold;
margin-bottom:5px;
}

ul.list-num01 li em span,
ol.list-num01 li em span{
margin-left:0.2em;
}
/*
ul.list-num01 li ul.list-notice01 li {
text-indent:-1em !important;
margin-left:1em !important;
}
ul.list-num01 li ul.list-disc li,
ul.list-num01 li ol.list-decimal li {
text-indent:0em !important;
margin-left:1em !important;
}*/

/* Notice */
ul.list-notice01{
margin-left:1em;
}
ul.list-notice01 li{
position: relative;
list-style: none;
margin-bottom: 0.2em;
}
ul.list-notice01 li span{
position: absolute;
top: 0;
left:-1em;
}
* html ul.list-notice01 li span { top: -0.1em; } /* for win ie6 */
*:first-child+html ul.list-notice01 li span { top: -0.1em; } /* for win ie7 */

ul.list-notice01 li ul.list-disc li {
list-style-type:disc;
}
span.reset{
position:static!important;
}

/* Notice02 */
ul.list-notice02{
margin-left:1.5em;
}
ul.list-notice02 li{
position: relative;
list-style: none;
margin-bottom: 0.2em;
}
ul.list-notice02 li span{
position: absolute;
top: 0;
left:-1.5em;
}
* html ul.list-notice02 li span { top: -0.1em; } /* for win ie6 */
*:first-child+html ul.list-notice02 li span { top: -0.1em; } /* for win ie7 */

ul.list-notice02 li ul.list-disc li {
list-style-type:disc;
}

/* Notice03 */
ul.list-notice03 {
margin-top:10px;
margin-left:1.5em;
}
ul.list-notice03 li {
position: relative;
list-style: none;
margin-bottom: 0.2em;
}
ul.list-notice03 li span {
position: absolute;
top: 0;
left:-1.5em;
}
* html ul.list-notice03 li span { top: -0.1em; } /* for win ie6 */
*:first-child+html ul.list-notice03 li span { top: -0.1em; } /* for win ie7 */

/*==========================================

table

==========================================*/

/* Common
----------------------------------*/
table {
width:100%;
border-collapse:collapse;	
border-spacing:0;
font-size:100%;
}

td {
text-align:left;
background:#FFFFFF;
}

/* tableStyle01
----------------------------------*/
.tableStyle01 {
border:solid 1px #d3cec2;
}

.tableStyle01 td.bk-all,
.tableStyle01 th.bk-all,
.bk-all th,
.bk-all td{
padding:9px 5px!important;
word-break:break-all;
}

.tableStyle01 th {
text-align:left;
font-weight:bold;
color:#666666;
background:#e9e6e0;
}

.tableStyle01 td,.tableStyle01 th {
padding:9px 12px;
border:solid 1px #d3cec2;
vertical-align:middle;
}

table tr.textAC th,
table tr.textAC td {
text-align:center;
}
table tr.verticalAM th,
table tr.verticalAM td {
vertical-align:middle;
}

tr.sub01 th,
tr.sub01 td{
background-color:#F2F1EE;
}

table.th-alignR th,
table.td-alignR td{
text-align:right;	
}


/*------------------------------------------
Important Area
------------------------------------------*/
/* Red Border Box */
/*#importantArea {
width:714px;
margin: 20px 0 0 4px;
text-align:left;
font-size:110%;
background:url(../image/important_repeat.gif) repeat-y left top;
}
#importantArea .importantTop {
padding-top:10px;
background:url(../image/important_top.gif) no-repeat left top;
}
#importantArea .importantBtm {
padding:0px 20px 10px;
background:url(../image/important_bottom.gif) no-repeat left bottom;
}

#importantArea .importantBtm dl,
#importantArea02 .importantBtm dl{
clear:both;
zoom:1;
}
#importantArea .importantBtm dl dt,
#importantArea02 .importantBtm dl dt{
width:8.3em;
margin:0;
float:left;
clear:left;
}
#importantArea .importantBtm dl dd,
#importantArea02 .importantBtm dl dd{
margin-left: 8.3em;
}
*/
/* Green Border Box */
/*#importantArea02 {
width:714px;
margin: 20px 0 0 4px;
text-align:left;
font-size:110%;
background:url(../image/important_repeat_g.gif) repeat-y left top;
}
#importantArea02 .importantTop {
padding-top:10px;
background:url(../image/important_top_g.gif) no-repeat left top;
}
#importantArea02 .importantBtm {
padding:0px 20px 10px;
background:url(../image/important_bottom_g.gif) no-repeat left bottom;
}*/

/* --------------------------------------------------
 General-Purpose Elements
-------------------------------------------------- */
/* First-item
----------------------------------*/
.first-item {
margin-top:0 !important;
}

/* Elements Margin Top
----------------------------------*/
.elm-s{
margin-top:5px;
}
.elm-m{
margin-top:10px;
}
.elm-l{
margin-top:15px;
}
.elm-xl{
margin-top:20px;
}

/* Font color
----------------------------------*/
.fc-def{
color:#333;
}
.fc-red{
color:#ff0000;
}
.fc-gray{
color:#666;
}
.fc-green{
color: #008576;
}
.fc-blue{
color: #0000ff;
}
.fc-orange{
color:#cc6600;
}

/* Text Style
------------------------------------------*/
.txtStyle01{
font-size:120%;
color:#008576;
font-weight:bold;
margin-bottom:5px;
}

li.txtStyle01 p{
font-size:82%;
color:#333;
font-weight:normal;
margin-bottom:0;
}


/*.attnTxt{
color:#555;
font-size:95%;
}*/

/* Font style
----------------------------------*/
em{
font-weight: bold;
font-style: normal;
}

/* Border style
----------------------------------*/
.bd-red {
border: 1px solid #CC0000;
padding: 4px;
}
.bd-red02 {
border: 2px solid #CC0000;
padding: 4px;
}
.bd-black {
border: 1px solid #000;
padding: 4px;
}

.bd-gray {
border:1px solid #D3CEC2;
padding: 4px;
}
/* font size
------------------------------------------*/
.fontSS{
font-size:75% !important;
line-height:1.45;
}
.fontS{
font-size:90% !important;
line-height:1.45;
}
.fontM{
font-size:100% !important;
line-height:1.45;
}
.fontML{
font-size:120% !important;
line-height:1.45;
}
.fontL{
font-size:135% !important;
line-height:1.45;
}

.zeroLine{
line-height:0!important;	
}

/* Font Weight
------------------------------------------*/
.bold {
font-weight:bold;
}
.oblique {
font-style:oblique;
}
.fontwNormal,span.normal{
font-weight:normal !important;
}

/* text-align
------------------------------------------*/
.alignR{
text-align:right !important;
}
.alignC{
text-align:center !important;
}
.alignL{
text-align:left !important;
}
.alignVM{
vertical-align:middle !important;
}
.alignVT{
vertical-align:top !important;
}
.alignVB{
vertical-align:bottom !important;
}

/* display
------------------------------------------*/
.displayNone{
display:none !important;
}
.displayBlock{
display:block !important;
}
.relative{
position:relative;
}

/* Background
------------------------------------------*/
.noBg{
background:none !important;
}
.noCursol{
cursor:default !important;
}

/* Boader
------------------------------------------*/
.noBoader{
border:none !important;
}

/* float
------------------------------------------*/
.floatL{
float:left !important;
}
.floatR{
float:right !important;
}
.floatN{
float:none !important;
}
.clear{
clear: both  !important;
}
.leftImage{
margin: 0 18px 5px 0;
float: left;
}
.rightImage{
margin: 0 0 5px 18px;
float: right;
}

/* clearfix
------------------------------------------*/
.clearFix:after {
content: ".";
display: block;
clear: both;
height: 0;
visibility: hidden;
}
.clearFix { display: inline-block;}
/* exlude MacIE5 \*/
* html .clearFix { height: 1%; _height: 0; }
.clearFix {display:block;}
/* end MacIE5 */


/* padding
------------------------------------------*/
.pl5 {padding-left:5px !important;}
.pl10 {padding-left:10px !important;}
.pl15 {padding-left:15px !important;}
.pl20 {padding-left:20px !important;}
.pl25 {padding-left:25px !important;}
.pl30 {padding-left:30px !important;}
.pl35 {padding-left:35px !important;}
.pl40 {padding-left:40px !important;}
.pl45 {padding-left:45px !important;}
.pl50 {padding-left:50px !important;}
.pl90 {padding-left:90px !important;}
.pl100{padding-left:100px !important;}
.pl140{padding-left:140px !important;}
.pl200{padding-left:200px !important;}

.pr5 {padding-right:5px !important;}
.pr10 {padding-right:10px !important;}
.pr15 {padding-right:15px !important;}
.pr20 {padding-right:20px !important;}
.pr25 {padding-right:25px !important;}
.pr30 {padding-right:30px !important;}
.pr35 {padding-right:35px !important;}
.pr40 {padding-right:40px !important;}
.pr45 {padding-right:45px !important;}
.pr50 {padding-right:50px !important;}

.pt0 {padding-top:0px !important;}
.pt5 {padding-top:5px !important;}
.pt10 {padding-top:10px !important;}
.pt15 {padding-top:15px !important;}
.pt20 {padding-top:20px !important;}
.pt25 {padding-top:25px !important;}
.pt30 {padding-top:30px !important;}
.pt35 {padding-top:35px !important;}
.pt40 {padding-top:40px !important;}
.pt45 {padding-top:45px !important;}
.pt50 {padding-top:50px !important;}
.pt60 {padding-top:60px !important;}
.pt70 {padding-top:70px !important;}
.pt80 {padding-top:80px !important;}
.pt90 {padding-top:90px !important;}

.pb0 {padding-bottom:0px !important;}
.pb5 {padding-bottom:5px !important;}
.pb10 {padding-bottom:10px !important;}
.pb15 {padding-bottom:15px !important;}
.pb20 {padding-bottom:20px !important;}
.pb25 {padding-bottom:25px !important;}
.pb30 {padding-bottom:30px !important;}
.pb35 {padding-bottom:35px !important;}
.pb40 {padding-bottom:40px !important;}
.pb45 {padding-bottom:45px !important;}
.pb50 {padding-bottom:50px !important;}
.pb60 {padding-bottom:60px !important;}
.pb70 {padding-bottom:70px !important;}
.pb80 {padding-bottom:80px !important;}
.pb90 {padding-bottom:90px !important;}

.p5 {padding:5px !important;}
.p10 {padding:10px !important;}
.p15 {padding:15px !important;}
.p20 {padding:20px !important;}
.p25 {padding:25px !important;}
.p30 {padding:30px !important;}

.pl1em{padding-left:1em !important;}
.pl1h{padding-left:1.2em !important;}
.pl2em{padding-left:2em !important;}
.pl3em{padding-left:3em !important;}
.pl4em{padding-left:4em !important;}
.pl8em{padding-left:8em !important;}


/* margin
------------------------------------------*/
.ml0 {margin-left:0px !important;}
.ml5 {margin-left:5px !important;}
.ml10 {margin-left:10px !important;}
.ml15 {margin-left:15px !important;}
.ml20 {margin-left:20px !important;}
.ml25 {margin-left:25px !important;}
.ml30 {margin-left:30px !important;}
.ml35 {margin-left:35px !important;}
.ml40 {margin-left:40px !important;}
.ml45 {margin-left:45px !important;}
.ml50 {margin-left:50px !important;}
.ml55 {margin-left:55px !important;}
.ml60 {margin-left:60px !important;}


.mr0 {margin-right:0px !important;}
.mr5 {margin-right:5px !important;}
.mr10 {margin-right:10px !important;}
.mr15 {margin-right:15px !important;}
.mr20 {margin-right:20px !important;}
.mr25 {margin-right:25px !important;}
.mr30 {margin-right:30px !important;}
.mr35 {margin-right:35px !important;}
.mr40 {margin-right:40px !important;}
.mr45 {margin-right:45px !important;}
.mr50 {margin-right:50px !important;}
.mr110 {margin-right:110px !important;}

.mt0 {margin-top:0px !important;}
.mt5 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt25 {margin-top:25px !important;}
.mt30 {margin-top:30px !important;}
.mt35 {margin-top:35px !important;}
.mt40 {margin-top:40px !important;}
.mt45 {margin-top:45px !important;}
.mt50 {margin-top:50px !important;}

.mb0 {margin-bottom:0px !important;}
.mb3 {margin-bottom:3px !important;}
.mb5 {margin-bottom:5px !important;}
.mb10 {margin-bottom:10px !important;}
.mb15 {margin-bottom:15px !important;}
.mb20 {margin-bottom:20px !important;}
.mb25 {margin-bottom:25px !important;}
.mb30 {margin-bottom:30px !important;}
.mb35 {margin-bottom:35px !important;}
.mb40 {margin-bottom:40px !important;}
.mb45 {margin-bottom:45px !important;}
.mb50 {margin-bottom:50px !important;}

.mg5 {margin:5px !important;}
.mg10 {margin:10px !important;}
.mg15 {margin:15px !important;}
.mg20 {margin:20px !important;}
.mg25 {margin:25px !important;}
.mg30 {margin:30px !important;}
.mg35 {margin:35px !important;}
.mg40 {margin:40px !important;}
.mg45 {margin:45px !important;}
.mg50 {margin:50px !important;}

.pd5 {padding:5px !important;}
.pd10 {padding:10px !important;}
.pd15 {padding:15px !important;}
.pd20 {padding:20px !important;}
.pd25 {padding:25px !important;}
.pd30 {padding:30px !important;}
.pd35 {padding:35px !important;}
.pd40 {padding:40px !important;}
.pd45 {padding:45px !important;}
.pd50 {padding:50px !important;}

.ma0 {margin:0 !important;}
.pd0 {padding:0 !important;}
.mAuto{ margin:0 auto; !important}


/* width
------------------------------------------*/
.wid10{ width:10px; }
.wid20{ width:20px; }
.wid30{ width:30px; }
.wid40{ width:40px; }
.wid50{ width:50px; }
.wid60{ width:60px; }
.wid70{ width:70px; }
.wid80{ width:80px; }
.wid90{ width:90px; }

.wid100{ width:100px; }
.wid110{ width:110px; }
.wid120{ width:120px; }
.wid130{ width:130px; }
.wid140{ width:140px; }
.wid150{ width:150px; }
.wid155{ width:155px; }
.wid160{ width:160px; }
.wid170{ width:170px; }
.wid180{ width:180px; }
.wid190{ width:190px; }

.wid200{ width:200px; }
.wid210{ width:210px; }
.wid220{ width:220px; }
.wid230{ width:230px; }
.wid240{ width:240px; }
.wid250{ width:250px; }
.wid260{ width:260px; }
.wid270{ width:270px; }
.wid280{ width:280px; }
.wid290{ width:290px; }

.wid300{ width:300px; }
.wid310{ width:310px; }
.wid320{ width:320px; }
.wid330{ width:330px; }
.wid335{ width:335px; }
.wid340{ width:340px; }
.wid350{ width:350px; }
.wid360{ width:360px; }
.wid370{ width:370px; }
.wid380{ width:380px; }
.wid390{ width:390px; }

.wid400{ width:400px; }
.wid410{ width:410px; }
.wid420{ width:420px; }
.wid430{ width:430px; }
.wid440{ width:440px; }
.wid450{ width:450px; }
.wid460{ width:460px; }
.wid470{ width:470px; }
.wid480{ width:480px; }
.wid490{ width:490px; }

.wid500{ width:500px; }
.wid510{ width:510px; }
.wid520{ width:520px; }
.wid530{ width:530px; }
.wid540{ width:540px; }
.wid550{ width:550px; }
.wid560{ width:560px; }
.wid570{ width:570px; }
.wid580{ width:580px; }
.wid590{ width:590px; }

.wid600{ width:600px; }
.wid770{ width:770px; }
.wid830{ width:830px; }
