/*==========================================

Footer

==========================================*/
#footImg{
background:url(../image/footer_img_01.png) repeat-x top;
padding-top:122px;
min-width: 980px;
}

#footer{
height:80px;
margin:0;
min-width: 958px;
line-height:1.4;
background-color:#666666;
}

* html #footerIn{
min-width: 958px;
width: auto !important;
width: 958px;
}

#footerIn{
padding:20px 0 0 0;
margin:0 auto;
text-align:left;
}
#footerIn {
width:958px;
clear:both;
}

#footerIn .footerNavi{
width:400px;
float:left;
zoom:normal;
}

#footerIn .footerNavi li{
float:left;
margin:0;
padding:0px 0 0 10px;
background:url(../image/footer_icon_01.gif) no-repeat left center;
font-size:86.66%;
line-height:1.3;
white-space:pre;
}

#footerIn .footerNavi li a{
color:#FFF;
}

#footerIn .copyright{
float:right;
top:20px;
right:0;
color:#FFF;
font-size:0.86em;
letter-spacing:0.08em;
width:550px;
text-align:right;
}