/*==========================================

Footer Type Simple

==========================================*/
#footer{
height:80px;
margin:45px 0 0 0;
min-width: 958px;
background-color:#666666;
}
#footer #footerIn{
padding:20px 0 0 0;
margin:0 auto;
text-align:left;
width:958px;
}
*html #footer #footerIn{
min-width: 958px;
width: auto;
width: 958px;
}

#footerIn .footerNavi{
width:550px;
float:left;
}

#footerIn .footerNavi li{
float:left;
margin:0 ;
padding:0 0 0 10px;
background:url(../image/footer_icon_01.gif) no-repeat left center;
font-size:86.66%;
}

#footerIn .footerNavi li a{
color:#FFF;
}

#footerIn .copyright{
float:right;
top:20px;
right:0;
color:#FFF;
font-size:0.86em;
letter-spacing:0.08em;
width:400px;
text-align:right;
}