/*==========================================

Header Type Popup

==========================================*/
#header{
height:63px;
background:url(../image/header_bg_popup.gif) repeat-x left top;
}

#headerIn{
width:958px;
padding:0;
margin:0 auto;
text-align:left;
}

#headerIn .logo{
padding:23px 0 0 10px;
}
/*
#headerIn p.home{
top:31px;
left:140px;
}
*/