/*==========================================

IE6

==========================================*/
#container {
background-image:none!important;
background-color:#fff!important;
}

#footImg{
background:url(../image/footer_img_01.gif) repeat-x top;
}
/*
#main .sectionNavi {
background:url(../image/bg_main_md.gif) repeat-y left top;
}
*/

/* H1,H2,H3,H4,H5 style
------------------------------------------*/
/* TypeA*/
.typeA{
background:url(../image/temp_box02_bgH.gif) no-repeat left top;
}
.ContentsArea .faqTitle{
background:url(../image/temp_box02_bgH.gif) no-repeat left top;
}

/* TypeA*/
.solutionArea .typeA{
background:url(../image/temp_box02_bg02H.gif) no-repeat left top;
}

.typeE{
background:url(../image/temp_box02_bg03H.gif) no-repeat top left!important;
}




/* Aside
------------------------------------------*/

#asideArea .lNavTgBoxT{
background:url(../image/aside_bg_lNavTgBoxT.gif) no-repeat top left;
}
#asideArea .lNavTgBoxM{
background:url(../image/aside_bg_lNavTgBoxM.gif) repeat-y;
}
#asideArea .lNavTgBoxB{
background:url(../image/aside_bg_lNavTgBoxB.gif) no-repeat bottom left;
}

#asideArea .asideBox .searchTop{
background:url(../image/aside_bg_T.gif) left top no-repeat;
}
#asideArea .asideBox .searchBtm{
background:url(../image/aside_bg_B.gif) left bottom no-repeat;
}
#asideArea .asideBox .searchInner{
background:url(../image/aside_bg_M.gif) left top repeat-y;
}

/*------------------------------------------
@ Contents Area
------------------------------------------*/
/* Popup 
------------------------------------------*/
#container1column .typeA{
background:url(../image/temp_box01_bgH.gif) no-repeat left top;
}

#container1column #mainArea .ContentsTop{
background:url(../image/temp_box01_bgT.gif) no-repeat top left;
}

#container1column #mainArea .ContentsBtm {
background:url(../image/temp_box01_bgB.gif) no-repeat left bottom;
}

#container1column #mainArea .ContentsArea .ContentsInner {
background:url(../image/temp_box01_bgM.gif) repeat-y scroll left top transparent;
}

/* 1column 
------------------------------------------*/
#mainArea .ContentsArea .ContentsTop{
background:url(../image/temp_box02_bgT.gif) no-repeat top left;
}

#mainArea .ContentsArea .ContentsBtm {
background:url(../image/temp_box02_bgB.gif) no-repeat left bottom;
}

#mainArea .ContentsArea .ContentsInner {
background:url(../image/temp_box02_bgM.gif) repeat-y scroll left top transparent;
}

/* 2column 
------------------------------------------*/
#mainArea .ContentsArea-2col .ContentsBtm {
background:url(../image/temp_box03_bgB.gif) no-repeat left bottom;
}
#mainArea .ContentsArea-2col .ContentsInner {
background:url(../image/temp_box03_bgM.gif) repeat-y left top;
}

#mainArea .ContentsArea-2col h2{
background:url(../image/temp_box03_bgH.gif) no-repeat left top;
}

/* 4column 
------------------------------------------*/
#mainArea .ContentsArea-4col .ContentsBtm {
background:url(../image/temp_box10_bgB.gif) no-repeat left bottom;
}
#mainArea .ContentsArea-4col .ContentsInner {
background:url(../image/temp_box10_bgM.gif) repeat-y left top;
}

#mainArea .ContentsArea-4col h2{
background:url(../image/temp_box10_bgH.gif) no-repeat left top;
}



/* tab 
------------------------------------------*/
.tabArea .tabBtm {
background:url(../image/temp_box02_bgB.gif) no-repeat left bottom;
}
.tabArea .tabInner,
.tabArea .tabInner02 {
background:url(../image/temp_box02_bgM.gif) repeat-y left top;
zoom:1;
}
.tabArea ul.tabHead li{
background: url(../image/temp_tab01_bg.gif) no-repeat left top;
}
.tabArea ul.tabHead li.tabCurrent,
.tabArea ul.tabHead2col li.tabCurrent{
background: url(../image/temp_tab01_bg.gif) no-repeat right top;
}
.tabArea ul.tabHead,
.tabArea ul.tabHead2col,
.tabArea ul.tabHead3col,
.tabArea ul.tabHead4col{
background: url(../image/temp_tab_bgLine.gif) no-repeat left bottom !important;
}

.tabArea ul.type01 li a{
background-image:url(../image/temp_tab03_bg.gif) !important;
}
.tabArea ul.type01 li a:hover{
background-image:url(../image/temp_tab03_bg.gif) !important;
}
.tabArea ul.type01 li.tabAct{
background-image:url(../image/temp_tab03_bg.gif) !important;
}

.tabArea ul.type02 li a{
background-image:url(../image/temp_tab04_bg.gif) !important;
}
.tabArea ul.type02 li a:hover{
background-image:url(../image/temp_tab04_bg.gif) !important;
}
.tabArea ul.type02 li.tabAct{
background-image:url(../image/temp_tab04_bg.gif) !important;
}

.tabArea ul.type03 li a{
background-image:url(../image/temp_tab01_bg.gif) !important;
}
.tabArea ul.type03 li a:hover{
background-image:url(../image/temp_tab01_bg.gif) !important;
}
.tabArea ul.type03 li.tabAct{
background-image:url(../image/temp_tab01_bg.gif) !important;
}


/* serviceType
-------------------------------------------------- */
#mainArea .ContentsLeft h2{
background:url(../image/temp_box04_bgH.gif) no-repeat left top !important;
}
#mainArea .ContentsLeft .ContentsBtm {
background:url(../image/temp_box04_bgB.gif) no-repeat left bottom !important;
}
#mainArea .ContentsLeft .ContentsInner {
background:url(../image/temp_box04_bgM.gif) repeat-y left top !important;
}
#mainArea .ContentsRight h2{
background:url(../image/temp_box05_bgH.gif) no-repeat left top !important;
}
#mainArea .ContentsRight .ContentsBtm {
background:url(../image/temp_box05_bgB.gif) no-repeat left bottom !important;
}
#mainArea .ContentsRight .ContentsInner {
background:url(../image/temp_box05_bgM.gif) repeat-y left top !important;
}

#mainArea .ContentsArea .faqTitle{
background:url(../image/temp_box02_bgH.gif) no-repeat left top;
}