/*==========================================

print

==========================================*/

* html body{
zoom:80%;
}
* html body#top{
zoom:67% !important;
}

#asideArea,
#globalNav,
#headerIn .home,
#headerIn .reader,
#headerNavi,
#lowerNav,
#fontSize,
.searchSiteBox,
.footerNavi,
.breadcrumb,
.pageTop,
.mapPrint{
display:none !important;
}

#header{
background:none;
}
#footer{
background-color:#fff;
}

#footImg{
padding-top:0;
background:none;
}
#footerIn .copyright{
color:#000000;
text-align:left;
float:none;
}

body#top #asideArea{ display: block !important;}
/*body#top .topCon2colutBox{ _position:relative;}
body#top .topLeftSectionCont{ _position:absolute; _top:0; _left:0;}
body#top .topRightSectionCont{ _position:absolute; _top:0; _left:530px;}
body#top .list1,body#top{ _position:absolute; _bottom:10px; _right:20px;}*/

body {
background: none !important;
overflow: visible !important;
}

#container,
#contentsWrapper{
background: none !important;
overflow: visible !important;
}

#mainArea{
float:none;
}


.ContentsArea .ContentsInner,
.ContentsArea .ContentsArea-2col .ContentsInner,
.ContentsArea .secCont4clm .sectionCont .inner {
overflow: visible !important;
}

.noP{
display:none;
}

/*----*/
* html #main .ContentsArea .articleTypeA{
border-top:#FDD000 solid 3px;
width:690px;
margin-left:3px;
padding:10px 10px 5px;
}

table.serviceType{
border:none;
}
table.serviceType td{
border:2px #333 solid;
}
table.serviceType td.active{
border:none;
}


.tabArea{
margin:0px;
padding:0;
clear:all;
zoom:1;
}

#mainArea .ContentsLeft h2{
zoom:1;
}
#mainArea .ContentsRight h2{
zoom:1;
}

#mainArea .ContentsLeft .ContentsInner,
#mainArea .ContentsLeft .ContentsArea,
#mainArea .ContentsRight .ContentsInner,
#mainArea .ContentsRight .ContentsArea{
background:none;
}
