@charset "UTF-8";

#vision_global h2 {
	margin-top: 3.5em;
}
.contents p + h3 {
	margin-top: 2.5em;
	margin-bottom: 1.5em;
}
.contents img + img {
	margin-top: 2em;
}
.contents .bg_gray {
	margin-top: 3.5em;
}
.contents .sp {
	display: none ;
}
.contents .pc {
	display: inherit;
}


/* --- smartphone
----------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 640px) {
	.contents .pc {
		display: none;
	}
	.contents .sp {
		display: inherit;
	}
	.contents .sp img{
		width: 100%;
		height: auto;
	}
  .fst_box .img_list li:first-child {
    width: 100%;
  }
  .fst_box .img_list li:nth-child(2) {
    width: 60%;
  }
  .fst_box .img_list li:nth-child(3) {
    width: 34%;
  }
  .flt_rgt{
	 overflow: hidden;
	 border-top: 1px solid #fff;
	 margin-top: 10px;
	 padding-top: 10px;
  }
  .flt_rgt img {
    float: left;
	width: 48%;
	height: auto;
  }
  .flt_rgt .position,
  .flt_rgt .name{
	  width: 48%;
	  margin-left: auto;
}
.rgt{
	text-align: left !important;
}
body#value .bdr_gray .box_gray{
	padding: 1.2em;
}

body#value p.column {
  padding: 1.2em;
}
}
