/*==========================================

banner

==========================================*/
.bannerImg {
margin-top:10px;
margin-bottom:10px !important;
display:inline-block;
}
.bannerImg dt {
float:left;
margin-right:15px;
}
.bannerImg dd {
float:left;
}
.bannerS {
border:1px solid #ccc;
padding:5px 0 5px 5px;
}

.btSubmitContainer {
width:834px;
background:url(../../common/image/shared/parts/bg_next_back.gif) no-repeat left top;
height:47px;
padding:18px 0 0 0;
text-align:center;
margin:40px auto 5px;
}
.btSubmitContainer .whiteBtn {
background-color:#FFFFFF;
font-weight:bold;
padding:4px 12px;
font-size:14px;
color:#4D4D4D;
}

.btSubmitContainer .greenBtn {
background-color:#008576; 
font-weight:bold; 
padding:4px 12px; 
font-size:14px; 
color:#FFFFFF;
}