@charset "shift_jis";
/* CSS Document */

/*バナーダウンロードページ*/

.bannerImg {
	margin-top:10px;
	margin-bottom:10px !important;
	display:inline-block;
}
.bannerImg dt {
	float:left;
	margin-right:15px;
}
.bannerImg dd {
	float:left;
}
.bannerS {
	border:1px solid #ccc;
	padding:5px 0 5px 5px;
}
